@keyframes fade-in
    0%
        opacity: 0
        transform: translateY(-10px)
    100%
        opacity: 1
        transform: translateY(0px)
        
.clearfix
    &:before
        content: ""
        display: table
    &:after
        content: ""
        display: table
        clear: both
    zoom: 1