[class^="icon-"], [class*=" icon-"] 
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    font-size: 20px

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &.i-64
        font-size: 64px
    &.i-54
        font-size: 54px
    &.i-48
        font-size: 48px
    &.i-36
        font-size: 36px
    &.i-32
        font-size: 32px
    &.i-28
        font-size: 28px
    &.i-24
        font-size: 24px
    &.i-20
        font-size: 20px
    &.i-16
        font-size: 16px
    &.i-14
        font-size: 14px
    &.i-12
        font-size: 12px

  

.icon-menu:before
    content: "\e91e"

.icon-call:before
    content: "\e91c"

.icon-location:before
    content: "\e91b"

.icon-mail:before
    content: "\e905"

.icon-refresh:before
    content: "\e938"

.icon-print:before
    content: "\e936"

.icon-airplane:before
    content: "\e931"

.icon-bike:before
    content: "\e930"

.icon-car:before
    content: "\e92f"

.icon-mobile:before
    content: "\e92e"

.icon-pet:before
    content: "\e92d"

.icon-accident:before
    content: "\e900"

.icon-add:before
    content: "\e901"

.icon-alert:before
    content: "\e902"

.icon-arrow-down:before
    content: "\e903"

.icon-arrow-left:before
    content: "\e928"

.icon-arrow-right:before
    content: "\e929"

.icon-arrow-up:before
    content: "\e92a"

.icon-calendar:before
    content: "\e904"

.icon-check:before
    content: "\e907"

.icon-check-handwrite:before
    content: "\e906"

.icon-chevron-down:before
    content: "\e908"

.icon-chevron-up:before
    content: "\e90b"

.icon-close:before
    content: "\e90c"

.icon-download:before
    content: "\e90d"

.icon-dream:before
    content: "\e90e"

.icon-eye:before
    content: "\e910"

.icon-eye-close:before
    content: "\e90f"

.icon-factory:before
    content: "\e911"

.icon-farmer:before
    content: "\e912"

.icon-fire:before
    content: "\e913"

.icon-graduate:before
    content: "\e914"

.icon-home:before
    content: "\e915"

.icon-info:before
    content: "\e916"

.icon-infosecurity:before
    content: "\e917"

.icon-injury:before
    content: "\e918"

.icon-line:before
    content: "\e919"

.icon-list:before
    content: "\e91a"

.icon-medical:before
    content: "\e91d"

.icon-minus:before
    content: "\e91f"

.icon-mountain:before
    content: "\e920"

.icon-phone:before
    content: "\e921"

.icon-quote:before
    content: "\e922"

.icon-remove:before
    content: "\e923"

.icon-reply:before
    content: "\e924"

.icon-search:before
    content: "\e92b"

.icon-shop:before
    content: "\e92c"

.icon-typhoon:before
    content: "\e925"

.icon-waffle:before
    content: "\e926"

.icon-work:before
    content: "\e927"

.icon-refund:before
    content: "\e932"

.icon-qa:before
    content: "\e933"

.icon-payment:before
    content: "\e934"

.icon-keep:before
    content: "\e935"

.icon-location-b:before
    content: "\e937"

.icon-chevron-right:before
    content: "\e909"

.icon-chevron-left:before
    content: "\e90a"

.icon-index-work:before
    content: "\e939"

.icon-index-typhoon:before
    content: "\e93a"

.icon-index-shop:before
    content: "\e93b"

.icon-index-lifestage:before
    content: "\e93c"

.icon-index-injury:before
    content: "\e93d"

.icon-index-infosecurity:before
    content: "\e93e"

.icon-index-home:before
    content: "\e93f"

.icon-index-health:before
    content: "\e940"

.icon-index-fire:before
    content: "\e941"

.icon-index-farmer:before
    content: "\e942"

.icon-index-climb:before
    content: "\e943"

.icon-index-accident:before
    content: "\e944"

.icon-ins-pet:before
    content: "\e945"

.icon-ins-mobile:before
    content: "\e946"

.icon-ins-house:before
    content: "\e947"

.icon-ins-health:before
    content: "\e948"

.icon-ins-car:before
    content: "\e949"

.icon-ins-bike:before
    content: "\e94a"

.icon-ins-airplane:before
    content: "\e94b"

.icon-member-hurt:before
    content: "\e94c"

.icon-member-house:before
    content: "\e94d"

.icon-member-flight:before
    content: "\e94e"

.icon-member-car:before
    content: "\e94f"

.icon-member-list:before
    content: "\e950"

