/****** PLACE YOUR CUSTOM STYLES HERE ******/
@import url(notosanstc.css);

/** Header Service **/
.service {
    height: auto;
}
.service i {
    color: #fff;
}
.service .sub {
    color: #fff;
}
nav.transparent { 
    background: none; 
}
.whitebg{
    background: #fff;
    padding: 30px;
}
/** Title Text **/
.tabtextcolor h6{
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 3px;
    color: #333;
}
.titlestyle {
    letter-spacing: 5px;
    font-size: 24px;
    color: #333;
    width: 180px;
    margin:0px auto;
    font-weight: normal;
}
.line {
    border-bottom: 3px solid #333;
}
.line2 {
    border-bottom: 1px solid #333;
}
.divider {
    margin: 12px 20px;
    border: 1px solid #333;
}
/** Q&A **/
.QA a {
    letter-spacing: 3px;
    color: #333;
}
.QA a:hover {
    color: #f9ad19;
}
.QA h6 {
    font-weight: 400;
    letter-spacing: 3px;
    color: #333;
}
.tabfixed {
    position: relative; 
    top: 30%; 
    left: 5%;
}
.tabbtnactive {
    color: #f9ad19;
    font-size: 13px;
    padding: 0px 50px 16px 50px;
    border-bottom: 1px solid #f9ad19;
    overflow: visible;
    margin-bottom: 24px;
    margin-top: 0;
    letter-spacing: 3px;
}
.tabbtnactive:hover {
    color: #f9ad19;
}
.tabbtn {
    color: #ccc;
    font-size: 14px;
    padding: 0px 50px 16px 50px;
    border-bottom: 1px solid #ccc;
    overflow: visible;
    margin-bottom: 24px;
    margin-top: 0;
    letter-spacing: 3px;
}
.tabbtn:hover {
    color: #333;
}
/** Frameboder **/
.frameboder {
    border: 1px solid #f9ad19;
    padding: 16px;
}
.lrboder {
    border-left: 1px solid #f9ad19;
    border-right: 1px solid #f9ad19;
    padding: 0 16px;
}
.fullboder {
    border: 1px solid #f9ad19;
    padding: 0 16px;
}
.mr8 {
    margin-right: 8px;
}
.ml16 {
    margin-left: 16px;
}
.ml28 {
    margin-left: 28px;
}
.ml56 {
    margin-left: 56px;
}
/** Color **/
.maincolor {
    color: #f9ad19;
}
.checkcolor {
    color: #47b475;
}
.highlight {
    color: #f36b6b;
}
.trip {
    color: #f4d03f;
    border-color: #f4d03f;
}
.car {
    color: #4ecdc4;
    border-color: #4ecdc4;
}
.motor {
    color: #f7fff7;
    border-color: #f7fff7;
}
.fire {
    color: #ff6b6b;
    border-color: #ff6b6b;
}
/** Button-tabs **/
.button-tabs .tab-title > .highlightbg { //待改
    background-color: #f36b6b;
}
/** Lineheight **/
.lineheight48 {
    line-height: 48px;
}
.lineheight135 {
    line-height: 135px;
}
.bgcolor {
    background: #f2f2f2;
    position: relative;
}
.bgtransparent {
    background: rgba(255,255,255,0.7);
}
.btn-disable {
    background: #d9d9d9;
}
/** Table **/
.thead {
    color: #f9ad19;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px 15px;
    border-bottom: 2px solid #ddd;
}
.table-line {
    letter-spacing: 3px;
    margin: 0px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.table-line a:hover {
    text-decoration: underline;
}
/** Credit Card Style **/
.creditcard {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
    margin: 0px auto;
    padding: 30px;
    position: relative;
    z-index: -99;
    clear: left;
}
.creditcard-back {
    height: 300px;
    top: -50px;
    left: 150px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
    position: absolute;
    z-index: 99;
}
.creditcard h6 {
    color: #333;
}
.creditcard-back h6 {
    color: #333;
}
.back {
    width: auto;
    height: 50px;
    background: #000;
}
/**  MemberCenter Messagebox Style **/
.fixed-box {
    width: 180px;
    height: 500px;
    top: 20%;
    right: 0;
    position: fixed;
    z-index: 99;
    background: rgba(255,255,255,0.6);
}
.messagebox-full {
    background: #fff;
    color: #333;
    border: 1px solid #f9ad19;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 24px;
}
.messagebox {
    width: 100%;
    background: #fff;
    color: #333;
    padding: 16px;
    border: 1px solid #f9ad19;
    border-radius: 8px;
    margin-bottom: 24px;
}
.messagetext {
    width: 88%;
}
.messagebtn {
    width: 12%;
    height: 100%;
    top: 0;
    right: 0;
    line-height: 54px;
    background: #E86364;
    color: #fff;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 0px;
    position: absolute;
}
/**  MemberCenter Circle Style **/
#bars {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
}
.bar {
	float: left;
	width: 100%;
	text-align: center;
}
.bar-circle {
	display: block;
	margin: 0 auto;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 99em;
    border-width: 5px;
    border-style: solid;
    margin: 0 auto;
    margin-bottom: 16px;
}
/**  Auto Align **/
.align-center {
    display:block;
    margin:auto; 
}
/** Tooltip **/
.tooltips {
    position: relative;
    display: block;
}
.tooltips .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 12px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -1.5%;
}
.tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltips .tooltip-width {
    width: 70%;
    left: 15%;
}
.tooltips .full-tooltip{
    width: 30%;
    left: 35%;
}
@media all and (max-width: 990px) {
    .tooltips .full-tooltip{
        width: 60%;
        left: 20%;
    }
}
@media all and (max-width: 567px) {
    .tooltips .full-tooltip{
        width: 90%;
        left: 5%;
    }
}
.tooltips:hover .tooltiptext {
    visibility: visible;
}
.i-m {
    margin-left: 16px;
}
.datatitle {
    margin-top: 16px;
    color: #f9ad19;
    background-color: #f2f2f2;
}
/** Float **/
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.layout-top {
    z-index: 999;
}
.img-center {
    display:block;
    margin:auto;
}

/*2016/10/25玟君add*/
.tab-content  h6
{font-weight:bold;}
 
.tab-content  ul
{line-height: 10px;}

.content br{
	display: initial !important;
}

.tab-content.declare-content{
	white-space: pre-wrap;
	padding: 5px 10px;
}
.tab-content.declare-content ul{
	line-height: normal;
}

.ui-datepicker {
width: 20em; /*what ever width you want*/
}

.ui-datepicker select {
  height: 20px;
}
.tab-content td {
padding:10px;
}
 .ol-padding {
    padding-left: 30px;
    padding-bottom: 20px;
}
.image-tile img {
width:263px;
height:150px;


}
@media all and (max-width: 567px) {
.image-tile img {

height:200px;
}
    }
    
@media all and (max-width: 990px) {
.image-tile img {

height:200px;
}
 }
 
#caseRecommendDiv  .col-md-3 { height: 450px;} 

.lineheight-auto {  line-height: inherit !important; }

footer li img {
    width: 40px;
    height: 40px;
}
.otp_button {
	display:inline-block !important; 
	line-height:50px !important; 
	vertical-align:middle !important; 
	padding-bottom: 24px !important;
	}
	
.otpCode_text {
	background:#FFF !important;
	border:1px solid #eee !important;
}