/* ---reset.css--- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---reset.css--- */

html {	
	font-family:'微軟正黑體',sans-serif,Helvetica ;
	-webkit-text-size-adjust:none;
	box-sizing: border-box;
	color:#333333;
}

body{
	
}

a:hover{ opacity:.8;}
/* --電腦版型------------------------------------- */

.WRAPPER{
	width:1096px;
	margin:0 auto;
	position:relative;
	overflow: hidden;
}

#kv{
	width:100%;
	background-color:#004f72;
}
.banner{
	width:1253px;
	height:551px;
	position:relative;
	margin:0 auto;
	background-image: url(../img/kv2.png);
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;}
.seasons-icon{width:284px;position: absolute;z-index: 999;right:2%;bottom:4%;}
.seasons-icon a{display:block;text-align: right;padding-top:1%;margin-right:5%}
.yellowbar{background:#fff100;height:55px;}
.yellowbar-logo{display:block;margin:0 auto;height:44px;text-align: right;padding-top:11px;}
h1{font-size:28px;color:#333333;text-align: center;margin:42px 0;font-weight: bold;}
p{font-size:18px;color:#333333;line-height: 38px;}
.blue{color:#347cb7;text-decoration: underline;}
#about p{padding-bottom:60px;width:1096px;margin:0 auto;}

.small{font-size:14px;}
#risk,#point{background:#f6f6f6;margin:0 auto;text-align: center;}
.riskgroup{width:1000px;clear:both;letter-spacing: normal;overflow: hidden;margin-bottom:42px;margin:0 auto;}
.riskgroup li{display:block;width:25%;min-height:170px;margin:2% 0;line-height:30px;float:left;}
.riskgroup li{display:block;width:25%;min-height:170px;margin:2% 0;line-height:30px;float:left;}
.riskgroup li.II{margin-left:12%;}

.specbg{width:990px;margin:0px auto;background:#f6f6f6;}
#spec{clear:both;margin:0 auto;overflow: hidden;}
#spec ul.A{background:#f6f6f6;line-height: 36px;width:64%;float:left;}
#spec ul.B{background:#f6f6f6;line-height: 36px;width:36%;float:left;}
#spec ul li{margin-left:10%;margin-right:10%;list-style-image: url(../img/check.png);}
#spectable{margin:42px auto;}
#spectable th{background:#6b9ac6;color:#ffffff;text-align: center;line-height: 40px;padding:1% 0;}
#spectable td{padding:1%;vertical-align: middle;border:6px solid #ffffff;}
#spectable tr:nth-child(odd){background:#d2e1ee;}
#spectable tr:nth-child(even){background:#e9f0f7;}

.pointbox{display:block;width:100%;margin-bottom:42px;overflow: hidden;}
.pointbox .A{float:left;width:49%;margin-right:1%;}
.pointbox .B{float:left;width:49%;margin-left:1%;}
.pointbox .A ul{padding:30px 0;background:#ffffff;}
.pointbox .B ul{padding:30px 0;background:#ffffff;}
.pointbox ul li{line-height: 36px;text-align: left; margin-left:30%;list-style-image: url(../img/check-green.png);}
#point h3{display: block; line-height:55px;background:#6fb83f; padding-left:24%;font-size:24px;color:#ffffff;font-weight: bold;vertical-align: middle;text-align: left;}
#point .btn{width:201px;height:56px;display:block;background:url(../img/btn.png) no-repeat;border:none;cursor: pointer;margin:40px auto;}
#point .btn:hover{background:url(../img/btn-hover.png) no-repeat;}

/* --手機版型------------------------------------- */

@media screen and (max-width: 1200px) {
	
	*{
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		letter-spacing: normal;
	}
	
	html,body{
		-webkit-text-size-adjust:none;
		
	}
	h1{padding:5% 8%;display:block;width:82%;height:auto;line-height:1.5em;margin:0 auto;}
	.WRAPPER{
			width:100%;
			min-width: 320px;
	}

	.banner{
	display:block;	
	width:100%;
	height:0;
	min-width: 320px;
	margin:0;
	background-color:#4095d2;
	background-image: url(../img/kv2.png);
	background-position:20% center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom:100%;
	overflow:auto;
	}
.seasons-icon{width:284px;position: absolute;z-index: 999;left:2%;right:0%;bottom:2%;}
.yellowbar{width:100%;background:#fff100;height:55px;}
.yellowbar-logo{display:block;margin:0;height:44px;text-align: right;padding-top:11px;padding-right:2%}

#about p{width:95%;padding:2% 2% 6% 2%;margin:0 auto;}

#risk,#point{width:100%;background:#f6f6f6;text-align: center;margin:0 auto;}
.riskgroup{width:90%;clear:both;letter-spacing: normal;overflow: hidden;margin:0 auto 6% auto;}
.riskgroup li{display:block;width:50%;min-height:inherit;margin:6% auto;line-height:30px;float:left;padding:10px}
.riskgroup li.II{margin-left:0;}

.specbg{width:95%;max-width:990px;margin:0px auto;background:#f6f6f6;}
#spec{clear:both;margin:0 auto;overflow: hidden;}
#spec ul.A{background:#f6f6f6;line-height: 36px;width:98%;float:none;padding:0 0% 0 2%;}
#spec ul.B{background:#f6f6f6;line-height: 36px;width:98%;float:none;padding:0 0% 0 2%;}
#spec ul li{margin-left:10%;margin-right:10%;list-style-image: url(../img/check.png);}
#spectable{width:95%;margin:6% auto;}
#spectable th{background:#6b9ac6;color:#ffffff;text-align: center;line-height: 40px;padding:1% 0;}
#spectable td{padding:3%;vertical-align: middle;border:3px solid #ffffff;}
#spectable tr:nth-child(odd){background:#d2e1ee;}
#spectable tr:nth-child(even){background:#e9f0f7;}

.pointbox{display:block;width:100%;margin:0 auto 6% auto;overflow: auto;}
.pointbox .A{float:left;width:46%;margin:2%;}
.pointbox .B{float:left;width:46%;margin:2%;}
.pointbox .A ul{padding:10%;background:#ffffff;}
.pointbox .B ul{padding:10%;background:#ffffff;}
.pointbox ul li{line-height: 36px;text-align: left; margin-left:13%;list-style-image: url(../img/check-green.png);}
#point h3{display: block; line-height:55px;background:#6fb83f; padding-left:6%;font-size:24px;color:#ffffff;font-weight: bold;vertical-align: middle;text-align: left;}
#point .btn{width:201px;height:56px;display:block;background:url(../img/btn.png) no-repeat;border:none;cursor: pointer;margin:6% auto;}
#point .btn:hover{background:url(../img/btn-hover.png) no-repeat;}



}
