﻿/* ---reset.css--- */
.logo {margin-top: 10px;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---reset.css--- */

html {	
	font-family:'微軟正黑體',sans-serif,Helvetica ;
	-webkit-text-size-adjust:none;
	box-sizing: border-box;
	color:#333333;
}

body{
	
}


/* --電腦版型------------------------------------- */

.WRAPPER{
	margin:0 auto;
	position:relative;
	overflow: hidden;
}
.nav .WRAPPER{margin:10px;}
#kv{
	width:100%;
	background-color:#4095d2;
}
.banner{
	width:1516px;
	height:551px;
	margin:0 auto;
	background-image: url(../img/kv.png);
	background-position:center left;
	background-repeat: no-repeat;
	overflow: hidden;}
.banner2{
	width:1516px;
	height:551px;
	margin:0 auto;
	background-image: url(../img/kv2_eva.png);
	background-position:center left;
	background-repeat: no-repeat;
	overflow: hidden;}
.nav{background:#f6f6f6;}
.nav a{line-height:22px;display:block;float:left;padding:18px 15px;text-decoration: none;color:#333333;font-weight: bold;margin-right:10px;background:#e5e5e5}
.nav a.active{color:#ffffff;background:#f9ad19}
.nav a:hover{color:#ffffff;background:#f9ad19}
h1{font-size:28px;color:#333333;text-align: center;margin:42px 0;font-weight: bold;}
p{font-size:18px;color:#333333;line-height: 38px;}
.blue{color:#347cb7;text-decoration: underline;}
#about p{padding-bottom:60px;width:1096px;margin:0 auto;}
#eva p{width:1000px;margin:0 auto;}
#eva table {font-size:18px;/*font-weight: bold;*/border: 2px solid black;margin:0 auto;}
#eva table th{margin:2%;padding:5px;color:#400040;border: 2px solid black;vertical-align: middle; text-align: center;}
#eva table tr{margin:2%;padding:2%;color:#400040;border: 2px solid black;vertical-align: middle;}
#eva table td{margin:2%;padding:8px;color:#400040;border:2px solid black;text-align: left;vertical-align: middle;}
.flow{width:1154px;min-height:266px;background: url(../img/flow_bg.png) no-repeat;margin:0 auto;font-size:17px;line-height: 28px;padding-top:150px;padding-bottom:60px;color:#333333;/*font-weight: bold;*/text-align: center;}
.flow table{margin:0 auto;border:none;}
.flow td{padding:20px;}
.m-flow{display:none;}
.small{font-size:14px;}
#spec,#vs{background:#f6f6f6;text-align: center;}
.pointbg{width:990px;margin:0px auto 60px auto;background:#f6f6f6;}
#point ul{background:#f6f6f6;line-height: 36px;padding-left:40px;}
#point ul li{margin-left:10%;margin-right:10%;list-style-image: url(../img/check.png);}
#vs table {font-size:18px;/*font-weight: bold;*/border: 4px solid #f6f6f6;margin:0 auto;width:953px;}
#vs table th{margin:2%;padding:2%;color:#ffffff;border: 2px solid #f6f6f6;vertical-align: middle;}
#vs table tr{margin:2%;padding:2%;color:#ffffff;border: 2px solid #f6f6f6;vertical-align: middle;}
#vs table td{margin:2%;padding:2%;color:#000000;padding:0px 1%;border:2px solid #f6f6f6;height:40px;line-height: 40px;text-align: left;vertical-align: middle;}
/*.btn{width:201px;height:56px;display:block;cursor: pointer;margin:40px auto;padding-top:67px;background:url(../img/btn.png) no-repeat;border:none;}*/
/*.btn:hover{background:url(../img/btn-hover.png) no-repeat;}*/
.ps{width:953px;font-size:18px;font-weight: bold;display: block;margin:0 auto;text-align: left;}
.ps a{color:#00407c}


/* --手機版型------------------------------------- */

@media screen and (max-width: 1200px) {
	
	*{
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		letter-spacing: normal;
	}
	
	html,body{
		-webkit-text-size-adjust:none;
		
	}
	h1{padding:0 5%}
.WRAPPER{
		width:100%;
		min-width: 320px;
}
	#kv{
	width:100%;
	background-color:#4095d2;
	}
	.banner{
	display:block;	
	width:100%;
	height:0;
	min-width: 320px;
	margin:0;
	background:#4095d2;
	background-color:#4095d2;
	background-image: url(../img/kv.png);
	background-size:cover;
	background-position:center left;
	background-repeat: no-repeat;
	padding-bottom:62.5%;
	overflow:hidden;
	}
	.banner2{
	display:block;	
	width:100%;
	height:0;
	min-width: 320px;
	margin:0;
	background:#4095d2;
	background-color:#4095d2;
	background-image: url(../img/kv2_eva.png);
	background-size:cover;
	background-position:center left;
	background-repeat: no-repeat;
	padding-bottom:62.5%;
	overflow:hidden;
	}
	.nav{margin-top:-5px;}
	.nav a{font-size:15px;height:100%;padding:3% 4%;text-decoration: none;color:#333333;font-weight: bold;margin-left:0;margin-right:1%;background:#e5e5e5;}
	#about,#spec,#point,#vs{margin:0;}
	#about{padding:0 5%;}
#about p{width:98%;padding:0 2% 2% 2%;padding-bottom:10%}
#eva p{width:95%;padding:0 2% 2% 2%}
#eva table {width:90%;height:auto;text-align:center;}
#eva table th{margin:2%;padding:2%;vertical-align: middle; text-align: center;}
#eva table tr{margin:2%;padding:5%;vertical-align: middle;}
#eva table td{margin:2%;padding:5%;height:auto;vertical-align: middle;}
.flow{display:none;}
	.m-flow{
		display:block;
		width:100%;
		max-width:466px;
		min-height:1166px;
		margin:0 auto 20% auto;
		border: solid 6px #f6f6f6;
		background:#ffffff;
		font-size:17px;
		line-height: 28px;
		color:#333333;
		font-weight: bold;
		text-align: center;
	}
	.m-flow-hr{width:100%;height:auto;}
	.m-flow p{width:90%;margin:0 auto;}
.pointbg{width:100%;margin:0px auto 10% auto;background:#f6f6f6;}
	#point{padding:0 8%;}
#point ul{background:#f6f6f6;line-height: 36px;padding-left:40px;}
#point ul li{margin:0;list-style-image: url(../img/check.png);}	
	#vs{padding:0 5%;}
#vs table {width:100%!important;height:auto;margin:0;text-align:center;}
#vs table th{margin:2%;padding:2%;vertical-align: middle;}
#vs table tr{margin:2%;padding:5%;vertical-align: middle;}
#vs table td{margin:2%;padding:5%;height:auto;vertical-align: middle;}
/*.btn{min-width:211px;width:20%;height:56px; margin:10% auto;display:block;cursor: pointer;padding-top:0px;}*/
/*.btn:hover{background:url(../img/btn-hover.png) no-repeat;}*/
.ps{width:97%;font-size:18px;font-weight: bold;display: block;margin:0 auto;text-align: left;}
.ps a{color:#00407c}


}
