/* ---reset.css--- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---reset.css--- */

html {	
	font-family:'微軟正黑體',sans-serif,arial,Helvetica ;
	-webkit-text-size-adjust:none;
	box-sizing: border-box;
	color:#333333;
}

body{
	
}

a:hover{ opacity:.8;}
/* --電腦版型------------------------------------- */

.WRAPPER{
	width:1096px;
	margin:0 auto;
	position:relative;
	overflow: hidden;
}

#kv{
	width:100%;
	height:551px;
	background-image:url(../img/spring/kv-bg.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
}
#kv2{
	width:100%;
	height:551px;
	background-image:url(../img/spring/kv-bg2.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
}
.banner{
	max-width:1366px;
	margin:0 auto;
	padding-top:60px;
	text-align: center;
}
.seasons{max-width:1366px;margin:0 auto;padding-top:1%;font-size:15px;color:#17566b}

#about h1,#spec h1,#stepbystep h1{font-size:28px;color:#106081;text-align: center;font-weight: bold;margin:40px 0;}
#risk h1,#point h1{font-size:28px;color:#106081;text-align: center;font-weight: bold;}
p{font-size:18px;color:#333333;line-height: 38px;}

#about p{padding-bottom:60px;width:1096px;margin:0 auto;}

.small{font-size:14px;}
#risk,#point{background:#fdfcf9;margin:0 auto;text-align: center;position:relative;}
.top{background:url(../img/spring/y-bg_01.png) no-repeat center top;max-width:2100px;height:60px;}
.bottom{background:url(../img/spring/y-bg_03.png) no-repeat center bottom;max-width:2100px;height:60px;}
.riskgroup{width:1000px;clear:both;letter-spacing: normal;overflow: hidden;margin:0 auto 80px auto;}
.riskgroup ul {clear:both}
.riskgroup ul li{display:block;width:20%;min-height:179px;margin:2% 0;float:left;}
.riskgroup ul li.aa{margin-top:134px;}
.riskgroup ul li.bb{margin-top:82px;}
.riskgroup ul li.cc{margin-top:56px;}
.riskgroup p{position:absolute;z-index:222;text-align: center; margin-top:280px;margin-left:20%;font-size:22px;line-height: 38px;}

#spec{clear:both;margin:0 auto;overflow: hidden;}
#spectable{margin:42px auto;}
#spectable td.b1{background:#3fb8e5;color:#ffffff;text-align: center;font-weight: bold;}
#spectable td.b2{background:#9fdbf2;color:#000000;text-align: center;font-weight: bold;}
#spectable td.r1{background:#ff6161;font-weight: bold;color:#fff9d6;}
#spectable td.r1 span{background:#ffdc0f;color:#ff6161;padding:0 1%;border-radius: 15px;margin-right:10px;}
#spectable td.r1 a{font-size:24px;color:#fff9d6}
#spectable td{padding:1%;vertical-align: middle;border:6px solid #ffffff;}
#spectable tr:nth-child(odd){background:#e2f4fb;}
#spectable tr:nth-child(even){background:#c5eaf7;}

.pointbox{display:block;width:100%;margin-bottom:42px;overflow: hidden;}
.pointbox li span.blue{color: #44abd2;font-size: 22px;font-style:italic;text-decoration: none;font-weight: bold;}
.pointbox li.aa{line-height: 36px;text-align: left;margin-left:4%;list-style-image: url(../img/spring/olli-a.png);}
.pointbox li.bb{line-height: 36px;text-align: left; margin-left:4%;list-style-image: url(../img/spring/olli-b.png);}
.pointbox li.cc{line-height: 36px;text-align: left; margin-left:4%;list-style-image: url(../img/spring/olli-c.png);}
.pointbox li.dd{line-height: 36px;text-align: left; margin-left:4%;list-style-image: url(../img/spring/olli-d.png);}
.pointbox li.ee{line-height: 36px;text-align: left; margin-left:4%;list-style-image: url(../img/spring/olli-e.png);}
.pointbox li.ff{line-height: 36px;text-align: left; margin-left:4%;list-style-image: url(../img/spring/olli-f.png);}
.pointbox li.gg{line-height: 36px;text-align: left; margin-left:4%;list-style-image: url(../img/spring/olli-g.png);}
#point h3{display: block; line-height:55px;background:#6fb83f; padding-left:24%;font-size:24px;color:#ffffff;font-weight: bold;vertical-align: middle;text-align: left;}
#stepbystep .btn{width:201px;height:56px;display:block;background:url(../img/spring/btn.png) no-repeat;border:none;cursor: pointer;margin:40px auto;}
#stepbystep .btn:hover{background:url(../img/spring/btn-hover.png) no-repeat;}
.stepbox li{display:inline-block;vertical-align: top;float:left;}
.stepbox {clear:both;overflow: hidden;}

/* --手機版型------------------------------------- */

@media screen and (max-width: 1200px) {
	
	*{
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		letter-spacing:normal;
	}
	
	html,body{
		-webkit-text-size-adjust:none;

	}

	.WRAPPER{
			width:100%;
			min-width: 320px;
	}

	
#kv{
	width:100%;
	height:0;
	padding-bottom:70%;
	background-image:url(../img/spring/kv-bg.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size:cover;
}
	
#kv{
	width:100%;
	height:0;
	padding-bottom:70%;
	background-image:url(../img/spring/kv-bg2.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size:cover;
}
.banner{
	max-width:1366px;
	margin:0 auto;
	padding-top:10%;
	text-align: center;
}
	.banner img{width:90%}
.seasons{max-width: none;width:80%;padding-left:1%;padding-top:1%;left:0px;font-size:15px;color:#17566b}

#about h1,#spec h1,#stepbystep h1{padding:8% 3%;display:block;width:82%;height:auto;line-height:1.5em;margin:0 auto;}
#risk h1,#point h1{padding:8% 3%;display:block;width:82%;height:auto;line-height:1.5em;margin:0 auto;}
p{font-size:20px;color:#333333;line-height: 38px;}

#about p{padding-bottom:8%;width:90%;margin:0 auto;}

.small{font-size:16px;}
#risk,#point{background:#fdfcf9;margin:0 auto;text-align: center;position:relative;}
.top{background:url(../img/spring/y-bg_01.png) no-repeat center top cover;max-width:2100px;height:10%;}
.bottom{background:url(../img/spring/y-bg_03.png) no-repeat center bottom cover;max-width:2100px;height:10%;}
.riskgroup{width:100%;display:block;clear:both;letter-spacing: normal;overflow:auto;margin:0 auto;text-align: center;}

.riskgroup ul li{display:inline-block;width:47%;min-height:179px;max-height:179px;margin: 0 auto;float:none;padding:3%;}
.riskgroup ul li.aa{margin-top:0;}
.riskgroup ul li.bb{margin-top:0;}
.riskgroup ul li.cc{margin-top:0;}
.riskgroup p{position:relative;z-index:222;text-align: center; margin:10% auto;font-size:20px;line-height: 38px;clear:both;padding-top:5%;width:93%;}
.pointbox{display:block;width:88%;margin:0 auto;overflow: auto;text-align: center;}
.pointbox li.aa{line-height: 36px;text-align: left;margin-left:12%;list-style-image: url(../img/spring/olli-a.png);}
.pointbox li.bb{line-height: 36px;text-align: left; margin-left:12%;list-style-image: url(../img/spring/olli-b.png);}
.pointbox li.cc{line-height: 36px;text-align: left; margin-left:12%;list-style-image: url(../img/spring/olli-c.png);}
.pointbox li.dd{line-height: 36px;text-align: left; margin-left:12%;list-style-image: url(../img/spring/olli-d.png);}
.pointbox li.ee{line-height: 36px;text-align: left; margin-left:12%;list-style-image: url(../img/spring/olli-e.png);}
.pointbox li.ff{line-height: 36px;text-align: left; margin-left:12%;list-style-image: url(../img/spring/olli-f.png);}
.pointbox li.gg{line-height: 36px;text-align: left; margin-left:12%;list-style-image: url(../img/spring/olli-g.png);}
#spec{clear:both;margin:0 auto;overflow: auto;}
#spectable{margin:0 auto;font-size:14px;width:93%;margin-bottom:8%;}
	
#spectable td.r1 span{display:block;background:#ffdc0f;color:#ff6161;padding:0 1%;border-radius: 15px;margin-right:0;text-align: center;}
#spectable td.r1 a{font-size:20px;color:#fff9d6;text-align: center;}
#spectable td{padding:1%;vertical-align: middle;border:1px solid #ffffff;}


.pointbox{display:block;width:80%;margin-bottom:5%;overflow:auto;}
.pointbox li span.blue{color: #44abd2;font-size: 20px;font-style:italic;text-decoration: none;font-weight: bold;}

#point h3{display: block; line-height:55px;background:#6fb83f; padding-left:24%;font-size:24px;color:#ffffff;font-weight: bold;vertical-align: middle;text-align: left;}
#stepbystep .btn{width:201px;height:56px;display:block;background:url(../img/spring/btn.png) no-repeat;border:none;cursor: pointer;margin:40px auto;}
#stepbystep .btn:hover{background:url(../img/spring/btn-hover.png) no-repeat;}
	#stepbystep  p{padding:2%;font-size:18px;text-align: center;}
.stepbox li{display:inline-block;vertical-align: top;margin-top:10%;width:100%;float:none;}
.stepbox {clear:both;overflow:auto;width:100%;margin:0 auto;text-align: center}
	
}
