/*!
 * 
 * Cathay Insurance Bobe *
 * Variables Settings *
 * 
 */
.font-24 {
  font-size: 24px;
}

.valign-top {
  vertical-align: top;
}

.hidden-seo-element {
  display: none;
}

.container-fluid {
  padding-top: 0;
}

.bobe-docs {
  padding-top: 55px;
}
.bobe-docs.original-pd {
  padding-top: 95px;
}
.bobe-docs .navbar {
  border-bottom: 1px solid #b7b7b7;
}
.bobe-docs .page-title {
  color: #7bb649;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  padding-left: .5rem;
}
.bobe-docs .docs-side-bar, .bobe-docs .docs-content {
  min-height: 100vh;
}
.bobe-docs .docs-side-bar {
  padding: 1rem 2rem;
  border-right: 1px solid #d2d2d2;
  color: #575757;
  background-color: #f9f9f9;
}
.bobe-docs .docs-side-bar .docs-cate {
  margin-bottom: .25rem;
  color: #7bb649;
}
.bobe-docs .docs-side-bar .docs-menu {
  padding-left: 1rem;
}
.bobe-docs .docs-side-bar .docs-menu > li {
  padding: 0.25rem 0;
}
.bobe-docs .docs-content {
  padding: 2rem;
}
.bobe-docs .docs-content .des {
  font-size: 1rem;
}
.bobe-docs .docs-content .block {
  margin-bottom: 2rem;
}
.bobe-docs .demo-box {
  padding: 1rem;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.bobe-docs .source-box {
  min-height: 100px;
  position: relative;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
}
.bobe-docs .source-box .copy-code {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem;
  background-color: #e8e8e8;
  color: #555;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-bottom-left-radius: 10px;
}
.bobe-docs .source-box .copy-code:hover {
  color: #e8e8e8;
  background-color: #555;
}
