.text-green {
  color: #3f90d5 !important;
}

.white-tooltip {
  font-size: 16px;
}
.white-tooltip i {
  position: relative;
  top: -6px;
}

.total-policy-cost large {
  color: #cc0e45;
}

.link-orange {
  color: #3f90d5;
}

.link-green {
  color: #3f90d5;
  transition: 0.2s ease-out;
}
.link-green i {
  transition: 0.2s ease-out;
}
.link-green:hover, .link-green:focus {
  text-decoration: underline;
}
.link-green:hover i, .link-green:focus i {
  transform: translateX(1px);
}

.nav-tabs--bookmark .nav-link.active {
  background-color: #3f90d5;
}

.bobe-table tr th {
  background-color: #cc0e45;
  font-weight: 600;
}
.bobe-table th, .bobe-table td {
  border: 1px solid #cc0e45;
}

.bobe-item-list.item-icon-check > .item:before {
  color: #cc0e45;
}

.btn-primary {
  font-size: 14px;
  background-color: #3f90d5;
  border-radius: 20px;
  padding: 0.2rem 1rem;
  position: relative;
  top: -2px;
}

.bobe-btn-3d.bobe-btn-3d-primary {
  background-color: #f4921e;
}

.bobe-btn-3d.bobe-btn-3d-primary-reverse {
  background-color: #c2c2c2;
  color: #fff;
}

.bobe-btn-orange {
  background-color: #f4921e;
}
.bobe-btn-orange:hover, .bobe-btn-orange:focus {
  background-color: #ce7813;
}

.bobe-btn-orange-reverse {
  background-color: #fff;
  border-color: #f4921e;
  color: #f4921e;
  border-width: 2px;
}
.bobe-btn-orange-reverse:hover, .bobe-btn-orange-reverse:focus {
  color: #fff;
  background-color: #f4921e;
}

.badge-success[href], .badge-success {
  position: relative;
  top: -2px;
  background-color: #3f90d5;
  padding: 0.5rem 1rem;
}
.badge-success[href]:hover, .badge-success[href]:focus, .badge-success:hover, .badge-success:focus {
  background-color: #397fbb;
}

.bobe-tooltip {
  color: #3f90d5;
}
.bobe-tooltip:hover, .bobe-tooltip:focus {
  color: #397fbb;
}

.bs-tooltip-top .tooltip-inner {
  background-color: #3f90d5;
}

.bs-tooltip-top .arrow::before {
  border-top-color: #3f90d5;
}

.bs-tooltip-right .arrow::before {
  border-right-color: #3f90d5;
}

.bs-tooltip-left .arrow::before {
  border-left-color: #3f90d5;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #3f90d5;
}

.custom-badge-pill {
  background-color: #3f90d5;
  border-color: #3f90d5;
}

.form-header {
  background-color: #3f90d5;
}
.form-header.red-header {
  background-color: #cc0e45;
}

.form-body .nav-tabs .nav-link.active, .form-body .nav-tabs .nav-item.show .nav-link {
  color: #3f90d5;
  border-bottom-color: #3f90d5;
}

.form-footer.form-footer--summary .price {
  color: #cc0e45;
}

.flight-board-container .flight-board-header {
  background-color: #3f90d5;
}

.flight-board-container .flight-line:before, .flight-board-container .flight-line:after {
  border-color: #3f90d5;
}
.flight-board-container .flight-line .icon-flight:after {
  background-image: url(/INSEBWeb/html/CM/bobe/img/theme/blue/icons/flight.png);
}

.bobeProgress .progressStep > li.active .progressStep__number, .bobeProgress .progressStep > li.acheieved .progressStep__number {
  border: 1px solid #3f90d5;
  background-color: #3f90d5;
}
.bobeProgress .progressStep > li.acheieved:after {
  border-bottom: 3px solid #3f90d5;
}

.bobe-icon--people {
  background-image: url(/INSEBWeb/html/CM/bobe/img/theme/blue/compare-table/people.png);
}

.bobe-icon--person {
  background-image: url(/INSEBWeb/html/CM/bobe/img/theme/blue/compare-table/person.png);
}

.flight-board-container .flight-board-header {
  background-color: #3f90d5;
}

.flight-board-container .flight-line:before, .flight-board-container .flight-line:after {
  border-color: #3f90d5;
}
.flight-board-container .flight-line .icon-flight:after {
  background-image: url(/INSEBWeb/html/CM/bobe/img/theme/blue/icons/flight.png);
}
.flight-board-container .fight-board-body {
  background-image: url("/INSEBWeb/html/CM/bobe/img/theme/blue/shared/earth.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .flight-board-container .fight-board-body {
    background-image: url("/INSEBWeb/html/CM/bobe/img/theme/blue/shared/earth@2x.png");
  }
}

@keyframes card-to-full {
  0% {
    width: 225px;
  }
  100% {
    width: 100%;
  }
}
@keyframes highlight-card-to-full {
  0% {
    width: 270px;
  }
  100% {
    width: 100%;
  }
}
.custom-form .custom-label-hint i {
  color: #3f90d5;
}

.custom-form .custom-checkbox .custom-control-input:checked ~ .custom-control-label:before {
  border: 1px solid #3f90d5;
  background-color: #3f90d5;
}

.custom-form .custom-radio .custom-control-input:checked ~ .custom-control-label:before {
  border: 1px solid #3f90d5;
}
.custom-form .custom-radio .custom-control-label:after {
  background-color: #3f90d5;
}

.custom-form .chosen-container .chosen-results .active-result.result-selected {
  color: #3f90d5;
}

.custom-form .chosen-container .chosen-results .active-result.highlighted {
  color: #3f90d5;
}

.custom-form-white .chosen-container-single .chosen-single {
  color: #3f90d5;
  height: 42px;
}
.custom-form-white .chosen-container-single.chosen-container {
  background-color: #fff;
}

.custom-form .custom-select .chosen-single {
  color: #3f90d5;
}

.custom-form-white input.form-control {
  color: #3f90d5;
}
.custom-form-white input.form-control:focus {
  border-color: #3f90d5;
}

.custom-form-white .custom-select {
  background-color: transparent;
}
.custom-form-white .custom-select:hover, .custom-form-white .custom-select:visited, .custom-form-white .custom-select:focus {
  background-color: #fff;
}

.custom-form .custom-btn-group .btn-success, .form-container .custom-btn-group .btn-success {
  color: #3f90d5;
}
.custom-form .custom-btn-group .btn-success.active, .form-container .custom-btn-group .btn-success.active {
  background-color: #3f90d5;
  border-color: #3f90d5;
}
.custom-form .custom-btn-group .btn-success.active:hover, .custom-form .custom-btn-group .btn-success.active:focus, .form-container .custom-btn-group .btn-success.active:hover, .form-container .custom-btn-group .btn-success.active:focus {
  background-color: #3f90d5;
  border-color: #3f90d5;
  color: #fff;
}
.custom-form .custom-btn-group .btn-success:hover, .custom-form .custom-btn-group .btn-success:focus, .form-container .custom-btn-group .btn-success:hover, .form-container .custom-btn-group .btn-success:focus {
  background-color: #fff;
  color: #3f90d5;
}
.custom-form .custom-btn-group .btn-success:active, .form-container .custom-btn-group .btn-success:active {
  border-color: #3f90d5;
  background-color: #3f90d5;
}
.custom-form .custom-btn-group .btn-success:active:hover, .custom-form .custom-btn-group .btn-success:active:focus, .form-container .custom-btn-group .btn-success:active:hover, .form-container .custom-btn-group .btn-success:active:focus {
  background-color: #3f90d5;
  border-color: #3f90d5;
  color: #fff;
}

.custom-form input.form-control:focus, .custom-form .custom-select:focus {
  border-color: #3f90d5;
}

.custom-form input.form-control, .custom-form .custom-select {
  color: #3f90d5;
}

.custom-form .custom-checkbox .custom-control-input:checked:disabled ~ .custom-control-label:before {
  border: 0px solid #3f90d5;
  box-shadow: none;
  background-color: transparent;
}

.custom-form .custom-checkbox .custom-control-input:checked:disabled ~ .custom-control-label:after {
  background-size: 80% 80%;
  box-shadow: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%233f90d5' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-form .bobe-tab-container .bobe-nav-tabs > .nav-item .nav-link.active {
  color: #3f90d5;
  border-color: #3f90d5;
}
.custom-form .bobe-tab-container .bobe-nav-tabs > .nav-item .nav-link:hover, .custom-form .bobe-tab-container .bobe-nav-tabs > .nav-item .nav-link:focus {
  color: #3f90d5;
}

.sub-list-green {
  border-color: #3f90d5;
}
.sub-list-green .list-title {
  background-color: #3f90d5;
}

.custom-form .custom-select .chosen-choices-item:hover, .custom-form .custom-select .chosen-choices-item.hover, .custom-form .destination-tab .chosen-choices-item:hover, .custom-form .destination-tab .chosen-choices-item.hover {
  color: #fff;
  background-color: #3f90d5;
}

.custom-form .custom-select .chosen-choices li.search-choice, .custom-form .destination-tab .chosen-choices li.search-choice {
  margin: 9px 5px 0 0;
  background-color: #3f90d5;
  border-color: #3f90d5;
}

.custom-badge-pill:hover, .custom-badge-pill:active, .custom-badge-pill:focus {
  background-color: #2d77b5;
  border-color: #2d77b5;
}

.custom-form .custom-select .chosen-choices li.search-choice:hover, .custom-form .destination-tab .chosen-choices li.search-choice:hover {
  background-color: #2d77b5;
  border-color: #2d77b5;
}

.custom-form .custom-checkbox .custom-control-input:focus ~ .custom-control-label:before {
  border: 1px solid #3f90d5;
}

.custom-form .radio-buttons-brick-group .custom-radio .custom-control-label {
  color: #3f90d5;
}

.custom-form .radio-buttons-brick-group .custom-radio .custom-control-input:checked ~ .custom-control-label {
  border-color: #3f90d5;
  background-color: #3f90d5;
}

.custom-form .radio-buttons-brick-group .custom-radio .custom-control-label:hover, .custom-form .radio-buttons-brick-group .custom-radio .custom-control-label:focus {
  border-color: #3f90d5;
  background-color: #3f90d5;
}

.fancybox-alert .fancybox-alert-header {
  background-color: #3f90d5;
}

.fancybox-close {
  background-color: #3f90d5;
}

.mbsc-material.mbsc-range .mbsc-cal .mbsc-cal-row .mbsc-cal-day.mbsc-cal-day-hl .mbsc-cal-day-date {
  background: #3f90d5;
  border-color: #3f90d5;
}

.mbsc-material .mbsc-range-btn.mbsc-selected {
  border-color: #3f90d5;
  color: #3f90d5;
}

.mbsc-material .mbsc-fr-btn {
  color: #3f90d5;
}

.mbsc-material .mbsc-fr-btn {
  color: #3f90d5;
}

.bobe-section-border .bobe-section-content-wrap {
  border: 3px solid #3f90d5;
}

.bobe-item-list.item-icon-star > .item:before {
  color: #cc0e45;
}

.bobe-compare .plan-item.plan-item--highlight:after {
  background-image: none;
}
@media screen and (max-width: 1200px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 * {
    animation: none !important;
  }
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan {
  padding-bottom: 0;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-item {
  margin: 0;
  animation: card-to-full .7s forwards;
}
@media screen and (max-width: 1200px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-item {
    width: 100%;
  }
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-item.plan-item--highlight {
  animation: highlight-card-to-full .7s forwards;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .product-spec.product-spec--highlight {
  border: 2px solid #3f90d5;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .product-spec.product-spec--highlight .plan-name {
  line-height: 1.2;
  background-color: #3f90d5;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .product-spec.product-spec--highlight .plan-name {
    padding-bottom: 10px;
  }
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-detail__title {
  display: none;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid {
  flex: 1 1 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  padding: 0 1.8rem;
}
@media screen and (max-width: 320px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid {
    padding: 0 1rem;
  }
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-inner-buttons {
  display: none;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid .plan-detail {
  padding-left: 0;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid .plan-detail + .plan-detail {
  margin-top: 8px;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-full {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 1.5rem 1.8rem;
}
@media screen and (max-width: 320px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-full {
    padding: 1rem;
  }
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey {
  background-color: #f7f7f7;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 0;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey .plan-detail__title {
  display: block;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey .plan-detail__title:before {
  display: none;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey .plan-detail {
  flex: 0 0 100%;
  max-width: 100%;
  animation: none !important;
  margin-bottom: 1rem;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey .plan-detail:last-child {
  margin-bottom: 0;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey .plan-detail + .plan-detail {
  margin-top: 0;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey .plan-detail .plan-detail__info {
  margin-bottom: 1rem;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey .plan-detail .plan-detail__info:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content {
    padding: 0;
    flex-flow: row wrap;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid {
    flex: 1 1 33.33%;
    max-width: 33.33%;
    margin-bottom: 0;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-inner-buttons {
    display: block;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-inner-buttons-mirror {
    display: none;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid .plan-detail {
    padding-left: 0;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid .plan-detail:last-child {
    margin-bottom: 0;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-full {
    padding: 3rem;
    margin-top: 0;
    padding: 1.5rem 2rem;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey {
    flex-flow: columns nowrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid {
    justify-content: center;
    flex: 1 1 40%;
    max-width: 40%;
    padding: 2rem 0;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid .plan-detail {
    flex-flow: columns nowrap;
    display: flex;
    justify-content: flex-start;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid .plan-icon.lv1 {
    width: 165.75px;
    height: 174.2px;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid .plan-price {
    font-size: 48px;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid .plan-remark {
    font-size: 16px;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid:first-child, .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid:nth-child(3) {
    flex: 1 1 30%;
    max-width: 30%;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-full .plan-detail {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content {
    flex-flow: row wrap;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid {
    flex: 1 1 33.33%;
    max-width: 33.33%;
    padding: 3rem 0;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey {
    flex-flow: row nowrap;
  }
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-content .plan-grid.plan-grid-grey .plan-detail {
    padding-right: 3rem;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 0;
  }
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-grid-full-toggle {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 1rem 3rem;
  background-color: #e3e3e3;
  text-align: center;
  color: #999;
  font-size: 18px;
  letter-spacing: 2px;
  display: block;
  cursor: pointer;
  line-height: 1;
  width: 100%;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-grid-full-toggle:before {
  display: inline-block;
  content: "";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  content: "\f055";
  margin-right: 10px;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-grid-full-toggle[aria-expanded="true"]:before {
  content: "\f056";
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-grid-full-toggle[aria-expanded="false"]:before {
  content: "\f055";
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-grid-full-toggle:hover, .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-grid-full-toggle:focus {
  background-color: #3f90d5;
  color: #fff;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-detail__amt {
  color: #3f90d5;
  margin: 0 5px;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-detail__info {
  color: #494949;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-detail__info > li {
  padding-left: 1.6rem;
  position: relative;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-detail__info > li + li {
  margin-top: 8px;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-detail__info > li:before {
  position: absolute;
  left: 0;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  content: "\f00c";
  width: auto;
  height: auto;
  font-size: 20px;
  top: -2px;
  color: #cc0e45;
  background-color: transparent;
  transform: none;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-icon.lv1 {
  width: 255px;
  height: 268px;
  mask-image: unset;
  -webkit-mask-image: unset;
  background-color: transparent;
  background-size: 100% 100%;
}
@media screen and (max-width: 767px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-icon.lv1 {
    width: 178.5px;
    height: 187.6px;
    position: unset;
    top: 0;
    left: 0;
    margin-bottom: -1rem;
    margin-top: 2rem;
  }
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-more {
  display: none;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-remark {
  font-size: 18px;
  letter-spacing: 2px;
}
@media screen and (max-width: 767px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-remark {
    position: unset;
    top: 0;
    left: 0;
  }
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-price {
  font-size: 64px;
  margin-left: -4px;
  margin-bottom: 0.5rem;
  color: #3f90d5;
}
@media screen and (max-width: 767px) {
  .bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .plan-price {
    position: unset;
    top: 0;
    left: 0;
  }
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .collapse {
  display: none !important;
}
.bobe-compare .bobe-compare__card.bobe-compare__card--col-12 .collapse.show {
  display: flex !important;
}

.bobe-hamburger {
  display: none;
}

.bobe-tool-container {
  display: none;
}

.footer {
  display: none;
}

.bobe-hamburgur-menu {
  display: none;
}

a:hover, a:focus {
  color: #3f90d5;
}

.navbar-light {
  border-bottom: 1px solid #ddd;
}

.bobe-logo-container {
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.bobe-logo-container .navbar-brand {
  line-height: 1;
  display: block;
}
@media screen and (min-width: 320px) {
  .bobe-logo-container .navbar-brand:first-child {
    margin: 0;
    padding: 0;
  }
  .bobe-logo-container .navbar-brand:last-child {
    display: none;
  }
}
.bobe-logo-container .navbar-brand .cathay-logo {
  width: 273px;
  height: 21px;
  background-size: 100% 100%;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .bobe-logo-container .navbar-brand .cathay-logo {
    margin-top: 8px;
  }
}
@media screen and (min-width: 576px) {
  .bobe-logo-container .navbar-brand .cathay-logo {
    width: 390px;
    height: 30px;
  }
}

@media screen and (min-width: 992px) {
  main {
    padding-top: 55px;
  }
}
