
@media screen and (min-width: 769px)
    .banner
        z-index: 2 !important
        + .breadcrumb-container
            z-index: 0
    .breadcrumb-container + .banner
        position: relative
        margin-top: -50px
        z-index: 0
        

ul.breadcrumb
    position: relative
    margin: 15px 0
    line-height: 1
    z-index: 9
    li 
        display: inline-block
        line-height: 1
        &:after
            content: '/'
            display: inline-block
            margin-left: 5px
            color: $gray
            vertical-align: middle
        
        &:last-child:after
            display: none

        > a,
        > a:link,
        > a:visited
            line-height: 1
            font-size: 14px
            display: inline-block
            color: $gray
            cursor: pointer
            &:hover,
            &:focus
                color: $dark-gray

        &.active > a:link,
        &.active > a:visited
            color: $dark-gray

    
@media screen and (max-width: 767px) 
    ul.breadcrumb
        display: none