.btn.is-block,
button.btn,
button.btn[type="submit"],
button.btn[type="reset"]
    width: 100%
    max-width: 320px

.btn
    font-size: 18px
    padding: 0 $space-unit*3.5
    display: inline-block
    height: 48px
    line-height: 48px
    margin-top: 10px 
    margin-bottom: 10px
    min-width: 320px
    max-width: 100%
    text-align: center
    text-decoration: none
    border: 2px solid transparent
    white-space: nowrap
    border-radius: 5px
    cursor: pointer
    box-sizing: border-box
    
    + .btn
        margin-left: 10px
        
    i[class*="icon-"]
        vertical-align: middle
    
    &:hover,
    &:focus
        opacity: 1 !important

    &:active,
    &.is-open,
    &.is-open:hover,
    &.is-open:focus,
    &.active,
    &.active:hover,
    &.active:focus
        opacity: 1
        box-shadow: 0 0 0 0 rgba(0,0,0,0) !important
        color: $active-green !important
        background-image: $main-gradient !important
        
    &[disabled],
    &.disabled
        cursor: default !important
        background: $disabled !important
        color: $placeholder !important
        box-shadow: none !important
        border: 0 !important

    &.btn-inline
        min-width: 0
        display: inline-block
        line-height: 0
        padding: 0 $space-unit 0 $space-unit*2
        font-size: 16px
        height: 32px
        line-height: 32px

        &::after
            content: ""
            display: inline-block 
            border-left: 8px solid $card-green
            border-right: 8px solid transparent
            border-top: 6px solid transparent
            border-bottom: 6px solid transparent
            margin-left: $space-unit

        &.btn-normal
            border: 1px solid $border-gray
        &.btn-green
            color: #FFF
            background: $main
            border: 1px solid $main
            &::after
                border-left: 8px solid #FFF
        &.btn-orange
            color: #FFF
            background: $orange
            border: 1px solid $orange
            &::after
                border-left: 8px solid #FFF

    &.btn-dark
        color: #FFF
        border: 1px solid $blue-gray
        background: $blue-gray

    &.btn-gray
        border: 1px solid $border-gray
        &:hover,
        &:focus
            background: $bg-gray
    
    &.btn-block
        display: block
        width: 100%

    &.btn-round
        min-width: 0
        +border-radius(50px)
        &.btn-primary
            box-shadow: $green-shadow

    &.btn-link
        min-width: 0 !important
        color: $main
        padding-left: $space-unit*2
        padding-right: $space-unit*2

        &:hover,
        &:focus
            opacity: 0.87
        
        &:active
            background: none !important
            box-shadow: none !important

    &.btn-text
        min-width: 0
        text-decoration: none
        color: $dark-gray

        &:active
            background: none !important
            box-shadow: none !important

    &.btn-border
        border: 2px solid #FFF
        
    &.btn-red
        color: #FFF
        background: $red
        box-shadow: inset 0 -2px 0 0 rgba(176,73,107,0.30)

        &:hover,
        &.hover,
        &:focus
            color: #FFF
            opacity: .8
            border-color: transparent !important

        &:active,
        &.is-open,
        &.is-open:hover,
        &.is-open:focus,
        &.active,
        &.active:hover,
        &.active:focus
            color: $dark-gray !important
            background: darken($red, .2) !important
        
    &.btn-primary > a
        color: #FFF
        text-decoration: none
        
    &.btn-primary > a
        color: #FFF !important
        
    &.btn-primary
        color: #FFF
        text-decoration: none
        background: $gradient-begin
        background-image: $main-gradient
        border: 0
        vertical-align: top
        box-shadow: inset 0 -4px 0 0 rgba(94,134,96,0.30) !important
        
        &.btn-flat
            background: $main
            border-radius: 0
            box-shadow: none
        &:hover,
        &:focus,
        &.hover
            color: #FFF
            background: $gradient-begin
            background-image: $main-gradient
            opacity: .8
            
    &.btn-default > a
        text-decoration: none
        color: $main

    &.btn-outline-reverse
        color: #FFF
        background: none
        box-shadow: none
        border: 2px solid white
        line-height: 44px
        &:hover,
        &:focus
            text-decoration: none
            border: 1px solid $main
            color: $main
            line-height: 44px
            background: #FFFFFF
            border: 2px solid #E1E4E9
            box-shadow: inset 0 -4px 0 0 #E1E4E9
            border-radius: 5px
        &:active,
        &.is-open,
        &.is-open:hover,
        &.is-open:focus,
        &.active,
        &.active:hover,
        &.active:focus
            background: $bg-gray !important
            color: $active-green

    &.btn-outline
        text-decoration: none
        border: 2px solid $main
        color: $main
        line-height: 44px
        background: #FFFFFF
        
    &.btn-default
        text-decoration: none
        color: $main
        height: 48px
        line-height: 44px
        background: #FFFFFF
        border: 2px solid #E1E4E9
        box-shadow: inset 0 -2px 0 0 #E1E4E9
        border-radius: 5px
        
    &.btn-default:hover,
    &.btn-default:focus,
    &.btn-outline.hover,
    &.btn-outline:hover,
    &.btn-outline:focus
        color: #FFF
        text-decoration: none
        border-color: transparent
        background-image: $main-gradient
        box-shadow: inset 0 -4px 0 0 rgba(94,134,96,0.30), 0 8px 15px 0 rgba(0,0,0,.15)
        vertical-align: top

    &.btn-sm
        font-size: 16px
        height: 40px
        line-height: 36px !important
        width: auto
        min-width: 120px

        &.btn-primary
            box-shadow: inset 0 -2px 0 0 rgba(94,134,96,0.30)
            
        &.btn-outline-reverse:hover,
        &.btn-outline-reverse:focus
            box-shadow: inset 0 -2px 0 0 #E1E4E9
        
        &.btn-default.hover,
        &.btn-default:hover,
        &.btn-default:focus,
        &.btn-outline.hover,
        &.btn-outline:hover,
        &.btn-outline:focus
            box-shadow: inset 0 -2px 0 0 rgba(94,134,96,0.30)

    .float-right[class*="icon-"]
        margin-right: -8px
        margin-top: 5px

@media screen and (max-width: 767px)
    .btn-sm-block
        display: block
    
    .btn
        font-size: 16px
        height: 40px !important
        line-height: 40px !important
        width: auto
        min-width: 120px

        + .btn
            margin-left: 0px
        
        &.d-block
            width: 100%
        &.btn-primary
            box-shadow: inset 0 -2px 0 0 rgba(94,134,96,0.30)
            
        &.btn-outline-reverse:hover,
        &.btn-outline-reverse:focus
            box-shadow: inset 0 -2px 0 0 #E1E4E9
        
        &.btn-default.hover,
        &.btn-default:hover,
        &.btn-default:focus,
        &.btn-outline.hover,
        &.btn-outline:hover,
        &.btn-outline:focus
            box-shadow: inset 0 -2px 0 0 rgba(94,134,96,0.30)