
.switch,
.checkbox,
.radio
    position: relative
    display: inline-block
    margin-right: 10px
    margin-bottom: 8px

    input
        display: none
    
        + label
            position: relative
            padding-left: 30px
            display: block
            font-size: 18px
            width: 100%
            line-height: 24px

            &:before 
                content: ""
                position: absolute
                color: transparent
                width: 24px
                height: 24px
                border: 2px solid $input-gray
                background: $bg-gray
                left: 0
                margin: auto
                border-radius: 5px

.radio-labels,
.check-labels
    margin-bottom: $space-unit*8
    .checkbox,
    .radio
        height: 40px
        line-height: 40px
        margin-bottom: $space-unit*2
        margin-right: 12px

        label
            display: block
            height: 40px
            line-height: 36px
            font-size: 16px
            padding: 0 $space-unit*4
            border: 1px solid $border-gray
            border-radius: 20px
            transition: all .3s ease
            
            &::after,
            &::before
                border: 0
                display: none

            &:hover,
            &:focus
                box-shadow: 0 10px 18px 0 rgba(0,0,0,.2)

        input:checked + label 
            color: #FFF
            background: $main
            border: 1px solid $main
            

.checkbox
    input
        + label::before
            content: "\e907"
            font-family: 'icomoon'
            font-size: 20px
            line-height: 20px

        &:checked + label:before
            background: $main
            border-color: $main
            color: white
            
        &[disabled] + label::before
            background: $disabled
            border-color: $disabled
            
        &[disabled]:checked + label::before
            color: $placeholder
            background: $disabled
            border-color: $disabled
            
.radio
    margin-right: 40px
    input
        + label::before
            border-radius: 50%
            border-width: 2px
            width: 24px
            height: 24px

        &:checked + label:before
            border: 2px solid $main
        &:checked + label:after
            content: ""
            position: absolute
            width: 14px
            height: 14px
            background: $main
            color: white
            border-radius: 50%
            left: 5px
            top: 5px
            margin: auto

        &[disabled]:checked + label::before,            
        &[disabled] + label::before
            border-color: $disabled

        &[disabled]:checked + label::after
            background-color: $disabled

.checkbox-grid,
.radio-grid
    padding-top: 12px
    .checkbox,
    .radio
        margin-right: 0
        margin-bottom: $space-unit*3

.switch
    input + label
        padding-left: 52px

    input + label::before
        width: 46px !important
        height: 28px !important
        border: 0
        border-radius: 50px
        background: $placeholder
    
    input + label::after
        content: ''
        top: 2px !important
        position: absolute
        width: 24px !important
        height: 24px !important
        top: 0px
        left: 2px
        display: block
        border-radius: 50px
        background: white
        transition: all .3s ease


    input:checked + label::before
        background: $main

    input:checked + label::after
        transform: translateX(12px)

    
    input:disabled + label::before
        background: $disabled

@media screen and (max-width: 768px)
    .check-labels,
    .radio-labels
        padding-left: 20px
        margin-left: -20px
        margin-right: -20px
        margin-top: $space-unit*2
        margin-bottom: $space-unit*4
        white-space: nowrap
        overflow-x: auto
        overflow-y: hidden
        -webkit-overflow-scrolling: touch

        .radio input + label,
        .checkbox input + label 
            &:before,
            &:after
                display: none !important

    .radio,
    .checkbox
        input + label 
            font-size: 16px
