hr,
.divider
    display: block
    width: 100%
    height: 0px
    margin: 20px 0
    border: 0
    border-top: 2px solid $divider-gray

    &.green
        border-top-width: 1px
        border-top-color: $link-green
        
    &.dash
        border-top: 2px dashed $divider-gray

    &.cross
        position: relative
        display: inline-block
        width: 20px !important
        height: 20px !important
        background: none !important
        border: 0
        margin: 0 $space-unit*2
        &:before,
        &:after
            content: ""
            display: block
            position: absolute
            width: 20px
            height: 1px
            top: 0
            bottom: 0
            margin: auto
            background: $placeholder
        &:before
            transform: rotate(45deg)
        &:after
            transform: rotate(-45deg)