select::-ms-expand,
input::-ms-expand 
    display: none !important 

input[type="text"],
input[type="search"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="number"],
select:not(.select2),
textarea
    font-size: 1rem
    background: #FFF
    height: 54px
    line-height: 1.25em
    border-radius: 5px
    border: 2px solid $input-gray
    background: $bg-gray
    padding: 10px 16px 10px
    box-sizing: border-box
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none 
    outline: none
    box-shadow: 0 0 0 0 rgba(0,0,0,0)
    transition: all .3s ease
    box-sizing: border-box
    
    &.disabled,
    &[disabled]
        background: $disabled
        border-color: $disabled
        color: $placeholder

    &:focus
        border-color: $input-gray
        
    &::placeholder
        color: $placeholder

    &.input-lg
        height: 54px
        line-height: 1.25
        padding: 12px 24px
    
    + label.error
        position: relative
        display: inline-block
        margin-top: 10px
        background: $red
        color: #FFF
        border-radius: 20px
        padding: $space-unit/2 $space-unit*2

        &::before
            content: ""
            position: absolute
            width: 0
            height: 0
            display: block
            border-top: 7px solid transparent
            border-left: 8px solid transparent
            border-right: 8px solid transparent
            border-bottom: 7px solid $red
            left: 0
            right: 0
            top: -14px
            margin: auto


.form-group
    margin-bottom: 32px

    &.row .row > [class*="col-"]
        margin-bottom: $space-unit

        > .select 
            margin-left: 0 !important
            margin-right: 0 !important

        &:last-child
            margin-bottom: 0

    &:last-child
        margin-bottom: 0

    label 
        display: block
        font-size: 14px
        line-height: 24px
    input,
    .select
        width: 100%
    
    .text
        line-height: 54px

    textarea
        width: 100%
        display: block
        height: 220px

    &.has-error
        input
            border: 2px solid $red

.input-lg
    input,
    select,
    textarea
        height: 54px
        padding: 12px 24px
        border: 0 !important

// [class*="col-"] > .select
//     margin-left: -15px
//     margin-right: -15px

.select
    position: relative
    display: block
    overflow: hidden
    height: 56px
    border: 2px solid $input-gray
    border-radius: 5px

    &:after
        position: absolute
        content: ""
        right: 16px
        width: 10px
        height: 10px
        border-right: 2px solid $dark-gray
        border-bottom: 2px solid $dark-gray
        transform: rotate(45deg)
        z-index: 9
        top: 0
        bottom: 0
        margin: auto

    select 
        padding-top: 0
        padding-bottom: 0
        width: 120% !important
        border: 0
        height: 56px
        line-height: 58px
        option 
            background: #FFF
            color: $gray
            line-height: 56px

    &.input-lg
        height: 56px

    &.round-select
        border: 0
        border-radius: 50px
        box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4)
        background-color: #ffffff
        select
            background-color: #ffffff

.input-group
    display: table
    width: 100%
    border-collapse: separate

    .action,
    .action > .btn
        min-width: 0
        width: 88px
    .action > .btn
        line-height: 52px

    .action.capcha
        width: 144px !important
        img 
            width: auto 
            max-width: 100%
            height: 54px
    
    &.search-box
        position: relative
        width: 100%
        max-width: 762px
        .input 
            input
                background: #FFFFFF
                box-shadow: 0 0 6px 0 rgba(182,182,182,0.57)
                border-radius: 32px
                &::placeholder
                    font-size: 16px
        .action
            position: absolute
            right: 0
            top: 0
            min-width: 40px
            text-align: right
            button
                border: 0
                background: none
        form
            width: 100%
            input 
                padding-right: $space-unit*7

    &.multi-input
        display: flex
        margin-top: 10px
        input
            flex: 1
            border-radius: 5px
            border-right: 1px solid $border-gray
        .input-short
            width: 30%
            max-width: 200px
            flex: none
        .text
            display: table-cell
            padding: 0 16px
            line-height: 48px
            font-size: 24px
            color: $light-gray
            text-align: center
            &:before
                content: ""
                display: inline-block
                width: 15px
                height: 2px
                background: $input-gray
                vertical-align: middle

    > *
        display: table-cell
        vertical-align: top

    input,
    .select
        width: 100%
        border-radius: 5px 0 0 5px
        margin: 0
        font-size: 16px
        border: 2px solid $input-gray
        border-right: 0
        
    .action 
        min-width: 60px
        > button
            margin: 0
            width: auto
            height: 54px
            line-height: 54px
            font-size: 16px
            padding: 0 16px
            border-width: 2px
            border-radius: 0 5px 5px 0

    
@media screen and (min-width: 769px)
    .form-group.row > label
        font-size: 18px
        padding-top: 15px
        + [class*="col-"].pt-1
            padding-top: 16px !important

@media screen and (max-width: 767px)
    .input-group
        display: flex
        .select
            height: 46px
            flex: 1
    