.item,
a.item,
a.item:link
    display: block
    color: $dark-gray
    text-decoration: none
    // height: 48px
    // line-height: 48px
    padding: 8px 16px
    transition: all .3s ease
    
    > i[class*="icon-"]
        vertical-align: middle
        
    .icon
        float: left
        width: 32px
        height: 32px

        + .content
            display: block
            margin-left: 55px
            h3 
                margin-top: 0

    .number
        float: left
        width: 48px
        height: 48px
        font-size: 24px
        text-align: center
        line-height: 48px
        font-weight: 500
        background: $bg-gray
        border-radius: 50px
        position: relative
        z-index: 9
        + .content
            display: block
            margin-left: 38px
            h2, h3, h4
                margin: 10px 0 20px
        
    &.item-step
        padding: 0
        margin-bottom: $space-unit
        b 
            float: left
            width: 64px
            font-weight: bold
        div.content
            margin-left: $space-unit*9
            display: block

section.sitemap a.item,
a.item:link,
.item[role="button"]
    &:hover,
    &:focus
        color: $main

    &:active,
    &.active,
    &.active:hover,
    &.active:focus,
    &.active:active
        color: $main

.list
    .item
        display: flex
        .content
            flex: 1 0 auto

    &.numbers 
        margin-bottom: $space-unit*7
        > .item
            position: relative
            padding-left: 0

            .number
                position: relative
                z-index: 2
                display: inline-block
                width: 48px
                height: 48px
                line-height: 48px
                text-align: center
                background: $text-decoration
                font-size: 24px
                border-radius: 50%
                margin-right: $space-unit*4

                + .content
                    margin-left: 0

            &:not(:last-child)::before
                content: ""
                position: absolute
                width: 1px 
                height: 100%
                display: block
                left: 22px
                top: 40px
                border-right: 4px dashed $text-decoration
                z-index: 0

    &.inline-content 
        background: #FFF
        box-shadow: 0 3px 10px 0 rgba(0,0,0,.25) 
        border-radius: 10px
        .item
            padding-top: 15px
            padding-bottom: 15px
            border-bottom: 1px solid $border-gray
            color: $dark-gray
            
            &:last-child
                border: 0
                
            .content 
                display: flex
                overflow: hidden
                width: 95%
            .content *
                display: inline-block
                vertical-align: middle
            h4 
                margin: 0
            .text
                flex: 1
                font-size: 14px
                margin-left: 10px
                color: $gray
                white-space: nowrap
                display: inline-block
                overflow: hidden
                text-overflow: ellipsis

.message
    padding: 0
    .item
        position: relative
        padding: $space-unit*2 $space-unit*4
        border-bottom: 1px solid $border-gray

        &.unread::before
            position: absolute
            content: ""
            float: left
            display: block
            width: $space-unit
            height: $space-unit
            border-radius: $space-unit/2
            background: $red
            left: $space-unit*2
            top: $space-unit*3
        .meta
            font-size: 14px
            color: #485b6b
            margin-bottom: $space-unit  
            *
                vertical-align: middle

.member-menu
    .item
        text-align: center
        flex-direction: column
        padding-left: $space-unit/2
        padding-right: $space-unit/2
        .text
            line-height: 1.3
        .icon
            width: auto
            height: auto
            float: none

.list.refund
    border-bottom: 1px solid $border-gray
    padding-bottom: $space-unit
    .item
        display: flex
        width: 100%
        justify-content: space-between
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAGCAYAAADzG6+8AAAAAXNSR0IArs4c6QAAAJdJREFUGBljYCATMIL0/f//n/Hu3cfh/xkYdBkYGRgZ/zO+Z2JiW6SkJP4Sl7ksIIk7957U/Wf43wBWBNQNZDP8//czDWigFiMj42+wOBrBBOIDlTmjiYPEVO48fiyHLg7jgzUyMvzfChOA0UAXX1WRlX0I46PTYD+CBO/efeL9j+GvLpDJ+J+B8T0rE+8KRUXBD+gaYHwAn6AvEasT1fYAAAAASUVORK5CYII=)
        background-position: center 13px
        background-repeat: repeat-x
        background-size: auto 3px
        padding: 0
        
        > div
            background: #FFF
    + .summary
        line-height: 48px
        font-weight: 600
        margin-bottom: $space-unit*5

.todo-list
    border-radius: 10px
    box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4)
    background-color: #ffffff
    margin-bottom: $space-unit*2
    > .item
        padding: $space-unit*2 $space-unit*3
        font-size: 16px
        border-bottom: 1px solid $border-gray

        &:last-child
            border-bottom: 0

        .meta
            margin-bottom: $space-unit
        .item 
            padding: 0
            line-height: 1.75

@media screen and (max-width: 767px)
    .item.item-step
        b 
            float: left
            width: 64px
            font-weight: bold
        div.content
            display: block
            margin-left: 72px

    .message
        .item
            padding: $space-unit*2 $space-unit*3
            &.unread::before
                left: $space-unit
                top: $space-unit*3

    .member-menu.row
        flex-wrap: nowrap
        margin-left: -$space-unit*2.5 !important
        margin-right: -$space-unit*2.5 !important
        .item
            &:first-child
                padding-left: 0
            &:last-child
                padding-right: 0
            .text
                font-size: 14px
                white-space: nowrap

    .todo-list
        .item
            .btn
                display: block 
                width: 100%
