

.label,
a.label:link
    display: inline-block
    font-size: 12px
    padding-left: 14px
    padding-right: 14px
    color: #FFF
    border-radius: 5px
    margin-right: $space-unit
    background: $bg-gray
    vertical-align: top

    &.is-large
        color: #FFF
        font-size: 14px
        padding: 2px $space-unit*2
    &.is-green
        background: $tag-green
    &.is-purple
        background: $tag-purple
    &.is-teal
        background: $tag-teal
    &.is-blue
        background: $tag-blue
    &.is-orange
        background: $orange
    &.is-red
        background: $red

ul.labels
    list-style: none 
    margin-left: 0
    padding-left: 0
    li 
        display: inline-block

        &.active > a
            background: $main !important
            border-color: $main !important
            color: #FFF 
.labels
    margin-bottom: $space-unit*2
    > span.text
        display: inline-block
        line-height: 1.5
        padding: 9px 0

    .label,
    a.label:link
        display: inline-block
        background: $bg-gray
        padding: 9px 20px
        font-size: 16px
        border-radius: 30px
        margin: 8px 0
        text-align: left
        color: $dark-gray
        box-shadow: 0 0px 0px 0 rgba(0,0,0,.2)
        transition: all .3s ease
        margin-right: 12px
        
        > *
            vertical-align: middle

        span.text
            margin-right: $space-unit
        &.is-link
            background: none
            color: $main
            padding-left: 0
            padding-right: 0
            margin: 0 $space-unit

        &:hover,
        &:focus
            box-shadow: 0 10px 18px 0 rgba(0,0,0,.2)
        &:active
            background: $disabled
            box-shadow: 0 0px 0px 0 rgba(0,0,0,.2)

        &.active
            background: $main !important
            border-color: $main !important
            color: #FFF 
            &[data-anchor]
                color: $orange

        &.outline
            background: #FFFFFF
            height: 40px
            line-height: 40px
            border: 1px solid $border-gray
            border-radius: 25px
            padding: 0 $space-unit*4
            
        &[data-anchor]:hover,
        &[data-anchor]:focus,
        &.outline.selected
            color: $orange

@media screen and (max-width: 767px)
    .labels 
        display: inline-block
        width: 100%
        
        &.mobile-in-scroll
            display: block
            width: calc(100% + 40px)
            white-space: nowrap
            margin-left: -20px
            margin-right: -20px
            overflow-x: auto 
            overflow-y: hidden
            padding: 0 20px
            -webkit-overflow-scrolling: touch

            .label
                float: none

        .label
            float: left
            display: inline-block
            clear: both
            &:not(.outline)
                padding-left: 40px !important
                line-height: 1.5
                i[class*="icon-"]
                    margin-left: -25px
        
        > .text
            font-size: 14px
            margin-right: 4px

        > .label.is-link,
        > a.label.is-link:link
            float: none
            font-size: 14px
            padding-left: 0 !important
            padding-right: 0 !important
            margin-left: 6px
            margin-right: 6px

.selected-label
    .label
        color: #FFF !important
        background: $main
        *
            display: inline-block
            vertical-align: middle
        > a
            line-height: 0
            margin-left: $space-unit