section
    padding-top: $space-unit*6
    // padding-bottom: 40px
    margin-bottom: 10px
    
    &.c-privacy
        margin-bottom: 0 !important

    .with-green-decoration 
        text-align: left
        line-height: 36px
        font-weight: bold

        &::before
            content: ""
            float: left
            width: 8px
            height: 36px
            border-radius: 5px
            background: $main
            margin-right: $space-unit

    &.filter-section
        padding-top: 32px
        padding-bottom: 32px
        .radio-labels
            margin-top: 0

    &.u-need
        padding-top: 124px
        padding-bottom: 196px
        border-radius: 5px
        img.bg
            position: absolute
            left: -70px
            right: 0
            margin: auto
            top: -50px

        img.main-line
            position: absolute
            right: -285px
            top: -150px
            z-index: 2

        &.with-scrollbar

        .panel
            .column
                display: flex
                flex-direction: column
                width: 100%
                padding: 0 30px
                .content
                    .item
                        padding-left: 0
                        padding-right: 0
            // &:before
            //     content: ""
            //     position: absolute
            //     width: 60%
            //     max-width: 680px
            //     height: 12px
            //     background-image: linear-gradient(-26deg, #B6E289 0%, #50B775 80%)
            //     left: 0px
            //     bottom: 0
            p
                text-align: left
                *
                    vertical-align: middle


    &.hot-event::before
        content: ""
        position: absolute
        width: 100%
        height: 320px
        display: block
        background: $main-gradient
        bottom: 0

    &.is-relax
        padding-top: $space-unit*8
        padding-bottom: $space-unit*8

    &.ad
        padding-top: $space-unit*6
        padding-bottom: $space-unit*8
    
    &.application-section
        img.application-image
            max-width: none 

    &.sales-section
        &::before
            content: ""
            position: absolute
            display: block 
            width: 100%
            height: 360px
            opacity: 0.8
            top: 98px
            background: #E6E6E6
            background-image: linear-gradient(-58deg, #5EC54E 14%, #30A75B 86%)
            z-index: 0
        > *
            position: relative
            z-index: 1
        .sales-container
            padding-top: 90px
        h1.sales-title
            color: #FFF
            font-weight: 400
            text-align: center
            margin-top: 0
            .select
                width: 240px
                margin-left: $space-unit*4
                margin-right: $space-unit*4
            > * 
                vertical-align: middle


    &.empty-section
        padding-bottom: 0
        margin-bottom: 0
        overflow: hidden
        .bg
            float: right
        .main-line
            position: absolute
            left: 0
            right: 0
            top: 60px
            margin: auto
    
    &.recommand-section
        margin-bottom: 0
        padding-bottom: 135px
        box-shadow: inset 0 -10px 20px rgba(0,0,0,.5) !important

        .section-title
            margin-bottom: $space-unit*6
        img.bg 
            position: absolute
            right: 0
            bottom: 0

        .list > .item
            display: flex
    &.faq
        background: $bg-gray
        .bg
            position: absolute
            width: 100%
            height: calc(100% + 148px)
            display: block
            overflow: hidden
            top: -148px
        
    &.document
        margin-bottom: 0
        padding-bottom: 160px
        
        .tab-pane
            border: 0
            background: none
            box-shadow: none
            .tab-content
                padding: 0

        .document-items
            .radio
                margin-bottom: $space-unit*4

        ul
            list-style: disc
            padding-left: 20px

        .download-block
            background-color: $bg-gray
            border-radius: 10px
            padding: $space-unit*3 $space-unit*3 $space-unit*3 $space-unit*4
            margin-bottom: $space-unit*2
            .btn
                margin: 10px 0
            h4 
                margin-top: 0
                margin-bottom: $space-unit*2
            a 
                font-size: 16px
                margin-right: $space-unit*4

        table.table
            border-bottom: 1px solid $border-gray
            margin-bottom: $space-unit*7
            tr > td:first-child
                text-align: left
            tr > th,
            tr > td
                text-align: center
                vertical-align: middle
        .bg
            position: absolute
            top: auto
            bottom: 0
            max-width: none
            left: auto
            right: 0
            margin: 0
            z-index: 0
        
        .document-section
            display: none
    
@media screen and (min-width: 768px)
    section
        &.recommand-section
            padding-bottom: 135px
            .section-title
                margin-bottom: $space-unit*6
           
@media screen and (max-width: 767px)
    section.u-need
        .with-scrollbar 
            overflow-y: hidden
            overflow-x: auto
            -webkit-overflow-scrolling: touch
            .panel
                width: 960px
            
        .panel
            .column
                flex: none
                flex-direction: row
                padding: $space-unit*2
                border-bottom: 1px solid $border-gray
                &:last-child
                    border-bottom: 0
                .image
                    text-align: center
                    width: 88px
                    margin-bottom: 0
                    margin-right: $space-unit*5
                .content
                    flex: 1 0 auto
                    align-content: center
                    align-items: center
                .icon-more-arrow
                    float: right
                    margin-top: 10px

    section 
        h1.section-title
            font-size: 20px
            
        &.filter-section
            padding-top: 24px
            padding-bottom: 24px
            
        &.group-section
            padding-bottom: 0
        &.recommand-section
            margin-bottom: 0
            img.bg
                width: auto
                height: 100px
            img.main-line 
                position: absolute
                bottom: 80px
                right: 0
                left: 0
                height: 51px
                margin: auto
        &.faq
            margin-top: 20px
        &.sales-section
            .sales-container
                h1 > .select
                    width: 80%
                    margin: $space-unit auto
        
        &.document
            padding-top: $space-unit*3
            .bg 
                height: 140px !important
                left: -270px