table.table
    width: 100%
    max-width: 1160px
    border-collapse: collapse
    tr > th,
    tr > td,
    tr > td.custom
        padding: $space-unit 10px
        font-size: 1rem
        line-height: 1.4
        vertical-align: top
        -webkit-text-size-adjust: none
        
    tr > th
        font-weight: bolder
    &.table-bordered
        border: 2px solid $disabled
    &.table-bordered > thead
        border-bottom: 2px solid $disabled
    &.table-bordered tr > th,
    &.table-bordered tr > td
        border: 1px solid $disabled

    &.paded
        tbody td 
            padding: 14px $space-unit *2
    
    &.table-striped
        tbody tr
            background: #FFF
        tbody tr:nth-of-type(even)
            background: #F8F9FC

    thead 
        color: #FFF
        background: $card-green
        th 
            border: 1px solid $border-gray
    tbody
        td.center-middle
            text-align: center
            vertical-align: middle
        
        > tr > td.border-orange
            border-left: 2px solid $orange
            border-right: 2px solid $orange
            
        > tr:last-child > td.border-orange
            border-bottom: 2px solid $orange
    tfoot 
        tr > td 
            font-weight: bold 
            font-size: 18px
    

table.table.table-collapse
    tr > td 
        .collapse-trigger
            color: $dark-gray

        .icon 
            float: left 
        .icon + .content
            margin-left: $space-unit*3

        .icon-chevron-up
            display: none
        .overview
            min-height: 44px
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            overflow: hidden
            text-overflow: ellipsis
            + .data-collapse
                display: none
                margin-top: $space-unit*3
                > small.location
                    display: block
                    border-left: 1px dashed $gray
                    padding-left: 15px
                    margin-left: -15px
                
        small
            line-height: 1.35 !important
    tr.is-open 
        border: 1px solid $main
        td
            .overview
                -webkit-line-clamp: initial
            .data-collapse
                display: block !important
            .icon-chevron-up
                display: inline-block
            .icon-chevron-down
                display: none

@media screen and (max-width: 960px)
    .table-response
        overflow-x: auto
        -webkit-overflow-scrolling: touch
        thead tr > th 
            white-space: nowrap

@media screen and (max-width: 767px)
    .table-response
        table.table
            white-space: nowrap
            
    table.table.reward-list
        tbody
            display: block
        tbody > tr,
        tbody > tr td
            display: block
            
    .table.table-collapse
        thead 
            display: none 
        tbody 
            > tr
                position: relative
                display: block
                background: #FFF !important
                border-radius: 10px
                margin-bottom: $space-unit*2
                box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4)
            
            > tr
                padding-top: $space-unit
                padding-bottom: $space-unit
            > tr.is-open .overview
                margin-bottom: $space-unit
            > tr,
            > tr > td
                display: block
                * 
                    vertical-align: top 

                .icon + .content
                    margin-left: 70px
                    .overview + .data-collapse
                        margin-left: -15px
                        small.location 
                            border-left: 0
                            padding: 0
                            margin: 0

                .overview
                    min-height: 0
                    height: auto 
                    display: inline-block
                    margin-bottom: 0
                    + .data-collapse
                        margin-top: 0
                        color: $gray
                        font-size: 14px
                        border-left: 1px dashed #7D8A94
                        padding-left: 15px
                        margin-left: 55px
                        small
                            font-size: 14px
                        p 
                            margin-bottom: $space-unit

            > tr > td[data-title]:before
                content: attr(data-title) "："
                float: left
                display: inline-block

            > tr td.text-right,
            > tr td.action
                position: absolute
                width: 100%
                right: 0
                top: $space-unit
                .collapse-trigger
                    width: 100%
                    display: block
                    text-align: right
                .text
                    display: none