.banner.activity
    position: relative
    height: 256px
    overflow: hidden

    &.activity-content
        height: 312px

    img 
        position: absolute
        width: auto 
        max-width: none
        height: 100%
        left: -100%
        right: -100%
        margin: auto
        z-index: 0
        bottom: 0

    .caption
        position: relative
        z-index: 1
        padding-top: $space-unit*13
        h1 
            margin-top: 0

    + .tab-container
        position: relative
        margin-top: -45px
        z-index: 2

        @media screen and (max-width: 960px)
            margin-top: -40px

    @media screen and (min-width: 1440px)
        img 
            width: 100%
            height: auto 
            top: -100%
            bottom: -100%
            left: 0
            right: 0
            margin: auto

    @media screen and (max-width: 767px)
        height: 272px 
        &.activity-content
            height: 272px 

        .caption
            padding-top: $space-unit*5
        // img 


// body.activity
//     background: #FFF
// .cards > .card
//     margin-bottom: $space-unit*4

.collapse-content
    position: relative
    display: block
    overflow: hidden
    height: 200px
    padding-bottom: $space-unit*5
    &:before
        content: ""
        position: absolute
        width: 100%
        height: 55px
        display: block
        bottom: 0
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.21), #ffffff)
    
    + .btn.collapse-content-trigger
        .for-close
            display: none
        .for-open
            display: inline-block

    &.open
        height: auto
        &::before
            display: none 

        + .btn.collapse-content-trigger
            .for-close
                display: inline-block
            .for-open
                display: none

@media screen and (max-width: 767px)
    .banner.activity 
        img 
            position: absolute
            width: 100% !important
            height: auto 
            left: 0
            right: 0

        + .tab-container 
            margin-top: -60px

            + .container section
                padding-top: 0