// body.auth
//     background: $bg-gray

//     main 
//         position: relative
img.auth-bg
    position: absolute
    right: 0
    top: 120px

    // h1 + p 
    //     font-size: 14px
        
.panel.login-panel
    margin-top: 20px
    margin-bottom: 30px
    .panel-body
        padding-top: $space-unit*6
        padding-left: $space-unit*7 
        padding-right: $space-unit*7 
        padding-bottom: $space-unit*5

        img.register-success
            width: 308px
    .action
        .btn
            margin-left: 0


@media screen and (max-width: 767px)
    // body.auth
    .panel.login-panel .panel-body
        padding: $space-unit*3 $space-unit*2
        
        img.register-success
            width: 207px