body 
    letter-spacing: 0

.bobebtn,
a.bobebtn,
a.bobebtn:link,
a.bobebtn:visited
    box-shadow: none !important
    &.bobebtn--major,
    &.bobebtn--important
        background: $main
        color: #FFF
        .bobeIconText
            color: #FFF
    &:hover
        top: 0 !important
        margin-top: 0 !important
        padding-bottom: auto
        box-shadow: none !important

.noticeBlock
    border: 1px solid #FCE8E8
    background: #FCE8E8
    color: $dark-gray
    font-size: 16px
    margin-bottom: $space-unit*3

    .noticeBlock__content,
    .fPrompt
        float: none
        text-align: left
        font-size: 16px
        a,
        a:link
            color: $dark-gray
            text-decoration: underline


.bobeProgress ul.progressStep
    li.progressStep__item
        &::after
            border-bottom: 2px solid #EEEEEE
            width: 90%
            left: 60%
            top: 28px

        .progressStep__number
            width: 40px
            height: 40px
            line-height: 40px
            background: #EEEEEE
            color: $placeholder
            border: 0
            font-size: 20px
            margin-top: 8px
            margin-bottom: 8px
        
        &.prev
            &::after
                border-bottom-color: $main
                top: 28px
        &.active,
        &.prev
            .progressStep__number
                color: #FFF
                background: $main


.radioInline
    position: relative
    flex: 1
    margin: 0 4px

    + div.radioInline[data-form="single"]
        width: 100%
        display: block
        flex: none
        margin-top: 12px
        &:before
            content: ""
            display: block

input[type=radio]
    &:checked+label:before
        border-color: $main
    &:checked+label:after
        background: $main

#agree + label
    line-height: 32px
    padding-left: 40px

    &::before
        background: #FFF
        border: 1px solid $border-gray
        width: 32px
        height: 32px

#agree + label::after
    width: 10px
    height: 15px
    left: 11px
    top: 9px
    border-right-color: $dark-gray
    border-bottom-color: $dark-gray

* > input[type=checkbox]
    + label:after
        top: 12px
        width: 8px
        height: 13px

    + label:before
        width: 24px
        height: 24px

    &:checked + label:after
        top: 12px
        width: 8px
        height: 13px
        left: 8px
    &:checked + label:before
        background: $main



@media screen and (max-width: 767px)
    .bobeProgress ul.progressStep
        li.progressStep__item
            &::after
                top: 26px