.banner.claim
    position: relative
    min-height: 312px
    background: $bg-gray
    display: block
    z-index: 0

    &.with-card
        padding-top: 36px
        h1
            margin-top: 32px
        .card
            padding: $space-unit*3 $space-unit*5
            .text
                line-height: 1.3
    .caption
        position: relative
        padding-top: 107px
        width: 100%
        max-width: 798px
        z-index: 1

        h1 
            margin: 0 0 $space-unit*2
    img
        position: absolute
        right: -100px
        top: -140px
        z-index: 0

// body.claim
//     background: #FFF
//     left: auto

.recommand-section
    padding-bottom: $space-unit*4

    h1.section-title 
        margin-bottom: $space-unit*5
        
img.claim-bg
    position: absolute
    bottom: -70px
    left: 0
    right: 0
    margin: auto

// .cards.accident
//     margin-bottom: 140px

@media screen and (max-width: 1024px)
    .banner.claim
        height: auto
        &.with-card
            .action > .btn
                min-width: 0
                width: 44%

@media screen and (max-width: 767px)
    .banner.claim
        height: auto
        top: 0
        // overflow: hidden
        &.with-card
            margin-bottom: $space-unit*3
            h1 
                text-align: center
                line-height: 1.6
                margin-top: 0
            .action 
                padding: 0 $space-unit*2
                > .btn
                    display: block
                    width: 100%
                    margin: $space-unit 0
            .card
                margin-top: $space-unit*3
                padding-left: 25px
                padding-right: 25px
                padding-bottom: 16px
                h4 
                    font-size: 20px
                    font-weight: bold 
                p.text, h4 
                    padding-left: 15px
                    padding-right: 15px

                .btn
                    display: block
                    width: 100%
                    margin: 0
        img
            height: 214px
            top: auto
            bottom: -20px
            left: 0
            right: 0
            margin: auto
        .caption
            width: auto
            text-align: center
            margin-left: -10px
            margin-right: -10px
            padding: $space-unit*4
        
        .desp
            font-size: 14px
            line-height: 1.5

    // body.claim  
    .claim-menu .select2
        width: 100%
        .select2-selection--single
            border-radius: 50px

    .recommand-section
        padding-bottom: $space-unit*20
    
    .cards.accident 
        margin-bottom: $space-unit*7