.banner.commercial-ins
    position: relative
    height: 420px
    overflow: hidden
    img
        position: absolute
        width: auto
        height: 100% 
        left: -100%
        right: -100%
        top: -100%
        bottom: -100%
        margin: auto
    .caption
        display: block
        height: 200px
        top: 50px
        position: absolute
        color: #FFF

        h1 
            margin-bottom: 60px
            line-height: 1.5

.banner.business
    height: 312px
    .owl-item .item
        height: 312px
    img 
        position: absolute
        width: auto 
        right: 0
        bottom: 0
    .caption
        color: #FFF    
        margin-top: 50px

// body.commercial-ins
section.sitemap .insurace-type .item
    font-size: 16px !important

section.statics
    .static-container
        position: relative
        &::before,
        &::after
            content: ''
            position: absolute
            display: block
        &::before
            width: 160px
            height: 116px
            background: $main-gradient
            top: -28px
            left: -27px

        &::after
            width: 620px
            height: 200px
            background: $bg-gray
            right: -50px
            top: -40px

.contact-block
    width: 100%
    flex-wrap: nowrap
    margin-top: 106px  
    margin-bottom: $space-unit*8
    margin-left: 0 !important
    margin-right: 0 !important

.sitemap
    padding-top: 60px


@media screen and (min-width: 1440px)
    .banner.commercial-ins
        img 
            width: 100%
            height: auto
            
@media screen and (max-width: 767px)
    .banner.commercial-ins
        height: 280px
        img
            left: -150%
            max-width: none
        .caption
            top: 50px
            h1 
                margin-top: 0
                margin-bottom: $space-unit*3
            .action
                width: 180px
                .btn
                    display: block
                    margin-left: 0

    .banner.business
        .owl-item .item
            height: 272px
            padding: 0
            .caption
                margin-top: 40px

    // body.commercial-ins
    // .contact-block
    //     .contact-item
    //         padding-left: $space-unit*2
    //         padding-right: $space-unit*2