.banner.company
    position: relative
    min-height: 312px

    &.compact
        height: 256px
        img
            height: 100%
        .container
            padding-top: $space-unit*13
    &.auto-height
        height: auto
        padding-bottom: $space-unit*9
        
    img
        position: absolute
        right: 0
        bottom: 0
        height: 295px
    
    @media screen and (max-width: 640px)
        img 
            top: 20px
            right: -100px

.breadcrumb-container + .banner.company
    top: auto 
    margin-top: -50px
    margin-bottom: 0

    + .tab-container
        position: relative
        z-index: 3
        margin-top: -45px

        @media screen and (max-width: 960px)
            margin-top: -42px !important

// body.company
.company-menu,
.company-maintain
    padding-top: $space-unit*7
.company-maintain
    padding-left: 60px
    padding-right: 60px
    ul, ol
        li
            margin-bottom:  $space-unit*2

.job-flow
    .col
        &:last-child::before,
        &:last-child::after
            display: none
        &::before,
        &::after
            content: ""
            position: absolute
            top: -32px
            bottom: 0
            margin: auto
        &::after
            width: 32px
            height: 1px
            right: -13px 
            border-top: 1px dotted #FFF

        &::before
            right: -20px
            width: 0
            height: 0
            border-left: 5px solid #FFF
            border-top: 5px solid transparent
            border-bottom: 5px solid transparent
            border-right: 5px solid transparent

    .text
        white-space: nowrap
        
section.people 
    padding-bottom: 0
    > img
        display: block
        margin: auto

section.future
    &::before
        position: absolute
        content: ""
        width: 100%
        height: 1138px
        background: $main-gradient

    .bg
        position: absolute
        bottom: 0
        right: 0

section.glory::before
    content: ""
    position: absolute
    width: 100%
    height: 320px
    top: 240px
    background: $main-gradient
    opacity: .8

.reward
    .bg
        position: absolute
        top: -50px


@media screen and (min-width: 1200px)
    .banner.company,
    .banner.company.compact
        img 
            width: 100%
            height: auto
            bottom: 0


@media screen and (max-width: 1024px)
    // body.company
    .job-flow
        .col 
            flex-basis: auto
            width: 25%
            margin-bottom: $space-unit*3
            &:nth-child(4)::before,
            &:nth-child(4)::after
                display: none

@media screen and (max-width: 767px)
    // .banner.company
    //     h1 
    //         text-align: center
    .job-flow
        .col 
            img 
                width: 100%
                height: auto
            .text
                font-size: .9rem
                line-height: 1.3
                white-space: normal
                word-break: break-all
            &::before
                right: -12px
            &::after
                width: 14px
                right: -6px