
.banner.helper
    // margin-top: -48px
    display: flex
    margin-bottom: 0
    background: #68cb95
    padding: 0
    height: 312px
    z-index: 0
    color: #FFF

    + .tab-container
        position: relative
        margin-top: -46px
        z-index: 2

    .container
        padding-top: 100px
        h1 
            margin-top: 0

    img 
        position: absolute
        height: 304px
        width: auto
        right: 0
        bottom: 0

    &.short
        height: 312px
        padding: 0
       
        .caption
            h1 
                margin: 0 0 $space-unit*2

// body.helper
    
.form-panel
    padding: 50px

.accordion-title
    padding: 0
    margin-bottom: $space-unit*2

.tab-container.main-tab
    position: relative
    z-index: 9
    margin-top: -45px

    @media screen and (max-width: 960px)
        margin-top: -40px

    .tab-header
        border-bottom-width: 4px
        
    ul 
        > li.active > a
            color: #FFF
            background: #00a94f
        > li > a
            min-width: 200px
            background: $bg-gray

    .tab-pane > .tab-content
        padding-top: 40px


//     form 
//         margin-bottom: 100px

.image-empty 
    margin-top: $space-unit*7
    text-align: center
    img
        width: 315px

.helper-menu
    padding-top: $space-unit*7

.helper-maintain
    position: relative
    background: $bg-gray
    padding: $space-unit*7 45px
    padding-bottom: 60px
    min-height: 600px

    > h4
        line-height: 36px
    
    * 
        position: relative

    &::before 
        content: ""
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 200%
        background: $bg-gray
        z-index: 0
        box-shadow: inset 4px 0px 10px 0 rgba(225, 228, 233, 0.8)
        
    .highlight
        color: $orange
        vertical-align: top
    
ul.menu
    li
        margin: $space-unit*4 0
    li > a
        line-height: 22px
        padding: 0
        cursor: pointer

    li.active > a
        padding-left: 22px
        border-left: 4px solid $main

main 
    section.faq-section:first-child
        padding-top: 0

section.faq-section
    font-size: 16px
    .faq-title
        font-weight: bold
        margin-bottom: $space-unit*3
        border-bottom: 1px solid $border-gray
        padding-bottom: $space-unit
    
    ol, ul
        padding-left: 20px
        margin-bottom: $space-unit*2
        > li 
            padding: $space-unit 0
    ul 
        list-style: disc 

.faq-list
    margin-bottom: $space-unit*8
    a.download.item
        position: relative
        box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4)
        border-radius: 5px
        margin-bottom: 20px
        padding: 24px 80px 24px 24px
        background: #FFF
        h4 
            margin: 0
            font-weight: 500
        .icon
            position: absolute
            right: 20px
            top: 0
            bottom: 0
            margin: auto 
            text-align: center
            background: #FFF

@media screen and (max-width: 768px)
    .banner.helper
        img 
            width: auto
            max-height: 150px

        .caption
            max-width: 400px

    body.helper.location
        .tab-container,
        .tab-container.main-tab
            margin-top: -56px

@media screen and (max-width: 767px)
    .banner.helper
        img 
            width: auto
            max-height: 150px

        .caption
            max-width: 400px

    .image-empty  img
        width: 250px

    .search-recommand
        text-align: center

    .form-panel
        padding: 16px       
    .helper-menu 
        display: none
    
        main 
            background: $bg-gray

    .helper-maintain
        padding: 0 10px
        background: none

        &::before
            display: none !important
        
        form 
            margin-bottom: 0

@media screen and (max-width: 640px)
    .banner.helper
        text-align: center
        overflow: hidden
        height: 312px
        &.short
            height: 272px
        
        .container
            align-self: start
            padding-top: 0
            margin-top: $space-unit*5

        img 
            width: 100%
            height: auto
            max-height: none
            left: 0
            right: 0
            margin: auto
            bottom: 0px
        .input-group .input
            width: 100%
         