// body.index
//     background: #FFF

section
    position: relative

section.search-container
    .input-group.input-lg
        .action
            .btn
                font-size: 18px

section.news-container
    .list
        padding-left: 20px
        .item
            border-bottom: 1px solid $border-gray
    .news-title
        margin: -3*$space-unit 0 0px
        padding-left: 20px
    .more
        font-size: 16px
        line-height: 20px
        margin-top: 10px
        *
            vertical-align: middle
    .item,
    .caption
        display: inline-block
        width: 100%
        padding: 2*$space-unit 0 
        .title
            font-size: 16px
            line-height: 26px
            height: 52px
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical  
            overflow: hidden
        .meta
            color: $blue-gray
            font-size: 14px
            margin-bottom: $space-unit
            .public_at
                display: inline-block
            .category
                display: inline-block
                color: #FFF
                margin-right: 10px
                line-height: 22px
                border-radius: 5px
                padding: 0 2*$space-unit
                &.news
                    background: $secondary
                &.activity
                    background: $orange 
                &.bulletin
                    background: $red

    .main-news
        position: relative
        display: block
        transition: all .3s ease
        &:hover,
        &:focus
            transform: scale(1.05)
            .caption .title
                color: $main
            
        .caption
            padding: 2*$space-unit 3*$space-unit $space-unit 
            bottom: -10px
            right: 50px
            color: $dark-gray
            background: #FFFFFF
            border: 1px solid #D7E4E4
            box-shadow: 0 28px 35px -15px rgba(0,0,0,.2)
            z-index: 9
            border-radius: 0 0 10px 10px
            .title
                // white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
        .image
            position: relative
            padding-bottom: 41.25%
            height: 0
            overflow: hidden
            border-radius: 10px 10px 0 0

            img
                position: absolute
                width: 100%
                top: -100%
                bottom: -100%
                left: -100%
                right: -100%
                margin: auto

section.statics
    .row.cards
        &::before,
        &::after
            content: ""
            position: absolute
            display: block
            z-index: 0
        &:before
            width: 151px
            height: 116px
            top: -24px
            left: -28px
            background-image: linear-gradient(-51deg, #B6E289 22%, #50B775 100%)
        &:after
            width: 620px
            height: 212px
            right: -72px
            top: -72px
            background: #f0f5f5

    .static-container
        position: relative
        &::before,
        &::after
            content: ''
            position: absolute
            display: block
        &::before
            width: 160px
            height: 116px
            background: $main-gradient
            top: -28px
            left: -27px

        &::after
            width: 620px
            height: 200px
            background: $bg-gray
            right: -50px
            top: -40px

    .card.static
        position: relative
        z-index: 9
        transition: transform .3s ease
        .description
            color: $light-gray
        h1 
            margin-bottom: 20px
        &:hover,
        &:focus
            transform: scale(1.05)

    .section-title 
        margin-bottom: 110px
        img
            margin-bottom: $space-unit*3

section.promotion-section
    margin-bottom: 0
    img.promotion-bg
        position: absolute
        right: -476px
        bottom: -50px
        z-index: 0

    .promotion
        position: relative
        color: #FFF
        background-image: $main-gradient
        z-index: 9
        padding: 44px 0 50px
        .item
            display: inline-block
            margin: 0 5px
            text-align: center
            .btn
                width: 120px
                margin: 0
            .image
                margin-bottom: $space-unit*2
        .quote
            margin-top: 40px
            font-weight: 500
        .main-line
            position: absolute
            top: 190px
            left: -205px

section.sitemap
    padding-top: 167px
    padding-bottom: 40px
    margin-bottom: 0
    
    a.item 
        display: block
        height: 36px
        color: $blue-gray
        line-height: 36px
        small
            display: inline
            color: #9A9EAD
            font-size: 14px
            vertical-align: middle

    h3 
        margin-bottom: 0px

    img.main-line
        display: block
        margin-left: auto
        margin-right: auto
    img.bg
        position: absolute
        bottom: 0
        right: 0
    img.sitemap-bg
        position: absolute
        top: 0
        left: 0

    .insurace-type
        position: relative
        width: 25%
        padding-bottom: 40px
        h3 
            font-weight: bold
            margin-bottom: $space-unit
        .item
            padding-left: 0
            font-size: 16px !important
            height: 40px
            line-height: 40px
            height: auto
            padding: 0
            small 
                vertical-align: bottom
            &:hover,
            &:focus
                background: none

    .insurace-type::before
        content: ""
        position: absolute
        top: 0
        margin: 0
        width: calc(100% - 20px)
        height: 4px
        background-image: linear-gradient(90deg, #50B775 0%, #B6E289 100%)
        
    .section-title
        margin-bottom: 55px

.campaign
    padding-bottom: 53px
    &.tab-pane
        background: none
        border: 0
    a,
    a:link
        color: $dark-gray !important

    img 
        margin-top: -75px
    h2.campaign-title
        font-size: 36px
        margin-bottom: 10px
        &:before
            content: "\e922"
            font-family: 'icomoon'
            font-size: 25px
            color: $orange
            position: relative
            vertical-align: super
            top: -8px
            margin-left: -30px

section.search-banner
    .parallax
        position: absolute
        top: -102px
        left: -50px
        div
            position: absolute
            z-index: 0
            width: 100vw
            height: 680px
            text-align: center

            img
                margin: 0 auto

    .campaign
        margin-top: 170px
    .container
        position: relative
        z-index: 9
        h2.slogan
            margin: 0 0 20px
            text-align: center
    
    .search-container
        padding-top: $space-unit*3
        .tab-pane 
            border: 0
            .tab-content
                padding: 0 !important

    .input-group, 
    .input-group .input
        position: relative
        height: 56px
        + .action button.btn 
            height: 56px
            margin: 0
            border: 0

    .select.index-dropdown
        overflow: visible

        &::after
            top: 20px
            bottom: auto
            margin: 0

        > span.select-render
            display: block
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            background: #FFF
            height: 54px
            line-height: 54px
            border-radius: 5px 0 0 5px
            padding: 0 $space-unit*4 0 $space-unit*3
            background: #ffffff
            
        select
            width: 100%
            opacity: 0
            position: absolute
            top: 0
            left: 0
            option
                display: none

        .dropdown-menu
            position: relative
            left: 0
            display: none
            width: 100%
            background: #ffffff
            border-radius: 10px
            padding: $space-unit*2 0
            box-shadow: none

            &:before
                content: ''
                display: block
                width: calc(100% - 48px)
                height: 1px
                margin: -$space-unit*2 auto $space-unit
                background: $border-gray

            ul > li
                > a
                    color: $dark-gray
                    display: block
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                &:hover,
                &:focus
                    background: $bg-gray
                
            ul > li,
            .action > a
                display: block
                padding: $space-unit $space-unit*3

                
        &.is-open 
            position: absolute
            height: auto
            border-radius: 5px 0 5px 5px
            box-shadow: 0 10px 20px 0 rgba(226,226,226,.7), 0 15px 40px 0 rgba(0,0,0,.5)
            span.select-render
                border-radius: 5px 0 0 0
            > .dropdown-menu
                display: block
                border-radius:  0 0 5px 5px !important

    ul.tab
        margin: 0
        border-bottom: 0
        li 
            margin: 0
        li > a,
        li > a:hover,
        li > a:focus
            color: #FFF !important
        li.active > a 
            color: #FFF 
            background: $blue-gray
            border-radius: 5px 5px 0 0
        + .tab-pane > .tab-content .input-group 
            .select,
            > .input > *
                border: 0

        + .tab-pane > .tab-content:first-child .input-group
            .select, 
            .select span.select-render,
            > .input > *
                border-radius: 0 0 0 5px
            .select.is-open span.select-render
                border-radius: 0 0 0 0


.situation-content
    position: relative
    z-index: 9
    background: #F8F8F8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKklEQVQYV2NkYGCQYmBgeMaABhihfAxJmARIHkUSWQJFEl0CLolNAiwJAKjUBSHIEo60AAAAAElFTkSuQmCC) repeat
    
    .tab-pane
        border: 0
        background: none
    .tab-content
        padding: 50px 0 20px

    h2 
        font-size: 36px
        margin: 0
        small
            color: $blue-gray
            font-size: 20px
            display: block
            margin-bottom: 15px
        &:before
            position: absolute
            color: $green
            content: "\e922"
            font-family: 'icomoon'
            margin-left: -60px
            margin-top: -12px
    .link
        margin-top: $space-unit*2

.situation-nav
    background: #FFF
    ul.tab
        display: table
        table-layout: fixed
        width: 100%
        border-bottom: 0
        > li 
            display: table-cell
            margin-right: 0
        > li > a
            position: relative
            padding: 20px 0 30px
            text-align: center
            border-radius: 5px
            background: #FFF
            border: 0
            &:hover,
            &:focus
                background: #f8f8f8
        
            .tab-arrow
                display: none !important
                position: absolute
                bottom: 0
                left: 0
                right: 0
                margin: auto
                line-height: 0
                transform: rotate(180deg)
                img
                    height: 16px
            .icon > i
                font-size: 80px
                color: $main
                background: -webkit-linear-gradient(#099E69 0%, #6BCA50 71%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
            .text 
                font-size: 18px
                margin-top: 10px
        li.active > a
            background-image: linear-gradient(309deg, #6bca50, #099e69)
            box-shadow: 0 3px 10px 0 rgba(131,208,122,0.50), 0 10px 20px 0 rgba(160,230,173,0.49)
            .tab-arrow
                display: block
            .text,
            .icon > i
                color: #FFF
            .icon > i
                color: #FFF
                background: -webkit-linear-gradient(#fff, #fff)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent

@media screen and (max-width: 960px)
    section.search-banner
        .parallax
            width: 180%
            left: -120%
            right: -100%
            top: 10px
            margin: auto
            div,
            img 
                width: 100%
            img 
                height: auto
        .container
            h2.slogan
                margin: 60px auto 20px
                text-align: center
                width: 90%
                img
                    width: 100%
                    height: auto !important
            .input-group
                display: block
                > *
                    display: block
                &.input-lg .select.index-dropdown,
                &.input-lg .select.index-dropdown > span.select-render
                    display: block
                    border-radius: 5px !important
                    border: 0 !important

                .action
                    width: 100%

                .action > button.btn.btn-dark
                    display: block
                    width: 100%
                    max-width: none
                    margin-top: 17px
                    background: #5AB649
                    border: 1px solid rgba(255,255,255,.8)
                    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.18)
                    border-radius: 5px
        
    section.campaign
        background: none
        top: 70px
        img 
            margin-right: -15px
            width: 155px
        h2.campaign-title
            font-size: 20px
            margin-top: -50px
            margin-left: 28px
            margin-right: 136px
            &::before
                margin-left: -35px
                margin-right: 8px
            + p.description
                font-size: 12px
                line-height: 1.25
                margin-left: 28px
                margin-right: 150px

    section.situation
        background: none

        .situation-container
            position: relative

    .situation-nav
        width: calc(100% + 40px)
        text-align: center
        height: 94px
        margin-left: -20px
        margin-right: -20px
        overflow-x: auto
        -webkit-overflow-scrolling: touch

        ul.tab
            display: block
            margin: auto
            height: 94px
            border-bottom: 0
            white-space: nowrap
            > li
                display: inline-block
                position: relative
                &:first-child ~ li 
                    margin-left: -4px
                > a
                    width: 104px
                    padding: 8px 10px
                    .tab-arrow
                        display: none
                    .icon > i
                        font-size: 60px
                    .text
                        line-height: 1
                        font-size: 14px
                        margin-top: $space-unit/2
                
                &.active > a
                    border-radius: 5px 5px 0 0
                    .text
                        color: #FFF
                        
    .situation-content
        background: #F8F8F8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKklEQVQYV2NkYGCQYmBgeMaABhihfAxJmARIHkUSWQJFEl0CLolNAiwJAKjUBSHIEo60AAAAAElFTkSuQmCC) repeat
        .tab-pane .tab-content
            padding-bottom: $space-unit*2
        h2 
            font-size: 24px
            line-height: 32px
            small
                display: block
                font-size: 16px
                line-height: 1
                margin-bottom: $space-unit
            &::before
                margin-left: -32px

    section.u-need
        padding-top: 116px
        padding-bottom: 32px
        img.bg 
            left: auto
            right: -320px
            margin: auto
            top: 115px
        img.main-line
            height: 73px
            right: -55px
            left: auto
            top: -120px
        .panel
            padding: 0
            display: block
            &::before
                left: 0
                width: 100%
                border-radius: 0 0 5px 5px
            .column
                padding: $space-unit*2 $space-unit*3 !important
                
    section.news-container 
        .main-line
            display: none
        .main-news .caption
            padding-left: $space-unit*2
            padding-right: $space-unit*2
            border-radius: 0
        .list 
            padding-left: 0
            border-width: 0 1px 1px 1px
            border-color: $border-gray
            border-style: solid
            border-radius: 0 0 5px 5px
            > .item
                background: #FFF
                padding-left: $space-unit*2
                padding-right: $space-unit*2
                &:last-child
                    border-radius: 0 0 5px 5px

    section.sitemap
        padding-top: 0
        img.bg 
            position: absolute
            right: 0
            bottom: 0
        .sitemap-bg
            display: none
        .sitemap-container
            margin-left: -20px
            margin-right: -20px
            padding-left: 20px
            padding-right: 20px
            overflow-x: auto
            -webkit-overflow-scrolling: touch
        .section-title
            margin-bottom: $space-unit*3
        .row
            display: block
            white-space: nowrap
            margin-bottom: 25px
        .insurace-type
            vertical-align: top
            display: inline-block
            width: 256px
            padding: 0 10px
            h3
                font-size: 20px
                margin-bottom: 0
            .item
                font-size: 16px

    .social-link
        .item
            display: inline-block
