.scrolldown
    position: fixed
    width: 40px
    height: 40px
    line-height: 38px
    display: none
    border-radius: 50%
    background: #FFF
    left: 0
    right: 0
    margin: auto
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2)
    bottom: 30px
    z-index: 999
    transform: translateY(0px)
    transition: all .3s ease
    text-align: center
    > *
        vertical-align: middle
    &.slide-out
        transform: translateY(100px)

    @media screen and (min-width: 992px)
        display: block

.banner.insurance
    position: relative
    display: block
    background: #68cb95
    height: 312px
    z-index: 0

    .breadcrumb 
        position: absolute
        top: 0

    &.document
        background: $bg-gray
        .caption
            position: relative
            color: $dark-gray
            bottom: auto
            padding-top: $space-unit*14

    &.travel-insurance,
    &.car-insurance
        background: $bg-gray
        overflow: hidden
        height: 440px
        padding-top: 80px
        z-index: 0

        &.compress
            height: 320px

        img 
            z-index: 0
            right: 0
            bottom: 0

        ul.tab
            position: relative
            z-index: 9
        
        .container
            z-index: 2
        .caption
            margin-left: 30px
            position: relative
            color: $dark-gray
            bottom: auto
            
            h4 
                margin-bottom: 0    
            .quote
                margin-top: $space-unit
            .quote::before
                content: "\e922"
                position: relative
                font-family: 'icomoon'
                font-size: 25px
                color: $main
                vertical-align: super
                margin-left: -35px
                margin-right: 5px
                top: -5px

    &.travel-insurance
        background: $text-decoration
        img 
            z-index: 0
            right: 30px
            bottom: 20px

    .owl-dots
        bottom: -35px
        > button.owl-dot
            width: 12px
            height: 12px

    .container
        height: 312px
        position: relative
    .item
        position: relative
        height: 312px
        padding: 0
        overflow: hidden
    img 
        position: absolute
        right: 0
        bottom: 0
        width: auto
    .caption
        position: absolute
        bottom: 40px
        width: 90%
        max-width: 760px
        color: #FFF
        h1 
            font-weight: 400
        .action .btn
            width: 320px
       
// body.car-insurance
//     background: #FFF 

h1.section-title 
    margin-bottom: $space-unit*7

.contact-block
    margin-top: 0
    .panel
        z-index: 1
        position: relative
        background: #FFF
    a.contact-item
        border-right: 1px solid transparent
        &::after
            content: ""
            position: absolute
            display: block
            right: 10px
            top: 0
            bottom: 0
            margin: auto
            width: 1px 
            height: 48px
            z-index: 2
            background: $disabled
        &:last-child:after
            display: none
    * 
        position: relative
        z-index: 1
        display: flex
.carousel-bg
    position: absolute
    top: -32px
        
// body.insurance
//     &.insurance-index .labels
//         margin-bottom: $space-unit*8
    
img.payment-bg
    top: 120px
    right: 0
    position: absolute

img.promotion-bg
    position: absolute
    right: 0
    bottom: 0
    // &.document
    //     background: #FFF
section.green-wave
    padding-bottom: 60px
    margin-top: 120px
    background-image: linear-gradient(0deg, #7AC554 32%, #3AB968 83%)
    
    h1.section-title, h4
        color: #FFF

    img.bg-wave
        position: absolute
        top: -80px
        min-width: 1920px
        width: 100%
        height: 80px
        left: -100%
        right: -100%
        margin: auto

    .accordion 
        .accordion-header > h4
            position: relative
        h4
            color: $dark-gray


.tab-pane 
    background: #FFFFFF
    border: 1px solid #E1E4E9
    box-shadow: 0 30px 40px -5px rgba(227,229,229,0.60)

.tab-content
    padding: 40px 0
    h3.tab-title
        text-align: center
        margin-bottom: 40px
        font-weight: bold
            
h3.tab-title
    text-align: center
    margin-bottom: 40px

section.promotion
    img 
        max-width: 100%
        height: auto
    .item
        .icon
            float: left
        .content
            margin-left: 48px
            h3 
                font-weight: bold

.cards img.bg
    position: absolute
    left: 0
    top: -50px
    height: 456px

// .cards .card 
//     // .image
//     //     padding-bottom: 37.142857142%
//     .content,
//         padding: $space-unit*3 20px
//         .description 
//             font-size: 16px
//         .meta 
//             color: $gray
//     .action
//         padding: 15px 20px

.chart-img
    width: 100%
    height: auto

// section.sitemap 
//     margin-bottom: 0
//     padding-bottom: 100px
//     .bg 
//         position: absolute
//         right: 0
//         bottom: 0
//     .main-line
//         margin: auto
//         display: block
    
.contact-item
    display: flex
    .icon 
        float: left
        margin-right: $space-unit
    .content
        flex-direction: column

@media screen and (max-width: 992px)
    // body.insurance
    .car-insurance-image
        position: relative
        height: 150px
        margin-top: -80px
        right: -110px
        max-width: none

@media screen and (max-width: 768px)
    .banner.insurance
        img 
            height: 240px
        .caption .action .btn
            min-width: 240px
            width: 240px

    // body.car-insurance .contact-block::after
    //     display: none !important

@media screen and (max-width: 767px)
    .banner.insurance
        img 
            height: 174px !important
            right: 0px
            bottom: 0
        .caption
            top: 20px
            bottom: auto
            h1 
                font-size: 20px
                line-height: 28px
            .action
                width: 180px

            .btn
                height: 40px
                line-height: 40px

        &.travel-insurance,
        &.car-insurance
            padding-top: $space-unit*4
            height: auto

            &.compress
                text-align: center
                
            .container
                height: auto
            .caption
                margin-left: 0
            img 
                position: relative
                right: 0
                bottom: 0
                margin: auto
                display: block
            

    // body.insurance
    //     img.promotion-bg
    //         position: relative

    //     h1.section-title 
    //         margin-bottom: $space-unit*2

    //     section.pb-xs-0
    //         padding-bottom: 0

    //     .tab-container
    //         .tab-header
    //             .container
    //                 padding: 0

    //             ul.tab
    //                 li 
    //                     vertical-align: bottom
    //                     a
    //                         letter-spacing: 0
    //                         padding: 0
    //                         height: 40px
    //                         line-height: 40px
    //                         border-radius: 0

    //         .tab-pane
    //             .container
    //                 padding: 0
    //             .tab-content
    //                 padding: 0
    //                 .container
    //                     padding: 0
    //                 h3.tab-title
    //                     font-size: 18px
    //                     margin-bottom: 10px
    //                 .row.introduce
    //                     [class*="col-"]
    //                         padding-left: 20px
    //                         padding-right: 20px
    //                         margin-bottom: 40px
    //                         .content
    //                             margin-bottom: 20px
    //                         .action
    //                             .btn
    //                                 margin-right: 20px
    //                 .section
    //                     max-width: 100%
    //                     padding-left: 24px 
    //                     padding-right: 24px 
                   
    //                 .progress
    //                     [class*="col"]
    //                         margin-bottom: 20px
    //                         .content h4 
    //                             margin-top: 0
    //                             margin-bottom: 0

    //     .panel .column:first-child
    //         border-bottom: 1px solid $border-gray

    //     .ins-table
    //         .panel-body,
    //         .panel-body *
    //             font-size: 14px

    .contact-item
        display: flex 
        flex-direction: column
        text-align: center
        padding: 0 $space-unit*2
        align-content: center
        align-items: center
        img,
        .icon
            float: none
            margin: 0

        .content > .text
            font-size: 16px
            line-height: 1.5

@media screen and (max-width: 767px)
    .banner.insurance
        &.document
            .caption
                width: 100%
                padding-top: 0px