
img.member-bg 
    position: absolute
    top: 0
    left: 0
    max-width: 100%
    + main 
        padding-top: $space-unit*12

.panel.member-panel
    display: flex
    height: 100%
    flex-direction: column
    font-size: 16px
    margin: 0
    padding: $space-unit*3 $space-unit*4 $space-unit
    .btn 
        min-width: 0
    .promotion-line
        margin-top: $space-unit*2 
        margin-bottom: $space-unit*2
        margin-left: -$space-unit*4 !important
        margin-right: -$space-unit*4 !important
        background: $bg-gray
        padding: $space-unit

    .action
        padding: $space-unit*2 $space-unit*3

    .message
        flex: 1


@media screen and (max-width: 768px)
    
    img.member-bg + main 
        padding-top: $space-unit*5

    .panel.member-panel
        height: auto
        margin-bottom: $space-unit*2
        .badge-image img 
            width: 57px
        .promote-upgrade-member
            text-align: left
