.banner.offer
    background: $text-decoration
    padding-top: $space-unit*14
    height: 420px
    img.bg
        position: absolute
        right: $space-unit*4
        bottom: $space-unit*5
        height: 324px
        display: block
    .caption
        position: relative
        width: 100%
        max-width: 760px

// body.offer
section.process::before
    content: ""
    position: absolute
    background: $main-gradient
    width: 100%
    height: 320px
    top: 210px
    display: block

section.download
    background: $text-decoration
    padding: 88px 0 144px
    .bg 
        height: 576px
        position: absolute
        right: 0
        bottom: 0

@media screen and (max-width: 767px)
    .banner.offer
        height: auto
        padding-top: $space-unit*5
        img.bg
            position: relative
            bottom: 0
            right: auto
            height: 200px
            margin: 20px auto
        .caption
            h1 
                text-align: center

    // body.offer
    section.download 
        padding-top: $space-unit*4
        padding-bottom: 300px
        padding-left: $space-unit*3
        padding-right: $space-unit*3
        img.bg 
            height: 289px
