// body.payment
//     background: $bg-gray

.payment-wrapper
    position: relative
    padding: 10px
    width: 100%
    max-width: 980px
    margin: 0 auto

    > *
        position: relative
        z-index: 1
    
    .payment-img
        position: absolute
        width: 453px
        right: -200px
        top: -170px
        z-index: 0

    ul.tab.is-pill
        width: auto
        margin: auto
        li > a
            width: 184px

    .panel
        padding: $space-unit*4 $space-unit*5

    .panel.form-panel
        background: #FFF
        border-radius: 10px
        padding: 0
        box-shadow: 0 0 6px 0 rgba(182, 182, 182, 0.57)
        .panel-body
            padding: $space-unit*4 $space-unit*7
        .panel-title
            padding: 10px $space-unit*4
        p
            font-size: 16px
.note
    ol 
        margin-top: 0
        font-size: 14px
        padding-left: 16px

@media screen and (max-width: 960px)
    // body.payment
    .payment-wrapper .payment-img
        position: relative
        max-width: 280px
        right: 0
        top: 0
        display: block
        margin: auto
        + section
            padding-top: 10px

            
@media screen and (max-width: 767px)
    // body.payment
    .payment-wrapper
        .panel.form-panel
            .panel-body
                padding-left: $space-unit*2
                padding-right: $space-unit*2
    .note
        ol 
            padding-left: 22px
        