.banner.search
    position: relative
    height: 312px
    background: $text-decoration

    img 
        position: absolute
        right: 0
        bottom: 0

    .caption
        padding-top: $space-unit*9

// body.search-menu
.search-container
    padding-top: $space-unit*6

h4 .highlight
    vertical-align: baseline
            

@media screen and (max-width: 767px)
    .banner.search
        height: 320px
        .caption
            padding-top: $space-unit*5
            h1
                text-align: center
            .input-group > .input
                width: 100%

    // body.search-menu
    //     .search-container
    //         padding-top: $space-unit*2
                
          