.banner.sitemap
    position: relative
    background: $bg-gray
    height: 312px

    img.bg 
        position: absolute
        right: 0
        bottom: 0
        height: 304px
        z-index: 0

    .container
        height: 312px
        .caption
            position: absolute
            top: 50%
            margin-top: -18px
            z-index: 9
            h1 
                margin: 0
// body.sitemap
.sitemap-container
    border-bottom: 4px solid $text-decoration
    padding: $space-unit*6 0

    &:last-child
        border-bottom: 0
    
    .menu
        margin-bottom: $space-unit*6
        > h3 
            margin-top: 0
        > .item
            padding-left: 0
            padding-right: 0

@media screen and (max-width: 767px)
    .banner.sitemap
        height: 272px
        .container
            height: auto
            .caption 
                position: relative
                margin-top: $space-unit*5
                z-index: 9
                h1
                    text-align: center
        img.bg 
            z-index: 0
        
    // body.sitemap
    .sitemap-container
        .sitemap-content
            padding-left: 25px
            column-count: 1
            column-gap: 0px
            .menu
                > .item
                    color: $main