<!-- build:body -->helper<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper">
        <img src="../img/helper/search-sm.png" srcset="../img/helper/search-sm@2x.png" class="d-block d-md-none">
        <img src="../img/helper/search.png" srcset="../img/helper/search@2x.png" class="d-none d-md-block">
        <div class="container">
            <h1>常見問題</h1>
            <div class="input-group input-lg search-box">
                <form action="">
                    <div class="input">
                        <input type="search" placeholder="Hi, 在找什麼嗎？輸入想找尋的內容" />
                    </div>
                    <div class="action">
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="tab-container is-green main-tab">
        <div class="tab-header d-none d-lg-block">
            <div class="container">
                <ul class="tab" role="tab">
                    <li><a href="./8-1-0.html" class="tab-item">個人險</a></li>
                    <li><a href="./8-1-1.html" class="tab-item">商業險</a></li>
                    <li><a href="./8-1-2.html" class="tab-item">網站功能</a></li>
                    <li class="active"><a href="./8-1-3.html" class="tab-item">服務說明</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="8-1-0.html">個人險</option>
                    <option value="8-1-1.html">商業險</option>
                    <option value="8-1-2.html">網站功能</option>
                    <option value="8-1-3.html" selected>服務說明</option>
                </select>
                <select class="select2 switch-content">
                    <optgroup label="常用功能">
                            <option value="1" selected>聲明事項</option>
                            <option value="2">H7N9專區</option>
                            <option value="3">房屋貸款</option>
                    </optgroup>
                </select>
            </div>
            <div class="row">
                <div class="col-md-3 helper-menu">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>常用服務</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" data-target="1" class="item active">聲明事項</a>
                            <a role="button" data-target="2" class="item">H7N9專區</a>
                            <a role="button" data-target="3" class="item">房屋貸款</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 helper-maintain">
                    <h4 class="mt-0">聲明事項</h4>
                    <div class="helper-section" data-id="section-1">
                        <div class="check-labels">
                            <div class="radio" role="button">
                                <input type="radio" name="qtype" id="q-type-1" checked>
                                <label for="q-type-1">所有說明</label>
                            </div>
                            <div class="radio" role="button">
                                <input type="radio" name="qtype" id="q-type-2">
                                <label for="q-type-2">網站事項</label>
                            </div>
                            <div class="radio" role="button">
                                <input type="radio" name="qtype" id="q-type-3">
                                <label for="q-type-3">保密措施</label>
                            </div>
                            <div class="radio" role="button">
                                <input type="radio" name="qtype" id="q-type-4">
                                <label for="q-type-4">行銷事項</label>
                            </div>
                            <div class="radio" role="button">
                                <input type="radio" name="qtype" id="q-type-5">
                                <label for="q-type-5">其他</label>
                            </div>
                            <div class="radio" role="button">
                                <input type="radio" name="qtype" id="q-type-6">
                                <label for="q-type-6">共同行銷</label>
                            </div>
                            <div class="radio" role="button">
                                <input type="radio" name="qtype" id="q-type-7">
                                <label for="q-type-7">個資法</label>
                            </div>
                            <div class="radio" role="button">
                                <input type="radio" name="qtype" id="q-type-8">
                                <label for="q-type-8">房屋貸款</label>
                            </div>
                            <div class="checkbox" role="button">
                                <input type="checkbox" name="qtype" id="q-type-9">
                                <label for="q-type-9">保護聲明</label>
                            </div>
                            <div class="checkbox" role="button">
                                <input type="checkbox" name="qtype" id="q-type-9">
                                <label for="q-type-9">業務員</label>
                            </div>
                        </div>
    
                        <div class="accordion-title">
                            網站事項
                        </div>
                        <div class="accordions">
                            <div class="accordion">
                                <a class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-chevron-down"></i>
                                    </div>
                                    <h4 class="accordion-title">投保強制汽車責任保險時，應準備那些資料？</h4 class="accordion-title">
                                </a>
                                <div class="accordion-body"></div>
                            </div>
                            <div class="accordion">
                                <a class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-chevron-down"></i>
                                    </div>
                                    <h4 class="accordion-title">如何投保強制汽車責任保險？</h4 class="accordion-title">
                                </a>
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <a class="btn btn-link btn-sm mr-0"><i class="icon-arrow-right"></i> <span>看更多</span></a>
                        </div>
                    </div>
                    <div class="helper-section" data-id="section-2"></div>
                    <div class="helper-section" data-id="section-3">
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->