<!-- build:body -->helper<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper">
        <img src="../img/helper/search-sm.png" srcset="../img/helper/search-sm@2x.png" class="d-block d-md-none">
        <img src="../img/helper/search.png" srcset="../img/helper/search@2x.png" class="d-none d-md-block">
        <div class="container">
            <h1>Hi, 在找什麼嗎？</h1>
            <div class="input-group input-lg search-box">
                <form action="">
                    <div class="input">
                        <input type="search" placeholder="輸入想找尋的內容，讓國泰產險來幫你" value="XXX" />
                    </div>
                    <div class="action">
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="tab-container is-green main-tab">
        <div class="tab-header d-none d-md-block">
            <div class="container">
                <ul class="tab" role="tab">
                    <li class="active"><a href="./8-1-0-1.html" class="tab-item">個人險</a></li>
                    <li><a href="./8-1-0-2.html" class="tab-item">商業險</a></li>
                    <li><a href="./8-1-0-3.html" class="tab-item">網站功能</a></li>
                    <li><a href="./8-1-0-4.html" class="tab-item">服務說明</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-pane container empty-result text-center">
            <div class="col-md-10 offset-md-1">
                <p>沒有找到任何關於「xsdsxasc」的結果。你可以點擊 <a href="#">這裡</a> 作全站搜尋</p>
                <div class="image-empty">
                    <img src="../img/helper/empty.png" srcset="../img/helper/empty@2x.png">
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->