<!-- build:body -->helper<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper">
        <img src="../img/helper/search-sm.png" srcset="../img/helper/search-sm@2x.png" class="d-block d-md-none">
        <img src="../img/helper/search.png" srcset="../img/helper/search@2x.png" class="d-none d-md-block">
        <div class="container">
            <h1>常見問題</h1>
            <div class="input-group input-lg search-box">
                <form action="">
                    <div class="input">
                        <input type="search" placeholder="Hi, 在找什麼嗎？輸入想找尋的內容" />
                    </div>
                    <div class="action">
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="tab-container is-green main-tab">
        <div class="tab-header d-none d-lg-block">
            <div class="container">
                <ul class="tab" role="tab">
                    <li class="active"><a href="./8-1-0.html" class="tab-item">個人險</a></li>
                    <li><a href="./8-1-1.html" class="tab-item">商業險</a></li>
                    <li><a href="./8-1-2.html" class="tab-item">網站功能</a></li>
                    <li><a href="./8-1-3.html" class="tab-item">服務說明</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="8-1-0.html">個人險</option>
                    <option value="8-1-1.html">商業險</option>
                    <option value="8-1-2.html">網站功能</option>
                    <option value="8-1-3.html">服務說明</option>
                </select>
                <select class="select2 switch-content">
                    <optgroup label="熱門保險">
                        <option value="1">汽車險</option>
                        <option value="2">機車險</option>
                        <option value="3">旅平＋不便險</option>
                        <option value="4">特定運動/活動</option>
                        <option value="5">住家/租屋保戶傘</option>
                        <option value="6">住宅火險及地震基本保險</option>
                        <option value="7">手機保險</option>
                        <option value="8">寵物保險</option>
                        <option value="9">農作物保險</option>
                    </optgroup>
                    <optgroup label="其他保險">
                        <option value="10">自行車險</option>
                        <option value="11">登山險</option>
                        <option value="12">出差遊學打工</option>
                        <option value="13">執行業務</option>
                        <option value="14">交通意外險</option>
                        <option value="15">傷害保險</option>
                        <option value="16">族群專屬保險</option>
                        <option value="17">低保額意外保險</option>
                        <option value="18">住院醫療癌症保險</option>
                        <option value="19">婚禮蜜月保險</option>
                    </optgroup>
                </select>
            </div>
            <div class="row">
                <div class="col-md-3 helper-menu">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>熱門保險</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" data-target="1" class="item active">汽車險</a>
                            <a role="button" data-target="2" class="item">機車險</a>
                            <a role="button" data-target="3" class="item">旅平＋不便險</a>
                            <a role="button" data-target="4" class="item">特定運動/活動</a>
                            <a role="button" data-target="5" class="item">住家/租屋保戶傘</a>
                            <a role="button" data-target="6" class="item">住宅火險及地震基本保險</a>
                            <a role="button" data-target="7" class="item">手機保險</a>
                            <a role="button" data-target="8" class="item">寵物保險</a>
                            <a role="button" data-target="9" class="item">農作物保險</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>其他保險</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" data-target="10" class="item">自行車險</a>
                            <a role="button" data-target="11" class="item">登山險</a>
                            <a role="button" data-target="12" class="item">出差遊學打工</a>
                            <a role="button" data-target="13" class="item">執行業務</a>
                            <a role="button" data-target="14" class="item">交通意外險</a>
                            <a role="button" data-target="15" class="item">傷害保險</a>
                            <a role="button" data-target="16" class="item">族群專屬保險</a>
                            <a role="button" data-target="17" class="item">低保額意外保險</a>
                            <a role="button" data-target="18" class="item">住院醫療癌症保險</a>
                            <a role="button" data-target="19" class="item">婚禮蜜月保險</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 helper-maintain">
                    <h4 class="mt-0 d-none d-md-block">汽車險</h4>
                    
                    <div class="radio-labels">
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-1" checked>
                            <label for="q-type-1">所有問題</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-2">
                            <label for="q-type-2">投保須知</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-3">
                            <label for="q-type-3">保障說明</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-4">
                            <label for="q-type-4">保單服務</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-5">
                            <label for="q-type-5">理賠說明</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-6">
                            <label for="q-type-6">法人車</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-7">
                            <label for="q-type-7">額外費用補價保險</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-8">
                            <label for="q-type-8">汽機車強制責任險</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-9">
                            <label for="q-type-9">汽車保險</label>
                        </div>
                    </div>
                    <div class="accordion-title">
                        投保須知
                    </div>

                    <div class="accordions">
                    
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4 class="accordion-title">投保強制汽車責任保險時，應準備那些資料？</h4 class="accordion-title">
                            </a>
                            <div class="accordion-body">
                                <h5>線上理賠申請 </h5>
                                <p>登入右上角的保戶中心，點擊「理賠中心」的「我要理賠」，並備齊以下資料：汽機車行照、駕駛人駕照、警方事故聯單，依照步驟填寫即可完成申請流程。(送出後約等待 1 天，會由理賠專員與您聯繫)</p>
                                
                                <h5>LINE 官方帳號申請</h5>
                                <p>加入 「國泰產險」 Line 官方帳號，加入成功後即可點擊功能「我要理賠」，並可快速掌握理賠進度唷。 </p>
                                
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>地區</th>
                                            <th>利率</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-gray">
                                    <small class="note">
                                        備註：<br>
                                        公司定儲指標利率請參考本公司網站之指標利率宣告。
                                        前6個月貸款利率採貸放當月定儲指標利率加碼0.54%後固定計息，不受定儲指標利率變動影響。
                                    </small>
                                </p>

                                <a href="#">
                                    <i class="icon-arrow-right"></i>
                                    掃描 Line 國泰產險官方條碼
                                </a>

                                <h5>專借款人條件</h5>
                                <ol>
                                    <li>優質企業員工：年所得≧70萬元。（含優良上市、上櫃、興櫃及公開發行公司、金融業、農漁會、醫院等民營企業滿6個月之正式員工）</li>
                                    <li>軍公教人員：正式人員。（含私立中小學以上教師、中尉以上職業軍人）</li>
                                </ol>

                                <div class="accordion-more">
                                    <div class="d-block d-md-inline">想知道更多嗎？</div>
                                    <a href="#" class="link">車險理賠作業流程圖</a>
                                    <a href="#" class="link">強制險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車車體損失險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車第三人責任保險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車車體損失險理賠申請應備文件</a>
                                    <a href="#" class="link">自用小汽車額外費用補償保險理賠申請應備文件</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4 class="accordion-title">如何投保強制汽車責任保險？</h4 class="accordion-title">
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4 class="accordion-title">投保強制汽車責任保險時，應準備那些資料？</h4 class="accordion-title">
                            </a>
                            <div class="accordion-body">
                                <h5>線上理賠申請 </h5>
                                <p>登入右上角的保戶中心，點擊「理賠中心」的「我要理賠」，並備齊以下資料：汽機車行照、駕駛人駕照、警方事故聯單，依照步驟填寫即可完成申請流程。(送出後約等待 1 天，會由理賠專員與您聯繫)</p>
                                
                                <h5>LINE 官方帳號申請</h5>
                                <p>加入 「國泰產險」 Line 官方帳號，加入成功後即可點擊功能「我要理賠」，並可快速掌握理賠進度唷。 </p>
                                
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>地區</th>
                                            <th>利率</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-gray">
                                    <small class="note">
                                        備註：<br>
                                        公司定儲指標利率請參考本公司網站之指標利率宣告。
                                        前6個月貸款利率採貸放當月定儲指標利率加碼0.54%後固定計息，不受定儲指標利率變動影響。
                                    </small>
                                </p>

                                <a href="#">
                                    <i class="icon-arrow-right"></i>
                                    掃描 Line 國泰產險官方條碼
                                </a>

                                <h5>專借款人條件</h5>
                                <ol>
                                    <li>優質企業員工：年所得≧70萬元。（含優良上市、上櫃、興櫃及公開發行公司、金融業、農漁會、醫院等民營企業滿6個月之正式員工）</li>
                                    <li>軍公教人員：正式人員。（含私立中小學以上教師、中尉以上職業軍人）</li>
                                </ol>

                                <div class="accordion-more">
                                    <div class="d-block d-md-inline">想知道更多嗎？</div>
                                    <a href="#" class="link">車險理賠作業流程圖</a>
                                    <a href="#" class="link">強制險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車車體損失險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車第三人責任保險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車車體損失險理賠申請應備文件</a>
                                    <a href="#" class="link">自用小汽車額外費用補償保險理賠申請應備文件</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4 class="accordion-title">如何投保強制汽車責任保險？</h4 class="accordion-title">
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4 class="accordion-title">投保強制汽車責任保險時，應準備那些資料？</h4 class="accordion-title">
                            </a>
                            <div class="accordion-body">
                                <h5>線上理賠申請 </h5>
                                <p>登入右上角的保戶中心，點擊「理賠中心」的「我要理賠」，並備齊以下資料：汽機車行照、駕駛人駕照、警方事故聯單，依照步驟填寫即可完成申請流程。(送出後約等待 1 天，會由理賠專員與您聯繫)</p>
                                
                                <h5>LINE 官方帳號申請</h5>
                                <p>加入 「國泰產險」 Line 官方帳號，加入成功後即可點擊功能「我要理賠」，並可快速掌握理賠進度唷。 </p>
                                
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>地區</th>
                                            <th>利率</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-gray">
                                    <small class="note">
                                        備註：<br>
                                        公司定儲指標利率請參考本公司網站之指標利率宣告。
                                        前6個月貸款利率採貸放當月定儲指標利率加碼0.54%後固定計息，不受定儲指標利率變動影響。
                                    </small>
                                </p>

                                <a href="#">
                                    <i class="icon-arrow-right"></i>
                                    掃描 Line 國泰產險官方條碼
                                </a>

                                <h5>專借款人條件</h5>
                                <ol>
                                    <li>優質企業員工：年所得≧70萬元。（含優良上市、上櫃、興櫃及公開發行公司、金融業、農漁會、醫院等民營企業滿6個月之正式員工）</li>
                                    <li>軍公教人員：正式人員。（含私立中小學以上教師、中尉以上職業軍人）</li>
                                </ol>

                                <div class="accordion-more">
                                    <div class="d-block d-md-inline">想知道更多嗎？</div>
                                    <a href="#" class="link">車險理賠作業流程圖</a>
                                    <a href="#" class="link">強制險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車車體損失險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車第三人責任保險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車車體損失險理賠申請應備文件</a>
                                    <a href="#" class="link">自用小汽車額外費用補償保險理賠申請應備文件</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4 class="accordion-title">如何投保強制汽車責任保險？</h4 class="accordion-title">
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4 class="accordion-title">投保強制汽車責任保險時，應準備那些資料？</h4 class="accordion-title">
                            </a>
                            <div class="accordion-body">
                                <h5>線上理賠申請 </h5>
                                <p>登入右上角的保戶中心，點擊「理賠中心」的「我要理賠」，並備齊以下資料：汽機車行照、駕駛人駕照、警方事故聯單，依照步驟填寫即可完成申請流程。(送出後約等待 1 天，會由理賠專員與您聯繫)</p>
                                
                                <h5>LINE 官方帳號申請</h5>
                                <p>加入 「國泰產險」 Line 官方帳號，加入成功後即可點擊功能「我要理賠」，並可快速掌握理賠進度唷。 </p>
                                
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>地區</th>
                                            <th>利率</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                        <tr>
                                            <td>前6個月</td>
                                            <td>i ＋ 0.54%固定利息</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-gray">
                                    <small class="note">
                                        備註：<br>
                                        公司定儲指標利率請參考本公司網站之指標利率宣告。
                                        前6個月貸款利率採貸放當月定儲指標利率加碼0.54%後固定計息，不受定儲指標利率變動影響。
                                    </small>
                                </p>

                                <a href="#">
                                    <i class="icon-arrow-right"></i>
                                    掃描 Line 國泰產險官方條碼
                                </a>

                                <h5>專借款人條件</h5>
                                <ol>
                                    <li>優質企業員工：年所得≧70萬元。（含優良上市、上櫃、興櫃及公開發行公司、金融業、農漁會、醫院等民營企業滿6個月之正式員工）</li>
                                    <li>軍公教人員：正式人員。（含私立中小學以上教師、中尉以上職業軍人）</li>
                                </ol>

                                <div class="accordion-more">
                                    <div class="d-block d-md-inline">想知道更多嗎？</div>
                                    <a href="#" class="link">車險理賠作業流程圖</a>
                                    <a href="#" class="link">強制險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車車體損失險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車第三人責任保險理賠申請應備文件</a>
                                    <a href="#" class="link">汽車車體損失險理賠申請應備文件</a>
                                    <a href="#" class="link">自用小汽車額外費用補償保險理賠申請應備文件</a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4 class="accordion-title">如何投保強制汽車責任保險？</h4 class="accordion-title">
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div> 
                   
                    </div>
                    <div class="text-right">
                        <a class="btn btn-link btn-sm mr-0"><i class="icon-arrow-right"></i> <span>看更多</span></a>
                    </div>
                    <a class="btn btn-default btn-block">
                        看更多
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->
