<!-- build:body -->helper<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper">
        <img src="../img/helper/search-sm.png" srcset="../img/helper/search-sm@2x.png" class="d-block d-md-none">
        <img src="../img/helper/search.png" srcset="../img/helper/search@2x.png" class="d-none d-md-block">
        <div class="container">
            <h1>常見問題</h1>
            <div class="input-group input-lg search-box">
                <form action="">
                    <div class="input">
                        <input type="search" placeholder="Hi, 在找什麼嗎？輸入想找尋的內容" />
                    </div>
                    <div class="action">
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="tab-container is-green main-tab">
        <div class="tab-header d-none d-lg-block">
            <div class="container">
                <ul class="tab" role="tab">
                    <li><a href="./8-1-0.html" class="tab-item">個人險</a></li>
                    <li><a href="./8-1-1.html" class="tab-item">商業險</a></li>
                    <li class="active"><a href="./8-1-2.html" class="tab-item">網站功能</a></li>
                    <li><a href="./8-1-3.html" class="tab-item">服務說明</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="8-1-0.html">個人險</option>
                    <option value="8-1-1.html">商業險</option>
                    <option value="8-1-2.html" selected>網站功能</option>
                    <option value="8-1-3.html">服務說明</option>
                </select>
                <select class="select2 switch-content">
                    <optgroup label="常用功能">
                        <option value="1">會員服務</option>
                        <option value="2">線上投保</option>
                        <option value="3">繳費功能</option>
                        <option value="4">線上理賠</option>
                </optgroup>
                <optgroup label="其他功能">
                        <option value="5">線上試算</option>
                        <option value="6">電子訂單</option>
                    </optgroup>
                </select>
            </div>
            <div class="row">
                <div class="col-md-3 helper-menu">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>常用功能</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" data-target="1" class="item active">會員服務</a>
                            <a role="button" data-target="2" class="item">線上投保</a>
                            <a role="button" data-target="3" class="item">繳費功能</a>
                            <a role="button" data-target="4" class="item">線上理賠</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>其他功能</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" data-target="5" class="item">線上試算</a>
                            <a role="button" data-target="6" class="item">電子訂單</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 helper-maintain">
                    <h4 class="mt-0 d-none d-md-block">會員服務</h4>
                    <div class="check-labels">
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-1" checked>
                            <label for="q-type-1">所有問題</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-2">
                            <label for="q-type-2">註冊會員</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-3">
                            <label for="q-type-3">忘記密碼</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-4">
                            <label for="q-type-4">會員資訊</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-5">
                            <label for="q-type-5">登入會員</label>
                        </div>
                    </div>
                    <div class="accordion-title">
                        熱門問題
                    </div>
                    <div class="accordions">
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4 class="accordion-title">投保強制汽車責任保險時，應準備那些資料？</h4 class="accordion-title">
                            </a>
                            <div class="accordion-body"></div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4 class="accordion-title">如何投保強制汽車責任保險？</h4 class="accordion-title">
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-link btn-sm mr-0"><i class="icon-arrow-right"></i> <span>看更多</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->