<!-- build:body -->helper<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper">
        <img src="../img/helper/search-sm.png" srcset="../img/helper/search-sm@2x.png" class="d-block d-md-none">
        <img src="../img/helper/search.png" srcset="../img/helper/search@2x.png" class="d-none d-md-block">
        <div class="container">
            <h1>Hi, 在找什麼嗎？</h1>
            <div class="input-group input-lg search-box">
                <div class="input">
                    <input type="search" placeholder="輸入想找尋的內容，讓國泰產險來幫你" value="保險" />
                </div>
                <div class="action">
                    <button type="submit">
                        <i class="icon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <div class="tab-container is-green main-tab">
        <div class="tab-header d-none d-lg-block">
            <div class="container">
                <ul class="tab" role="tab">
                    <li class="active"><a href="./8-1-0-1.html" class="tab-item">個人險</a></li>
                    <li><a href="./8-1-0-2.html" class="tab-item">商業險</a></li>
                    <li><a href="./8-1-0-3.html" class="tab-item">網站功能</a></li>
                    <li><a href="./8-1-0-4.html" class="tab-item">服務說明</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-pane container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="8-1-0.html">個人險</option>
                    <option value="8-1-1.html">商業險</option>
                    <option value="8-1-2.html">網站功能</option>
                    <option value="8-1-3.html">服務說明</option>
                </select>
                <select class="select2">
                    <optgroup label="熱門保險">
                        <option value="">汽車險</option>
                        <option value="">機車險</option>
                        <option value="">旅平＋不便險</option>
                        <option value="">特定運動/活動</option>
                        <option value="">住家/租屋保戶傘</option>
                        <option value="">住宅火險及地震基本保險</option>
                        <option value="">手機保險</option>
                        <option value="">寵物保險</option>
                        <option value="">農作物保險</option>
                    </optgroup>
                    <optgroup label="其他保險">
                        <option value="">自行車險</option>
                        <option value="">登山險</option>
                        <option value="">出差遊學打工</option>
                        <option value="">執行業務</option>
                        <option value="">交通意外險</option>
                        <option value="">傷害保險</option>
                        <option value="">族群專屬保險</option>
                        <option value="">低保額意外保險</option>
                        <option value="">住院醫療癌症保險</option>
                        <option value="">婚禮蜜月保險</option>
                    </optgroup>
                </select>
            </div>
            <div class="row">
                <div class="col-md-3 helper-menu">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>熱門保險</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" class="item active">汽車險</a>
                            <a role="button" class="item">手機保險</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>其他保險</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" class="item">登山險</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 helper-maintain">
                    <h4 class="mt-0">汽車險</h4>
                    <div class="check-labels">
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-1" checked>
                            <label for="q-type-1">所有問題 (10)</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-2">
                            <label for="q-type-2">投保須知 (5)</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-3">
                            <label for="q-type-3">保障說明 (2)</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-4">
                            <label for="q-type-4">保單服務 (1)</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-5">
                            <label for="q-type-5">理賠說明 (2)</label>
                        </div>
                    </div>
                    <div class="text">
                        投保須知
                    </div>
                    <div class="accordions">
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <h4 class="accordion-title">旅遊傷害<span class="highlight">保險</span>？它可以給我提供什麼樣的保障？</h4>
                            </a>
                            <div class="accordion-body"></div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <h4 class="accordion-title">如何投保強制汽車責任<span class="highlight">保險</span>？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="search-recommand">
                        <p>沒有找到你想要的結果嗎？<br class="d-block d-md-none"> 你可以點擊<a href="#">這裡</a>作全站搜尋</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->