<!-- build:body -->helper<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper">
        <img src="../img/helper/search-sm.png" srcset="../img/helper/search-sm@2x.png" class="d-block d-md-none">
        <img src="../img/helper/search.png" srcset="../img/helper/search@2x.png" class="d-none d-md-block">
        <div class="container">
            <h1>保險說明</h1>
            <div class="input-group input-lg search-box">
                <div class="input">
                    <input type="search" placeholder="Hi, 在找什麼嗎？輸入想找尋的內容" />
                </div>
                <div class="action">
                    <button type="submit">
                        <i class="icon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="pop-menu d-block d-lg-none">
            <select class="select2 switch-content">
                <option value="1">汽車險</option>
                <option value="2">傷害險</option>
                <option value="3">健康險</option>
                <option value="4">旅遊險</option>
                <option value="5">火險</option>
                <option value="6">水險</option>
                <option value="7">工程險</option>
                <option value="8">新種險</option>
                <option value="9">微型保險專區</option>
                <option value="10">登山綜合保險</option>
                <option value="11">度假打工專區</option>
                <option value="12">特定活動保險</option>
                <option value="13">災防人員專區</option>
                <option value="14">自行車傷害險</option>
                <option value="15">自行車責任險</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-3 helper-menu">
                <div class="accordion menu is-open">
                    <div role="button" class="accordion-header">
                        <div class="icon">
                            <i class="icon-chevron-down"></i>
                        </div>
                        <h4>保險列表</h4>
                    </div>
                    <div class="accordion-body">
                        <a role="button" data-target="1" class="item active">汽車險
                        <a role="button" data-target="2" class="item">傷害險</a>
                        <a role="button" data-target="3" class="item">健康險</a>
                        <a role="button" data-target="4" class="item">旅遊險</a>
                        <a role="button" data-target="5" class="item">火險</a>
                        <a role="button" data-target="6" class="item">水險</a>
                        <a role="button" data-target="7" class="item">工程險</a>
                        <a role="button" data-target="8" class="item">新種險</a>
                        <a role="button" data-target="9" class="item">微型保險專區</a>
                        <a role="button" data-target="10" class="item">登山綜合保險</a>
                        <a role="button" data-target="11" class="item">度假打工專區</a>
                        <a role="button" data-target="12" class="item">特定活動保險</a>
                        <a role="button" data-target="13" class="item">災防人員專區</a>
                        <a role="button" data-target="14" class="item">自行車傷害險</a>
                        <a role="button" data-target="15" class="item">自行車責任險</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 helper-maintain">
                <h4 class="mt-0 d-none d-md-block">汽車險</h4>
                <div class="radio-labels">
                    <div class="radio" role="button">
                        <input type="radio" name="qtype" id="q-type-1" checked>
                        <label for="q-type-1">全部</label>
                    </div>
                    <div class="radio" role="button">
                        <input type="radio" name="qtype" id="q-type-2">
                        <label for="q-type-2">強制險</label>
                    </div>
                    <div class="radio" role="button">
                        <input type="radio" name="qtype" id="q-type-3">
                        <label for="q-type-3">車體險</label>
                    </div>
                    <div class="radio" role="button">
                        <input type="radio" name="qtype" id="q-type-4">
                        <label for="q-type-4">竊盜險</label>
                    </div>
                    <div class="radio" role="button">
                        <input type="radio" name="qtype" id="q-type-5">
                        <label for="q-type-5">責任險</label>
                    </div>
                    <div class="radio" role="button">
                        <input type="radio" name="qtype" id="q-type-6">
                        <label for="q-type-6">其他</label>
                    </div>
                    <div class="radio" role="button">
                        <input type="radio" name="qtype" id="q-type-7">
                        <label for="q-type-7">變更保單應備文件</label>
                    </div>
                    <div class="radio" role="button">
                        <input type="radio" name="qtype" id="q-type-8">
                        <label for="q-type-8">投保應備文件</label>
                    </div>
                </div>
                <div class="accordion-title">
                    強制險
                </div>
                <div class="accordions">
                    <div class="accordion">
                        <a class="accordion-header" role="button">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4 class="accordion-title">強制汽車責任保險</h4 class="accordion-title">
                        </a>
                        <div class="accordion-body">
                            <h5>商品特色</h5>
                            <p class="text-gray">
                                屬政策性保險。<br/>
                                採限額無過失責任，加害人不論有無過失，在保險金額範圍內，均必須賠償受害人。<br/>
                                若未投保強制險，在強制汽車責任保險法規定之保險金額範圍內，仍由特別補償基金賠付受害人，再向加害人追償。
                            </p>
                            <h5>保障範圍</h5>
                            <p class="text-gray">
                                傷害醫療給付：每人最高20萬元。<br/>
                                失能給付：每人最高200萬元。<br/>
                                死亡給付：每人定額給付200萬元，每一事故理賠無上限。<br/>
                                保障對象包含所有交通事故受害人(包括乘客及車外第三人)，但一輛車事故（例如撞到電線桿）所致駕駛人之傷害醫療、失能或死亡是不在承保範圍。<br/>
                                可以選擇加保「附加駕駛人傷害保險」，提供汽車駕駛人單一車輛事故之保障
                            </p>
                        </div>
                    </div>
                    <div class="accordion">
                        <a class="accordion-header" role="button">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4 class="accordion-title">強制汽車責任保險附加駕駛人傷害保險</h4 class="accordion-title">
                        </a>
                        <div class="accordion-body">
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a class="btn btn-link btn-sm mr-0"><i class="icon-arrow-right"></i> <span>看更多</span></a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->