<!-- build:body -->helper <!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper short">
        <img src="../img/helper/letter-sm.png" srcset="../img/helper/letter-sm@2x.png" class="d-block d-md-none">
        <img src="../img/helper/letter.png" srcset="../img/helper/letter@2x.png" class="d-none d-md-block">
        <div class="container">
            <div class="caption">
                <h1>寫信諮詢</h1>
                <p class="desc">請留下您的問題與基本資料，讓我能在最短的時間內，回覆您處理結果，謝謝。</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <form action="" class="form">
                        <div class="panel form-panel">
                            <div class="form-group row">
                                <label class="col-md-3">填寫日期</label>
                                <div class="col-md-9">
                                    <span class="text">2019/5/20</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-md-3">您的姓名</label>
                                <div class="col-md-9">
                                    <input type="text" name="name" id="name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="identity" class="col-md-3">身分證字號(選填)</label>
                                <div class="col-md-9">
                                    <input type="text" name="identity" id="identity">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-md-3">您的聯絡電話</label>
                                <div class="col-md-9">
                                    <input type="tel" name="phone" id="phone" placeholder="聯絡電話與手機號碼請擇一填寫">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="mobile" class="col-md-3">您的手機號碼</label>
                                <div class="col-md-9">
                                    <input type="tel" name="mobile" id="mobile" placeholder="聯絡電話與手機號碼請擇一填寫">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-md-3">您的聯絡地址</label>
                                <div class="col-md-9">
                                    <input type="tel" name="address" id="address">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="insurance_no" class="col-md-3">您的保單號碼(選填)</label>
                                <div class="col-md-9">
                                    <input type="tel" name="insurance_no" id="insurance_no">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="identity" class="col-md-3">商品種類(選填)</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col">
                                            <div class="select">
                                                <select name="insure_type" data-id="insure-type" data-relate="true">
                                                    <option value="個人險">請選擇保險類別</option>
                                                    <option value="個人險" selected>個人險</option>
                                                    <option value="商業險">商業險</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div data-target="insure_type" data-value="個人險" class="select">
                                                <select name="personal-prod" data-id="personal-prod">
                                                    <option value="">請選擇商品</option>
                                                    <option value="汽車險">汽車險</option>
                                                    <option value="機車險">機車險</option>
                                                    <option value="旅平＋不便險">旅平＋不便險</option>
                                                    <option value="特定運動/活動">特定運動/活動</option>
                                                    <option value="住家/租屋保戶傘">住家/租屋保戶傘</option>
                                                    <option value="住宅火險及地震基本保險">住宅火險及地震基本保險</option>
                                                    <option value="手機保險">手機保險</option>
                                                    <option value="寵物保險">寵物保險</option>
                                                    <option value="農作物保險">農作物保險</option>
                                                    <option value="自行車險">自行車險</option>
                                                    <option value="登山險">登山險</option>
                                                    <option value="山差遊學打工">山差遊學打工</option>
                                                    <option value="執行業務">執行業務</option>
                                                    <option value="交通意外險">交通意外險</option>
                                                    <option value="傷害保險">傷害保險</option>
                                                    <option value="族群專屬保險">族群專屬保險</option>
                                                    <option value="低保額意外保險">低保額意外保險</option>
                                                    <option value="婚禮蜜月保險">婚禮蜜月保險</option>
                                                </select>
                                            </div>
                                            <div data-target="insure_type" data-value="商業險" class="select" style="display: none">
                                                <select name="commercail-prod" data-relate="true">
                                                    <option value="">請選擇商品</option>
                                                    <optgroup label="商品">
                                                        <option value="火災保險">火災保險</option>
                                                        <option value="貨物運輸保險">貨物運輸保險</option>
                                                        <option value="船體漁船">船體漁船</option>
                                                        <option value="海上責任保險">海上責任保險</option>
                                                        <option value="工程保險">工程保險</option>
                                                        <option value="團體保險">團體保險</option>
                                                        <option value="微型傷害保險">微型傷害保險</option>
                                                        <option value="志工團體保險">志工團體保險</option>
                                                        <option value="產品財物">產品財物</option>
                                                        <option value="場所經營">場所經營</option>
                                                        <option value="僱主員工">僱主員工</option>
                                                        <option value="資訊安全">資訊安全</option>
                                                        <option value="醫事人員責任保險">醫事人員責任保險</option>
                                                        <option value="建築師工程師">建築師工程師</option>
                                                    </optgroup>
                                                    <optgroup label="服務">
                                                        <option value="損害防阻服務">損害防阻服務</option>
                                                        <option value="企業員工交通事故預防">企業員工交通事故預防</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="display: none" data-target="commercail-prod" data-value="損害防阻服務, 企業員工交通事故預防">
                                <label for="question-type-1" class="col-md-3">顧問團隊</label>
                                <div class="col-md-9">
                                    <div class="row" data-target="commercail-prod" data-value="損害防阻服務">
                                        <div class="col">
                                            <div class="select">
                                                <select name="" id="">
                                                    <option value="">請選擇保險類別</option>
                                                    <option value="火災風險顧問">火災風險顧問</option>
                                                    <option value="天災風險顧問">天災風險顧問</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-target="commercail-prod" data-value="企業員工交通事故預防">
                                        <input type="text" value="駕駛安全顧問">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="question-type-1" class="col-md-3">意見類型</label>
                                <div class="col-md-9">
                                    <div class="row radio-grid">
                                        <div class="col-md-4">
                                            <div class="radio d-block">
                                                <input type="radio" name="question_type" id="question-type-1" value="1">
                                                <label for="question-type-1">申訴意見</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="radio d-block">
                                                <input type="radio" name="question_type" id="question-type-2" value="2">
                                                <label for="question-type-2">商品及報價諮詢</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="radio d-block">
                                                <input type="radio" name="question_type" id="question-type-3" value="3">
                                                <label for="question-type-3">請求協助</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="radio d-block">
                                                <input type="radio" name="question_type" id="question-type-4" value="4">
                                                <label for="question-type-4">建議事項</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="radio d-block">
                                                <input type="radio" name="question_type" id="question-type-5" value="5">
                                                <label for="question-type-5">服務平台</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="radio d-block">
                                                <input type="radio" name="question_type" id="question-type-6" value="6">
                                                <label for="question-type-6">其他</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="comment" class="col-md-3">您的意見</label>
                                <div class="col-md-9">
                                    <textarea name="comment" id="comment" col="15" rows="20" placeholder="字數限制1000個字，請斟酌輸入"></textarea>
                                    <div class="note text-gray">
                                        <small>
                                            需要報價，請您提供下列資料：
                                            
                                            <ol>
                                                <li>有關強制汽機車險、汽車第三人責任險、旅遊險，您可利用線上投保自行試算</li>
                                                <li>其他相關車險：投保內容、廠牌車型、排汽量，車輛買價、原始發照、性別、年齡</li>
                                                <li>非車險：請留下您的保險需求及保險金額，我們將儘速與您連絡</li>
                                            </ol>
                                            
                                            非上班時間內，個人旅遊綜合保險投保內容異動報備，請您提供下列資料（目前不接受新件投保報）：保單號碼、(要)被保險人姓名、身份證號碼、保險期間、異動生效日期(年/月/日/時)、保險金額、異動事項說明
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="captcha" class="col-md-3">輸入驗證碼</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <div class="input"><input type="tel" name="captcha" id="captcha"></div>
                                        <div class="action capcha"><img src="../img/common/captcha.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="panel agreement">
                                    <div class="panel-header">
                                        <h4>履行個人資料保護法告知義務事項</h4>
                                    </div>
                                    <div class="panel-body">
                                        <!-- <p>請花幾分鐘詳細閱讀這些規定. 如果您同意這些規定, 請點擊下方的[已閱讀，我同意]按鈕.</p> -->
                                        <ol class="cjk-order">
                                            <li>蒐集之目的：辦理財產保險(093)、人身保險(001)及其他合於營業登記項目或組織章程所定之業務(181)。 </li>
                                            <li>蒐集之個人資料類別：姓名、身分證統一編號、聯絡方式等，詳如要保書或相關業務申請書內容。</li>
                                            <li>
                                                個人資料之來源（個人資料非由當事人提供間接蒐集之情形適用）： 
                                                <ul>
                                                    <li>(一)要保人/被保險人 </li>
                                                    <li>(二)司法警憲機關、委託協助處理理賠之公證人或機構 </li>
                                                    <li>(三)當事人之法定代理人、輔助人 </li>
                                                    <li>(四)各醫療院所 </li>
                                                    <li>(五)與第三人共同行銷、交互運用客戶資料、合作推廣等關係、或於本公司各項業務內所委託往來之第三人。</li>
                                                </ul>
                                            </li>
                                            <li>
                                                個人資料利用之期間、對象、地區及方式： 
                                                <ul>
                                                    <li>期間：因執行業務所必須及依法令規定應為保存之期間。 </li>
                                                    <li>對象：本(分)公司及本公司海外分支機構、中華民國產物保險商業同業公會、中華民國人壽保險商業同業公會、財團法人保險事業發展中心、財團法人保險安定基金、財團法人住宅地震保險基金、財團法人汽車交通事故特別補償基金、財團法人保險犯罪防制中心、財團法人金融消費評議中心、財團法人金融聯合徵信中心、財團法人聯合信用卡中心、台灣票據交換所、財金資訊公司、關貿網路股份有限公司、中央健康保險局、業務委外機構、與本公司有再保業務往來之公司、依法有調查權機關或金融監理機關。</li> 
                                                    <li>(四)方式：合於法令規定之利用方式。</li>
                                                </ul>
                                            </li>
                                            <li>
                                                依據個資法第三條規定，台端就本公司保有 台端之個人資料得行使之權利及方式： 
                                                <ul>
                                                    <li>(一)得向本公司行使之權利：
                                                        <ol>
                                                            <li>向本公司查詢、請求閱覽或請求製給複製本。 </li>
                                                            <li>向本公司請求補充或更正。 </li>
                                                            <li>向本公司請求停止蒐集、處理或利用及請求刪除。 </li>
                                                        </ol>
                                                    </li>
                                                    <li>(二)行使權利之方式：透過客服專線0800-212-880 或書面方式行使。 </li>
                                                </ul>
                                            </li>
                                            <li>台端不提供個人資料所致權益之影響： 台端若未能提供相關個人資料時，本公司將可能延後或無法進行必要之審核及處理作業，因此可能婉謝承保、遲延或無法提供 台端完善的保險服務。</li>
                                        </ol>
                                            
                                    </div>
                                    <div class="panel-footer">
                                        <div class="checkbox agree">
                                            <input type="checkbox" name="agree" id="agree"><label for="agree">已經閱讀並同意個人資料保護法第八條及第九條規定</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-outline" type="reset">清除重填</button>
                            <button class="btn btn-primary" type="submit">確認送出</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->