<!-- build:body -->helper <!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper short">
        <img src="../img/helper/help-sm.png" srcset="../img/helper/help-sm@2x.png" class="d-block d-md-none">
        <img src="../img/helper/help.png" srcset="../img/helper/help@2x.png" class="d-none d-md-block">
        <div class="container">
            <div class="caption">
                <h1>事故支援服務</h1>
                <div class="pop-menu d-block d-lg-none">
                    <select class="select2">
                        <option value="8-5-0.html">24小時事故現場協助處理</option>
                        <option value="8-5-1.html" selected>道路救援服務</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <div class="tab-container is-green main-tab">
        <div class="tab-header d-none d-lg-block">
            <div class="container">
                <ul class="tab" role="tab">
                    <li><a href="./8-5-0.html">24 小時事故現場協助處理</a></li>
                    <li class="active"><a href="./8-5-1.html">道路救援服務</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-pane">
            <div class="tab-content active">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-10 offset-md-1">
                            <h4>凡投保本公司汽車保險符合條件者，即提供免費 30 公里道路救援服務，同時發給道路救援卡。</h4>
                            <section class="faq-section pt-0" data-id="faq-sec-1">
                                <h5 class="faq-title">服務項目</h5>
                                <a href="#" class="link">道路救援服務項目及收費標準表</a>
                                <ul class="bt-5">
                                    <li>免費拖吊（超過免費公里數者，每公里收費50元，由保戶自付）；惟拖吊地點須為拖吊車可行駛及作業之平面道路。(不提供車輛在修車廠內拖吊服務)</li>
                                    <li>免費急修服務（加水、更換備胎、接電啟動、加油但燃油費須自付）</li>
                                    <li>其他諮詢服務（例加油站、醫院位置諮詢、代為連絡家屬等）</li>
                                </ul>
                                <p>以下地區不提供服務：</p>
                                <ol>
                                    <li>特殊地區：橫貫公路、國家公園、離島及偏遠山區(例如：合歡山、阿里山、司馬庫司等)。</li>
                                    <li>因淹水、山崩、斷橋等不可避免之天災事變，或經政府公告禁止通行之管制山區及路段。</li>
                                    <li>交通管制規則之法令規定無法上下乘客之高速公路及快速公路。</li>
                                </ol>
                            </section>
                            <section class="faq-section" data-id="faq-sec-2">
                                <h5 class="faq-title">服務車種限制</h5>
                                <ul>
                                    <li>服務車輛限於領用小型牌照之小自客、廂型車（含救護車）及 3.49 噸以下之小貨車、租賃車。（競技車、改裝車及 3.5 噸以上之大型車概不接受服務）</li>
                                    <li>以上車種如車長超過 5,200 mm或車寬超過2,100mm或車重超過 2,500 kg，底盤、保桿、側裙、排 氣管等車輛零配件，</li>
                                    <li>距離地面高度低於 12 公分者，已逾一般拖吊車服務範圍，需議價處理，由保戶自付費用。</li>
                                </ul>
                            </section>
                            <section class="faq-section" data-id="faq-sec-3">
                                <h5 class="faq-title">24小時免費服務電話</h5>
                                <a href="tel:0800-020-345" target="_blank">0800-020-345</a>
                            </section>
                            <section class="faq-section" data-id="faq-sec-4">
                                <h5 class="faq-title">申告服務應注意事項</h5>
                                <ul>
                                    <li>須撥免費服務電話：0800-020-345，保戶需救援服務未經 0800 專線申告者，不列入服務保證之範圍且無法享有免費救援服務及事後辦理退費要求。
                                    <li>須提示國泰世紀產物保險股份有限公司道路救援卡。</li>
                                    <li>里程計算以駕駛台內之里程表歸零並經保戶確認無誤後起算。</li>
                                    <li>高速公路局規定嚴於高速公路上實施急修服務；一般高架橋及快速道路亦嚴禁實施急修服務，概先提供拖吊服務處理，再提供急修服務。</li>
                                    <li>申告服務之車輛需以空車為限(不含載客及貨品)；若保戶要求強制載貨且於拖救車承載安全範圍，費用需現場議價；並由保戶自付費用。</li>
                                    <li>申告服務之車輛除因故障或事故而須拖吊急修及特殊狀況處理加碼費服務外，其餘費用需由保戶自行負擔。</li>
                                    <li>拖吊、急修服務(同一服務項目)，24 小時內限一次免費服務，超過時須由保戶另行付費。</li>
                                    <li>為避免爭議無法提供開鎖服務，一律拖吊至指定地點。</li>
                                    <li>投保車輛於高速公路上發生故障或事故，須先撥打 0800-020-345 服務中心申告，其後如因情形
                                            急迫或有其他不可抗力因素，先請其他合法拖吊公司拖離現場時，保戶因此支出之拖吊費用，於原
                                            得由全鋒公司免費拖吊之範圍內，得於故障或事故發生之日起20天內依『高速公路拖救契約三聯
                                            單』、『三聯式發票抬頭為全鋒汽車股份有限公司（統一編號 22899886）之扣抵聯及收執聯』、
                                            『駕駛人之身分證或駕照影本』、『行照影本』等向全鋒公司申請退費，「高速公路現場作業」須 
                                            由保戶自付，不列入退費金額中。退費資料確認無誤後，全鋒公司將依交通部台灣區國道高速公路
                                            局規定金額以匯款方式退費予駕駛人。保戶若未先經本公司救援中心報修系統，而逕行指派他人服 
                                            務時， 不得以他人之收據或發票向全鋒汽車公司要求請款。</li>
                                    <li>道路救援卡生效及失效： 
                                            自發卡日起第三個營業日之凌晨 0:00 起生效(但若汽車保險期間尚未開始而先核發道路救援卡者，  
                                            則自保險期間開始時生效)。 
                                            投保內容如有異動致未符合道路救援服務資格者，將自異動批改日起自動失效。</li>
                                    <li>購買道路救援險之承保內容，請詳見保單條款。</li>
                                </ul>
                            </section>
                            <section class="faq-section" data-id="faq-sec-5">
                                <h5 class="faq-title">道路救援標準作業時間</h5>
                                <table class="table paded table-striped">
                                    <thead>
                                        <tr>
                                            <th>故障（事故）地點</th>
                                            <th class="text-center">標準時間</th>
                                            <th class="text-center">容忍時間</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>高速公路</td>
                                            <td class="text-center">45分鐘</td>
                                            <td class="text-center">1小時</td>
                                        </tr>
                                        <tr>
                                            <td>一般市區及道路</td>
                                            <td class="text-center">45分鐘</td>
                                            <td class="text-center">1小時</td>
                                        </tr>
                                        <tr>
                                            <td>二級以下鄉鎮市及道路</td>
                                            <td class="text-center">90分鐘</td>
                                            <td class="text-center">2小時</td>
                                        </tr>
                                        <tr>
                                            <td>偏遠市區及道路</td>
                                            <td class="text-center">2小時</td>
                                            <td class="text-center">3小時</td>
                                        </tr>
                                        <tr>
                                            <td>山區、花東公路、濱海公路</td>
                                            <td class="text-center">4小時</td>
                                            <td class="text-center">4小時</td>
                                        </tr>
                                        <tr>
                                            <td>管制山區、個橫貫公路支線、蘇花公路、北宜公路</td>
                                            <td class="text-center">8小時</td>
                                            <td class="text-center">8小時</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->