<!-- build:body -->helper <!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper short">
        <img src="../img/helper/help-sm.png" srcset="../img/helper/help-sm@2x.png" class="d-block d-md-none">
        <img src="../img/helper/help.png" srcset="../img/helper/help@2x.png" class="d-none d-md-block">
        <div class="container">
            <div class="caption">
                <h1>事故支援服務</h1>
                <div class="pop-menu d-block d-lg-none">
                    <select class="select2">
                        <option value="8-5-0.html" selected>24小時事故現場協助處理</option>
                        <option value="8-5-1.html">道路救援服務</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <div class="tab-container is-green main-tab">
        <div class="tab-header d-none d-lg-block">
            <div class="container">
                <ul class="tab" role="tab">
                    <li class="active"><a href="./8-5-0.html">24小時事故現場協助處理</a></li>
                    <li><a href="./8-5-1.html">道路救援服務</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-pane">
            <div class="tab-content active">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-10 offset-md-1">
                            <h4>投保本公司汽車險，便可享有全天候事故現場協助處理服務 ！</h4>
                            <section class="faq-section pt-0" data-id="faq-sec-1">
                                <h5 class="faq-title">我們提供的服務</h5>
                                <ul>
                                    <li>協助傷者送醫</li>
                                    <li>排除交通障礙</li>
                                    <li>繪製現場</li>
                                    <li>拍攝受損物品、損害程度及範圍</li>
                                    <li>列受理理賠申請</li>
                                </ul>
                            </section>
                            <section class="faq-section" data-id="faq-sec-2">
                                <h5 class="faq-title">執行實況與注意</h5>
                                <ul>
                                    <li>您必須是本公司自用小客車或小貨車保戶</li>
                                    <li>發生事故時，請您撥24小時免費服務電話「<a href="tel:0800-212-880" target="_blank">0800-212-880</a>」、「<a href="tel:0800-020-345" target="_blank">0800-020-345</a>」</li>
                                    <li>我們將對您保險範圍內之事故提供諮詢或現場處理。 但是，如果您只保強制險，發生碰撞財物，無人傷亡之事故，本公司暫不提供服務</li>
                                    <li>如果事故發生後被保險汽車不能使用，需拖吊時，持有國泰道路救援卡者，向現場服務人員表明後即可享有30公里內免費拖吊服務</li>
                                    <li>若未持有國泰道路救援卡者，須自付拖吊費用</li>
                                </ul>
                            </section>
                            <section class="faq-section" data-id="faq-sec-3">
                                <h5 class="faq-title">詳細內容</h5>
                                <ul>
                                    <li>請洽本公司各服務人員或來電「<a href="tel:0800-212-880" target="_blank">0800-212-880</a>」我們將竭誠為您服務 </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->