<!-- build:body -->helper location <!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper short">
        <img src="../img/helper/map-sm.png" srcset="../img/helper/map-sm@2x.png" class="d-block d-md-none">
        <img src="../img/helper/location.png" srcset="../img/helper/location@2x.png" class="d-none d-md-block">
        <div class="container">
            <div class="caption">
                <h1>服務據點</h1>
            </div>
        </div>
    </section>
    
    <div class="container">
        <div class="pop-menu d-block d-lg-none">
            <select class="select2">
                <option value="8-1-0.html">北部、東部花蓮以北地區</option>
                <option value="8-1-1.html">桃竹苗地區</option>
                <option value="8-1-2.html">中部地區</option>
                <option value="8-1-3.html">南部、台東地區</option>
            </select>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3 d-none d-lg-block helper-menu">
                <div class="accordion menu is-open">
                    <div role="button" class="accordion-header">
                        <div class="icon">
                            <i class="icon-chevron-down"></i>
                        </div>
                        <h4>服務地區</h4>
                    </div>
                    <div class="accordion-body">
                        <a class="item active" data-anchor="faq-sec-1">北部、東部花蓮以北地區</a>
                        <a class="item" data-anchor="faq-sec-2">桃竹苗地區</a>
                        <a class="item" data-anchor="faq-sec-3">中部地區</a>
                        <a class="item" data-anchor="faq-sec-4">南部、台東地區</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9 helper-maintain">
                <h4 class="d-none d-md-block mt-0">北部、東部花蓮以北地區</h4>
                <div class="table-respnse">
                    <table class="table table-striped table-collapse">
                        <thead>
                            <tr>
                                <th width="100">單位</th>
                                <th width="*">住址</th>
                                <th width="135">電話</th>
                                <th width="135">傳真</th>
                                <th width="115">無障礙設施</th>
                                <th width="90"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>總公司</td>
                                <td data-title="住址">
                                    <a href="https://goo.gl/maps/7GKs9AYv8v4eGXk8A" target="_blank" class="icon">
                                        <i class="icon-location text-green"></i>
                                    </a>
                                    <div class="content">
                                        <div class="overview">台北市大安區仁愛路四段 296 號 5,7,11 樓</div>
                                        <div class="data-collapse">
                                            <small class="text-gray location">
                                                捷運搭至忠孝復興二號出口，出口左轉直走看到「忠孝東路三段 248 巷」轉入巷子裡，接著直走經過懷生國中，靠近仁愛路三段右方。
                                            </small>
                                        </div>
                                    </div>
                                </td>
                                <td data-title="電話">
                                    <div class="overview">(02)2755-1299</div>
                                    <div class="data-collapse">
                                        <p>
                                            免費服務電話：
                                            <a href="tel:0800-036599" target="_blank">0800-036599</a>
                                        </p>
                                        <p>
                                            車險事故服務：
                                            <a href="tel:0800-020345" target="_blank">0800-020345</a>
                                        </p>
                                    </div>
                                </td>
                                <td data-title="傳真">
                                    <div class="overview">(02)2754-7476</div>
                                    <div class="data-collapse">
                                        員工、股東及利害關係人與監察人意見溝通傳真：<br/>
                                        <a href="tel:0227547476" target="_blank">(02)2754-7476</a>
                                    </div>
                                </td>
                                <td data-title="附">
                                    <div class="overview">無障礙坡道</div>
                                </td>
                                <td class="text-right">
                                    <a role="button" class="link collapse-trigger">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-up"></i>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>基隆通訊處</td>
                                <td data-title="住址">
                                    <a href="https://goo.gl/maps/7GKs9AYv8v4eGXk8A" target="_blank" class="icon">
                                        <i class="icon-location text-green"></i>
                                    </a>
                                    <div class="content">
                                        <div class="overview">台北市大安區仁愛路四段 296 號 5,7,11 樓</div>
                                        <div class="data-collapse">
                                            <small class="text-gray location">
                                                捷運搭至忠孝復興二號出口，出口左轉直走看到「忠孝東路三段 248 巷」轉入巷子裡，接著直走經過懷生國中，靠近仁愛路三段右方。
                                            </small>
                                        </div>
                                    </div>
                                </td>
                                <td data-title="電話">
                                    <div class="overview">(02)2755-1299</div>
                                    <div class="data-collapse">
                                        <p>
                                            免費服務電話：
                                            <a href="tel:0800-036599" target="_blank">0800-036599</a>
                                        </p>
                                        <p>
                                            車險事故服務：
                                            <a href="tel:0800-020345" target="_blank">0800-020345</a>
                                        </p>
                                    </div>
                                </td>
                                <td data-title="傳真">
                                    <div class="overview">(02)2754-7476</div>
                                    <div class="data-collapse">
                                        員工、股東及利害關係人與監察人意見溝通傳真：<br/>
                                        0800-036599
                                    </div>
                                </td>
                                <td data-title="附">
                                    <div class="overview">無障礙坡道</div>
                                </td>
                                <td class="text-right">
                                    <a role="button" class="link collapse-trigger">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-up"></i>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>板橋通訊處</td>
                                <td data-title="住址">
                                    <a href="https://goo.gl/maps/7GKs9AYv8v4eGXk8A" target="_blank" class="icon">
                                        <i class="icon-location text-green"></i>
                                    </a>
                                    <div class="content">
                                        <div class="overview">台北市大安區仁愛路四段 296 號 5,7,11 樓</div>
                                        <div class="data-collapse">
                                            <small class="text-gray location">
                                                捷運搭至忠孝復興二號出口，出口左轉直走看到「忠孝東路三段 248 巷」轉入巷子裡，接著直走經過懷生國中，靠近仁愛路三段右方。
                                            </small>
                                        </div>
                                    </div>
                                </td>
                                <td data-title="電話">
                                    <div class="overview">(02)2755-1299</div>
                                    <div class="data-collapse">
                                        <p>
                                            免費服務電話：
                                            <a href="tel:0800-036599" target="_blank">0800-036599</a>
                                        </p>
                                        <p>
                                            車險事故服務：
                                            <a href="tel:0800-020345" target="_blank">0800-020345</a>
                                        </p>
                                    </div>
                                </td>
                                <td data-title="傳真">
                                    <div class="overview">(02)2754-7476</div>
                                    <div class="data-collapse">
                                        員工、股東及利害關係人與監察人意見溝通傳真：<br/>
                                        0800-036599
                                    </div>
                                </td>
                                <td data-title="附">
                                    <div class="overview">無障礙坡道</div>
                                </td>
                                <td class="text-right">
                                    <a role="button" class="link collapse-trigger">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-up"></i>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>三重通訊處</td>
                                <td data-title="住址">
                                    <a href="https://goo.gl/maps/7GKs9AYv8v4eGXk8A" target="_blank" class="icon">
                                        <i class="icon-location text-green"></i>
                                    </a>
                                    <div class="content">
                                        <div class="overview">台北市大安區仁愛路四段 296 號 5,7,11 樓</div>
                                        <div class="data-collapse">
                                            <small class="text-gray location">
                                                捷運搭至忠孝復興二號出口，出口左轉直走看到「忠孝東路三段 248 巷」轉入巷子裡，接著直走經過懷生國中，靠近仁愛路三段右方。
                                            </small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="overview">(02)2755-1299</div>
                                    <div class="data-collapse">
                                        <p>
                                            免費服務電話：
                                            <a href="tel:0800-036599" target="_blank">0800-036599</a>
                                        </p>
                                        <p>
                                            車險事故服務：
                                            <a href="tel:0800-020345" target="_blank">0800-020345</a>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div class="overview">(02)2754-7476</div>
                                    <div class="data-collapse">
                                        員工、股東及利害關係人與監察人意見溝通傳真：<br/>
                                        0800-036599
                                    </div>
                                </td>
                                <td>
                                    <div class="overview">無障礙坡道</div>
                                </td>
                                <td class="text-right">
                                    <a role="button" class="link collapse-trigger">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-up"></i>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</main>
<!-- /build:content -->