<!-- build:body -->helper<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">幫助中心</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <section class="banner helper">
        <img src="../img/helper/download.png" class="d-none d-md-block" srcset="../img/helper/download@2x.png">
        <img src="../img/helper/download-sm.png" class="d-block d-md-none" srcset="../img/helper/download-sm@2x.png">
        <div class="container">
            <h1>條款下載</h1>
        </div>
    </section>
    <div class="tab-container is-green main-tab">
        <div class="tab-header d-none d-lg-block">
            <div class="container">
                <ul class="tab" role="tab">
                    <li class="active"><a href="./8-8-0.html" class="tab-item">個人險</a></li>
                    <li><a href="./8-8-1.html" class="tab-item">商業險</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="8-8-0.html">個人險</option>
                    <option value="8-8-1.html">商業險</option>
                </select>
                <select class="select2 switch-content">
                    <optgroup label="保險列表">
                        <option value="1" selected>汽車險</option>
                        <option value="2">機車險</option>
                        <option value="3">旅遊險/旅平險</option>
                        <option value="4">特定運動/活動</option>
                        <option value="5">住家/租屋保戶傘</option>
                        <option value="6">住宅火險及地震基本保險</option>
                        <option value="7">手機保險</option>
                        <option value="8">寵物保險</option>
                        <option value="9">農作物li險
                        <option value="10">自行車險</option>
                        <option value="11">登山險</option>
                        <option value="12">山差遊學打工</option>
                        <option value="13">執行業務</option>
                        <option value="14">交通意外險</option>
                        <option value="15">傷害保險</option>
                        <option value="16">族群專屬保險</option>
                        <option value="17">低保額意外保險</option>
                        <option value="18">住院醫療癌症保險</option>
                        <option value="19">婚禮蜜月保險</option>
                    </optgroup>
                    <optgroup label="其他">
                        <option value="20">其他1</option>
                        <option value="21">其他2</option>
                        <option value="22">其他3</option>
                        <option value="23">其他4</option>
                    </optgroup>
                </select>
            </div>
            <div class="row">
                <div class="col-md-3 helper-menu">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>保險列表</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" data-target="1" class="item active">汽車險</a>
                            <a role="button" data-target="2" class="item">機車險</a>
                            <a role="button" data-target="3" class="item">旅遊險/旅平險</a>
                            <a role="button" data-target="4" class="item">特定運動/活動</a>
                            <a role="button" data-target="5" class="item">住家/租屋保戶傘</a>
                            <a role="button" data-target="6" class="item">住宅火險及地震基本保險</a>
                            <a role="button" data-target="7" class="item">手機保險</a>
                            <a role="button" data-target="8" class="item">寵物保險</a>
                            <a role="button" data-target="9" class="item">農作物保險
                            <a role="button" data-target="10" class="item">自行車險</a>
                            <a role="button" data-target="11" class="item">登山險</a>
                            <a role="button" data-target="12" class="item">山差遊學打工</a>
                            <a role="button" data-target="13" class="item">執行業務</a>
                            <a role="button" data-target="14" class="item">交通意外險</a>
                            <a role="button" data-target="15" class="item">傷害保險</a>
                            <a role="button" data-target="16" class="item">族群專屬保險</a>
                            <a role="button" data-target="17" class="item">低保額意外保險</a>
                            <a role="button" data-target="18" class="item">住院醫療癌症保險</a>
                            <a role="button" data-target="19" class="item">婚禮蜜月保險</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>其他</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" data-target="20" class="item">其他1</a>
                            <a role="button" data-target="21" class="item">其他2</a>
                            <a role="button" data-target="22" class="item">其他3</a>
                            <a role="button" data-target="23" class="item">其他4</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 helper-maintain">
                    <h4 class="mt-0 d-none d-md-block">汽車險</h4>
                    <div class="radio-labels">
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-1" checked>
                            <label for="q-type-1">所有條款</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-2">
                            <label for="q-type-2">強制險</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-3">
                            <label for="q-type-3">車體險</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-4">
                            <label for="q-type-4">竊盜險</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-5">
                            <label for="q-type-5">責任險</label>
                        </div>
                        <div class="radio" role="button">
                            <input type="radio" name="qtype" id="q-type-6">
                            <label for="q-type-6">第三人</label>
                        </div>
                    </div>
                    <div class="accordion-title">
                        強制險
                    </div>
                    <div class="faq-list">
                        <a class="download item" role="button">
                            <div class="icon">
                                <i class="icon-download text-green"></i>
                            </div>
                            <h4 class="accordion-title">國泰產物汽車強制險</h4>
                        </a>
                        <a class="download item" role="button">
                            <div class="icon">
                                <i class="icon-download text-green"></i>
                            </div>
                            <h4 class="accordion-title">國泰產物強制汽車責任保險附加駕駛人傷害保險</h4>
                        </a>
                        <a class="download item" role="button">
                            <div class="icon">
                                <i class="icon-download text-green"></i>
                            </div>
                            <h4 class="accordion-title">國泰產物強制汽車責任保險駕駛人傷害附加條款（限車主本人）</h4>
                        </a>
                        <a class="download item" role="button">
                            <div class="icon">
                                <i class="icon-download text-green"></i>
                            </div>
                            <h4 class="accordion-title">國泰產物汽車保險共同條款</h4>
                        </a>
                    </div>
                    <div class="accordion-title">
                        車體險
                    </div>
                    <div class="faq-list">
                        <a class="download item" role="button">
                            <div class="icon">
                                <i class="icon-download text-green"></i>
                            </div>
                            <h4 class="accordion-title">國泰產物汽車車體損失保險甲式</h4>
                        </a>
                        <a class="download item" role="button">
                            <div class="icon">
                                <i class="icon-download text-green"></i>
                            </div>
                            <h4 class="accordion-title">國泰產物汽車車體損失保險乙式</h4>
                        </a>
                    </div>
                    <div class="accordion-title">
                        竊盜險
                    </div>
                    <div class="faq-list">
                        <a class="download item" role="button">
                            <div class="icon">
                                <i class="icon-download text-green"></i>
                            </div>
                            <h4 class="accordion-title">國泰產物汽車竊盜損失保險零件、配件被竊損失附加條款</h4>
                        </a>
                        <a class="download item" role="button">
                            <div class="icon">
                                <i class="icon-download text-green"></i>
                            </div>
                            <h4 class="accordion-title">國泰產物汽車竊盜損失保險零配件被竊損失高額保障附加條款</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->