.bg-primary
    background: $main !important

.bg-primary-light
    background: $secondary !important

.bg-secondary
    background: $card-green !important
.bg-light-green
    background: $light-green !important
.bg-yellow-green
    background: $yellow-green !important

.bg-orange
    background: $orange !important
.bg-red
    background: $red !important
.bg-main-gradient
    background: $main-gradient !important
.bg-secondary-gradient
    background: $secondary-gradient !important

.bg-tag-purple
    background: $tag-purple !important
.bg-tag-green
    background: $tag-green !important
.bg-tag-teal
    background: $tag-teal !important
.bg-tag-blue
    background: $tag-blue !important

.bg-black
    background: $dark-gray !important
.bg-white
    background: #FFF !important

.bg-textgray
    background: $gray !important

.bg-placeholder
    background: $placeholder !important

.bg-disabled
    background: $disabled !important

.bg-gray
    background: $bg-gray !important

.bg-red,
.bg-error
    background: $red !important

// Text

.text-primary
    color: $main !important

.text-secondary
    color: $card-green !important

.highlight,
.text-orange
    color: $orange !important

.text-black
    color: $dark-gray !important

.text-gray
    color: $gray !important

.text-placeholder
    color: $placeholder !important

.text-disabled
    color: $disabled !important

.text-light-gray
    color: $bg-gray !important
    
.text-decoration
    color: $text-decoration !important
    
.errror,
.text-red
    color: $red !important