*
    font-weight: 300

body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, *
    font-family: "Microsoft JhengHei", "微軟正黑體", "STHeitiTC-Light", "Microsoft YaHei", "微软雅黑", "新細明體", Arial, sans-serif

html, body 
    background: #FCFCFC
    min-height: 100%
    color: $dark-gray
    overflow-x: hidden
    -webkit-overflow-scrolling: touch

    &.overlay-open
        overflow: hidden !important

body
    font-size: 16px
    margin: 0
    padding: 0 0
    width: 100vw
    min-height: 100vh
    display: block
    overflow-y: auto
    padding-top: 120px

    > main 
        padding-bottom: $space-unit*6
*
    box-sizing: border-box

.col-centered
    float: none !important
    margin: 0 auto !important

*[role="button"],
*[data-trigger="modal"]
    cursor: pointer !important

ul
    list-style: none
    margin: 0
    padding: 0

ol.cjk-order
    list-style: cjk-ideographic !important

a,
a:link
    text-decoration: none
    transition: color .3s ease
    *
        vertical-align: middle

    *[class*='icon-']
        margin-left: -2px

a:link,
a:visited,
.link
    color: $main
    &:hover,
    &:focus
        opacity: .8
        color: $main

    &.text-white
        color: white 

        &:hover,
        &:focus
            color: white

.text-cursor
    cursor: pointer !important

img
    border: 0 !important
    line-height: 0 !important

.row
    &::before,
    &::after
        width: 0
    .row
        margin-left: -10px !important
        margin-right: -10px !important

.text-left
    text-align: left !important
.text-right
    text-align: right !important
.text-center
    text-align: center !important
.align-top
    vertical-align: top !important
.align-middle
    vertical-align: middle !important
.align-bottom
    vertical-align: bottom !important
    
.text-sm
    font-size: .85em
                          
.text-lg
    font-size: 1.2em

.text-muted 
    color: $light-gray

.text-green 
    color: $main !important
                                                                                                                                        
.text-deep-gray 
    color: $deep-gray !important
                                                                                                                                        
.text-orange 
    color: $orange !important

.text-white 
    color: white !important

.indent 
    text-indent: 30px

.float-left
    float: left !important

.float-right
    float: right !important

.container
    position: relative
    max-width: 1200px !important
    padding-left: 20px !important
    padding-right: 20px !important

.note
    margin-top: $space-unit*2
    display: block
    line-height: 1.3

.with-gotop,
.gotop
    position: fixed
    width: 48px
    height: 40px
    line-height: 40px
    border-radius: 10px 10px 0 0
    color: #ffffff
    text-align: center
    background: $gray
    right: 30px
    bottom: -40px
    transition: all .3s ease
    z-index: 3999
    padding: 6px 0 0
    > *
        display: block
        font-size: 32px !important
    &.is-slide-in
        bottom: 0
        &.more
            bottom: 97px

.carrisk
    color: #FFF !important
    background: $orange
    padding: 0 12px
    width: auto
    right: 90px
    font-size: 16px

.empty-result
    text-align: center
    padding: $space-unit*7 45px
    .image-empty
        margin-top: $space-unit*2
    > img 
        width: 379px
    
.border-0
    border: 0 !important

.border
    border: 1px !important
.border-top
    border-top-width: 1px !important
.border-bottom
    border-bottom-width: 1px !important
.border-left
    border-left-width: 1px !important
.border-right
    border-right-width: 1px !important

// Margin & Padding
@for $i from 0 to 5
    .m-#{$i}
        margin: $i * 10px !important

    .mt-#{$i}
        margin-top: $i * 10px !important

    .mr-#{$i}
        margin-right: $i * 10px !important

    .mb-#{$i}
        margin-bottom: $i * 10px !important

    .ml-#{$i}
        margin-left: $i * 10px !important

    .mx-#{$i}
        margin-left: $i * 10px !important
        margin-right: $i * 10px !important

    .my-#{$i}
        margin-top: $i * 10px !important
        margin-bottom: $i * 10px !important

    .p-#{$i}
        padding: $i * 10px !important

    .pt-#{$i}
        padding-top: $i * 10px !important

    .pr-#{$i}
        padding-right: $i * 10px !important

    .pb-#{$i}
        padding-bottom: $i * 10px !important

    .pl-#{$i}
        padding-left: $i * 10px !important
    
    .px-#{$i}
        padding-left: $i * 10px !important
        padding-right: $i * 10px !important

    .py-#{$i}
        padding-top: $i * 10px !important
        padding-bottom: $i * 10px !important

.clearfix::after
    display: block
    clear: both
    content: ""

.float-menu
    position: absolute
    color: #FFF
    top: 0
    width: 200px
    border-radius: 10px
    background-color: $card-green
    padding: $space-unit*3 $space-unit*4
    text-align: center

    &.is-fixed
        position: fixed

    .btn 
        margin-top: $space-unit*2
        margin-bottom: 0 !important
        margin-left: 0 !important
        margin-right: 0 !important

article 
    font-size: 16px
    color: rgba(0,0,0,.87)
    padding: $space-unit*3 0
    .tab-pane
        border: 0
        background: none
        box-shadow: none
        .tab-content
            padding-top: 0
            min-height: 300px
    img 
        width: auto 
        max-width: 100%

    p 
        margin-top: $space-unit
        margin-bottom: $space-unit*3

    .card > .content p
        margin-bottom: $space-unit*2

    .cover 
        margin-bottom: $space-unit*5
        > img
            display: block
            border-radius: 10px
    .meta 
        font-size: 14px
        color: $gray
        margin-bottom: $space-unit
    h2
        margin-top: 0

    .title-border
        font-weight: bold
        padding: 10px 0
        margin-bottom: $space-unit*2
        border-bottom: 2px solid $border-gray

    ul 
        list-style-type: disc
        padding-left: 20px
    ol 
        margin-bottom: $space-unit*7
        &.cjk-order
            list-style: cjk-ideographic
        li 
            margin-top: $space-unit
            margin-bottom: $space-unit

    li > ul,
    li > ol
        margin-bottom: $space-unit
    li > ul li,
    li > ol li
        margin-top: $space-unit/2
        margin-bottom: $space-unit/2

    + .action
        text-align: center
        margin-bottom: 200px

    .select.round-select
        margin-bottom: $space-unit*9

    .labels
        margin: $space-unit*3 0

    table.table
        margin: $space-unit*7 0

.d-none
    display: none !important


.d-inline
    display: inline !important


.d-inline-block
    display: inline-block !important


.d-block
    display: block !important


.d-table
    display: table !important


.d-table-row
    display: table-row !important


.d-table-cell
    display: table-cell !important


.d-flex
    display: -ms-flexbox !important
    display: flex !important


.d-inline-flex
    display: -ms-inline-flexbox !important
    display: inline-flex !important


@media (min-width: 576px)
    .d-sm-none
        display: none !important

    .d-sm-inline
        display: inline !important

    .d-sm-inline-block
        display: inline-block !important

    .d-sm-block
        display: block !important

    .d-sm-table
        display: table !important

    .d-sm-table-row
        display: table-row !important

    .d-sm-table-cell
        display: table-cell !important

    .d-sm-flex
        display: -ms-flexbox !important
        display: flex !important

    .d-sm-inline-flex
        display: -ms-inline-flexbox !important
        display: inline-flex !important
  


@media (min-width: 768px)
    .d-md-none
        display: none !important
  
    .d-md-inline
        display: inline !important
  
    .d-md-inline-block
        display: inline-block !important
  
    .d-md-block
        display: block !important
  
    .d-md-table
        display: table !important
  
    .d-md-table-row
        display: table-row !important
  
    .d-md-table-cell
        display: table-cell !important
  
    .d-md-flex
        display: -ms-flexbox !important
        display: flex !important
  
    .d-md-inline-flex
        display: -ms-inline-flexbox !important
        display: inline-flex !important
  


@media (min-width: 992px)
    body
        padding-top: 120px
    .d-lg-none
        display: none !important
  
    .d-lg-inline
        display: inline !important
  
    .d-lg-inline-block
        display: inline-block !important
  
    .d-lg-block
        display: block !important
  
    .d-lg-table
        display: table !important
  
    .d-lg-table-row
        display: table-row !important
  
    .d-lg-table-cell
        display: table-cell !important
  
    .d-lg-flex
        display: -ms-flexbox !important
        display: flex !important
  
    .d-lg-inline-flex
        display: -ms-inline-flexbox !important
        display: inline-flex !important
  


@media (min-width: 1200px)
    .d-xl-none
        display: none !important
  
    .d-xl-inline
        display: inline !important
  
    .d-xl-inline-block
        display: inline-block !important
  
    .d-xl-block
        display: block !important
  
    .d-xl-table
        display: table !important
  
    .d-xl-table-row
        display: table-row !important
  
    .d-xl-table-cell
        display: table-cell !important
  
    .d-xl-flex
        display: -ms-flexbox !important
        display: flex !important
  
    .d-xl-inline-flex
        display: -ms-inline-flexbox !important
        display: inline-flex !important
  

@media screen and (max-width: 992px)
    body 
        padding-top: 56px

@media screen and (max-width: 767px)
    .with-gotop
        display: none
    .gotop
        right: 10px
        bottom: -80px

        &.is-slide-in.more
            bottom: 152px

    .empty-result
        padding-left: 0
        padding-right: 0
        margin-top: 56px
        img 
            width: 250px
    .float-menu
        border-radius: 0
        position: fixed
        width: 100%
        bottom: 0
        right: auto
        top: auto
        left: 0
        z-index: 99
        padding-top: 12px
        padding-bottom: 4px
        p 
            margin-bottom: 0
        .btn
            margin: 0 $space-unit $space-unit !important
            width: 40% !important


  