html, body 
    font-size: 18px
    line-height: 1.5

h1, h2, h3, h4, h5, h6 
    font-weight: bold
    // margin-bottom: 5px
p 
    margin-top: 0

h1 
    font-size: 36px
    line-height: 1
    letter-spacing: 2px
    font-weight: thin
    &.text-lg
        font-size: 40px


h2 
    font-weight: bold
    font-size: 28px
    line-height: 1
    letter-spacing: 2px
    
h3
    font-size: 24px
    line-height: 28px
    
h4
    font-size: 20px
    line-height: 28px
h5
    font-size: 18px
    line-height: 28px
h6
    font-size: 16px
    line-height: 40px

*.section-title
    text-align: center
    margin-top: 0
    line-height: 1.5
    font-weight: 400
    // opacity: .7

*.text
    font-size: 16px
    line-height: 28px

label.error
    font-size: 14px
    line-height: 24px
    color: $red

h2.quote
    font-size: 36px
    margin: 0
    line-height: 1.3
    &:before
        content: "\e922"
        position: relative
        font-family: 'icomoon'
        font-size: 25px
        vertical-align: super
        margin-left: -40px
        margin-right: 0px
        top: -15px

@media screen and (max-width: 768px)
    html, body 
        font-size: 16px

    h1, h2, h3 
        font-size: 20px

    h4,
    h4.section-title
        font-size: 16px
    