<template>
    <div class="test">{{text}}</div>
</template>
<script>
    export default {
        data(){
            return {
                text: 'Hello from vue !！！'
            }
        }
    }
</script>
