<!-- build:content -->
<form id="form1" method="POST" class="bobeForm">
	<input type="hidden" id="forwardTrx" name="forwardTrx" value="ECV2_0100" autocomplete="off">
	<input type="hidden" id="trxUniKey" name="trxUniKey" value="" autocomplete="off">
	<input type="hidden" id="isPonta" name="isPonta" value="" autocomplete="off">
	<!--container-->
	<div class="main-container">
		<!-- breadcrumb CAI-->
		<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="homePage" title="首頁" href="http://10.175.2.29:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
					<span itemprop="name">首頁</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.175.2.29:8080/INSEBWeb/html/ECF20100.jsp#">
					<span itemprop="name">試算投保</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
					<a itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
					<span itemprop="name">住宅火險</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol></div></div>
		<!-- slider CAI-->
		<section class="cover image-slider slider-all-controls controls-inside" id="flowSlider">
			<ul class="slides">
				<!--banner1-->
				<li class="image-bg flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
					<div class="background-image-holder fadeIn" style="background: url(&quot;https://w3.bobe.com.tw/CXIDocs/EB/img/pic/fire/420181205.jpg&quot;);">
						<img title="banner1" alt="banner1" class="background-image" src="../../img/420181205.jpg" draggable="false" style="display: none;">
					</div>
				</li>
			</ul>
			<ul class="flex-direction-nav">
				<li>
					<a class="flex-prev flex-disabled" href="http://10.175.2.29:8080/INSEBWeb/html/ECF20100.jsp#" tabindex="-1">Previous</a>
				</li>
				<li>
					<a class="flex-next flex-disabled" href="http://10.175.2.29:8080/INSEBWeb/html/ECF20100.jsp#" tabindex="-1">Next</a>
				</li>
			</ul>
		<ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="http://10.175.2.29:8080/INSEBWeb/html/ECF20100.jsp#" tabindex="-1">Previous</a></li><li><a class="flex-next flex-disabled" href="http://10.175.2.29:8080/INSEBWeb/html/ECF20100.jsp#" tabindex="-1">Next</a></li></ul></section>
		<!-- content -->
		<section class="container container--default container--btnfixed" data-btnfixd="">
			<div class="mainTitle h1"> 投保說明</div>
			<div class="insureProgram">
				<div class="insureProgram__type">
					<i class="bobeIcon iType iType--car"></i>
					<span class="bobeIconText">住宅火險保險</span>
				</div>
				<div class="insureProgram__plan">
					<div class="planTag">
						<span class="planTag__tag">投保</span>
						<span class="planTag__title">火險商品</span>
					</div>
					<div>保費享<span class="fEmphasize fAlert">87</span> 折 </div>
				</div>
				<div class="insureProgram__plan">
					<div class="planTag">
						
						<span class="planTag__title">房屋貸款火險保單</span>
					</div>
					<div>可寄送至指定行庫</div>
				</div>
			</div>
			<div class="bobeTableCompartment row">
				<div class="bobeTableDeco">
					<div class="bobeTableDeco__text">須註冊為本網站會員(年滿20歲)</div>
					<div class="bobeTableDeco__img"></div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="groupCube groupCube--pink">
						<!--   <div class="h2">網路投保</div>-->
						<div class="groupCube__content">
							<table class="bobeTable bobeTable--compare bobeTable--pink">
								<tbody><tr data-mh="id" style="height: 93px;">
									<td class="bobeTable__th">房屋使用</td>
									<td><div class="fAlert fBold">自用住宅</div></td>
								</tr>
								<tr data-mh="verify" style="height: 93px;">
									<td class="bobeTable__th">投保身分</td>
									<td><div>屋主本人投保</div></td>
								</tr>
								<tr data-mh="product" style="height: 93px;">
									<td class="bobeTable__th">投保商品</td>
									<td><div>住宅火險(含住宅地震基本險)<br>(房屋貸款須保)</div></td>
								</tr>
								<tr data-mh="way" style="height: 93px;">
									<td class="bobeTable__th">擴大保障</td>
									<td>
										<div>可搭配或單獨投保住家保戶傘專案</div>				                               
									</td>
								</tr>
							</tbody></table>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="groupCube groupCube--pink">
						<!--    <div class="h2">傳真要保</div>-->
						<div class="groupCube__content">
							<table class="bobeTable bobeTable--compare bobeTable--pink">
								<tbody><tr data-mh="id" style="height: 93px;">
									<td class="bobeTable__th">房屋使用</td>
									<td><div class="fAlert fBold">承租房屋</div></td>
								</tr>
								<tr data-mh="verify" style="height: 93px;">
									<td class="bobeTable__th">投保身分</td>
									<td>
										<div>租客本人投保</div>
									</td>
								</tr>
								<tr data-mh="product" style="height: 93px;">
									<td class="bobeTable__th">投保商品</td>
									<td>
										<div>租事平安專案</div>
									</td>
								</tr>
								<tr data-mh="way" style="height: 93px;">
									<td class="bobeTable__th">擴大保障</td>
									<td>
										<div>可搭配或單獨投保住家保戶傘專案</div>
									</td>
								</tr>
							</tbody></table>
						</div>
					</div>
				</div>
				<div class="bobeTableHead">
					<div class="bobeTableHead__th" data-mh="id" style="height: 93px;">
						<div class="inline vam">
							<i class="bobeIcon iCompare iCompare--id"></i>
							<span class="bobeIconText bobeIconText--vertical mt5">房屋使用</span>
						</div>
					</div>
					<div class="bobeTableHead__th" data-mh="verify" style="height: 93px;">
						<div class="inline vam">
							<i class="bobeIcon iCompare iCompare--verify"></i>
							<span class="bobeIconText bobeIconText--vertical mt5">投保身分</span>
						</div>
					</div>
					<div class="bobeTableHead__th" data-mh="product" style="height: 93px;">
						<div class="inline vam">
							<i class="bobeIcon iCompare iCompare--product"></i>
							<span class="bobeIconText bobeIconText--vertical mt5">投保商品</span>
						</div>
					</div>
					<div class="bobeTableHead__th" data-mh="way" style="height: 93px;">
						<div class="inline vam">
							<i class="bobeIcon iCompare iCompare--way"></i>
							<span class="bobeIconText bobeIconText--vertical mt5">擴大保障</span>
						</div>
					</div>
				</div>
			</div>
			<div class="mainAction mainAction--mofixed mainAction--single">
				<div class="mainAction__wording"></div>
				<div class="mainAction__wording noticeBlock noticeBlock--withIconTips">
					<div class="noticeBlock__content" style="text-align:left">
						<!-- <i class="bobeIcon iNotice"></i> -->
						<span class="bobeIconText fPrompt">網站將依據您提供的房屋使用狀況，推薦可投保的商品方案及擴大保障方案，您亦自行選擇合適的保險商品。</span>
					</div>
				</div>
				<div class="mainAction__btn">
					<a href="javascript:void(0);" id="linkFlowBox" data-fancybox="" data-src="#flowBox" class="bobebtn bobebtn--major bobebtn--important" title="試算投保" onclick="doChkAnnouncement();">
						<i class="bobeIcon iBtn iBtn--count"></i>
						<span class="bobeIconText">試算/投保</span>
					</a>
				</div>
			</div>
		</section>
		<!-- fancybox -->
		<div class="popup popup--sm" id="flowBox">
			<div class="popup__content">
				<div class="mainAction mainAction--two" style="word-break: break-all;">
					<div class="mainAction__wording tal" style="word-break: break-all;">為利於快速投保，可先進行登入，以便帶出您在本公司留存的資料。</div>
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkSkip" title="先略過登入會員" onclick="doNext();">
							<span>先略過</span>
						</a>
						<a href="javascript:;" class="bobebtn bobebtn--major" data-fancybox-close="" id="linkYes" title="是，登入會員" onclick="doLoginThisPage();">
							<span>是</span>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</form>	
<!-- /build:content -->