<!-- build:content -->
	<div class="main-container">
		<!-- breadcrumb CAI-->
		<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.175.2.29:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
					<span itemprop="name">首頁</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.175.2.29:8080/INSEBWeb/html/ECF20200.jsp#">
					<span itemprop="name">試算投保</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkCar" title="住宅火險" href="javascript:;" style="cursor: default;">
					<span itemprop="name">住宅火險</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol></div></div>
		<!-- progress -->
		<section class="borderBottom">
			<div class="container container--sm">
				<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item active">									<div class="progressStep__number">1</div>									<div class="progressStep__title">房屋資料</div>							</li><li class="progressStep__item">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
			</div>
		</section>
		<!-- content -->
		<section class="container container--default">
			<!-- Category Group -->
			<form id="form1" method="POST" action="http://10.175.2.29:8080/INSEBWeb/html/ECF20200.jsp" class="bobeForm">
				
				<div class="mainAction__wording noticeBlock noticeBlock--withIconTips" style="margin-bottom: 5px;">
					<div class="noticeBlock__content" style="text-align: left;">
						<!-- <i class="bobeIcon iNotice"></i> -->
						<span class="bobeIconText fPrompt">提示訊息</span>
					</div>
				</div>
				<div class="mainAction__wording" style="margin-bottom: 5px;color: red;">
					<div class="noticeBlock__content" style="text-align: left;margin-left: 5px;">
						<span class="bobeIconText fPrompt">以下欄位均為必填，請依真實資料填寫，方能提供您正確的保費資訊。</span>
					</div>
				</div>
				<div class="category mb30">
					<div class="category__head">
						<div class="categoryHead categoryHeadCust1">
							<div class="categoryHead__title">房屋資料</div>
							
						</div>
						<div class="categoryHeadCust2">
							<div style="display: inline-block">
								<a href="javascript:void(0);" class="link link--border" id="linkOpenCarInfo1" title="帶入前期資料" data-fancybox="" data-src="#continueinformationBox" onclick="doQueryCarNoList(&#39;1&#39;);">
									<i class="bobeIcon iInfo"></i>
									<span class="bobeIconText">帶入前期資料</span>
								</a>
							</div>
							&nbsp;&nbsp;&nbsp;
							<div style="display: inline-block">
								<a href="javascript:void(0);" class="link link--border link--car" id="linkOpenCarInfo2" title="帶入常用建物" data-fancybox="" data-src="#carinformationBox" onclick="doQueryCarNoList(&#39;2&#39;);">
									<i class="bobeIcon iInfo"></i>
									<span class="bobeIconText">帶入常用建物</span>
								</a>
							</div>
									<!--<input type="checkbox" name="addCommonCar" id="addCommonCar" onchange="chkAddCommonCar();">
								<label for="addCommonCar">儲存房屋資料</label>-->
						</div>	
					</div>
					<div class="category__content category__content--lg">
						<!-- Inline Group -->
						<div class="inlineGroup">
							<label class="inlineGroup__label">房屋使用狀況</label>
							<div class="inlineGroup__input">
								<!-- Radio Inline -->
								<div class="radioInline">
									<input type="radio" value="1" name="customerType" id="customerType1" checked="" autocomplete="off">
									<label for="customerType1">自用住宅	</label>
								</div>
								<div class="radioInline">
									<input type="radio" value="3" name="customerType" id="customerType3" autocomplete="off">
									<label for="customerType3">承租戶</label>
								</div>
							</div>
						</div>
						
						<div class="inlineGroup">
							<label class="inlineGroup__label">通訊地址：</label>
							<div class="inlineGroup__input">
								<div class="row">
									<div class="col-md-9">
										<div class="groupAddArea">
											<div data-form="single">
												<select id="assCityCode" name="assCityCode" onchange="doAfterCityChange(&#39;ass&#39;);doCheckAddress(&#39;ass&#39;);" style="color: rgb(153, 153, 153); display: none;">
													<option value="" style="color: rgb(0, 0, 0);">請選擇縣市</option>
													
														<option value="" style="color: rgb(0, 0, 0);"></option>
													
												</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇縣市</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇縣市</span></li><li data-settings="" class=""><span></span></li></ul></li></ul>
												<em id="assCityCode_msg" class="error" style="display: none;"></em>
											</div>
											<div data-form="single">
												<select id="assAreaCode" name="assAreaCode" onchange="doSetAddressTip(&#39;ass&#39;);doCheckAddress(&#39;ass&#39;);" style="color: rgb(153, 153, 153); display: none;">
													<option value="" style="color: rgb(0, 0, 0);">請選擇行政區</option>
												</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇行政區</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇行政區</span></li></ul></li></ul>
												<em id="assAreaCode_msg" class="error" style="display: none;"></em>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="inlineGroup__input">
								<div data-form="single">
									<input type="text" autocomplete="off" value="" id="assAddress" name="assAddress" maxlength="100" onkeyup="doSetAddressTip(&#39;ass&#39;);doCheckAddress(&#39;ass&#39;);" onblur="doSetAddressTip(&#39;ass&#39;)">
									<em id="assAddress_msg" class="error" style="display: none;"></em>
								</div>
								<span id="assFullAddressSpan" style="color: #00a546;"></span>
								<p></p>
								<span class="fPrompt">房屋地址確認：</span>
							</div>
						</div>
						
						<div class="inlineGroup">
									<label class="inlineGroup__label">建造年份(民國)</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" id="maximumLoad" name="maximumLoad" title="建造年份" maxlength="2" onblur="doCheckMaximumLoad();" autocomplete="off">
														<em id="maximumLoad_msg" class="error" style="display: none;"></em>
													</div>
													<span>年</span>
												</div>
											</div>
										</div>
									</div>
									
						</div>
							<div class="inlineGroup">
									<label class="inlineGroup__label inlineGroup__label--twoline">建築物樓層數<br>(不含地下室)</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" id="maximumLoad" name="maximumLoad" title="建築物樓層數(不含地下室)" maxlength="2" onblur="doCheckMaximumLoad();" autocomplete="off">
														<em id="maximumLoad_msg" class="error"></em>
													</div>
													<span>層</span>
												</div>
											</div>
										</div>
									</div>
						</div>
						
						<div class="inlineGroup">
							<label class="inlineGroup__label">建築物本體建材</label>
							<div class="inlineGroup__input">
								<div data-form="single">
									<select class="required" id="vehicleKindNo" name="vehicleKindNo" title="車輛種類" value="" style="color: rgb(153, 153, 153); display: none;">
										<option value="" style="color: rgb(0, 0, 0);">請選擇</option>
									</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇</span></li></ul></li></ul>
									
									<em id="vehicleKindNo_msg" class="error" style="display: none;"></em>
								</div>
							</div>
						</div>
							<div class="inlineGroup">
							<label class="inlineGroup__label">建築物屋頂建材</label>
							<div class="inlineGroup__input">
								<div data-form="single">
									<select class="required" id="vehicleKindNo" name="vehicleKindNo" title="車輛種類" value="" style="color: rgb(153, 153, 153); display: none;">
										<option value="" style="color: rgb(0, 0, 0);">請選擇</option>
									</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇</span></li></ul></li></ul>
									
									<em id="vehicleKindNo_msg" class="error" style="display: none;"></em>
								</div>
							</div>
						</div>
						<!-- Inline Group -->
						<div class="inlineGroup">
							<label class="inlineGroup__label">房屋面積</label>
							<div class="inlineGroup__input">
								<div class="row">
									<div class="col-sm-12">			                              
											<div class="groupCarid col-sm-4" data-form="single" style="padding-left: 0px;">
												<input type="text" id="carNo1" name="carNo1" title="坪" maxlength="4" class="toUpperFormat" autocomplete="off">			                                     
											</div>
											<span class="col-sm-2" style="text-align: center;">坪、 或</span>
											<div class="groupCarid col-sm-4" data-form="single" style="padding-left: 0px;">
												<input type="text" id="carNo2" name="carNo2" title="平方公尺" maxlength="8" class="toUpperFormat" autocomplete="off">			                                    
											</div>
												<span class="col-sm-2">平方公尺</span>
										
										<em id="carNo_msg" class="error" style="display: none;"></em>
									</div>
								</div>
							</div>
						</div>
						
						<div class="inlineGroup">
									<label class="inlineGroup__label">裝潢成本總價</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" id="maximumLoad" name="maximumLoad" title="房屋裝潢成本" maxlength="3" onblur="doCheckMaximumLoad();" autocomplete="off">
														<em id="maximumLoad_msg" class="error"></em>
													</div>
													<span>萬元</span>
												</div>
											</div>
										</div>
									</div>
									
						</div>
					</div>
				</div>
		<!-- <div class="category">
						<div class="category__head">
							<div class="categoryHead">
								<div class="categoryHead__title">保險日期</div>
							</div>
						</div>
						<div class="category__content category__content--lg">
							<div class="inlineGroup">
									<label class="inlineGroup__label">保險日期</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" id="maximumLoad" name="maximumLoad" title="保險日期" maxlength="2" onblur="doCheckMaximumLoad();">
														<em id="maximumLoad_msg" class="error"></em>
													</div>
													<span>中午12時起，保期一年。</span>
												</div>
											</div>
										</div>
									</div>
									
						</div>
																				
						</div>
					</div>-->
					
					<div class="mainAction mainAction--two ">
						<div class="mainAction__wording" id="divLogin2">為利於快速投保，可先進行 <a href="javascript:void(0);" id="linkLogin2" class="link link--alert link--border" title="登入" onclick="doLoginThisPage();"><span>登入</span></a> 以便帶出您在本公司留存的資料！</div>	
						<div class="mainAction__btn">
							<a href="javascript:void(0);" id="linkBack2" class="bobebtn bobebtn--minor" title="返回" onclick="goPrev();">
								<span>返回</span>
							</a>
							<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkNextStep" title="下一步" onclick="doNext();">
								<span>下一步</span>
							</a>
						</div>
					</div> 
			</form>
			
		</section>
		<!-- fancybox -->

	
	
	</div>
<!-- /build:content -->