<!-- build:content -->
<div class="main-container">
	<!-- breadcrumb CAI-->
	<div class="breadcrumb-container"><div class="container">
		<ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.175.2.29:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
					<span itemprop="name">首頁</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.175.2.29:8080/INSEBWeb/html/ECF20300.jsp#">
					<span itemprop="name">試算投保</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkCar" title="住宅火險" href="javascript:;" style="cursor: default;">
					<span itemprop="name">住宅火險</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol>
	</div>
</div>
<!-- progress -->
<section class="borderBottom">
	<div class="container container--sm">
		<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item prev">									<div class="progressStep__number">1</div>									<div class="progressStep__title">房屋資料</div>							</li><li class="progressStep__item active">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
	</div>
</section>
	<!-- content -->
	<section class="container container--default container--btnfixed" data-btnfixd="">
		<div class="mainTitle h1">
			選擇方案-自選搭配
		</div>
		<div class="mainDateline">
			<!--<div class="mainDateline__data">
				<ul class="list list--none">							
						<li>
							<span class="fBold"> 住宅火險 保險預定生效日：</span>
							2019年03月03日中午12時起，保期1年。
						</li>					
					
				</ul>
			</div>-->
			<div class="mainDateline__action">
				<div class="mainAction mainAction--single">
					<div class="mainAction__btn" id="divLogin1" style="display:none">
						<a href="javascript:void(0);" id="linkLogin" class="bobebtn bobebtn--major" onclick="doLoginThisPage()">
							<span>快速登入</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="mainFilter">
			<div class="mainFilter__title">請勾選欲投保的險種</div>
		</div>
		<form id="form1" method="POST" class="bobeForm">			
			<div class="row">
				<div class="col-md-8">
					
					<!---------------------------------------------------------- 第一個區塊-火險 ---------------------------------------------------------->
					<div class="category category--choose chooseChecked haveCompul" data-choose="first">
						<div class="category__head">
							<div class="categoryHead">
								<div class="categoryHead__checkbox checkboxSub">
									<input type="checkbox" name="selCode21" id="selCode21" data-choosemain="first" onchange="doSelCode21();getPremium(&#39;21&#39;,&#39;injuryAmount-deathAmount&#39;);" checked="" disabled="" autocomplete="off">
									<label for="selCode21" class="bobeIconText">
										住宅火災保險
									</label>
									<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;21&#39;);">
										<i class="bobeIcon iInfo"></i>
										
									</a>
								</div>
								<div class="categoryHead__control" data-choosemaindollar="first">
									<div class="additionalSet">
										<div class="additionalSet__item">
											<span></span>														
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="selCode21">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>
								
								<div class="categoryHead__control" data-choosemaindollar="second">
									<div class="supplement">
										<div class="additionalSet">
											<div class="additionalSet__item">
												<label for="chk_48">保險日期</label>	
													<div class="col-md-12 groupOneblock" style="padding-top: 10px;">																												
														<div class="col-md-5"><input type="text" id="date" name="date" title="保險日期" maxlength="5" autocomplete="off"></div>					
														<label for="chk_48" style="padding-top: 10px;">中午12時起，保期一年。</label>
														
													</div>															
											</div>
											<div class="additionalSet__item">
												
											</div>
										</div>
									</div>	
									<div class="supplement">
										<div class="additionalSet">
											<div class="additionalSet__item">
												<label for="chk_48">住宅火災保險金額（最高可投保358萬元）</label>	
													<div class="col-md-12 groupOneblock" style="padding-top: 10px;">																												
														<div class="col-md-5"><input type="text" id="maximumLoad" name="maximumLoad" title="火災保額" maxlength="5" autocomplete="off"></div>					
														<label for="chk_48" style="padding-top: 10px;">萬元</label>
														
													</div>
												<div class="inputInline inputInline--md"><span>保額中包含房屋裝潢成本，每坪最高6萬元為限。</span>
												</div>
											</div>
											<div class="additionalSet__item">
												<span class="hidden" data-additiondollar="chk_48" data-additiondollargroup="forceInsure">保費$
													<span class="dollar">0</span>
												</span>
											</div>
										</div>
									</div>	
									<div class="supplement">
										<div class="additionalSet">
											<div class="additionalSet__item">
												<label for="chk_48">動產損失保額80萬元</label>
												<div class="inputInline inputInline--md"><span>以住宅火災保額30%計算，最高80萬元。</span>
												</div>
											</div>
											<div class="additionalSet__item">
												<span class="hidden" data-additiondollar="chk_48" data-additiondollargroup="forceInsure">保費$
													<span class="dollar">0</span>
												</span>
											</div>
										</div>
									</div>
									<div class="supplement">
										<div class="additionalSet">
											<div class="additionalSet__item">
												<label for="chk_48">住宅地震基本保險</label>
												<div class="inputInline inputInline--md"><span>150萬元。</span>
												</div>
											</div>
											<div class="additionalSet__item">
												<span class="hidden" data-additiondollar="chk_48" data-additiondollargroup="forceInsure">保費$
													<span class="dollar">0</span>
												</span>
											</div>
										</div>
									</div>	
									
								</div>
							</div>
						</div>
						<!-- 附加險 -->		
						<div class="category__content">
							<div class="supplementTitle mb10 mt10">
								<span class="bobeIconText borderLeft">附加險</span>	                                  
							</div>
							<div class="supplement">
								<div class="additionalSet">
									<div class="additionalSet__item">
										<input type="checkbox" value="3Q" name="forceInsure" id="chk_3Q" data-additionid="chk_3Q" onchange="doSelCategory(&#39;3Q&#39;);" autocomplete="off">
											<label for="chk_3Q" class="bobeIconText">水漬保險</label>
												<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
													<i class="bobeIcon iInfo"></i>
												</a>																
											<div class="inputInline inputInline--md">
												<span>360萬元。</span>
											</div>
									</div>
									<div class="additionalSet__item">
										<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
									</div>
								</div>
							</div>	
							<div class="supplement">
								<div class="additionalSet">
									<div class="additionalSet__item">
										<input type="checkbox" value="3Q" name="forceInsure" id="chk_3Q" data-additionid="chk_3Q" onchange="doSelCategory(&#39;3Q&#39;);" autocomplete="off">
											<label for="chk_3Q" class="bobeIconText">超額地震保險</label>
												<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
													<i class="bobeIcon iInfo"></i>
												</a>																
											<div class="inputInline inputInline--md">
												<span>220萬元。</span>
											</div>
									</div>
									<div class="additionalSet__item">
										<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
									</div>
								</div>
							</div>										
						</div>
					</div>
					<!---------------------------------------------------------- 第二個區塊-保護傘 ---------------------------------------------------------->
					
					<div class="category category--choose chooseChecked" data-choose="second">
							<div class="category__head">
								<div class="categoryHead">
									<div class="categoryHead__checkbox checkboxSub">
										<input type="checkbox" name="chk_31-32_virtual" id="chk_31-32_virtual" value="31-32" data-choosemain="second" onchange="showOther();showThief();doSelCategory(&#39;31-32_virtual&#39;)" autocomplete="off">
										<label for="chk_31-32_virtual" class="bobeIconText">
											住家保戶傘綜合保險
										</label>
										<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;21&#39;);">
											<i class="bobeIcon iInfo"></i>
											
										</a>
										<label class="label_notice" id="DIV_SECOND" style="display:none;">
											<div class="mainAction__wording noticeBlock noticeBlock--withIconTips" style="background-color: inherit;margin-bottom: 0px;">
												<div class="noticeBlock__content" style="text-align: left;">
													<span class="bobeIconText fPrompt" style="color:#ef4f4f;line-height:initial;"></span>
												</div>
											</div>
										</label>
									</div>
										
									<div class="categoryHead__control" data-choosemaindollar="second">
										<div class="supplement">
											<div class="additionalSet">
												<div class="additionalSet__item">
													<label for="chk_48">保險日期</label>	
														<div class="col-md-12 groupOneblock" style="padding-top: 10px;">																												
															<div class="col-md-5"><input type="text" id="date2" name="date2" title="保險日期" maxlength="5" autocomplete="off"></div>					
															<label for="chk_48" style="padding-top: 10px;">中午12時起，保期一年。</label>
															
														</div>															
												</div>
												<div class="additionalSet__item">
													
												</div>
											</div>
										</div>
										<div class="supplement">
											<div class="additionalSet">
												<div class="additionalSet__item">
													<label for="chk_48">選擇商品保額</label>	
													<div class="inputInline inputInline--md">
																<div>
																	<select data-form="single" id="code_32_insrnceAmount" onchange="doCheckSelValue(this,&#39;32&#39;);getPremium(&#39;32&#39;,&#39;insrnceAmount&#39;);" style="display: none;">
																		<option value="50">50萬元</option>
																		<option value="100">100萬元</option>
																		<option value="150">150萬元</option>
																		<option value="200" selected="">200萬元</option>
																		<option value="250">250萬元</option>
																		<option value="300">300萬元</option>
																		</select><ul class="transformSelect trans-element" tabindex="0"><li><span>50萬元</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=""><span>50萬元</span></li><li data-settings="" class=""><span>100萬元</span></li><li data-settings="" class=""><span>150萬元</span></li><li data-settings="" class=" selected"><span>200萬元</span></li><li data-settings="" class=""><span>250萬元</span></li><li data-settings="" class=""><span>300萬元</span></li></ul></li></ul>
																</div>
															</div>
												</div>
												<div class="additionalSet__item">
													<span class="hidden" data-additiondollar="chk_48" data-additiondollargroup="forceInsure">保費$
														<span class="dollar">0</span>
													</span>
												</div>
											</div>
										</div>		
					
									</div>
								</div>
							</div>
							<!-- 主約 -->	
							<div class="category__content">	
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">財物損失保險</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>建築物內動產保額50萬</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>	
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">擴大承保事項(處所)</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>限額10萬，保險期間最高賠償20萬</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>	
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">特定動產理賠</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>限額10萬，保險期間最高賠償20萬</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>	
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">竊盜保險</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>限額10萬，保險期間最高賠償20萬</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>	
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">住家日常生活責任保險</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>限額200萬，保險期間最高賠償400萬</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">住家玻璃保險</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>限額1萬，保險期間最高賠償2萬</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">住家災害費用補償附加保險</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>限額10萬，保險期間最高賠償20萬</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">地震災害修復費用補償附加保險</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>限額10萬</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">颱洪災害修復費用補償附加保險</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>限額10萬</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">擴大承保機車事故附加條款</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>每部機車限額6萬，含於建築物內動產之保額。</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>
								<div class="supplement">
									<div class="additionalSet">
										<div class="additionalSet__item">
											
												<label for="chk_3Q" class="bobeIconText">實損實賠附加條款</label>
													<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;3Q&#39;);">
														<i class="bobeIcon iInfo"></i>
													</a>																
												<div class="inputInline inputInline--md">
													<span>保險金額範圍內以實際損失賠付</span>
												</div>
										</div>
										<div class="additionalSet__item">
											<span class="hidden" data-additiondollar="chk_3Q">保費$<span class="dollar">0</span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="col-md-4">
					<div class="immediateCount" data-floatfixed="">
						<div class="immediateCount__count">
							<ul>									
								<li>
									<div class="myInsure reCountResult">
										<div class="myInsure__title" style="width:90%">網路優惠價</div>
										<div><span class="dollar dollar--icon fAlert" data-action="dollar_PC" id="spanPcSumDiscountPremium">2,950</span></div>
									</div>
								</li>
							</ul>
						</div>
						<div class="insureMore readMore" data-readmore="group" id="divDetail" style="background-color: #fff2d6;">
							<div class="readMore__content" data-readmore="content">
								<ul class="bobeItemGroup" id="ulDetail">											
										<li class="bobeItem"><div>購買商品明細</div></li>										
											<li class="bobeItem" style="background-color: #fff2d6;">
												<div class="fBold">住宅火險</div>
												<div class="myInsure">
													<div class="myInsure__title">住宅火災保險</div>
													<div class="myInsure__dollar">
														$<span class="dollar">1,115</span>
													</div>
												</div>
												<div class="myInsure">
													<div class="myInsure__title">住宅地震基本保險</div>
													<div class="myInsure__dollar">
														$<span class="dollar">1,350</span>
													</div>
												</div>
											</li>				
													
											<li class="bobeItem" style="background-color: #fff2d6;">
												<div class="fBold">水漬保險</div>
												<div class="myInsure">
													<div class="myInsure__title"></div>
													<div class="myInsure__dollar">
														$<span class="dollar">230</span>
													</div>
												</div>
											</li>											
								</ul>
							</div>
							<div class="readMore__action" data-readmore="title">
								<a href="javascript:;" class="text">展開看更多保障內容</a>
							</div>
						</div>
						<div class="immediateCount__action">
							<div class="noticeBlock" style="display:none;">
								<div class="noticeBlock__content" id="divRescue"></div>
							</div>
							<div class="mainAction mainAction--two" data-action="recount_PC">
								<div class="mainAction__btn">
									<a href="javascript:void(0);" id="linkPrevPC" class="bobebtn bobebtn--minor" onclick="doPrev();">
										<span>返回上一步</span>
									</a>
									<a href="javascript:void(0);" id="linkDoNextPc" class="bobebtn bobebtn--major" onclick="doCalcAmount();">
										<span>試算保費</span>
									</a>
								</div>
							</div>
						</div>
						<div class="immediateCount__btnfixed" data-action="recount_Mobile">
							<div class="mainAction mainAction--two">
								<div class="mainAction__btn">
									<a href="javascript:void(0);" id="linkPrevMo" class="bobebtn bobebtn--minor" onclick="doPrev();">
										<span>返回上一步</span>
									</a>
									<a href="javascript:void(0);" id="linkDoNextMo" class="bobebtn bobebtn--major" onclick="doCalcAmount();">
										<span>試算保費</span>
									</a>
								</div>
							</div>
						</div>
						<div class="immediateCount__btnfixed hidden" data-action="next_Mobile">
							<ul>
								<li id="liMobileCompulPremium" style="display:none">
									<div class="myInsure" style="color: #66666685;width:50%">
										<div class="myInsure__title">強制險原價</div>
										<div class="myInsure__dollar" style="text-decoration:line-through;">$<span id="spanMobileCompulPremium">0</span></div>
									</div>
								</li>
								<li id="liMobileBusinessPremium" style="display:none">		
									<div class="myInsure" style="color: #66666685;width:50%">
										<div class="myInsure__title">任意險原價</div>
										<div class="myInsure__dollar" style="text-decoration:line-through;">$<span id="spanMobileBusinessPremium">0</span></div>
									</div>
								</li>
								<li>
									<div class="myInsure reCountResult" style="width:100%">
										<div class="myInsure__title" style="width:30%">網路優惠價</div>
										<div><span class="dollar dollar--icon fAlert" data-action="dollar_Mobile" id="spanMobileSumDiscountPremium">0</span></div>
									</div>
								</li>
								<li>
									<div class="mainAction mainAction--two" style="margin-top:0px;">
										<div class="mainAction__btn">
											<a href="javascript:void(0);" id="linkPrevMobile2" class="bobebtn bobebtn--minor" onclick="doPrev();">
												<span>返回上一步</span>
											</a>
											<a href="javascript:void(0);" id="linkDoNextMobile2" class="bobebtn bobebtn--major" onclick="doInsure();">
												<span>下一步</span>
											</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
		<form id="form2" method="POST" target="_blank"></form>
	</section>
	<!-- fancybox -->



</div>
<!-- /build:content -->