<!-- build:content -->
<div class="main-container">		
	<!-- breadcrumb CAI-->
	<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.175.2.29:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
				<span itemprop="name">首頁</span>
			</a>
			<meta itemprop="position" content="1">
		</li>
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.175.2.29:8080/INSEBWeb/html/ECF20400.jsp#">
				<span itemprop="name">試算投保</span>
			</a>
			<meta itemprop="position" content="2">
		</li>
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" id="linkCar" title="住宅火險" href="javascript:;" style="cursor: default;">
				<span itemprop="name">住宅火險</span>
			</a>
			<meta itemprop="position" content="3">
		</li>
	</ol></div></div>
	<!-- progress -->
	<section class="borderBottom">
		<div class="container container--sm">
			<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item prev">									<div class="progressStep__number">1</div>									<div class="progressStep__title">房屋資料</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item active">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
		</div>
	</section>
	<!-- content -->
	<section class="container container--default">
		<div class="mainDateline">
			<div class="mainDateline__data">
				<ul class="list list--none">
					<li>
						<span class="fBold">住宅火險預定生效日期：</span>
						N起，保期N年
					</li>
					
				
					<li>
						<span class="fBold">住家保護傘險預定生效日期：</span>
						N起，保期N年
					</li>
					
				</ul>
			</div>
		</div>
		<form id="form1" name="form1" method="POST" class="bobeForm">
		
			<!-- Category Group -->
			<div class="category showControlOpen" data-collapse="group" id="vehicleInformation">
				<div class="category__head" data-collapse="title">
					<div class="categoryHead">
						<div class="categoryHead__title">房屋資料</div>
					</div>
				</div>
				<div class="category__content category__content--lg" data-collapse="content">
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label inlineGroup__label--twoline">房屋地址：</label>
						<div class="inlineGroup__input">
							<div>：台北市大安區仁愛路四段296號5樓</div>
						</div>
					</div>
				</div>
			</div>
		
			<!---------------------------------- 被保人 Start --------------------------------------->
			<!-- Category Group -->
			<div class="category showControlOpen" data-collapse="group" id="assBlock">
				<div class="category__head clearfix" data-collapse="title">
					<div class="categoryHead">
						<div class="categoryHead__title">要保險人資料</div>
						<div class="categoryHead__hint" style="padding-left:15px;">
							<a href="javascript:void(0);" class="link link--border" id="linkIsAssEqualsIns" onclick="isAssEqualsIns(this);">
								<i class="bobeIcon iInfo"></i>
								<span class="bobeIconText">同會員通訊資料</span>
							</a>
						</div>
					</div>
				</div>
				<div class="category__content category__content--lg" data-collapse="content">
		
					
							<!-- Inline Group (要被保人同一人，固定顯示「本人 」) -->
							<div class="inlineGroup">
								<label class="inlineGroup__label inlineGroup__label--twoline">為被保險人之：</label>
								<div class="inlineGroup__input">
									
									<input type="hidden" id="assRelationType" name="assRelationType" value="1" autocomplete="off">
									<div>本人</div>
									
								</div>
							</div>
						
				
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">身分證字號：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<input type="text" autocomplete="off" id="assCustomerID" name="assCustomerID" maxlength="10" placeholder="請輸入身分證字號">
								<em id="assCustomerID_msg" class="error" style="display: none;"></em>
							</div>
						</div>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label ">出生日期(民國)：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<input type="text" autocomplete="off" value="" id="Birthday" name="Birthday" maxlength="15" placeholder="輸入生日">
								<em id="assBirthday_msg" class="error" style="display: none;"></em>
							</div>
						</div>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">姓名：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<input type="text" autocomplete="off" value="" id="assCustomerName" name="assCustomerName" maxlength="50" placeholder="請輸入姓名" onblur="doCheckAssCustomerName(&#39;N&#39;);">
								<em id="assCustomerName_msg" class="error" style="display: none;"></em>
							</div>
						</div>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">國籍別：</label>
						<div class="inlineGroup__input">
							<!-- Radio Inline -->
							<div class="radioInline">
								<input type="radio" value="1" name="nationality" id="nationality1" autocomplete="off">
								<label for="assMarriage1">中華民國</label>
							</div>
							<div class="radioInline">
								<input type="radio" value="0" name="nationality" id="nationality0" autocomplete="off">
								<label for="nationality0">其他國籍</label>
							</div>
							<div data-form="single" class="radioInline">
								<select id="nationalityS" name="nationalityS" style="color: rgb(153, 153, 153); display: none;">
									<option value="" style="color: rgb(0, 0, 0);">請選擇國籍</option>
								</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇國籍</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇國籍</span></li></ul></li></ul>
								<em id="assAreaCode_msg" class="error" style="display: none;"></em>
							</div>
						</div>
						<label class="inlineGroup__label" style="position: relative;line-height: 0px;">&nbsp;</label>
						<span class="fPrompt"><span class="fAlert fPrompt">(本網站暫不提供加入會員的國籍清單)</span></span>
						<em id="assMarriage_msg" class="customerError" style="display: none;"></em>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">婚姻狀況：</label>
						<div class="inlineGroup__input">
							<!-- Radio Inline -->
							<div class="radioInline">
								<input type="radio" value="1" name="assMarriage" id="assMarriage1" onclick="doCheckMarriage(&#39;ass&#39;);" autocomplete="off">
								<label for="assMarriage1">已婚</label>
							</div>
							<div class="radioInline">
								<input type="radio" value="0" name="assMarriage" id="assMarriage0" onclick="doCheckMarriage(&#39;ass&#39;);" autocomplete="off">
								<label for="assMarriage0">未婚</label>
							</div>
						</div>
						<label class="inlineGroup__label" style="position: relative;line-height: 0px;">&nbsp;</label>
						<em id="assMarriage_msg" class="customerError" style=""></em>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">手機號碼：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<input type="text" autocomplete="off" value="" name="assCellPhone" id="assCellPhone" maxlength="15" placeholder="請輸入行動電話" onblur="doCheckCellPhone(&#39;ass&#39;);">
								<em id="assCellPhone_msg" class="error" style="display: none;"></em>
							</div>
						</div>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">日間連絡電話：</label>
						<div class="inlineGroup__input">
							<div class="row">
								<div class="col-md-9">
									<div class="groupLocalCall">
										<div data-form="single">
											<input type="text" autocomplete="off" value="" name="assPhoneDayTelZip" id="assPhoneDayTelZip" maxlength="5" placeholder="區碼" onblur="doCheckPhoneDayTel(&#39;ass&#39;);">
										</div>
										<span class="">-</span>
										<div data-form="single">
											<input type="text" autocomplete="off" value="" name="assPhoneDayTel" id="assPhoneDayTel" maxlength="10" placeholder="電話" onblur="doCheckPhoneDayTel(&#39;ass&#39;);">
										</div>
										<div data-form="single">
											<input type="text" autocomplete="off" value="" name="assPhoneDayTelExt" id="assPhoneDayTelExt" maxlength="6" placeholder="分機" onblur="doCheckPhoneDayTel(&#39;ass&#39;);">
										</div>
									</div>
									<em id="assPhoneDayTel_msg" class="error" style="display: none;"></em>
								</div>
								<div class="col-xs-12 col-md-3">
									<a href="javascript:void(0);" class="link link--border" id="linkCopyAssCustomerCellPhoneToPhoneDay" onclick="copyCustomerCellPhoneToPhoneDay(&#39;ass&#39;);">
										<i class="bobeIcon iInfo"></i>
										<span class="bobeIconText">同手機號碼</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">通訊地址：</label>
						<div class="inlineGroup__input">
							<div class="row">
								<div class="col-md-9">
									<div class="groupAddArea">
										<div data-form="single">
											<select id="assCityCode" name="assCityCode" onchange="doAfterCityChange(&#39;ass&#39;);doCheckAddress(&#39;ass&#39;);" style="color: rgb(153, 153, 153); display: none;">
												<option value="" style="color: rgb(0, 0, 0);">請選擇縣市</option>
												
													<option value="" style="color: rgb(0, 0, 0);"></option>
												
											</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇縣市</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇縣市</span></li><li data-settings="" class=""><span></span></li></ul></li></ul>
											<em id="assCityCode_msg" class="error" style="display: none;"></em>
										</div>
										<div data-form="single">
											<select id="assAreaCode" name="assAreaCode" onchange="doSetAddressTip(&#39;ass&#39;);doCheckAddress(&#39;ass&#39;);" style="color: rgb(153, 153, 153); display: none;">
												<option value="" style="color: rgb(0, 0, 0);">請選擇行政區</option>
											</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇行政區</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇行政區</span></li></ul></li></ul>
											<em id="assAreaCode_msg" class="error"></em>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="inlineGroup__input">
							<div data-form="single">
								<input type="text" autocomplete="off" value="" id="assAddress" name="assAddress" maxlength="100" onkeyup="doSetAddressTip(&#39;ass&#39;);doCheckAddress(&#39;ass&#39;);" onblur="doSetAddressTip(&#39;ass&#39;)">
								<em id="assAddress_msg" class="error" style="display: none;"></em>
							</div>
							<span id="assFullAddressSpan" style="color: #00a546;"></span>
							<p></p>
							<span class="fPrompt">※ 保單將於交易完成後<span class="fAlert fPrompt">10個工作天內</span>，寄至本通訊地址。</span>
						</div>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">電子郵件：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<input type="text" autocomplete="off" value="" name="assEmail" id="assEmail" maxlength="40" placeholder="請輸入Email" onblur="doCheckEmail(&#39;ass&#39;);">
								<em id="assEmail_msg" class="error" style="display: none;"></em>
							</div>
							<span class="fPrompt">※ 若您選擇電子保單時，將於交易完成後發送至此信箱。</span>
						</div>
					</div>							
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">要保人職業類別：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<select name="assRiskOccuCode" id="assRiskOccuCode" onchange="doCheckRiskOccuCode(&#39;ass&#39;);" style="color: rgb(153, 153, 153); display: none;">
									<option value="" style="color: rgb(0, 0, 0);">請選擇職業類別</option>
									
										<option value="" style="color: rgb(0, 0, 0);"></option>
									
								</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇職業類別</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇職業類別</span></li><li data-settings="" class=""><span></span></li></ul></li></ul>
								<em id="assRiskOccuCode_msg" class="error" style="display: none;"></em>
							</div>
						</div>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">要保人職稱：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<select name="assRiskJobtitleCode" id="assRiskJobtitleCode" onchange="doCheckRiskJobtitleCode(&#39;ass&#39;);" style="color: rgb(153, 153, 153); display: none;">
									<option value="" style="color: rgb(0, 0, 0);">請選擇職稱</option>
									<option value="" style="color: rgb(0, 0, 0);"></option>
								
								</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇職稱</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇職稱</span></li><li data-settings="" class=""><span></span></li></ul></li></ul>
								<em id="assRiskJobtitleCode_msg" class="error" style="display: none;"></em>
							</div>
						</div>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">投保金額與收入相當：</label>
						<div class="inlineGroup__input">
							<!-- Radio Inline -->
							<div class="radioInline">
								<input type="radio" value="1" name="assIsAmountAppr" id="assIsAmountAppr1" onclick="doCheckAssIsAmountAppr();" autocomplete="off">
								<label for="assIsAmountAppr1">是</label>
							</div>
							<div class="radioInline">
								<input type="radio" value="0" name="assIsAmountAppr" id="assIsAmountAppr0" onclick="doCheckAssIsAmountAppr();" autocomplete="off">
								<label for="assIsAmountAppr0">否</label>
							</div>
						</div>
						<label class="inlineGroup__label" style="position: relative;line-height: 0px;">&nbsp;</label>
						<em id="assIsAmountAppr_msg" class="customerError" style="display: none;"></em>
					</div>
				
						<!-- Inline Group -->
						<div class="inlineGroup">
							<label class="inlineGroup__label inlineGroup__label--twoline">要保人是否為聽障或語障人士：</label>
							<div class="inlineGroup__input">
								<!-- Radio Inline -->
								<div class="radioInline">
									<input type="radio" value="1" name="assDisability" id="assDisability1" onclick="doCheckAssDisability();" autocomplete="off">
									<label for="assDisability1">是</label>
								</div>
								<div class="radioInline">
									<input type="radio" value="0" name="assDisability" id="assDisability0" onclick="doCheckAssDisability();" autocomplete="off">
									<label for="assDisability0">否</label>
								</div>
							</div>
							<label class="inlineGroup__label" style="position: relative;line-height: 0px;">&nbsp;</label>
							<em id="assDisability_msg" class="customerError" style="display: none;"></em>
						</div>
						<div class="blockGroup">
							<div class="noticeBlock noticeBlock--withIconTips">
								<div class="noticeBlock__content">
									<!-- <i class="bobeIcon iNotice"></i> -->
									<span class="bobeIconText fPrompt">若要保人為聽障、語障人士，本公司客服人員將視需要以簡訊或電子郵件方式與您聯繫。</span>
								</div>
							</div>
						</div>
				
				</div>
			</div>
				<!-- Category Group -->
			<div class="category showControlOpen" data-collapse="group" id="vehicleInformation">
				<div class="category__head" data-collapse="title">
					<div class="categoryHead">
						<div class="categoryHead__title">共同被保人</div>
						<a href="javascript:;" class="link link--notice" onclick="openMemo(&#39;Joint&#39;);"><i class="bobeIcon iInfo"></i></a>
					</div>
				</div>
				<div class="category__content category__content--lg" data-collapse="content">
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">有無房屋共同被保人：</label>
						<div class="inlineGroup__input">
							<!-- Radio Inline -->
							<div class="radioInline">
								<input type="radio" value="0" name="isJoin" id="isJoin0" autocomplete="off">
								<label for="isJoin0">無</label>
							</div>
							<div class="radioInline">
								<input type="radio" value="1" name="isJoin" id="isJoin1" autocomplete="off">
								<label for="isJoin1">有</label>
							</div>
						</div>
						<label class="inlineGroup__label" style="position: relative;line-height: 0px;">&nbsp;</label>
						<em id="assMarriage_msg" class="customerError" style=""></em>
					</div>	
						<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">共同被保人姓名：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<input type="text" autocomplete="off" value="" id="assJoinCustomerName" name="assJoinCustomerName" maxlength="50" placeholder="請輸入姓名" onblur="doCheckAssCustomerName(&#39;N&#39;);">
								<em id="assCustomerName_msg" class="error"></em>
							</div>
						</div>
					</div>
					
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">身分證字號：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<input type="text" autocomplete="off" id="assJoinCustomerID" name="assJoinCustomerID" maxlength="10" placeholder="請輸入身分證字號">
								<em id="assCustomerID_msg" class="error"></em>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</form>
		<div class="mainAction mainAction--two">
			<div class="mainAction__btn">
				<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkPrev" onclick="doPrev();">
					<span>回上一頁修改</span>
				</a>
				<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkNext" onclick="goNext();">
					<span>下一步</span>
				</a>
			</div>
		</div>
	</section>
	<div class="popup popup--sm" id="msgCategoryCode49">
		<div class="popup__head">
			<div class="link--notice">
				<i class="bobeIcon iInfo"></i>
				<span class="bobeIconText" id="msgCategoryCode49Title">提醒您</span>
			</div>
		</div>
		<div class="popup__content">
			<div class="mb15 tac forceShowBr" id="msgCategoryCode49Content" style="text-align: left; word-break: break-all;"></div>
			<div class="mainAction" style="word-break: break-all;">
				<div class="mainAction__btn" style="word-break: break-all;">
					<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkMsgCategoryCode49Title" title="確定" onclick="$.fancybox.close();">
						<span>確定</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup--sm" id="errorMsgV1">
		<div class="popup__head">
			<div class="link--notice">
				<i class="bobeIcon iInfo"></i>
				<span class="bobeIconText" id="errorTitleV1">提醒您</span>
			</div>
		</div>
		<div class="popup__content">
			<div class="mb15 tac" id="errorContentV1" style="text-align: left; word-break: break-all;"></div>
			<div class="mainAction" style="word-break: break-all;">
				<div class="mainAction__btn" style="word-break: break-all;">
					<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkErrorV1" title="確定" onclick="$.fancybox.close();">
						<span>確定</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- info -->
	<div class="popup popup--sm" id="infoBox">
		<div class="popup__head">
			<span>提醒您</span>
		</div>
		<div class="popup__content">
			<div class="event" style="word-break: break-all;">
				<div class="event__content" style="word-break: break-all;">
					<p>配合保險法第一百零七條之一修正案，<br>須請填寫「被保險人受監護宣告聲明事項」。</p>
				</div>
			</div>
			<div class="mainAction" style="word-break: break-all;">
				<div class="mainAction__btn" style="word-break: break-all;">
					<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkInfoBoxClose" data-fancybox-close="" onclick="$.fancybox.close();">
						<span>關閉</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
</div>
<!-- /build:content -->