<!-- build:content -->
<form id="ECV20500_file" name="ECV20500_file" method="POST">
	<input class="rightFrontInput" id="rightFrontInput" type="file" accept="image/jpg, image/jpeg, image/png" style="display:none;" autocomplete="off">
	<input class="leftFrontInput" id="leftFrontInput" type="file" accept="image/jpg, image/jpeg, image/png" style="display:none;" autocomplete="off">
	<input class="leftRearInput" id="leftRearInput" type="file" accept="image/jpg, image/jpeg, image/png" style="display:none;" autocomplete="off">
	<input class="rightRearInput" id="rightRearInput" type="file" accept="image/jpg, image/jpeg, image/png" style="display:none;" autocomplete="off">
	<input class="interiorInput" id="interiorInput" type="file" accept="image/jpg, image/jpeg, image/png" style="display:none;" autocomplete="off">
	<input class="mileageInput" id="mileageInput" type="file" accept="image/jpg, image/jpeg, image/png" style="display:none;" autocomplete="off">
</form>
<form id="form1" name="form1" method="POST" class="bobeForm">
	
	<!--container-->
	<div class="main-container">
		<section class="borderBottom">
			<div class="container container--sm">
				<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item prev">									<div class="progressStep__number">1</div>									<div class="progressStep__title">房屋資料</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item active">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
			</div>
		</section>
		<!-- content -->
		<section class="container container--default">
				
				<div class="category">
					<div class="category__head">
						<div class="categoryHead">
							<div class="categoryHead__title">抵押債權人資料</div>
						</div>
					</div>
					<div class="category__content category__content--lg">
					<div class="noticeBlock noticeBlock--withIconTips forceShowBr">
							若您的房屋有向銀行貸款，請於下方填寫貸款銀行相關資料。
						</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">貸款機構名稱：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<select name="assRiskOccuCode" id="assRiskOccuCode" onchange="doCheckRiskOccuCode(&#39;ass&#39;);" style="color: rgb(153, 153, 153); display: none;">
									<option value="" style="color: rgb(0, 0, 0);">請選擇或輸入關鍵字</option>
									
										<option value="" style="color: rgb(0, 0, 0);"></option>
									
								</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇或輸入關鍵字</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇或輸入關鍵字</span></li><li data-settings="" class=""><span></span></li></ul></li></ul>
								<em id="assRiskOccuCode_msg" class="error"></em>
							</div>
						</div>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<label class="inlineGroup__label">分行名稱：</label>
						<div class="inlineGroup__input">
							<div data-form="single">
								<select name="assRiskJobtitleCode" id="assRiskJobtitleCode" onchange="doCheckRiskJobtitleCode(&#39;ass&#39;);" style="color: rgb(153, 153, 153); display: none;">
									<option value="" style="color: rgb(0, 0, 0);">請選擇或輸入關鍵字</option>
									<option value="" style="color: rgb(0, 0, 0);"></option>
								
								</select><ul class="transformSelect trans-element" tabindex="0"><li><span>請選擇或輸入關鍵字</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=" selected"><span>請選擇或輸入關鍵字</span></li><li data-settings="" class=""><span></span></li></ul></li></ul>
								<em id="assRiskJobtitleCode_msg" class="error"></em>
							</div>
						</div>
					</div>
					<!-- Inline Group -->
					<div class="inlineGroup">
						<div class="sendType__radio">
							<input type="checkbox" value="1" name="ePolicy" id="ePolicy" autocomplete="off">
							<label for="ePolicy" class="bobeIconText">
								同意本公司寄發「紙本保單正本」與「紙本收據副本」予抵押行庫。
							</label>
						</div>	
					</div>
					</div>
				</div>
				<div class="category">
					<div class="category__head">
						<div class="categoryHead">
							<div class="categoryHead__title">保單寄送形式</div>
						</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="inlineGroup">
								<label class="inlineGroup__label sendType_Label">
								請選擇保單寄送方式：
								</label>
							<div class="inlineGroup__input sendType_Input" data-form="single">
								
								<div class="ePolicy">
									<div class="sendType__radio">
										<input type="radio" value="0" name="ePolicy" id="paper" autocomplete="off">
										<label for="paper" style="padding: 0px 0px 0px 30px;">紙本</label>
									</div>
									<div class="sendType__additional">
										<div>
											<div id="addrAss" data-tabs="selectContent">
												<div class="gutters-out-md-v">
													寄送地址：
												</div>
											</div>
											<div id="addrIns" class="hidden" data-tabs="selectContent">
												<div class="gutters-out-md-v">
													寄送地址： 
												</div>
												<div class="fPrompt gutters-out-md-v">
													※ 紙本郵寄將在交易完成後<span class="fAlert normal">10個工作天內</span>寄至以上通訊地址。
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="noticeBlock noticeBlock--withIconTips forceShowBr">									
							紙本郵寄：將在交易完成後10個工作天內，將您的保單寄至以上要保人通訊地址。
						</div>
					</div>
				</div>
				<div class="category">
					<div class="category__head">
						<div class="categoryHead">
							<div class="categoryHead__title padBottom">線上要保注意及聲明事項</div>
							<div class="categoryHead__tab">
								<div class="bobeTabHandler" data-tabs="HandlerGroup">
									<a href="http://10.175.2.29:8080/INSEBWeb/html/ECF20500.jsp#" class="bobeTabHandler__item active" data-tabs="tabHandler" id="linkViewTerms1" data-href="#tabTerms1">
										投保須知
									</a>
									<a href="http://10.175.2.29:8080/INSEBWeb/html/ECF20500.jsp#" class="bobeTabHandler__item" data-tabs="tabHandler" id="linkViewTerms2" data-href="#tabTerms2">
										要（被）保人聲明事項
									</a>
									<a href="http://10.175.2.29:8080/INSEBWeb/html/ECF20500.jsp#" class="bobeTabHandler__item" data-tabs="tabHandler" id="linkViewTerms3" data-href="#tabTerms3">
										產險履行個人資料保護法告知之義務內容
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="gutters-out-md-v">
							<div id="tabTerms1" data-tabs="tabContent">
								<div class="scrollBlock">
									<div class="scrollBlock__content" data-element="scrollbar">
										
									</div>
								</div>
							</div>
							<div id="tabTerms2" class="hidden" data-tabs="tabContent">
								<div class="scrollBlock">
									<div class="scrollBlock__content" data-element="scrollbar">
										
									</div>
								</div>
							</div>
							<div id="tabTerms3" class="hidden" data-tabs="tabContent">
								<div class="scrollBlock">
									<div class="scrollBlock__content" data-element="scrollbar">
										
									</div>
								</div>
							</div>
						</div>
						<div class="gutters-out-md-v">
							<input type="checkbox" value="Y" name="agree" id="agree" data-nextstepcontrol="" autocomplete="off">
							<label for="agree" class="checkboxMultiline">我已同意上述須知及審閱
								
							</label>
						</div>
					</div>
				</div>
				<div class="mainAction mainAction--two">
					<div class="mainAction__btn">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkPrev" onclick="doPrev();">
							<span>回上一頁修改</span>
						</a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major bobebtn--disable" id="linkNext" onclick="doNext();" data-nextsteptarget="">
							<span>確認</span>
						</a>
					</div>
				</div>
		</section>
		
		<div class="popup popup--sm" id="noticeBox">
			<div class="popup__head">
				<div class="link--notice">
					<i class="bobeIcon iInfo"></i>
					<span class="bobeIconText">提醒您</span>
				</div>
			</div>
			<div class="popup__content">
				電子信箱提示訊息
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkMailTipClose" data-fancybox-close="" onclick="$.fancybox.close()">
							<span>確定</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
	</div>
</form>	
<!-- /build:content -->