<!-- build:content --><!--container-->
	<div class="main-container">
		<!-- breadcrumb CAI-->
		<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.175.2.29:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
					<span itemprop="name">首頁</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.175.2.29:8080/INSEBWeb/html/ECF20600.jsp#">
					<span itemprop="name">試算投保</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkCar" title="住宅火險" href="javascript:;" style="cursor: default;">
					<span itemprop="name">住宅火險</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol></div></div>
		<!-- progress -->
		<section class="borderBottom">
			<div class="container container--sm">
				<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item prev">									<div class="progressStep__number">1</div>									<div class="progressStep__title">車籍資料</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item active">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
			</div>
		</section>
		<!-- content -->
		<section class="container container--default">
			<form id="form1" name="form1" method="POST" class="bobeForm">
				
			
				<!-- Category Group -->
				<div class="category">
					<div class="category__head clearfix">
						<div class="headLeft">
							<div class="categoryHead">
								<div class="categoryHead__title">您計畫購買的商品</div>
							</div>
						</div>
					</div>
					<div class="category__content category__content--lg">
						
							<div class="inlineView">
								<label class="inlineView__label">住宅火災保險預定生效日期：</label>
								<div class="inlineView__data">
									N起，保期1年
								</div>
							</div>
					
						
						<div class="inlineView">
							<label class="inlineView__label">住家保護傘預定生效日期：</label>
							<div class="inlineView__data">
								N起，保期1年
							</div>
						</div>
					
					
						<div class="formList">
							<ul>
									<li>
										<div class="formList__title">
											住宅火災保險保障內容
										</div>
										<div class="formList__content">
											專屬優惠價
										</div>
									</li>
								
										<li>
											<div class="formList__title">
												住宅火災建築物損失保險
												<div class="formList__desc">360萬元，包含動產保額80萬元。</div>
											</div>
											<div class="formList__content">
												<div class="formList__price">$2,250</div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												住宅地震基本保險
												<div class="formList__desc">150萬元。</div>
											</div>
											<div class="formList__content">
												<div class="formList__price">$1,350</div>
											</div>
										</li>
									
										<li>
											<div class="formList__title">
												水漬保險
												<div class="formList__desc">360萬元。</div>
											</div>
											<div class="formList__content">
												<div class="formList__price">$680</div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												超額地震保險
												<div class="formList__desc">210萬元。</div>
											</div>
											<div class="formList__content">
												<div class="formList__price">$1,000</div>
											</div>
										</li>
										
								</ul>
							
							<ul>
									<li>
										<div class="formList__title">
											住家保戶傘綜合保險保障內容
										</div>
										<div class="formList__content">
											專屬優惠價
										</div>
									</li>
									
										<li>
											<div class="formList__title">
												住家保戶傘綜合保險
												<div class="formList__desc">50萬元</div>
											</div>
											<div class="formList__content">
												<div class="formList__price">$1,586</div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												財物損失險
												<div class="formList__desc">建築物內動產保額50萬</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
											<li>
											<div class="formList__title">
												擴大承保事項(處所)
												<div class="formList__desc">限額10萬，保險期間最高賠償20萬</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
											<li>
											<div class="formList__title">
												特定動產理賠
												<div class="formList__desc">限額10萬，保險期間最高賠償20萬</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												竊盜保險
												<div class="formList__desc">限額10萬，保險期間最高賠償20萬</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												住家日常生活責任保險
												<div class="formList__desc">限額200萬，保險期間最高賠償400萬</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												住家玻璃保險
												<div class="formList__desc">限額1萬，保險期間最高賠償2萬</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												住家災害費用補償附加保險
												<div class="formList__desc">限額10萬，保險期間最高賠償20萬</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												地震災害修復費用補償附加保險
												<div class="formList__desc">限額10萬</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												颱洪災害修復費用補償附加保險
												<div class="formList__desc">限額10萬</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												擴大承保機車事故附加條款
												<div class="formList__desc">每部機車限額6萬，含於建築物內動產之保額。</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
										<li>
											<div class="formList__title">
												實損實賠附加條款
												<div class="formList__desc">保險金額範圍內以實際損失賠付</div>
											</div>
											<div class="formList__content">
												<div class="formList__price"></div>
											</div>
										</li>
								</ul>
							
							
						</div>
					</div>
				</div>				
			

				<div class="category">
					<div class="category__head clearfix">
						<div class="h4 fSub">標的物資料</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="formView">
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">標的物所在地址：</label>
									<div class="inlineView__data">台北市大安區仁愛路四段296號5樓</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">樓層數：</label>
									<div class="inlineView__data">5</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">建造年份：</label>
									<div class="inlineView__data">民國89年</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">本體建材：</label>
									<div class="inlineView__data">鋼骨鋼筋混凝土</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">屋頂建材：</label>
									<div class="inlineView__data">水泥平屋頂</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">使用面積(含公共設施)：</label>
									<div class="inlineView__data">39.0 坪</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">坪抵押權人：</label>
									<div class="inlineView__data">臺灣銀行股份有限公司 基信分行</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="category">
					<div class="category__head clearfix">
						<div class="h4 fSub">被保險人資料</div>
						<span class="fSub"></span>
					</div>
					<div class="category__content category__content--lg">
						<div class="formView">
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">姓名：</label>
									<div class="inlineView__data">陳先生</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">身分證字號/居留證號碼：</label>
									<div class="inlineView__data">K123456987</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">與要保人關係：</label>
									<div class="inlineView__data">本人</div>
								</div>
							</div>
							
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">出生日期(民國)：</label>
									<div class="inlineView__data">65/05/14</div>
								</div>
							</div>			
							
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">手機號碼：</label>
									<div class="inlineView__data">0933456987</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">日間連絡電話：</label>
									<div class="inlineView__data">(02)27551299#9999</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">通訊地址：</label>
									<div class="inlineView__data">台北市大安區仁愛路四段296號5樓</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">電子郵件：</label>
									<div class="inlineView__data">abc@gmail.com</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">職業類別：</label>
									<div class="inlineView__data">一般職業 (含學生、家庭主婦)</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">職稱：</label>
									<div class="inlineView__data">一般職業 (含學生、家庭主婦)</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="category">
					<div class="category__head clearfix">
						<div class="h4 fSub">保單寄送形式</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="formView">
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">
										火險保單：
									</label>
									<div class="inlineView__data">												
												紙本保單&nbsp;&nbsp;寄送地址：台北市大安區仁愛路四段296號5樓
											
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="mainAction mainAction--mofixed mainAction--two">
				<div class="mainAction__btn">
				<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkNext" onclick="goNext();">
						<span>同意要保</span>
					</a>
				</div>
			</div>
		</section>
			<div class="popup popup--sm" id="errorMsg">
				<div class="popup__head">
					<div class="link--notice">
						<i class="bobeIcon iInfo"></i>
						<span class="bobeIconText" id="errorTitle">提醒您</span>
					</div>
				</div>
				<div class="popup__content">
					<div class="forceShowBr mb15 tac" id="errorContent" style="text-align: left; word-break: break-all;"></div>
					<div class="mainAction mainAction--single" style="word-break: break-all;">
						<div class="mainAction__btn" style="word-break: break-all;">
							<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkError" title="確定，回到車主資料頁選擇" onclick="$.fancybox.close();">
								<span>確定，回到車主資料頁選擇</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="popup popup--sm" id="errorTrialMsg">
				<div class="popup__head">
					<div class="link--notice">
						<i class="bobeIcon iInfo"></i>
						<span class="bobeIconText" id="errorTrialTitle">提醒您</span>
					</div>
				</div>
				<div class="popup__content">
					<div class="forceShowBr mb15 tac" id="errorTrialContent" style="text-align: left; word-break: break-all;"></div>
					<div class="mainAction mainAction--single" style="word-break: break-all;">
						<div class="mainAction__btn" style="word-break: break-all;">
							<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkTrialError" title="我知道了" onclick="$.fancybox.close();">
								<span>我知道了</span>
							</a>
						</div>
					</div>
				</div>
			</div>
	</div>
<!-- /build:content -->