<!-- build:content -->
	<div class="main-container">
		<div class="popup popup--md" id="div_updateMemberConfirm">
			<div class="popup__content">
				<p class="mb10"></p>
				<div class="mainAction mainAction--two">
					<div class="mainAction__btn">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkUpdateMemberConfirmN" title="取消" onclick="$.fancybox.close();"> <span>取消</span></a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkUpdateMemberConfirmY" title="確定" onclick="doUpdateMemberData();"> <span>確定</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="couponConfirmDiv">
			<div class="popup__content forceShowBr">
				<p class="mb15 tac" id="couponContent"></p>
				<p class="mb15 tac fPrompt">您的電郵為，若要修改請到會員中心</p>
				<div class="mainAction mainAction--two">
					<div class="mainAction__btn">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkNotAgreeKeepMail" title="放棄" onclick="$.fancybox.close();">
							<span>放棄</span>
						</a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkAgreeKeepMail" title="訂閱" onclick="doAgreeKeepMail();">
							<span>訂閱</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="getCouponDiv">
			<div class="popup__content forceShowBr">
				<p class="mb15 tac" id="couponAct"></p>
				<p class="mb15 tac">可以在會員中心查看詳細訊息</p>
				<div class="mainAction mainAction--two">
					<div class="mainAction__btn">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkNotGetCoupon" title="複製代碼">
							<span>複製代碼</span>
						</a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkGetCoupon" title="去看看" onclick="goMemberCenter();">
							<span>去看看</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb CAI-->
		<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.175.2.29:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
					<span itemprop="name">首頁</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.175.2.29:8080/INSEBWeb/html/ECF20800.jsp#">
					<span itemprop="name">試算投保</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkCar" title="住宅火險" href="http://10.175.2.29:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0100/prompt">
					<span itemprop="name">住宅火險</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol></div></div>
		
		<!-- progress -->
		<section class="borderBottom">
			<div class="container container--sm">
				<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item prev">									<div class="progressStep__number">1</div>									<div class="progressStep__title">房屋資料</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item active">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
			</div>
		</section>
		<!-- content -->
		<section class="container container--default">
			<div class="category mb30">
				<div class="category__head">
					<div class="categoryHead">
						<div class="categoryHead__title">訂單內容</div>
					</div>
				</div>
				<div class="category__content category__content--lg">
					<!-- 待處理區塊 -->
					<div class="inlineView inlineView--half">
						<div class="inlineView__label">訂單號碼：</div>
						<div class="inlineView__data">
							1080000552
						</div>
					</div>
					<div class="inlineView inlineView--half">
						<div class="inlineView__label">標的物地址：</div>
						<div class="inlineView__data">
							高雄市新營區中山北路五段５號５樓
						</div>
					</div>
					<div class="inlineView inlineView--half">
						<div class="inlineView__label">被保人：</div>
						<div class="inlineView__data">
							貓咪君君
						</div>
					</div>
								
					<div class="inlineView inlineView--half">
						<div class="inlineView__label"></div>
						<div class="inlineView__data">
						
						</div>
					</div>
				</div>
			</div>

		<!-- content -->
		
		<div class="category mb30">
					<div class="category__head">
						<div class="categoryHead categoryHeadCust1">
							<div class="categoryHead__title">訂單內容</div>
							
						</div>
						
					</div>
					<div class="category__content category__content--lg">
						<div class="formList formList--light">
						<!-- 住宅火災保險 START -->
							<ul>
								<li>
									<div class="formList__title">
										住宅火災保險 保單號碼
										<span class="insuranceNum">1501RWD900052</span>
									</div>
									<div class="formList__content">
										<div class="dateLine">
											<div class="dateLine__from">
												2019年04月02日中午12時
											</div>
											<div class="dateLine__to">
												2020年04月02日中午12時
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="formList__title">保險內容</div>
									<div class="formList__content">保費</div>
								</li>
								<!-- 多筆明細 START -->
								<li>
									<div class="formList__title">住宅火災保險
										<div class="formList__desc">住宅火災建築物損失保險	<br>360萬元，包含動產保額80萬元。</div>
									</div>
									<div class="formList__content">
										<div class="formList__price">$1,207</div>
									</div>
								</li>
								<li>
									<div class="formList__title">住宅地震基本保險
										<div class="formList__desc">150萬元</div>
									</div>
									<div class="formList__content">
										<div class="formList__price">$1,350</div>
									</div>
								</li>
								<li>
									<div class="formList__title">水漬保險
										<div class="formList__desc">360萬元。</div>
									</div>
									<div class="formList__content">
										<div class="formList__price">$687</div>
									</div>
								</li>
								<li>
									<div class="formList__title">超額地震保險
										<div class="formList__desc">210萬元。</div>
									</div>
									<div class="formList__content">
										<div class="formList__price">$2,207</div>
									</div>
								</li>
								<!-- 多筆明細 END -->
							</ul>
							
							<ul>
								<li>
									<div class="formList__title">
										住家保護傘 保單號碼
										<span class="insuranceNum">1501RAD900002</span>
									</div>
									<div class="formList__content">
										<div class="dateLine">
											<div class="dateLine__from">
												2019年04月02日中午12時
											</div>
											<div class="dateLine__to">
												2020年04月02日中午12時
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="formList__title">保險內容</div>
									<div class="formList__content">保費</div>
								</li>
								<!-- 多筆明細 START -->
								<li>
									<div class="formList__title">住家保戶傘綜合保險
										<div class="formList__desc">50萬元</div>
									</div>
									<div class="formList__content">
										<div class="formList__price">$1,207</div>
									</div>
								</li>
								<li>
									<div class="formList__title">財物損失險
										<div class="formList__desc">建築物內動產保額50萬</div>
									</div>
									<div class="formList__content">
										<div class="formList__price"></div>
									</div>
								</li>
								<li>
									<div class="formList__title">擴大承保事項(處所)
										<div class="formList__desc">限額10萬，保險期間最高賠償20萬</div>
									</div>
									<div class="formList__content">
										<div class="formList__price"></div>
									</div>
								</li>
								<li>
									<div class="formList__title">特定動產理賠
										<div class="formList__desc">限額10萬，保險期間最高賠償20萬</div>
									</div>
									<div class="formList__content">
										<div class="formList__price"></div>
									</div>
								</li>
								<!-- 多筆明細 END -->
							</ul>
							<div class="totalAmount">
								總計
								<div class="totalAmount__price">$5,207</div>
							</div>
						</div>
					</div>
		</div>
			<div class="category">
				<div class="category__head">
					<div class="categoryHead">
						<div class="categoryHead__title">保單寄送時間</div>
					</div>
				</div>
				
				<div class="category__content category__content--lg">
				<p class="mt10">將於保單成立後為您寄送。</p>
					<div class="blockGroup">
						<ul class="list list--dot">
							<li>紙本保單：十個工作天內</li>
							
						</ul>
						<p class="mt10">※ 若您超過前述時間未收到保單，請儘速聯繫客服中心，我們將竭誠為您服務。 </p>						
					</div>
					</div>
			</div>
	</section>
		<section style="padding-bottom:15px;">
			<div>
				<div class="mainAction mainAction--mofixed ">
					<div class="mainAction__btn">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" onclick="doOpenUpdateMemberDataDiv();">
							<span>更新會員資料</span>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="bgGray">
			<div class="container container--sm">
				<div class="noPadding bgGray">
					<div class="col-md-4 col-sm-12">
						<div class="serviceGuide">
							<div class="serviceGuide__head">
								<i class="bobeIcon iServiceGuide iServiceGuide--phone"></i>
								<span class="serviceGuide__title h4">聯繫我們</span>
							</div>
							<div class="serviceGuide__content">
								<div class="groupContact">
									<div class="groupContact__title">客服電話：</div>
									<div class="groupContact__item groupContact__item--phone"> 0800-212-880
										<br>(服務時間8:30~21:00)</div>
								</div>
								<div class="groupContact">
									<div class="groupContact__title">傳真號碼：</div>
									<div class="groupContact__item groupContact__item--fax">02-2659-9579</div>
								</div>
								<div class="groupContact">
									<div class="groupContact__title">客服信箱：</div>
									<div class="groupContact__item groupContact__item--email">
										<a href="mailto:bobeyu@cathay-ins.com.tw" class="link link--border">
											<span> bobeyu@cathay-ins.com.tw</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="serviceGuide">
							<div class="serviceGuide__head">
								<i class="bobeIcon iServiceGuide iServiceGuide--car"></i>
								<span class="serviceGuide__title h4">車險服務信息</span>
							</div>
							<div class="serviceGuide__content">
								<ul class="list list--dot">
									<li>
										<a href="https://www.cathay-ins.com.tw/insurance/services/accident-how-to-do" class="link" target="_blank">事故發生怎麼辦？</a>
									</li>
									<li>
										<a href="https://www.cathay-ins.com.tw/insurance/services/claim" class="link" target="_blank">如何聲請理賠？</a>
									</li>
									<li>
										<a href="https://www.cathay-ins.com.tw/insurance/qa_insurance" class="link" target="_blank">如何變更保險內容(ex:退保)？</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="serviceGuide">
							<div class="serviceGuide__head">
								<i class="bobeIcon iServiceGuide iServiceGuide--note"></i>
								<span class="serviceGuide__title h4">最新消息及下載</span>
							</div>
							<div class="serviceGuide__content">
								<div class="groupNews">
									<div class="groupNews__title">
										<i class="bobeIcon iServiceNews iServiceNews--phone"></i>
									</div>
									<div class="groupNews__item">94為您~國泰車險數位服務全新推出，趕快來體驗喔！
										<a href="javascript:;" class="link link--border" onclick="goOCHOME();">
											<span>國泰產險線上服務專區</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
<!-- /build:content -->