<!-- build:head -->
<div class="container">
<link
  href="../CM/css/select2.min.css"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="../CM/css/common/title.css"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="../CM/css/font-awesome.min.css"
  rel="stylesheet"
  type="text/css"
  media="all"
/>

<!-- css CAI -->
<link
  href="../CM/css/datepicker.css"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="../CM/css/themify-icons.css"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="../CM/css/bootstrap.css"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="../CM/css/flexslider.css"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="../CM/css/theme.css"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="../CM/css/custom.css"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link href="../CM/css/css.css" rel="stylesheet" type="text/css" />
<link
  href="../CM/css/introduce/vendor.css"
  rel="stylesheet"
  type="text/css"
/>
<link href="../CM/css/introduce/page.css" rel="stylesheet" type="text/css" />
<link href="../CM/css/styleAplus.css" rel="stylesheet" type="text/css" />

<!-- shared css Alberlan : begin -->
<link
  href="../CM/css/bobe-bsv3-compatibility.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- shared css Aplus : begin -->
<link
  href="../CM/Content/js/vendor/jquery_fancyform/jquery_fancyform.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="../CM/Content/css/main.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="../CM/Content/css/pages.min.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- systex overrite a+'s pages.min.css -->
<link
  href="../CM/Content/css/pages.min.over.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- /build:head -->
<!-- build:header -->投保流程<!-- /build:header -->
<!-- build:content -->

<div class="container">
    <section>
        <h4>引入 CSS</h4>
        <code class="js hljs html">
            <pre>
&lt;style>
    @font-face {
        font-family: "icomoon";
        src: url("path/to/fonts/icomoon.eot?d1uw6x");
        src: url("path/to/fonts/icomoon.eot?d1uw6x#iefix") format("embedded-opentype"),
            url("path/to/fonts/icomoon.ttf?d1uw6x") format("truetype"),
            url("path/to/fonts/icomoon.woff?d1uw6x") format("woff"),
            url("path/to/fonts/icomoon.svg?d1uw6x#icomoon") format("svg");
        font-weight: normal;
        font-style: normal;
    }
&lt;/style>

&lt;link href="../../css/bobe-app.css" rel="stylesheet" type="text/css" media="all">
&lt;link href="../../css/icon.css" rel="stylesheet" type="text/css" media="all">
            </pre
        >
        </code>
    </section>
    <section>
        <h4>引入 Header</h4>
        <code class="js hljs html">
            <pre>
&lt;!-- Sidebar Start -->
&lt;div class="sidebar">
    &lt;header>
        &lt;div class="ctrlbar">
            &lt;a data-trigger="close" class="close">&lt;i class="icon-close">&lt;/i>&lt;/a>
            &lt;form class="search">
                &lt;label>&lt;i class="icon-search i-24">&lt;/i>&lt;/label>
                &lt;input type="keyword" placeholder="搜尋" />
            &lt;/form>
        &lt;/div>
        &lt;nav>
            &lt;a class="item">
            &lt;div class="image">
                &lt;i class="icon-payment i-48">&lt;/i>
            &lt;/div>
            &lt;div class="text">繳費&lt;/div>
            &lt;/a>&lt;a class="item">
            &lt;div class="image">
                &lt;i class="icon-refund i-48">&lt;/i>
            &lt;/div>
            &lt;div class="text">理賠&lt;/div>
            &lt;/a>&lt;a class="item">
            &lt;div class="image">
                &lt;i class="icon-keep i-48">&lt;/i>
            &lt;/div>
            &lt;div class="text">續保&lt;/div>
            &lt;/a>&lt;a class="item">
            &lt;div class="image">
                &lt;i class="icon-qa i-48">&lt;/i>
            &lt;/div>
            &lt;div class="text">Q&A&lt;/div>
            &lt;/a>
        &lt;/nav>
    &lt;/header>
    &lt;main>
        &lt;ul class="menu">
            &lt;li>
            &lt;div class="float-right">
                &lt;!-- IF Login -->
                &lt;small class="label d-none">前往會員中心&lt;/small>
                &lt;!-- Else -->
                &lt;small class="label">登入/註冊&lt;/small>
                &lt;!-- End if -->
                &lt;/div>
            &lt;a class="menu-item">
                個人保險
            &lt;/a>
            &lt;/li>
            &lt;li>
            &lt;a role="button" data-target="menu-11" class="menu-item">
                &lt;div class="icon">&lt;i class="icon-chevron-down">&lt;/i>&lt;/div>
                網路投保
            &lt;/a>
            &lt;ul data-id="menu-11" class="menu accordion">
                &lt;li>&lt;a class="menu-item">車險&lt;/a>&lt;/li>
                &lt;li>&lt;a class="menu-item">機車險&lt;/a>&lt;/li>
                &lt;li>&lt;a class="menu-item">旅遊+不便險&lt;/a>&lt;/li>
                &lt;li>&lt;a class="menu-item">寵物險&lt;/a>&lt;/li>
                &lt;li>&lt;a class="menu-item">住宅火險&lt;/a>&lt;/li>
                &lt;li>&lt;a class="menu-item">其他 ＋&lt;/a>&lt;/li>
            &lt;/ul>
            &lt;/li
            >&lt;li>
            &lt;a role="button" data-target="menu-14" class="menu-item">
                &lt;div class="icon">&lt;i class="icon-chevron-down">&lt;/i>&lt;/div>
                保戶服務
            &lt;/a>
            &lt;ul data-id="menu-14" class="menu accordion">
                &lt;li>&lt;a class="menu-item">繳費專區&lt;/a>&lt;/li>
                &lt;li>&lt;a class="menu-item">理賠專區&lt;/a>&lt;/li>
                &lt;li>&lt;a class="menu-item">保單專區&lt;/a>&lt;/li>
                &lt;li>&lt;a class="menu-item">好康專區&lt;/a>&lt;/li>
                &lt;li>
                &lt;div class="social-link menu-item">
                    &lt;a class="item">
                    &lt;img src="../img/common/youtube-black.png" height="34"
                        srcset="../img/common/youtube-black@2x.png" />&lt;/a>&lt;a class="item">&lt;img
                        src="../img/common/fb-black.png" height="34" srcset="../img/common/fb-black@2x.png" />&lt;/a>&lt;a
                    class="item">&lt;img src="../img/common/line-black.png" height="34"
                        srcset="../img/common/line-black@2x.png" />&lt;/a>
                &lt;/div>
                &lt;/li>
            &lt;/ul>
            &lt;/li>
            &lt;li>
            &lt;a class="menu-item">
                熱門活動
            &lt;/a>
            &lt;/li>
            &lt;li>
            &lt;a class="menu-item">
                大家都在討論
            &lt;/a>
            &lt;/li>
            &lt;li>
            &lt;a class="menu-item">
                &lt;span class="text">看全部險種&lt;/span>
                &lt;i class="icon-add">&lt;/i>
            &lt;/a>
            &lt;/li>
            &lt;li>
            &lt;a class="menu-item text-right text-green bg-white">
                &lt;i class="icon-arrow-right">&lt;/i>看商業保險
            &lt;/a>
            &lt;/li>
        &lt;/ul>
    &lt;/main>
&lt;/div>
&lt;!-- Sidebar End -->

&lt;!-- Mobile Header Start -->
&lt;header class="mobile d-md-block">
    &lt;div class="d-flex container align-items-center">
        &lt;div class="d-flex flex-fill align-content-center">
            &lt;a href="./index.html" class="logo">&lt;img src="../img/common/logo.png" alt="國泰產險::Cahtay Century Insurnace"
                srcset="../img/common/logo@2x.png" width="121" />&lt;/a>
        &lt;/div>
        &lt;div class="d-flex">
            &lt;a href="#" class="nav-item">
            &lt;i class="icon-phone">&lt;/i>
            &lt;/a>
            &lt;a role="button" data-trigger="sidebar" class="nav-item">
            &lt;i class="icon-menu">&lt;/i>
            &lt;/a>
        &lt;/div>
    &lt;/div>
&lt;/header>
&lt;!-- Mobile Header End -->

&lt;!-- Desktop Header Start -->
&lt;header class="d-none d-lg-block">
    &lt;div class="d-flex">
        &lt;div class="container">
            &lt;a href="./index.html" class="logo">&lt;img src="../img/common/logo.png" alt="國泰產險::Cahtay Century Insurnace"
                srcset="../img/common/logo@2x.png" width="200" />&lt;/a>
    
            &lt;div class="nav-right">
                &lt;div class="nav category">
                    &lt;a role="button" href="./index.html" class="nav-item active">
                    個人保險
                    &lt;/a>
                    &lt;a role="button" href="../commercial-ins/index.html" class="nav-item">商業保險&lt;/a>
                &lt;/div>
                &lt;a role="button" class="nav-item">幫助中心&lt;/a>
                &lt;span class="divider">&lt;/span>
                &lt;a role="button" href="javascript:void(0);" class="nav-item search-trigger">&lt;i
                    class="icon-search i-20">&lt;/i>&lt;/a>
            &lt;/div>
            &lt;div class="search-area">
                &lt;div class="container">
                    &lt;form class="form">
                    &lt;input type="keyword" placeholder="輸入想找尋的內容，讓國泰產險來幫你" />
                    &lt;button type="submit" class="btn btn-text">
                        &lt;i class="icon-search i-48">&lt;/i>
                    &lt;/button>
                    &lt;/form>
                    &lt;hr />
                    &lt;div class="recommand">
                    大家都在找&lt;a class="keyword">旅平險&lt;/a>&lt;a class="keyword">強制險&lt;/a>&lt;a class="keyword">華航罷工&lt;/a>&lt;a
                        class="keyword">繳費&lt;/a>&lt;a class="keyword">強制證下載&lt;/a>
                    &lt;/div>
                    &lt;div class="result">
                    &lt;div class="list">
                        &lt;a href="#" class="item">
                        &lt;div class="text">
                            &lt;span class="highlight">旅&lt;/span>遊險族麼買
                        &lt;/div>
                        &lt;div class="extra">31,923&lt;/div>
                        &lt;/a>&lt;a href="#" class="item">
                        &lt;div class="text">
                            保&lt;span class="highlight">旅&lt;/span>行中發生意外身故失能，衍生的醫療費用和突發疾病的金...
                        &lt;/div>
                        &lt;div class="extra">11,087&lt;/div>
                        &lt;/a>&lt;a href="#" class="item">
                        &lt;div class="text">
                            &lt;span class="highlight">旅&lt;/span>行不便險，幫助你在&lt;span class="highlight">旅&lt;/span>途上意外發生時的臨時資金運用...
                        &lt;/div>
                        &lt;div class="extra">2,432&lt;/div>
                        &lt;/a>&lt;a href="#" class="item">
                        &lt;div class="text">
                            網友都這樣買，去日本五日&lt;span class="highlight">旅&lt;/span>平險最低253元，還可抽 iPhone XS
                        &lt;/div>
                        &lt;div class="extra">&lt;/div>
                        &lt;/a>
                    &lt;/div>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
    &lt;div class="d-flex container">
        &lt;nav>
            &lt;ul>
                &lt;li role="button" data-trigger="hover" class="dropdown">
                    &lt;a href="javascript:void(0);" class="nav-item">網路投保&lt;/a>
                    &lt;div tabindex="-1" class="dropdown-menu">
                        &lt;div class="menu-content">
                            &lt;div class="row">
                            &lt;div class="col-3">
                                &lt;h4>車險&lt;/h4>
                                &lt;p class="description">
                                    強制險現折 $350元&lt;br />
                                    道路救援 100 公里
                                &lt;/p>
                                &lt;p class="meta">
                                    &lt;a href="#" class="link item text-green">
                                        &lt;i class="icon-arrow-right">&lt;/i>
                                        &lt;span>我要續保&lt;/span>
                                    &lt;/a>
                                    &lt;a href="#" class="link item text-green">
                                        &lt;i class="icon-arrow-right">&lt;/i>
                                        &lt;span>試算投保&lt;/span>
                                    &lt;/a>
                                    &lt;a href="#" class="link item text-green">
                                        &lt;i class="icon-arrow-right">&lt;/i>
                                        &lt;span>更多車險優惠&lt;/span>
                                    &lt;/a>
                                &lt;/p>
                                &lt;img src="../img/common/dropdown-menu-car.png" srcset="../img/common/dropdown-menu-car@2x.png"
                                height="92" class="bg-image" />
                                &lt;/div>
                                &lt;div class="col-3">
                                    &lt;h4>機車險&lt;/h4>
                                    &lt;p class="description">
                                        強制險現折 $240元&lt;br />
                                        專屬新車全險方案
                                    &lt;/p>
                                    &lt;p class="meta">
                                        &lt;a href="#" class="link item text-green">
                                            &lt;i class="icon-arrow-right">&lt;/i>
                                            &lt;span>我要續保&lt;/span>
                                        &lt;/a>
                                        &lt;a href="#" class="link item text-green">
                                            &lt;i class="icon-arrow-right">&lt;/i>
                                            &lt;span>試算投保&lt;/span>
                                        &lt;/a>
                                        &lt;a href="#" class="link item text-green">
                                            &lt;i class="icon-arrow-right">&lt;/i>
                                            &lt;span>更多機車險優惠&lt;/span>
                                        &lt;/a>
                                    &lt;/p>
                                    &lt;img src="../img/common/dropdown-menu-motor.png" srcset="../img/common/dropdown-menu-motor@2x.png"
                                    height="92" class="bg-image" />
                                &lt;/div>
                                &lt;div class="col-3">
                                    &lt;h4>旅平＋不便險&lt;/h4>
                                    &lt;p class="description">
                                    飛機延誤主動支付理賠&lt;br />
                                    國泰旅平險保什麼
                                    &lt;/p>
                                    &lt;p class="meta">
                                        &lt;a href="#" class="link item text-green">
                                            &lt;i class="icon-arrow-right">&lt;/i>
                                            &lt;span>試算投保&lt;/span>
                                        &lt;/a>
                                        &lt;a href="#" class="link item text-green">
                                            &lt;i class="icon-arrow-right">&lt;/i>
                                            &lt;span>更多旅平險優惠&lt;/span>
                                        &lt;/a>
                                    &lt;/p>
                                    &lt;img src="../img/common/dropdown-menu-suitcase.png"
                                    srcset="../img/common/dropdown-menu-suitcase@2x.png" height="92" class="bg-image" />
                                &lt;/div>
                                &lt;div class="col-3">
                                    &lt;h4>其他險種&lt;/h4>
                                    &lt;ul class="green-arrow">
                                        &lt;li>&lt;a href="#" class="nav-item">住宅火險&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">手機險&lt;/a>&lt;/li>
                                        &lt;li>
                                            &lt;a href="#" class="nav-item">
                                            寵物險
                                            &lt;span class="new">NEW&lt;/span>
                                            &lt;/a>
                                        &lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">特殊活動險&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">意外險&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">小農險&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">優惠懶人包&lt;/a>&lt;/li>
                                    &lt;/ul>
                                &lt;/div>
                            &lt;/div>
                        &lt;/div>
                        &lt;div class="menu-action">
                            &lt;a href="#" class="more">
                            &lt;span class="text">看更多商品與優惠&lt;/span>
                            &lt;/a>
                        &lt;/div>
                    &lt;/div>
                &lt;/li>
                &lt;li role="button" data-trigger="hover" class="dropdown">
                    &lt;a href="javascript:void(0);" class="nav-item">個人商品&lt;/a>
                    &lt;div tabindex="-1" class="dropdown-menu">
                        &lt;div class="menu-content">
                            &lt;div class="row">
                                &lt;div class="col-9">
                                    &lt;div class="row category-grid">
                                        &lt;div class="col-4">
                                            &lt;a href="./car-insurance-2-1-0.html">
                                                &lt;div class="image">
                                                    &lt;img src="../img/header/category-1.png" srcset="../img/header/category-1@2x.png"
                                                    height="54" />
                                                &lt;/div>
                                                &lt;h4>通勤族&lt;/h4>
                                                &lt;p class="description">
                                                    &lt;span class="hashtag">#汽機車&lt;/span>&lt;span class="hashtag">#自行車&lt;/span>
                                                &lt;/p>
                                            &lt;/a>
                                        &lt;/div>
                                        &lt;div class="col-4">
                                            &lt;a href="#">
                                                &lt;div class="image">
                                                    &lt;img src="../img/header/category-2.png" srcset="../img/header/category-2@2x.png"
                                                    height="54" />
                                                &lt;/div>
                                                &lt;h4>銀髮族&lt;/h4>
                                                &lt;p class="description">
                                                    &lt;span class="hashtag">#意外傷害&lt;/span>&lt;span class="hashtag">#手機險&lt;/span>
                                                &lt;/p>
                                            &lt;/a>
                                        &lt;/div>
                                        &lt;div class="col-4">
                                            &lt;a href="#">
                                                &lt;div class="image">
                                                    &lt;img src="../img/header/category-3.png" srcset="../img/header/category-3@2x.png"
                                                    height="54" />
                                                &lt;/div>
                                                &lt;h4>專業職人&lt;/h4>
                                                &lt;p class="description">
                                                    &lt;span class="hashtag">#醫師&lt;/span>&lt;span class="hashtag">#建築師&lt;/span>
                                                &lt;/p>
                                            &lt;/a>
                                        &lt;/div>
                                        &lt;div class="col-4">
                                            &lt;a href="#">
                                                &lt;div class="image">
                                                    &lt;img src="../img/header/category-4.png" srcset="../img/header/category-4@2x.png"
                                                    height="54" />
                                                &lt;/div>
                        
                                                &lt;h4>租屋族&lt;/h4>
                                                &lt;p class="description">
                                                    &lt;span class="hashtag">#住宅火險&lt;/span>&lt;span class="hashtag">#火災險&lt;/span>
                                                &lt;/p>
                                            &lt;/a>
                                        &lt;/div>
                                        &lt;div class="col-4">
                                            &lt;a href="#">
                                                &lt;div class="image">
                                                    &lt;img src="../img/header/category-5.png" srcset="../img/header/category-5@2x.png"
                                                    height="54" />
                                                &lt;/div>
                                                &lt;h4>愛玩客&lt;/h4>
                                                &lt;p class="description">
                                                    &lt;span class="hashtag">#自行車&lt;/span>&lt;span class="hashtag">#旅遊險&lt;/span>
                                                &lt;/p>
                                            &lt;/a>
                                        &lt;/div>
                                        &lt;div class="col-4">
                                            &lt;a href="#">
                                                &lt;div class="image">
                                                    &lt;img src="../img/header/category-6.png" srcset="../img/header/category-6@2x.png"
                                                    height="54" />
                                                &lt;/div>
                                                &lt;h4>甜蜜愛侶&lt;/h4>
                                                &lt;p class="description">
                                                    &lt;span class="hashtag">#結婚險&lt;/span>&lt;span class="hashtag">#寵物險&lt;/span>
                                                &lt;/p>
                                            &lt;/a>
                                        &lt;/div>
                                    &lt;/div>
                                &lt;/div>
                                &lt;div class="col-3">
                                    &lt;h4>大家都在討論...&lt;/h4>
                                    &lt;ul class="green-arrow">
                                        &lt;li>&lt;a href="#" class="nav-item">登山露營&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">家庭必備&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">小本經營&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">出外打拼&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">健康養生&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">人生里程&lt;/a>&lt;/li>
                                    &lt;/ul>
                                &lt;/div>
                            &lt;/div>
                        &lt;/div>
                        &lt;div class="menu-action">
                            &lt;a href="#" class="more">
                            &lt;span class="text">依險種分類看全部商品&lt;/span>
                            &lt;/a>
                        &lt;/div>
                    &lt;/div>
                &lt;/li>
                &lt;li role="button" data-trigger="hover" class="dropdown">
                    &lt;a href="javascript:void(0);" class="nav-item">保戶服務&lt;/a>
                    &lt;div tabindex="-1" class="dropdown-menu">
                        &lt;div class="menu-content">
                            &lt;div class="row">
                                &lt;div class="col-3">
                                    &lt;img src="../img/header/insurance-service-1.png" srcset="../img/header/insurance-service-1@2x.png"
                                    height="101" class="bg-image" />
                                    &lt;h4>繳費專區&lt;/h4>
                                    &lt;ul class="green-arrow">
                                        &lt;li>&lt;a href="./payment.html" class="nav-item">我要繳費&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="./payment-status.html" class="nav-item">查詢繳費狀況&lt;/a>&lt;/li>
                                    &lt;/ul>
                                &lt;/div>
                                &lt;div class="col-3">
                                    &lt;img src="../img/header/insurance-service-2.png" srcset="../img/header/insurance-service-2@2x.png"
                                    height="104" class="bg-image" />
                                    &lt;h4>理賠專區&lt;/h4>
                                    &lt;ul class="green-arrow">
                                        &lt;li>&lt;a href="claim.html" class="nav-item">我要理賠&lt;/a>&lt;/li>
                                        &lt;li>
                                            &lt;a href="#" class="nav-item">理賠進度與紀錄查詢&lt;/a>
                                        &lt;/li>
                                    &lt;/ul>
                                &lt;/div>
                                &lt;div class="col-3">
                                    &lt;img src="../img/header/insurance-service-3.png" srcset="../img/header/insurance-service-3@2x.png"
                                    height="107" class="bg-image" />
                                    &lt;h4>保單專區&lt;/h4>
                                    &lt;ul class="green-arrow">
                                        &lt;li>&lt;a href="#" class="nav-item">我的保單&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">我要續保&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">變更保單資料&lt;/a>&lt;/li>
                                        &lt;li>
                                            &lt;a href="#" class="nav-item">增加投保內容&lt;/a>
                                        &lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">強制證下載&lt;/a>&lt;/li>
                                    &lt;/ul>
                                &lt;/div>
                                &lt;div class="col-3">
                                    &lt;h4>好康專區&lt;/h4>
                                    &lt;ul class="green-arrow">
                                        &lt;li>&lt;a href="#" class="nav-item">我的優惠&lt;/a>&lt;/li>
                                        &lt;li>&lt;a href="#" class="nav-item">我的活動紀錄&lt;/a>&lt;/li>
                                    &lt;/ul>
                                    &lt;div class="social-links mt-4">
                                    &lt;a href="#">
                                        &lt;img src="http://localhost:3000/img/common/fb-black.png" height="34"
                                        srcset="../img/common/fb-black@2x.png">
                                    &lt;/a>
                                    &lt;a href="#">
                                        &lt;img src="http://localhost:3000/img/common/line-black.png" height="34"
                                        srcset="../img/common/line-black@2x.png">
                                    &lt;/a>
                                    &lt;a href="#">
                                        &lt;img src="http://localhost:3000/img/common/app-black.png" height="34"
                                        srcset="../img/common/app-black@2x.png">
                                    &lt;/a>
                                    &lt;/div>
                                &lt;/div>
                            &lt;/div>
                        &lt;/div>
                        &lt;div class="menu-action">
                            &lt;a href="#" class="more">
                            &lt;span class="text">登入保戶中心，享受更多保單服務&lt;/span>
                            &lt;/a>
                        &lt;/div>
                    &lt;/div>
                &lt;/li>
                &lt;li role="button" data-trigger="hover" class="dropdown">
                    &lt;a href="javascript:void(0);" class="nav-item">熱門活動&lt;/a>
                    &lt;div tabindex="-1" class="dropdown-menu">
                    &lt;div class="menu-content">
                        &lt;div class="row">
                        &lt;div class="col-4">
                            &lt;h4>重點活動&lt;/h4>
                            &lt;ul class="green-arrow">
                            &lt;li>&lt;a href="#" class="nav-item">車險投保優惠大方送&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">旅平+不便險優惠大方送&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">寵物險&lt;/a>&lt;/li>
                            &lt;/ul>
                            &lt;div class="event-img">
                            &lt;img src="../img/common/event.jpg" alt="" srcset="../img/common/event@2x.jpg">
                            &lt;/div>
                        &lt;/div>
                        &lt;div class="col-4">
                            &lt;h4>線上投保優惠懶人包&lt;/h4>
                            &lt;ul class="green-arrow">
                            &lt;li>&lt;a href="#" class="nav-item">所有活動&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">全站最大獎&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">車險優惠&lt;/a>&lt;/li>
                            &lt;/ul>
                            &lt;div class="event-img">
                            &lt;img src="../img/common/event.jpg" alt="" srcset="../img/common/event@2x.jpg">
                            &lt;/div>
                        &lt;/div>
                        &lt;div class="col-4">
                            &lt;h4>過去活動&lt;/h4>
                            &lt;ul class="green-arrow">
                            &lt;li>&lt;a href="#" class="nav-item">全部活動&lt;/a>&lt;/li>
                            &lt;li>
                                &lt;a href="#" class="nav-item">
                                中獎名單
                                &lt;span class="new">NEW&lt;/span>
                                &lt;/a>
                            &lt;/li>
                            &lt;/ul>
                            &lt;div class="event-img">
                            &lt;img src="../img/common/event.jpg" alt="" srcset="../img/common/event@2x.jpg">
                            &lt;/div>
                        &lt;/div>
                        &lt;/div>
                    &lt;/div>
                    &lt;div class="menu-action">
                        &lt;a href="#" class="more">看更多公開資訊&lt;/a>
                    &lt;/div>
                    &lt;/div>
                &lt;/li>
                &lt;li role="button" data-trigger="hover" class="dropdown">
                    &lt;a href="javascript:void(0);" class="nav-item">關於國泰&lt;/a>
                    &lt;div tabindex="-1" class="dropdown-menu">
                    &lt;div class="menu-content">
                        &lt;div class="row">
                        &lt;div class="col-4">
                            &lt;img src="../img/header/about-1.png" width="121" srcset="../img/header/about-1@2x.png"
                            class="bg-image" />
                            &lt;h4>為什麼選擇我們&lt;/h4>
                            &lt;ul class="green-arrow">
                            &lt;li>&lt;a href="#" class="nav-item">公司簡介&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">企業永續&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">得獎榮耀&lt;/a>&lt;/li>
                            &lt;/ul>
                        &lt;/div>
                        &lt;div class="col-4">
                            &lt;img src="../img/header/about-2.png" width="130" srcset="../img/header/about-2@2x.png"
                            class="bg-image" />
                            &lt;h4>加入國泰&lt;/h4>
                            &lt;ul class="green-arrow">
                            &lt;li>&lt;a href="#" class="nav-item">福利制度&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">工作機會&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">履歷維護&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">進度查詢&lt;/a>&lt;/li>
                            &lt;/ul>
                        &lt;/div>
                        &lt;div class="col-4">
                            &lt;img src="../img/header/about-3.png" width="93" srcset="../img/header/about-3@2x.png"
                            class="bg-image" />
                            &lt;h4>公開訊息&lt;/h4>
                            &lt;ul class="green-arrow">
                            &lt;li>&lt;a href="#" class="nav-item">資訊公開&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">公司治理&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">聲明事項&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">顧客資料保密措施&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">共同行銷區&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="#" class="nav-item">防制洗錢宣導區&lt;/a>&lt;/li>
                            &lt;/ul>
                        &lt;/div>
                        &lt;/div>
                    &lt;/div>
                    &lt;div class="menu-action">
                        &lt;a href="#" class="more">
                        &lt;span class="text">看更多公開資訊&lt;/span>
                        &lt;/a>
                    &lt;/div>
                    &lt;/div>
                &lt;/li>
            &lt;/ul>
        &lt;/nav>
        &lt;div class="nav-right">
            &lt;a role="button" href="claim.html" class="btn btn-outline btn-round">我要理賠&lt;/a>
            &lt;!-- If Login -->
            &lt;div role="button" data-trigger="hover" class="btn btn-primary btn-round dropdown login d-none">
                &lt;a href="javascript:void(0);">
                    會員中心
                &lt;/a>
                &lt;div tabindex="-1" class="dropdown-list">
                    &lt;ul class="mb-0">
                        &lt;li>&lt;a href="#" class="nav-item">我的保單&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#" class="nav-item">我要繳費&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#" class="nav-item">我要續保&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#" class="nav-item">變更保單&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#" class="nav-item">活動查詢&lt;/a>&lt;/li>
                        &lt;li class="bg-gray">
                            &lt;a href="#" class="nav-item text-green">
                            &lt;span>登出&lt;/span>
                            &lt;/a>
                        &lt;/li>
                    &lt;/ul>
                &lt;/div>
            &lt;/div>
            &lt;!-- Else -->
            &lt;div role="button" data-trigger="hover" class="btn btn-primary btn-round dropdown login">
                &lt;a href="javascript:void(0);">
                    登入 / 註冊
                &lt;/a>
                &lt;div tabindex="-1" class="dropdown-list">
                    &lt;ul class="mb-0">
                        &lt;li>&lt;a href="#" class="nav-item">我的保單&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#" class="nav-item">我要繳費&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#" class="nav-item">我要續保&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#" class="nav-item">變更保單&lt;/a>&lt;/li>
                        &lt;li>&lt;a href="#" class="nav-item">活動查詢&lt;/a>&lt;/li>
                        &lt;li class="bg-gray">
                            &lt;a href="#" class="nav-item text-green">
                            &lt;span>登入 / 註冊&lt;/span>
                            &lt;/a>
                        &lt;/li>
                    &lt;/ul>
                &lt;/div>
            &lt;/div>
            &lt;!-- End If -->
        &lt;/div>
    &lt;/div>
&lt;/header>
&lt;!-- Desktop Header End -->
        </pre
    >
  </code>

</section>
  <h4>引入 Footer</h4>
  <code class="js hljs html">
    <pre>
&lt;!-- Mobile Footer Start -->
&lt;footer class="d-lg-none">
    &lt;div class="list">
        &lt;div class="item accordion">
            &lt;div role="button" class="accordion-header" data-target="footer-menu-1">
                &lt;div class="content">免付費服務專線&lt;span> 0800-212-880&lt;/span>&lt;/div>
                &lt;div class="action">&lt;i class="icon-chevron-down">&lt;/i>&lt;/div>
            &lt;/div>
            &lt;div class="accordion-body" style="display: none;" data-id="footer-menu-1">
                &lt;p>
                    &lt;small class="text-gray">商品、投保與理賠等諮詢服務&lt;/small>&lt;br />
                    &lt;span>每日08:30 ~ 21:00 (本公司專人服務）&lt;/span>
                &lt;/p>
                &lt;p>
                    &lt;small class="text-gray">車禍事故諮詢與現場服務&lt;/small>&lt;br />
                    &lt;span>每日21:00 ~ 翌日08:30（委外專人服務）&lt;/span>
                &lt;/p>
            &lt;/div>
        &lt;/div>
        &lt;div class="item accordion">
            &lt;div role="button" class="accordion-header" data-target="footer-menu-2">
                &lt;div class="content">海外急難救助服務&lt;/div>
                &lt;div class="action">&lt;i class="icon-chevron-down">&lt;/i>&lt;/div>
            &lt;/div>
            &lt;div class="accordion-body" style="display: none;" data-id="footer-menu-2">
                &lt;small class="text-gray">海外急難救助服務&lt;/small>&lt;br>
                &lt;a href="tel:+886-2-2755-1258" target="_blank">+886-2-2755-1258&lt;/a>
            &lt;/div>
        &lt;/div>
        &lt;div class="item accordion">
            &lt;div role="button" class="accordion-header" data-target="footer-menu-3">
                &lt;div class="content">24小時道路救援服務專線&lt;/div>
                &lt;div class="action">&lt;i class="icon-chevron-down">&lt;/i>&lt;/div>
            &lt;/div>
            &lt;div class="accordion-body" style="display: none;" data-id="footer-menu-3">
                &lt;small class="text-gray">24小時道路救援服務專線&lt;/small>&lt;br>
                &lt;a href="tel:+886-2-2755-1258" target="_blank">+886-2-2755-1258&lt;/a>
            &lt;/div>
        &lt;/div>
        &lt;div class="item accordion">
            &lt;div role="button" class="accordion-header" data-target="footer-menu-4">
                &lt;div class="content">傳真投保專用&lt;/div>
                &lt;div class="action">&lt;i class="icon-chevron-down">&lt;/i>&lt;/div>
            &lt;/div>
            &lt;div class="accordion-body" style="display: none;" data-id="footer-menu-4">
                &lt;small class="text-gray">要保書回傳專用傳真&lt;/small>&lt;br>
                &lt;a href="tel:+8862-2659-9579" target="_blank">(02)2659-9579&lt;/a>
            &lt;/div>
        &lt;/div>
        &lt;a class="item">
            &lt;div class="content">服務據點&lt;/div>
        &lt;/a>
        &lt;a class="item">
            &lt;div class="content">寫信諮詢&lt;/div>
        &lt;/a>
        &lt;a class="item">
            &lt;div class="content">用LINE理賠/查詢&lt;/div>
        &lt;/a>
        &lt;div class="item accordion">
            &lt;div role="button" class="accordion-header" data-target="footer-menu-5">
                &lt;div class="content">國泰集團&lt;/div>
                &lt;div class="action">&lt;i class="icon-chevron-down">&lt;/i>&lt;/div>
            &lt;/div>
            &lt;div class="accordion-body" style="display: none;" data-id="footer-menu-5">
                &lt;a href="#" class="item">
                    國泰金控
                &lt;/a>
                &lt;a href="#" class="item">
                    國泰人壽
                &lt;/a>
                &lt;a href="#" class="item">
                    國泰世華銀行
                &lt;/a>
                &lt;a href="#" class="item">
                    國泰綜合證券
                &lt;/a>
                &lt;a href="#" class="item">
                    國泰投信
                &lt;/a>
                &lt;a href="#" class="item">
                    國泰投顧
                &lt;/a>
                &lt;a href="#" class="item">
                    EN
                &lt;/a>
            &lt;/div>
        &lt;/div>
    &lt;/div>
    &lt;div class="social-link">
        &lt;a class="item">
            &lt;img src="../../img/common/youtube-black.png" height="34"src="../../img//common/youtube-black@2x.png" />
        &lt;/a>
        &lt;a class="item">
            &lt;img src="../../img/common/fb-black.png" height="34"src="../../img//common/fb-black@2x.png" />
        &lt;/a>
        &lt;a class="item">
            &lt;img src="../../img/common/line-black.png" height="34"src="../../img//common/line-black@2x.png" />
        &lt;/a>
    &lt;/div>
    &lt;div class="brand-link">
        &lt;div class="container">
            &lt;div class="menu">
                &lt;a href="#" class="item">金融友善服務&lt;/a>
                &lt;a href="#" class="item">零事故研究所&lt;/a>
                &lt;a href="#" class="item">房屋貸款&lt;/a>
                &lt;a href="#" class="item">金管會&lt;/a>
                &lt;a href="#" class="item">保險局&lt;/a>
                &lt;a href="#" class="item">公開訊息&lt;/a>
                &lt;a href="#" class="item">網站地圖&lt;/a>
                &lt;a href="#" class="item">瀏覽器建議&lt;/a>
                &lt;a href="#" class="item">聲明事項&lt;/a>
                &lt;a href="#" class="item">投保優惠說明&lt;/a>
            &lt;/div>
            &lt;div>網頁編號：A_B_C_123&lt;/div>
            &lt;div>©國泰世紀產物保險股份有限公司&lt;/div>
        &lt;/div>
    &lt;/div>
&lt;/footer>
&lt;!-- Mobile Footer End -->

&lt;!-- Desktop Footer Start -->
&lt;footer class="d-none d-lg-block">
    &lt;div class="contact-info container">
    &lt;div class="row">
        &lt;div class="col-4">
        &lt;div class="content">
            &lt;h3>
            &lt;small>免付費服務專線&lt;/small>
            &lt;a target="_blank" href="tel:0800-020-345">
                0800-020-345 按 2
            &lt;/a>
            &lt;/h3>
            &lt;p class="description">
            商品、投保與理賠等諮詢服務&lt;br />
            每日08:30 ~ 21:00 (本公司專人服務）
            &lt;/p>
            &lt;p class="description">
            車禍事故諮詢與現場服務&lt;br />
            每日21:00 ~ 翌日08:30（委外專人服務）
            &lt;/p>
        &lt;/div>
        &lt;/div>
        &lt;div class="col-4">
        &lt;div class="content">
            &lt;div class="item">
            &lt;h5>海外急難救助服務&lt;/h5>
            &lt;a target="_blank" href="tel:+886-2-2755-1258">
                +886-2-2755-1258
            &lt;/a>
            &lt;/div>
            &lt;div class="item">
            &lt;h5>24小時道路救援服務專線&lt;/h5>
            &lt;a target="_blank" href="tel:+886-2-2755-1258">
                +886-2-2755-1258
            &lt;/a>
            &lt;/div>
            &lt;div class="item">
            &lt;h5>要保書回傳專用傳真&lt;/h5>
            &lt;a target="_blank" href="tel:+886-2-2659-9579">
                (02)2659-9579
            &lt;/a>
            &lt;/div>
        &lt;/div>
        &lt;/div>
        &lt;div class="col-4 text-right">
        &lt;div class="btn btn-block btn-gray">
            &lt;i class="icon-location i-48 text-green">&lt;/i>
            &lt;span class="text-green">服務據點&lt;/span>
        &lt;/div>
        &lt;div class="btn btn-block btn-gray">
            &lt;i class="icon-mail i-48 text-green">&lt;/i>
            &lt;span class="text-green">寫信諮詢&lt;/span>
        &lt;/div>
        &lt;div class="btn btn-block btn-gray">
            &lt;i class="icon-line i-48 text-green">&lt;/i>
            &lt;span class="text-green">用LINE理賠/查詢&lt;/span>
        &lt;/div>
        &lt;/div>
    &lt;/div>
    &lt;/div>
    &lt;div class="brand-link">
    &lt;div class="container">
        &lt;div class="float-right">
        網頁編號：A_B_C_123
        &lt;/div>
        &lt;div class="menu dividing">
        &lt;a href="#" class="logo">&lt;img src="../../img/common/logo-footer.png" width="30"
            src="../../img//common/logo-footer@2x.png" />&lt;/a>&lt;a href="#" class="item">國泰金控&lt;/a>&lt;a href="#"
            class="item">國泰人壽&lt;/a>&lt;a href="#" class="item">國泰世華銀行&lt;/a>&lt;a href="#" class="item">國泰綜合證券&lt;/a>&lt;a href="#"
            class="item">國泰投信&lt;/a>&lt;a href="#" class="item">國泰投顧&lt;/a>&lt;a href="#" class="item">EN&lt;/a>
        &lt;/div>
    &lt;/div>
    &lt;hr class="green" />
    &lt;div class="container">
        &lt;div class="float-right">© 國泰世紀產物保險股份有限公司&lt;/div>
        &lt;div class="menu paded">
        &lt;a href="#" class="item">
            &lt;img src="../../img/common/fb-circular.png" width="26"src="../../img//common/fb-circular@2x.png" />
        &lt;/a>
        &lt;a href="#" class="item">
            &lt;img src="../../img/common/youtube-circular.png" width="26"src="../../img//common/youtube-circular@2x.png" />
        &lt;/a>
        &lt;a href="#" class="item">
            &lt;img src="../../img/common/line-circular.png" width="26"src="../../img//common/line-circular@2x.png" />
        &lt;/a>
        &lt;a href="#" class="item">金融友善服務&lt;/a>
        &lt;a href="#" class="item">零事故研究所&lt;/a>
        &lt;a href="#" class="item">房屋貸款&lt;/a>
        &lt;a href="#" class="item">金管會&lt;/a>
        &lt;a href="#" class="item">保險局&lt;/a>
        &lt;a href="#" class="item">公開訊息&lt;/a>
        &lt;a href="#" class="item">網站地圖&lt;/a>
        &lt;a href="#" class="item">瀏覽器建議&lt;/a>
        &lt;a href="#" class="item">聲明事項 &lt;/a>
        &lt;a href="#" class="item">投保優惠說明&lt;/a>
        &lt;/div>
    &lt;/div>
    &lt;/div>
&lt;/footer>
&lt;!-- Desktop Footer End -->
        </pre
    >
  </code>
</section>
<section>

  <h4>引入 JS</h4>
  <code class="js hljs html">
    <pre>
&lt;script src="../../js/lib.js">&lt;/script>
&lt;script src="../../js/app.js">&lt;/script>
        </pre
    >
  </code>

</section>
  <hr />

</section>
<section>
  <h4>Button</h4>
  <a
    href="javascript:void(0);"
    id="linkBack1"
    title="返回"
    class="bobebtn bobebtn--minor"
  >
    <span>返回</span>
  </a>
  <a
    href="javascript:void(0);"
    id="linkShowCarInfo"
    title="下一步"
    class="bobebtn bobebtn--major"
  >
    <span>下一步</span>
  </a>
  <a
    href="javascript:void(0);"
    id="linkShowCarInfo"
    title="下一步"
    class="bobebtn bobebtn--important"
  >
    <span>下一步</span>
  </a>
  <code class="js hljs html">
    <pre>
&lt;a href="javascript:void(0);" id="linkBack1" title="返回" class="bobebtn bobebtn--minor">
    &lt;span>返回&lt;/span>
&lt;/a>
&lt;a href="javascript:void(0);" id="linkShowCarInfo" title="下一步" class="bobebtn bobebtn--major">
    &lt;span>下一步&lt;/span>
&lt;/a>
&lt;a href="javascript:void(0);" id="linkShowCarInfo" title="下一步" class="bobebtn bobebtn--important">
    &lt;span>下一步&lt;/span>
&lt;/a>
        </pre
    >
  </code>

</section>
<section>
  <h4>Progress bar</h4>

  <div class="bobeProgress">
    <ul class="progressStep">
      <li class="progressStep__item active">
        <div class="progressStep__number">1</div>
        <div class="progressStep__title">房屋資料</div>
      </li>
      <li class="progressStep__item">
        <div class="progressStep__number">2</div>
        <div class="progressStep__title">選擇商品</div>
      </li>
      <li class="progressStep__item">
        <div class="progressStep__number">3</div>
        <div class="progressStep__title">資料填寫</div>
      </li>
      <li class="progressStep__item">
        <div class="progressStep__number">4</div>
        <div class="progressStep__title">資料確認</div>
      </li>
      <li class="progressStep__item">
        <div class="progressStep__number">5</div>
        <div class="progressStep__title">線上繳費</div>
      </li>
      <li class="progressStep__item">
        <div class="progressStep__number">6</div>
        <div class="progressStep__title">投保完成</div>
      </li>
    </ul>
  </div>
  <code class="js hljs html">
      <pre>
&lt;div class="bobeProgress">
    &lt;ul class="progressStep">
        &lt;li class="progressStep__item active">
            &lt;div class="progressStep__number">1&lt;/div>
            &lt;div class="progressStep__title">房屋資料&lt;/div>
        &lt;/li>
        &lt;li class="progressStep__item">
            &lt;div class="progressStep__number">2&lt;/div>
            &lt;div class="progressStep__title">選擇商品&lt;/div>
        &lt;/li>
        &lt;li class="progressStep__item">
            &lt;div class="progressStep__number">3&lt;/div>
            &lt;div class="progressStep__title">資料填寫&lt;/div>
        &lt;/li>
        &lt;li class="progressStep__item">
            &lt;div class="progressStep__number">4&lt;/div>
            &lt;div class="progressStep__title">資料確認&lt;/div>
        &lt;/li>
        &lt;li class="progressStep__item">
            &lt;div class="progressStep__number">5&lt;/div>
            &lt;div class="progressStep__title">線上繳費&lt;/div>
        &lt;/li>
        &lt;li class="progressStep__item">
            &lt;div class="progressStep__number">6&lt;/div>
            &lt;div class="progressStep__title">投保完成&lt;/div>
        &lt;/li>
    &lt;/ul>
&lt;/div>
      </pre>
  </code>

</section>
<section>
    <h4>Radio button</h4>
    <div class="d-inline-block">
        <div class="radioInline">
            <input type="radio" value="1" name="customerType" id="customerType1" checked="" autocomplete="off">
            <label for="customerType1">自用住宅	</label>
        </div>
    </div>
    <code class="js hljs html">
        <pre>
&lt;div class="radioInline">
    &lt;input type="radio" value="1" name="customerType" id="customerType1" checked="" autocomplete="off">
    &lt;label for="customerType1">自用住宅	&lt;/label>
&lt;/div>
        </pre>
    </code>
</section>
<section>
    <h4>Checkbox</h4>
    <div>
        <input type="checkbox" value="3Q" name="forceInsure" id="chk_3Q" data-additionid="chk_3Q" onchange="doSelCategory('3Q');" autocomplete="off">
        <label for="chk_3Q" class="bobeIconText">水漬保險</label>
    </div>

    <code class="js hljs html">
        <pre>
&lt;div>
    &lt;input type="checkbox" value="3Q" name="forceInsure" id="chk_3Q" data-additionid="chk_3Q" onchange="doSelCategory('3Q');" autocomplete="off">
    &lt;label for="chk_3Q" class="bobeIconText">水漬保險&lt;/label>
&lt;/div>
        </pre>
    </code>
</section>
</div>
</div>
<!-- /build:content -->
