<!-- build:header -->Colours<!-- /build:header -->
<!-- build:content -->
<div class="container">
  <p>網站所使用的主色調、文字色與狀態色，與對應的文字樣式和背景樣式。使用時套用樣式名稱即可。</p>
  <h3>主色調</h3>
  <div class="colours">
    <div class="color">
      <div class="box bg-primary"></div>
      <div class="content">
        <div class="hex">#00A94F</div>
        <p> <b>文字樣式：<br/></b>text-primary<br/><b>背景樣式：<br/></b>bg-primary</p>
      </div>
    </div>
    <div class="color">
      <div class="box bg-secondary"></div>
      <div class="content">
        <div class="hex">#8FD158</div>
        <p> <b>文字樣式：<br/></b>text-secondary<br/><b>背景樣式：<br/></b>bg-secondary</p>
      </div>
    </div>
    <div class="color">
      <div class="box bg-orange"></div>
      <div class="content">
        <div class="hex">#FCA832</div>
        <p> <b>文字樣式：<br/></b>text-orange<br/><b>背景樣式：<br/></b>bg-orange</p>
      </div>
    </div>
    <div class="color">
      <div class="box bg-red"></div>
      <div class="content">
        <div class="hex">#F9556F</div>
        <p> <b>文字樣式：<br/></b>text-red<br/><b>背景樣式：<br/></b>bg-red</p>
      </div>
    </div>
  </div>
  <h3>Tag</h3>
  <div class="colours">
    <div class="color">
      <div class="box bg-tag-purple"></div>
      <div class="content">
        <div class="hex">#BE52F2</div>
      </div>
    </div>
    <div class="color">
      <div class="box bg-tag-green"></div>
      <div class="content">
        <div class="hex">#8FD158</div>
      </div>
    </div>
    <div class="color">
      <div class="box bg-tag-teal"></div>
      <div class="content">
        <div class="hex">#6979F8</div>
      </div>
    </div>
    <div class="color">
      <div class="box bg-tag-blue"></div>
      <div class="content">
        <div class="hex">#60B2F6</div>
      </div>
    </div>
  </div>
  <h3>文字顏色</h3>
  <div class="colours">
    <div class="color">
      <div class="box bg-black"></div>
      <div class="content">
        <div class="hex">#000000</div>
        <p> <b>文字樣式：<br/></b>預設顏色、text-black<br/></p>
      </div>
    </div>
    <div class="color">
      <div class="box bg-textgray"></div>
      <div class="content">
        <div class="hex">#7D8A94</div>
        <p> <b>文字樣式：<br/></b>text-gray<br/></p>
      </div>
    </div>
    <div class="color">
      <div class="box bg-placeholder"></div>
      <div class="content">
        <div class="hex">#AEB6BD</div>
        <p> <b>文字樣式：<br/></b>text-placeholder<br/></p>
      </div>
    </div>
    <div class="color">
      <div class="box bg-white"></div>
      <div class="content">
        <div class="hex">#FFFFFF</div>
        <p> <b>文字樣式：<br/></b>text-white<br/><b>背景樣式：<br/></b>bg-white<br/></p>
      </div>
    </div>
  </div>
  <h3>狀態</h3>
  <div class="colours">
    <div class="color">
      <div class="box bg-disabled"></div>
      <div class="content">
        <div class="hex">#E1E4E9</div>
        <p> <b>文字樣式：<br/></b>text-disabled<br/><b>框線樣式：<br/></b>table-bordered<br/></p>
      </div>
    </div>
    <div class="color">
      <div class="box bg-gray"></div>
      <div class="content">
        <div class="hex">#F9F8F7</div>
        <p> <b>背景樣式：<br/></b>bg-gray<br/></p>
      </div>
    </div>
    <div class="color">
      <div class="box bg-decoration"></div>
      <div class="content">
        <div class="hex">#F0F5F5</div>
        <p> <b>文字樣式：<br/></b>text-decoration<br/></p>
      </div>
    </div>
  </div>
  <h3>Gradient</h3>
  <div class="colours">
    <div class="color" style="width: 40%">
      <div class="box bg-main-gradient"></div>
      <div class="content d-flex justify-content-between">
        <div class="hex">#2BB75E</div>
        <div>45º</div>
        <div class="hex">#94D352</div>
      </div>
      <div class="content d-flex">
          .bg-main-gradient"
      </div>
    </div>
    <div class="color" style="width: 40%">
      <div class="box bg-secondary-gradient"></div>
      <div class="content d-flex justify-content-between">
          <div class="hex">#7BD99D</div>
          <div>45º</div>
          <div class="hex float-right">#C4EA9C</div>
      </div>
      <div class="content d-flex">
          .bg-secondary-gradient"
      </div>
    </div>
  </div>
</div>
<!-- /build:content -->