<!-- build:header -->Elements<!-- /build:header -->
<!-- build:content -->
<div class="container">
  <section>
    <h3 id="breadcrumb">Breadcrumb</h3>
    <div class="row"> 
      <div class="col-12"> 
        <ul class="breadcrumb">
          <li><a href="#">Berad dad</a></li>
          <li><a href="#">Berad mon</a></li>
          <li class="active"><a href="#">Berad </a></li>
        </ul><code class="js hljs html">
          <pre>&lt;ul class="breadcrumb"&gt;
&lt;li>&lt;a href="#">Berad dad&lt;/a>&lt;/li&gt;
&lt;li>&lt;a href="#">Berad mon&lt;/a>&lt;/li&gt;
&lt;li class="active">&lt;a href="#">Berad &lt;/a>&lt;/li&gt;
&lt;/ul&gt;</pre></code>
      </div>
    </div>
  </section>
  <section>
    <h3 id="divider">Divider</h3>
    <div class="row"> 
      <div class="col-12"> 
        <hr>
        <div class="divider"> </div><code class="js hljs html">
          <pre>&lt;hr/&gt;
&lt;div classs="divider">&lt;/div&gt;</pre></code>
      </div>
    </div>
  </section>
  <section>
    <h3 id="button">Button</h3>
    <div class="row"> 
      <div class="col-12 col-lg-4 mt-3">
        <p><small class="tag"> <code class="js hljs html">.btn-primary</code></small></p>
        <button class="btn btn-primary">Button</button>
        <button class="btn btn-primary hover">Button</button>
        <button class="btn btn-primary active">Button</button>
      </div>
      <div class="col-12 col-lg-4 mt-3">
        <p><small class="tag"> <code class="js hljs html">.btn-default</code></small></p>
        <button class="btn btn-default">Button</button>
        <button class="btn btn-default hover">Button</button>
        <button class="btn btn-default active">Button</button>
      </div>
      <div class="col-12 col-lg-4 mt-3">
        <p><small class="tag"> <code class="js hljs html">.btn-outline</code></small></p>
        <button class="btn btn-outline">Button</button>
        <button class="btn btn-outline hover">Button</button>
        <button class="btn btn-outline active">Button</button>
      </div>
      <div class="col-12 col-lg-4 mt-3">
        <p><small class="tag"> <code class="js hljs html">.btn-outline-reverse</code></small></p>
        <div class="p-1 bg-black">
          <button class="btn btn-outline-reverse mx-0">Short Button</button>
          <button class="btn btn-outline-reverse hover mx-0">Button</button>
          <button class="btn btn-outline-reverse active mx-0">Button</button>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-3">
        <p><small class="tag"> <code class="js hljs html">.btn-red</code></small></p>
        <button class="btn btn-red">Red Button</button>
        <button class="btn btn-red hover">Red Button</button>
        <button class="btn btn-red active">Red Button</button>
      </div>
      <div class="col-12 col-lg-4 mt-3">
        <p><small class="tag"> <code class="js hljs html">Disabled</code></small></p>
        <button disabled class="btn btn-primary">Button</button>
      </div>
      <div class="col-12 col-lg-4 mt-3">
        <p><small class="tag"> <code class="js hljs html">.btn-sm</code></small></p>
        <button class="btn btn-primary btn-sm">Short Button</button>
        <button class="btn btn-default btn-sm">Short Button</button>
        <button class="btn btn-outline btn-sm">Short Button</button>
        <button class="btn btn-outline-reverse btn-sm">Short Button</button>
      </div>
    </div>
    <code class="js hljs html"> 
      <pre>&lt;div class="col-4 mt-3"&gt;
&lt;button class="btn btn-primary">Button&lt;/button&gt;
&lt;button class="btn btn-primary hover">Button&lt;/button&gt;
&lt;button class="btn btn-primary" disabled="disabled">Button&lt;/button&gt;
&lt;/div&gt;

&lt;div class="col-4 mt-3"&gt;
&lt;button class="btn btn-default">Button&lt;/button&gt;
&lt;button class="btn btn-default hover">Button&lt;/button&gt;
&lt;button class="btn btn-default" disabled="disabled">Button&lt;/button&gt;
&lt;/div&gt;

&lt;div class="col-4 mt-3"&gt;
&lt;button class="btn btn-outline">Button&lt;/button&gt;
&lt;button class="btn btn-outline hover">Button&lt;/button&gt;
&lt;button class="btn btn-outline" disabled="disabled">Button&lt;/button&gt;
&lt;/div&gt;</pre></code>
    <hr>
  </section>
  <section>
    <h3>Form</h3>
    <h4 id="input">Input</h4>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="input-1">Default Input</label>
          <input id="input-1" type="text" name="input1" placeholder="Placeholder...">
        </div>
        <div class="form-group">
          <label for="input-2">Disabled Input</label>
          <input id="input-2" type="text" name="input1" placeholder="Placeholder..." disabled>
        </div>
        <div class="form-group has-error">
          <label for="input-3">Error Input</label>
          <input id="input-3" type="text" name="input1" placeholder="Placeholder...">
          <label class="error">Error message</label>
        </div>
      </div>
      <div class="col-12 col-lg-8"><code class="js hljs html"> 
          <pre>&lt;div class="form-group"&gt;
&lt;label for="input-1">Default Input&lt;/label&gt;
&lt;input id="input-1" type="text" name="input1" placeholder="Placeholder..." /&gt;
&lt;/div&gt;

&lt;div class="form-group"&gt;
&lt;label for="input-2">Disabled Input&lt;/label&gt;
&lt;input id="input-2" type="text" name="input1" placeholder="Placeholder..." disabled="disabled" /&gt;
&lt;/div&gt;

&lt;div class="form-group has-error"&gt;
&lt;label for="input-3">Error Input&lt;/label&gt;
&lt;input id="input-3" type="text" name="input1" placeholder="Placeholder..." /&gt;
&lt;label class="error">Error message&lt;/label&gt;
&lt;/div&gt;
</pre></code></div>
    </div>
    <h4 id="input-group">Input Group</h4>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="input-group">
          <div class="input">
            <input type="text">
          </div>
          <div class="action">
            <button class="btn btn-default">Search</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8"><code class="js hljs html">
          <pre>&lt;div class="input-group"&gt;
&lt;div class="input"&gt;
  &lt;input type="text" /&gt;
&lt;/div&gt;
&lt;div class="action"&gt;
  &lt;button class="btn btn-default">Search&lt;/button&gt;
&lt;/div&gt;
&lt;/div&gt;
</pre></code></div>
    </div>
    <h4 id="dropdown">Dropdown</h4>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="form-group">
          <label for="input-4">Dropdown</label>
          <div class="select">
            <select id="input-4">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="input-5">Dropdown with Input</label>
          <select id="input-5" class="select2">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input-6">Dropdown with Input (Multiple)</label>
          <select id="input-6" multiple class="select2">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-lg-8"><code class="js hljs html"> 
          <pre>&lt;div class="form-group"&gt;
&lt;label for="input-4">Dropdown&lt;/label&gt;
&lt;div class="select"&gt;
  &lt;select id="input-4"&gt;
  &lt;option value="1">Option 1&lt;/option&gt;
  &lt;option value="2">Option 2&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
&lt;label for="input-5">Dropdown with Input&lt;/label&gt;
&lt;select class="select2" id="input-5"&gt;
  &lt;option value="1">Option 1&lt;/option&gt;
  &lt;option value="2">Option 2&lt;/option&gt;
&lt;/select&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
&lt;label for="input-6">Dropdown with Input (Multiple)&lt;/label&gt;
&lt;select class="select2" id="input-6" multiple="multiple"&gt;
  &lt;option value="1">Option 1&lt;/option&gt;
  &lt;option value="2">Option 2&lt;/option&gt;
&lt;/select&gt;
&lt;/div&gt;
</pre></code></div>
    </div>
    <h4 id="checkbox">Checkbox</h4>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="checkbox">
          <input id="checkbox-1" type="checkbox" name="checkbox" value="1" checked>
          <label for="checkbox-1">Option 1</label>
        </div>
        <div class="checkbox">
          <input id="checkbox-2" type="checkbox" name="checkbox" value="2">
          <label for="checkbox-2">Option 2</label>
        </div>
        <div class="checkbox">
          <input id="checkbox-3" type="checkbox" name="checkbox" value="3" checked disabled>
          <label for="checkbox-3">Option 3</label>
        </div>
        <div class="checkbox">
          <input id="checkbox-4" type="checkbox" name="checkbox" value="4" disabled>
          <label for="checkbox-4">Option 4</label>
        </div>
      </div>
      <div class="col-12 col-lg-8"><code class="js hljs html">
          <pre>&lt;div class="checkbox"&gt;
&lt;input id="checkbox-1" type="checkbox" name="checkbox" value="1" checked="checked" /&gt;
&lt;label for="checkbox-1">Option 1&lt;/label&gt;
&lt;/div&gt;
&lt;div class="checkbox"&gt;
&lt;input id="checkbox-2" type="checkbox" name="checkbox" value="2" /&gt;
&lt;label for="checkbox-2">Option 2&lt;/label&gt;
&lt;/div&gt;
&lt;div class="checkbox"&gt;
&lt;input id="checkbox-3" type="checkbox" name="checkbox" value="3" checked="checked" disabled="disabled" /&gt;
&lt;label for="checkbox-3">Option 3&lt;/label&gt;
&lt;/div&gt;
&lt;div class="checkbox"&gt;
&lt;input id="checkbox-4" type="checkbox" name="checkbox" value="4" disabled="disabled" /&gt;
&lt;label for="checkbox-4">Option 4&lt;/label&gt;
&lt;/div&gt;
</pre></code></div>
    </div>

    <h4 id="check-label">Check Label</h4>
    <div class="row">
      <div class="col-12">
        <div class="check-labels">
          <div class="checkbox">
            <input type="checkbox" name="checklabel" id="checklabel-1" value="1" checked>
            <label for="checklabel-1">Option 1</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="checklabel" id="checklabel-2" value="2">
            <label for="checklabel-2">Option 2</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="checklabel" id="checklabel-3" value="3">
            <label for="checklabel-3">Option 3</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="checklabel" id="checklabel-4" value="4">
            <label for="checklabel-4">Option 4</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="checklabel" id="checklabel-5" value="5">
            <label for="checklabel-5">Option 5</label>
          </div>
        </div>
      </div>
    </div>

    <h4 id="radio">Radio button</h4>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="radio">
          <input id="radio-1" type="radio" name="radio-1" value="1" checked>
          <label for="radio-1">Option 1</label>
        </div>
        <div class="radio">
          <input id="radio-2" type="radio" name="radio-1" value="2">
          <label for="radio-2">Option 2</label>
        </div>
        <div class="radio">
          <input id="radio-3" type="radio" name="radio-2" value="3" checked disabled>
          <label for="radio-3">Option 3</label>
        </div>
        <div class="radio">
          <input id="radio-4" type="radio" name="radio-3" value="4" disabled>
          <label for="radio-4">Option 4</label>
        </div>
      </div>
      <div class="col-12 col-lg-8"><code class="js hljs html">
          <pre>&lt;div class="radio"&gt;
&lt;input id="radio-1" type="radio" name="radio-1" value="1" checked="checked" /&gt;
&lt;label for="radio-1">Option 1&lt;/label&gt;
&lt;/div&gt;
&lt;div class="radio"&gt;
&lt;input id="radio-2" type="radio" name="radio-1" value="2" /&gt;
&lt;label for="radio-2">Option 2&lt;/label&gt;
&lt;/div&gt;
&lt;div class="radio"&gt;
&lt;input id="radio-3" type="radio" name="radio-2" value="3" checked="checked" disabled="disabled" /&gt;
&lt;label for="radio-3">Option 3&lt;/label&gt;
&lt;/div&gt;
&lt;div class="radio"&gt;
&lt;input id="radio-4" type="radio" name="radio-3" value="4" disabled="disabled" /&gt;
&lt;label for="radio-4">Option 4&lt;/label&gt;
&lt;/div&gt;
</pre></code></div>
    </div>
    <h4 id="switch">Switch</h4>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="switch">
          <input id="switch-1" type="checkbox" name="checkbox" value="1" checked>
          <label for="switch-1">Option 1</label>
        </div><br>
        <div class="switch">
          <input id="switch-2" type="checkbox" name="checkbox" value="1" disabled>
          <label for="switch-2">Option 1</label>
        </div>
      </div>
      <div class="col-12 col-lg-8"> <code class="js hljs html"> 
          <pre>&lt;div class="switch"&gt;
&lt;input id="switch-1" type="checkbox" name="checkbox" value="1" checked="checked" /&gt;
&lt;label for="switch-1">Option 1&lt;/label&gt;
&lt;/div>&lt;br /&gt;
&lt;div class="switch"&gt;
&lt;input id="switch-2" type="checkbox" name="checkbox" value="1" disabled="disabled" /&gt;
&lt;label for="switch-2">Option 1&lt;/label&gt;
&lt;/div&gt;
</pre></code></div>
    </div>
  </section>
  <section>
    <h2 id="label">
      Labels
    </h2>
    <div class="row">
      <div class="col-md-6">
        <h4>Default Label</h4>
        <span class="label is-red">Red tag</span>
        <span class="label is-orange">Orange tag</span>
        <span class="label is-purple">Purple tag</span>
        <span class="label is-green">Green tag</span>
        <span class="label is-teal">Teal tag</span>
        <span class="label is-blue">Blue tag</span>
      </div>
      <div class="col-md-6">
        <code class="js hljs html"><pre>
&lt;span class="label is-red">Red tag&lt;/span>
&lt;span class="label is-orange">Orange tag&lt;/span>
&lt;span class="label is-purple">Purple tag&lt;/span>
&lt;span class="label is-green">Green tag&lt;/span>
&lt;span class="label is-teal">Teal tag&lt;/span>
&lt;span class="label is-blue">Blue tag&lt;/span>   
        </pre></code>
      </div>
    </div>

    <h4 class="mt-5">Label List</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="labels">
          <a role="button" class="label">Label</a>
          <a role="button" class="label">Label</a>
          <a role="button" class="label">Label</a>
          <a role="button" class="label">Label</a>
        </div>
      </div>
      <div class="col-md-6">
          <code class="js hljs html"><pre>
&lt;div class="labels">
  &lt;a role="button" class="label">Label&lt;/a>
  &lt;a role="button" class="label">Label&lt;/a>
  &lt;a role="button" class="label">Label&lt;/a>
  &lt;a role="button" class="label">Label&lt;/a>
&lt;/div>
          </pre></code>
      </div>
    </div>
  </section>

  <section>
    <h2 id="label">
      Table
    </h2>
    <div class="row">
      <div class="col-md-6">
        <h4>Default Table</h4>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Nelson</td>
              <td>Male</td>
              <td>nelson@aja.com.tw</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Neilson</td>
              <td>Male</td>
              <td>nelson@aja.com.tw</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <code class="js hljs html"><pre>
&lt;table class="table">
  &lt;thead>
    &lt;tr>
      &lt;th>ID&lt;/th>
      &lt;th>Name&lt;/th>
      &lt;th>Gender&lt;/th>
      &lt;th>Email&lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody>
    &lt;tr>
      &lt;td>1&lt;/td>
      &lt;td>Nelson&lt;/td>
      &lt;td>Male&lt;/td>
      &lt;td>nelson@aja.com.tw&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>2&lt;/td>
      &lt;td>Neilson&lt;/td>
      &lt;td>Male&lt;/td>
      &lt;td>nelson@aja.com.tw&lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table>
        </pre></code>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>With border</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Nelson</td>
              <td>Male</td>
              <td>nelson@aja.com.tw</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Neilson</td>
              <td>Male</td>
              <td>nelson@aja.com.tw</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <code class="js hljs html"><pre>
&lt;table class="table table-bordered">
  &lt;thead>
    &lt;tr>
      &lt;th>ID&lt;/th>
      &lt;th>Name&lt;/th>
      &lt;th>Gender&lt;/th>
      &lt;th>Email&lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody>
    &lt;tr>
      &lt;td>1&lt;/td>
      &lt;td>Nelson&lt;/td>
      &lt;td>Male&lt;/td>
      &lt;td>nelson@aja.com.tw&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>2&lt;/td>
      &lt;td>Neilson&lt;/td>
      &lt;td>Male&lt;/td>
      &lt;td>nelson@aja.com.tw&lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table>
        </pre></code>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>With Responsive</h4>
        <div class="table-response">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Nelson</td>
                <td>Male</td>
                <td>nelson@aja.com.tw</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Neilson</td>
                <td>Male</td>
                <td>nelson@aja.com.tw</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <code class="js hljs html"><pre>
&lt;div class="table-response">
  &lt;table class="table table-bordered">
    &lt;thead>
      &lt;tr>
        &lt;th>ID&lt;/th>
        &lt;th>Name&lt;/th>
        &lt;th>Gender&lt;/th>
        &lt;th>Email&lt;/th>
      &lt;/tr>
    &lt;/thead>
    &lt;tbody>
      &lt;tr>
        &lt;td>1&lt;/td>
        &lt;td>Nelson&lt;/td>
        &lt;td>Male&lt;/td>
        &lt;td>nelson@aja.com.tw&lt;/td>
      &lt;/tr>
      &lt;tr>
        &lt;td>2&lt;/td>
        &lt;td>Neilson&lt;/td>
        &lt;td>Male&lt;/td>
        &lt;td>nelson@aja.com.tw&lt;/td>
      &lt;/tr>
    &lt;/tbody>
  &lt;/table>
&lt;/div>
        </pre></code>
      </div>
    </div>
</div>
<!-- /build:content -->