<!-- build:header -->Grid<!-- /build:header -->
<!-- build:content -->
<div class="container">
  <p>使用 Bootstrap 的網格系統，並依照專案需求微調數值</p>
  <section>
    <h3>Breakpoints</h3>
    <div class="table-response">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Extra small<br/><small><576px</small></th>
            <th>Small<br/><small>≥576px</small></th>
            <th>Medium<br/><small>≥768px</small></th>
            <th>Large<br/><small>≥992px</small></th>
            <th>Extra large<br/><small>≥1200px</small></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-left">Max container width</th>
            <td colspan="5">1200px</td>
          </tr>
          <tr>
            <th class="text-left">Class prefix</th>
            <td>.col-</td>
            <td>.col-sm-</td>
            <td>.col-md-</td>
            <td>.col-lg-</td>
            <td>.col-xl-</td>
          </tr>
          <tr>
            <th class="text-left"># of columns</th>
            <td colspan="5">12</td>
          </tr>
          <tr>
            <th class="text-left">Gutter width</th>
            <td colspan="5">20px (10px on each side of a column)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="pt-5">
    <h3>Column</h3>
    <p>
      同一行的欄位數值必須小於 12，若超過 12 欄位會折行。<br/>
      如：
      <ol>
        <li>.col-6 + .col-6</li>
        <li>.col-3 + .col-3 + .col-6</li>
        <li>.col-4 + .col-4 + .col-2 + .col-2</li>
      </ol>
    </p>
    <div class="container preview">
      <!-- Stack the columns on mobile by making one full-width and the other half-width-->
      <div class="row">
        <div class="col-12 col-md-8">.col-12 .col-md-8</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      </div>
      <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop-->
      <div class="row">
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      </div>
      <!-- Columns are always 50% wide, on mobile and desktop-->
      <div class="row">
        <div class="col-6">.col-6</div>
        <div class="col-6">.col-6</div>
      </div>
    </div><code class="js hljs html">
      <pre>&lt;div class="row"&gt;
&lt;div class="col-12 col-md-8"&gt;.col-12 .col-md-8&lt;/div&gt;
&lt;div class="col-6 col-md-4"&gt;.col-6 .col-md-4&lt;/div&gt;
&lt;/div&gt;

&lt;!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop --&gt;
&lt;div class="row"&gt;
&lt;div class="col-6 col-md-4"&gt;.col-6 .col-md-4&lt;/div&gt;
&lt;div class="col-6 col-md-4"&gt;.col-6 .col-md-4&lt;/div&gt;
&lt;div class="col-6 col-md-4"&gt;.col-6 .col-md-4&lt;/div&gt;
&lt;/div&gt;

&lt;!-- Columns are always 50% wide, on mobile and desktop --&gt;
&lt;div class="row"&gt;
&lt;div class="col-6"&gt;.col-6&lt;/div&gt;
&lt;div class="col-6"&gt;.col-6&lt;/div&gt;
&lt;/div&gt;
</pre></code>
  </section>
  <section class="pt-5">
    <h3>Offset</h3>
    <div class="container preview">
      <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
      </div>
      <div class="row">
        <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
        <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">.col-md-6 .offset-md-3</div>
      </div>
    </div><code class="js hljs html">
      <pre>&lt;div class="row"&gt;
&lt;div class="col-md-4"&gt;.col-md-4&lt;/div&gt;
&lt;div class="col-md-4 offset-md-4"&gt;.col-md-4 .offset-md-4&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
&lt;div class="col-md-3 offset-md-3"&gt;.col-md-3 .offset-md-3&lt;/div&gt;
&lt;div class="col-md-3 offset-md-3"&gt;.col-md-3 .offset-md-3&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
&lt;div class="col-md-6 offset-md-3"&gt;.col-md-6 .offset-md-3&lt;/div&gt;
&lt;/div&gt;</pre></code>
  </section>
</div>
<!-- /build:content -->