<!-- build:header -->Helpers<!-- /build:header -->
<!-- build:content -->
<div class="container">
  <section>
    <h3 id="margin">Margin & Padding</h3>
    <p>可使用 1 ~ 5 的區間，以 10px 為單位，作為間距的距離，可設定上下左右、x 軸或 y 軸。</p>
    <h6>.p-1 ~ .p-5</h6>
    <p>顯示 padding: 10px ~ padding: 50px，margin 的設定亦同</p>
    <table class="table table-bordered">
      <tr>
        <td class="p-1 table-bordered">p-1 的區塊</td>
      </tr>
      <tr>
        <td class="p-2 table-bordered">p-2 的區塊</td>
      </tr>
      <tr>
        <td class="p-3 table-bordered">p-3 的區塊</td>
      </tr>
      <tr>
        <td class="p-4 table-bordered">p-4 的區塊</td>
      </tr>
      <tr>
        <td class="p-5 table-bordered">p-5 的區塊</td>
      </tr>
    </table>
    <h6>針對上下左右做設定</h6>
    <dl> 
      <dt>pt-*</dt>
      <dd>padding-top</dd>
      <dt>pr-*</dt>
      <dd>padding-right</dd>
      <dt>pb-*</dt>
      <dd>padding-bottom</dd>
      <dt>pr-*</dt>
      <dd>padding-right</dd>
    </dl>
    <h6>針對 X 軸或 Y 軸</h6>
    <dl>
      <dt>px-*</dt>
      <dd>padding-left & padding-right</dd>
      <dt>py-*</dt>
      <dd>padding-top & padding-bottom</dd>
    </dl>
  </section>
  <section class="pt-3">
    <h3 id="display">Display</h3>
    <p>可設定 RWD 改變螢幕時，顯示與不顯示的狀態，須參考 CSS <a href="./grid.html">breakpoint</a> 做對應的設定</p>
    <dl>
      <dt>.d-none</dt>
      <dd>display: none</dd>
      <dt>.d-block</dt>
      <dd>display: block</dd>
      <dt>.d-inline</dt>
      <dd>display: inline</dd>
      <dt>.d-inline-block</dt>
      <dd>display: inline-block</dd>
      <dt>.d-table</dt>
      <dd>display: table</dd>
      <dt>.d-table-row</dt>
      <dd>display: table-row</dd>
      <dt>.d-table-cell</dt>
      <dd>display: table-cell</dd>
      <dt>.d-flex</dt>
      <dd>display: flex</dd>
      <dt>.d-inline-flex</dt>
      <dd>display: inline-flex</dd>
    </dl>
  </section>
  <section>
    <h5>Responsive</h5>
    <dl>
      <dt>.d-sm-*</dt>
      <dd>≥ 576px 時顯示</dd>
      <dt>.d-md-*</dt>
      <dd>≥ 768px 時顯示</dd>
      <dt>.d-lg-*</dt>
      <dd>≥ 992px 時顯示</dd>
      <dt>.d-xl-*</dt>
      <dd>≥ 1200px 時顯示</dd>
    </dl>
  </section>
</div>
<!-- /build:content -->