<!-- build:header -->Overview<!-- /build:header -->
<!-- build:content -->
  <div class="container">
    <ul> 
      <li>本 guideline 為國泰產險開發使用，以方便管理設計與 HTML/CSS 的整合和未來的延伸。</li>
      <li>在文件中會附上呈現畫面與原始碼，以便複製與比對。</li>
      <li>若有新增共用元件，也請協作者一併更新，讓未來參與的人員做為參考。</li>
    </ul>
    <section>
      <hr>
      <h3>目錄</h3>
      <h5>Colours </h5>
      <p>網站所使用的顏色，與對應的樣式名稱</p>
      <p class="text"><small><a href="colours.html">前往</a></small></p>
      <h5>Typography </h5>
      <p>與文字相關的設定放置在此處。如 <code class="js hljs html">h1</code> ~ <code class="js hljs html">h6</code>、<code class="js hljs html">a</code>、<code class="js hljs html">p</code>...等文字標籤</p>
      <p class="text"><small><a href="typography.html">前往</a></small></p>
      <h5>Helpers</h5>
      <p>為方便版面臨時微調，將常用文字與間距樣式，整理一組常用設定，可依照需求使用於 HTML 中</p>
      <p class="text"><small><a href="helpers.html">前往</a></small></p>
      <h5>Grid </h5>
      <p>本網站所使用的網格系統，以 Bootstrap 為基底做調整</p>
      <p class="text"><small><a href="grid.html">前往</a></small></p>
      <h5>Elements</h5>
      <p>沒有和其他原件搭配的單一元件設定，如 button、input。</p>
      <p class="text"><small><a href="elements.html">前往</a></small></p>
      <h6>Components</h6>
      <p>不同元件所構成的組件，使用時需注意層級與樣式。</p>
      <p class="text"><small><a href="components.html">前往</a></small></p>
    </section>
    <section>
      <hr>
      <h3>使用方式</h3>
      <p>在 <code class="js hljs html">head</code> 套用以下 CSS 檔</p><code class="js hljs html">
        <pre>&lt;style&gt;
@font-face {
font-family: 'icomoon';
src: url('fonts/icomoon.eot?beewhz');
src: url('fonts/icomoon.eot?beewhz#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?beewhz') format('truetype'), url('fonts/icomoon.woff?beewhz') format('woff'), url('fonts/icomoon.svg?beewhz#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}
&lt;/style&gt;
&lt;link rel="stylesheet" href="./css/app.css"&gt;
&lt;link rel="stylesheet" href="./css/icon.css"&gt;
&lt;link rel="stylesheet" href="./css/style.css"&gt;</pre></code>
    </section>
  </div>
<!-- /build:content -->