<!-- build:header -->Responsive<!-- /build:header -->
<!-- build:content -->
<div class="container">
    <p>
        Desktop 與 Mobile 轉換中，除了樣式調整，部分結構較為複雜的會顯示不同的圖片或 HTML。以下列出圖片與選單主要的切換方式。
    </p>


    <div class="row">
        <div class="col-12">
            <h3>Card </h3>
            <p>部分牌卡比例變動需要在不同尺寸切換圖片</p>
            <p>
                <b>螢幕尺寸 > 768px </b> <code>class="d-none d-md-block"</code>
            </p>
            <p>
                <b>螢幕尺寸 <= 768px </b> <code>class="d-block d-md-none"</code>
            </p>
            <div class="search card">
            <!-- 需要根據畫面大小切換圖片 -->
                <div class="image">
                    <!-- 768 以上顯示 -->
                    <img src="../img/search/news-thumbnail-01@2x.png" class="d-none d-md-block" />
                    <!-- 768 以下顯示 -->
                    <img src="../img/search/search01sm@2x.png" class="d-block d-md-none" />
                </div>
                
                <div class="content">
                    <div class="meta">
                        <span class="public_at">https://www.cathayholdings.com/insurance/products/automobile/</span>
                    </div>
                    <h4>車險<span class="highlight">保險</span>商品 - 國泰產險</h4>
                    <p>
                        現行車險種類分為強制險與任意險，強制險為政策性保險，僅含基本醫療及死殘給付 ，針對車輛修復或民事賠償的部分，國泰產險建議您需額外增加任意險保障，以分攤  ...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <code class="js hljs html">
                <pre>
&lt;div class="search card"&gt;
    &lt;!-- 需要根據畫面大小切換圖片 --&gt;
    &lt;div class="image"&gt;
        &lt;!-- 768 以上顯示 --&gt;
        &lt;img src="../img/search/news-thumbnail-01@2x.png" class="d-none d-md-block" /&gt;
        &lt;!-- 768 以下顯示 --&gt;
        &lt;img src="../img/search/search01sm@2x.png" class="d-block d-md-none" /&gt;
    &lt;/div&gt;
        
    &lt;!-- 不需要切換圖片 --&gt;
    &lt;div class="image"&gt;
        &lt;img src="../img/search/news-thumbnail-01@2x.png" class="d-none d-md-block" /&gt;
    &lt;/div&gt;

    &lt;div class="content"&gt;
        &lt;div class="meta"&gt;
            &lt;span class="public_at"&gt;https://www.cathayholdings.com/insurance/products/automobile/&lt;/span&gt;
        &lt;/div&gt;
        &lt;h4&gt;車險&lt;span class="highlight"&gt;保險&lt;/span&gt;商品 - 國泰產險&lt;/h4&gt;
        &lt;p&gt;
            現行車險種類分為強制險與任意險，強制險為政策性保險，僅含基本醫療及死殘給付 ，針對車輛修復或民事賠償的部分，國泰產險建議您需額外增加任意險保障，以分攤  ...
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;  
                </pre>
            </code>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h3>Pop Menu (一)</h3>
            <p>Tab 在手機內容過長，切換為下拉選單，顯示的 class name 與圖片相同，下拉選單有設定行為，需要使用 <code>pop-menu</code> 供程式辨識</p>

            <ul class="tab is-pill d-none d-lg-table">
                <li class="active"><a href="./payment-3-1-1.html">銀行轉帳</a></li>
                <li><a href="./payment-3-1-2.html">信用卡繳費</a></li>
                <li><a href="./payment-3-1-3.html">便利店繳費</a></li>
                <li><a href="./payment-3-1-4.html">其他方式 </a></li>
            </ul>
            <div class="pop-menu d-block d-lg-none">
                <select class="select2" name="menu1" id="menu1">
                    <option value="./payment-3-1-1.html" selected>銀行轉帳</option>
                    <option value="./payment-3-1-2.html">信用卡繳費</option>
                    <option value="./payment-3-1-3.html">便利店繳費</option>
                    <option value="./payment-3-1-4.html">其他方式 </option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <code class="js hljs html">
                <pre>
&lt;ul class="tab is-pill d-none d-lg-table"&gt;
    &lt;li class="active"&gt;&lt;a href="#"&gt;銀行轉帳&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;信用卡繳費&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;便利店繳費&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;其他方式 &lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="pop-menu d-block d-lg-none"&gt;
    &lt;select class="select2"&gt;
        &lt;option value="#" selected&gt;銀行轉帳&lt;/option&gt;
        &lt;option value="#"&gt;信用卡繳費&lt;/option&gt;
        &lt;option value="#"&gt;便利店繳費&lt;/option&gt;
        &lt;option value="#"&gt;其他方式 &lt;/option&gt;
    &lt;/select&gt;
&lt;/div&gt;
                </pre>
            </code>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Pop Menu (二)</h3>
            <p>
                側選單過長，為了方便在手機的瀏覽，改為下拉選單呈現
            </p>
            <div class="pop-menu d-block d-lg-none">
                <select class="select2" name="menu2" id="menu2">
                    <optgroup label="熱門保險">
                        <option value="1">汽車險</option>
                        <option value="2">機車險</option>
                        <option value="3">旅平＋不便險</option>
                    </optgroup>
                    <optgroup label="其他保險">
                        <option value="4">自行車險</option>
                        <option value="5">登山險</option>
                        <option value="6">出差遊學打工</option>
                    </optgroup>
                </select>
            </div>
            <div class="row">
                <div class="col-md-3 d-none d-lg-block helper-menu">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>熱門保險</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" class="item active">汽車險</a>
                            <a role="button" class="item">機車險</a>
                            <a role="button" class="item">旅平＋不便險</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>其他保險</h4>
                        </div>
                        <div class="accordion-body">
                            <a role="button" class="item">自行車險</a>
                            <a role="button" class="item">登山險</a>
                            <a role="button" class="item">出差遊學打工</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9 helper-maintain"></div>
            </div>
        </div>
        <div class="col-12">
            <code class="js hljs html">
                <pre>
&lt;div class="pop-menu d-block d-lg-none"&gt;
    &lt;select class="select2"&gt;
        &lt;optgroup label="熱門保險"&gt;
            &lt;option value="1" data-select2-id="6">汽車險&lt;/option&gt;
            &lt;option value="2">機車險&lt;/option&gt;
            &lt;option value="3">旅平＋不便險&lt;/option&gt;
        &lt;/optgroup&gt;
        &lt;optgroup label="其他保險"&gt;
            &lt;option value="4">自行車險&lt;/option&gt;
            &lt;option value="5">登山險&lt;/option&gt;
            &lt;option value="6">出差遊學打工&lt;/option&gt;
        &lt;/optgroup&gt;
    &lt;/select&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
    &lt;div class="col-md-3 helper-menu"&gt;
        &lt;div class="accordion menu is-open"&gt;
            &lt;div role="button" class="accordion-header"&gt;
                &lt;div class="icon"&gt;
                    &lt;i class="icon-chevron-down">&lt;/i&gt;
                &lt;/div&gt;
                &lt;h4>熱門保險&lt;/h4&gt;
            &lt;/div&gt;
            &lt;div class="accordion-body"&gt;
                &lt;a role="button" class="item active">汽車險&lt;/a&gt;
                &lt;a role="button" class="item">機車險&lt;/a&gt;
                &lt;a role="button" class="item">旅平＋不便險&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="accordion menu is-open"&gt;
            &lt;div role="button" class="accordion-header"&gt;
                &lt;div class="icon"&gt;
                    &lt;i class="icon-chevron-down">&lt;/i&gt;
                &lt;/div&gt;
                &lt;h4>其他保險&lt;/h4&gt;
            &lt;/div&gt;
            &lt;div class="accordion-body"&gt;
                &lt;a role="button" class="item">自行車險&lt;/a&gt;
                &lt;a role="button" class="item">登山險&lt;/a&gt;
                &lt;a role="button" class="item">出差遊學打工&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col-9 helper-maintain">&lt;/div&gt;
&lt;/div&gt;
                </pre>
            </code>
        </div>
    </div>
</div>
<!-- /build:content -->
