<!-- build:header -->Template<!-- /build:header -->
<!-- build:content -->  
<div class="tab-container  is-green">
  <div class="tab-header">
    <ul class="tab " role="tab">
      <li class="active"><a  data-tab-id="subnav" role="tab-item" class="item">副選單</a></li>
      <li><a data-tab-id="banner" role="tab-item" class="item">Banner</a></li>
      <li><a data-tab-id="recommand" role="tab-item" class="item">推薦方案</a></li>
      <li><a data-tab-id="overview" role="tab-item" class="item">險種頁面總覽</a></li>
      <li><a data-tab-id="education" role="tab-item" class="item">教育知識</a></li>
      <li><a data-tab-id="situation" role="tab-item" class="item">情境版位</a></li>
      <li><a data-tab-id="corp" role="tab-item" class="item">廣告行銷</a></li>
      <li><a data-tab-id="application" role="tab-item" class="item">線上申辦</a></li>
      <li><a data-tab-id="service" role="tab-item" class="item">線下協助</a></li>
    </ul>
  </div>
  
  <div class="tab-pane">
    <div class="tab-content active" data-tab-id="subnav">
      <section>
        <div class="container">
          <h3 id="subnav">副選單</h3>
          <div class="subnav">
            <div class="container">
                <nav class="navbar-left">
                    <a href="" class="nav-item active">商品特色</a>
                    <a href="" class="nav-item">了解險種</a>
                    <a href="" class="nav-item">投保流程</a>
                    <a href="" class="nav-item">常見問題</a>
                </nav>
                <div class="navbar-right">
                    <div class="btn btn-default">我要續保</div>
                    <a href="" class="btn btn-red">線上投保87折優惠</a>
                </div>
              </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-content" data-tab-id="banner">
      <section>
        <div class="container">
          <h3 id="banner">Banner</h3>
          <h4 id="insurance">廣告行銷</h4>
        </div>
          
        <div class="banner insurance owl-carousel">
          <div class="item">
            <img src="../img/insurance/car-ins-banner.png" height="312px" srcset="../img/insurance/car-ins-banner@2x.png" />
            <div class="container">
                <div class="caption">
                    <h1>
                        國泰車險線上投保<br/>
                        強制險現折$250，其他險種87折
                    </h1>
                    <div class="desp">
                        再抽 Gogoro2，優惠只到 4/30 唷！
                    </div>
                    <div class="action mt-2">
                        <a href="#" class="btn btn-default">試算投保</a>
                        <a href="#" class="btn btn-outline-reverse">看活動說明</a>
                    </div>
                </div>
            </div>
          </div>
          <div class="item">
            <img src="../img/insurance/car-ins-banner.png" height="312px" srcset="../img/insurance/car-ins-banner@2x.png" />
            <div class="container">
                <div class="caption">
                    <h1>
                        國泰車險線上投保<br/>
                        強制險現折$250，其他險種87折
                    </h1>
                    <div class="desp">
                        再抽 Gogoro2，優惠只到 4/30 唷！
                    </div>
                    <div class="action mt-2">
                        <a href="#" class="btn btn-default">試算投保</a>
                        <a href="#" class="btn btn-outline-reverse">看活動說明</a>
                    </div>
                </div>
            </div>
          </div>
          <div class="item">
            <img src="../img/insurance/car-ins-banner.png" height="312px" srcset="../img/insurance/car-ins-banner@2x.png" />
            <div class="container">
                <div class="caption">
                    <h1>
                        國泰車險線上投保<br/>
                        強制險現折$250，其他險種87折
                    </h1>
                    <div class="desp">
                        再抽 Gogoro2，優惠只到 4/30 唷！
                    </div>
                    <div class="action mt-2">
                        <a href="#" class="btn btn-default">試算投保</a>
                        <a href="#" class="btn btn-outline-reverse">看活動說明</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    
          <div class="container">
            <h4 id="group" class="mt-3">族群頁</h4>
          </div>
          <div class="banner group">
            <div class="container">
              <div class="row"><img src="../img/group/PFA1_0210/persona-driver.png" height="222" srcset="../img/group/PFA1_0210/persona-driver@2x.png">
                <div class="col-12 col-md-7 offset-md-4">
                  <h2 class="quote">
                    <big>如果我是通勤族...</big><br><small>熱愛騎自行車、每週都騎機車或開車嗎？上班的路途危險多，不想傷害別人已想保護自已，看看大家都買什麼，出門免擔心！</small>
                  </h2>
                </div>
              </div>
            </div><a href="#" class="next">
              <div class="circle"><i class="icon-chevron-right"></i></div>
              <div class="text">銀髮族</div>
            </a>
          </div>
              
          <div class="container">
            <h4 id="situation" class="mt-3">情境頁</h4>
          </div>
          <div class="banner accident"><img src="../img/accident/PFA1_0310/group-hike.png" height="222" srcset="../img/accident/PFA1_0310/group-hike@2x.png">
            <div class="container">
              <div class="caption">
                <div class="panel">
                  <h2 class="quote">
                    <div class="subtitle-sm">大家都在討論...</div>
                    <big>登山露營...</big><small>常常跟家人出門露營，有時駐扎在營地，有時搭帳篷在山中，有一次遇到地震，山路被封住了，好險國泰專員馬上幫我聯絡救難隊...</small>
                  </h2>
                </div>
              </div>
            </div><a href="#" class="next">
              <div class="circle"><i class="icon-chevron-right"></i></div>
            </a>
          </div>

          <div class="container">
            <h4>我要理賠</h4>
          </div>

          <div class="banner claim with-card">
              <div class="container">
                  <div class="row">
                      <div class="col-12 col-md-8">
                          <h1>
                              發生車禍時，<br class="d-block d-md-none"/>讓國泰來幫助你省心理賠
                          </h1>
                          <div class="desp">
                              發生事故時，跟著以下步驟簡單搞定現場麻煩事，理賠時只需準備：汽機車行照、駕駛人駕照和警方事故聯單就可以線上申請理賠，理賠真簡單。
                          </div>
                          <div class="action mt-2">
                              <a href="./auth-14-1-0.html" class="btn btn-primary ml-0">線上申請理賠</a>
                              <a data-anchor="document" class="btn btn-outline">查詢應備文件</a>
                          </div>
                      </div>
                      <div class="col-12 col-md-4">
                          <div class="card">
                              <h4 class="mt-0 mb-1">
                                  免付費專線<br/>
                                  <a href="tel:0800-212-880" target="_blank">0800-212-880</a>
                              </h4>
                              <p class="text text-gray">
                                  <small>
                                      承保、理賠服務    每日 08:30-21:00<br/>
                                      車險事故處理諮詢   21:00 - 翌日 08:30<br/>
                                      24小時道路救援專線   0800-020-345
                                  </small>
                              </p>
                              <a href="../helper/8-4-0.html" target="_blank" class="btn btn-default btn-sm ml-0">聯繫客服</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>    
    </div>
    <div class="tab-content" data-tab-id="recommand">
      <section>
        <div class="container">
          <h3 id="recommand">推薦方案</h3>
          <!-- <div class="cards prompt"> -->
          <div class="owl-carousel insurance-card">
            <div class="card prompt">
                <div class="content">
                    <h2 class="title">責任險基本型</h2>
                    <h5 class="subtitle">強制險+第三人責任險及其附加險</h5>
                    <p class="text">彌補強制險保障額度的缺口，提供駕駛人與車內乘客更多保障</p>
                </div>
                <div class="action">
                    <a href="#" class="btn btn-default btn-block">試算投保</a>
                </div>
            </div>
            <div class="card prompt">
                <div class="ribbon">車齡 6 年內必買</div>
                <div class="content">
                    <h2 class="title">乙式車體險套餐</h2>
                    <h5 class="subtitle">強制險+第三人責任+車體險竊盜險</h5>
                    <p class="text">超額責任保障，加保乙式車體險、竊盜險，提供愛車完整保障。</p>
                </div>
                <div class="action">
                    <a href="#" class="btn btn-default btn-block">試算投保</a>
                </div>
            </div>
            <div class="card prompt">
                <div class="content">
                    <h2 class="title">平價車體險套餐</h2>
                    <h5 class="subtitle">強制險+第三人責任+車體險</h5>
                    <p class="text">超額責任險，免擔心千萬損失責任、加保限額車碰車車體損失險，還送免費道路救援。</p>
                </div>
                <div class="action">
                    <a href="#" class="btn btn-default btn-block">試算投保</a>
                </div>
            </div>
          </div>
          <h3 id="recommand">推薦方案：少於 3 個</h3>
          <!-- <div class="cards prompt"> -->
          <div class="owl-carousel insurance-card">
            <div class="card prompt">
                <div class="content">
                    <h2 class="title">責任險基本型</h2>
                    <h5 class="subtitle">強制險+第三人責任險及其附加險</h5>
                    <p class="text">彌補強制險保障額度的缺口，提供駕駛人與車內乘客更多保障</p>
                </div>
                <div class="action">
                    <a href="#" class="btn btn-default btn-block">試算投保</a>
                </div>
            </div>
            <div class="card prompt">
                <div class="ribbon">車齡 6 年內必買</div>
                <div class="content">
                    <h2 class="title">乙式車體險套餐</h2>
                    <h5 class="subtitle">強制險+第三人責任+車體險竊盜險</h5>
                    <p class="text">超額責任保障，加保乙式車體險、竊盜險，提供愛車完整保障。</p>
                </div>
                <div class="action">
                    <a href="#" class="btn btn-default btn-block">試算投保</a>
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-content" data-tab-id="overview">
      <div class="container">
        <h3 id="overview">險種頁面總覽</h3>
      </div>
      <section class="section is-relax">
        <div class="container">
          <h1 class="section-title d-none d-sm-block d-md-block">國泰汽車險提供更完善的服務</h1>
          <div class="row mt-4">
              <div class="col-lg-6 offset-lg-1 d-none d-sm-block d-md-block">
                  <img src="../img/insurance/car-feature.png" height="288" srcset="../img/insurance/car-feature@2x.png">
              </div>
              <div class="col-lg-5">
                  <div class="item">
                      <div class="icon">
                          <i class="icon-check-handwrite i-32"></i>
                      </div>
                      <div class="content">
                          <h3 class="mb-1">用 LINE 就能申請理賠</h3> 
                          <div class="description"><a href="#">加入LINE 好友</a></div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="icon">
                          <i class="icon-check-handwrite i-32"></i>
                      </div>
                      <div class="content">
                          <h3 class="mb-1">免費24 小時事故現場協助處理</h3> 
                          <div class="description">
                              免付費專線：<a href="tel:0800036599">0800-212-880</a>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="icon">
                          <i class="icon-check-handwrite i-32"></i>
                      </div>
                      <div class="content">
                          <h3 class="mb-1">
                              道路救援 100 公里
                              <a data-trigger="modal" data-modal="road-rescue" class="link"><i class="icon-info"></i></a>
                          </h3> 
                          <div class="description">
                              免付費專線：<a href="tel:0800020345">0800-020-345</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </section>

      <div role="modal" data-modal-id="road-rescue" class="modal">
          <div class="modal-content">
              <div class="modal-header"><a role="close" class="close"><i class="icon-close i-24"></i></a>
                  <h3 class="modal-title">100 公里不限次數道路救援 </h3>
              </div>
              <div class="modal-body">
                  <p>
                      投保國泰產險甲式、乙式、丙式車體險者可享「100公里不限次數道路救援」
                  </p>
              </div>
              <div class="modal-footer"><a role="close" class="btn btn-primary is-block">我知道了</a></div>
          </div>
      </div>

    </div>
    <div class="tab-content" data-tab-id="education">
      <div class="container">
        <h3 id="education">教育知識</h3>
        <h4 id="d-1">D-1 特點型 - 輪播一</h4>
      </div>
      <section class="pt-0 pb-5">
          <div class="container p-0 p-md-2">
              <div class="owl-carousel introduce">
                  <section class="section">
                      <h3 class="tab-title">發生交通事故時，<br class="d-block d-md-none"/>保障您的第一道防線</h3>
                      <div class="konwn-items">
                          <div class="konwn-items-scroll">
                              <div class="item">
                                  <div class="content">
                                      <h3>強制險</h3>
                                      <p class="text">法令要求，買車必備，目的在使事故受害者獲得基本保障，但此險只保障乘客、對方駕駛與路人，建議還要加保駕駛人傷害險，才能在發生事故時保障自己。</p>
                                  </div>
                                  <div class="action">
                                      <a href="./car-compulsory-insurance.html" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                      <br>
                                      <a href="#">
                                          <i class="icon-download"></i>
                                          強制險條款
                                      </a>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="content">
                                      <h3>第三人責任險</h3>
                                      <p class="text">補足強制險的不足，用於保障駕駛人、乘客、路人和對方車輛。如果不小心撞壞別人的超級跑車，亦可以透過附加車額責任險來賠償。</p>
                                  </div>
                                  <div class="action">
                                      <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                      <br>
                                      <a href="#">
                                          <i class="icon-download"></i>
                                          第三人責任險條款
                                      </a>
                                  </div>
                              </div>
                              <br class="d-block d-md-none">
                              <div class="item">
                                  <div class="content">
                                      <h3>車體損失險</h3>
                                      <p class="text">當車發生碰撞、或因災害導致損失，此險可以依自身需求，選擇甲式、乙式和丙式不同保障範圍。</p>
                                  </div>
                                  <div class="action">
                                      <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                      <br>
                                      <a href="#">
                                          <i class="icon-download"></i>
                                          車體損失險條款
                                      </a>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="content">
                                      <h3>汽車竊盜損失險</h3>
                                      <p class="text">此險可以保障你的車，建議 5 年內新車或有可能停放在外者，最適合投保。</p>
                                  </div>
                                  <div class="action">
                                      <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                      <br>
                                      <a href="#">
                                          <i class="icon-download"></i>
                                          汽車竊盜損失險條款
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
                  <section class="section">
                      <h3 class="tab-title">天價賠償，超額責任險幫你扛</h3>
                      <div class="row">
                          <div class="col-12 col-md-10 offset-md-1">
                              <div class="edu-card">
                                  <div class="image">
                                      <img src="../img/insurance/car-img@2x.png">
                                  </div>
                                  <div class="content">
                                      <h3>超額責任險</h3>
                                      <p>
                                          拒當冤大頭，如果您常行經都會區 (高級車多的地方）、或行駛於高速公路（容易有多車事故，比如連環車禍…）萬一出事時面臨賠償金額比一般情況多更多的人建議需保。
                                      </p>
                                      <a href="#" class="btn btn-primary">看急難救助介紹</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
              </div>
          </div>
      </section>
      <section class="pt-0 pb-5">
          <div class="container p-0 p-md-2">
              <div class="owl-carousel introduce">
                  <section class="section">
                      <h3 class="tab-title">發生交通事故時，<br class="d-block d-md-none"/>保障您的第一道防線</h3>
                      <div class="konwn-items">
                          <div class="konwn-items-scroll">
                              <div class="item">
                                  <div class="content">
                                      <h3>強制險</h3>
                                      <p class="text">法令要求，買車必備，目的在使事故受害者獲得基本保障，但此險只保障乘客、對方駕駛與路人，建議還要加保駕駛人傷害險，才能在發生事故時保障自己。</p>
                                  </div>
                                  <div class="action">
                                      <a href="./car-compulsory-insurance.html" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                      <br>
                                      <a href="#">
                                          <i class="icon-download"></i>
                                          強制險條款
                                      </a>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="content">
                                      <h3>第三人責任險</h3>
                                      <p class="text">補足強制險的不足，用於保障駕駛人、乘客、路人和對方車輛。如果不小心撞壞別人的超級跑車，亦可以透過附加車額責任險來賠償。</p>
                                  </div>
                                  <div class="action">
                                      <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                      <br>
                                      <a href="#">
                                          <i class="icon-download"></i>
                                          第三人責任險條款
                                      </a>
                                  </div>
                              </div>
                              <br class="d-block d-md-none">
                              <div class="item">
                                  <div class="content">
                                      <h3>車體損失險</h3>
                                      <p class="text">當車發生碰撞、或因災害導致損失，此險可以依自身需求，選擇甲式、乙式和丙式不同保障範圍。</p>
                                  </div>
                                  <div class="action">
                                      <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                      <br>
                                      <a href="#">
                                          <i class="icon-download"></i>
                                          車體損失險條款
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
                  <section class="section">
                      <h3 class="tab-title">天價賠償，超額責任險幫你扛</h3>
                      <div class="row">
                          <div class="col-12 col-md-10 offset-md-1">
                              <div class="edu-card">
                                  <div class="image">
                                      <img src="../img/insurance/car-img@2x.png">
                                  </div>
                                  <div class="content">
                                      <h3>超額責任險</h3>
                                      <p>
                                          拒當冤大頭，如果您常行經都會區 (高級車多的地方）、或行駛於高速公路（容易有多車事故，比如連環車禍…）萬一出事時面臨賠償金額比一般情況多更多的人建議需保。
                                      </p>
                                      <a href="#" class="btn btn-primary">看急難救助介紹</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
              </div>
          </div>
      </section>

      <div class="container">
        <h4 id="d-1">D-1 特點型 - 輪播二</h4>
      </div>

      <section class="pt-0 pb-5">
          <div class="container p-0 p-md-2">
              <h3 class="tab-title">發生交通事故時，<br class="d-block d-md-none"/>保障您的第一道防線</h3>
              <div class="owl-carousel known-items">
                  <div class="item">
                      <div class="content">
                          <h3>強制險</h3>
                          <p class="text">法令要求，買車必備，目的在使事故受害者獲得基本保障，但此險只保障乘客、對方駕駛與路人，建議還要加保駕駛人傷害險，才能在發生事故時保障自己。</p>
                      </div>
                      <div class="action">
                          <a href="./car-compulsory-insurance.html" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              強制險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>第三人責任險</h3>
                          <p class="text">補足強制險的不足，用於保障駕駛人、乘客、路人和對方車輛。如果不小心撞壞別人的超級跑車，亦可以透過附加車額責任險來賠償。</p>
                      </div>
                      <div class="action">
                          <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              第三人責任險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>車體損失險</h3>
                          <p class="text">當車發生碰撞、或因災害導致損失，此險可以依自身需求，選擇甲式、乙式和丙式不同保障範圍。</p>
                      </div>
                      <div class="action">
                          <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              車體損失險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>汽車竊盜損失險</h3>
                          <p class="text">此險可以保障你的車，建議 5 年內新車或有可能停放在外者，最適合投保。</p>
                      </div>
                      <div class="action">
                          <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              汽車竊盜損失險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>強制險</h3>
                          <p class="text">法令要求，買車必備，目的在使事故受害者獲得基本保障，但此險只保障乘客、對方駕駛與路人，建議還要加保駕駛人傷害險，才能在發生事故時保障自己。</p>
                      </div>
                      <div class="action">
                          <a href="./car-compulsory-insurance.html" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              強制險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>第三人責任險</h3>
                          <p class="text">補足強制險的不足，用於保障駕駛人、乘客、路人和對方車輛。如果不小心撞壞別人的超級跑車，亦可以透過附加車額責任險來賠償。</p>
                      </div>
                      <div class="action">
                          <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              第三人責任險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>車體損失險</h3>
                          <p class="text">當車發生碰撞、或因災害導致損失，此險可以依自身需求，選擇甲式、乙式和丙式不同保障範圍。</p>
                      </div>
                      <div class="action">
                          <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              車體損失險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>汽車竊盜損失險</h3>
                          <p class="text">此險可以保障你的車，建議 5 年內新車或有可能停放在外者，最適合投保。</p>
                      </div>
                      <div class="action">
                          <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              汽車竊盜損失險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>汽車竊盜損失險</h3>
                          <p class="text">此險可以保障你的車，建議 5 年內新車或有可能停放在外者，最適合投保。</p>
                      </div>
                      <div class="action">
                          <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              汽車竊盜損失險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>汽車竊盜損失險</h3>
                          <p class="text">此險可以保障你的車，建議 5 年內新車或有可能停放在外者，最適合投保。</p>
                      </div>
                      <div class="action">
                          <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              汽車竊盜損失險條款
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="pt-0 pb-5">
          <div class="container p-0 p-md-2">
              <h3 class="tab-title">發生交通事故時，<br class="d-block d-md-none"/>保障您的第一道防線</h3>
              <div class="owl-carousel known-items">
                  <div class="item">
                      <div class="content">
                          <h3>強制險</h3>
                          <p class="text">法令要求，買車必備，目的在使事故受害者獲得基本保障，但此險只保障乘客、對方駕駛與路人，建議還要加保駕駛人傷害險，才能在發生事故時保障自己。</p>
                      </div>
                      <div class="action">
                          <a href="./car-compulsory-insurance.html" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              強制險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>第三人責任險</h3>
                          <p class="text">補足強制險的不足，用於保障駕駛人、乘客、路人和對方車輛。如果不小心撞壞別人的超級跑車，亦可以透過附加車額責任險來賠償。</p>
                      </div>
                      <div class="action">
                          <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              第三人責任險條款
                          </a>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h3>車體損失險</h3>
                          <p class="text">當車發生碰撞、或因災害導致損失，此險可以依自身需求，選擇甲式、乙式和丙式不同保障範圍。</p>
                      </div>
                      <div class="action">
                          <a href="#" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                          <br>
                          <a href="#">
                              <i class="icon-download"></i>
                              車體損失險條款
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <hr>
      <div class="container">
        <h4 id="d-2">D-2 圖文型</h4>
      </div>
      <section>
        <div class="container">
          <h4 class="section-title">區塊標題放此</h4>
          <div class="cards">
            <div class="card basic">
              <div class="image auto-height"><img src="https://via.placeholder.com/380x212" alt=""></div>
              <div class="content">
                <h4 class="title">段落標題</h4>
                <p class="description">牌卡內區塊標題放此</p>
                <a href="#"><i class="icon-download"></i> 文字連結</a>
              </div>
            </div>
            <div class="card basic">
              <div class="image auto-height"><img src="https://via.placeholder.com/380x212" alt=""></div>
              <div class="content">
                <h4 class="title">段落標題</h4>
                <p class="description">《物種起源》或物種源始，全稱《論處在生存競爭中的物種之起源》，是達爾文論述生物演化的重要著作，出版於1859年。</p>
                <a href="#"><i class="icon-download"></i> 文字連結</a>
              </div>
            </div>
            <div class="card basic">
              <div class="image auto-height"><img src="https://via.placeholder.com/380x212" alt=""></div>
              <div class="content">
                <h4 class="title">段落標題</h4>
                <p class="description">《物種起源》或物種源始，全稱《論處在生存競爭中的物種之起源》，是達爾文論述生物演化的重要著作，出版於1859年。</p>
                <a href="#"><i class="icon-download"></i> 文字連結</a>
              </div>
            </div>
          </div>

          <h4 id="d-2">D-2 圖文型：少於三個</h4>
          <div class="cards">
            <div class="card basic">
              <div class="image auto-height"><img src="https://via.placeholder.com/380x212" alt=""></div>
              <div class="content">
                <h4 class="title">段落標題</h4>
                <p class="description">牌卡內區塊標題放此</p>
                <a href="#"><i class="icon-download"></i> 文字連結</a>
              </div>
            </div>
            <div class="card basic">
              <div class="image auto-height"><img src="https://via.placeholder.com/380x212" alt=""></div>
              <div class="content">
                <h4 class="title">段落標題</h4>
                <p class="description">《物種起源》或物種源始，全稱《論處在生存競爭中的物種之起源》，是達爾文論述生物演化的重要著作，出版於1859年。</p>
                <a href="#"><i class="icon-download"></i> 文字連結</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <h4 class="section-title">旅遊的人事物，國泰都幫我一路保平安</h4>
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
              <div class="edu-card">
                <div class="image">
                  <img src="https://placeimg.com/680/380/any" />
                </div>
                <div class="content">
                  <h3>海外旅遊急難救助</h3>
                  <p>特別針對海外旅遊險提供全球急難協助，可享有 24 小時中文熱線電話，提供各種諮詢、協商服務，並且在意外事故發生時，可獲得完善的緊急醫療支援，絕非其他同類型商品僅提供陽春型救援服務所能比擬！</p>
                  <a href="#" class="btn btn-primary">看急難救助介紹</a>
                  <br>
                  <a href="#" class="link">撥打 24 小時服務熱線 </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <hr>
        <h4 id="d-3">D-3 牌卡型</h4>
      </div>
      <section>
        <h1 class="section-title">意外發生時，如何減少損失？</h1>
        <div class="container">
          <div class="cards situation">
              <img src="../img/insurance/situation-bg.png" class="bg d-none d-md-block" srcset="../img/insurance/situation-bg@2x.png">
              <div class="card">
                  <img src="../img/insurance/PFA2_0100/car-s-1.png" class="d-none d-md-block">
                  <img src="../img/insurance/PFA2_0100/car-s-1-sm.png" class="d-block d-md-none">
                  <div class="content">
                      <h2 class="title">撞到超跑</h2>
                      <p>
                          加保第三人責任險 + 超額責任<br>
                          自付賠償 <del>660萬</del> 0元
                      </p>
                      <a data-trigger="modal" data-modal="car-crash" class="link">
                          <i class="icon-arrow-right"></i>
                          <span>看更多</span>
                      </a>
                  </div>
              </div>
              <div class="card">
                  <img src="../img/insurance/PFA2_0100/car-s-3.png" class="d-none d-md-block">
                  <img src="../img/insurance/PFA2_0100/car-s-3-sm.png" class="d-block d-md-none">
                  <div class="content">
                      <h2 class="title">傷人致死</h2>
                      <p>
                          加保第三人責任險<br>
                          自付賠償 <del>500萬</del> 0元
                      </p>
                      <a  data-trigger="modal" data-modal="injury-death" class="link">
                          <i class="icon-arrow-right"></i>
                          <span>看更多</span>
                      </a>
                  </div>
              </div>
              <div class="card">
                  <img src="../img/insurance/PFA2_0100/car-s-2.png" class="d-none d-md-block">
                  <img src="../img/insurance/PFA2_0100/car-s-2-sm.png" class="d-block d-md-none">
                  <div class="content">
                      <h2 class="title">悲情自撞</h2>
                      <p>
                          加保駕駛人傷害險<br>
                          自付賠償 <del>8萬</del> 0元
                      </p>
                      <a data-trigger="modal" data-modal="self-crash" class="link">
                          <i class="icon-arrow-right"></i>
                          <span>看更多</span>
                      </a>
                  </div>
              </div>
          </div>
        </div>
      </section>
      <section>
        <h1 class="section-title">意外發生時，如何減少損失？</h1>
        <div class="container">
          <div class="cards situation">
              <img src="../img/insurance/situation-bg.png" class="bg d-none d-md-block" srcset="../img/insurance/situation-bg@2x.png">
              <div class="card">
                  <img src="../img/insurance/PFA2_0100/car-s-1.png" class="d-none d-md-block">
                  <img src="../img/insurance/PFA2_0100/car-s-1-sm.png" class="d-block d-md-none">
                  <div class="content">
                      <h2 class="title">撞到超跑</h2>
                      <p>
                          加保第三人責任險 + 超額責任<br>
                          自付賠償 <del>660萬</del> 0元
                      </p>
                      <a data-trigger="modal" data-modal="car-crash" class="link">
                          <i class="icon-arrow-right"></i>
                          <span>看更多</span>
                      </a>
                  </div>
              </div>
              <div class="card">
                  <img src="../img/insurance/PFA2_0100/car-s-3.png" class="d-none d-md-block">
                  <img src="../img/insurance/PFA2_0100/car-s-3-sm.png" class="d-block d-md-none">
                  <div class="content">
                      <h2 class="title">傷人致死</h2>
                      <p>
                          加保第三人責任險<br>
                          自付賠償 <del>500萬</del> 0元
                      </p>
                      <a  data-trigger="modal" data-modal="injury-death" class="link">
                          <i class="icon-arrow-right"></i>
                          <span>看更多</span>
                      </a>
                  </div>
              </div>
          </div>
        </div>
      </section>
      <div class="container">
        <hr>
        <h4 id="d-4">D-4 圖片型</h4>
      </div>
      <section>
        <div class="container">
          <h4 class="section-title">旅遊的人事物，國泰都幫我一路保平安</h4>
          <div class="edu-card photo-container">
            <img src="https://placeimg.com/940/440/any" />
          </div>
        </div>
      </section>
      <div class="container">
        <hr>
        <h4 id="d-5">D-5 影片型</h4>
      </div>
      <section>
        <div class="container">
          <h4 class="section-title">旅遊的人事物，國泰都幫我一路保平安</h4>
          <div class="edu-card video-container">
            <iframe src="https://www.youtube.com/embed/0n_fN-s6iWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </section>
      <div class="container">
        <hr>
        <h4 id="d-6">D-6 步驟型</h4>
      </div>
      <section>
        <div class="container">
          <h3 class="tab-title">簡單四步驟，就可以完成理賠申請</h3>
          <div class="progress">
              <div class="progress-item">
                  <div class="image">
                      <img src="../img/insurance/pay-step-1.png" srcset="../img/insurance/pay-step-1@2x.png">
                  </div>
                  <div class="content">
                      <div class="number">1</div>
                      <h4>通知警察</h4>
                      <p class="description">撥打報警專線</p>
                      <a href="tel:119" class="link">撥打119</a>
                  </div>
              </div>
              <div class="progress-item">
                  <div class="image">
                      <img src="../img/insurance/pay-step-2.png" srcset="../img/insurance/pay-step-2@2x.png">
                  </div>
                  <div class="content">
                      <div class="number">2</div>
                      <h4>十日內通知本公司</h4>
                      <p class="description">撥打保險專員或聯繫客服</p>
                      <a href="" class="link">0800-212-880</a>
                  </div>
              </div>
              <div class="progress-item">
                  <div class="image">
                      <img src="../img/insurance/pay-step-3.png" srcset="../img/insurance/pay-step-3@2x.png">
                  </div>
                  <div class="content">
                      <div class="number">3</div>
                      <h4>檢付理賠文件</h4>
                      <p class="description">線上檢附並申請</p>
                      <a href="" class="link">登入保戶中心</a>
                  </div>
              </div>
              <div class="progress-item">
                  <div class="image">
                      <img src="../img/insurance/pay-step-4.png" srcset="../img/insurance/pay-step-4@2x.png">
                  </div>
                  <div class="content">
                      <div class="number">4</div>
                      <h4>等待理賠結果</h4>
                      <p class="description">線上查詢進度</p>
                      <a href="" class="link">登入保戶中心</a>
                  </div>
              </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-content" data-tab-id="situation">
      <div class="container">
        <h3 id="story">情境版位</h3>
        <h4 id="e-1">E-1  排卡式</h4>
      </div>
      
      <section class="section is-relax">
          <div class="container">
              <h1 class="section-title">意外發生時，如何減少損失？</h1>
              
              <div class="cards situation">
                <img src="../img/insurance/situation-bg.png" class="bg d-none d-md-block" srcset="../img/insurance/situation-bg@2x.png">
                <div class="card">
                    <img src="../img/insurance/PFA2_0100/car-s-1.png" class="d-none d-md-block">
                    <img src="../img/insurance/PFA2_0100/car-s-1-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">撞到超跑</h2>
                        <p>
                            加保第三人責任險 + 超額責任<br>
                            自付賠償 <del>660萬</del> 0元
                        </p>
                        <a data-trigger="modal" data-modal="car-crash" class="link">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img src="../img/insurance/PFA2_0100/car-s-3.png" class="d-none d-md-block">
                    <img src="../img/insurance/PFA2_0100/car-s-3-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">傷人致死</h2>
                        <p>
                            加保第三人責任險<br>
                            自付賠償 <del>500萬</del> 0元
                        </p>
                        <a  data-trigger="modal" data-modal="injury-death" class="link">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img src="../img/insurance/PFA2_0100/car-s-2.png" class="d-none d-md-block">
                    <img src="../img/insurance/PFA2_0100/car-s-2-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">悲情自撞</h2>
                        <p>
                            加保駕駛人傷害險<br>
                            自付賠償 <del>8萬</del> 0元
                        </p>
                        <a data-trigger="modal" data-modal="self-crash" class="link">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                </div>
              </div>


              <div class="cards situation">
                <img src="../img/insurance/situation-bg.png" class="bg d-none d-md-block" srcset="../img/insurance/situation-bg@2x.png">
                <div class="card">
                    <img src="../img/insurance/PFA2_0100/car-s-1.png" class="d-none d-md-block">
                    <img src="../img/insurance/PFA2_0100/car-s-1-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">撞到超跑</h2>
                        <p>
                            加保第三人責任險 + 超額責任<br>
                            自付賠償 <del>660萬</del> 0元
                        </p>
                        <a data-trigger="modal" data-modal="car-crash" class="link">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img src="../img/insurance/PFA2_0100/car-s-3.png" class="d-none d-md-block">
                    <img src="../img/insurance/PFA2_0100/car-s-3-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">傷人致死</h2>
                        <p>
                            加保第三人責任險<br>
                            自付賠償 <del>500萬</del> 0元
                        </p>
                        <a  data-trigger="modal" data-modal="injury-death" class="link">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                </div>
              </div>
          </div>
      </section>


      <div role="modal" data-modal-id="car-crash" class="modal">
          <div class="modal-content">
              <div class="modal-header"><a role="close" class="close"><i class="icon-close i-24"></i></a>
                  <h3 class="modal-title">撞到超跑 </h3>
              </div>
              <div class="modal-body">
                  <p>
                      在山路行駛時，不慎與 Lamborghini 發生「摩擦」，原本需要賠償 660 萬修車費用，因加保「第三人責任險+超額責任險」，全額由保險公司幫忙負擔，真的好險有加保。
                  </p>
                  <div class="list refund">
                      <div class="item">
                          <div class="text">法律判賠</div>
                          <div class="fund">660 萬元</div>
                      </div>
                      <div class="item refund">
                          <div class="text">強制險</div>
                          <div class="fund">不賠</div>
                      </div>
                      <div class="item refund">
                          <div class="text">第三人責任險<br class="d-block d-md-none"/> + 超額責任險</div>
                          <div class="fund">幫我賠 660 萬元</div>
                      </div>
                  </div>
                  <div class="summary text-right text-red">
                      自付賠償金額 <span class="number ml-2">0</span>元
                  </div>
              </div>
              <div class="modal-footer"><a role="close" class="btn btn-primary is-block">我知道了</a></div>
          </div>
      </div>

      <div role="modal" data-modal-id="injury-death" class="modal">
          <div class="modal-content">
              <div class="modal-header"><a role="close" class="close"><i class="icon-close i-24"></i></a>
                  <h3 class="modal-title">傷人致死 </h3>
              </div>
              <div class="modal-body">
                  <p>
                      黃姓女子在路口與姜女發生碰撞，姜女不幸身亡，法院判賠黃女須賠償 500 萬元。但因黃女加保「第三人責任險險」，自付賠償金額改由保險公司幫他負擔，真的好險有加保。
                  </p>
                  <div class="list refund">
                      <div class="item">
                          <div class="text">法律判賠</div>
                          <div class="fund">500 萬元</div>
                      </div>
                      <div class="item refund">
                          <div class="text">強制險</div>
                          <div class="fund">只賠 200 萬元</div>
                      </div>
                      <div class="item refund">
                          <div class="text">第三人責任險</div>
                          <div class="fund">幫我賠 300 萬元</div>
                      </div>
                  </div>
                  <div class="summary text-right text-red">
                      自付賠償金額 <span class="number ml-2">0</span>元
                  </div>
              </div>
              <div class="modal-footer"><a role="close" class="btn btn-primary is-block">我知道了</a></div>
          </div>
      </div>

      <div role="modal" data-modal-id="self-crash" class="modal">
          <div class="modal-content">
              <div class="modal-header"><a role="close" class="close"><i class="icon-close i-24"></i></a>
                  <h3 class="modal-title">悲情自撞 </h3>
              </div>
              <div class="modal-body">
                  <p>
                      陳先生開車行經產業道路，因視線不良未注意前方彎道，而自撞道路旁的路樹，導致陳先生頭部挫傷、腿部骨折，經醫療診治，花費約8萬元。因陳先生有投保駕駛人傷害險可負擔醫療費用。
                  </p>
                  <div class="list refund">
                      <div class="item">
                          <div class="text">醫療費用</div>
                          <div class="fund">8 萬元</div>
                      </div>
                      <div class="item refund">
                          <div class="text">強制險</div>
                          <div class="fund">不賠</div>
                      </div>
                      <div class="item refund">
                          <div class="text">駕駛人傷害險</div>
                          <div class="fund">幫我賠 8 萬元</div>
                      </div>
                  </div>
                  <div class="summary text-right text-red">
                      自付賠償金額 <span class="number ml-2">0</span>元
                  </div>
              </div>
              <div class="modal-footer"><a role="close" class="btn btn-primary is-block">我知道了</a></div>
          </div>
      </div>
      <div class="container">
        <hr>
        <h4 id="e-2">E-2  純文字牌卡模組</h4>  
      </div>
      <section>
        <div class="container">
          <div class="cards group">
            <a href="./group-1-2-1.html" class="card paded">
              <div class="content">
                <h3>通勤族</h3>
                <p>熱愛騎自行車、每週都騎機車或開車嗎？如果符合以上條件，看看大家都買什麼保障自己吧！</p>
                <div class="more text-green">
                  <i class="icon-arrow-right"></i>
                  看更多
                </div>
              </div>
            </a>
            <a href="#" class="card paded overlay-title">
              <div class="image">
                <img src="../img/index/PFA1_0100/Card2.jpg" height="280" class="d-none d-md-block">
                <img src="../img/index/PFA1_0100/Card2-sm.jpg" class="d-block d-md-none">
              </div>
              <div class="content">
                <h3 class="m-0">銀髮族</h3>
              </div>
            </a>
            <a href="#" class="card paded green overlay">
              <div class="image">
                  <img src="../img/index/PFA1_0100/Card3.jpg" height="280" class="d-none d-md-block">
                  <img src="../img/index/PFA1_0100/Card3-sm.jpg" class="d-block d-md-none">
              </div>
              <div class="content">
                <h3>專業職人</h3>
                <p>熱衷於我的工作，但當意外發生時，如何保障受害者的權益又可以保護我自己，看看大家都在保什麼...</p>
                <div class="more">
                  <i class="icon-arrow-right"></i>
                  看更多
                </div>
              </div>
            </a>
            <a href="#" class="card paded green overlay">
              <div class="image">
                  <img src="../img/index/PFA1_0100/Card4.jpg" height="280" class="d-none d-md-block">
                  <img src="../img/index/PFA1_0100/Card4-sm.jpg" class="d-block d-md-none">
                </div>
              <div class="content">
                <h3>租屋族</h3>
                <p>當發生火災、淹水竊盜時，如何保障房東原本的權益但也保護我自己，看看大家都買什麼...</p>
                <div class="more">
                  <i class="icon-arrow-right"></i>
                  看更多
                </div>
              </div>
            </a>
            <a href="#" class="card paded overlay">
              <div class="content">
                <h3>愛玩客</h3>
                <p>背著帳篷到處去旅行、嘗試各種戶外運動，旅途中我該如何減輕意外發生的負擔，看看大家都在保什麼...</p>
                <div class="more text-green">
                  <i class="icon-arrow-right"></i>
                  看更多
                </div>
              </div>
            </a>
            <a href="#" class="card paded overlay-title">
              <div class="image">
                  <img src="../img/index/PFA1_0100/Card6.jpg" height="280" class="d-none d-md-block">
                  <img src="../img/index/PFA1_0100/Card6-sm.jpg" class="d-block d-md-none">
                </div>
              <div class="content">
                <h3 class="m-0">甜蜜愛侶</h3>
              </div>
            </a>
          </div>
        </div>
      </section>
      <div class="container">
        <hr>
        <h4 id="e-3">E-3  故事型模組</h4>
      </div>
      <section>
        <div class="container">
          <div class="cards story">
            <div class="card paded">
              <div class="content">
                <p>
                  第一次使用LINE申請理賠，原本半信半疑想說真的有這麼方便嗎？沒想到出乎意料簡單，而且馬上就有專人打電話來幫我處理，國泰做事真的讓我很安心。
                </p>
                <div class="meta">
                  <div>莊小姐 <span class="divider"></span> 車險理賠</div>
                  <div class="text"><small>2019/03/24</small></div>
                </div>
              </div>
            </div>
            <div class="card paded">
              <div class="content">
                <p>
                  第一次使用LINE申請理賠，原本半信半疑想說真的有這麼方便嗎？沒想到出乎意料簡單，而且馬上就有專人打電話來幫我處理，國泰做事真的讓我很安心。
                </p>
                <div class="meta">
                  <div>莊小姐 <span class="divider"></span> 車險理賠</div>
                  <div class="text"><small>2019/03/24</small></div>
                </div>
              </div>
            </div>
            <div class="card paded">
              <div class="content">
                <p>
                  第一次使用LINE申請理賠，原本半信半疑想說真的有這麼方便嗎？沒想到出乎意料簡單，而且馬上就有專人打電話來幫我處理，國泰做事真的讓我很安心。
                </p>
                <div class="meta">
                  <div>莊小姐 <span class="divider"></span> 車險理賠</div>
                  <div class="text"><small>2019/03/24</small></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="cards story">
            <div class="card paded">
              <div class="content">
                <p>
                  第一次使用LINE申請理賠，原本半信半疑想說真的有這麼方便嗎？沒想到出乎意料簡單，而且馬上就有專人打電話來幫我處理，國泰做事真的讓我很安心。
                </p>
                <div class="meta">
                  <div>莊小姐 <span class="divider"></span> 車險理賠</div>
                  <div class="text"><small>2019/03/24</small></div>
                </div>
              </div>
            </div>
            <div class="card paded">
              <div class="content">
                <p>
                  第一次使用LINE申請理賠，原本半信半疑想說真的有這麼方便嗎？沒想到出乎意料簡單，而且馬上就有專人打電話來幫我處理，國泰做事真的讓我很安心。
                </p>
                <div class="meta">
                  <div>莊小姐 <span class="divider"></span> 車險理賠</div>
                  <div class="text"><small>2019/03/24</small></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-content" data-tab-id="corp">
      <section class="section is-relax hot-event pb-2">
          <div class="container">
              <h1 class="section-title">優惠懶人包</h1>
              <div class="cards four-cards mobile-horz-scroll">
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 text-center">
                      <a href="#" class="btn btn-outline-reverse">更多熱門活動</a>
                  </div>
              </div>
          </div>
      </section>
      <section class="section is-relax hot-event pb-2">
          <div class="container">
              <h1 class="section-title">優惠懶人包</h1>
              <div class="cards four-cards mobile-horz-scroll">
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 text-center">
                      <a href="#" class="btn btn-outline-reverse">更多熱門活動</a>
                  </div>
              </div>
          </div>
      </section>
      <section class="section is-relax hot-event pb-2">
          <div class="container">
              <h4 class="section-title with-green-decoration">優惠活動</h4>
              <div class="cards four-cards mobile-horz-scroll">
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
                  <div class="card">
                      <div class="image auto-height">
                          <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                      </div>
                      <div class="content">
                          <div>
                              <small class="meta">2019/05/18</small>
                          </div>
                          <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                      </div>
                      <div class="action">
                          <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 text-center">
                      <a href="#" class="btn btn-outline-reverse">更多熱門活動</a>
                  </div>
              </div>
          </div>
      </section>
    </div>
    <div class="tab-content" data-tab-id="application">
        <section class="section is-relax application-section">
            <div class="container">
                <h1 class="section-title">汽車險線上投保自己來，省時又放心</h1>
                <div class="row">
                    <div class="col-lg-5 offset-lg-1">
                        <div class="list numbers">
                            <div class="item">
                                <div class="number">1</div>
                                <div class="content">
                                    <h2>登入會員填資料</h2>
                                </div>
                            </div>
                            <div class="item">
                                <div class="number">2</div>
                                <div class="content">
                                    <h2>信用卡線上繳費</h2>
                                </div>
                            </div>
                            <div class="item">
                                <div class="number">3</div>
                                <div class="content">
                                    <h2>投保成功</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img src="../img/insurance/ins-relax.png" class="application-image" height="204" srcset="../img/insurance/ins-relax@2x.png">
                    </div> 
                </div> 
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <a href="#" class="btn btn-primary btn-block">線上投保87折優惠</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="tab-content" data-tab-id="service">
      <div class="container">
        <h2>線下協助</h2>
        <p>文件數量不超過 <b class="text-red">5</b> 個</p>
      </div>
      <section>
        <div class="container">
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <section>
                  <div class="panel with-green-decoration">
                    <div class="panel-body">
                        <h3 class="section-title">需要專人服務嗎？可以先看看...</h3>
                        <div class="labels text-center">
                            <a href="#" role="button" class="label">
                                <i class="icon-download text-green"></i>
                                <span>產品名稱ＤＭ假字</span>
                            </a>
                            <a href="#" role="button" class="label">
                                <i class="icon-download text-green"></i>
                                <span>產品名稱ＤＭ假字</span>
                            </a>
                            <a href="#" role="button" class="label">
                                <i class="icon-download text-green"></i>
                                <span>產品名稱ＤＭ假字</span>
                            </a>
                            <a href="#" role="button" class="label">
                                <i class="icon-download text-green"></i>
                                <span>產品名稱ＤＭ假字產品名稱ＤＭ假字</span>
                            </a>
                            <a href="#" role="button" class="label">
                                <i class="icon-download text-green"></i>
                                <span>產品名稱ＤＭ假字</span>
                            </a>
                        </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
        </div>
      </section>
      <section class="sales-section">
        <div class="container">
          <h4 class="section-title">不懂保險沒關係，讓國泰來協助你量身訂做...</h4>
          <div class="sales-container">
            <h1 class="sales-title">
              <span>我想找駕駛安全顧問，聊聊風險規劃</span>
              <div class="btn btn-outline-reverse btn-sm">立即聯繫</div>
            </h1>
            <div class="owl-carousel sales-caorusel">
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/traffic/Img_Business_driver-01.png" alt=""></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">王承龍</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/traffic/Img_Business_driver-02.png" alt=""></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">吳睿彬</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/traffic/Img_Business_driver-05.png" alt=""></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">璩青怡</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/traffic/Img_Business_driver-03.png" alt=""></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">洪萱珽</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/traffic/Img_Business_driver-04.png" alt=""></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">黃忠涵</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="sales-section">
        <div class="container">
          <h4 class="section-title">不懂保險沒關係，讓國泰來協助你量身訂做...</h4>
          <div class="sales-container">
            <h1 class="sales-title">
              <span>我想找</span>
              <div class="select d-block d-md-inline-block">
                <select name="consultant-type" id="consultant-type" data-relate="true">
                  <option value="1" selected>火災風險顧問</option>
                  <option value="2">天災風險顧問</option>
                </select>
              </div>
              <span class="d-none d-md-inline">，聊聊風險規劃</span>
              <div class="btn btn-outline-reverse btn-sm">立即聯繫</div>
            </h1>
            <div class="owl-carousel sales-caorusel" data-target="consultant-type" data-value="1">
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-01.png"></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">丁國峰</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-02.png"></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">呂伍豐</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-03.png"></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">巫宇舜</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-04.png"></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">陳世璋</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-05.png"></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">陳勳傑</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-06.png"></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">丁國峰</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
              <div class="card sales">
                <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-07.png"></div>
                <div class="content">
                  <div class="name">
                    <h2 class="title">彭溪泉</h2>
                  </div>
                  <div class="action">
                    <a href='#'><i class="icon-mail i-32"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="owl-carousel sales-caorusel" data-target="consultant-type" data-value="2" style="display: none">
                <div class="card sales">
                  <div class="image auto-height"><img src="../img/consultant/weather/Img_Business_Weather-01.png"></div>
                  <div class="content">
                    <div class="name">
                      <h2 class="title">廖溪堃</h2>
                    </div>
                    <div class="action">
                      <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                  </div>
                </div>
                <div class="card sales">
                  <div class="image auto-height"><img src="../img/consultant/weather/Img_Business_Weather-02.png"></div>
                  <div class="content">
                    <div class="name">
                      <h2 class="title">陳世璋</h2>
                    </div>
                    <div class="action">
                      <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                  </div>
                </div>
                <div class="card sales">
                  <div class="image auto-height"><img src="../img/consultant/weather/Img_Business_Weather-03.png"></div>
                  <div class="content">
                    <div class="name">
                      <h2 class="title">巫宇舜</h2>
                    </div>
                    <div class="action">
                      <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                  </div>
                </div>
                <div class="card sales">
                  <div class="image auto-height"><img src="../img/consultant/weather/Img_Business_Weather-04.png"></div>
                  <div class="content">
                    <div class="name">
                      <h2 class="title">陳勳傑</h2>
                    </div>
                    <div class="action">
                      <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                  </div>
                </div>
                <div class="card sales">
                  <div class="image auto-height"><img src="../img/consultant/weather/Img_Business_Weather-05.png"></div>
                  <div class="content">
                    <div class="name">
                      <h2 class="title">丁國峰</h2>
                    </div>
                    <div class="action">
                      <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- /build:content -->