<!-- build:header -->Typography<!-- /build:header -->
<!-- build:content -->
<div class="container">
  <p>為求網站易讀性與便於管理，網站中使用統一的文字設定。</p>
  <dl>
    <dt>預設字級：</dt>
    <dd>18px</dd>
    <dt>Font Family：</dt>
    <dd>
      "PingFangTC", "Noto Sans", "Microsoft JhengHei", "微軟正黑體", "Lucida Sans
      Unicode", "STHeitiTC-Light", "Microsoft YaHei", "微软雅黑", "新細明體",
      Arial, sans-serif
    </dd>
  </dl>
  <h1>
    <small class="tag"><code class="d-inline"> H1</code>36px / 36px</small
    ><span>庭院深深深幾許</span>
  </h1>
  <h2>
    <small class="tag"><code class="d-inline"> H2</code>28px / 28px</small
    ><span>庭院深深深幾許</span>
  </h2>
  <h3>
    <small class="tag"><code class="d-inline"> H3</code>24px / 28px</small
    ><span>庭院深深深幾許</span>
  </h3>
  <h4>
    <small class="tag"><code class="d-inline"> H4</code>20px / 28px</small
    ><span>庭院深深深幾許</span>
  </h4>
  <h5>
    <small class="tag"><code class="d-inline"> H5</code>18px / 28px</small
    ><span>庭院深深深幾許</span>
  </h5>
  <h6>
    <small class="tag"><code class="d-inline"> H6</code>16px / 40px</small
    ><span>庭院深深深幾許</span>
  </h6>
  <br />
  <p>
    <small class="tag"><code class="d-inline"> p</code>18px / 32px</small
    >青春是不捨的惦念，即使不起眼，卻都成了閃閃發亮的印記。<br />
    無論你去到哪裡，都要記住最初的樣子啊。<br />
  </p>
  <br />
  <p class="text">
    <small class="tag"><code class="d-inline"> p.text</code>16px / 28px</small
    >青春是不捨的惦念，即使不起眼，卻都成了閃閃發亮的印記。<br />
    無論你去到哪裡，都要記住最初的樣子啊。<br />
  </p>
  <small class="tag"><code class="d-inline"> a</code>18px / 24px</small>
  <a href="#">我是文字連結</a>
  <small class="tag"><code class="d-inline"> a.link</code>18px / 24px</small>
  <a class="link">我是文字連結 2</a>
  <br /><br />
  <p>
    <small class="tag"><code class="d-inline"> label.error</code>14px / 20px</small>
  </p>
  <label class="error">不管你打了什麼，總之我是錯誤訊息</label>
  <hr>
  <h2>Quote</h2>
  <div class="row pt-3">
    <div class="col-md-10 offset-md-1">
        <h2 class="quote">
            青春是不捨的惦念，即使不起眼，卻都成了閃閃發亮的印記。
            無論你去到哪裡，都要記住最初的樣子啊。
        </h2>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-12">
      <h2>Unordering List</h2>
      <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
      </ul>
      <p>
        <small class="tag"><code class="d-inline"> ul</code></small>
      </p>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <h2>Ordering List</h2>
      <ol>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
      </ol>
      <p>
        <small class="tag"><code class="d-inline"> ol</code></small>
      </p>
      <ol class="cjk-order">
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
      </ol>
      <p>
        <small class="tag"><code class="d-inline"> ol.cjk-order</code></small>
      </p>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <h2>Cursor</h2>

      <a class="text-cursor">This is normal Text</a>
      <p>
        <small class="tag"><code class="d-inline"> .text-cursor</code></small>
      </p>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <h2>Alignment</h2>

      <table class="table">
        <thead>
          <tr>
            <th>.text-left</th>
            <th>.text-center</th>
            <th>.text-right</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">This is content</td>
            <td class="text-center">This is content</td>
            <td class="text-right">This is content</td>
          </tr>
        </tbody>
      </table>

      <h2>Vertical Alignment</h2>

      <table class="table">
        <thead>
          <tr>
            <th>.align-top</th>
            <th>.align-middle</th>
            <th>.align-bottom</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-top" height="100">This is content</td>
            <td class="align-middle">This is content</td>
            <td class="align-bottom">This is content</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
<!-- /build:content -->
