<!-- build:content -->
	<div class="main-container">
		<!-- breadcrumb CAI-->
		<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
					<span itemprop="name">首頁</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0700/prompt#">
					<span itemprop="name">試算投保</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
					<span itemprop="name">汽車險</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol></div></div>
		<!-- progress -->
		<section class="borderBottom">
			<div class="container container--sm">
				<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item prev">									<div class="progressStep__number">1</div>									<div class="progressStep__title">車籍資料</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item active">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
			</div>
		</section>
		<!-- content -->
		<section class="container container--default">
			<form id="form1" method="POST" class="bobeForm">
				<input type="hidden" id="trxUniKey" name="trxUniKey" value="40e9d594ce164050bdf940d44fae28d7" autocomplete="off">
				<input type="hidden" id="forwardTrx" name="forwardTrx" value="ECV2_0700" autocomplete="off">
				<input type="hidden" id="settleNo" name="settleNo" value="1080000778" autocomplete="off">
				<input type="hidden" id="SNO" name="SNO" autocomplete="off">
				<input type="hidden" id="ERROR_CONTENT" name="ERROR_CONTENT" autocomplete="off">
				<input type="hidden" id="timekey" name="timekey" value="" autocomplete="off">
				<input type="hidden" id="func" name="func" value="prompt" autocomplete="off">
				<input type="hidden" id="carNo" name="carNo" value="" autocomplete="off">
				<div>
					<ul>
						<li style="color: #ef4f4f;">由於您的訂單保險起日為今日中午12點，為了您的權益，請盡快於中午12點前完成授權繳費，此訂單才能生效。<br></li>
					</ul>
				</div>
				<!-- Category Group -->
				<div class="category">
					<div class="category__head">
						<div class="categoryHead">
							<div class="categoryHead__title">請款資訊</div>
						</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="formView">
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">訂單號碼</label>
									<div class="inlineView__data">1080000778</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">金額</label>
									<div class="inlineView__data">4,824</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="category">
					<div class="category__head">
						<div class="categoryHead">
							<div class="categoryHead__title">繳費方式</div>
							<div class="categoryHead__tab">
								<div class="bobeTabHandler" data-tabs="HandlerGroup">
									<a href="javascript:void();" class="bobeTabHandler__item active" id="faxTab" data-tabs="tabHandler" data-href="#creditCard" onclick="clickFaxTab();">
											信用卡(傳真要保)
										</a>
									</div>
							</div>
						</div>
					</div>
					<div class="category__content category__content--lg" data-tabs="ContentGroup">
						<!-- Tab -->
						<div id="creditCard" data-tabs="tabContent">
							<div class="blockGroup">
								<div class="tac h2">
									<span>請於<span id="remain_time" style="color: #f9ad19;">291</span>秒內完成刷卡，您尚有<span id="retry_count" style="color: #f9ad19;">3</span>次刷卡機會</span>
								</div>
							</div>
							<div id="insurewayWEB" style="display: none;">
								<div class="blockGroup">
									<div class="noticeBlock noticeBlock--withIconTips">
										<div class="noticeBlock__title">
											<span class="bobeIconText">付款說明</span>
										</div>
										<div class="noticeBlock__content">
											<ul class="list list--dot">
												<li><span class="fAlert">必須使用會員本人信用卡繳費。</span></li>
												<li>可接受VISA, MASTER, JCB, 聯合信用卡</li>
												<li>暫無法使用：郵局VISA金融卡；花旗銀行、匯豐銀行(香港)、美國運通發行之信用卡</li>
												<li>線上刷卡，僅暫取得您此筆交易訂單成立之授權資格，本公司在保單成立前，並不會進行請款。</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">持卡人姓名</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" autocomplete="off" placeholder="請輸入信用卡持卡人姓名" style="border: 0px;background:#FFF;" id="cardownernamWEB" name="cardownernamWEB" value="余承遠" readonly="">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">身份證號/居留證號碼</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single"> 
														<input type="text" autocomplete="off" placeholder="請輸入信用卡持卡人身份證字號" style="border: 0px;background:#FFF;" id="cardowneridWEB" name="cardowneridWEB" value="S122531322" readonly="">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">出生日期(民國)</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" autocomplete="off" placeholder="格式:1070416" style="border: 0px;background:#FFF;" id="cardownerbirthdayWEB" name="cardownerbirthdayWEB" value="700817" readonly="">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">手機號碼</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" autocomplete="off" placeholder="請輸入信用卡持卡人手機號碼" style="border: 0px;background:#FFF;" id="cardownerphoneWEB" name="cardownerphoneWEB" value="0935863758" readonly="">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="insurewayFAX" style="">
								<div class="blockGroup">
									<div class="noticeBlock noticeBlock--withIconTips">
										<div class="noticeBlock__title">
											<span class="bobeIconText">付款說明</span>
										</div>
										<div class="noticeBlock__content">
											<ul class="list list--dot">
												<li>可接受VISA, MASTER, JCB, 聯合信用卡</li>
												<li>暫無法使用：美國運通信用卡、大來信用卡</li>
												<li><span class="fAlert">必須於線上要保完成後兩天內回傳已簽名之要保書至本公司，保單才會成立，<br>線上刷卡僅暫取得您此筆交易訂單成立之授權資格，本公司在收到要保書前，並不會進行請款。</span></li>
												</ul>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">持卡人姓名</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" autocomplete="off" placeholder="請輸入信用卡持卡人姓名" id="cardownernam" name="cardownernam" value="余承遠" onblur="doCheckName();">
														<em id="cardownernam_msg" class="error"></em>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">身份證號/居留證號碼</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" autocomplete="off" placeholder="請輸入信用卡持卡人身份證字號" id="cardownerid" name="cardownerid" value="S122531322" class="toUpperFormat" onblur="doCheckId();">
														<em id="cardownerid_msg" class="error"></em>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup" data-radiochangegroup="customerType" data-radiochangeblock="customerType1">
									<label class="inlineGroup__label">出生日期(民國)</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" class="bobeDatepicker--ch hasDatepicker" placeholder="格式:1070416" id="cardownerbirthday" name="cardownerbirthday" value="700817" onblur="doCheckBirthday();" autocomplete="off">
														<em id="cardownerbirthday_msg" class="error" style="display: none;"></em>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">手機號碼</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" autocomplete="off" placeholder="請輸入信用卡持卡人手機號碼" id="cardownerphone" name="cardownerphone" value="0935863758" onblur="doCheckCellPhone();">
														<em id="cardownerphone_msg" class="error"></em>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Inline Group -->
							<div class="inlineGroup">
								<label class="inlineGroup__label">信用卡號
								<i class="fas fa-eraser moShow" style="color:#00a546;font-size: 20px;cursor:pointer;" title="清除卡號" onclick="doClearCardNo();"></i>
								<em class="moShow" style="margin-top: 5px;color: #00a546;font-style: normal;font-size: 14px;cursor:pointer;" title="清除卡號" onclick="doClearCardNo();">清除卡號</em>
								</label>
								<div class="inlineGroup__input">
									<div class="row">
										<div class="col-md-11 col-sm-12">
											<div class="groupCredit">
												<div data-form="single">
													<input type="tel" class="cardnoInput" autocomplete="off" id="cardno1" name="cardno1" maxlength="4" data-focus="#cardno2" onblur="doCheckCardNo(&#39;1&#39;);">
													<em id="cardno1_msg" class="error"></em>
												</div>
												<div data-form="single">
													<input type="tel" class="cardnoInput" autocomplete="off" id="cardno2" name="cardno2" maxlength="4" data-focus="#cardno3" onblur="doCheckCardNo(&#39;2&#39;);">
													<em id="cardno2_msg" class="error"></em>
												</div>
												<div data-form="single">
													<input type="tel" class="cardnoInput" autocomplete="off" id="cardno3" name="cardno3" maxlength="4" data-focus="#cardno4" onblur="doCheckCardNo(&#39;3&#39;);">
													<em id="cardno3_msg" class="error"></em>
												</div>
												<div data-form="single">
													<input type="tel" class="cardnoInput" autocomplete="off" id="cardno4" name="cardno4" maxlength="4" onblur="doCheckCardNo(&#39;4&#39;);">
													<em id="cardno4_msg" class="error"></em>
												</div>
												<div data-form="single" class="moHide" style="width:20%;cursor:pointer;" title="清除卡號" onclick="doClearCardNo();">
													<i class="fas fa-eraser" style="color:#00a546;font-size: 24px;margin-top: 10px;"></i>
													<em style="margin-top: 5px;color: #00a546;font-style: normal;font-size: 14px;">清除卡號</em>
												</div>
											</div>
											<div id="webCreditNotice" style="display: none;">
											<span class="fPrompt">※暫無法使用：郵局VISA金融卡；花旗銀行、匯豐銀行(香港)、美國運通發行之信用卡。</span>
											</div>
											<div id="faxCreditNotice">
											<span class="fPrompt">※暫無法使用：美國運通信用卡、大來信用卡。</span>
											</div>
<!-- 													<a href="#" class="fPrompt fMain moShow block">  -->
<!-- 														<span class="bobeIconText">掃描信用卡</span> -->
<!-- 														<i class="bobeIcon iCamera"></i> -->
<!-- 													</a> -->
										</div>
									</div>
								</div>
							</div>
							<!-- Inline Group -->
							<div class="inlineGroup">
								<label class="inlineGroup__label">有效日期</label>
								<div class="inlineGroup__input">
									<div class="row">
										<div class="col-md-9 col-sm-12">
											<div class="groupTwoblock">
												<div class="groupDate" data-form="single">
													<div class="ui-widget">
														<select class="ignoreSelect" id="expiremonth" name="expiremonth" style="color: rgb(153, 153, 153); display: none;">
															<option value="" style="color: rgb(0, 0, 0);">月</option>
															<option value="01" style="color: rgb(0, 0, 0);">01</option><option value="02" style="color: rgb(0, 0, 0);">02</option><option value="03" style="color: rgb(0, 0, 0);">03</option><option value="04" style="color: rgb(0, 0, 0);">04</option><option value="05" style="color: rgb(0, 0, 0);">05</option><option value="06" style="color: rgb(0, 0, 0);">06</option><option value="07" style="color: rgb(0, 0, 0);">07</option><option value="08" style="color: rgb(0, 0, 0);">08</option><option value="09" style="color: rgb(0, 0, 0);">09</option><option value="10" style="color: rgb(0, 0, 0);">10</option><option value="11" style="color: rgb(0, 0, 0);">11</option><option value="12" style="color: rgb(0, 0, 0);">12</option></select><span class="custom-combobox"><input title="" placeholder="月" id="expiremonthTxt" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input" autocomplete="off" style="font-family: &quot;Noto Sans TC&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;" data-original-title=""><a tabindex="-1" data-original-title="" title="" class="custom-combobox-toggle ui-corner-right"></a></span>
													</div>
													<em id="expiremonth_msg" class="error"></em>
												</div>
												<div class="groupDate" data-form="single">
													<div class="ui-widget">
														<select class="ignoreSelect" id="expireyear" name="expireyear" style="color: rgb(153, 153, 153); display: none;">
															<option value="" style="color: rgb(0, 0, 0);">年</option>
															<option value="19" style="color: rgb(0, 0, 0);">19</option><option value="20" style="color: rgb(0, 0, 0);">20</option><option value="21" style="color: rgb(0, 0, 0);">21</option><option value="22" style="color: rgb(0, 0, 0);">22</option><option value="23" style="color: rgb(0, 0, 0);">23</option><option value="24" style="color: rgb(0, 0, 0);">24</option><option value="25" style="color: rgb(0, 0, 0);">25</option><option value="26" style="color: rgb(0, 0, 0);">26</option><option value="27" style="color: rgb(0, 0, 0);">27</option><option value="28" style="color: rgb(0, 0, 0);">28</option><option value="29" style="color: rgb(0, 0, 0);">29</option><option value="30" style="color: rgb(0, 0, 0);">30</option><option value="31" style="color: rgb(0, 0, 0);">31</option><option value="32" style="color: rgb(0, 0, 0);">32</option><option value="33" style="color: rgb(0, 0, 0);">33</option></select><span class="custom-combobox"><input title="" placeholder="年" id="expireyearTxt" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input" autocomplete="off" style="font-family: &quot;Noto Sans TC&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;" data-original-title=""><a tabindex="-1" data-original-title="" title="" class="custom-combobox-toggle ui-corner-right"></a></span>
													</div>
													<em id="expireyear_msg" class="error"></em>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Inline Group -->
							<div class="inlineGroup">
								<label class="inlineGroup__label">檢查碼</label>
								<div class="inlineGroup__input">
									<div class="row">
										<div class="col-md-9 col-sm-12">
											<div class="groupOneblock">
												<div data-form="single">
													<input type="tel" autocomplete="off" placeholder="請輸入三碼檢查碼" id="checknum" name="checknum" maxlength="3" onblur="doCheckCvc();">
													<em id="checknum_msg" class="error"></em>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="blockGroup hidden" id="noticeBar">
								<i class="bobeIcon iInfo"></i>
								<a href="javascript:;" class="link link--alert link--border link--mobile" id="noticeBarLink">
									<span class="bobeIconText">選擇改用傳真要保進行投保(須回傳簽名後的要保書)</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="mainAction mainAction--mofixed mainAction--two">
				<div class="mainAction__btn">
					<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkack" onclick="goBack();">
						<span>回上一步</span>
					</a>
					<a href="javascript:void(0);" class="bobebtn bobebtn--major" onclick="goNext();">
						<span>確認付款</span>
					</a>
				</div>
			</div>
		</section>
		<!-- fancybox -->
		<div class="popup popup--sm" id="popPaymentTimeout">
			<div class="popup__head">
				<div class="link--notice">
					<i class="bobeIcon iInfo"></i>
					<span class="bobeIconText" id="popPaymentTimeoutTitle"></span>
				</div>
			</div>
			<div class="popup__content">
				<div class="forceShowBr mb15 tac" id="popPaymentTimeoutContent" style="text-align: left; word-break: break-all;"></div>
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" id="popPaymentTimeoutButton" class="bobebtn bobebtn--major">
							<span>繼續付款</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="popPaymentSuccess">
			<div class="popup__head">
				<div class="link--notice">
					<i class="bobeIcon iInfo"></i>
					<span class="bobeIconText" id="popPaymentSuccessTitle"></span>
				</div>
			</div>
			<div class="popup__content">
				<div class="forceShowBr mb15 tac" id="popPaymentSuccessContent" style="text-align: left; word-break: break-all;"></div>
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" id="popPaymentSuccessButton" class="bobebtn bobebtn--major">
							<span>下一步，進入完成頁</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="popPaymentError">
			<div class="popup__head">
				<div class="link--notice">
					<i class="bobeIcon iInfo"></i>
					<span id="popPaymentErrorTitle"></span>
				</div>
			</div>
			<div class="popup__content">
				<div class="forceShowBr mb15 tac" id="popPaymentErrorContent" style="text-align: left; word-break: break-all;"></div>
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" id="popPaymentErrorButton" title="" class="bobebtn bobebtn--major">
							<span>確定</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- /build:content -->