<!-- build:content -->
	<div class="main-container">
		<section class="borderBottom">
			<div class="container container--sm">
				<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item prev">									<div class="progressStep__number">1</div>									<div class="progressStep__title">車籍資料</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item active">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
			</div>
		</section>
		<!-- content -->
		<section class="container container--default">
				<!-- Category Group -->
				<div class="category">
					<div class="category__head">
						<div class="categoryHead">
							<div class="categoryHead__title">保單寄送形式</div>
						</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="inlineGroup">
							<label class="inlineGroup__label sendType_Label">
								請選擇
								
										任意險保單
										(含強制保險證)
								寄送方式：
								</label>
							<div class="inlineGroup__input sendType_Input" data-form="single">
								<div class="ePolicy">
									<div class="sendType__radio">
										<input type="radio" value="1" name="ePolicy" id="ePolicy" checked="" autocomplete="off">
										<label for="ePolicy" class="bobeIconText">
											電子
										</label>
									</div>
									<div class="sendType__additional">
										<div class="inputInlin">
											<span>simor@cathay-ins.com</span>
										</div>
									</div>
								</div>
								<div class="ePolicy">
									<div class="sendType__radio">
										<input type="radio" value="0" name="ePolicy" id="paper" autocomplete="off">
										<label for="paper" style="padding: 0px 0px 0px 30px;">紙本</label>
									</div>
									<div class="sendType__additional">
										<div>
											<div id="addrAss" data-tabs="selectContent">
												<div class="gutters-out-md-v">
													寄送地址： 114臺北市內湖區陽光街292號5樓</div>
											</div>
											<div id="addrIns" class="hidden" data-tabs="selectContent">
												<div class="gutters-out-md-v">
													寄送地址： 114臺北市內湖區陽光街292號5樓</div>
												<div class="fPrompt gutters-out-md-v">
													※ 紙本郵寄將在交易完成後<span class="fAlert normal">10個工作天內</span>寄至以上通訊地址。
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="noticeBlock noticeBlock--withIconTips forceShowBr">
							電子保單：將不再寄發紙本強制險保險證及標章貼紙，電子保單於次一工作日前寄出，如為須回傳車輛照片或要保書之案件，另於相關作業程序完成後予以寄出。<br>
							紙本郵寄：將在交易完成後10個工作天內，將您的保單寄至以上要保人通訊地址。
						</div>
					</div>
				</div>
				<div class="category">
					<div class="category__head">
						<div class="categoryHead">
							<div class="categoryHead__title padBottom">線上要保注意及聲明事項</div>
							<div class="categoryHead__tab">
								<div class="bobeTabHandler" data-tabs="HandlerGroup">
									<a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0500/prompt#" class="bobeTabHandler__item active" data-tabs="tabHandler" id="linkViewTerms1" data-href="#tabTerms1">
										投保須知
									</a>
									<a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0500/prompt#" class="bobeTabHandler__item" data-tabs="tabHandler" id="linkViewTerms2" data-href="#tabTerms2">
										要（被）保人聲明事項
									</a>
									<a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0500/prompt#" class="bobeTabHandler__item" data-tabs="tabHandler" id="linkViewTerms3" data-href="#tabTerms3">
										產險履行個人資料保護法告知之義務內容
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="gutters-out-md-v">
							<div id="tabTerms1" data-tabs="tabContent">
								<div class="scrollBlock">
									<div class="scrollBlock__content" data-element="scrollbar" tabindex="1" style="overflow: hidden; outline: none;">
										<div>一、國泰產險 BoBe 於商品介紹頁中提供審閱保險單條款。被保險人若客觀上無法審閱保單條款內容，被保險人得於收受保單後翌日起七日內，不附理由，向本公司解除契約。</div><br><div>二、告知義務：要保人及被保險人應誠實告知，否則保險公司得解除契約；保險事故發生後亦同。因保險契約是最大誠信契約，所以要保人及被保險人對於要保書詢問告知事項的填寫，不能有過失遺漏、故意隱瞞或告知不實情事。如有隱匿或不實以致減少保險公司的危險評估時，可依據保險法第六十四條的規定，在知悉後一個月解除保險契約；即使保險事故發生後，除非要保人或被保險人能證明事故發生原因與未告知事項無關，否則，保險公司不負賠償責任。並可依據保險法第二十五條的規定，不須退還已繳的保險費。請特別注意以免遭受損失。</div><br><div>三、除外責任：保險公司依照保險法的規定，對於被保險人的故意行為，不負給付保險金之責。此外，在保險單條款中會有詳細 的除外責任及不保事項，消費者請務必審閱清楚。</div><br><div>四、貴保戶對於保險契約的權利行使，以及辦理契約變更、解除以及終止的方式及限制。<br>  ●權利行使：當發生承保範圍內的保險事故時，要保人、被保險人或受益人應於知悉後五日內通知保險公司，並儘速檢具理賠所需文件。請務必在事故發生或知悉日起二年內提出理賠申請，否則依法本公司得拒絕賠付保險金。<br>  ●契約變更、解除及終止：要保人得隨時以書面通知本公司，辦理變更保險內容、解除或終止保險契約。</div><br><div>五、保險公司對於保險契約的權利、義務及理賠責任。<br>  ●權利及義務：本公司於同意承保後，應依約定向貴保戶收取保險費，並出具保險單暨正式保險費收據。在承保危險事故發生時，依承保之責任，負擔賠償之義務。<br>  ●理賠責任：本公司應於收齊理賠申請及所需文件後十五日內給付保險金。若因可歸責於本公司的原因而致未於十五日內給付者，應按年利一分加計利息給付遲延利息。</div><br><div class="text-danger">六、貴保戶除繳交保險費用外，無須繳交其他費用及違約金。</div><br><div>七、本保險商品受財團法人保險安定基金之保障。<br>  本公司所銷售之有效保單皆受財團法人保險安定基金之保障，該基金之動用條件並依據保險法第一百四十三條之三第一項第三款之規定。</div><br><div>八、因投保契約所生紛爭之處理方式及申訴之管道。<br>  ●要保人或被保險人因投保之保險契約發生爭議，可以向本公司、依金融消費者保護法規定設立之爭議處理機構或行政院金融監督管理委員會(金管會)申訴。<br>  ●<span class="text-danger">本公司免費申訴電話：0800-212-880</span><br>  ●<span class="text-danger">本公司網站客服信箱：<a href="http://www.cathayholdings.com/insurance/contact/" target="_blank">http://www.cathayholdings.com/insurance/contact/</a></span><br>  ●如因保險契約爭議涉訟者，依據各險條款之約定，以要保人住所地地方法院為第一審管轄法院，要保人的住所在 中華民國境外時，則以雙方約定之地方法院為第一審管轄法院。但不得排除消費者保護法第四十七條及民事訴訟 法第四百三十六條之九小額訴訟管轄法院之適用。</div><br><div>九、車險投保其他說明<br>  ●使用本網站投保之要保人與被保險人可為本國籍國民及外籍人士。<br>  ●本險種保費計算方式是以行照原發照日為計算基礎，並且保險期間至少需一年。若保險期間不符合您的需求，煩請洽詢本公司<a href="https://www.cathayholdings.com/insurance/location/" target="_blank">各服務單位</a>。<br>  ●本公司保有承保與否的權利。</div></div>
								</div>
							</div>
							<div id="tabTerms2" class="hidden" data-tabs="tabContent">
								<div class="scrollBlock">
									<div class="scrollBlock__content" data-element="scrollbar" tabindex="2" style="overflow: hidden; outline: none;">
										<ul><li>1.本人（被保險人）同意國泰產險得蒐集、處理及利用本人相關之個人資料。</li> <li>2.本人（被保險人、要保人）同意國泰產險將本要保書上所載本人資料轉送產、壽險公會建立電腦系統連線，並同意產、壽險公會之會員公司查詢本人在該系統之資料以作為核保及理賠之參考，但各該公司仍應依其本身之核保或理賠標準決定是否承保或理賠，不得僅以前開資料作為承保或理賠之依據。</li><li>3.本人已審閱並瞭解　貴公司所提供之「投保須知」，另依「產險業履行個人資料保護法告知義務內容」，本人已瞭解　貴公司蒐集、處理及利用本人個人資料之目的及用途。</li><li>4.本人知悉　貴公司得依「個人資料保護法」之相關規定，於特定目的範圍內對要保人或被保險人之個人資料，有蒐集、處理及利用之權利。</li> </ul></div>
								</div>
							</div>
							<div id="tabTerms3" class="hidden" data-tabs="tabContent">
								<div class="scrollBlock">
									<div class="scrollBlock__content" data-element="scrollbar" tabindex="3" style="overflow: hidden; outline: none;">
										<ul><li>親愛的客戶，您好：<br><b>國泰世紀產物保險股份有限公司</b>（以下稱本公司）依據個人資料保護法（以下稱個資法）第八條及第九條規定，向 台端告知下列事項，請 台端詳閱：<br>    一、蒐集之目的：辦理財產保險(093)、人身保險(001)、行銷(包含金控共同行銷業務)(040)及其他合於營業登記項目或組織章程所定之業務(181)。<br>    二、蒐集之個人資料類別：姓名、身分證統一編號、聯絡方式等，詳如要保書或相關業務申請書內容。<br>    三、個人資料之來源（個人資料非由當事人提供間接蒐集之情形適用）：<br>        (一)要保人/被保險人<br>        (二)司法警憲機關、委託協助處理理賠之公證人或機構<br>        (三)當事人之法定代理人、輔助人<br>        (四)各醫療院所<br>        (五)與第三人共同行銷、交互運用客戶資料、合作推廣等關係、或於本公司各項業務內所委託往來之第三人。<br>    四、個人資料利用之期間、對象、地區及方式：<br>        (一)期間：因執行業務所必須及依法令規定應為保存之期間。<br>        (二)對象：本(分)公司及本公司海外分支機構、中華民國產物保險商業同業公會、中華民國人壽保險商業同業公會、財團法人保險事業發展中心、財團法人保險安定基金、財團法人住宅地震保險基金、財團法人汽車交通事故特別補償基金、財團法人保險犯罪防制中心、財團法人金融消費評議中心、財團法人金融聯合徵信中心、財團法人聯合信用卡中心、台灣票據交換所、財金資訊公司、關貿網路股份有限公司、中央健康保險局、業務委外機構、與本公司有再保業務往來之公司、依法有調查權機關或金融監理機關。<br>        (三)地區：上述對象所在之地區。<br>        (四)方式：合於法令規定之利用方式。<br>    五、依據個資法第三條規定，台端就本公司保有 台端之個人資料得行使之權利及方式：<br>        (一)得向本公司行使之權利：<br>            1.向本公司查詢、請求閱覽或請求製給複製本。<br>            2.向本公司請求補充或更正。<br>            3.向本公司請求停止蒐集、處理或利用及請求刪除。<br>        (二)行使權利之方式：透過客服專線0800-212-880 或書面方式行使。<br>    六、台端不提供個人資料所致權益之影響：<br>        台端若未能提供相關個人資料時，本公司將可能延後或無法進行必要之審核及<br>        處理作業，因此可能婉謝承保、遲延或無法提供 台端完善的保險服務。</li><br></ul></div>
								</div>
							</div>
						</div>
						<div class="gutters-out-md-v">
							<input type="checkbox" value="Y" name="agree" id="agree" data-nextstepcontrol="" autocomplete="off">
							<label for="agree" class="checkboxMultiline">我已同意上述須知及審閱
								<a href="javascript:void(0);" class="link link--border" id="linkOpenTerms" onclick="openFancyBox(&#39;div_terms1&#39;);"><span>投保需求聲明</span></a>
										、<a href="javascript:void(0);" class="link link--border" id="linkOpenTerms" onclick="openFancyBox(&#39;div_terms2&#39;);"><span>網路投保聲明事項</span></a>
										、<a href="javascript:void(0);" class="link link--border" id="linkOpenTerms" onclick="openFancyBox(&#39;div_terms3&#39;);"><span>保單條款全文</span></a>
										、<a href="http://10.176.18.196:8080/INSEBWeb/html/CM/car.jsp" class="text-danger" target="_blank">商品簡介</a></label>
						</div>
					</div>
				</div>
				<div class="mainAction mainAction--two">
					<div class="mainAction__btn">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkPrev" onclick="doPrev();">
							<span>回上一頁修改</span>
						</a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkNext" onclick="doNext();" data-nextsteptarget="">
							<span>確認</span>
						</a>
					</div>
				</div>
		</section>
		<!-- fancybox -->
		<div class="popup popup--md popup--wt" id="popSample">
			<div class="popup__head">
				<span>勘車照片範例</span>
			</div>
			<div class="popup__notice">
				<div class="photoPrompt gutters-out-md-v">
					<div class="photoPrompt__desc">
						<ul class="list list--dot">
							<li>1. 車輛 前/後/左/右 距離45度角，各拍攝一張，須包含車牌、廠徽。</li>
							<li>2. 內裝及總里程數各拍攝一張</li>
						</ul>
					</div>
					<div class="photoPrompt__mark">
						皆需拍到車牌
					</div>
				</div>
				<ul class="photoSample gutters-out-md-v">
					<li>
						<img src="./ECV20500_files/sample01__3x.jpg" alt="勘車照片範例-右前">
					</li>
					<li>
						<img src="./ECV20500_files/sample02__3x.jpg" alt="勘車照片範例-左前">
					</li>
					<li>
						<img src="./ECV20500_files/sample03__3x.jpg" alt="勘車照片範例-左後">
					</li>
					<li>
						<img src="./ECV20500_files/sample04__3x.jpg" alt="勘車照片範例-右後">
					</li>
					<li>
						<img src="./ECV20500_files/sample05__3x.jpg" alt="勘車照片範例-內裝">
					</li>
					<li>
						<img src="./ECV20500_files/sample06__3x.jpg" alt="勘車照片範例-總里程數">
					</li>
				</ul>
			</div>
		</div>
		<div class="popup popup--sm" id="noticeBox">
			<div class="popup__head">
				<div class="link--notice">
					<i class="bobeIcon iInfo"></i>
					<span class="bobeIconText">提醒您</span>
				</div>
			</div>
			<div class="popup__content">
				電子信箱提示訊息
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkMailTipClose" data-fancybox-close="" onclick="$.fancybox.close()">
							<span>確定</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--md" id="div_terms1">
			<div class="popup__content">
				<h4 class="mb15">投保需求聲明</h4>
				<div class="scrollBlock" style="word-break: break-all;">
					<div class="scrollBlock__content" data-element="scrollbarX" style="word-break: break-all;">
						<ol><br>       	<li>我已正確提供投保所需之個人基本資料。</li><br>		<li>我已瞭解所投保之商品之投保條件，符合我的投保條件、投保目的及需求。</li><br>		<li>我已充分瞭解所交保費係用以購買保險商品。</li><br>		<li>我已充分確認欲投保之險種、保額與保費支出與自身實際需求相當。</li><br>		<li>我已瞭解本保險契約之權利行使、變更、解除及終止之方式。</li><br>		<li>我已瞭解承保公司對於本保險契約之權利、義務及責任。<br>		</li><li>我已瞭解自身應負擔之保險費以及毋須負擔違約金及其他費用。</li><br>		<li>我已瞭解本保險受有保險安定基金之保障。</li><br>		<li>我已瞭解承保公司因本商品所生紛爭之處理及申訴管道。</li><br>		<li>我已評估自身收入、財務狀況、職業、健康狀況與保險費之負擔能力及保險金額的相當性。</li><br>       </ol></div>
				</div>
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkTerms1Close" data-fancybox-close="" onclick="$.fancybox.close()">
							<span>確認</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--md" id="div_terms2">
			<div class="popup__content">
				<h4 class="mb15">網路投保聲明事項</h4>
				<div class="scrollBlock" style="word-break: break-all;">
					<div class="scrollBlock__content" data-element="scrollbarX" style="word-break: break-all;">
						申請人茲向國泰產物保險股份有限公司（以下簡稱「本公司」）申請透過本公司指定網站（下稱「本網站」，<a href="https://w3.bobe.com.tw/">https://w3.bobe.com.tw/</a>）進行網路投保。申請人於申請網路投保前，已詳閱且同意遵守本網站<u>國泰產險網站服務使用約定書</u>、<u>網路保險服務契約書</u>、<u>產險業履行個人資料保護法告知義務內容</u>及<u>下列事項</u>：<br><ul><br><li>一、有關本公司所發給之密碼或加密工具，為本公司對申請人身分之認證，申請人應妥善保管；經核對密碼或加密工具無誤時，即視為申請人親自申請。</li><br><li>二、在使用網路投保服務時，可能面對以下風險：如斷線、斷電、網路壅塞或其他因素等造成傳輸之阻礙，致電子訊息無法傳送、接收或時間延遲。另外其他可能導致本網站無法正常使用之原因，如網路提供業者之線路穩定性、使用者操作不當、斷電及天災等不可抗力因素，係非本公司可控制範圍。因影響網路投保之因素無法一一詳述，申請人於進行網路投保前，應對本公司不定時發布之最新訊息及其他注意事項等詳加注意及遵守。</li><br><li>三、有下列情形之一者，本公司得不處理申請人之網路投保申請：<br><ol><br>	<li>本公司認該網路投保申請之真實性或所指定事項之正確性有疑義者。</li><br>	<li>該網路投保申請之內容，違反相關法令之規定或保險契約之約定者。</li><br></ol></li></ul><br><div class="alert alert-success" role="alert" style="word-break: break-all;">申請人已詳細閱讀並充分瞭解以上網路投保之注意事項、可能產生之風險及相關使用約定，爰同意以網路進行投保事宜，特此聲明。</div></div>
				</div>
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkTerms2Close" data-fancybox-close="" onclick="$.fancybox.close()">
							<span>確認</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--md" id="div_terms3">
			<div class="popup__content">
				<h4 class="mb15">保單條款全文</h4>
				<div class="scrollBlock" style="word-break: break-all;">
					<div class="scrollBlock__content" data-element="scrollbarX" style="word-break: break-all;">
						<ul class="social-list mt16 mb16"><li><a href="https://www.cathay-ins.com.tw/insurance/assets/bobe/car/21.pdf" target="_blank" class="text-danger">國泰產物汽車強制險</a></li><li><a href="https://www.cathay-ins.com.tw/insurance/assets/bobe/car/48.pdf" target="_blank" class="text-danger">國泰產物強制汽車責任保險附加駕駛人傷害保險</a></li><li><a href="https://www.cathay-ins.com.tw/insurance/assets/bobe/car/00.pdf" target="_blank" class="text-danger">國泰產險汽車保險共同條款</a></li><li><a href="https://www.cathay-ins.com.tw/insurance/assets/bobe/car/31.pdf" target="_blank" class="text-danger">國泰產物汽車第三人責任保險-自用</a></li></ul></div>
				</div>
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkTerms3Close" data-fancybox-close="" onclick="$.fancybox.close()">
							<span>確認</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
<!-- /build:content -->