<!-- build:content -->
<!--container-->
<div class="main-container">
	<!-- breadcrumb CAI-->
	<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" id="homePage" title="首頁" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
				<span itemprop="name">首頁</span>
			</a>
			<meta itemprop="position" content="1">
		</li>
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0100/prompt#">
				<span itemprop="name">試算投保</span>
			</a>
			<meta itemprop="position" content="2">
		</li>
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
				<span itemprop="name">汽車險</span>
			</a>
			<meta itemprop="position" content="3">
		</li>
	</ol></div></div>
	<!-- slider CAI-->
	<section class="cover image-slider slider-all-controls controls-inside" id="flowSlider">
		<ul class="slides">
			<!--banner1-->
			<li class="image-bg flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
				<div class="background-image-holder fadeIn" style="background: url(&quot;http://10.176.18.198/CXIDocs/EB/img/pic/car/carBanner.jpg&quot;);">
					<img title="banner1" alt="banner1" class="background-image" src="./ECV20100_files/carBanner.jpg" draggable="false" style="display: none;">
				</div>
			</li>
		</ul>
		<ul class="flex-direction-nav">
			<li>
				<a class="flex-prev flex-disabled" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0100/prompt#" tabindex="-1">Previous</a>
			</li>
			<li>
				<a class="flex-next flex-disabled" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0100/prompt#" tabindex="-1">Next</a>
			</li>
		</ul>
	<ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0100/prompt#" tabindex="-1">Previous</a></li><li><a class="flex-next flex-disabled" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0100/prompt#" tabindex="-1">Next</a></li></ul></section>
	<!-- content -->
	<section class="container container--default container--btnfixed" data-btnfixd="">
	
	<!-- 帶入應續保車輛 -->
	<div class="popup popup--sm" id="continueinformationBox">
		<div class="popup__content" id="commonContinuePolicy">
		<!-- 此處為動態Ajax新增 -->
		</div>
	</div>
	
		<div class="mainTitle h1"> 投保說明</div>
		<h1 style="display: none;">國泰產險線上投保-汽車強制險</h1>
		<div class="insureProgram">
			<div class="insureProgram__type">
				<i class="bobeIcon iType iType--car"></i>
				<span class="bobeIconText">汽車保險</span>
			</div>
			<div class="insureProgram__plan">
				<div class="planTag">
					<span class="planTag__tag">投保</span>
					<span class="planTag__title">強制險</span>
				</div>
				<div>享保費優惠 <span class="fEmphasize fAlert">250</span> 元 / 再送 <span class="fEmphasize fAlert">100</span> 元超商禮券</div>
			</div>
			<div class="insureProgram__plan">
				<div class="planTag">
					<span class="planTag__tag">投保</span>
					<span class="planTag__title">任意險</span>
				</div>
				<div>保費享 <span class="fEmphasize fAlert">87</span> 折</div>
			</div>
		</div>
		<div class="bobeTableCompartment row">
			<div class="bobeTableDeco">
				<div class="bobeTableDeco__text">須註冊為本網站會員(年滿20歲)</div>
				<div class="bobeTableDeco__img"></div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="groupCube groupCube--pink">
					<div class="h2">網路投保</div>
					<div class="groupCube__content">
						<table class="bobeTable bobeTable--compare bobeTable--pink">
							<tbody><tr data-mh="id" style="height: 116px;">
								<td class="bobeTable__th">投保身份</td>
								<td><div class="fAlert fBold">須車主本人辦理</div></td>
							</tr>
							<tr data-mh="verify" style="height: 93px;">
								<td class="bobeTable__th">身份驗證</td>
								<td><div>手機驗證，不需回傳要保書</div></td>
							</tr>
							<tr data-mh="product" style="height: 93px;">
								<td class="bobeTable__th">投保商品</td>
								<td><div>強制險附加駕駛人傷害險限定車主本人為駕駛人，其餘無限制</div></td>
							</tr>
							<tr data-mh="way" style="height: 93px;">
								<td class="bobeTable__th">繳費方式</td>
								<td>
									<div>信用卡繳費(限車主本人)</div>
									<a href="javascript:void(0);" id="linkAvailable1" title="查看網路投保可使用信用卡" data-fancybox="" data-src="#availableBox1" class="link link--notice" onclick="openFancyBox(&#39;availableBox1&#39;);">
										<i class="bobeIcon iInfo"></i>
										<span class="bobeIconText fBold">查看可使用信用卡</span>
									</a>
								</td>
							</tr>
						</tbody></table>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="groupCube groupCube--pink">
					<div class="h2">傳真要保</div>
					<div class="groupCube__content">
						<table class="bobeTable bobeTable--compare bobeTable--pink">
							<tbody><tr data-mh="id" style="height: 116px;">
								<td class="bobeTable__th">投保身份</td>
								<td>
									<div class="fAlert fBold">車主可以是自然人或法人(公司車)</div>
									<div>要保人與被保險人不限同一人</div>
									<a href="javascript:void(0);" id="linkRelation" title="查看要保人與被保人關係限制" data-fancybox="" data-src="#relationBox" class="link link--notice" onclick="openFancyBox(&#39;relationBox&#39;);">
										<i class="bobeIcon iInfo"></i>
										<span class="bobeIconText fBold">查看要保人與被保人關係限制</span>
									</a>
								</td>
							</tr>
							<tr data-mh="verify" style="height: 93px;">
								<td class="bobeTable__th">身份驗證</td>
								<td>
									<div>需回傳要保書(列印簽名後)，僅保強制險可免回傳</div>
								</td>
							</tr>
							<tr data-mh="product" style="height: 93px;">
								<td class="bobeTable__th">投保商品</td>
								<td>
									<div>無限制</div>
								</td>
							</tr>
							<tr data-mh="way" style="height: 93px;">
								<td class="bobeTable__th">繳費方式</td>
								<td>
									<div>信用卡繳費</div>
									<a href="javascript:void(0);" id="linkAvailable2" title="查看傳真要保可使用信用卡" data-fancybox="" data-src="#availableBox2" class="link link--notice" onclick="openFancyBox(&#39;availableBox2&#39;);">
										<i class="bobeIcon iInfo"></i>
										<span class="bobeIconText fBold">查看可使用信用卡</span>
									</a>
								</td>
							</tr>
						</tbody></table>
					</div>
				</div>
			</div>
			<div class="bobeTableHead">
				<div class="bobeTableHead__th" data-mh="id" style="height: 116px;">
					<div class="inline vam">
						<i class="bobeIcon iCompare iCompare--id"></i>
						<span class="bobeIconText bobeIconText--vertical mt5">投保身分</span>
					</div>
				</div>
				<div class="bobeTableHead__th" data-mh="verify" style="height: 93px;">
					<div class="inline vam">
						<i class="bobeIcon iCompare iCompare--verify"></i>
						<span class="bobeIconText bobeIconText--vertical mt5">身份驗證</span>
					</div>
				</div>
				<div class="bobeTableHead__th" data-mh="product" style="height: 93px;">
					<div class="inline vam">
						<i class="bobeIcon iCompare iCompare--product"></i>
						<span class="bobeIconText bobeIconText--vertical mt5">投保商品</span>
					</div>
				</div>
				<div class="bobeTableHead__th" data-mh="way" style="height: 93px;">
					<div class="inline vam">
						<i class="bobeIcon iCompare iCompare--way"></i>
						<span class="bobeIconText bobeIconText--vertical mt5">繳費方式</span>
					</div>
				</div>
			</div>
		</div>
		<div class="mainAction mainAction--mofixed mainAction--single">
			<div class="mainAction__wording"></div>
			<div class="mainAction__wording noticeBlock noticeBlock--withIconTips">
				<div class="noticeBlock__content" style="text-align:left">
					<!-- <i class="bobeIcon iNotice"></i> -->
					<span class="bobeIconText fPrompt">紙本強制證寄達約須7~10個工作天，若您有驗車需求，請提早投保，或最快可於保單成立3個小時後，至<a id="linkEPolicy" href="javascript:void(0);" style="text-decoration:underline;" onclick="openInNewTab(&#39;https://goo.gl/HXK9yc&#39;);">國泰產險官網下載強制險電子式保險證</a>。
						<br>如您急需索取<font class="bold">「紙本強制證」</font>，請就近至本公司各分支機構臨櫃辦理，以免郵寄耽誤時間。</span>
				</div>
			</div>
			<div class="mainAction__btn">
				<a href="javascript:void(0);" id="linkFlowBox" data-fancybox="" data-src="#flowBox" class="bobebtn bobebtn--major bobebtn--important" title="試算投保" onclick="doChkAnnouncement();">
					<i class="bobeIcon iBtn iBtn--count"></i>
					<span class="bobeIconText">試算/投保</span>
				</a>
<!-- 				        	<a href="javascript:void(0);" class="bobebtn bobebtn--major bobebtn--important" onClick="doQueryCarNoList()"> -->
<!-- 				        		<i class="bobeIcon iBtn iBtn--count"></i> -->
<!-- 				        		<span class="bobeIconText">車險續保</span> -->
<!-- 				        	</a> -->
			</div>
		</div>
	</section>
	<!-- fancybox -->
	<div class="popup popup--sm" id="flowBox">
		<div class="popup__content">
			<div class="mainAction mainAction--two" style="word-break: break-all;">
				<div class="mainAction__wording tal" style="word-break: break-all;">為利於快速投保，可先進行登入，以便帶出您在本公司留存的資料。</div>
				<div class="mainAction__btn" style="word-break: break-all;">
					<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkSkip" title="先略過登入會員" onclick="doNext();">
						<span>先略過</span>
					</a>
					<a href="javascript:;" class="bobebtn bobebtn--major" data-fancybox-close="" id="linkYes" title="是，登入會員" onclick="doLoginThisPage();">
						<span>是</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup--md" id="availableBox1">
		<div class="popup__head">
			<span>網路投保</span>
		</div>
		<div class="popup__content">
			<div class="event" style="word-break: break-all;">
				<div class="event__title fMain" style="word-break: break-all;">
					<span>可使用信用卡銀行</span>
				</div>
				<div class="event__content" style="word-break: break-all;">
						VISA、MASTER、JCB、聯合信用卡
				</div>
			</div>
			<div class="event" style="word-break: break-all;">
				<div class="event__title fMain" style="word-break: break-all;">
					<span>暫不適用</span>
				</div>
				<div class="event__content" style="word-break: break-all;">
					郵局VISA金融卡、花旗銀行、匯豐銀行(香港)、美國運通發行之信用卡
				</div>
			</div>
			<div class="mainAction mainAction--single" style="word-break: break-all;">
				<div class="mainAction__btn" style="word-break: break-all;">
					<a href="javascript:void(0);" id="linkCloseAvailableBox1" title="關閉網路投保" class="bobebtn bobebtn--major" data-fancybox-close="" onclick="$.fancybox.close()">
						<span>關閉</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup--md" id="availableBox2">
		<div class="popup__head">
			<span>傳真要保</span>
		</div>
		<div class="popup__content">
			<div class="event" style="word-break: break-all;">
				<div class="event__title fMain" style="word-break: break-all;">
					<span>可使用信用卡銀行</span>
				</div>
				<div class="event__content" style="word-break: break-all;">
						VISA、MASTER、JCB、聯合信用卡
				</div>
			</div>
			<div class="event" style="word-break: break-all;">
				<div class="event__title fMain" style="word-break: break-all;">
					<span>暫不適用</span>
				</div>
				<div class="event__content" style="word-break: break-all;">
					美國運通信用卡、大來信用卡
				</div>
			</div>
			<div class="mainAction mainAction--single" style="word-break: break-all;">
				<div class="mainAction__btn" style="word-break: break-all;">
					<a href="javascript:void(0);" id="linkAvailableBox2" title="關閉傳真要保" class="bobebtn bobebtn--major" data-fancybox-close="" onclick="$.fancybox.close()">
						<span>關閉</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup--md" id="relationBox">
		<div class="popup__head">
			<span>傳真要保 - 被保人與要保人之關係</span>
		</div>
		<div class="popup__content">
			<div class="event" style="word-break: break-all;">
				<div class="event__title fMain" style="word-break: break-all;">
					<span>自然人車主</span>
				</div>
				<div class="event__content" style="word-break: break-all;">
						要保人(登入者) 與被保人(車主) 關係，僅限為：本人、配偶、父母、子女、兄弟姊妹、配偶之父母。
				</div>
			</div>
			<div class="event" style="word-break: break-all;">
				<div class="event__title fMain" style="word-break: break-all;">
					<span>法人車主</span>
				</div>
				<div class="event__content" style="word-break: break-all;">
					要保人(登入者) 與被保人(車主) 關係，僅限為：僱傭。
				</div>
			</div>
			<div class="mainAction mainAction--single" style="word-break: break-all;">
				<div class="mainAction__btn" style="word-break: break-all;">
					<a href="javascript:void(0);" id="linkRelationBox" title="關閉傳真要保 -被保人與要保人之關係" class="bobebtn bobebtn--major" data-fancybox-close="" onclick="$.fancybox.close()">
						<span>關閉</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup--sm" id="amlDataBox">
		<div class="popup__head">
			<div class="link--notice">
				<i class="bobeIcon iInfo"></i>
				<span class="bobeIconText" id="errorTitleAml">提醒您</span>
			</div>
		</div>
		<div class="popup__content">
			<div class="forceShowBr mb15 tac" id="errorContentAml" style="text-align: left; word-break: break-all;"></div>
			<div class="mainAction mainAction--single" style="word-break: break-all;">
				<div class="mainAction__btn" style="word-break: break-all;">
					<a href="javascript:void(0);" class="bobebtn bobebtn--major" onclick="$.fancybox.close();">
						<span>確定</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="popup popup--sm" id="projectWelcomeMsg">
		<div class="popup__content forceShowBr">
			<p class="mb10" id="preLoadDefaultContent"></p>
			<div class="mainAction" style="word-break: break-all;">
				<div class="mainAction__btn" style="word-break: break-all;">
					<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkReadPontaMsg" title="繼續" onclick="$.fancybox.close();"> <span>繼續</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup--sm" id="errorMsgSess">
		<div class="popup__head">
			<div class="link--notice">
				<i class="bobeIcon iInfo"></i>
				<span class="bobeIconText" id="errorTitleSess">提醒您</span>
			</div>
		</div>
		<div class="popup__content">
			<div class="forceShowBr mb15 tac" id="errorContentSess" style="text-align: left; word-break: break-all;"></div>
			<div class="mainAction mainAction--single" style="word-break: break-all;">
				<div class="mainAction__btn" style="word-break: break-all;">
					<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkErrorSess" title="錯誤訊息確定" onclick="$.fancybox.close();">
						<span>確定</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /build:content -->
