<!-- build:content -->
		<div class="main-container">
			<!-- breadcrumb CAI-->
			<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
					<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
						<span itemprop="name">首頁</span>
					</a>
					<meta itemprop="position" content="1">
				</li>
				<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
					<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0210/prompt#">
						<span itemprop="name">試算投保</span>
					</a>
					<meta itemprop="position" content="2">
				</li>
				<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
					<a itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
						<span itemprop="name">汽車險</span>
					</a>
					<meta itemprop="position" content="3">
				</li>
			</ol></div></div>
			<!-- progress -->
			<section class="borderBottom">
				<div class="container container--sm">
					<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item prev">									<div class="progressStep__number">1</div>									<div class="progressStep__title">車籍資料</div>							</li><li class="progressStep__item active">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
				</div>
			</section>
			<!-- content -->
			<section class="container container--default">
				<div class="mainTitle h1">
					選擇商品
				</div>
				<div class="insureProgram">
					<div class="insureProgram__plan insureProgram__plan--center">
						<div class="mt10 mb20 ftitle">適合對保險商品有相當了解的您</div>
						<a href="javascript:;" class="bobebtn bobebtn--specialcolor bobebtn--important" onclick="goECV20300();">
							<i class="bobeIcon iBtn iBtn--point"></i>
							<span class="bobeIconText">自由搭配商品</span>
						</a>
					</div>
					<div class="insureProgram__plan insureProgram__plan--center">
						<div class="mt10 mb20 ftitle">回答幾個問題，找出適合您的車險商品</div>
						<a href="javascript:;" class="bobebtn bobebtn--specialcolor bobebtn--important" onclick="goECV20220();">
							<i class="bobeIcon iBtn iBtn--pen"></i>
							<span class="bobeIconText">投保小幫手</span>
						</a>
					</div>
				</div>
				<!-- Category Group -->
				<form id="form1" method="POST" action="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0210/prompt" class="bobeForm">
					<input type="hidden" id="trxUniKey" name="trxUniKey" value="e00405ffd28047d2ae7589a109941bfe" autocomplete="off">
					<input type="hidden" id="isSessionValid" name="isSessionValid" value="" autocomplete="off">
					<input type="hidden" id="isCut" name="isCut" value="" autocomplete="off">
					<input type="hidden" id="isRenewal" name="isRenewal" value="" autocomplete="off">
					<input type="hidden" id="isBobe" name="isBobe" value="" autocomplete="off">
					<input type="hidden" id="isR6Renewal" name="isR6Renewal" value="" autocomplete="off">
					<div class="produceChoice">
						<div class="row">
							<div class="col-xs-12">
								<div class="groupCube groupCube--orange">
									<div class="h2">
										<i class="bobeIcon iLike"></i>
										<span class="bobeIconText">商品方案</span>
									</div>
									<div class="groupCube__content groupCube__content--padding">
										<div class="mb20 tac fAlert" style="text-align: center;">
											以下方案均可先【選擇此方案】後，進入下一頁調整商品項目與保額
										</div>
										<div class="row">
											<!-- 1為最熱銷商品，要擺中間 -->
											<div class="col-xs-12 col-md-4">
													<div class="product">
														<!-- 需傳回要保書 -->
															<div class="productRequire">
																<span>需傳回<br>要保書</span>
															</div>
															<div class="product__head">
																<div id="caseId2" style="display:none">V000000112</div>
																<div class="h4" id="caseTitle2">車體竊盜險套餐</div>
															</div>
															<div class="product__summary">
																<div class="summaryMoney">
																	
																			約$<span class="dollar">22,255</span>元
																		</div>
																<ul class="advantageGroup">
																	<li class="advantage">優惠最多$250</li>
																	<li class="advantage">送免費道路救援</li>
																	</ul>
																<a href="javascript:void(0);" id="linkChooseCase" class="bobebtn bobebtn--major bobebtn--important" onclick="chooseCase(&#39;2&#39;)">
																	<span>選擇此方案</span>
																</a>
															</div>
															<div class="product__detail">
																<div class="bobeCollapse showControlOpen" data-collapse="group">
																	<div class="bobeCollapse__head" data-collapse="title">
																		<span class="borderLeft">保障詳情</span>
																	</div>
																	<div class="bobeCollapse__toggle" data-collapse="content">
																		<div class="insureArea">
																			<div class="insureArea__img">
																				<!-- 我方駕駛 -->
																				<div class="imgMyDriver imgMyDriver--active"></div>
																				<!-- 我方乘客 -->
																				<div class="imgMyPassenger imgMyPassenger--active"></div>
																				<!-- 我方保障 -->
																				<div class="imgMyCare imgMyCare--active"></div>
																				<!-- 我方車輛 -->
																				<div class="imgMyCar imgMyCar--active"></div>
																				<!-- 他方駕駛 -->
																				<div class="imgOtherDriver imgOtherDriver--active"></div>
																				<!-- 他方車輛 -->
																				<div class="imgOtherCar imgOtherCar--active"></div>
																			</div>
																			<ul class="bobeTagGroup">
																				<li class="bobeTag bobeTag--self active">保自己</li>
																				<li class="bobeTag bobeTag--self active">保本車</li>
																				<li class="bobeTag bobeTag--other active">對方</li>
																				<li class="bobeTag bobeTag--self active">保乘客</li>
																				<li class="bobeTag bobeTag--self active">額外保障</li>
																				<li class="bobeTag bobeTag--other active">對方車或財物</li>
																			</ul>
																		</div>
																		<div class="insureMore readMore" data-readmore="group">
																			<div class="readMore__content" data-readmore="content" style="height: 110px;">
																				<ul class="bobeItemGroup">
																					<li class="bobeItem">
																							<div class="fBold">21 強制責任險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每人體傷20萬, 死殘200萬&nbsp;&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">849</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								<li class="hashtag">保乘客</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">48 強制汽車附加駕駛人傷害險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每人傷害/每人死亡及失能&nbsp;20萬/300萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">519</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保自己</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">05 乙式車體損失險－自用</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;40.2萬&nbsp;無自負額</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">10,669</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">0M 限額特定事故</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;0.6萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">885</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">11 汽車竊盜損失險－自用</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;40.2萬&nbsp;自負額10%</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">962</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">14 竊盜損失險代車費用</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每日代車費用&nbsp;1000元&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">262</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">17 竊盜險全損理賠無折舊</div>
																							<div class="myInsure">
																								<div class="myInsure__title">依本附加條款之約定&nbsp;&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">153</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">31 第三人責任險－傷害[自用]</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每人傷害/每事故之總額&nbsp;300萬/多人型&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,671</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">32 第三人責任險－財損[自用]</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每事故之財損&nbsp;50萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,785</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方車或財物</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">3P 第三人失能增額附加條款</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每一個人失能增額&nbsp;增額2倍型600萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">217</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">49 第三人附加駕駛人傷害險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">住院日額保險金/每人死亡及失能&nbsp;2000元/300萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">836</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保自己</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">5B 第三人附加乘客傷害責任險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每一人傷害/每一事故之傷害&nbsp;300萬/1200萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,436</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保乘客</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">30 第三人超額附加條款﹘乙型</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每次事故體傷/財損/乘客超額&nbsp;1000萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,764</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								<li class="hashtag">保乘客</li>
																								<li class="hashtag">對方車或財物</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">0W 道路救援險附加條款</div>
																							<div class="myInsure">
																								<div class="myInsure__title">保險期間限3次、每次限額&nbsp;20000元&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">247</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">額外保障</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">CC03 國泰產物汽車保險約定月折舊附加條款（C型）</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;&nbsp;</div>
																								<div class="myInsure__dollar">
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								</ul>
																						</li>
																					</ul>
																			</div>
																			<div class="readMore__action" data-readmore="title">
																				<a href="javascript:;" class="text">展開看更多保障內容</a>
																			</div>
																		</div>
																		<div class="insureAction">
																			<a href="javascript:void(0);" id="linkChooseCaseBottom" class="bobebtn bobebtn--major bobebtn--important" onclick="chooseCase(&#39;2&#39;)">
																				<span>選擇此方案</span>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
												</div>
											<div class="col-xs-12 col-md-4">
													<div class="product">
														<!-- 序號1的為熱門 -->
															<div class="productHot">
																<i class="bobeIcon iHot"></i>
																<span class="bobeIconText bobeIconText--vertical">熱門</span>
															</div>
															<!-- 需傳回要保書 -->
															<div class="productRequire">
																<span>需傳回<br>要保書</span>
															</div>
															<div class="product__head">
																<div id="caseId1" style="display:none">V000000106</div>
																<div class="h4" id="caseTitle1">六年內全險套餐</div>
															</div>
															<div class="product__summary">
																<div class="summaryMoney">
																	
																			約$<span class="dollar">25,658</span>元
																		</div>
																<ul class="advantageGroup">
																	<li class="advantage">優惠最多$250</li>
																	<li class="advantage">送免費道路救援</li>
																	</ul>
																<a href="javascript:void(0);" id="linkChooseCase" class="bobebtn bobebtn--major bobebtn--important" onclick="chooseCase(&#39;1&#39;)">
																	<span>選擇此方案</span>
																</a>
															</div>
															<div class="product__detail">
																<div class="bobeCollapse showControlOpen" data-collapse="group">
																	<div class="bobeCollapse__head" data-collapse="title">
																		<span class="borderLeft">保障詳情</span>
																	</div>
																	<div class="bobeCollapse__toggle" data-collapse="content">
																		<div class="insureArea">
																			<div class="insureArea__img">
																				<!-- 我方駕駛 -->
																				<div class="imgMyDriver imgMyDriver--active"></div>
																				<!-- 我方乘客 -->
																				<div class="imgMyPassenger imgMyPassenger--active"></div>
																				<!-- 我方保障 -->
																				<div class="imgMyCare imgMyCare--active"></div>
																				<!-- 我方車輛 -->
																				<div class="imgMyCar imgMyCar--active"></div>
																				<!-- 他方駕駛 -->
																				<div class="imgOtherDriver imgOtherDriver--active"></div>
																				<!-- 他方車輛 -->
																				<div class="imgOtherCar imgOtherCar--active"></div>
																			</div>
																			<ul class="bobeTagGroup">
																				<li class="bobeTag bobeTag--self active">保自己</li>
																				<li class="bobeTag bobeTag--self active">保本車</li>
																				<li class="bobeTag bobeTag--other active">對方</li>
																				<li class="bobeTag bobeTag--self active">保乘客</li>
																				<li class="bobeTag bobeTag--self active">額外保障</li>
																				<li class="bobeTag bobeTag--other active">對方車或財物</li>
																			</ul>
																		</div>
																		<div class="insureMore readMore" data-readmore="group">
																			<div class="readMore__content" data-readmore="content" style="height: 110px;">
																				<ul class="bobeItemGroup">
																					<li class="bobeItem">
																							<div class="fBold">21 強制責任險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每人體傷20萬, 死殘200萬&nbsp;&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">849</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								<li class="hashtag">保乘客</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">48 強制汽車附加駕駛人傷害險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每人傷害/每人死亡及失能&nbsp;20萬/300萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">519</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保自己</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">05 乙式車體損失險－自用</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;40.2萬&nbsp;無自負額</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">10,669</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">0M 限額特定事故</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;0.6萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">885</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">11 汽車竊盜損失險－自用</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;40.2萬&nbsp;自負額10%</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">962</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">1B 高額零配件被竊損失險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">保險期間累積最高&nbsp;10萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">3,818</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">31 第三人責任險－傷害[自用]</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每人傷害/每事故之總額&nbsp;300萬/多人型&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,671</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">32 第三人責任險－財損[自用]</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每事故之財損&nbsp;50萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,785</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方車或財物</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">3P 第三人失能增額附加條款</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每一個人失能增額&nbsp;增額2倍型600萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">217</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">49 第三人附加駕駛人傷害險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">住院日額保險金/每人死亡及失能&nbsp;2000元/300萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">836</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保自己</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">5B 第三人附加乘客傷害責任險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每一人傷害/每一事故之傷害&nbsp;300萬/1200萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,436</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保乘客</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">30 第三人超額附加條款﹘乙型</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每次事故體傷/財損/乘客超額&nbsp;1000萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,764</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								<li class="hashtag">保乘客</li>
																								<li class="hashtag">對方車或財物</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">0W 道路救援險附加條款</div>
																							<div class="myInsure">
																								<div class="myInsure__title">保險期間限3次、每次限額&nbsp;20000元&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">247</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">額外保障</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">CC03 國泰產物汽車保險約定月折舊附加條款（C型）</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;&nbsp;</div>
																								<div class="myInsure__dollar">
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								</ul>
																						</li>
																					</ul>
																			</div>
																			<div class="readMore__action" data-readmore="title">
																				<a href="javascript:;" class="text">展開看更多保障內容</a>
																			</div>
																		</div>
																		<div class="insureAction">
																			<a href="javascript:void(0);" id="linkChooseCaseBottom" class="bobebtn bobebtn--major bobebtn--important" onclick="chooseCase(&#39;1&#39;)">
																				<span>選擇此方案</span>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
												</div>
											<div class="col-xs-12 col-md-4">
													<div class="product">
														<!-- 需傳回要保書 -->
															<div class="productRequire">
																<span>需傳回<br>要保書</span>
															</div>
															<div class="product__head">
																<div id="caseId3" style="display:none">V000009999</div>
																<div class="h4" id="caseTitle3">問答小幫手</div>
															</div>
															<div class="product__summary">
																<div class="summaryMoney">
																	
																			約$<span class="dollar">24,756</span>元
																		</div>
																<ul class="advantageGroup">
																	<li class="advantage">優惠最多$250</li>
																	<li class="advantage">送免費道路救援</li>
																	</ul>
																<a href="javascript:void(0);" id="linkChooseCase" class="bobebtn bobebtn--major bobebtn--important" onclick="chooseCase(&#39;3&#39;)">
																	<span>選擇此方案</span>
																</a>
															</div>
															<div class="product__detail">
																<div class="bobeCollapse showControlOpen" data-collapse="group">
																	<div class="bobeCollapse__head" data-collapse="title">
																		<span class="borderLeft">保障詳情</span>
																	</div>
																	<div class="bobeCollapse__toggle" data-collapse="content">
																		<div class="insureArea">
																			<div class="insureArea__img">
																				<!-- 我方駕駛 -->
																				<div class="imgMyDriver imgMyDriver--active"></div>
																				<!-- 我方乘客 -->
																				<div class="imgMyPassenger imgMyPassenger--active"></div>
																				<!-- 我方保障 -->
																				<div class="imgMyCare imgMyCare--active"></div>
																				<!-- 我方車輛 -->
																				<div class="imgMyCar imgMyCar--active"></div>
																				<!-- 他方駕駛 -->
																				<div class="imgOtherDriver imgOtherDriver--active"></div>
																				<!-- 他方車輛 -->
																				<div class="imgOtherCar imgOtherCar--active"></div>
																			</div>
																			<ul class="bobeTagGroup">
																				<li class="bobeTag bobeTag--self active">保自己</li>
																				<li class="bobeTag bobeTag--self active">保本車</li>
																				<li class="bobeTag bobeTag--other active">對方</li>
																				<li class="bobeTag bobeTag--self active">保乘客</li>
																				<li class="bobeTag bobeTag--self active">額外保障</li>
																				<li class="bobeTag bobeTag--other active">對方車或財物</li>
																			</ul>
																		</div>
																		<div class="insureMore readMore" data-readmore="group">
																			<div class="readMore__content" data-readmore="content" style="height: 110px;">
																				<ul class="bobeItemGroup">
																					<li class="bobeItem">
																							<div class="fBold">21 強制責任險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每人體傷20萬, 死殘200萬&nbsp;&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">849</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								<li class="hashtag">保乘客</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">48 強制汽車附加駕駛人傷害險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每人傷害/每人死亡及失能&nbsp;20萬/300萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">519</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保自己</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">05 乙式車體損失險－自用</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;40.2萬&nbsp;無自負額</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">10,669</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">0M 限額特定事故</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;0.6萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">885</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">02 颱風、洪水或因雨積水</div>
																							<div class="myInsure">
																								<div class="myInsure__title">依本附加條款之約定&nbsp;&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">2,452</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保本車</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">31 第三人責任險－傷害[自用]</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每人傷害/每事故之總額&nbsp;300萬/多人型&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,671</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">32 第三人責任險－財損[自用]</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每事故之財損&nbsp;50萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,785</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方車或財物</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">3P 第三人失能增額附加條款</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每一個人失能增額&nbsp;增額2倍型600萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">217</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">2A 第三人責任險附加慰問金費用</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每人/每事故/保險期間累計&nbsp;5萬/10萬/50萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">215</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">額外保障</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">49 第三人附加駕駛人傷害險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">住院日額保險金/每人死亡及失能&nbsp;2000元/300萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">836</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保自己</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">5B 第三人附加乘客傷害責任險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每一人傷害/每一事故之傷害&nbsp;300萬/1200萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,436</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">保乘客</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">30 第三人超額附加條款﹘乙型</div>
																							<div class="myInsure">
																								<div class="myInsure__title">每次事故體傷/財損/乘客超額&nbsp;1000萬&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">1,764</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">對方</li>
																								<li class="hashtag">保乘客</li>
																								<li class="hashtag">對方車或財物</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">0A 額外費用補償保險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">拖吊/交通/住宿(實支實付)/代車&nbsp;2000元/2000元/3000元/500元&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">907</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">額外保障</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">0B 車碰車延誤行程補償保險</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;2000元&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">304</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">額外保障</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">0W 道路救援險附加條款</div>
																							<div class="myInsure">
																								<div class="myInsure__title">保險期間限3次、每次限額&nbsp;20000元&nbsp;</div>
																								<div class="myInsure__dollar">
																									
																										$<span class="dollar">247</span>
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								<li class="hashtag">額外保障</li>
																								</ul>
																						</li>
																					<li class="bobeItem">
																							<div class="fBold">CC03 國泰產物汽車保險約定月折舊附加條款（C型）</div>
																							<div class="myInsure">
																								<div class="myInsure__title">&nbsp;&nbsp;</div>
																								<div class="myInsure__dollar">
																									</div>
																							</div>
																							<ul class="bobeHashtagGroup">
																								</ul>
																						</li>
																					</ul>
																			</div>
																			<div class="readMore__action" data-readmore="title">
																				<a href="javascript:;" class="text">展開看更多保障內容</a>
																			</div>
																		</div>
																		<div class="insureAction">
																			<a href="javascript:void(0);" id="linkChooseCaseBottom" class="bobebtn bobebtn--major bobebtn--important" onclick="chooseCase(&#39;3&#39;)">
																				<span>選擇此方案</span>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
												</div>
											</div>
									</div>
									
								</div>
							</div>
						</div>
						<div class="mainAction__link" style="margin-top:0px;">
							<a href="javascript:void(0);" class="link link--border" onclick="goECV20200();">
								<span class="bobeIconText">返回車主頁</span>
							</a>
						</div>
					</div>
				</form>
			</section>
		</div>
		<!--footer-->
<!-- /build:content -->