<!-- build:content -->
	<div class="main-container">
		<!-- breadcrumb CAI-->
		<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
					<span itemprop="name">首頁</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0600/prompt#">
					<span itemprop="name">試算投保</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
					<span itemprop="name">汽車險</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol></div></div>
		<!-- progress -->
		<section class="borderBottom">
			<div class="container container--sm">
				<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item prev">									<div class="progressStep__number">1</div>									<div class="progressStep__title">車籍資料</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item prev">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item active">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
			</div>
		</section>
		<!-- content -->
		<section class="container container--default">
			<form id="form1" name="form1" method="POST" class="bobeForm">
				<input type="hidden" id="forwardTrx" name="forwardTrx" value="ECV2_0600" autocomplete="off">
				<input type="hidden" id="trxUniKey" name="trxUniKey" value="40e9d594ce164050bdf940d44fae28d7" autocomplete="off">
				<input type="hidden" id="settleNo" name="settleNo" value="1080000778" autocomplete="off">
				<input type="hidden" id="insureway" name="insureway" value="FAX" autocomplete="off">
				<input type="hidden" id="func" name="func" value="prompt" autocomplete="off">
				<input type="hidden" id="timekey" name="timekey" value="" autocomplete="off">
				<!-- Category Group -->
				<div class="category">
					<div class="category__head clearfix">
						<div class="headLeft">
							<div class="categoryHead">
								<div class="categoryHead__title">您計畫購買的商品</div>
							</div>
						</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="inlineView">
								<label class="inlineView__label">強制險預定生效日期：</label>
								<div class="inlineView__data">
									2019年06月06日中午12時起，保期一年
								</div>
							</div>
						<div class="inlineView">
							<label class="inlineView__label">任意險預定生效日期：</label>
							<div class="inlineView__data">
								2019年06月06日中午12時起，保期一年
							</div>
						</div>
						<div class="formList">
							<ul>
									<li>
										<div class="formList__title">
											強制險保障內容
										</div>
										<div class="formList__content">
											專屬優惠價
										</div>
									</li>
									<li>
											<div class="formList__title">
												強制險<div class="formList__desc">每人體傷20萬，死亡及失能200萬</div>
											</div>
											<div class="formList__content">
												<div class="formList__price">$849</div>
											</div>
										</li>
									</ul>
							<ul>
									<li>
										<div class="formList__title">
											傷害險保障內容
										</div>
										<div class="formList__content">
											專屬優惠價
										</div>
									</li>
									<li>
											<div class="formList__title">
												強制汽車附加駕駛人傷害險<div class="formList__desc">每一人體傷20萬元/每一人死亡及失能300萬元</div>
											</div>
											<div class="formList__content">
												<div class="formList__price">$519</div>
											</div>
										</li>
									</ul>
							<ul>
									<li>
										<div class="formList__title">
											任意險保障內容
										</div>
										<div class="formList__content">
											專屬優惠價
										</div>
									</li>
									<li>
											<div class="formList__title">
												第三人責任險-體傷<div class="formList__desc">每人傷害保額:300萬元/每事故總額多人型</div>
											</div>
											<div class="formList__content">
												<div class="formList__price">$1,671</div>
											</div>
										</li>
									<li>
											<div class="formList__title">
												第三人責任險-財損<div class="formList__desc">每事故之財損:50萬元</div>
											</div>
											<div class="formList__content">
												<div class="formList__price">$1,785</div>
											</div>
										</li>
									</ul>
								<ul>
									<li style="background-color: #FFF">
										<div class="totalAmount">
											總計
											<div class="totalAmount__price">$4,824</div>
										</div>
									</li>
								</ul>
							</div>
					</div>
				</div>
				
				<div class="category">
					<div class="category__head clearfix">
						<div class="h4 fSub">車籍資料</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="formView">
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">車牌號碼：</label>
									<div class="inlineView__data">6666-AS</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">車輛種類：</label>
									<div class="inlineView__data">自小客車</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">廠牌名稱：</label>
									<div class="inlineView__data">國瑞(國產) /Yaris/NEW Yaris NCP150L-AHPGKR GN 1500c.c. 4D 5人座</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">引擎號碼：</label>
									<div class="inlineView__data">12345</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">行照原發照日(民國)：</label>
									<div class="inlineView__data">106年03月01日</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">出廠年月：</label>
									<div class="inlineView__data">2017年03月</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">排氣量/馬力：</label>
									<div class="inlineView__data">1500立方公分</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="category">
					<div class="category__head clearfix">
						<div class="h4 fSub">被保險人資料</div>
						<span class="fSub">（車主）</span>
					</div>
					<div class="category__content category__content--lg">
						<div class="formView">
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">姓名：</label>
									<div class="inlineView__data">余承遠</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">身分證字號/居留證號碼：</label>
									<div class="inlineView__data">S122531322</div>
								</div>
							</div>
							<div class="formView__item">
									<div class="inlineView">
										<label class="inlineView__label">出生日期(民國)：</label>
										<div class="inlineView__data">070年08月17日</div>
									</div>
								</div>
								<div class="formView__item">
									<div class="inlineView">
										<label class="inlineView__label">婚姻狀況：</label>
										<div class="inlineView__data">已婚</div>
									</div>
								</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">電子郵件：</label>
									<div class="inlineView__data">simor@cathay-ins.com</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">手機號碼：</label>
									<div class="inlineView__data">0935863758</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">日間連絡電話：</label>
									<div class="inlineView__data">02-21621189#6296</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">通訊地址：</label>
									<div class="inlineView__data">114臺北市內湖區陽光街292號5樓</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="category">
					<div class="category__head clearfix">
						<div class="h4 fSub">要保險人資料</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="formView">
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">姓名：</label>
									<div class="inlineView__data">余承遠</div>
								</div>
							</div>
							<!-- 
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">身分別：</label>
									<div class="inlineView__data">自然人</div>
								</div>
							</div>
							-->
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">為被保險人之：</label>
									<div class="inlineView__data">本人</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">身分證字號/居留證號碼：</label>
									<div class="inlineView__data">S122531322</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">出生日期(民國)：</label>
									<div class="inlineView__data">070年08月17日</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">婚姻狀況：</label>
									<div class="inlineView__data">已婚</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">電子郵件：</label>
									<div class="inlineView__data">simor@cathay-ins.com</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">手機號碼：</label>
									<div class="inlineView__data">0935863758</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">日間連絡電話：</label>
									<div class="inlineView__data">02-21621189#6296</div>
								</div>
							</div>
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">通訊地址：</label>
									<div class="inlineView__data">114臺北市內湖區陽光街292號5樓</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Category Group -->
					<div class="category">
						<div class="category__head clearfix">
							<div class="h4 fSub">
								駕駛人名冊資料
							</div>
						</div>
						<div class="category__content category__content--lg">
						<div class="borderBottom borderBottom--dashed">
									<!-- Inline Group -->
									<div class="blockGroup">
										<div class="fBold">強制汽車責任險附加駕駛人傷害險</div>
									</div>
									<div class="inlineGroup">
										<label class="inlineGroup__label">駕駛人姓名：</label>
										<div class="inlineGroup__input inlineGroup__input--nameList">
											<!-- 名冊資料 -->
											<div class="nameList">
												<div class="nameList__content">
													<div class="nameListPair">
														<div><span>車主及同意之駕駛人</span></div>
														<div class="titleDiv"><span>受益人為駕駛人之：</span></div>
														<div><span>法定繼承人</span></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									</div>
							</div>
					</div>
				<div class="category">
					<div class="category__head clearfix">
						<div class="h4 fSub">保單寄送形式</div>
					</div>
					<div class="category__content category__content--lg">
						<div class="formView">
							<div class="formView__item">
								<div class="inlineView">
									<label class="inlineView__label">
										
												任意險保單
												(含強制保險證)
										：
									</label>
									<div class="inlineView__data">
										電子保單&nbsp;&nbsp;simor@cathay-ins.com</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="mainAction mainAction--mofixed mainAction--two">
				<div class="mainAction__btn">
				<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkPrev" onclick="doPrev();">
						<span>回上一步</span>
					</a>
				<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkNext" onclick="goNext();">
						<span>同意要保</span>
					</a>
				</div>
			</div>
		</section>
			<div class="popup popup--sm" id="errorMsg">
				<div class="popup__head">
					<div class="link--notice">
						<i class="bobeIcon iInfo"></i>
						<span class="bobeIconText" id="errorTitle">提醒您</span>
					</div>
				</div>
				<div class="popup__content">
					<div class="forceShowBr mb15 tac" id="errorContent" style="text-align: left; word-break: break-all;"></div>
					<div class="mainAction mainAction--single" style="word-break: break-all;">
						<div class="mainAction__btn" style="word-break: break-all;">
							<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkError" title="確定，回到車主資料頁選擇" onclick="$.fancybox.close();">
								<span>確定，回到車主資料頁選擇</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="popup popup--sm" id="errorTrialMsg">
				<div class="popup__head">
					<div class="link--notice">
						<i class="bobeIcon iInfo"></i>
						<span class="bobeIconText" id="errorTrialTitle">提醒您</span>
					</div>
				</div>
				<div class="popup__content">
					<div class="forceShowBr mb15 tac" id="errorTrialContent" style="text-align: left; word-break: break-all;"></div>
					<div class="mainAction mainAction--single" style="word-break: break-all;">
						<div class="mainAction__btn" style="word-break: break-all;">
							<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkTrialError" title="我知道了" onclick="$.fancybox.close();">
								<span>我知道了</span>
							</a>
						</div>
					</div>
				</div>
			</div>
	</div>
<!-- /build:content -->