<!-- build:content -->
	<div class="main-container">
		<div class="popup popup--md" id="div_updateMemberConfirm">
			<div class="popup__content">
				<p class="mb10">請問是否要用本次填寫的要保人資料，更新您的會員資料呢? (婚姻狀態、通訊資料)?<br><br></p>
				<div class="mainAction mainAction--two" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkUpdateMemberConfirmN" title="取消" onclick="$.fancybox.close();"> <span>取消</span></a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkUpdateMemberConfirmY" title="確定" onclick="doUpdateMemberData();"> <span>確定</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="couponConfirmDiv">
			<div class="popup__content forceShowBr">
				<p class="mb15 tac" id="couponContent"></p>
				<p class="mb15 tac fPrompt">您的電郵為simor@cathay-ins.com，若要修改請到會員中心</p>
				<div class="mainAction mainAction--two" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkNotAgreeKeepMail" title="放棄" onclick="$.fancybox.close();">
							<span>放棄</span>
						</a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkAgreeKeepMail" title="訂閱" onclick="doAgreeKeepMail();">
							<span>訂閱</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="getCouponDiv">
			<div class="popup__content forceShowBr">
				<p class="mb15 tac" id="couponAct"></p>
				<p class="mb15 tac">可以在會員中心查看詳細訊息</p>
				<div class="mainAction mainAction--two" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkNotGetCoupon" title="複製代碼">
							<span>複製代碼</span>
						</a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkGetCoupon" title="去看看" onclick="goMemberCenter();">
							<span>去看看</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb CAI-->
		<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
					<span itemprop="name">首頁</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0800/prompt#">
					<span itemprop="name">試算投保</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
					<span itemprop="name">汽車險</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol></div></div>
		<!-- content -->
		<section>
			<!-- Category Group -->
			<form id="form1" method="POST" action="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0800/prompt" class="bobeForm">
				<input type="hidden" id="forwardTrx" name="forwardTrx" value="ECV2_0800" autocomplete="off"><input type="hidden" id="trxUniKey" name="trxUniKey" value="" autocomplete="off">
				<input type="hidden" id="settleNo" name="settleNo" value="1080000778" autocomplete="off">
				<input type="hidden" id="ftlName" name="ftlName" value="V04.ftl" autocomplete="off">
				<input type="hidden" id="actCode" name="actCode" value="" autocomplete="off">
			</form>
			<form id="openPopForm" method="post" target="_blank">
				<input type="hidden" id="SETTLE_NO" name="SETTLE_NO" value="1080000778" autocomplete="off">
				<!-- 給另開視窗用的Form -->
			</form>
		</section>
		<!-- content -->
<section class="borderBottom">
<div class="container container--sm">
	<div class="bobeProgress">
		<ul class="progressStep">
			<li class="progressStep__item prev">                                    
				<div class="progressStep__number">1</div>                                   
				<div class="progressStep__title">車籍資料</div>                         
			</li>
			<li class="progressStep__item prev">                                    
				<div class="progressStep__number">2</div>                                   
				<div class="progressStep__title">選擇商品</div>                         
			</li>
			<li class="progressStep__item prev">                                    
				<div class="progressStep__number">3</div>                                   
				<div class="progressStep__title">資料填寫</div>                         
			</li>
			<li class="progressStep__item prev">                                    
				<div class="progressStep__number">4</div>                                   
				<div class="progressStep__title">資料確認</div>                         
			</li>
			<li class="progressStep__item prev">                                    
				<div class="progressStep__number">5</div>                                   
				<div class="progressStep__title">線上繳費</div>                         
			</li>
			<li class="progressStep__item active">                                  
				<div class="progressStep__number">6</div>                                   
				<div class="progressStep__title">要保完成</div>                         
			</li>
		</ul>
	</div>
</div>
</section>
<!-- content -->
<section class="container container--default">
<div class="finish">
	<div class="finish__title">
		<i class="bobeIcon iExclamation"></i>
	</div>
	<div class="finish__desc">
		<p>余承遠 先生 您好：您已完成要保，
			<span>請下載要保書並根據下方步驟完成投保作業</span>
		</p>
		
	</div>
			
	
	<div class="groupCube groupCube--pink finish__step">
		<div class="h3">
				<a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECM1_1200/printPdf?pdfFileName=2355cf969e4f00e354b76e945a8bb22190238b6e719aa2d3ecf973f4013a06be.pdf" id="faxDownloadBtn" class="verifyBrowser bobebtn bobebtn--major bobebtn--important" target="_blank">
					<i class="bobeIcon iBtn iBtn--download"></i>
					<span class="bobeIconText">下載要保書</span>
					
				</a>
				
			
		</div>
		
		<div class="groupCube__content groupCube__content--paddingBtn">
		<div style="text-align: center;margin-bottom:5px">開啟檔案密碼為「要保人之身分證字號/居留證號碼」</div>
			<div class="downloadFax">
				<div class="downloadFax__head">
					提醒您!尚有回傳要保書步驟未完成
				</div>
				<div class="downloadFax__body">
					<div class="faxStep">
						<div class="faxStep__item">
							<i class="bobeIcon iFaxStep iFaxStep--print"></i>
							<div class="faxStep__desc">列印要保書</div>
						</div>
						<div class="faxStep__item">
							<i class="bobeIcon iFaxStep iFaxStep--sign"></i>
							<div class="faxStep__desc">要保人/被保人於要保書上簽名</div>
						</div>
						<div class="faxStep__item">
							<i class="bobeIcon iFaxStep iFaxStep--send"></i>
							<div class="faxStep__desc faxStep__desc--hasList">
								<span class="topInline">以下方式擇一，拍照或掃描回傳要保書：</span>
								<ul class="list list--dot">
									<li>傳真至(02)2659-9579</li>
									<li>Email至                                            
										<a href="mailto:bobeyu@cathay-ins.com.tw" class="link link--border">
											<span> bobeyu@cathay-ins.com.tw</span>
										</a>
										
									</li>
										<li>於Bobe「<a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECM1_1100/tranMemberMessage" target="_blank" class="link link--border"><span>會員中心&gt;交易紀錄</span></a>」上傳
										
									</li>
										<li>於服務平台「								
										<a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0800/prompt#" onclick="goOC(&#39;OCAB_1000/prompt?progressSearchFlag=3&amp;progressSearchSubFlag=3-2&#39;)" class="link link--border"><span>進度與紀錄查詢</span></a>」上傳
										
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="instructions">
				<div class="instructions__title">重要說明</div>
				<div class="instructions__content">
					<ol class="lsit list--number">
						<li>
							<span class="fAlert">請務必於2019/06/08晚上12點前回傳已簽名之要保書</span>，以利完成要保作業；未於前述時間回傳者，保單不成立。</li>
						<li>若您無法透過上方按鈕下載要保書，亦可至Bobe「會員中心」或您投保時所填寫之電子郵箱下載。</li>
						<li>公司收到並確認您所回傳之簽名要保書後，您的保單即開始進行製單作業。</li>                               
						
					</ol>
					<div class="instructions__text">
						2天內回傳要保書投保才完成喔！
					</div>
					<div class="instructions__peopleFile">

					</div>
				</div>
			</div>
		</div>
	</div>
	

	
	<div class="category">
		<div class="category__head">
			<div class="categoryHead">
				<div class="categoryHead__title">優惠通知</div>
			</div>
		</div>
		<div class="category__content category__content--lg">
		<p>
			待您回傳要保書且保單成立後3-5個工作天內，將發送「全家便利商店100元禮券」電子序號到您的手機、email中；屆時亦可登入bobe「會員中心-&gt;我的優惠」查詢。
			
		</p>
		</div>
	</div>
	
	
	<!-- Category Group -->
	<div class="category">
		<div class="category__head">
			<div class="categoryHead">
				<div class="categoryHead__title">訂單內容</div>
			</div>
		</div>
		<div class="category__content category__content--lg">
			<!-- 待處理區塊 -->
			<div class="inlineView inlineView--half">
				<div class="inlineView__label">訂單號碼：</div>
				<div class="inlineView__data">
					1080000778
				</div>
			</div>
			<div class="inlineView inlineView--half">
				<div class="inlineView__label">車牌號碼：</div>
				<div class="inlineView__data">
					6666-AS
				</div>
			</div>
			<div class="inlineView inlineView--half">
				<div class="inlineView__label">被保人(車主)：</div>
				<div class="inlineView__data">
					余承遠
				</div>
			</div>                
			
			<div class="inlineView inlineView--half">
				<div class="inlineView__label">授權日期：</div>
				<div class="inlineView__data">
					2019/06/06
				</div>
			</div>
		</div>
	</div>
	<div class="category">
		<div class="category__head">
			<div class="categoryHead">
				<div class="categoryHead__title">保單內容</div>
			</div>
		</div>
		<div class="category__content category__content--lg">
			<div class="formList formList--light">
				<!-- 強制險區塊 START -->
				
					<ul>
						<li>
							<div class="formList__title formList__title--font20">
								強制險
							</div>
							<div class="formList__content">
								<div class="dateLine">
									<div class="dateLine__from">
										2019年06月06日中午12時
									</div>
									<div class="dateLine__to">
										2020年06月06日中午12時
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="formList__title">保險內容</div>
							<div class="formList__content">保費</div>
						</li>
						<!-- 多筆明細 START -->
						<li>
							<div class="formList__title">強制險
								<div class="formList__desc">每人體傷20萬，死亡及失能200萬</div>
							</div>
							<div class="formList__content">
								<div class="formList__price">$849</div>
							</div>
						</li>
						<!-- 多筆明細 END -->
					</ul>
				<!-- 強制險區塊 END -->
				<!-- 駕傷險區塊 START -->
					<ul>
						<li>
							<div class="formList__title formList__title--font20">
								駕傷險
							</div>
							<div class="formList__content">
								<div class="dateLine">
									<div class="dateLine__from">
										2019年06月06日中午12時
									</div>
									<div class="dateLine__to">
										2020年06月06日中午12時
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="formList__title">保險內容</div>
							<div class="formList__content">保費</div>
						</li>
					<!-- 多筆明細 START -->
						<li>
							<div class="formList__title">強制汽車附加駕駛人傷害險
								<div class="formList__desc">每一人體傷20萬元/每一人死亡及失能300萬元</div>
							</div>
							<div class="formList__content">
								<div class="formList__price">$519</div>
							</div>
						</li>
						<!-- 多筆明細 END -->
					</ul>
				<!-- 駕傷險區塊 END -->
				<!-- 任意險區塊 START -->
				<ul>
					<li>
						<div class="formList__title">
							任意險
						</div>
						<div class="formList__content">
							<div class="dateLine">
								<div class="dateLine__from">
										2019年06月06日中午12時
								</div>
								<div class="dateLine__to">
										2020年06月06日中午12時
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="formList__title">保險內容</div>
						<div class="formList__content">保費</div>
					</li>
					<!-- 多筆明細 START -->
					<li>
						<div class="formList__title">第三人責任險-體傷
							<div class="formList__desc">每人傷害保額:300萬元/每事故總額多人型</div>
						</div>
						<div class="formList__content">
							<div class="formList__price">$1,671</div>
						</div>
					</li>
					<li>
						<div class="formList__title">第三人責任險-財損
							<div class="formList__desc">每事故之財損:50萬元</div>
						</div>
						<div class="formList__content">
							<div class="formList__price">$1,785</div>
						</div>
					</li>
					<!-- 多筆明細 END -->
				</ul>
				<!-- 任意險區塊 END -->	
				<div class="totalAmount">
					總計
					<div class="totalAmount__price">$4,824</div>
				</div>			
			</div>
		</div>
	</div>
	
	
	<!-- 條款區塊  START-->	
	
	<!-- 條款區塊  END-->	
	<div class="category">
		<div class="category__head">
			<div class="categoryHead">
				<div class="categoryHead__title">保單寄送時間</div>
			</div>
		</div>
		
		<div class="category__content category__content--lg">
		<p class="mt10">將於保單成立後為您寄送。</p>
			<div class="blockGroup">
				<ul class="list list--dot">
					<li>電子保單：二至三個工作天內</li>
				</ul>
					<p class="mt10">※ 若您超過前述時間未收到保單，請儘速聯繫客服中心，我們將竭誠為您服務。 </p>
				<div class="fBlod mt10">※ 若您有較急迫之驗車需求，最快可以在保單成立3個小時後，至
					<a href="https://www.cathay-ins.com.tw/Gateways/digitForcedCard.html" target="_blank" class="link link--border">
						<span>國泰產險官網下載「強制險電子式保險證」</span>
					</a>
				</div>
			</div>
		</div>
	</div>              
</div>
</section><section style="padding-bottom:15px;">
			<div>
				<div class="mainAction mainAction--mofixed ">
					<div class="mainAction__btn">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" onclick="doOpenUpdateMemberDataDiv();">
							<span>更新會員資料</span>
						</a>
						</div>
				</div>
			</div>
		</section>
		<section class="bgGray">
			<div class="container container--sm">
				<div class="noPadding bgGray">
					<div class="col-md-4 col-sm-12">
						<div class="serviceGuide">
							<div class="serviceGuide__head">
								<i class="bobeIcon iServiceGuide iServiceGuide--phone"></i>
								<span class="serviceGuide__title h4">聯繫我們</span>
							</div>
							<div class="serviceGuide__content">
								<div class="groupContact">
									<div class="groupContact__title">客服電話：</div>
									<div class="groupContact__item groupContact__item--phone"> 0800-212-880
										<br>(服務時間8:30~21:00)</div>
								</div>
								<div class="groupContact">
									<div class="groupContact__title">傳真號碼：</div>
									<div class="groupContact__item groupContact__item--fax">02-2659-9579</div>
								</div>
								<div class="groupContact">
									<div class="groupContact__title">客服信箱：</div>
									<div class="groupContact__item groupContact__item--email">
										<a href="mailto:bobeyu@cathay-ins.com.tw" class="link link--border">
											<span> bobeyu@cathay-ins.com.tw</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="serviceGuide">
							<div class="serviceGuide__head">
								<i class="bobeIcon iServiceGuide iServiceGuide--car"></i>
								<span class="serviceGuide__title h4">車險服務信息</span>
							</div>
							<div class="serviceGuide__content">
								<ul class="list list--dot">
									<li>
										<a href="https://www.cathay-ins.com.tw/insurance/services/accident-how-to-do" class="link" target="_blank">事故發生怎麼辦？</a>
									</li>
									<li>
										<a href="https://www.cathay-ins.com.tw/insurance/services/claim" class="link" target="_blank">如何聲請理賠？</a>
									</li>
									<li>
										<a href="https://www.cathay-ins.com.tw/insurance/qa_insurance" class="link" target="_blank">如何變更保險內容(ex:退保)？</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="serviceGuide">
							<div class="serviceGuide__head">
								<i class="bobeIcon iServiceGuide iServiceGuide--note"></i>
								<span class="serviceGuide__title h4">最新消息及下載</span>
							</div>
							<div class="serviceGuide__content">
								<div class="groupNews">
									<div class="groupNews__title">
										<i class="bobeIcon iServiceNews iServiceNews--phone"></i>
									</div>
									<div class="groupNews__item">94為您~國泰車險數位服務全新推出，趕快來體驗喔！
										<a href="javascript:;" class="link link--border" onclick="goOCHOME();">
											<span>國泰產險線上服務專區</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
<!-- /build:content -->