<!-- build:content -->
	<div class="main-container">
		<!-- breadcrumb CAI-->
		<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
					<span itemprop="name">首頁</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#">
					<span itemprop="name">試算投保</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
					<span itemprop="name">汽車險</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol></div></div>
		<!-- progress -->
		<section class="borderBottom">
			<div class="container container--sm">
				<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item active">									<div class="progressStep__number">1</div>									<div class="progressStep__title">車籍資料</div>							</li><li class="progressStep__item">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
			</div>
		</section>
		<!-- content -->
		<section class="container container--default">
			<!-- Category Group -->
			<form id="form1" method="POST" action="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt" class="bobeForm">
				<input type="hidden" id="forwardTrx" name="forwardTrx" value="ECV2_0200" autocomplete="off"><input type="hidden" id="depreciaRate" name="depreciaRate" value="0.15" autocomplete="off"> <input type="hidden" id="isCut" name="isCut" value="" autocomplete="off">
				<input type="hidden" id="isRenewal" name="isRenewal" value="" autocomplete="off">
				<input type="hidden" id="riskIndustryCode" name="riskIndustryCode" value="" autocomplete="off">
				<input type="hidden" id="managerName" name="managerName" value="" autocomplete="off">
				<input type="hidden" id="insCustomerId" name="insCustomerId" value="" autocomplete="off">
				<input type="hidden" id="oldModelBrand" name="oldModelBrand" value="0009" autocomplete="off">
				
				<input type="hidden" id="isBobe" name="isBobe" value="" autocomplete="off">
				<input type="hidden" id="isR6Renewal" name="isR6Renewal" value="" autocomplete="off">
			
				<input type="hidden" id="trxUniKey" name="trxUniKey" value="e00405ffd28047d2ae7589a109941bfe" autocomplete="off">
				<input type="hidden" id="isPonta" name="isPonta" value="" autocomplete="off">
				<input type="hidden" id="isForceType" name="isForceType" value="05" autocomplete="off">
				<input type="hidden" id="isForceFlag" name="isForceFlag" value="Y" autocomplete="off">
				<input type="hidden" id="queryType" name="queryType" value="" autocomplete="off">
				<input type="hidden" id="isSessionValid" name="isSessionValid" value="" autocomplete="off">
				<div class="mainAction__wording noticeBlock noticeBlock--withIconTips" style="margin-bottom: 5px;">
					<div class="noticeBlock__content" style="text-align: left;">
						<!-- <i class="bobeIcon iNotice"></i> -->
						<span class="bobeIconText fPrompt">紙本強制證寄達約須7~10個工作天，若您有驗車需求，請提早投保，或最快可於保單成立3個小時後，至<a id="linkEPolicy" href="javascript:void(0);" style="text-decoration:underline;" onclick="openInNewTab(&#39;https://goo.gl/HXK9yc&#39;);">國泰產險官網下載強制險電子式保險證</a>。
							<br>如您急需索取<font class="bold">「紙本強制證」</font>，請就近至本公司各分支機構臨櫃辦理，以免郵寄耽誤時間。</span>
					</div>
				</div>
				<div class="mainAction__wording" style="margin-bottom: 5px;color: red;">
					<div class="noticeBlock__content" style="text-align: left;margin-left: 5px;">
						<span class="bobeIconText fPrompt">以下欄位均為必填，請依真實資料填寫，方能提供您正確的保費資訊。</span>
					</div>
				</div>
				<div class="category mb30">
					<div class="category__head">
						<div class="categoryHead categoryHeadCust1">
							<div class="categoryHead__title">車主資料</div>
							<div class="categoryHead__hint">（行照上的車主）</div>
						</div>
						<div class="categoryHeadCust2">
							<div style="display: inline-block">
								<a href="javascript:void(0);" class="link link--border" id="linkOpenCarInfo1" title="帶入應續保車輛" data-fancybox="" data-src="#continueinformationBox" onclick="doQueryCarNoList(&#39;1&#39;);">
									<i class="bobeIcon iInfo"></i>
									<span class="bobeIconText">帶入應續保車輛</span>
								</a>
							</div>
							&nbsp;&nbsp;&nbsp;
							<div style="display: inline-block">
								<a href="javascript:void(0);" class="link link--border link--car" id="linkOpenCarInfo2" title="帶入我的車輛資料" data-fancybox="" data-src="#carinformationBox" onclick="doQueryCarNoList(&#39;2&#39;);">
									<i class="bobeIcon iInfo"></i>
									<span class="bobeIconText">帶入我的車輛資料</span>
								</a>
							</div>
						</div>	
					</div>
					<div class="category__content category__content--lg">
						<!-- Inline Group -->
						<div class="inlineGroup">
							<label class="inlineGroup__label">車主身分別</label>
							<div class="inlineGroup__input">
								<!-- Radio Inline -->
								<div class="radioInline checked">
									<input type="radio" value="1" name="customerType" id="customerType1" data-radiochangecontrol="customerType1" data-radiochangename="customerType" onclick="doSelCustomerType(&#39;1&#39;,&#39;Y&#39;);" checked="" autocomplete="off">
									<label for="customerType1">自然人</label>
								</div>
								<div class="radioInline">
									<input type="radio" value="3" name="customerType" id="customerType3" data-radiochangecontrol="customerType3" data-radiochangename="customerType" onclick="doSelCustomerType(&#39;3&#39;,&#39;Y&#39;);" autocomplete="off">
									<label for="customerType3">法人(公司車)</label>
								</div>
							</div>
						</div>
						<!-- 自然人 -->
						<div class="inlineGroup" data-radiochangegroup="customerType" data-radiochangeblock="customerType1">
							<label class="inlineGroup__label inlineGroup__label--twoline">車主證件號碼<br>(身分證/居留證)</label>
							<div class="inlineGroup__input">
								<div data-form="single">
									<input type="text" class="toUpperFormat" title="身分證字號/居留證號碼" onblur="doCheckCustomerId();chgCarBlock();" id="customerId" name="customerId" value="S122531322" autocomplete="off">
									<em id="customerId_msg" class="error" style="display: none;"></em>
								</div>
							</div>
						</div>
						<!-- Inline Group -->
						<div class="inlineGroup" data-radiochangegroup="customerType" data-radiochangeblock="customerType1">
							<label class="inlineGroup__label">車主出生日期</label>
							<div class="inlineGroup__input">
								<div data-form="single">
									<input type="text" title="生日" id="birthday" name="birthday" class="bobeDatepicker--ch hasDatepicker" placeholder="格式:0771122或771122" value="0700817" onchange="doCheckBirthday();chgCarBlock();" autocomplete="off">
									<em id="birthday_msg" class="error" style="display: none;"></em>
								</div>
							</div>
						</div>
						<!-- Inline Group -->
						<div class="inlineGroup hidden" data-radiochangegroup="customerType" data-radiochangeblock="customerType3">
							<label class="inlineGroup__label">公司名稱</label>
							<div class="inlineGroup__input">
								<div data-form="single">
									<input type="text" placeholder="請輸入公司名稱" id="legalCustomerName" name="legalCustomerName" title="公司名稱" maxlength="30" onblur="doCheckLegalCustomerName();chgCarBlock();" autocomplete="off">
									<em id="legalCustomerName_msg" class="error" style="display: none;"></em>
								</div>
							</div>
						</div>
						<!-- Inline Group -->
						<div class="inlineGroup hidden" data-radiochangegroup="customerType" data-radiochangeblock="customerType3">
							<label class="inlineGroup__label">統一編號</label>
							<div class="inlineGroup__input">
								<div data-form="single">
									<input type="text" placeholder="請輸入統一編號" id="legalCustomerId" name="legalCustomerId" title="統一編號" onblur="doCheckLegalCustomerId();chgCarBlock();" autocomplete="off">
									<em id="legalCustomerId_msg" class="error" style="display: none;"></em>
								</div>
							</div>
						</div>			
						<!-- Inline Group -->
						<div class="inlineGroup">
							<label class="inlineGroup__label">車輛種類</label>
							<div class="inlineGroup__input">
								<div data-form="single">
									<select class="required" id="vehicleKindNo" name="vehicleKindNo" title="車輛種類" onchange="doChgCarModelData(&#39;modelBrand&#39;,&#39;N&#39;);doCheckVehicleKindNo();chgCarBlock();" value="" style="color: rgb(0, 0, 0); display: none;"><option value="" style="color: rgb(0, 0, 0);">請選擇</option><option value="03" style="color: rgb(0, 0, 0);">自用小客車</option><option value="04" style="color: rgb(0, 0, 0);">自用小貨車</option><option value="22" style="color: rgb(0, 0, 0);">自用小客貨車</option></select><ul class="transformSelect trans-element" tabindex="0"><li><span>自用小客車</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=""><span>請選擇</span></li><li data-settings="" class=" selected"><span>自用小客車</span></li><li data-settings="" class=""><span>自用小貨車</span></li><li data-settings="" class=""><span>自用小客貨車</span></li></ul></li></ul>
									<em id="vehicleKindNo_msg" class="error" style="display: none;"></em>
								</div>
							</div>
						</div>
						<!-- Inline Group -->
						<div class="inlineGroup">
							<label class="inlineGroup__label">車牌號碼</label>
							<div class="inlineGroup__input">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="groupCarid">
											<div class="groupCarid" data-form="single">
												<input type="text" id="carNo1" name="carNo1" title="車牌號碼1" maxlength="4" class="toUpperFormat" onblur="doCheckCarNo();chgCarBlock();" value="" autocomplete="off">
											</div>
											<span class="">-</span>
											<div class="groupCarid" data-form="single">
												<input type="text" id="carNo2" name="carNo2" title="車牌號碼2" maxlength="4" class="toUpperFormat" onblur="doCheckCarNo();chgCarBlock();" value="" autocomplete="off">
											</div>
										</div>
										<em id="carNo_msg" class="error" style="display: none;"></em>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="downloadFax" style="margin-bottom:30px;">
					<div class="downloadFax__head">
						履行個人資料保護法告知義務事項
					</div>
					<div class="downloadFax__body">
						<div class="scrollBlock">
							<div class="scrollBlock__content forceShowBr" data-element="scrollbar" tabindex="3" style="overflow: hidden; outline: none;">
								<ul><li>親愛的客戶，您好：<br><b>國泰世紀產物保險股份有限公司</b>（以下稱本公司）依據個人資料保護法（以下稱個資法）第八條及第九條規定，向 台端告知下列事項，請 台端詳閱：<br>    一、蒐集之目的：辦理財產保險(093)、人身保險(001)、行銷(包含金控共同行銷業務)(040)及其他合於營業登記項目或組織章程所定之業務(181)。<br>    二、蒐集之個人資料類別：姓名、身分證統一編號、聯絡方式等，詳如要保書或相關業務申請書內容。<br>    三、個人資料之來源（個人資料非由當事人提供間接蒐集之情形適用）：<br>        (一)要保人/被保險人<br>        (二)司法警憲機關、委託協助處理理賠之公證人或機構<br>        (三)當事人之法定代理人、輔助人<br>        (四)各醫療院所<br>        (五)與第三人共同行銷、交互運用客戶資料、合作推廣等關係、或於本公司各項業務內所委託往來之第三人。<br>    四、個人資料利用之期間、對象、地區及方式：<br>        (一)期間：因執行業務所必須及依法令規定應為保存之期間。<br>        (二)對象：本(分)公司及本公司海外分支機構、中華民國產物保險商業同業公會、中華民國人壽保險商業同業公會、財團法人保險事業發展中心、財團法人保險安定基金、財團法人住宅地震保險基金、財團法人汽車交通事故特別補償基金、財團法人保險犯罪防制中心、財團法人金融消費評議中心、財團法人金融聯合徵信中心、財團法人聯合信用卡中心、台灣票據交換所、財金資訊公司、關貿網路股份有限公司、中央健康保險局、業務委外機構、與本公司有再保業務往來之公司、依法有調查權機關或金融監理機關。<br>        (三)地區：上述對象所在之地區。<br>        (四)方式：合於法令規定之利用方式。<br>    五、依據個資法第三條規定，台端就本公司保有 台端之個人資料得行使之權利及方式：<br>        (一)得向本公司行使之權利：<br>            1.向本公司查詢、請求閱覽或請求製給複製本。<br>            2.向本公司請求補充或更正。<br>            3.向本公司請求停止蒐集、處理或利用及請求刪除。<br>        (二)行使權利之方式：透過客服專線0800-212-880 或書面方式行使。<br>    六、台端不提供個人資料所致權益之影響：<br>        台端若未能提供相關個人資料時，本公司將可能延後或無法進行必要之審核及<br>        處理作業，因此可能婉謝承保、遲延或無法提供 台端完善的保險服務。</li><br></ul></div>
						</div>
						<div class="gutters-out-md-v">
							<input type="checkbox" name="agreeAnnounce" id="agreeAnnounce" data-nextstepcontrol="" onclick="doAgreeAnnounce();" autocomplete="off" disabled="">
							<label for="agreeAnnounce" class="checkboxMultiline">我已同意上述須知及審閱</label>
						</div>
					</div>
				</div>
				<div class="mainAction mainAction--two" data-hideblock="carinformation" style="display: none;">
					<div class="mainAction__wording" id="divLogin1" style="display: none;">為利於快速投保，可先進行 <a href="javascript:void(0);" id="linkLogin1" class="link link--alert link--border" title="登入" onclick="doLoginThisPage();"><span>登入</span></a> 以便帶出您在本公司留存的資料！</div>
					<div class="mainAction__btn">
						<a href="javascript:void(0);" id="linkBack1" title="返回" class="bobebtn bobebtn--minor" onclick="goPrev();">
							<span>返回</span>
						</a>
						<a href="javascript:void(0);" id="linkShowCarInfo" title="下一步" class="bobebtn bobebtn--major" onclick="doClearAndShowCarData();">
							<span>下一步</span>
						</a>
					</div>
				</div>
				<div data-showblock="carinformation" id="divCarInformation" class="showControlOpen">
					<div class="category">
						<div class="category__head clearfix">
							<div class="headLeft">
								<div class="categoryHead">
									<div class="categoryHead__title">車籍資料</div>
									<div class="categoryHead__hint">請依行照填寫(<a href="javascript:void(0);" class="categoryHead__hint" style="text-decoration: underline;cursor: pointer;" onclick="openFancyBox(&#39;idCarInfoImg&#39;);">範例</a>)</div>
									<img src="./ECV20200_files/car_info_sm.png" style="cursor: pointer;" onclick="openFancyBox(&#39;idCarInfoImg&#39;);">
								</div>
							</div>
							<div class="checkboxSub headRight headRight--moNone">
								<input type="checkbox" name="addCommonCar" id="addCommonCar" onchange="chkAddCommonCar();" autocomplete="off">
								<label for="addCommonCar">儲存我的車輛資料</label>
							</div>
						</div>
						<div class="category__content category__content--lg">
							<div class="borderBottom borderBottom--dashed">
								<!-- Block Group -->
								<div class="blockGroup" id="divIsBodyLcnr">
									<input type="checkbox" name="IS_BODY_LCNR" id="IS_BODY_LCNR" data-togglecontrol="IS_BODY_LCNR" onclick="doIS_BODY_LCNRClick();" autocomplete="off">
									<label for="IS_BODY_LCNR" style="font-weight: bold;">我要投保車體損失險或竊盜損失險</label>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">出廠年月</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupTwoblock">
													<div class="groupDate" id="groupDateY" data-form="single">
														<div class="ui-widget">
															<select class="ignoreSelect" id="madeDateY" name="madeDateY" title="出廠年份" style="color: rgb(0, 0, 0); display: none;">
																<option value="" style="color: rgb(0, 0, 0);">請選擇年份</option>
																		<option value="2019" style="color: rgb(0, 0, 0);">2019</option> <option value="2018" style="color: rgb(0, 0, 0);">2018</option> <option value="2017" style="color: rgb(0, 0, 0);">2017</option> <option value="2016" style="color: rgb(0, 0, 0);">2016</option> <option value="2015" style="color: rgb(0, 0, 0);">2015</option> <option value="2014" style="color: rgb(0, 0, 0);">2014</option> <option value="2013" style="color: rgb(0, 0, 0);">2013</option> <option value="2012" style="color: rgb(0, 0, 0);">2012</option> <option value="2011" style="color: rgb(0, 0, 0);">2011</option> <option value="2010" style="color: rgb(0, 0, 0);">2010</option> <option value="2009" style="color: rgb(0, 0, 0);">2009</option> <option value="2008" style="color: rgb(0, 0, 0);">2008</option> <option value="2007" style="color: rgb(0, 0, 0);">2007</option> <option value="2006" style="color: rgb(0, 0, 0);">2006</option> <option value="2005" style="color: rgb(0, 0, 0);">2005</option> <option value="2004" style="color: rgb(0, 0, 0);">2004</option> <option value="2003" style="color: rgb(0, 0, 0);">2003</option> <option value="2002" style="color: rgb(0, 0, 0);">2002</option> <option value="2001" style="color: rgb(0, 0, 0);">2001</option> <option value="2000" style="color: rgb(0, 0, 0);">2000</option> <option value="1999" style="color: rgb(0, 0, 0);">1999</option> <option value="1998" style="color: rgb(0, 0, 0);">1998</option> <option value="1997" style="color: rgb(0, 0, 0);">1997</option> <option value="1996" style="color: rgb(0, 0, 0);">1996</option> <option value="1995" style="color: rgb(0, 0, 0);">1995</option> <option value="1994" style="color: rgb(0, 0, 0);">1994</option> <option value="1993" style="color: rgb(0, 0, 0);">1993</option> <option value="1992" style="color: rgb(0, 0, 0);">1992</option> <option value="1991" style="color: rgb(0, 0, 0);">1991</option> <option value="1990" style="color: rgb(0, 0, 0);">1990</option> <option value="1989" style="color: rgb(0, 0, 0);">1989</option> <option value="1988" style="color: rgb(0, 0, 0);">1988</option> <option value="1987" style="color: rgb(0, 0, 0);">1987</option> <option value="1986" style="color: rgb(0, 0, 0);">1986</option> <option value="1985" style="color: rgb(0, 0, 0);">1985</option> <option value="1984" style="color: rgb(0, 0, 0);">1984</option> <option value="1983" style="color: rgb(0, 0, 0);">1983</option> <option value="1982" style="color: rgb(0, 0, 0);">1982</option> <option value="1981" style="color: rgb(0, 0, 0);">1981</option> <option value="1980" style="color: rgb(0, 0, 0);">1980</option> <option value="1979" style="color: rgb(0, 0, 0);">1979</option> <option value="1978" style="color: rgb(0, 0, 0);">1978</option> <option value="1977" style="color: rgb(0, 0, 0);">1977</option> <option value="1976" style="color: rgb(0, 0, 0);">1976</option> <option value="1975" style="color: rgb(0, 0, 0);">1975</option> <option value="1974" style="color: rgb(0, 0, 0);">1974</option> <option value="1973" style="color: rgb(0, 0, 0);">1973</option> <option value="1972" style="color: rgb(0, 0, 0);">1972</option> <option value="1971" style="color: rgb(0, 0, 0);">1971</option> <option value="1970" style="color: rgb(0, 0, 0);">1970</option></select><span class="custom-combobox"><input title="" id="madeDateYtxt" placeholder="請輸入年份" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input" autocomplete="off" style="font-family: &quot;Noto Sans TC&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;" data-original-title=""><a tabindex="-1" data-original-title="" title="" class="custom-combobox-toggle ui-corner-right"></a></span>		
														</div>                                  
													</div>
													<div class="groupDate" id="groupDateM" data-form="single">
														<select id="madeDateM" name="madeDateM" title="出廠月份" onchange="doChgCarModelData(&#39;modelBrand&#39;,&#39;N&#39;);doCheckMadeDate(&#39;N&#39;);" style="color: rgb(0, 0, 0); display: none;"><option value="" style="color: rgb(0, 0, 0);">請選擇月份</option><option value="01" style="color: rgb(0, 0, 0);">1月</option><option value="02" style="color: rgb(0, 0, 0);">2月</option><option value="03" style="color: rgb(0, 0, 0);">3月</option><option value="04" style="color: rgb(0, 0, 0);">4月</option><option value="05" style="color: rgb(0, 0, 0);">5月</option><option value="06" style="color: rgb(0, 0, 0);">6月</option><option value="07" style="color: rgb(0, 0, 0);">7月</option><option value="08" style="color: rgb(0, 0, 0);">8月</option><option value="09" style="color: rgb(0, 0, 0);">9月</option><option value="10" style="color: rgb(0, 0, 0);">10月</option><option value="11" style="color: rgb(0, 0, 0);">11月</option><option value="12" style="color: rgb(0, 0, 0);">12月</option></select><ul class="transformSelect trans-element" tabindex="0"><li><span>3月</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=""><span>請選擇月份</span></li><li data-settings="" class=""><span>1月</span></li><li data-settings="" class=""><span>2月</span></li><li data-settings="" class=" selected"><span>3月</span></li><li data-settings="" class=""><span>4月</span></li><li data-settings="" class=""><span>5月</span></li><li data-settings="" class=""><span>6月</span></li><li data-settings="" class=""><span>7月</span></li><li data-settings="" class=""><span>8月</span></li><li data-settings="" class=""><span>9月</span></li><li data-settings="" class=""><span>10月</span></li><li data-settings="" class=""><span>11月</span></li><li data-settings="" class=""><span>12月</span></li></ul></li></ul>			                                                
													</div>			                                            
												</div>
												<em id="madeDate_msg" class="error" style="display: none;"></em>
											</div>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">原發照日期</label>
									<div class="inlineGroup__input">
										<div data-form="single">
											<input class="bobeDatepicker--ch hasDatepicker" type="text" id="originIssueDate" name="originIssueDate" title="原發照日期" placeholder="格式:1071101" onblur="doCheckOriginIssueDate(&#39;N&#39;);" value="" autocomplete="off">
											<em id="originIssueDate_msg" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">廠牌</label>
									<div class="inlineGroup__input">
										<div data-form="single" class="">
											<select class="col-xs-12 ignoreSelect js-example-placeholder-single select2-hidden-accessible" id="modelBrand" name="modelBrand" title="廠牌名稱" style="width: 100%; color: rgb(0, 0, 0);" data-placeholder="請選擇或輸入關鍵字" onchange="doChgCarModelData(&#39;modelType&#39;,&#39;N&#39;);doCheckCarModel(&#39;N&#39;);" tabindex="-1" aria-hidden="true"><option value="" style="color: rgb(0, 0, 0);">請選擇</option><option value="0009" style="color: rgb(0, 0, 0);">國瑞/豐田 TOYOTA</option><option value="0001" style="color: rgb(0, 0, 0);">日產/裕隆 NISSAN</option><option value="0015" style="color: rgb(0, 0, 0);">現代/三陽 HYUNDAI</option><option value="0004" style="color: rgb(0, 0, 0);">本田/三陽 HONDA</option><option value="0003" style="color: rgb(0, 0, 0);">福特 FORD</option><option value="0010" style="color: rgb(0, 0, 0);">馬自達 MAZDA</option><option value="0007" style="color: rgb(0, 0, 0);">中華/三菱 MITSUBISHI</option><option value="0108" style="color: rgb(0, 0, 0);">納智捷 LUXGEN</option><option value="0026" style="color: rgb(0, 0, 0);">賓士 BENZ</option><option value="0032" style="color: rgb(0, 0, 0);">寶馬 BMW</option><option value="0027" style="color: rgb(0, 0, 0);">奧迪 AUDI</option><option value="0047" style="color: rgb(0, 0, 0);">凌志 LEXUS</option><option value="0028" style="color: rgb(0, 0, 0);">福斯/慶眾 VW</option><option value="0036" style="color: rgb(0, 0, 0);">富豪 VOLVO</option><option value="0005" style="color: rgb(0, 0, 0);">速霸陸/大慶 SUBARU</option><option value="0011" style="color: rgb(0, 0, 0);">日產 INFINITI</option><option value="0002" style="color: rgb(0, 0, 0);">太子/鈴木 SUZUKI</option><option value="0013" style="color: rgb(0, 0, 0);">寶獅 PEUGEOT</option><option value="0102" style="color: rgb(0, 0, 0);">SKODA</option><option value="0030" style="color: rgb(0, 0, 0);">保時捷 PORSCHE</option><option value="0006" style="color: rgb(0, 0, 0);">雷諾 RENAULT</option><option value="0016" style="color: rgb(0, 0, 0);">凱迪拉克 CADLIIAC</option><option value="0017" style="color: rgb(0, 0, 0);">雪佛蘭 CHEVROLET</option><option value="0020" style="color: rgb(0, 0, 0);">別克 BUICK</option><option value="0021" style="color: rgb(0, 0, 0);">道奇 DODGE</option><option value="0025" style="color: rgb(0, 0, 0);">林肯 LINCOLN</option><option value="0031" style="color: rgb(0, 0, 0);">歐寶 OPEL</option><option value="0033" style="color: rgb(0, 0, 0);">蓮花 LOTUS</option><option value="0034" style="color: rgb(0, 0, 0);">積架 JAGUAR</option><option value="0037" style="color: rgb(0, 0, 0);">路華 LAND ROVER</option><option value="0038" style="color: rgb(0, 0, 0);">蘭吉雅 LANCIA</option><option value="0039" style="color: rgb(0, 0, 0);">飛雅特 FIAT</option><option value="0040" style="color: rgb(0, 0, 0);">法拉利 FERRARI</option><option value="0042" style="color: rgb(0, 0, 0);">雪鐵龍 CITROEN</option><option value="0043" style="color: rgb(0, 0, 0);">愛快羅密歐 ALFA RORMEO</option><option value="0044" style="color: rgb(0, 0, 0);">紳寶 SAAB</option><option value="0048" style="color: rgb(0, 0, 0);">大發 DAIHATSU</option><option value="0050" style="color: rgb(0, 0, 0);">美國吉普 ARNC JEEP</option><option value="0053" style="color: rgb(0, 0, 0);">雙龍 SSANG YONG</option><option value="0056" style="color: rgb(0, 0, 0);">ACURA</option><option value="0057" style="color: rgb(0, 0, 0);">馬沙拉蒂 MASERATI</option><option value="0059" style="color: rgb(0, 0, 0);">GMC</option><option value="0064" style="color: rgb(0, 0, 0);">勞斯萊斯 ROLLS ROYCE</option><option value="0065" style="color: rgb(0, 0, 0);">賓利 BENTLEY</option><option value="0078" style="color: rgb(0, 0, 0);">奧頓馬丁 ASTON MARTIN</option><option value="0079" style="color: rgb(0, 0, 0);">AMG</option><option value="0083" style="color: rgb(0, 0, 0);">IVECO</option><option value="0091" style="color: rgb(0, 0, 0);">悍馬 HUMMER</option><option value="0092" style="color: rgb(0, 0, 0);">寶騰蓮花 PROTON</option><option value="0094" style="color: rgb(0, 0, 0);">藍寶堅尼LAMBORGHINI</option><option value="0095" style="color: rgb(0, 0, 0);">台朔</option><option value="0024" style="color: rgb(0, 0, 0);">克萊斯勒 CHRYSLER</option><option value="0109" style="color: rgb(0, 0, 0);">MINI</option><option value="0111" style="color: rgb(0, 0, 0);">酷比 TOBE</option><option value="0112" style="color: rgb(0, 0, 0);">勝榮(國產)</option><option value="0118" style="color: rgb(0, 0, 0);">必翔</option><option value="0119" style="color: rgb(0, 0, 0);">ABARTH</option><option value="0123" style="color: rgb(0, 0, 0);">THINK</option><option value="0125" style="color: rgb(0, 0, 0);">GPT 皆盈綠</option><option value="0128" style="color: rgb(0, 0, 0);">麥拉倫 MCLAREN</option><option value="0129" style="color: rgb(0, 0, 0);">KTM</option><option value="0133" style="color: rgb(0, 0, 0);">特斯拉 TESLA</option><option value="0138" style="color: rgb(0, 0, 0);">SCION</option><option value="0142" style="color: rgb(0, 0, 0);">MORGAN</option><option value="0144" style="color: rgb(0, 0, 0);">BRABUS</option><option value="0067" style="color: rgb(0, 0, 0);">起亞 KIA</option><option value="0145" style="color: rgb(0, 0, 0);">CATERHAM</option><option value="0146" style="color: rgb(0, 0, 0);">RUF</option></select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" title="廠牌名稱" tabindex="0" aria-labelledby="select2-modelBrand-container"><span class="select2-selection__rendered" id="select2-modelBrand-container" title="國瑞/豐田 TOYOTA"><span class="select2-selection__clear">×</span>國瑞/豐田 TOYOTA</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
											<em id="carModel_msg" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup showControlOpen" data-toggleblock="IS_BODY_LCNR">
									<label class="inlineGroup__label">車系</label>
									<div class="inlineGroup__input">
										<div data-form="single" class="">
											<select class="col-xs-12 ignoreSelect js-example-placeholder-single select2-hidden-accessible" id="modelType" name="modelType" title="車系" style="width: 100%; color: rgb(0, 0, 0);" data-placeholder="請選擇或輸入關鍵字" onchange="doChgCarModelData(&#39;modelFull&#39;,&#39;N&#39;);doCheckCarModel(&#39;N&#39;);" tabindex="-1" aria-hidden="true"><option value="" style="color: rgb(0, 0, 0);">請選擇車系</option><option value="0074" style="color: rgb(0, 0, 0);">4RUNNER</option><option value="0002" style="color: rgb(0, 0, 0);">86</option><option value="0115" style="color: rgb(0, 0, 0);">Alphard</option><option value="0117" style="color: rgb(0, 0, 0);">ALTIS</option><option value="1024" style="color: rgb(0, 0, 0);">C-HR</option><option value="0188" style="color: rgb(0, 0, 0);">Camry</option><option value="0357" style="color: rgb(0, 0, 0);">FJ Cruiser</option><option value="0430" style="color: rgb(0, 0, 0);">HIGHLANDER</option><option value="0448" style="color: rgb(0, 0, 0);">IQ-EV</option><option value="0480" style="color: rgb(0, 0, 0);">Land Cruiser Prado</option><option value="0623" style="color: rgb(0, 0, 0);">Previa</option><option value="0626" style="color: rgb(0, 0, 0);">PRIUS</option><option value="0671" style="color: rgb(0, 0, 0);">RAV4</option><option value="0750" style="color: rgb(0, 0, 0);">SIENNA</option><option value="1023" style="color: rgb(0, 0, 0);">SIENTA</option><option value="0830" style="color: rgb(0, 0, 0);">TOYOTA X</option><option value="0863" style="color: rgb(0, 0, 0);">Venza</option><option value="0869" style="color: rgb(0, 0, 0);">VIOS</option><option value="0884" style="color: rgb(0, 0, 0);">WISH</option><option value="0912" style="color: rgb(0, 0, 0);">Yaris</option><option value="0933" style="color: rgb(0, 0, 0);">吉普車</option></select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" title="車系" tabindex="0" aria-labelledby="select2-modelType-container"><span class="select2-selection__rendered" id="select2-modelType-container" title="Yaris"><span class="select2-selection__clear">×</span>Yaris</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
											<em id="modelType_msg" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup showControlOpen" data-toggleblock="IS_BODY_LCNR">
									<label class="inlineGroup__label">車款</label>
									<div class="inlineGroup__input">
										<div data-form="single">
											<input type="hidden" id="modelFull" name="modelFull" title="車款" readonly="" autocomplete="off" value="09161200">
											<input type="text" id="modelFullView" name="modelFullView" readonly="" autocomplete="off">
											<em id="modelFull_msg" class="error" style="display: none;"></em>
										</div>
									</div>
									<a href="javascript:void(0);" style="margin-top:5px;" class="bobebtn bobebtn--major" id="linkChooseCar" title="選擇車款" onclick="openCarModel();">
										<span>選擇車款</span>
									</a>
								</div>
								<div id="carModelFullData" style="display:none;">
									<!-- 此處為動態Ajax新增 -->
									<div class="main-container">
										<!--Introduction-->           
										<section class="container bgcolor">
												<div class="row">
													<h3 class="titlestyle line text-center pb16">選擇車型代號</h3>
													<div class="col-xs-12 col-sm-12 mt32 mb32">					
														<div class="list-group" id="carModelList"><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09160100&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)／Yaris 1.5EBG 5D A4</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">49.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09160200&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)／Yaris 1.5EAG 5D A4</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">54.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09161300&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產) /Yaris/NEW Yaris NCP150L-AHPGKR EM 1500c.c. 4D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">55.5萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09160400&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)／Yaris 1.5GSG 5D A4</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">56.5萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09161600&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產) /Yaris/Yaris 雅致 ES(EP) 1496c.c. 5D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1496C.C</span><span class="col-xs-6 col-sm-4 text-right">57.5萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09160300&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)／Yaris 1.5GBG 5D A4</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">57.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09160500&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)／Yaris 1.5GDG 5D A4</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">57.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09161200&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產) /Yaris/NEW Yaris NCP150L-AHPGKR GN 1500c.c. 4D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">57.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09160700&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)／Yaris 1.5SBG 5D A4</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">58.5萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09161400&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產) /Yaris/Yaris 經典style+ 1500c.c. 4D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">58.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09160600&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)／Yaris 1.5GHG 5D A4</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">59.5萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09161700&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產) /Yaris/Yaris 經典 GF(GQ) 1496c.c. 5D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1496C.C</span><span class="col-xs-6 col-sm-4 text-right">59.5萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09161800&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產) /Yaris/Yaris 經典+ GE(GQ) 1496c.c. 5D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1496C.C</span><span class="col-xs-6 col-sm-4 text-right">60.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09160800&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)／Yaris 1.5SSG 5D A4</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">61萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09160900&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)／Yaris 1.5SDG 5D A4</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">61.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09161100&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產) /Yaris/NEW Yaris NCP150L-AHPGKR GO 1500c.c. 4D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">61.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09161500&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產) /Yaris/Yaris 豪華style+ 1500c.c. 4D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">62.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09161900&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產) /Yaris/Yaris 豪華 GR 1496c.c. 5D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1496C.C</span><span class="col-xs-6 col-sm-4 text-right">63.5萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09162100&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)/Yaris 經典S SF(SP) 1496c.c. 5D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1496C.C</span><span class="col-xs-6 col-sm-4 text-right">63.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09161000&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)／Yaris 1.5SHG 5D A4</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1500C.C</span><span class="col-xs-6 col-sm-4 text-right">64萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09162000&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產) /Yaris/Yaris 豪華+ GS(GR) 1496c.c. 5D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1496C.C</span><span class="col-xs-6 col-sm-4 text-right">64.9萬</span></span></a><a href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0200/prompt#" class="list-group-item col-xs-12 modelfullborder" onclick="doSelectCarModel(&#39;09162200&#39;);return false;"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5">國瑞(國產)/Yaris 豪華S SS(SQ) 1496c.c. 5D 5人座</span><hr class="visible-xs hr-orange"><span class="col-xs-1 col-sm-1"></span><span class="col-xs-11 col-sm-5 text-left" style="padding:0px"><span class="col-xs-6 col-sm-6 text-left">1496C.C</span><span class="col-xs-6 col-sm-4 text-right">67.9萬</span></span></a></div>   
													</div>	       
												</div>	             
										</section>
									</div>                                    	     
								</div>     
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">排氣量/馬力</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" id="engineExhaust" name="engineExhaust" title="排氣量/馬力" maxlength="4" onblur="doCheckEngineExhaust();" autocomplete="off" readonly="">
														<em id="engineExhaust_msg" class="error" style="display: none;"></em>
													</div>
													<span>立方公分/hp</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup">
									<label class="inlineGroup__label">載運人數/載重</label>
									<div class="inlineGroup__input">
										<div class="row">
											<div class="col-md-9 col-sm-12">
												<div class="groupOneblock">
													<div data-form="single">
														<input type="text" id="maximumLoad" name="maximumLoad" title="載運人數/載重" maxlength="2" onblur="doCheckMaximumLoad();" autocomplete="off" readonly="">
														<em id="maximumLoad_msg" class="error" style="display: none;"></em>
													</div>
													<span>人/噸</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="inlineGroup">
									<label class="inlineGroup__label">引擎號碼</label>
									<div class="inlineGroup__input">
										<div data-form="single">
											<input type="text" class="toUpperFormat" autocomplete="off" name="engineNo" id="engineNo" maxlength="25" placeholder="無引擎號碼，請輸入車身號碼" onblur="doCheckEngineNo();">
											<em id="engineNo_msg" class="error"></em>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="category">
						<div class="category__head">
							<div class="categoryHead">
								<div class="categoryHead__title">保險日期</div>
							</div>
						</div>
						<div class="category__content category__content--lg">
							<div id="divInsure02">
								<!-- Block Group -->
								<div class="blockGroup">
									<input type="checkbox" name="insure_02" id="insure_02" data-changecontrol="insure_02" onchange="chgInsure02();" autocomplete="off" disabled="">
									<label for="insure_02" style="font-weight: bold;" id="lblCompulYN">依強制汽車責任保險法規定，本次須投保強制險<a href="javascript:;" class="link link--notice" onclick="alertMsg(&#39;依強制汽車責任保險法規定，為避免您強制險保期中斷遭稽查罰鍰或重複投保，已即時連線強制責任保險資訊平台，查詢您的投保紀錄與保期，因此無法手動修改強制險起保日。&#39;,null,null,&#39;提醒您&#39;);"><i class="bobeIcon iInfo"></i></a></label>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup" data-changeshowblock="insure_02">
									<label class="inlineGroup__label" style="font-weight: normal;">強制險預定生效日期：</label>
									<div class="inlineGroup__input">
										<div class="inputInline inputInline--md">
											<span id="spanCompul">自2019/06/06中午12時起，保期一年</span>
										</div>
									</div>
								</div>
							</div>
							<div class="borderBottom borderBottom--dashed">
								<div class="">
									<span id="compulMsg" style="font-weight: bold;"></span>
								</div>
								<div id="divInsure02X" style="display: none;"></div>
							</div>
							<div class="inlineGroup">
								<em id="compulStartDate_msg" class="error" style="display: none;"></em>
							</div>
							<input type="hidden" id="compulStartDate" name="compulStartDate" autocomplete="off" value="2019-06-06">
							<input type="hidden" id="tmpCompulStartDate" name="tmpCompulStartDate" autocomplete="off" value="2019-06-06">
							<div id="highCarDiv" class="mainAction__wording noticeBlock noticeBlock--withIconTips" style="display:none;">
								<div class="noticeBlock__content" style="text-align: left;">
									<span class="bobeIconText fPrompt">
									基於核保政策考量，本公司僅提供您強制險。若您仍希望購買其他商品，歡迎洽詢全省服務據點臨櫃辦理。造成您的不便，敬請見諒。
									</span>
								</div>
							</div>
							<div class="borderBottom borderBottom--dashed" id="divInsure03" style="display: block;">
								<!-- Block Group -->
								<div class="blockGroup">
									<input type="checkbox" name="insure_03" id="insure_03" data-togglecontrol="insure_03" onclick="doCheckInsure03();" autocomplete="off">
									<label for="insure_03" style="font-weight: bold;">我要投保任意險</label>
								</div>
								<!-- Inline Group -->
								<div class="inlineGroup showControlOpen" data-toggleblock="insure_03">
									<label class="inlineGroup__label inlineGroup__label--special" style="font-weight: normal;">任意險預定生效日期：</label>
									<div class="inlineGroup__input">
										<!-- Radio Inline -->
										<div class="radioBlock" id="divVoluntary01" style="display: block;">
											<input type="radio" value="1" name="voluntary" id="voluntary_01" onchange="doCheckVoluntary();" autocomplete="off">
											<label for="voluntary_01" id="lbVoluntary01">同強制險保期2019/06/06中午12時起，保期一年</label>
										</div>
										<div class="radioBlock radioBlock--custom">
											<input type="radio" value="2" name="voluntary" id="voluntary_02" onchange="doCheckVoluntary();" autocomplete="off">
											<label for="voluntary_02">自訂</label>
											<div data-form="single" class="endDateForm">
												<input type="text" class="bobeDatepicker hasDatepicker" id="endDate" name="endDate" onchange="doCheckEndDate(&#39;N&#39;);" autocomplete="off">
											</div>
											<span>中午12時起，保期一年</span>
										</div>
										
									</div>
									<div class="inlineGroup borderBottom borderBottom--dashed">
										<span id="businessMsg"></span>
									</div>
								</div>
								<input type="hidden" id="businessStartDate" name="businessStartDate" autocomplete="off">
								<input type="hidden" id="sameAsForceDate" name="sameAsForceDate" autocomplete="off" value="2019-06-06">
								<input type="hidden" id="tmpEndDate" name="tmpEndDate" autocomplete="off">
								<input type="hidden" id="n_true_title" name="n_true_title" autocomplete="off">
								<input type="hidden" id="n_false_title" name="n_false_title" autocomplete="off">
								<input type="hidden" id="n_true_desc" name="n_true_desc" autocomplete="off">
								<input type="hidden" id="n_false_desc" name="n_false_desc" autocomplete="off">
								<div class="inlineGroup">
									<em id="businessStartDate_msg" class="error" style="display: none;"></em>
								</div>
							</div>			                    			                        
						</div>
					</div>
					<div class="category" id="eventDiv" style="display:none">
						<div class="category__head">
							<div class="categoryHead">
								<div class="categoryHead__title">活動代碼</div>
								<div class="categoryHead__hint">（若無活動代碼可不輸入）</div>
							</div>
						</div>
						<div class="category__content category__content--lg">
							<!-- Inline Group -->
							<div class="inlineGroup">
								<label class="inlineGroup__label">活動代碼：</label>
								<div class="inlineGroup__input">
									<div class="">
										<input type="text" id="actCode" name="actCode" value="" maxlength="10" autocomplete="off">
									</div>
									<!-- <label class="errorText">錯誤訊息</label> -->
								</div>
							</div>
						</div>
					</div>
					<div class="category" id="pontaDiv" style="display:none">
						<div class="category__head">
							<div class="categoryHead">
								<div class="categoryHead__title">得易Ponta會員活動</div>
								<div class="categoryHead__hint"></div>
							</div>
						</div>
						<div class="category__content category__content--lg">
							<div class="gutters-out-md-v">
								<input type="checkbox" id="pontaCheckbox" name="pontaCheckbox" value="pontaCheckbox" onchange="doCheckPonta()" autocomplete="off">
								<label for="pontaCheckbox" class="checkboxMultiline">我同意於本次投保成功後，由國泰產險提供得易Ponta投保日期及會員卡號資訊，以利後續得易Ponta贈送點數作業進行。
								</label>
							</div>
							<div class="inlineGroup">
								<label class="inlineGroup__label inlineGroup__label--twoline">請輸入得易Ponta會員卡號：</label>
								<div class="inlineGroup__input">
									<div class="row">
										<div class="col-md-3 col-xs-3 pontaDiv">
											<input id="pontaCardNo1" title="Ponta會員卡號1" class="pontaInput" type="text" value="8888" readonly="true" size="4" maxlength="4" onkeyup="autoTab(this)" disabled="" autocomplete="off">
										</div>
										<div class="col-md-3 col-xs-3 pontaDiv">
											<input id="pontaCardNo2" title="Ponta會員卡號2" class="pontaInput" type="text" size="4" maxlength="4" onkeyup="autoTab(this)" onblur="doCheckPonta()" disabled="" autocomplete="off">
										</div>
										<div class="col-md-3 col-xs-3 pontaDiv">
											<input id="pontaCardNo3" title="Ponta會員卡號3" class="pontaInput" type="text" size="4" maxlength="4" onkeyup="autoTab(this)" onblur="doCheckPonta()" disabled="" autocomplete="off">
										</div>
										<div class="col-md-3 col-xs-3 pontaDiv">
											<input id="pontaCardNo4" title="Ponta會員卡號4" class="pontaInput" type="text" size="4" maxlength="4" onblur="doCheckPonta()" disabled="" autocomplete="off">
										</div>
									</div>
								</div>
							</div>
							<em id="ponta_msg" class="error" style="display: none;"></em>
						</div>
					</div>
					<div class="mainAction mainAction--two ">
						<div class="mainAction__wording" id="divLogin2" style="display: none;">為利於快速投保，可先進行 <a href="javascript:void(0);" id="linkLogin2" class="link link--alert link--border" title="登入" onclick="doLoginThisPage();"><span>登入</span></a> 以便帶出您在本公司留存的資料！</div>	
						<div class="mainAction__btn">
							<a href="javascript:void(0);" id="linkBack2" class="bobebtn bobebtn--minor" title="返回" onclick="goPrev();">
								<span>返回</span>
							</a>
							<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkNextStep" title="下一步" onclick="doNext();">
								<span>下一步</span>
							</a>
						</div>
					</div>
				</div>
			</form>
			
		</section>
		<!-- fancybox -->
		<!-- 帶入我的車輛資料 -->
		<div class="popup popup--sm" id="carinformationBox">
			<div class="popup__content" id="commonUseCarData">
			<!-- 此處為動態Ajax新增 -->
			</div>
		</div>
		<!-- 帶入應續保車輛 -->
		<div class="popup popup--sm" id="continueinformationBox">
			<div class="popup__content" id="commonContinuePolicy">
			<!-- 此處為動態Ajax新增 -->
			</div>
		</div>
		<div class="text-center" id="div_memberDataComplete" style="display:none;">
			<div class="col-sm-12" align="left" id="divMemberDataCompleteContent">
			</div>
			<div class="col-sm-12"><input class="btn-filled btn btn-lg mt32" id="goChangeMemberData" type="button" value="修改會員資料" autocomplete="off"></div>
			<div class="col-sm-12" align="center">點擊後直接引導至會員資料修改頁</div>
		</div>
		<div class="text-center" id="div_highRisk" style="display:none;">
			<div class="col-sm-12" align="left" id="divHighRiskContent">
			</div>
			<div class="col-sm-12"><input class="btn-filled btn btn-lg mt32" id="linkProcressPage" type="button" value="確定" autocomplete="off"></div>
			<div class="col-sm-12" align="center">點擊後導回流程頁</div>
		</div>
		<div class="popup popup--lg" id="idCarInfoImg">
			<div class="popup__content">
				<img class="background-image" src="./ECV20200_files/car_info.jpg">
			</div>
		</div>
		<div class="popup popup--md" id="div_preLoadDefaultData" style="display: none;">
			<div class="popup__content">
				<h4 class="mb15">歡迎回來</h4>
				<p class="mb10" id="preLoadDefaultContent">您有一筆編輯中的資料，請問您是否要將填寫過的資料帶入此頁?<br></p>
				<div class="mainAction mainAction--two" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkPreLoadDefaultDataN" title="否，重填" onclick="$.fancybox.close();"> <span>否，重填</span></a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkPreLoadDefaultDataY" title="是，帶入" onclick="processPreLoadDefaultData();"> <span>是，帶入</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="T5A">
			<div class="popup__head">
				<div class="link--notice">
					<i class="bobeIcon iInfo"></i>
					<span class="bobeIconText" id="T5Ah4Title">提醒您</span>
				</div>
			</div>
			<div class="popup__content">
				<div class="forceShowBr mb15 tac" id="T5Ah4" style="text-align: left; word-break: break-all;"></div>
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkT5A" title="我知道了" onclick="$.fancybox.close();">
							<span>我知道了</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="T5B">
			<div class="popup__head">
				<div class="link--notice">
					<i class="bobeIcon iInfo"></i>
					<span class="bobeIconText" id="T5Bh4Title">提醒您</span>
				</div>
			</div>
			<div class="popup__content">
				<div class="forceShowBr mb15 tac" id="T5Bh4" style="text-align: left; word-break: break-all;"></div>
				<div class="mainAction mainAction--two" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkT5BN" title="否，保期不變" onclick="chgBusinessDate();"> <span>否，保期不變</span></a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkT5BY" title="是，調整保期" onclick="chgBusinessDate(&#39;Y&#39;);"> <span>是，調整保期</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="errorMsgCompul">
			<div class="popup__head">
				<div class="link--notice">
					<i class="bobeIcon iInfo"></i>
					<span class="bobeIconText" id="errorTitleCompul">提醒您</span>
				</div>
			</div>
			<div class="popup__content">
				<div class="forceShowBr mb15 tac" id="errorContentCompul" style="text-align: left; word-break: break-all;"></div>
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkErrorCompul" title="我知道了" onclick="$.fancybox.close();">
							<span>我知道了</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="errorMsgDup">
			<div class="popup__head">
				<div class="link--notice">
					<i class="bobeIcon iInfo"></i>
					<span class="bobeIconText" id="errorTitleDup">提醒您</span>
				</div>
			</div>
			<div class="popup__content">
				<div class="forceShowBr mb15 tac" id="errorContentDup" style="text-align: left; word-break: break-all;"></div>
				<div class="mainAction mainAction--two" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkErrorDupN" title="取消" onclick="chgCancelFlag(&#39;Y&#39;);"> <span>取消</span></a>
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkErrorDupY" title="確認投保" onclick="chgCancelFlag(&#39;&#39;);"> <span>確認投保</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--sm" id="amlDataBox">
			<div class="popup__head">
				<div class="link--notice">
					<i class="bobeIcon iInfo"></i>
					<span class="bobeIconText" id="errorTitleAml">提醒您</span>
				</div>
			</div>
			<div class="popup__content">
				<div class="forceShowBr mb15 tac" id="errorContentAml" style="text-align: left; word-break: break-all;"></div>
				<div class="mainAction mainAction--single" style="word-break: break-all;">
					<div class="mainAction__btn" style="word-break: break-all;">
						<a href="javascript:void(0);" class="bobebtn bobebtn--major" title="確定" onclick="$.fancybox.close();">
							<span>確定</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- /build:content -->