<!-- build:content -->
	<div class="main-container">
		<!-- breadcrumb CAI-->
		<div class="breadcrumb-container"><div class="container"><ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkHomePage" title="首頁" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
					<span itemprop="name">首頁</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkInsurance" title="試算投保" href="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0220/prompt#">
					<span itemprop="name">試算投保</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
					<span itemprop="name">汽車險</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol></div></div>
		<!-- progress -->
		<section class="borderBottom">
			<div class="container container--sm">
				<div class="bobeProgress"><ul class="progressStep"><li class="progressStep__item prev">									<div class="progressStep__number">1</div>									<div class="progressStep__title">車籍資料</div>							</li><li class="progressStep__item active">									<div class="progressStep__number">2</div>									<div class="progressStep__title">選擇商品</div>							</li><li class="progressStep__item">									<div class="progressStep__number">3</div>									<div class="progressStep__title">資料填寫</div>							</li><li class="progressStep__item">									<div class="progressStep__number">4</div>									<div class="progressStep__title">資料確認</div>							</li><li class="progressStep__item">									<div class="progressStep__number">5</div>									<div class="progressStep__title">線上繳費</div>							</li><li class="progressStep__item">									<div class="progressStep__number">6</div>									<div class="progressStep__title">投保完成</div>							</li></ul></div>
			</div>
		</section>
		<!-- content -->
		<section class="container container--default">
			<div class="mainTitle mainTitle--withDesc h1">投保小幫手</div>
			<div class="mb20 tac">請回答以下問題，協助我們找出最適合您的車險商品</div>
			<div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
				<form method="post" action="http://10.176.18.196:8080/INSEBWeb/servlet/HttpDispatcher/ECV2_0220/prompt" id="form1" class="bobeForm">
					<input type="hidden" id="surveyNo" name="surveyNo" value="S1" autocomplete="off"> 
					<input type="hidden" id="answerBeforeResultStr" name="answerBeforeResultStr" value="" autocomplete="off"> 
					<input type="hidden" id="answerId" name="answerId" value="" autocomplete="off">
					<input type="hidden" id="trxUniKey" name="trxUniKey" value="e00405ffd28047d2ae7589a109941bfe" autocomplete="off">
					<input type="hidden" id="isSessionValid" name="isSessionValid" value="" autocomplete="off">
					<!-- carQuestionnaire Group -->
					<div class="carQuestionnaire">
						<div class="carQuestionnaire__head h4">請問您擔心的狀況?</div>
						<div class="carQuestionnaire__content">
							<div class="borderBottom borderBottom--dashed">
									<!-- Inline Group -->
									<div class="inlineGroup">
										<label class="inlineGroup__label" id="Q1_title"><span class="fAlert fPrompt" style="font-size:20px">*</span>請問車輛的主要使用者有幾位?</label>
										<div class="inlineGroup__input">
											<input type="hidden" name="Q1_size" id="Q1_size" value="" autocomplete="off">
											<input type="hidden" name="q_Q1" id="q_Q1" value="Q1" autocomplete="off">
											<div class="checkboxBlock">
														<input type="radio" name="Q1_Y" id="Q1-1" onclick="checkRequire(&#39;Q1&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q1-1">1位或2位</label>
													</div>
												<div class="checkboxBlock">
														<input type="radio" name="Q1_Y" id="Q1-2" onclick="checkRequire(&#39;Q1&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q1-2">3位以上</label>
													</div>
												<em id="errorQ1" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
							<div class="borderBottom borderBottom--dashed">
									<!-- Inline Group -->
									<div class="inlineGroup">
										<label class="inlineGroup__label" id="Q2_title"><span class="fAlert fPrompt" style="font-size:20px">*</span>請問車輛的駕駛人有哪些?(可複選)</label>
										<div class="inlineGroup__input">
											<input type="hidden" name="Q2_size" id="Q2_size" value="" autocomplete="off">
											<input type="hidden" name="q_Q2" id="q_Q2" value="Q2" autocomplete="off">
											<div class="checkboxBlock">
														<input type="checkbox" name="Q2_Y" id="Q2-1" onclick="checkRequire(&#39;Q2&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q2-1">車主</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q2_Y" id="Q2-2" onclick="checkRequire(&#39;Q2&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q2-2">車主的先生/太太</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q2_Y" id="Q2-3" onclick="checkRequire(&#39;Q2&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q2-3">車主的親人</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q2_Y" id="Q2-4" onclick="checkRequire(&#39;Q2&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q2-4">會借給朋友使用</label>
													</div>
												<em id="errorQ2" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
							<div class="borderBottom borderBottom--dashed">
									<!-- Inline Group -->
									<div class="inlineGroup">
										<label class="inlineGroup__label" id="Q3_title"><span class="fAlert fPrompt" style="font-size:20px">*</span>請問平時開車會載人嗎?</label>
										<div class="inlineGroup__input">
											<input type="hidden" name="Q3_size" id="Q3_size" value="" autocomplete="off">
											<input type="hidden" name="q_Q3" id="q_Q3" value="Q3" autocomplete="off">
											<div class="checkboxBlock">
														<input type="radio" name="Q3_Y" id="Q3-1" onclick="checkRequire(&#39;Q3&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q3-1">會，有其他乘客</label>
													</div>
												<div class="checkboxBlock">
														<input type="radio" name="Q3_Y" id="Q3-2" onclick="checkRequire(&#39;Q3&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q3-2">不會，只有我在開</label>
													</div>
												<em id="errorQ3" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
							<div class="borderBottom borderBottom--dashed">
									<!-- Inline Group -->
									<div class="inlineGroup">
										<label class="inlineGroup__label" id="Q4_title"><span class="fAlert fPrompt" style="font-size:20px">*</span>請問您的車輛有無固定的室內停車位?</label>
										<div class="inlineGroup__input">
											<input type="hidden" name="Q4_size" id="Q4_size" value="" autocomplete="off">
											<input type="hidden" name="q_Q4" id="q_Q4" value="Q4" autocomplete="off">
											<div class="checkboxBlock">
														<input type="radio" name="Q4_Y" id="Q4-1" onclick="checkRequire(&#39;Q4&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q4-1">有</label>
													</div>
												<div class="checkboxBlock">
														<input type="radio" name="Q4_Y" id="Q4-2" onclick="checkRequire(&#39;Q4&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q4-2">無</label>
													</div>
												<em id="errorQ4" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
							<div class="borderBottom borderBottom--dashed">
									<!-- Inline Group -->
									<div class="inlineGroup">
										<label class="inlineGroup__label" id="Q5_title"><span class="fAlert fPrompt" style="font-size:20px">*</span>請問您經常行駛的路線為? (可複選)</label>
										<div class="inlineGroup__input">
											<input type="hidden" name="Q5_size" id="Q5_size" value="" autocomplete="off">
											<input type="hidden" name="q_Q5" id="q_Q5" value="Q5" autocomplete="off">
											<div class="checkboxBlock">
														<input type="checkbox" name="Q5_Y" id="Q5-1" onclick="checkRequire(&#39;Q5&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q5-1">市區或高速公路</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q5_Y" id="Q5-2" onclick="checkRequire(&#39;Q5&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q5-2">沿海或低窪地區</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q5_Y" id="Q5-3" onclick="checkRequire(&#39;Q5&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q5-3">偏僻郊區或鄉間產業道路</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q5_Y" id="Q5-4" onclick="checkRequire(&#39;Q5&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q5-4">山區道路</label>
													</div>
												<em id="errorQ5" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
							<div class="borderBottom borderBottom--dashed">
									<!-- Inline Group -->
									<div class="inlineGroup">
										<label class="inlineGroup__label" id="Q6_title"><span class="fAlert fPrompt" style="font-size:20px">*</span>請問發生事故時，您最在乎的保障對象及項目? (可複選)</label>
										<div class="inlineGroup__input">
											<input type="hidden" name="Q6_size" id="Q6_size" value="" autocomplete="off">
											<input type="hidden" name="q_Q6" id="q_Q6" value="Q6" autocomplete="off">
											<div class="checkboxBlock">
														<input type="checkbox" name="Q6_Y" id="Q6-1" onclick="checkRequire(&#39;Q6&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q6-1">開車的駕駛人受傷</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q6_Y" id="Q6-2" onclick="checkRequire(&#39;Q6&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q6-2">事故對方或路邊波及的行人受傷</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q6_Y" id="Q6-3" onclick="checkRequire(&#39;Q6&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q6-3">自己車輛的損害</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q6_Y" id="Q6-4" onclick="checkRequire(&#39;Q6&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q6-4">事故對方車輛或周邊物品的損害</label>
													</div>
												<em id="errorQ6" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
							<div class="borderBottom borderBottom--dashed">
									<!-- Inline Group -->
									<div class="inlineGroup">
										<label class="inlineGroup__label" id="Q7_title">請問發生事故時，您希望保險公司提供甚麼保障? (可複選)</label>
										<div class="inlineGroup__input">
											<input type="hidden" name="Q7_size" id="Q7_size" value="" autocomplete="off">
											<input type="hidden" name="q_Q7" id="q_Q7" value="Q7" autocomplete="off">
											<div class="checkboxBlock">
														<input type="checkbox" name="Q7_N" id="Q7-1" onclick="checkRequire(&#39;Q7&#39;,&#39;N&#39;)" autocomplete="off">
														<label for="Q7-1">把車輛拖離事故現場的拖吊、交通費用</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q7_N" id="Q7-2" onclick="checkRequire(&#39;Q7&#39;,&#39;N&#39;)" autocomplete="off">
														<label for="Q7-2">臨時拋錨、沒電提供道路救援</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q7_N" id="Q7-3" onclick="checkRequire(&#39;Q7&#39;,&#39;N&#39;)" autocomplete="off">
														<label for="Q7-3">修復事故車輛期間的交通費用</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q7_N" id="Q7-4" onclick="checkRequire(&#39;Q7&#39;,&#39;N&#39;)" autocomplete="off">
														<label for="Q7-4">尋回失竊車輛期間的交通費用(此項目須投保竊盜損失險)</label>
													</div>
												<em id="errorQ7" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
							<div class="borderBottom borderBottom--dashed">
									<!-- Inline Group -->
									<div class="inlineGroup">
										<label class="inlineGroup__label" id="Q8_title">除了以上，請問您還希望有哪些額外保障? (可複選)</label>
										<div class="inlineGroup__input">
											<input type="hidden" name="Q8_size" id="Q8_size" value="" autocomplete="off">
											<input type="hidden" name="q_Q8" id="q_Q8" value="Q8" autocomplete="off">
											<div class="checkboxBlock">
														<input type="checkbox" name="Q8_N" id="Q8-1" onclick="checkRequire(&#39;Q8&#39;,&#39;N&#39;)" autocomplete="off">
														<label for="Q8-1">因事故造成預定行程被延誤的補償金</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q8_N" id="Q8-2" onclick="checkRequire(&#39;Q8&#39;,&#39;N&#39;)" autocomplete="off">
														<label for="Q8-2">探視對方傷者的慰問金</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q8_N" id="Q8-3" onclick="checkRequire(&#39;Q8&#39;,&#39;N&#39;)" autocomplete="off">
														<label for="Q8-3">出遊中遇到事故或車輛失竊的住宿補貼</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q8_N" id="Q8-4" onclick="checkRequire(&#39;Q8&#39;,&#39;N&#39;)" autocomplete="off">
														<label for="Q8-4">涉及訴訟時，聘請律師的費用</label>
													</div>
												<em id="errorQ8" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
							<div class="borderBottom borderBottom--dashed">
									<!-- Inline Group -->
									<div class="inlineGroup">
										<label class="inlineGroup__label" id="Q9_title"><span class="fAlert fPrompt" style="font-size:20px">*</span>請問您希望您的車輛，在何種狀況下可以獲得保障?(可複選)</label>
										<div class="inlineGroup__input">
											<input type="hidden" name="Q9_size" id="Q9_size" value="" autocomplete="off">
											<input type="hidden" name="q_Q9" id="q_Q9" value="Q9" autocomplete="off">
											<div class="checkboxBlock">
														<input type="checkbox" name="Q9_Y" id="Q9-1" onclick="checkRequire(&#39;Q9&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q9-1">與其他車輛發生碰撞</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q9_Y" id="Q9-2" onclick="checkRequire(&#39;Q9&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q9-2">停放路邊或停車場被刮到或碰撞</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q9_Y" id="Q9-3" onclick="checkRequire(&#39;Q9&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q9-3">不小心撞到山壁、行道樹、分隔島或路燈等</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q9_Y" id="Q9-4" onclick="checkRequire(&#39;Q9&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q9-4">被墜落物品砸壞</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q9_Y" id="Q9-5" onclick="checkRequire(&#39;Q9&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q9-5">行駛不慎翻車</label>
													</div>
												<div class="checkboxBlock">
														<input type="checkbox" name="Q9_Y" id="Q9-6" onclick="checkRequire(&#39;Q9&#39;,&#39;Y&#39;)" autocomplete="off">
														<label for="Q9-6">遭遇火災、閃電、雷擊、爆炸等意外</label>
													</div>
												<em id="errorQ9" class="error" style="display: none;"></em>
										</div>
									</div>
								</div>
							</div>
					</div>
				</form>
				<div class="mainAction mainAction--mofixed mainAction--two">
					<div class="mainAction__btn">
						<a href="javascript:void(0);" onclick="goECV20210()" class="bobebtn bobebtn--minor"> <span>回商品選擇</span></a>
						<a href="javascript:void(0);" onclick="goNext()" class="bobebtn bobebtn--major"><span>完成</span></a>
					</div>
				</div>
				<div class="popup popup--sm" id="errorMsgV0220001">
					<div class="popup__head">
						<div class="link--notice">
							<i class="bobeIcon iInfo"></i>
							<span class="bobeIconText" id="v0220001ErrorTitle"></span>
						</div>
					</div>
					<div class="popup__content">
						<div class="mb15 tac" style="text-align: left; word-break: break-all;" id="v0220001ErrorContent"></div>
						<div class="mainAction mainAction--single" style="word-break: break-all;">
							<div class="mainAction--two" style="word-break: break-all;">
									<a href="javascript:void(0);" class="bobebtn bobebtn--minor" id="linkErrorSpe1" title="返回" onclick="goECV20200();">
										<span>返回</span>
									</a>
									<a href="javascript:void(0);" class="bobebtn bobebtn--major" id="linkErrorSpe2" title="重選" onclick="$.fancybox.close();">
										<span>重選</span>
									</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</section>
	</div>
<!-- /build:content -->