<!-- build:body -->insurance business<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <div class="navbar-right">
            <a href="../bobe/car/ECV20100.html" class="btn btn-red">聯繫風險顧問</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="banner business owl-carousel" style="background-color: #44b6ba;">
        <div class="item">
            <img src="../img/commercial-ins/PFB3_0100/banner.png" height="312" class="d-none d-md-block" srcset="../img/commercial-ins/PFB3_0100/banner@2x.png" />
            <img src="../img/commercial-ins/PFB3_0100/banner-sm.png" height="176" class="d-block d-md-none" srcset="../img/commercial-ins/PFB3_0100/banner-sm@2x.png" />
            <div class="container">
                <div class="caption">
                    <h1>
                        企業財產保險<br/>
                        損害防阻服務
                    </h1>
                    <div class="desp">
                        技術本位 ‧專業服務
                    </div>
                    <div class="action mt-2">
                        <a href="../helper/8-4-0.html" class="btn btn-default">立即聯繫風險規劃顧問</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/commercial-ins/PFB3_0100/banner.png" height="312" class="d-none d-md-block" srcset="../img/commercial-ins/PFB3_0100/banner@2x.png" />
            <img src="../img/commercial-ins/PFB3_0100/banner-sm.png" height="176" class="d-block d-md-none" srcset="../img/commercial-ins/PFB3_0100/banner-sm@2x.png" />
            <div class="container">
                <div class="caption">
                    <h1>
                        國泰車險線上投保<br/>
                        強制險現折$250，其他險種87折
                    </h1>
                    <div class="desp">
                        再抽 Gogoro2，優惠只到 4/30 唷！
                    </div>
                    <div class="action mt-2">
                        <a  href="../bobe/car/ECV20100.html" class="btn btn-default">試算投保</a>
                        <a href="#" class="btn btn-outline-reverse">看活動說明</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">損害防阻服務 </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="section promotion is-relax " data-id="special">
            <h1 class="section-title d-none d-sm-block d-md-block">全方位的企業財產風險諮詢與服務</h1>
            <div class="row mt-4">
                <div class="col-md-6 offset-lg-1 d-none d-sm-block d-md-block">
                    <img src="../img/commercial-ins/PFB3_0100/property-2.png" height="289" srcset="../img/commercial-ins/PFB3_0100/property-2@2x.png">
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="item mt-2">
                        <div class="icon">
                            <i class="icon-check-handwrite i-32"></i>
                        </div>
                        <div class="content">
                            <h3 class="mb-1">提供風險管理嶄新思維</h3> 
                            <div class="description">
                                不同視角全面檢視各類風險
                            </div>
                        </div>
                    </div>
                    <div class="item mt-2">
                        <div class="icon">
                            <i class="icon-check-handwrite i-32"></i>
                        </div>
                        <div class="content">
                            <h3 class="mb-1">有效降低財產損失機率</h3> 
                            <div class="description">
                                降低財產損失與人員傷亡
                            </div>
                        </div>
                    </div>
                    <div class="item mt-2">
                        <div class="icon">
                            <i class="icon-check-handwrite i-32"></i>
                        </div>
                        <div class="content">
                            <h3 class="mb-1">
                                達成企業持續營運目標
                            </h3> 
                            <div class="description">
                                安全即是永續經營的基石
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="section is-relax" data-id="known">
        <h1 class="section-title">三分鐘了解損害防阻服務</h1>
        <div class="tab-container is-green">
            <div class="tab-header">
                
            </div>
            <div class="tab-pane">
                <div class="tab-content active pt-0" data-tab-id="range">
                    <div class="container p-0 p-md-2">
                        <h3 class="tab-title">您可以選擇的優質服務有…</h3>
                        <div class="owl-carousel insurance-card">
                            <div class="card basic border-0">
                                <div class="image">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-1.png" class="d-none d-md-block">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-1-sm.png" class="d-block d-md-none">
                                </div>
                                <div class="content">
                                    <h2 class="title">損害防阻風險建議</h2>
                                    <p class="description">執行風險查勘並提供損害防阻建議書予企業客戶參考。</p>
                                </div>
                            </div>
                            <div class="card basic border-0">
                                <div class="image">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-2.png" class="d-none d-md-block" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-2@2x.png">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-2-sm@2x.png" class="d-block d-md-none" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-2-sm@2x.png">
                                </div>
                                <div class="content">
                                    <h2 class="title">企業風險講習</h2>
                                    <p class="description">企業風險講習之議題可依客戶需求提供客製化課程內容。</p>
                                </div>
                            </div>
                            <div class="card basic border-0">
                                <div class="image">
                                        <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-3.png" class="d-none d-md-block" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-3@2x.png">
                                        <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-3-sm@2x.png" class="d-block d-md-none" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-3-sm@2x.png">
                                </div>
                                <div class="content">
                                    <h2 class="title">損害防阻研討會</h2>
                                    <p class="description">研討會課程內容係依據產業界時下較為關注之議題進行。</p>
                                </div>
                            </div>
                            <div class="card basic border-0">
                                <div class="image">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-4.png" class="d-none d-md-block" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-4@2x.png">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-4-sm@2x.png" class="d-block d-md-none" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-4-sm@2x.png">
                                </div>
                                <div class="content">
                                    <h2 class="title">人員避難逃生電腦模擬</h2>
                                    <p class="description">採用英國I.E.S公司之動態避難模擬軟體，針對建物內部隔間與收容人員進行模擬，以評估、避免或改善避難風險，並提供軟/硬體面之優化建議。</p>
                                </div>
                            </div>
                            <div class="card basic border-0">
                                <div class="image">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-5.png" class="d-none d-md-block" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-5@2x.png">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-5-sm@2x.png" class="d-block d-md-none" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-5-sm@2x.png">
                                </div>
                                <div class="content">
                                    <h2 class="title">企業天災風險評估</h2>
                                    <p class="description">採用以台灣地震及颱洪歷史資料庫來進行天災風險模擬與評估。</p>
                                </div>
                            </div>
                            <div class="card basic border-0">
                                <div class="image">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-6.png" class="d-none d-md-block" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-6@2x.png">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-6-sm@2x.png" class="d-block d-md-none" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-6-sm@2x.png">
                                </div>
                                <div class="content">
                                    <h2 class="title">機台設備耐震評估</h2>
                                    <p class="description">採用台灣「建築物耐震設計規範及解說」及美國SEMI S2規範，檢核設備抵抗滑移及傾倒之能力，評估設備既有固定是否足夠並提供額外加固設計建議。</p>
                                </div>
                            </div>
                            <div class="card basic border-0">
                                <div class="image">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-7.png" class="d-none d-md-block" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-7@2x.png">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-7-sm@2x.png" class="d-block d-md-none" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-7-sm@2x.png">
                                </div>
                                <div class="content">
                                    <h2 class="title">紅外線熱影像檢測</h2>
                                    <p class="description">針對場所內高低壓電氣盤面檢測，採用規範為台灣規範CNS、電工法規及美國規範NFPA、NETA。</p>
                                </div>
                            </div>
                            <div class="card basic border-0">
                                <div class="image">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-8.png" class="d-none d-md-block" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-8@2x.png">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-8-sm@2x.png" class="d-block d-md-none" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-8-sm@2x.png">
                                </div>
                                <div class="content">
                                    <h2 class="title">建築工程施工中風險查勘</h2>
                                    <p class="description">採用以台灣地震及颱洪歷史資料庫來進行天災風險模擬與評估。</p>
                                </div>
                            </div>
                            <div class="card basic border-0">
                                <div class="image">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-9.png" class="d-none d-md-block" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-9@2x.png">
                                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-p-9-sm@2x.png" class="d-block d-md-none" srcset="../img/commercial-ins/PFB3_0100/staf-traffic-p-9-sm@2x.png">
                                </div>
                                <div class="content">
                                    <h2 class="title">消防系統滅火效能可靠度評估 	</h2>
                                    <p class="description">針對消防水系統或氣體系統參照國內外相關法規，檢核消防系統性能及滅火效能可靠度評估。 	</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" data-tab-id="accident">
                    <div class="container">
                        <h3 class="tab-title">簡單四步驟，就可以完成理賠申請</h3>
                        <div class="progress">
                            <div class="progress-item">
                                <div class="image">
                                    <img src="../img/insurance/pay-step-1.png" srcset="../img/insurance/pay-step-1@2x.png">
                                </div>
                                <div class="number">1</div>
                                <div class="content">
                                    <h4>通知警察</h4>
                                    <p>撥打報警專線</p>
                                    <a href="tel:119" class="link">撥打119</a>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="image">
                                    <img src="../img/insurance/pay-step-2.png" srcset="../img/insurance/pay-step-2@2x.png">
                                </div>
                                <div class="number">2</div>
                                <div class="content">
                                    <h4>十日內通知本公司</h4>
                                    <p>撥打保險專員或聯繫客服</p>
                                    <a href="tel:0800-212-880" target="_blank" class="link">0800-212-880</a>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="image">
                                    <img src="../img/insurance/pay-step-3.png" srcset="../img/insurance/pay-step-3@2x.png">
                                </div>
                                <div class="number">3</div>
                                <div class="content">
                                    <h4>檢付理賠文件</h4>
                                    <p>線上檢附並申請</p>
                                    <a href="./auth-14-1-0.html" class="link">登入保戶中心</a>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="image">
                                    <img src="../img/insurance/pay-step-4.png" srcset="../img/insurance/pay-step-4@2x.png">
                                </div>
                                <div class="number">4</div>
                                <div class="content">
                                    <h4>等待理賠結果</h4>
                                    <p>線上查詢進度</p>
                                    <a href="./auth-14-1-0.html" class="link">登入保戶中心</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">企業經營難以完全避免事故災害</h1>
            <div class="cards situation">
                <img src="../img/insurance/situation-bg.png" class="bg d-none d-md-block" srcset="../img/insurance/situation-bg@2x.png">
                <div class="card">
                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-s-1.png" class="d-none d-md-block">
                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-s-1-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">祝融之災</h2>
                        <p>
                            火災事故造成財產損失與人員傷亡
                        </p>
                    </div>
                </div>
                <div class="card">
                        <img src="../img/commercial-ins/PFB3_0100/staf-traffic-s-2.png" class="d-none d-md-block">
                        <img src="../img/commercial-ins/PFB3_0100/staf-traffic-s-2-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">地牛翻身</h2>
                        <p>
                            地震事故造成財產損失與人員傷亡
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-s-3.png" class="d-none d-md-block">
                    <img src="../img/commercial-ins/PFB3_0100/staf-traffic-s-3-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">作風颱</h2>
                        <p>
                            颱風伴隨著強風豪雨，造成財產損失與人員傷亡
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sales-section">
        <div class="container">
            <h4 class="section-title">不懂保險沒關係，讓國泰來協助你量身訂做...</h4>
            <div class="sales-container">
                <h1 class="sales-title">
                <span>我想找</span>
                <div class="select d-block d-md-inline-block">
                    <select name="consultant-type" id="consultant-type" data-relate="true">
                    <option value="1" selected>火災風險顧問</option>
                    <option value="2">天災風險顧問</option>
                    </select>
                </div>
                <span class="d-none d-md-inline">，聊聊風險規劃</span>
                <div class="btn btn-outline-reverse btn-sm">立即聯繫</div>
                </h1>
                <div class="owl-carousel sales-caorusel" data-target="consultant-type" data-value="1">
                <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-01.png"></div>
                    <div class="content">
                    <div class="name">
                        <h2 class="title">丁國峰</h2>
                    </div>
                    <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                    </div>
                </div>
                <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-02.png"></div>
                    <div class="content">
                    <div class="name">
                        <h2 class="title">呂伍豐</h2>
                    </div>
                    <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                    </div>
                </div>
                <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-03.png"></div>
                    <div class="content">
                    <div class="name">
                        <h2 class="title">巫宇舜</h2>
                    </div>
                    <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                    </div>
                </div>
                <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-04.png"></div>
                    <div class="content">
                    <div class="name">
                        <h2 class="title">陳世璋</h2>
                    </div>
                    <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                    </div>
                </div>
                <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-05.png"></div>
                    <div class="content">
                    <div class="name">
                        <h2 class="title">陳勳傑</h2>
                    </div>
                    <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                    </div>
                </div>
                <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-06.png"></div>
                    <div class="content">
                    <div class="name">
                        <h2 class="title">丁國峰</h2>
                    </div>
                    <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                    </div>
                </div>
                <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/fire/Img_Business_Fire-07.png"></div>
                    <div class="content">
                    <div class="name">
                        <h2 class="title">彭溪泉</h2>
                    </div>
                    <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                    </div>
                    </div>
                </div>
                </div>
    
                <div class="owl-carousel sales-caorusel" data-target="consultant-type" data-value="2" style="display: none">
                    <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/weather/Img_Business_Weather-01.png"></div>
                    <div class="content">
                        <div class="name">
                        <h2 class="title">廖溪堃</h2>
                        </div>
                        <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                        </div>
                    </div>
                    </div>
                    <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/weather/Img_Business_Weather-02.png"></div>
                    <div class="content">
                        <div class="name">
                        <h2 class="title">陳世璋</h2>
                        </div>
                        <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                        </div>
                    </div>
                    </div>
                    <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/weather/Img_Business_Weather-03.png"></div>
                    <div class="content">
                        <div class="name">
                        <h2 class="title">巫宇舜</h2>
                        </div>
                        <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                        </div>
                    </div>
                    </div>
                    <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/weather/Img_Business_Weather-04.png"></div>
                    <div class="content">
                        <div class="name">
                        <h2 class="title">陳勳傑</h2>
                        </div>
                        <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                        </div>
                    </div>
                    </div>
                    <div class="card sales">
                    <div class="image auto-height"><img src="../img/consultant/weather/Img_Business_Weather-05.png"></div>
                    <div class="content">
                        <div class="name">
                        <h2 class="title">丁國峰</h2>
                        </div>
                        <div class="action">
                        <a href='#'><i class="icon-mail i-32"></i></a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section faq green-wave mb-0" data-id="faq">
        <img src="../img/insurance/wave.png" class="bg-wave" srcset="../img/insurance/wave@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">還需要其他協助嗎？</h1>
                </div>
                <div class="col-12 col-md-10 offset-md-1">
                    <h4>保後服務</h4>
                    <div class="accordions">
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>發生意外時，如何申請線上理賠？</h4>
                            </a>
                            <div class="accordion-body">
                                <article>
                                    <h4 class="title-border">線上理賠申請 </h4>
                                    <p>登入右上角的保戶中心，點擊「理賠中心」的「我要理賠」，並備齊以下資料：汽機車行照、駕駛人駕照、警方事故聯單，依照步驟填寫即可完成申請流程。(送出後約等待 1 天，會由理賠專員與您聯繫)</p>
                                    <h4 class="title-border">LINE 官方帳號申請</h4>
                                    <p>加入 「國泰產險」 Line 官方帳號，加入成功後即可點擊功能「我要理賠」，並可快速掌握理賠進度唷。 </p>
                                    <a href="#" class="btn btn-default">掃描 LINE 國泰產險官方條碼</a>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>我的車子沒電拋錨在路邊，接電要錢嗎？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-link btn-sm my-0 mr-0 text-white">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                    <h4>投保問題</h4>
                    <div class="accordions">
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>未投保汽（機）車強制責任保險中，會遭受如何之處罰？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>保險開始生效的日期，是什麼時候？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>什麼是第三人責任險？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="../helper/8-1-0.html" class="btn btn-link btn-sm my-0 mr-0 text-white">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="scrolldown">
        <i class="icon-arrow-down"></i>
    </div>
</main>

<!-- /build:content -->