<!-- build:body -->commercial-ins index<!-- /build:body -->
<!-- build:content -->
<main>
    <div class="banner commercial-ins">
        <img src="../img/commercial-ins/PFA1_0400/hero.png" height="312px" srcset="../img/commercial-ins/PFA1_0400/hero@2x.png" />
        <div class="container">
            <div class="caption">
                <h1>
                    不知何時會遇到風險？<br/>
                    國泰幫你量身定做基本保障<br/>
                    讓你專注在喜愛的事物上
                </h1>
                <div class="action mt-2">
                    <a href="../helper/8-4-0.html" class="btn btn-default">立即免費諮詢 </a>
                    <a href="./service-13-1-0.html" class="btn btn-outline-reverse">如何預防意外</a>
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-5" data-id='group'>
        <h4 class="section-title">
            國泰產險也保護了...
        </h4>
        <div class="cards group">
            <a href="group-1-2-1.html" class="card paded">
                <div class="content">
                    <h3>餐廳飲料店</h3>
                    <p>失火、爆炸、員工侵佔，意外總是在不經意時踏上門來，，看看頭家們都買什麼保障自己吧！</p>
                    <div class="more text-green">
                        <i class="icon-arrow-right"></i>
                        看更多
                    </div>
                </div>
            </a>
            <a href="#" class="card paded overlay-title">
                <div class="image">
                    <img src="../img/commercial-ins/PFA1_0400/Card2.jpg" height="280" class="d-none d-md-block">
                    <img src="../img/commercial-ins/PFA1_0400/Card2-sm.jpg" height="280" class="d-block d-md-none">
                </div>
                <div class="content">
                    <h3 class="m-0">辦公室(工作室)</h3>
                </div>
            </a>
            <a href="#" class="card paded green overlay">
                <div class="image">
                    <img src="../img/commercial-ins/PFA1_0400/Card3.jpg" height="280" class="d-none d-md-block">
                    <img src="../img/commercial-ins/PFA1_0400/Card3-sm.jpg" class="d-block d-md-none">
                    </div>
                <div class="content">
                    <h3>零售買賣</h3>
                    <p>不肖商人為了降低製造成本，惡意添加化工原料，下游廠商蒙受其害，代價難以估計...</p>
                    <div class="more">
                        <i class="icon-arrow-right"></i>
                        看更多
                    </div>
                </div>
            </a>
            <a href="#" class="card paded green overlay">
                <div class="image">
                    <img src="../img/commercial-ins/PFA1_0400/Card4.jpg" height="280" class="d-none d-md-block">
                    <img src="../img/commercial-ins/PFA1_0400/Card4-sm.jpg" class="d-block d-md-none">
                </div>
                <div class="content">
                    <h3>診所醫美</h3>
                    <p>失火、爆炸、員工侵佔，意外總是在不經意時踏上門來，看看頭家們都買什麼保障自己吧！</p>
                    <div class="more">
                        <i class="icon-arrow-right"></i>
                        看更多
                    </div>
                </div>
            </a>
            <a href="#" class="card paded overlay">
                <div class="content">
                    <h3>工廠製造</h3>
                    <p>發生自行撞到行道樹、護欄等狀況時，保「強制汽機車險附加駕駛人傷害保險」駕駛人也才可申請理賠，彌補強制險的不足。</p>
                    <div class="more text-green">
                        <i class="icon-arrow-right"></i>
                        看更多
                    </div>
                </div>
            </a>
            <a href="#" class="card paded overlay-title">
                <div class="image">
                    <img src="../img/commercial-ins/PFA1_0400/Card6.jpg" height="280" class="d-none d-md-block">
                    <img src="../img/commercial-ins/PFA1_0400/Card6-sm.jpg" class="d-block d-md-none">
                </div>
                <div class="content">
                    <h3 class="m-0">辛勤小農</h3>
                </div>
            </a>
        </div>
    </section>

    <section data-id="situation" class="situation">
        <div class="situation-container">
          <div class="situation-nav">
            <div class="container">
              <ul role="tab" class="tab">
                <li class="active"> <a role="tab-item" data-tab-id="climb">
                    <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                    <div class="icon">
                      <i class="icon-index-fire"></i>
                    </div>
                    <div class="text">火災爆炸</div></a>
                </li>
                <li> <a role="tab-item" data-tab-id="fami-essential">
                    <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                    <div class="icon">
                      <i class="icon-index-typhoon"></i>
                    </div>
                    <div class="text">地震颱風</div></a>
                </li>
                <li> <a role="tab-item" data-tab-id="business">
                    <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                    <div class="icon">
                      <i class="icon-index-accident"></i>
                    </div>
                    <div class="text">工安意外</div></a>
                </li>
                <li> <a role="tab-item" data-tab-id="work-outside">
                    <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                    <div class="icon">
                      <i class="icon-index-work"></i>
                    </div>
                    <div class="text">開店風險</div></a>
                </li>
                <li> <a role="tab-item" data-tab-id="healthy">
                    <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                    <div class="icon">
                      <i class="icon-index-health"></i>
                    </div>
                    <div class="text">業務過失</div></a>
                </li>
                <li> <a role="tab-item" data-tab-id="milestone">
                    <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                    <div class="icon">
                      <i class="icon-index-infosecurity"></i>
                    </div>
                    <div class="text">資安風險</div></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="situation-content">
            <div class="container">
              <div class="tab-pane">
                <div data-tab-id="climb" class="tab-content active">
                  <div class="row">
                    <div class="col-10 offset-2">
                        <h2><a href="./accident-1-3-1.html" class="text-black"><small>頭家苦淚誰來幫?</small>氣爆大火，附近店家立刻遭火焰吞噬</a></h2>
                        <a href="./accident-1-3-1.html" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                  </div>
                </div>
                <div data-tab-id="fami-essential" class="tab-content">
                    <div class="row">
                        <div class="col-10 offset-2">
                            <h2><a href="./accident-1-3-1.html" class="text-black"><small>天災頻傳財產一夕化為烏有</small>颱風登陸路牌壓死人、路燈爆炸災情慘....</a></h2>
                            <a href="./accident-1-3-1.html" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                        </div>
                    </div>
                </div>
                <div data-tab-id="business" class="tab-content">
                    <div class="row">
                        <div class="col-10 offset-2">
                            <h2><a href="./accident-1-3-1.html" class="text-black"><small>意外總是不經意來敲門</small>灌漿工程坍塌6人受困，消防隊員搶救中...</a></h2>
                            <a href="./accident-1-3-1.html" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                        </div>
                    </div>
                </div>
                <div data-tab-id="work-outside" class="tab-content">
                    <div class="row">
                        <div class="col-10 offset-2">
                            <h2><a href="./accident-1-3-1.html" class="text-black"><small>員工侵佔公款</small>台北市知名連鎖店員工，被控以多報少...</a></h2>
                            <a href="./accident-1-3-1.html" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                        </div>
                    </div>
                </div>
                <div data-tab-id="healthy" class="tab-content">
                    <div class="row">
                        <div class="col-10 offset-2">
                            <h2><a href="./accident-1-3-1.html" class="text-black"><small>業務過失起訴</small>檢診中心醫生誤判X光片為正常，遭到顧姓消費者...</a></h2>
                            <a href="./accident-1-3-1.html" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                        </div>
                    </div>
                </div>
                <div data-tab-id="milestone" class="tab-content">
                    <div class="row">
                        <div class="col-10 offset-2">
                            <h2><a href="./accident-1-3-1.html" class="text-black"><small>病毒造成營業中斷</small>電腦病毒造成重大營業損失....</a></h2>
                            <a href="./accident-1-3-1.html" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section data-id="sitemap" class="sitemap">
        <div class="container">
            <h4 class="section-title">國泰的服務，比我想的更全面...</h4>
            <div class="sitemap-container">
                <div class="row">
                    <div class="insurace-type">
                        <h3>火災保險</h3>
                        <ul>
                            <li><a href="#" class="item">火災保險</a></li>
                        </ul>
                    </div>
                    <div class="insurace-type">
                        <h3>海上保險</h3>
                        <ul>
                            <li><a href="#" class="item">貨物運輸保險</a></li>
                            <li><a href="#" class="item">船體漁船保險</a></li>
                            <li><a href="#" class="item">海上責任保險</a></li>
                        </ul>
                    </div>
                    <div class="insurace-type">
                        <h3>工程保險</h3>
                        <ul>
                            <li><a href="#" class="item">工程保險</a></li>
                        </ul>
                    </div>
                    <div class="insurace-type">
                        <h3>團體健康傷害險</h3>
                        <ul>
                            <li><a href="#" class="item">團體保險</a></li>
                            <li><a href="#" class="item">微型傷害保險</a></li>
                            <li><a href="#" class="item">志工團體保險</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="insurace-type">
                        <h3>公司經營風險</h3>
                        <ul>
                            <li><a href="#" class="item">產品財物保險</a></li>
                            <li><a href="#" class="item">場所經營保險</a></li>
                            <li><a href="#" class="item">僱主員工保險</a></li>
                            <li><a href="#" class="item">資訊安全保險</a></li>
                        </ul>
                    </div>
                    <div class="insurace-type">
                        <h3>執行業務風險</h3>
                        <ul>
                            <li><a href="#" class="item">執行業務保險</a></li>
                        </ul>
                    </div>
                    <div class="insurace-type">
                        <h3>服務</h3>
                        <ul>
                            <li><a href="#" class="item">損害防阻服務</a></li>
                            <li><a href="#" class="item">企業員工交通事故預防</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="statics">
        <div class="container">
            <h4 class="section-title">
            <img src="../img/common/main-line.png" srcset="../img/common/main-line@2x.png" height="79" class="main-line"><br>國泰產險持續在做最偉大的小事...</h4>
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="row static-container">
                        <div class="col-12 col-md-4">
                            <a href="./service-13-1-0.html" class="card static">
                                <div class="content text-center">
                                    <h1>
                                        災害預防
                                    </h1>
                                    <p class="description">風險管理</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                            <a href="./service-13-1-0.html" class="card static">
                                <div class="content text-center">
                                    <h1>
                                        消防安全
                                    </h1>
                                    <p class="description">火災模擬分析</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                            <a href="./service-13-1-0.html" class="card static">
                                <div class="content text-center">
                                    <h1>
                                        安全講習
                                    </h1>
                                    <p class="description">企業永續經營</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 text-right">
                            <a href="./service-13-1-0.html" class="text">
                                <i class="icon-arrow-right"></i>
                                <span>看更多</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5 pt-5">
                    <div class="row contact-block">
                        <a href="tel:0800036599" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-call i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">免付費專線</div>
                                <span class="d-none d-sm-block">0800-212-880</span>
                            </div>
                        </a>
                        <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-mail i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">寫信諮詢</div>
                                <span class="d-none d-sm-block">將有專人聯繫</span>
                            </div>
                        </a>
                        <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                            <div class="icon">
                                <div class="icon-location i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">服務據點</div>
                                <span class="d-none d-sm-block">查詢地址電話</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="scrolldown">
    <i class="icon-arrow-down"></i>
</div>
<!-- /build:content -->