.accordion-title
    font-size: 20px
    padding: $space-unit*2
    font-weight: bold

.accordions
    .accordion
        background: #FFF
        margin-bottom: 20px
        display: block
        // border: 1px solid #DCDFDF
        box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4)
        border-radius: 5px

        &:last-child
            margin-bottom: 0px

        .accordion-header
            position: relative
            display: block
            cursor: pointer
            h4
                padding: 24px 80px 24px 24px
                margin: 0
                font-weight: 500
            h3 
                padding: 30px 80px 30px 40px
                margin: 0

        .accordion-body
            display: none
            padding: 0 40px 30px 40px
            font-size: 16px

            h4 
                margin-top: 0
                margin-bottom: 10px
            p 
                font-size: 16px
                font-weight: 300
                line-height: 1.75
                + h4
                    margin-top: 20px

            h4, h5 
                margin-bottom: 10px

            h5 
                font-weight: bold
                line-height: 36px
                border-bottom: 1px solid $border-gray
            
            ul 
                list-style: disc
            ol, ul 
                padding-left: 20px

            .accordion-more
                display: block
                border-radius: 0 0 5px 5px
                background: #fbf9f6
                padding: 20px $space-unit*3
                margin-top: $space-unit*3
                margin-left: -$space-unit*5
                margin-right: -$space-unit*5
                margin-bottom: -30px

                a.link 
                    display: inline-block
                    margin-right: $space-unit*3
                    margin-bottom: $space-unit

    &.contract
        margin-bottom: $space-unit*6

        &:nth-last-child
            margin-bottom: 0
        &::before
            content: ''
            display: block
            width: 100%
            height: 4px
            background: $main-gradient
        .accordion
            background: none
            box-shadow: none
            border: 0
            margin-bottom: 0
            &:nth-child(3n-1)
                background: $bg-gray
            
            .accordion-body
                background: #E8E8E8
                padding-top: $space-unit*3
                ol 
                    list-style: decimal
                    margin-left: 20px

            .accordion-header
                display: flex 
                &::before,
                &::after
                    display: none
                .action
                    display: flex
                    align-items: center
                    align-content: center
                    .for-open
                        display: block
                    .for-close
                        display: none
                .content
                    flex: 1 0 auto
                    display: flex
                    > * 
                        padding: $space-unit*2
                    .name
                        width: 50%
                        @media screen and (min-width: 768px)
                            + .desc
                                max-width: 50%

            &.is-open .accordion-header
                .for-close
                    display: block
                .for-open
                    display: none

.accordion 
    .accordion-header
        position: relative
        color: $dark-gray
        .icon 
            position: absolute
            width: 24px
            height: 24px
            line-height: 24px
            text-align: center
            font-size: 24px
            right: 16px
            top: 0
            bottom: 0
            margin: auto

    &.menu
        margin-bottom: $space-unit*7
        .accordion-header
            margin-bottom: 10px
            &:before
                content: ""
                float: left
                display: block
                width: 6px
                height: 36px
                border-radius: 5px
                background: $main
            .icon
                top: 6px
                bottom: auto
            h4 
                margin: 0
                font-weight: bold
                padding-top: 6px
                padding-bottom: 6px
                padding-left: $space-unit*2
                padding-right: $space-unit*2
                line-height: 1.2
                // border-bottom: 1px solid $border-gray
        .accordion-body 
            .item
                position: relative
                // height: 48px
                line-height: 1.3
                padding: 6px $space-unit*2
                border-radius: 5px
                font-size: 16px
                &:after
                    content: ""
                    position: absolute
                    display: block
                    width: calc(100% + $space-unit*4)
                    height: 1px
                    bottom: 0
                    border-bottom: 1px solid $border-gray
                    margin-left: -$space-unit*2
                    margin-right: -$space-unit*2
                &.active
                    background: $main
                    color: #FFF


    &.is-open .accordion-header:not([href]) .icon
        transform: rotate(180deg)
    &.is-open .accordion-header[href] .icon
        transform: rotate(0deg)


@media screen and (max-width: 767px)
    .accordion-title
        padding: $space-unit/2 0
        color: $dark-gray
        font-size: 16px
        &.table-style
            color: #FFF
            background: $card-green
            text-align: center

    .accordions
        &.contract::before
            display: none
        &.contract 
            margin-bottom: $space-unit*6
            
            .accordion 
                border: 1px solid transparent
                border-radius: 5px
                &.is-open
                    border: 1px solid $main
                > .accordion-body
                    background: #FFF
                    padding: $space-unit $space-unit*2
                    article
                        padding: 0
                        color: $dark-gray
                .accordion-header 
                    .content
                        flex-direction: column
                        > *
                            padding-top: $space-unit
                            padding-bottom: $space-unit
                            width: 100% !important
                        .desc
                            font-size: 14px
                            // display: none
                    .action
                        padding-right: $space-unit
                        padding-top: $space-unit
                        align-content: flex-start
                        align-items: flex-start
                        .text
                            display: none

        .accordion
            .accordion-header
                h3, h4, .accordion-title
                    font-size: 18px
                    padding: $space-unit*2 $space-unit*4 $space-unit*2 $space-unit*2
                &::before
                    width: 2px
                    height: 14px
                    right: 22px
                &::after
                    right: 16px
                    width: 14px
                    height: 2px
                .icon
                    right: 8px
                    top: 5px

            .accordion-body
                font-size: 16px
                padding: 0 16px 10px
                
                .accordion-more
                    margin-left: -16px
                    margin-right: -16px
                    a.link
                        margin-top: $space-unit
                        margin-bottom: 0