.banner
    .quote
        margin-top: 50px
        big
            font-size: 36px
        small
            font-size: 20px
        &::before
            color: $main

    .prev,
    .next
        position: absolute
        top: 0
        bottom: 0
        width: 60px
        height: 60px
        margin: auto
        font-size: 14px
        color: $main
        text-align: center

        .circle
            background: #ffffff
            width: 40px
            height: 40px
            line-height: 40px
            display: block
            border-radius: 50px
            margin: auto

            > * 
                margin: 0
        .text
            margin-top: 5p
    .prev
        left: 20px
    .next
        right: 20px
        

@media screen and (max-width: 767px)
    .banner
        .prev,
        .next
            display: none