.cards
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
    margin: 0 -20px 20px
    justify-content: center
    justify-items: center
 
    &.five-cards > .card
        width: calc(20% - 20px)
    &.four-cards > .card
        width: calc(25% - 20px)
    &.two-cards > .card
        width: calc(50% - 20px)

    &.travel-card
        .card 
            padding: 0 !important
            > .content
                font-size: 16px
                padding: $space-unit*4 $space-unit*3 $space-unit*3 !important
                .item > b 
                    float: left
                    font-weight: bold
                    + span 
                        display: block 
                        margin-left: 50px
                + .extra
                    padding: $space-unit/2 $space-unit*4
                    color: #FFF
                    background: #8fd158
                    border-radius: 0 0 10px 10px

    .card
        width: calc(33% - 20px)
        margin: 0 10px 20px
        display: -webkit-flex
        display: -ms-flex
        display: flex
        box-shadow: 0 4px 4px 0 rgba(94, 109, 123, 0.14)

        .image
            padding-bottom: 0
            > img
                position: relative
                height: auto 
                max-width: none 
                width: 100%
                left: auto
                right: auto
                top: auto
                bottom: auto
                margin: auto
        
        .action
            font-size: 16px
            padding: 15px 20px
            a + a 
                margin-left: $space-unit*3

            &.collapse-trigger
                background: $bg-gray
                position: relative

                &::after
                    content: ""
                    position: absolute
                    display: block
                    bottom: 0
                    left: 50%
                    transform: translate(-50%,105%)
                    padding: 4px 25px
                    background: $bg-gray
                    border-radius: 16.5px
                    width: 120px
                    height: 20px
                    background: rgba(0,0,0,.15)
                    filter: blur(3px)
                    z-index: 0
                .more
                    position: absolute
                    bottom: 0
                    left: 50%
                    transform: translate(-50%,50%)
                    padding: 4px 20px
                    background: $bg-gray
                    border-radius: 16.5px
                    cursor: pointer
                    z-index: 2

                    &:hover,
                    &:focus
                        opacity: 1
        
        &[data-collapse]
            background: none
            box-shadow: none
            overflow: visible
            .content 
                min-height: 272px
                background: #FFF
                -webkit-box-flex: unset
                flex-grow: unset
                box-shadow: 0 4px 4px 0 rgba(94, 109, 123, 0.14)
                border-radius: 10px
                .title
                    margin: $space-unit*2 0 $space-unit
                .description
                    flex: 1
                    margin-top: 0
                    min-height: 52px
                
            .action
                margin-top: 0
                border-radius: 0 0 10px 10px
            .collapse,
            .action
                margin-left: -20px
                margin-right: -20px
        &[data-collapse]:nth-child(n+4)
            margin-top: $space-unit*8
        &[data-collapse].is-over-deadline
            filter: grayscale(100)
            color: $deep-gray
            * 
                color: $deep-gray
            .label
                color: #FFF
                background: $deep-gray !important
            .collapse
                display: block
            .action 
                display: none

        &[data-collapse].is-open
            .action.collapse-trigger
                .more > i 
                    display: inline-block
                    transform: rotate(180deg)

        .collapse
            font-size: 16px
            display: none
            background: $bg-gray
            padding: $space-unit*2 $space-unit*3

            div + div
                margin-top: $space-unit*1.5
        .content
            display: -webkit-flex
            display: -ms-flex
            flex-direction: column
            -webkit-box-flex: 1
            -ms-flex-positive: 1
            flex-grow: 1
            padding: $space-unit*3 20px
            .meta 
                font-size: 14px
                color: $gray
            .description 
                font-size: 16px
                -webkit-box-flex: 1
                -ms-flex-positive: 1
                flex-grow: 1
            .buttons
                display: flex 
                .btn 
                    padding: 0 $space-unit
                    min-width: 0
                    flex: 1
.edu-card
    position: relative
    display: -webkit-flex
    display: -ms-flex
    display: flex
    margin: 0 auto
    width: 100%
    flex-direction: row

    .content
        width: 300px
        padding: 0 $space-unit*2 $space-unit*2 $space-unit*6 
        h3 
            margin-top: 0
            margin-bottom: $space-unit*2 
            font-weight: bold
        p 
            font-size: 16px
            line-height: 1.5
        .btn
            min-width: 0
            margin-left: 0

    .image
        -webkit-box-flex: 1
        -ms-flex-positive: 1
        flex: 1
        img 
            width: 100%
        
    &.photo-container
        max-width: 940px
        padding-bottom: 46.808510638%
        img 
            position: absolute
            width: auto
            height: 100%
            left: -100%
            right: -100%
            margin: auto

    &.video-container
        max-width: 800px
        padding-bottom: 56.25%
        iframe
            position: absolute
            width: 100%
            height: 100%
            left: 0
            top: 0

    @media screen and (max-width: 960px)
        flex-direction: column
        .image > img
            border-radius: 10px 10px 0 0
        .content
            width: 100%
            padding: $space-unit*2 0

.flow-container
    position: relative
    display: flex
    justify-content: space-between
    .flow
        position: relative
        border: 2px solid #65ba93
        border-radius: 5px 0 0 5px
        flex: 1
        display: flex
        margin-right: 52px
        border-right-width: 0
        &::before
            content: ""
            position: absolute
            top: -4px
            right: -15px
            width: 2px 
            height: calc(50% + 8px)
            transform: rotate(-20deg)
            background: #65ba93
        
        &::after
            content: ""
            position: absolute
            bottom: -4px
            right: -15px
            width: 2px 
            height: calc(50% + 8px)
            transform: rotate(20deg)
            background: #65ba93
        .flow-header
            width: 36px
            color: #FFF
            background: #65ba93
            padding: 3px 10px

        .flow-body
            padding: $space-unit*2 0 $space-unit*2 $space-unit*2
            h3
                margin-top: $space-unit
                margin-bottom: $space-unit
            p, h3
                margin-bottom: 0

    &.with-arrow
        .flow
            border-radius: 5px
            border-right-width: 2px
            .flow-body
                padding: $space-unit*2 $space-unit*4 $space-unit*2 $space-unit*2
            &:last-child
                margin-right: 0
                &::after 
                    display: none

            &::before
                display: none 
            &::after 
                content: ""
                position: absolute
                border-left: 10px solid #65ba93
                border-right: 10px solid transparent
                border-top: 8px solid transparent
                border-bottom: 8px solid transparent
                border-radius: 2px
                display: block
                width: 0 !important
                height: 0 !important
                background: none
                top: 0
                bottom: 0
                transform: rotate(0deg)
                margin: auto 
                right: -44px

.progress
    width: 100%
    margin-bottom: $space-unit*8
    display: table
    table-layout: fixed
    .progress-item
        display: table-cell
        padding: 0 10px
        
        .image
            border-radius: 10px 10px 0 0
            img
                width: 100%
        > .number
            float: left
            font-size: 32px
            font-weight: bold
            + .content
                margin-left: 40px
        .content
            display: block
            padding: 10px 0 10px 10px
            > .number
                float: left
                font-weight: 600
                margin-right: 5px
                margin-top: 2px
                &::after
                    content: '.'
            h4 
                font-weight: bold
                margin: 5px 0 $space-unit/2
            p 
                line-height: 1.5
                margin-bottom: $space-unit*2
                font-size: 16px

                + a.item 
                    margin-top: -12px
            a.item 
                display: block
                font-size: 16px
                padding: $space-unit 0
                line-height: 1.35
                i[class*="icon-"] 
                    float: left
                    margin-top: 4px
                    + .text
                        display: block
                        margin-left: $space-unit*3
                

[class*="col-"] > .card.paded
    display: flex
    height: calc(100% - 116px)
    .content 
        flex: 1 0 0

.card
    position: relative
    flex-direction: column
    margin-bottom: 20px
    box-shadow: 0 4px 4px 0 rgba(94, 109, 123, 0.14)
    border-radius: 10px
    border: 1px solid $border-gray
    display: block
    background: #ffffff
    transition: transform .3s ease

    &:link:hover,
    &:link:focus
        opacity: 1 !important
        transform: scale(1.05)

    &.basic
        background: none
        box-shadow: none
        .image
            img 
                position: relative
                left: auto
                right: auto
                top: auto
                bottom: auto
        .content
            padding: $space-unit*3 $space-unit*2

    .ribbon
        position: absolute
        right: -12px
        top: 10px
        display: block
        line-height: 1
        border-radius: 2px
        background: $orange
        font-size: 14px
        color: #FFF
        padding: $space-unit/2 $space-unit
        &:after
            content: ''
            position: absolute
            right: 2px
            bottom: -8px
            width: 0
            height: 0
            border-right: 5px solid transparent
            border-left: 5px solid #D58617
            border-top: 4px solid #D58617
            border-bottom: 4px solid transparent

    &.horz
        display: -webkit-flex
        display: -ms-flex
        display: flex
        transition: transform .3s ease 

        &:hover,
        &:focus
            transform: scale(1.05)

        .content
            position: relative
            display: -webkit-flex
            display: -ms-flex
            display: flex
            flex-direction: column
            padding: $space-unit*3.5 $space-unit*3 $space-unit*4 !important
            width: 268px
            -webkit-box-flex: 1
            -ms-flex-positive: 1
            flex-grow: 1
            background: #FFF
            border-radius: 10px 0 0 10px
            z-index: 1
            .action
                margin-top: $space-unit*4.5
                padding: 0 !important
                .btn + .btn 
                    margin-left: 0
                    
            .description
                margin: 0
            h3 
                margin: 0 0 $space-unit*2
            .meta > .item
                padding: $space-unit/2 0
                margin-left: 0
                .text
                    display: block
                    margin-left: $space-unit*4
                > *
                    vertical-align: middle
                > [class*="icon-"]
                    float: left
                    margin-top: 5px
        .image
            position: absolute
            width: 100%
            height: 100%
            display: block
            overflow: hidden
            border-radius: 10px
            padding-bottom: 0
            z-index: 0
            img
                position: absolute
                left: auto 
                right: 0

    &.overlay-title
        overflow: hidden
        border-radius: 10px
        .image
            overflow: hidden
            padding: 0
            height: 100%
            border-radius: 10px
            img 
                height: 100%
                max-width: none 
        .content
            bottom: 0
            width: 100%
            position: absolute
            background-color: #FFF
            border-radius: 0 0 10px 10px
        &.paded .content
            padding: 20px $space-unit*4

    &.overlay
        overflow: hidden
        .image
            // padding-bottom: 73.684210526%
            border-radius: 10px
            overflow: hidden
            img
                display: block
                border-radius: 10px
        .content
            height: 100%
            left: 0
            bottom: 0
            width: 100%
            position: absolute
            opacity: 0.8
            background-color: #FFF
            border-radius: 10px
        &.green .content
            color: #FFF
            background: $main-gradient

    .image
        position: relative
        // padding-bottom: 54.736842105%
        overflow: hidden
        border-radius: 10px 10px 0 0
        img 
            position: absolute
            left: -100%
            right: -100%
            top: -100%
            bottom: -100%
            margin: auto
            height: 100%
            width: auto
            max-width: none
            transition: transform .3s ease

        &.auto-height
            padding-bottom: 0 !important
            line-height: 0
            img
                position: relative
                width: 100%
                height: auto
                top: auto
                bottom: auto
                left: auto
                right: auto

    &.is-green-border::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 8px
        background-image: $main-gradient
        border-radius: 10px 10px 0 0
        z-index: 9
    
    .content + .action
        padding: $space-unit 20px
    .action
        .btn
            min-width: 0
            margin: 0

        .buttons
            display: flex 
            margin-left: -$space-unit/2
            margin-right: -$space-unit/2
            .btn
                flex: 1
                margin: 0 $space-unit/2

    &.paded > .content
        padding: $space-unit*4 $space-unit*4 $space-unit*3
        + .action
            padding-left: 0
            padding-right: 0
            padding-bottom: $space-unit*3
    .content
        font-size: 16px
        color: $dark-gray
        padding: 20px 20px 15px
        
        a:link + a,
        a.link + a
            margin-left: $space-unit*3

        h1.no
            font-family: "Microsoft JhengHei", "微軟正黑體", "STHeitiTC-Light", "Microsoft YaHei", "微软雅黑", "新細明體", Arial, sans-serif
            font-size: 56px
            margin: 0 0 24px
            font-weight: 900
        
        .title
            margin: 0
            font-weight: bold

        .description
            font-size: 16px
            line-height: 26px
            margin-top: 15px
            white-space: initial
        .action
            margin-top: 20px

        p 
            font-size: 16px
            line-height: 1.5
        .meta
            color: $gray
            font-size: 14px
            margin-top: 15px
            line-height: 22px
            
        .more
            > * 
                line-height: 24px
                vertical-align: middle
            .icon-more-arrow
                margin-left: 5px

.cards.accident
    margin-left: -10px
    margin-right: -10px
    .card
        position: relative
        text-align: center
        display: block
        width: calc(25% - 20px)
        border: 1px solid $border-gray
        border-radius: 10px
        box-shadow: none
        padding: $space-unit*4 $space-unit*2
        background: $main-gradient
        box-shadow: 0 0px 0px -5px rgba(151,213,99,0.50)
        z-index: 0
        
        &::before
            content: ""
            position: absolute
            width: 100%
            height: 100%
            background: #FFF
            left: 0
            top: 0
            border-radius: 10px
            opacity: 1
            transition: opacity .3s ease
            z-index: 0
            border-radius: 8px

        > *
            position: relative
            z-index: 1

        .image 
            position: relative
            display: block
            width: 120px
            height: 120px
            line-height: 0
            margin: auto
            img
                position: absolute
                line-height: 0
                width: 120px
                height: 120px
                display: block
                top: 0
                left: 0
                right: 0
                margin: 0 auto
                &.hover
                    opacity: 0 !important
                &.default
                    opacity: 1

        
        .icon > i
            font-size: 120px
            color: $dark-gray
            transition: color .3s ease
        .content
            padding: $space-unit 0
            border-radius: 10px
            color: $dark-gray
            transition: color .3s ease
            h4 
                margin: 0
            .meta
                margin: 0
                line-height: 1
            .hashtag
                line-height: 1.24
                color: $light-gray
                font-size: 14px
                transition: color .3s ease
    
        &:hover
            box-shadow: 0 30px 50px -5px rgba(151,213,99,0.50)
            z-index: 9
            &::before
                opacity: 0
            .icon > i,
            .content .hashtag,
            .content
                color: #FFF
            
            .image img
                &.default
                    opacity: 0 !important
                &.hover
                    opacity: 1 !important

.cards.situation
    position: relative
    > img.bg
        position: absolute
        left: 0
        top: 0
        height: 456px
    .card
        height: 360px
        overflow: hidden
        img 
            position: absolute
            bottom: 0
            left: 0
            right: 0
            margin: auto
            width: 100%
            height: auto
            z-index: 0
        .content
            position: relative
            z-index: 1
            padding: $space-unit*5 $space-unit*4 0 !important
            h2.title
                margin-bottom: 24px

// body.activity 
.card.paded
    padding: 0 32px 16px 32px
    margin-top: 16px*6
    .image.auto-height
        position: relative
        top: -16px*6
        margin-bottom: -16px*5
        width: 100%
        // margin: -20px auto 0
        @media screen and (min-width: 768px)
            border-radius: 10px
    .content
        padding-top: 0
        padding-left: 0
        padding-right: 0

.card.sales
    .content
        display: -webkit-flex
        display: -ms-flex
        display: flex 
        flex-direction: row
        .name
            -webkit-box-flex: 1
            -ms-flex-positive: 1
            flex: 1
        .action
            margin-top: 0
            padding-left: $space-unit*2
            border-left: 1px solid $border-gray

            a, a:link
                color: $dark-gray

.cards.prompt
    padding-bottom: 54px
    .card 
        z-index: 1
        background: #FFFFFF
        border: 1px solid #E1E4E9
        box-shadow: 0 30px 40px -5px rgba(227,229,229,0.60)
        border-radius: 10px
        .content
            .title,
            .subtitle
                margin: 12px 0
            .subtitle
                font-weight: normal
            p.text
                font-size: 14px
                line-height: 1.25
                color: $gray
    &:after
        content: ''
        position: absolute
        width: 1016px
        height: 216px
        top: 200px
        left: 50%
        margin-left: -380px
        bottom: 0
        background: #F0F5F5
        display: block
        z-index: 0

.cards.group
    margin-left: -10px
    margin-right: -10px
    
    .card
        vertical-align: top
        display: inline-flex
        width: calc(33% - 20px)
        margin: 0 10px 20px
        height: 280px
        transform: scale(1)
        transition: all .3s ease
        border: solid 1px $table-line
        box-shadow: 0 30px 40px -5px rgba(227, 229, 229, 0.6)

        &.paded
            padding: 0 !important
            > .content
                padding: $space-unit*4 $space-unit*4 $space-unit*3

        &:hover,
        &:focus
            transform: scale(1.05)
            box-shadow: 0 35px 50px 0px rgba(227, 229, 229, 0.3)

            img 
                transform: scale(1)
        .content
            h3, h4 
                font-weight: bold 
            > p 
                -webkit-box-flex: 1
                -ms-flex-positive: 1
                flex: 1
        
        > .image 
            padding: 0
            height: 100%
            border-radius: 10px
            > img 
                height: 100%
                width: auto

    > div
        display: -webkit-flex
        display: -ms-flex
        display: flex

.cards.story
    .card.paded
        .content
            display: -webkit-flex
            display: -ms-flex
            display: flex 
            flex-direction: column
            padding: $space-unit*3
            margin-left: $space-unit*4
            margin-top: $space-unit*5
            &:before
                content: "\e922"
                position: absolute
                font-family: 'icomoon'
                font-size: 32px
                vertical-align: super
                left: 24px
                top: 24px
                color: $main
            p 
                -webkit-box-flex: 1
                -ms-flex-positive: 1
                flex: 1 0 0
            .meta
                text-align: right
                font-size: 14px
                > * 
                    line-height: 1.24
                .divider
                    display: inline-block
                    width: 1px
                    height: 10px
                    vertical-align: middle
                    margin: 0
                    background: $border-gray
            
.news-container 
    margin-top: $space-unit*7
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    + .more 
        margin-bottom: 164px

.card.search,
.card.news
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: row 
    padding: 12px
    transition: transform .3s ease
    margin-bottom: $space-unit*2
    box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4)
    .image
        position: relative
        width: 200px
        height: 136px
        padding-bottom: 0
        overflow: hidden
        border-radius: 10px
        img 
            position: absolute
            width: 100%
            height: auto
            top: -100%
            bottom: -100%
            margin: auto
    .content
        -webkit-box-flex: 1
        -ms-flex-positive: 1
        flex: 1
        display: -webkit-flex
        display: -ms-flex
        display: flex 
        flex-direction: column
        padding: 0 0 0 $space-unit*2
        .text
            line-height: 1.35
            font-size: 16px
            margin-top: $space-unit
        h2,
        h4
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            overflow: hidden
            text-overflow: ellipsis
            margin-top: 0
            margin-bottom: $space-unit*2
        .meta 
            font-size: 14px
            margin-top: 0
            margin-bottom: $space-unit
            .public_at
                color: $gray
        .action
            a.link + a.link 
                margin-left: $space-unit*4

.card.activity
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: row
    padding: $space-unit*4 $space-unit*3 $space-unit*4 $space-unit*4
    margin-bottom: $space-unit*4
    box-shadow: 0 4px 4px 0 rgba(94, 109, 123, 0.14)

    &.lottery-item
        padding: 12px
        margin-bottom: $space-unit*2
        .image
            width: 200px
        .content
            h2 
                margin:  $space-unit 0 0
        .action
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-content: center
            align-items: center

    &.full-image 
        display: flex
        flex-wrap: wrap
        // padding: 0
        // min-height: 387px
        .image 
            flex: 0 0 33.33333%
            max-width: 33.33333%
            padding-bottom: 0
            img 
                width: 100%
                height: auto
                top: 0
                border-radius: 10px
                bottom: auto

            @media screen and (min-width: 768px)
                border-radius: 10px

        .content
            margin-left: 32px
            padding: 0 $space-unit*2 0 0
    
        @media screen and (max-width: 768px)
            .image 
                flex: 0 0 1
                max-width: 100%
                img 
                    border-radius: 10px
            .content
                margin-left: 0
    .image
        position: relative
        width: 360px
        padding-bottom: 246px
        overflow: hidden
        border-radius: 10px
    .ribbon
        position: absolute
        left: 0
        top: 0
        color: #FFF
        &::before
            content: ""
            position: absolute
            border-top: 24px solid $orange
            border-left: 24px solid $orange
            border-bottom: 24px solid transparent
            border-right: 24px solid transparent

    .content
        -webkit-box-flex: 1
        -ms-flex-positive: 1
        flex: 1
        padding: 0
        display: -webkit-flex
        display: -ms-flex
        display: flex
        margin-left: $space-unit*2
        flex-direction: column
        .activity-card-header
            display: -webkit-flex
            display: -ms-flex
            display: flex
            flex-direction: row 
            margin-bottom: $space-unit*2
            line-height: 42px
            .activity-header-content
                -webkit-box-flex: 1
                -ms-flex-positive: 1
                flex: 1
            .meta 
                color: $gray
                font-size: 14px
                margin-top: 0
                margin-bottom: $space-unit/2
            h2 
                margin: 0
            .action
                margin-top: 0
                text-align: right
        .activity-card-body
            // padding: $space-unit*2
            -webkit-box-flex: 1
            -ms-flex-positive: 1
            // flex: 0 0 1
            background: $bg-gray
            .item, p
                padding: 5px 20px
                p 
                    margin-bottom: 0px
                &:nth-child(2)
                    background: $disabled

.cards.horizontal
    margin-bottom: 72px
    .card
        width: calc(50% - 20px)
        .image
            img 
                width: auto
                height: 100%
        &.full-width
            width: 100%
            .image
                img 
                    width: auto
                    height: 100%
       
@media screen and (min-width: 961px)
    .card.horz
        min-height: 400px

@media screen and (max-width: 960px)
    .cards.accident
        flex-wrap: wrap
        .card
            width: calc(50% - 20px)

    .cards.group
        .card
            width: calc(50% - 20px)
            
    .cards.horizontal
        .card
            width: calc(100%)
            .image
                img 
                    width: 100%
                    height: auto

    .card .action .buttons
        flex-wrap: wrap
        .btn
            flex: none
            margin-bottom: $space-unit*2
            width: calc(50% - 8px)

    .cards.activity
        flex-wrap: wrap
        .card 
            width: calc(50% - 20px)

    .card.activity
        &.full-image
            .image
                width: 420px
            .content 
                padding-top: $space-unit*2
        .content .activity-card-header
            flex-direction: column
            .action
                margin-top: 10px
                .btn
                    width: 100%

    .cards.prompt::after
        margin-left: 64px
        left: 0
        right: auto

    .cards.prompt,
    .cards.mobile-horz-scroll,
    .cards.situation
        overflow-x: auto
        overflow-y: hidden
        padding: 0 16px 30px
        margin-left: -20px
        margin-right: -20px
        -webkit-overflow-scrolling: touch
        flex-wrap: nowrap

        .card
            min-width: 256px
            height: 288px
            margin-left: 8px
            margin-right: 8px
            .content
                .title
                    font-size: 20px
                .subtitle
                    font-size: 16px
                p.text 
                    font-size: 12px
                .action
                    padding-left: 0
                    padding-right: 0
                    margin: 0

@media screen and (max-width: 768px)
    .flow-container
        flex-direction: column
        .flow
            flex-direction: column
            margin-right: 0
            margin-bottom: 30px
            border-right-width: 2px
            border-radius: 5px
            border-bottom-width: 2px

            &::before
                display: none
            
            &:last-child::after
                display: none

            &:after
                width: 0
                height: 0
                top: auto
                right: 0
                left: 0
                bottom: -32px
                margin: auto
                background: none
                border-top: 8px solid #65ba93
                border-bottom: 8px solid transparent
                border-left: 10px solid transparent
                border-right: 10px solid transparent
                transform: rotate(0deg)

        &.with-arrow > .flow
            .flow-header
                width: 100%
            &::after
                top: auto
                left: 0
                right: 0
                bottom: -32px
                border-left: 8px solid transparent
                border-right: 8px solid transparent
                border-top: 10px solid #65ba93
                border-bottom: 10px solid transparent


    .cards.activity
        .card
            width: 100%

    .cards
        display: -webkit-flex
        display: -ms-flex
        display: flex
        flex-wrap: nowrap
        overflow-x: auto 
        overflow-y: hidden
        justify-content: start
        justify-items: start
        -webkit-overflow-scrolling: touch

        &.travel-card .card > .content 
            + .extra
                padding: $space-unit/2 $space-unit*3

        .card
            min-width: 256px
            white-space: initial
            
            &[data-collapse]
                margin-top: 0 !important
                .content
                    min-height: 292px
                .buttons
                    flex-direction: column
                    .btn + .btn
                        margin-top: 0
                        margin-left: 0
    
    .cards.accident 
        > .card
            min-width: 0
            .icon > i
                font-size: 80px
    .card 
        // overflow: hidden
        .image
            padding-bottom: 0
            width: 100% !important
            img 
                position: relative
                width: 100%
                top: auto
                bottom: auto
                left: auto
                right: auto
                height: auto

        &.paded
            padding-left: $space-unit*3
            padding-right: $space-unit*3
        &.paded  > .content  + .action
            padding-left: 0
            padding-right: 0
            padding-bottom: $space-unit
        .action
            .btn
                margin: 0 0 16px
                padding-left: $space-unit
                padding-right: $space-unit
            
    .cards.group
        display: block
        white-space: nowrap
        overflow-x: auto 
        overflow-y: hidden
        padding-top: 8px
        padding-bottom: 60px
        margin-left: -20px
        margin-right: -20px
        -webkit-overflow-scrolling: touch

        .card
            width: 256px
            white-space: initial

            &.overlay > .image
                padding-bottom: 0%
                height: 100%
                border-radius: 5px
            .image
                border-radius: 10px
                // padding-bottom: 91.428571428%
                > img
                    border-radius: 10px
            .content
                padding: $space-unit*3 15px
                
                h3, .more
                    font-size: 18px
                p
                    font-size: 16px
                    -webkit-box-flex: 1
                    -ms-flex-positive: 1
                    flex: 1
    
    .card.activity
        padding: 0
        flex-direction: column
        
        &.lottery-item 
            padding: 0px
            .content
                padding: $space-unit*3 $space-unit*3 $space-unit*2
                p 
                    margin-bottom: 0

        .image
            border-radius: 10px 10px 0 0 !important
            max-width: 100%
            height: auto
            line-height: 0
            padding-bottom: 0 !important
            > img
                position: relative
                top: 0
                left: 0
                right: auto
                bottom: auto
                border-radius: 10px 10px 0 0 !important

        &.full-image .content
            padding: 0
            .activity-card-header
                padding: $space-unit*3
                margin: 0
                .action .btn 
                    margin-bottom: 0

        .content
            margin: 0
            .activity-card-header
                padding: $space-unit*2 $space-unit*3 $space-unit/2
                flex-direction: column
                .action
                    text-align: left
                    .btn
                        display: block 
                        width: 100%
                        margin: $space-unit*2 0
                    .text 
                        font-size: 14px
    
    .cards.horizontal
        flex-wrap: wrap

    .card.news,
    .card.search
        padding: 0
        flex-direction: column
        .image
            display: block
            height: auto
            border-radius: 10px 10px 0 0
            img 
                position: relative
                width: 100%
                height: auto
                top: auto 
                left: auto 
                right: auto
                bottom: auto
                border-radius: 10px 10px 0 0

        .content
            display: block
            padding: $space-unit*3 $space-unit*2
            .meta 
                word-break: break-all
            p 
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
                margin-top: 0
                margin-bottom: 0


    .card.horz
        flex-direction: column

        .image
            position: relative
            padding-bottom: 47.619047619%
            height: 0
            overflow: hidden
            border-radius: 5px 5px 0 0
        .content
            width: 100%
            border-radius: 0 0 5px 5px
            padding: $space-unit*2 $space-unit*4 $space-unit !important
            .action
                margin-top: $space-unit*3.5

@media screen and (max-width: 767px)
    .progress
        display: block
        .progress-item
            position: relative
            display: block
            margin-bottom: $space-unit*4
            .image
                display: none
            .content
                margin-left: 0 !important
                padding-left: $space-unit*7
                h4
                    margin-top: 0
            .number
                position: absolute
                width: 32px
                height: 32px
                line-height: 32px
                font-size: 16px
                font-weight: 600
                border-radius: 50%
                display: block
                left: 10px
                top: $space-unit
                background: $text-decoration
                text-align: center
                z-index: 9
                &::after
                    display: none
            &::before
                content: ""
                position: absolute
                top: 30px
                left: 24px
                width: 1px
                height: 100%
                z-index: 0
                border-right: 4px dashed $text-decoration

            &:last-child::before
                display: none
