.dropdown
    position: relative
    display: inline-block
    
    .dropdown-list
        display: none
        position: absolute
        background: #FFF 
        width: 120px
        // border: 1px solid $border-gray
        opacity: 0
        top: 100%
        margin: 0 auto
        left: -100%
        right: -100%
        z-index: 99
        border-radius: 10px
        transform: translateY(-10px)
        box-shadow: 0 20px 30px -5px rgba(227,229,229,0.92)
        
        > ul 
            margin: 10px 0
            li 
                display: block
            a 
                display: block
                text-align: center
                font-size: 16px
                height: 40px
                line-height: 40px
                color: $menu-dark-gray

    .dropdown-menu
        position: absolute
        display: none
        max-width: 950px
        opacity: 0
        transform: translateY(-10px)
        left: 0
        right: 0
        margin: 0 auto
        background: #FFF
        box-shadow: 0 10px 30px 0 rgba(178,181,189,0.50), 0 40px 80px 0 rgba(223,230,232,0.74)
        +border-radius(5px)
        z-index: 99

    &:active > .dropdown-list
        display: block
        // animation: fade-in .5s .1s ease forwards

    &.is-open,
    &.is-open:hover,
    &.is-open:focus
        opacity: 1
        transform: none

        > .nav-item
            color: $main

        > .dropdown-menu
            display: block
            opacity: 1
            transform: translateY(0px)

        > .dropdown-list
            display: block
            // animation: fade-in .5s .1s ease forwards

@media screen and (max-width: 767px)
    .dropdown > a:focus
        + .dropdown-list,
        + .dropdown-menu
            display: block
            // animation: fade-in .5s .1s ease forwards
