.menu
    list-style: none
    margin-top: 20px
    
    .has-sub
        .menu 
            display: none
            margin: 0
            padding-left: 20px
            .item
                font-size: 16px
                
        .item.active + .menu
            display: block
