.message
    &.system
        position: fixed
        left: 0px
        top: 0px
        width: 100%
        color: #485b6b
        font-size: 16px
        background: $text-decoration
        padding: 12px 0
        z-index: 1999
        .container
            position: relative
            padding-right: $space-unit*6 !important
        .close
            position: absolute
            right: $space-unit
            top: $space-unit
            width: 24px
            height: 24px
            line-height: 24px
            text-align: center
            
    &.cookie
        position: fixed
        color: #FFF
        background: rgba(0,0,0,.87)
        width: 100%
        left: 0
        bottom: 0
        padding: $space-unit*3 0
        z-index: 1999
        .container
            display: flex
            
        .content
            flex: 1
            padding: 0 $space-unit*9 0 $space-unit*4
            h5 
                margin: 0 0 5px
            p 
                font-size: 14px
                line-height: 1.3
                margin-bottom: 0
        .action
            .btn
                min-width: 240px

@media screen and (max-width: 767px)
    .message.system
        width: 100%
        top: 0
        left: 0
        right: 0
        margin: auto
        font-size: 12px
        
    .message.cookie
        .container
            flex-direction: column
            .image
                display: none
            .content
                padding: 0
            .action > .btn
                display: block
                min-width: 100%
                margin: $space-unit*2 0 0