.modal
    position: fixed
    width: 100vw
    height: 100vh
    left: 0
    top: 0
    display: none
    overflow-y: auto
    background: rgba(0,0,0,.75)
    opacity: 0
    transition: opacity .3s ease .1s
    z-index: 2999

    &.is-open
        display: block
        opacity: 1

        > .modal-content
            opacity: 1
            transform: scale(1)


    .modal-content
        background: #FFF
        width: 100%
        max-width: 580px
        margin: 50px auto
        opacity: 0
        transform: scale(0.8)
        border: 1px solid #DCDFDF
        box-shadow: 0 10px 20px 0 rgba(149,149,149,0.74)
        border-radius: 10px
        transition: all .3s ease .2s

        .modal-header,
        .modal-body,
        .modal-footer
            padding-left: 40px
            padding-right: 40px

        .modal-footer
            text-align: center
            padding-bottom: 15px

            &.two-button
                display: flex
                width: 100%
                margin: 20px 0 0
                > .btn
                    width: 40%
                    margin: 0 5px
                    &.btn-primary
                        width: 60%

        .modal-header
            padding-top: $space-unit*3
            padding-bottom: 20px
            .close
                float: right
                margin-top: 0px
                margin-right: -24px
                cursor: pointer
            .modal-title
                text-align: center
                margin: 0

        .modal-body.image
            padding-left: 0
            padding-right: 0
            img 
                width: 100%
                max-width: 100%

.modal.login-modal
    .modal-content
        max-width: 900px
        display: flex
        font-size: 16px
        .modal-image
            position: relative
            width: 436px
            display: block
            overflow: hidden
            background: $bg-gray
            border-radius: 10px 0 0 10px
            img
                position: absolute
                height: 100% 
                width: auto
                left: -100%
                right: -100%
                margin: auto

        .modal-body
            display: flex
            flex-direction: column
            flex: 1
            height: 560px
            padding: $space-unit*3 $space-unit*4 0
            
            h2 
                margin-top: 0
            
            .close 
                float: right

            .form-group
                margin-bottom: 0
                label.error 
                    padding: 4px 16px

            .tab-container
                display: flex 
                flex-direction: column
                flex: 1
                .tab-pane
                    flex: 1
                    border: 0
                    box-shadow: none
                .tab-header
                    width: calc(100% + $space-unit*8)
                    margin-left: -$space-unit*4
                    margin-right: -$space-unit*4
                    padding: 0 $space-unit*4
                .tab-content
                    padding-bottom: 0
                .tab-content.active
                    display: flex
                    height: 100%
                    padding-top: $space-unit*4
                    form
                        display: flex 
                        flex-direction: column
                        width: 100%
                        height: 100%
                        .form-content
                            flex: 1

@media screen and (max-width: 767px)
    .modal
        .modal-content
            .modal-header
                .close
                    margin-right: -10px
            .modal-header,
            .modal-body,
            .modal-footer
                padding-left: 24px
                padding-right: 24px
    

    .modal.login-modal
        .modal-content
            width: 90%
            .modal-image
                display: none
            .modal-body
                padding-top: $space-unit*2
                padding-left: $space-unit*2
                padding-right: $space-unit*2

                .tab-container
                    .tab-header
                        padding: 0
                        width: calc(100% + $space-unit*4)
                        margin-left: -$space-unit*2
                        margin-right: -$space-unit*2
                    .tab-content.active
                        padding-top: $space-unit*2