/*
 *  Owl Carousel - Core
 */
.owl-carousel 
    display: none
    width: 100%
    -webkit-tap-highlight-color: transparent
    position: relative
    z-index: 1

    .owl-stage 
        position: relative
        -ms-touch-action: pan-Y
        touch-action: manipulation
        -moz-backface-visibility: hidden

    .owl-stage:after 
        content: "."
        display: block
        clear: both
        visibility: hidden
        line-height: 0
        height: 0

    .owl-stage-outer 
        position: relative
        overflow: hidden
        -webkit-transform: translate3d(0px, 0px, 0px)

    .owl-wrapper,
    .owl-item
        -webkit-backface-visibility: hidden
        -moz-backface-visibility: hidden
        -ms-backface-visibility: hidden
        -webkit-transform: translate3d(0,0,0)
        -moz-transform: translate3d(0,0,0)
        -ms-transform: translate3d(0,0,0)

    .owl-item 
        position: relative
        min-height: 1px
        float: left
        -webkit-backface-visibility: hidden
        -webkit-tap-highlight-color: transparent
        -webkit-touch-callout: none

    .owl-item img 
        display: block
        width: 100%


    .owl-nav.disabled,
    .owl-dots.disabled 
        display: none

    .owl-nav .owl-prev,
    .owl-nav .owl-next,
    .owl-dot 
        cursor: pointer
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none

    .owl-nav button.owl-prev,
    .owl-nav button.owl-next,
    button.owl-dot 
        background: none
        color: inherit
        border: none
        padding: 0 !important
        font: inherit

    .owl-dots 
        position: absolute
        bottom: -40px
        margin: 0 auto 
        left: 0
        right: 0
        width: 100%
        max-width: 500px
        text-align: center
        z-index: 99
        > button.owl-dot
            display: inline-block
            width: 14px
            height: 14px
            border: 1px solid $border-gray
            border-radius: 14px
            background: $bg-gray
            margin: 0 $space-unit/2

            &.active
                background: $main
                border-color: $main

    .owl-nav
        .owl-prev,
        .owl-next
            position: absolute
            top: 110px
            bottom: 0
            width: 48px
            height: 48px
            display: block
            margin: auto
            background: #FFF !important
            border-radius: 50%
            font-size: 24px
            text-align: center
            border: 1px solid $border-gray !important
            box-shadow: 0 10px 14px 0 rgba(200,200,200,0.39)

            > i
                color: $main
                font-size: 24px
                display: inline-block
                height: 24px
                line-height: 24px
                vertical-align: middle
            &.disabled
                display: none
        .owl-prev
            left: -7%
        .owl-next
            right: -7%

    &.owl-loaded 
        display: block
	

    &.owl-loading 
        opacity: 0
        display: block
	

    &.owl-hidden 
        opacity: 0


    &.owl-refresh .owl-item 
        visibility: hidden


    &.owl-drag .owl-item 
        touch-action: pan-y
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none


    &.owl-grab 
        cursor: move
        cursor: grab


    &.owl-rtl 
        direction: rtl


    &.owl-rtl .owl-item 
        float: right

.owl-carousel.insurance-card
    .owl-stage
        margin: 0 auto
    .owl-stage,
    .owl-item,
    .owl-item .card
        display: flex
    .owl-item .card
        width: 100%
        margin: 0 auto
        &.paded
            padding-top: 32px

    
@media screen and (max-width: 1440px)
    .owl-carousel .owl-nav
        .owl-prev
            left: 10px
        .owl-next
            right: 10px


@media screen and (max-width: 767px)
    .owl-carousel
        .owl-dots
            width: 75%
            left: 0
            right: 0
            margin-left: auto
            margin-right: auto
        .owl-nav
            .owl-prev,
            .owl-next
                width: 32px
                height: 32px
                top: auto 
                bottom: -40px

    .owl-carousel.insurance-card
        .owl-item .card
            width: 90%
    

/* No Js */
.no-js .owl-carousel 
    display: block


.owl-carousel.known-items
    .owl-stage
        display: flex 
        width: 100%
        margin: 0 auto

        .owl-item
            display: flex 
            padding: 0
            margin-bottom: 0

        .owl-item > .item
            display: flex 
            flex-direction: column
            width: 100%
            .content
                flex: 1 0 auto 
                white-space: i

.owl-carousel.sales-caorusel
    > .owl-nav 
        > .owl-prev,
        > .owl-next
            top: -60px !important

@media screen  and (max-width: 767px)
    .owl-carousel.sales-caorusel > .owl-nav 
        > .owl-prev
            left: -10px
        > .owl-next
            right: -10px


.owl-carousel.introduce
    .owl-stage
        display: flex 
        width: 100%
        // flex-wrap: wrap
        .owl-item
            display: flex 
            padding: 0
            margin-bottom: 0
            > section
                flex-direction: column
                flex: 1 0 auto
                margin-bottom: 0
                max-width: 100%
                padding-left: $space-unit*3
                padding-right: $space-unit*3

    .konwn-items .konwn-items-scroll
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        .item
            max-width: 296px

    .item
        display: flex
        flex-direction: column 
        flex-wrap: wrap
        margin-bottom: 40px
        padding: 0 34px
        width: 25%
        .content
            // flex: 1
            -webkit-box-flex: 1
            -ms-flex-positive: 1
            flex: 1 0 auto !important
            h3 
                font-weight: bold
        .action .btn
            margin: 0 0 $space-unit*3

    @media screen and (max-width: 992px)
        .konwn-items
            max-width: calc(100% + 48px)
            overflow-x: auto 
            overflow-y: hidden
            padding: 0 24px
            -webkit-overflow-scrolling: touch
            margin-right: -24px
            margin-left: -24px
            
            .konwn-items-scroll
                display: inline-block
                white-space: nowrap
                justify-content: left
                .item
                    display: inline-flex
                    white-space: initial
                    width: 256px
                    padding-left: 0
                    padding-right: 0
                    margin-right: $space-unit*5
                    flex: none
                    .content h3 
                        font-size: 18px
                        margin-bottom: 8px