.panel
    display: block
    border-radius: 10px
    background: #FFF
    box-shadow: 0 0 6px 0 rgba(182,182,182,0.57)
    border: 1px solid $border-gray
    margin-bottom: 20px
    overflow: hidden
    
    .panel-header
        color: #FFF
        background: $card-green
        border-radius: 10px 10px 0 0
        h4
            padding: 10px $space-unit*3
            margin: 0

    &.pride
        overflow: visible
        margin-top: 156px
        .panel-body img 
            position: absolute
            width: 100%
            height: auto
            bottom: -$space-unit*3
            
    .panel-footer
        padding: $space-unit*2 $space-unit*3

    .panel-body
        border-radius: 0 0 10px 10px
        background: #FFFFFF
        padding: $space-unit*2 $space-unit*3 $space-unit*3
        font-size: 16px
        line-height: 1.5

        ol
            list-style: decimal
            margin-left: 0
            padding-left: 20px

            li small.desc
                display: block
                line-height: 1.35
                margin-bottom: $space-unit
                ol 
                    list-style: lower-latin
    
    &.with-nav-tabs
        .panel-header
            background: #6fb83f
            color: #FFF
            padding: 10px 15px 0
            ul.tab
                border: 0
                li 
                    display: table-cell
                    > a
                        display: block
                        padding: 10px 15px
                        color: #FFF
                        background: none
                    &.active > a 
                        background: #FFF
                        color: $dark-gray
                        border-radius: 5px 5px 0 0
                        border: 1px solid #ddd
                        border-bottom-color: transparent
        .panel-body
            background: #FFF
            padding: 10px 6px
            .tab-pane
                border: 0
                .row > [class*="col-"]
                    padding-left: 15px
                    padding-right: 15px
            dl 
                > dt 
                    color: #bb0000
                    font-size: 14px
                dd 
                    position: relative
                    padding-left: 30px
                    margin-bottom: 10px
                    &:first-child
                        padding-left: 0px
                    > span
                        position: absolute
                        left: 0
                        color: #fff
                        background-color: #68b140
                        border-radius: 50%
                        text-align: center
                        margin: auto
                        top: 3px
                        width: 22px
                        font-size: 18px
                        height: 22px
                        line-height: 22px
            .d-flex 
                > dl 
                    > dd
                        padding-left: 0
                        margin-bottom: 0
                        margin-left: 0
                    > dt 
                        color: #fff
                        background-color: #68b140
                        border-radius: 10px
                        font-size: 20px
                        line-height: 40px
                        display: inline-block
                        padding: 0 6px
                        margin-bottom: 10px
            .border
                float: left
                width: 3px
                height: 200px
                margin: 0 20px 20px 10px
                background-color: #68b140
                align-self: center
            .carsmall,
            .carsmall2
                margin: 0 auto
                width: auto
                height: 180px
                display: block
            .cart-phone2
                margin-top: 35px
                // margin-right: 15px
            table.table.customers
                tr:nth-child(even)
                    background: #f2f2f2
                th
                    background: #f9ad19
                    color: #FFF
                thead tr > th,
                thead tr > td,
                tbody tr > th,
                tbody tr > td
                    border: 1px solid #ddd

    &.agreement
        .panel-body
            height: 214px
            overflow-x: hidden 
            overflow-y: auto
            -webkit-overflow-scrolling: touch
        .panel-footer > .checkbox.agree
            margin-bottom: 0

            input + label
                padding-left: $space-unit*6
                line-height: 32px
            input + label::before
                width: 32px
                height: 32px
                font-size: 28px
                line-height: 30px
                text-align: center

    &.with-green-decoration
        position: relative
        background: #FFFFFF
        display: block
        text-align: left
        border: 1px solid #D7E4E4
        padding: 0
        box-shadow: 0 28px 35px -15px #E8E9E9
        z-index: 1
        border-radius: 10px
        
        .panel-body
            padding: $space-unit*5 $space-unit*5 $space-unit*7 !important
            font-size: 18px
            border-radius: 10px

        &:before
            content: ""
            position: absolute
            border-radius: 0 0 0 5px
            width: 70%
            height: 12px
            background: $main-gradient
            left: 0
            bottom: 0

        h1,
        h2,
        h3,
        h4
            font-weight: bold
            margin-bottom: $space-unit*5
            margin-top: 0

.condition-content
    ul.condition-filter
        > li 
            border-radius: 10px
            box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4)
            background-color: #ffffff
            margin-bottom: $space-unit*3
            .condition-thead
                color: #FFF 
                border-radius: 10px 10px 0 0
                padding: 10px $space-unit*4
                &.bg-green
                    background: #6fb93f
                &.bg-blue
                    background: #5fb2f6
                .condition-single-name
                    .csn-label
                        padding-right: 10px
                        margin-right: 10px
                        border-right: 1px solid #FFF

            .condition-single-content
                padding: $space-unit*2 $space-unit*2 $space-unit*2 $space-unit*4

                .protection-mush-have
                    font-size: 16px
                    margin-top: $space-unit*2
                    b 
                        font-weight: bold
                    p 
                        margin-bottom: 0
                figure + p
                    font-size: 14px
                .condition-summary
                    border-radius: 5px
                    background: $bg-gray
                    padding: $space-unit*2
                    font-size: 16px
                    p 
                        margin-bottom: 0
                div[class*="col"]
                    padding-left: $space-unit*3 
                    padding-right: $space-unit*3 
                .protection-scope
                    font-size: 16px
                    margin-top: $space-unit*2
                    b 
                        font-weight: bold 
                        display: block
                        margin-bottom: $space-unit/2
                    ul.condition-chooser-tags
                        li.option
                            display: inline-block
                            vertical-align: top
                            padding: 5px 10px
                            box-shadow: none
                            border-radius: 5px
                            color: #FFF
                            background: #6fb93f
                            margin-bottom: $space-unit/2
                            &.men
                                background: $orange
                            &[data-tag-type*="you"]
                                background: #5fb2f6
                            &.disabled
                                display: none
                ul.condition-providing
                    margin-top: 20px
                    > li
                        margin-bottom: $space-unit
                        border-radius: 5px
                        border: solid 1px #e1e4e9
                        padding: 5px 20px
                        box-shadow: none
                        * 
                            display: inline-block
                            vertical-align: middle
                        b 
                            font-weight: bold
                        .item-title 
                            display: inline-block
                            align-content: left
                            align-items: left
                            margin-right: 4px
                            white-space: nowrap
                            i.icon
                                display: inline-block
                                width: 48px
                                height: 48px
                                line-height: 48px
                                margin-right: $space-unit/2
                                overflow: hidden
                                img
                                    vertical-align: middle

                        strong 
                            color: $orange


@media screen and (max-width: 960px)
    .condition-content
        ul.condition-filter > li 
            .condition-single-content figure
                margin: 0 0 $space-unit*2
                img
                    width: 100%

    .panel.pride
        margin-top: 50px

@media screen and (max-width: 767px)
    .panel.with-green-decoration
        .panel-body
            padding: $space-unit*3 $space-unit*3 $space-unit*3 !important
            h3, 
            .title
                margin-bottom: $space-unit*2
    
    .condition-content
        ul.condition-filter
            li
                .condition-thead
                    padding-left: $space-unit*2
                    padding-right: $space-unit*2
                .condition-single-content
                    padding: $space-unit*2
                    figure 
                        margin-left: 0
                        margin-right: 0
                        > img 
                            max-width: 100%
                    div[class*="col"]
                        padding-left: $space-unit*2
                        padding-right: $space-unit*2 
                    .protection-scope ul.condition-chooser-tags
                        li.option 
                            font-size: 14px
                            height: 26px
                            width: 84px
                            line-height: 26px
                            padding-top: 0
                            padding-bottom: 0
                            text-align: center
                            border-radius: 3px
                    ul.condition-providing
                        li
                            padding: $space-unit $space-unit $space-unit $space-unit*6
                            border-radius: 0
                            border: 1px solid $border-gray
                            flex-direction: column
                            *
                                vertical-align: top
                            .item-title
                                display: inline
                                margin-right: 0
                                min-height: 32px
                                font-weight: normal
                                padding-left: 0
                                > b 
                                    line-height: 1.5
                                > i.icon
                                    float: left
                                    text-align: center
                                    margin-right: 0
                                    margin-top: -6px
                                    margin-left: -$space-unit*5
                                    width: 32px
                                    height: 32px
                                    line-height: 32px
                                > i.icon > img
                                    width: 32px
                                    height: 32px
                                + .green-strong
                                    line-height: 1.5
                                    padding: 0
                                    display: inline
                                    > strong 
                                        color: $orange
                                        vertical-align: baseline