.form-group
    .select2-container
        display: block
        width: 100% !important

.select2-container
    box-sizing: border-box
    display: inline-block
    margin: -1px 0 0
    position: relative
    vertical-align: middle
    .select2-selection--single
        outline: 0 
        box-sizing: border-box
        cursor: pointer
        display: block
        user-select: none
        -webkit-user-select: none
    .select2-selection__rendered
        display: block
        width: 100%
        padding: 14px 40px 14px 16px
        // height: 56px
        line-height: 1.25
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
    .select2-selection__clear
        position: relative
    &[dir="rtl"] .select2-selection--single .select2-selection__rendered
        padding: 14px 40px 14px 16px
    .select2-selection--multiple
        box-sizing: border-box
        cursor: pointer
        display: block
        min-height: 32px
        user-select: none
        -webkit-user-select: none
    .select2-selection__rendered
        display: inline-block
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        padding: 14px 40px 14px 16px
    .select2-search--inline
        float: left
        height: 30px !important
    .select2-search__field
        box-sizing: border-box
        border: none
        width: 100%
        font-size: 100%
        height: 30px
        padding: 4px 16px
        line-height: 1
        &::-webkit-search-cancel-button
            -webkit-appearance: none

.select2-dropdown
    background-color: white
    border: 2px solid #E8EBEF
    border-radius: 4px
    box-sizing: border-box
    display: block
    position: absolute
    left: -100000px
    width: 100%
    z-index: 1051
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15)

.select2-results
    display: block

.select2-results__options
    list-style: none
    margin: 0
    padding: 0
    // border-radius: 10px

.select2-results__option
    padding: 14px 16px
    user-select: none
    line-height: 1
    -webkit-user-select: none
    &[aria-selected]
        cursor: pointer

.select2-container--open
    .select2-dropdown
        left: 0
    .select2-selection__arrow
        transform: rotate(225deg) !important
    .select2-dropdown--above
        margin-top: -$space-unit
        border-bottom: none
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
    .select2-dropdown--below
        margin-top: $space-unit
        border-top: none
        border-top-left-radius: 0
        border-top-right-radius: 0

.select2-search--dropdown
    display: block
    padding: 4px
    .select2-search__field
        width: 100%
        margin: 0
        box-sizing: border-box
        &::-webkit-search-cancel-button
            -webkit-appearance: none
    &.select2-search--hide
        display: none

.select2-close-mask
    border: 0
    margin: 0
    padding: 0
    display: block
    position: fixed
    left: 0
    top: 0
    min-height: 100%
    min-width: 100%
    height: auto
    width: auto
    opacity: 0
    z-index: 99
    background-color: #fff
    filter: alpha(opacity = 0)

.select2-hidden-accessible
    border: 0 !important
    clip: rect(0 0 0 0) !important
    -webkit-clip-path: inset(50%) !important
    clip-path: inset(50%) !important
    height: 1px !important
    overflow: hidden !important
    padding: 0 !important
    position: absolute !important
    width: 1px !important
    white-space: nowrap !important

.select2-container--default
    &.select2-container--open .select2-selection--single
        background: #FFF
        border: 2px solid $input-gray
    .select2-selection--single
        margin: 0
        background-color: #FFF
        border-radius: 5px
        border: 2px solid $input-gray
        line-height: 0
        box-sizing: border-box
        .select2-selection__rendered
            color: #444
        .select2-selection__clear
            cursor: pointer
            float: right
            font-weight: bold
        .select2-selection__placeholder
            color: #999
        .select2-selection__arrow
            position: absolute
            right: 16px
            width: 10px
            height: 10px
            border-right: 2px solid $dark-gray
            border-bottom: 2px solid $dark-gray
            transform: rotate(45deg)
            z-index: 9
            top: 0
            bottom: 0
            margin: auto
                
    &[dir="rtl"] .select2-selection--single
        .select2-selection__clear
            float: left
        .select2-selection__arrow
            left: 1px
            right: auto
    &.select2-container--disabled .select2-selection--single
        background-color: #eee
        cursor: default
        .select2-selection__clear
            display: none
    &.select2-container--open .select2-selection--single .select2-selection__arrow::after
        transform: rotate(180deg)
    .select2-selection--multiple
        background-color: #FFF
        cursor: text
        border: 2px solid $input-gray
        line-height: 0
        border-radius: 5px
        .select2-selection__rendered
            box-sizing: border-box
            list-style: none
            margin: 0
            padding: 6px 16px 11px
            width: 100%
            li
                list-style: none
        &::after
            position: absolute
            content: ""
            right: 16px
            width: 10px
            height: 10px
            border-right: 2px solid $dark-gray
            border-bottom: 2px solid $dark-gray
            transform: rotate(45deg)
            z-index: 9
            top: 0
            bottom: 0
            margin: auto

    &.select2-container--open .select2-selection--multiple
        background: #FFF
        border: 2px solid #E8EBEF
        border-radius: 5px
    .select2-selection__placehold
        color: #999
        margin-top: 5px
        float: left
    .select2-selection__clear
        cursor: pointer
        float: right
        font-weight: bold
        margin-top: 5px
        margin-right: 10px
    .select2-selection__choice
        background-color: $secondary
        color: #FFF
        font-size: 16px
        border-radius: 20px
        cursor: default
        float: left
        margin-right: 5px
        margin-top: 5px
        padding: $space-unit/2 12px
    .select2-selection__choice__remove
        color: #FFF
        float: right
        cursor: pointer
        display: inline-block
        font-weight: bold
        margin-left: $space-unit
        &:hover
            color: #333
    &[dir="rtl"] .select2-selection--multiple
        .select2-selection__choice, .select2-selection__placeholder, .select2-search--inline
            float: right
        .select2-selection__choice
            margin-left: 5px
            margin-right: auto
        .select2-selection__choice__remove
            margin-left: 2px
            margin-right: auto
    &.select2-container--focus .select2-selection--multiple
        outline: 0
    &.select2-container--disabled
        .select2-selection--multiple
            background-color: $disabled
            cursor: default
        .select2-selection__choice__remove
            display: none
    &.select2-container--open
        &.select2-container--above .select2-selection--single, .select2-selection--multiple
            border-top-left-radius: 0
            border-top-right-radius: 0
        &.select2-container--below .select2-selection--single, .select2-selection--multiple
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
            
    .select2-search--inline .select2-search__field
        background: transparent
        border: none
        padding: 0
        outline: 0
        box-shadow: none
        -webkit-appearance: textfield
    .select2-results > .select2-results__options
        max-height: 200px
        overflow-y: auto
    .select2-results__option
        &[role=group]
            padding: 0
        &[aria-disabled=true]
            color: #999
        &[aria-selected=true]
            background-color: #ddd
        .select2-results__option
            padding-left: 1em
        .select2-results__group
            padding-left: 0
        .select2-results__option
            margin-left: -1em
            padding: 16px
            .select2-results__option
                margin-left: -2em
                padding-left: 3em
            .select2-results__option
                margin-left: -3em
                padding-left: 4em
                .select2-results__option
                    margin-left: -4em
                    padding-left: 5em
                .select2-results__option
                    margin-left: -5em
                    padding-left: 6em
    .select2-results__option--highlighted[aria-selected]
        background-color: $bg-gray
        color: $dark-gray
        
    .select2-results__group
        cursor: default
        display: block
        padding: 6px

.select2-container--classic
    .select2-selection--single
        background-color: #f7f7f7
        border: 1px solid #aaa
        border-radius: 4px
        outline: 0
        background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%)
        background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%)
        background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%)
        background-repeat: repeat-x
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
        &:focus
            border: 1px solid #5897fb
        .select2-selection__rendered
            color: #444
            line-height: 28px
        .select2-selection__clear
            cursor: pointer
            float: right
            font-weight: bold
            margin-right: 10px
        .select2-selection__placeholder
            color: #999
        .select2-selection__arrow
            b 
                position: absolute
                font-family: 'icomoon' !important
                content: "\e900"
                font-size: 20px
                right: 24px
                width: 20px
                height: 20px
                line-height: 20px
                z-index: 9
                top: 0
                bottom: 0
                margin: auto
            
    &[dir="rtl"] .select2-selection--single
        .select2-selection__clear
            float: left
        .select2-selection__arrow
            border: none
            border-right: 1px solid #aaa
            border-radius: 0
            border-top-left-radius: 4px
            border-bottom-left-radius: 4px
            left: 1px
            right: auto
    &.select2-container--open
        .select2-selection--single
            border: 1px solid #5897fb
        .select2-selection__arrow
            background: transparent
            border: none
            b
                transform: rotate(180deg)
    &.select2-container--above .select2-selection--single
        border-top: none
        border-top-left-radius: 0
        border-top-right-radius: 0
        background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%)
        background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%)
        background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%)
        background-repeat: repeat-x
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
    &.select2-container--below .select2-selection--single
        border-bottom: none
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%)
        background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%)
        background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%)
        background-repeat: repeat-x
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
    .select2-selection--multiple
        background-color: white
        border: 1px solid #aaa
        border-radius: 4px
        cursor: text
        outline: 0
        &:focus
            border: 1px solid #5897fb
        .select2-selection__rendered
            list-style: none
            margin: 0
            width: 100%
            padding: 14px 40px 14px 16px
        .select2-selection__clear
            display: none
        .select2-selection__choice
            background-color: $disabled
            border: 1px solid #aaa
            border-radius: 4px
            cursor: default
            float: left
            margin-right: 5px
            margin-top: 7px
            padding: 10px
        .select2-selection__choice__remove
            color: #888
            cursor: pointer
            display: inline-block
            font-weight: bold
            margin-right: 2px
        &:hover
            color: #555
    &[dir="rtl"] .select2-selection--multiple
        .select2-selection__choice
            float: right
            margin-left: 5px
            margin-right: auto
        .select2-selection__choice__remove
            margin-left: 2px
            margin-right: auto
    &.select2-container--open
        background: #FFF
        .select2-selection--multiple
            border: 1px solid #5897fb
        &.select2-container--above .select2-selection--multiple
            border-top: none
            border-top-left-radius: 0
            border-top-right-radius: 0
        &.select2-container--below .select2-selection--multiple
            border-bottom: none
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
    .select2-search--dropdown .select2-search__field
        // border: 1px solid #aaa
        outline: 0
    .select2-search--inline .select2-search__field
        outline: 0
        box-shadow: none
    .select2-dropdown
        background-color: white
        border: 2px solid $input-gray
        border-radius: 5px
    .select2-dropdown--above
        border-bottom: none
    .select2-dropdown--below
        border-top: none
    .select2-results > .select2-results__options
        max-height: 200px
        overflow-y: auto
        
    .select2-results__option
        &[role=group]
            padding: 0
        &[aria-disabled=true]
            color: grey
    .select2-results__option--highlighted[aria-selected]
        background-color: $bg-gray
        // color: white
    .select2-results__group
        cursor: default
        display: block
        padding: 6px
    &.select2-container--open .select2-dropdown
        border-color: #5897fb


.pop-menu
    .select2.select2-container
        width: 100% !important
        margin-bottom: $space-unit*2
        background: none
        border-radius: 24px
        border: 0
        box-shadow: 0 2px 8px 0 rgba(182, 182, 182, 0.4)
        
        .select2-selection
            border-radius: 24px
            border: 0

.select2-container
    .select2-dropdown
        position: relative
        left: 0
        border: 0
        border-radius: 5px
        overflow: hidden
        
        // &::before
        //     content: ""
        //     display: block
        //     width: 90%
        //     margin: 0 auto
        //     border-bottom: 1px solid $border-gray
        
    .select2-results__options
        .select2-results__group
            font-size: 14px
            color: $gray
            padding: $space-unit*2 $space-unit*2 0

            + .select2-results__options.select2-results__options--nested
                padding-left: 1rem

                &:last-child
                    padding-bottom: $space-unit*2
                    &::after
                        border-bottom: 0

                // &::after
                //     content: ""
                //     display: block
                //     width: 100%
                //     margin: 0 0 0 -0.5rem
                    // border-bottom: 1px solid $border-gray

