.tab-container
    .tab-header
        border-bottom: 2px solid #000

        ul.tab
            border-bottom: 0
            li > a 
                border-bottom: 0

    &.is-green
        > .tab-header
            border-bottom: 2px solid $main
        ul.tab
            li > a
                color: $dark-gray 
            li.active > a
                color: #FFF
                background: $main

[role="tab-item"]
    cursor: pointer

ul.tab
    display: flex
    width: 100%
    vertical-align: bottom
    border-bottom: 2px solid #000

    &.is-pill
        background: #FFF
        display: inline-block
        border-radius: 50px
        border: 1px solid $border-gray
        width: auto
        min-width: 150px
        
        &.is-fill > li > a
            width: 100% !important
            
        li 
            margin: 0 !important
            > a
                // min-width: 164px
                color: $dark-gray
                border-radius: 50px
                border: 2px solid transparent
                background: none
            
            &.active > a
                border-color: $main
                color: $main !important
                background: #FFF
        
    &.is-fill
        display: flex !important
        width: 100%
        margin-left: -4px
        margin-right: -4px
        li 
            flex: 1
            margin-top: -1px
            margin-left: 4px
            margin-right: 4px

    li 
        // flex: 1
        margin-right: 20px
        display: inline-block
        a 
            display: block
            white-space: nowrap
            padding: 13px 16px
            line-height: 1
            text-align: center
            border-radius: 5px 5px 0 0
            color: $dark-gray
            font-size: 18px
            background: $bg-gray
            cursor: pointer
        &.active  > a
            color: #FFF
            background: $dark-gray

@keyframes fadeIn 
    0%
        opacity: 0
    100%
        opacity: 1

.tab-pane
    &.basic 
        border: 0 !important
        background: none !important
        box-shadow: none !important
        > .tab-content
            border: 0
            background: none
    .tab-content
        opacity: 0
        display: none
    .tab-content.active
        display: block
        opacity: 0
        animation: fadeIn .3s .3s ease forwards

.search-container .tab
    display: table
    > li
        display: table-cell 
    > li > a 
        min-width: 0
        background: none
        color: #FFF
        border: 0 !important

@media screen and (max-width: 960px)

    .tab-container > .tab-header > .container
        padding: 0 !important
        > ul.tab
            margin: 0
            li 
                margin: 0 !important

    ul.tab:not(.is-fill)
        // display: block
        overflow-y: hidden
        overflow-x: auto
        white-space: nowrap
        -webkit-overflow-scrolling: touch
        li 
            display: inline-block
            margin-right: 0
            + li 
                margin-left: -4px

    ul.tab
        li > a
            white-space: nowrap
            padding: 13px 15px 13px 15px
            font-size: 14px

        &.is-fill
            margin: 0
            > li 
                margin: 0
                a 
                    border-radius: 0

@media screen and (max-width: 767px)
    ul.tab:not(.is-fill)
        display: block