.ui-datepicker
    z-index: 79 !important

    .ui-datepicker-prev,
    .ui-datepicker-next 
        > .ui-icon::before
            content: ""
            position: absolute
            display: block
            top: 0
            bottom: 0
            left: 0
            right: 0
            width: 0
            height: 0
            margin: auto
            border-top: 6px solid transparent
            border-bottom: 6px solid transparent
            
    .ui-datepicker-prev
        > .ui-icon.ui-icon-circle-triangle-w::before
            border-right: 8px solid #000
            border-left: 8px solid transparent
    .ui-datepicker-next
        > .ui-icon.ui-icon-circle-triangle-e::before
            border-left: 8px solid #000
            border-right: 8px solid transparent
