<!-- build:body -->accident<!-- /build:body -->
<!-- build:content -->
  <main class="pb-0">
    <div class="banner accident">
      <img src="../img/accident/PFA1_0310/group-hike.png" class="d-none d-md-block" srcset="../img/accident/PFA1_0310/group-hike@2x.png">
      <img src="../img/accident/PFA1_0310/group-hike-sm.png" class="d-block d-md-none" srcset="../img/accident/PFA1_0310/group-hike-sm@2x.png">
      <div class="container">
        <div class="caption">
          <div class="panel">
            <h2 class="quote">
              <div class="subtitle-sm">大家都在討論...</div>
              <span class="text-big">登山露營</span>
              <small class="text">常常跟家人出門露營，有時駐扎在營地，有時搭帳篷在山中，有一次遇到地震，山路被封住了，好險國泰專員馬上幫我聯絡救難隊...</small>
            </h2>
          </div>
        </div>
      </div><a href="./accident-1-3-2.html" class="next">
        <div class="circle"><i class="icon-chevron-right"></i></div>
      </a>
    </div>
    <div class="container breadcrumb-container">
      <div class="row">
        <div class="col-12">
          <ul class="breadcrumb">
            <li><a href="index.html">首頁</a></li>
            <li class="active"><a href="#">登山露營</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class="container breadcrumb-container">
      <h1 class="section-title">避免登山發生意外，我還需要...</h1>
      <div class="cards horizontal">
        <div class="card horz">
          <div class="image">
            <img src="../img/accident/PFA1_0310/Card1.jpg" class="d-none d-md-block">
            <img src="../img/accident/PFA1_0310/Card1-sm.jpg" class="d-block d-md-none">
          </div>
          <div class="content">
            <h3>登山險</h3>
            <div class="description">
              <!-- <div class=" text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
              <div class="meta">
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">登山露營必備</span></div>
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">緊急救援</span></div>
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">登山意外</span></div>
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">失足墜谷</span></div>
              </div>
            </div>
            <div class="action">
              <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
              <a class="btn btn-primary btn-block btn-sm">看更多</a>
            </div>
          </div>
        </div>
        <div class="card horz">
          <div class="image">
            <img src="../img/accident/PFA1_0310/Card2.jpg" class="d-none d-md-block">
            <img src="../img/accident/PFA1_0310/Card2-sm.jpg" class="d-block d-md-none">
          </div>
          <div class="content">
            <h3>特定運動/活動</h3>
            <div class="description">
              <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
              <div class="meta">
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">出發前 1.5 小時即可投保</span></div>
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">保障潛水、滑雪、自行車、路跑等</span></div>
              </div>
            </div>
            <div class="action">
                <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
                <a class="btn btn-primary btn-block btn-sm">看更多</a>
            </div>
          </div>
        </div>
        <div class="card horz full-width">
          <div class="image">
            <img src="../img/accident/PFA1_0310/Card3.jpg" class="d-none d-md-block">
            <img src="../img/accident/PFA1_0310/Card3-sm.jpg" class="d-block d-md-none">
          </div>
          <div class="content">
            <h3>旅遊險/旅平險</h3>
            <div class="description">
              <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
              <div class="meta">
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">突發疾病醫療費用</span></div>
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">飛機、行李延誤</span></div>
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">不小心破壞物品須賠償</span></div>
              </div>
            </div>
            <div class="action">
                <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
                <a class="btn btn-primary btn-block btn-sm">看更多</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="recommand-section">
      <img src="../img/common/empty-section-bg.png"
        srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
      <img src="../img/common/life-service.png"
        srcset="../img/common/life-service@2x.png" height="377" class="bg d-none d-md-block">
      <img src="../img/common/main-line.png"
      srcset="../img/common/main-line@2x.png" height="79" class="main-line d-md-none">

      <div class="container">
        <h1 class="section-title">各種生活狀況，總有國泰陪伴</h1>
        <div class="row">
          <div class="col-12 col-md-5 offset-md-1">
            <div class="list inline-content"><a class="item">
                <div class="content">
                  <h4>家庭必備</h4>
                  <div class="text">毛孩沒健保，如何分擔醫療費？</div>
                </div>
                <div class="action"> <i class="icon-chevron-right"></i></div>
              </a><a class="item">
                <div class="content">
                  <h4>小本經營</h4>
                  <div class="text">寒流颱風接力破壞，農民又遇風災</div>
                </div>
                <div class="action"> <i class="icon-chevron-right"></i></div>
              </a><a class="item">
                <div class="content">
                  <h4>出外打拼</h4>
                  <div class="text">職場甘苦，誰來保障我？</div>
                </div>
                <div class="action"> <i class="icon-chevron-right"></i></div>
              </a><a class="item">
                <div class="content">
                  <h4>健康養生</h4>
                  <div class="text">癌症治療費用龐大，如何減輕負擔？</div>
                </div>
                <div class="action"> <i class="icon-chevron-right"></i></div>
              </a><a class="item">
                <div class="content">
                  <h4>人生里程</h4>
                  <div class="text">避免美好的婚禮發生意外，你需要...</div>
                </div>
                <div class="action"> <i class="icon-chevron-right"></i></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
<!-- /build:content -->
