<!-- build:body -->accident<!-- /build:body -->
<!-- build:content -->
  <main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">首頁</a></li>
                    <li class="active"><a href="#">火災爆炸</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner accident">
      <img src="../img/accident/PFA1_0610/scenario-fire.png" class="d-none d-md-block" height="222" srcset="../img/accident/PFA1_0610/scenario-fire@2x.png">
      <img src="../img/accident/PFA1_0610/scenario-fire-sm.png" class="d-block d-md-none" height="222" srcset="../img/accident/PFA1_0610/scenario-fire-sm@2x.png">
      <div class="container">
        <div class="caption">
          <div class="panel">
            <h2 class="quote">
              <div class="subtitle-sm">頭家們都很擔心遇到...</div>
              <span class="text-big">氣爆大火 1死15傷</span>
              <small class="text">中午12時22分，大同街1間小吃店突然氣爆，附近店家立刻遭火焰吞噬，警消到場後已截斷瓦斯，並有6輛救護車到場待命...</small>
            </h2>
            <div class="text-center">
              <a href="../helper/8-4-0.html"  target="_blank" class="btn btn-primary">立即免費諮詢</a>
            </div>
          </div>
        </div>
      </div><a href="./accident-1-3-2.html" class="next">
        <div class="circle"><i class="icon-chevron-right"></i></div>
      </a>
    </div>
    <section class="container">
      <h1 class="section-title">為了避免意外，頭家需要的保障是...</h1>
      <div class="cards horizontal">
        <div class="card horz full-width">
          <div class="image">
            <img src="../img/accident/PFA1_0610/Card1.jpg" class="d-none d-md-block">
            <img src="../img/accident/PFA1_0610/Card1-sm.jpg" class="d-block d-md-none">
          </div>
          <div class="content">
            <h3>商業火災保險</h3>
            <div class="description">
              <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
              <div class="meta">
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">火災</span></div>
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">爆炸引起之火災</span></div>
                <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">閃電雷擊</span></div>
              </div>
            </div>
            <div class="action">
                <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
                <a class="btn btn-primary btn-block btn-sm">看更多</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row mb-5 contact-block">
                        <a href="tel:0800036599" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-call i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">免付費專線</div>
                                <span class="d-none d-sm-block">0800-212-880</span>
                            </div>
                        </a>
                        <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-mail i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">寫信諮詢</div>
                                <span class="d-none d-sm-block">將有專人聯繫</span>
                            </div>
                        </a>
                        <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                            <div class="icon">
                                <div class="icon-location i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">服務據點</div>
                                <span class="d-none d-sm-block">查詢地址電話</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </main>
<!-- /build:content -->
