<!-- build:body -->activity<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">熱門活動</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner activity">
        <img src="../img/activity/PFB1_0100/banner-01.png" srcset="../img/activity/PFB1_0100/banner-01@2x.png" class="d-none d-md-block" />
        <img src="../img/activity/PFB1_0100/banner-01-sm.png" srcset="../img/activity/PFB1_0100/banner-01-sm@2x.png" class="d-block d-me-none" />
        <div class="caption">
            <div class="container">
                <h1 class="text-center">熱門活動</h1>
            </div>
        </div>
    </div>

    <div class="tab-container is-green">
        <div class="container d-block d-md-none">
            <div class="pop-menu">
                <select name="" id="" class="select2">
                    <option value="./activity-11-1-0.html" selected>重點活動</a></option>
                    <option value="./activity-11-2-0.html">線上投保優惠懶人包</a></option>
                    <option value="./activity-11-3-0.html">過去活動</a></option>
                </select>
            </div>
        </div>
        <div class="tab-header d-none d-md-block">
            <div class="container">
                <ul class="tab is-fill">
                    <li class="active"><a href="./activity-11-1-0.html">重點活動</a></li>
                    <li><a href="./activity-11-2-0.html">線上投保優惠懶人包</a></li>
                    <li><a href="./activity-11-3-0.html">過去活動</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="section">
            <div class="labels text-center mobile-in-scroll">
                <a role="button" href="./activity-11-1-0.html" class="label outline active">車險投保優惠大方送</a>
                <a role="button" href="./activity-11-1-0.html" class="label outline">旅平+不便險優惠大方送</a>
                <a role="button" href="./activity-11-1-1.html" class="label outline">寵物險</a>
            </div>
        </section>
        <section class="ad wide">
            <div class="owl-carousel activity-ad">
                <a href="#" target="_blank" class="item">
                    <h4 class="d-block d-md-none text-center">車險投保優惠大方送</h4>
                    <img src="../img/activity/PFB1_0100/activity-01.png" class="d-none d-md-block" srcset="../img/activity/PFB1_0100/activity-01@2x.png">
                    <img src="../img/activity/PFB1_0100/activity-01-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0100/activity-01-sm@2x.png">
                </a>
                <a href="#" target="_blank" class="item">
                    <h4 class="d-block d-md-none text-center">車險投保優惠大方送</h4>
                    <img src="../img/activity/PFB1_0100/activity-01.png" class="d-none d-md-block" srcset="../img/activity/PFB1_0100/activity-01@2x.png">
                    <img src="../img/activity/PFB1_0100/activity-01-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0100/activity-01-sm@2x.png">
                </a>
                <a href="#" target="_blank" class="item">
                    <h4 class="d-block d-md-none text-center">車險投保優惠大方送</h4>
                    <img src="../img/activity/PFB1_0100/activity-01.png" class="d-none d-md-block" srcset="../img/activity/PFB1_0100/activity-01@2x.png">
                    <img src="../img/activity/PFB1_0100/activity-01-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0100/activity-01-sm@2x.png">
                </a>
            </div>
        </section>
        <section class="pb-5">
            <h4>強制險到期前2個月即可投保，投保享有以下優惠（例:6月份到期者，4/1起即可投保）</h4>
            <div class="activity card">
                <div class="image">
                    <img src="../img/activity/PFB1_0100/activity-scooter.png" class="d-none d-md-block" srcset="../img/activity/PFB1_0100/activity-scooter@2x.png">
                    <img src="../img/activity/PFB1_0100/activity-scooter-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0100/activity-scooter-sm@2x.png">
                </div>
                <div class="content">
                    <div class="activity-card-header">
                        <div class="activity-header-content">
                            <div class="meta">2019/4/1  - 2019/6 /30</div>
                            <h2>機車險投保優惠大方送</h2>
                        </div>
                        <div class="action">
                            <a href="#" class="btn btn-primary btn-sm">立即投保</a>
                            <div class="text">兩年期最高省 <span class="text-orange">$240</span> 元</div>
                        </div>
                    </div>
                    <div class="activity-card-body">
                        <div class="item item-step">
                            <b>第 1 重</b>
                            <div class="content">新會員投保加碼抽「LINE Points 100點」。</div></div>
                        <div class="item item-step">
                            <b>第 2 重</b>
                            <div class="content">成功投保機車強制險一年期保費優惠170元、「兩年期保費優惠240 元。</div></div>
                        <div class="item item-step">
                            <b>第 3 重</b>
                            <div class="content">成功投保機車險強制險+任意險(需同時投保)，可參加「GoPro  Hero7 」抽獎。</div>
                        </div>
                        <p>若您同時符合早鳥資格(強制險到期前35天投保)，可再抽「三星液晶電視」與「愛奇藝VIP一年份」。</p>
                    </div>
                </div>
            </div>
            <div class="activity card">
                <div class="image">
                    <img src="../img/activity/PFB1_0100/activity-car.png" class="d-none d-md-block" srcset="../img/activity/PFB1_0100/activity-car@2x.png">
                    <img src="../img/activity/PFB1_0100/activity-car-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0100/activity-car-sm@2x.png">
                </div>
                <div class="content">
                    <div class="activity-card-header">
                        <div class="activity-header-content">
                            <div class="meta">2019/4/1  - 2019/6 /30</div>
                            <h2>汽車險投保優惠大方送</h2>
                        </div>
                        <div class="action">
                            <a href="#" class="btn btn-primary btn-sm">立即投保</a>
                            <div class="text">現省 <span class="text-orange">$250</span> 再送 <span class="text-orange">$100</span> 超商禮券</div>
                        </div>
                    </div>
                    <div class="activity-card-body">
                        <div class="item item-step">
                            <b>第 1 重</b>
                            <div class="content">新會員投保加碼抽「LINE Points 100點」。</div></div>
                        <div class="item item-step">
                            <b>第 2 重</b>
                            <div class="content">成功投保汽車強制險保費優惠250元外，還可獲贈「全家超商100元禮券」。</div>
                        </div>
                        <div class="item item-step">
                            <b>第 3 重</b>
                            <div class="content">成功投保汽車險強制險+任意險(需同時投保)，可參加「GoPro  Hero7 」抽獎。</div>
                        </div>
                        <p>若您同時符合早鳥資格(強制險到期前35天投保)，可再抽「三星液晶電視」與「愛奇藝VIP一年份」。</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="bg-gray py-4">
        <div class="container text-sm text-gray">
            <p>車險投保優惠大方送  活動注意事項</p>
            <ol>
                <li>汽車險及機車險中之「第 1 重」及「第 3 重」獎項數量、兌獎流程及活動方式以<a class="text-orange" href="#">【投保國泰產險， 抽Switch、Dyson、GoPro！】</a>與 <a class="text-orange" href="#">【車險早鳥投保抽好禮 送你電視機+愛奇藝VIP】</a>活動說明頁為準。</li>

                <li>汽車險第 2 重獎項中之「 全家便利商店 100 元禮券 」將採電子序號方式派發， 
                        (1) 電子序號發送時間為：完成網路投保 3-5個工作天內、或回傳要保書且保單成立後 3-5 個工作天內發送。  <br>
                        (2) 全家電子序號將發送到投保當時填寫之「要保人」，手機簡訊及 Email 中，若沒收到也可至「會員中心 → 我的優惠」內查詢。  <br>
                        (3) 全家電子序號使用方式：至全家門市FamiPort 機台，點選首頁【紅利】→ 紅利 PIN 碼 → 輸入序號 → 列印後櫃檯馬上兌換。
                </li>
                <li>即享券請妥善保管，請於Email和手機簡訊內的序號效期內兌換完畢，兌換後的禮券使用期限以券上說明為準；遺失兌換券、逾期兌換恕不補發；每組僅限使用一次。</li>
                
                <li>汽車險第 2 重獎項中之「 全家便利商店 100 元禮券 」將以簡訊與電郵方式發送至要保人為自然人之手機及Email，並將列入該自然人之年度綜合所得稅申報；要保人為法人者則不具備獲贈資格。</li>
                <li>國泰產險保有決定取消、終止、修改或暫停本活動相關內容之權利，並得以公告方式通知參加者。如有未盡事宜，悉依國泰產險相關規定或解釋辦理。</li>
            </ol>
        </div>
    </div>
</main>
<!-- /build:content -->