<!-- build:body -->activity<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="banner activity activity-content">
        <img src="../img/activity/PFB1_0210/banner-03.png" class="d-none d-md-block" srcset="../img/activity/PFB1_0210/banner-03@2x.png"/>
        <img src="../img/activity/PFB1_0210/banner-03-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0210/banner-03-sm@2x.png"/>
    </div>
    
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">熱門活動</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row float-target">
            <div class="col-12 col-md-10">
                <article>
                    <h2>投保國泰產險 抽Switch、Dyson、GoPro！</h2>
                    <ul class="labels mobile-in-scroll" role="tab">
                        <li class="active">
                            <a data-tab-id="tab-event-detail" role="tab-item" class="label outline">
                                活動詳情
                            </a>
                        </li>
                        <li>
                            <a data-tab-id="tab-award-list" role="tab-item" class="label outline">
                                得獎名單
                            </a>
                        </li>
                    </ul>

                    <div class="tab-pane">
                        <div data-tab-id="tab-event-detail" class="tab-content active">
                            <h4 class="title-border">活動時間</h4>
                            <p>2019 / 1 / 1 -2019 / 3 / 31</p>

                            <h4 class="title-border">活動辦法</h4>
                            <div class="card activity lottery-item">
                                <div class="image auto-height">
                                    <img src="../img/activity/PFB1_0210/activity-detail-01.png" srcset="../img/activity/PFB1_0210/activity-detail-01@2x.png" class="d-none d-md-block">
                                    <img src="../img/activity/PFB1_0210/activityDetail-01-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0210/activityDetail-01-sm@2x.png">
                                </div>
                                <div class="content">
                                    <p>投保旅遊險、傷害險</p>
                                    <h2>就抽任天堂Switch遊戲機</h2>
                                </div>
                                <div class="action">
                                    <div class="btn btn-primary btn-sm d-block d-md-inline-block">立即投保</div>
                                </div>
                            </div>
                            <div class="card activity lottery-item">
                                <div class="image auto-height">
                                        <img src="../img/activity/PFB1_0210/activity-detail-02.png" srcset="../img/activity/PFB1_0210/activity-detail-02@2x.png" class="d-none d-md-block">
                                    <img src="../img/activity/PFB1_0210/activityDetail-02-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0210/activityDetail-02-sm@2x.png">
                                </div>
                                <div class="content">
                                    <p>填寫住火險投保滿意度問卷</p>
                                    <h2>就抽Dyson吸塵器</h2>
                                    <p>(每張保單限填一次，可<a href="#">點此</a>填寫問卷)</p>
                                </div>
                                <div class="action">
                                    <div class="btn btn-primary btn-sm d-block d-md-inline-block">立即投保</div>
                                </div>
                            </div>
                            <div class="card activity lottery-item">
                                <div class="image auto-height">
                                        <img src="../img/activity/PFB1_0210/activity-detail-03.png" srcset="../img/activity/PFB1_0210/activity-detail-03@2x.png" class="d-none d-md-block">
                                    <img src="../img/activity/PFB1_0210/activityDetail-03-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0210/activityDetail-03-sm@2x.png">
                                </div>
                                <div class="content">
                                    <p>新會員再抽</p>
                                    <h2>LINE Points 100點</h2>
                                    <p>(需於活動期間投保，詳見活動辦法)</p>
                                </div>
                                <div class="action">
                                    <div class="btn btn-primary btn-sm d-block d-md-inline-block">立即投保</div>
                                </div>
                            </div>


                            <ol class="mb-0">
                                <li>
                                    於本網站完成投保<span class="text-orange">旅遊險或傷害險</span>，就抽任天堂Switch遊戲機一台（市價11,000元）。
                                </li>
                                <li>於本網站完成投保住火險後，填寫<span class="text-orange">投保滿意度問卷</span>就抽Dyson Cyclone V10 Animal吸塵器一台（市價23,000元）。</li>
                                <li>
                                    住火險抽獎問卷，限活動期間內投保<a class="link">【住火險】</a>或<a class="link">【住家保戶傘】</a>之客戶可填寫，若投保完成當下未即時填寫，請點選 <span class="btn btn-inline btn-normal">按鈕樣式01</span> <span class="btn btn-inline btn-green">按鈕樣式01</span> <span class="btn btn-inline btn-orange">按鈕樣式01</span> 補填寫，以確保抽獎資格。
                                </li>
                            </ol>

                            <div class="collapse-content">
                                <h4>注意事項</h4>
                                <ol>
                                    <li>強制險到期前2個月即可投保（例：6月份到期者，4/1起即可投保；7月份到期者，5/1起即可投保，依此類推），於活動期間（2019/4/1-6/30）投保車險者，需同時投保強制+其他任意車險（包含車體險、第三人責任險、駕傷險等），方符合GoPro抽獎資格。</li>
                                    <li>
                                        本活動將於2019/7/31(三)前於國泰產險官網公告中獎名單，並以手機/E-mail方式通知中獎者，中獎者須於2019/8/15(四)前寄回相關領獎文件，以利贈獎作業，否則視同放棄得獎資格。所有獎項將於收到回覆後2週內以掛號包裹寄出。
                                    </li>
                                    <li>若同一人同時符合本網站當期兩個以上不同活動之抽（得）獎資格，可獲得符合資格之全部抽（得）獎機會。</li>
                                    <li>本活動限自然人參加，參加者須符合活動期間投保指定險種之條件，且獎項發送時所持保單狀態須為成功/有效保單，不可取消或退保，否則喪失領獎權利。</li>
                                    <li>參加者於參加本活動時，即表示同意本活動辦法，並充份知悉與同意以下事項：主辦單位得因本活動之需要，依個人資料保護相關規定，於活動及作業所需之期間內，以電子檔或紙本形式於我國境內蒐集、處理、利用其個人資料（包含活動兌獎及相關申報稅額使用等），中獎者應同意本公司公佈中獎名單於國泰產險網站及全台營業據點，以確保本活動公正公開。但主辦單位於未經參加者之同意下，不得再利用參加者之個人資料進行商業行銷行為。參加者可自由選擇是否提供完整個人資訊，惟若資訊不完整者，將無法參加本活動。</li>
                                    <li>本活動如有任何因網路、行動裝置或其他不可歸責於主辦單位之事由，致參加者所寄出、填寫或登錄之資料有遺失、錯誤、無法辨識或毀損等情形，主辦單位不負任何法律責任。</li>
                                    <li>主辦單位有權檢視得獎情況是否有人為操作之行為，對於以偽造、詐欺或其他不正當之方式意圖兌領之參加者，主辦單位有權取消其得獎資格或拒絕其參與本活動。</li>
                                    <li>中獎者須於領獎期限內完成領獎手續，逾期未完成領獎程序或不符領獎程序者，視為放棄領獎權利，亦不得折換現金或兌換其他商品。</li>
                                    <li>本活動贈品以實物為準，無法由中獎人挑選，且獎項經兌換後恕不得退還。</li>
                                    <li>依稅法規定，得獎者若為中華民國境內居住之個人，且年度所得獎項價值累積超過新臺幣（以下同）1,000元者，主辦單位將於翌年開立所得扣繳憑單予得獎者。如所得獎項價值達20,000元（含）時，得獎者須先繳交10%機會中獎稅金，始可領獎。得獎人若非中華民國境內居住之個人（即在中華民國境內居住未達183天之本國人及外國人），不論得獎獎項價值，均須先就得獎所得扣繳20%機會中獎稅金，始可領獎，主辦單位並將依法開立所得扣繳憑單。若未能依法繳納應繳稅額，即視為喪失得獎資格。因參加本活動而須支付之任何稅捐皆為參加者之義務，概與主辦單位無關。前述稅捐法規如有更新或變動者，依修正後之規定辦理。</li>
                                    <li>主辦單位非獎品製造者或提供者，與各項獎品或服務之製造或提供廠商無任何代理或合夥關係，且本活動獎品之保固期限均依廠商出廠時實際提供者為準。如領取後對獎品之使用方式、售後服務、保固等發生任何爭議，概與主辦單位無關。</li>
                                    <li>中獎人若未滿20歲，需經家長同意並簽署同意書後方可領獎，且依法規定需提供戶口名簿備查。</li>
                                    <li>主辦單位保有決定取消、終止、修改或暫停本活動相關內容之權利，並得以公告方式通知參加者。如有未盡事宜，悉依主辦單位相關規定或解釋辦理。</li>
                                    <li>本活動之登入、交易、申請開通、抽獎資格、兌獎紀錄、中獎紀錄均以主辦單位電腦系統紀錄為準，主辦單位有權檢視各項交易、抽獎及相關紀錄，若參加者有任何違反活動注意事項、利用程式惡意影響活動結果或任何破壞公平性及其他非法行為等，主辦單位保有取消其參加抽獎及中獎資格之權利。</li>
                                </ol>

                                <h4>表格示意</h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>標題一</th>
                                            <th>標題二</th>
                                            <th>標題三</th>
                                            <th>標題四</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                        </tr>
                                        <tr>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                        </tr>
                                        <tr>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                        </tr>
                                        <tr>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                            <td>示意內容</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a role="button" class="btn btn-default btn-block collapse-content-trigger">
                                <span class="for-close">收納內容</span>
                                <span class="for-open">展開內容</span>
                            </a>
                        </div>
                        <div data-tab-id="tab-award-list" class="tab-content"></div>
                    </div>
                </div>
            </article>
            <div class="col-12 col-md-2">
                <div class="float-menu">
                    <div class="menu-content">
                        <p class="d-none d-md-block">國泰產險投保抽好禮獎不停</p>
                        <a class="btn btn-default btn-sm d-inline-block d-md-block">旅遊險</a>
                        <a class="btn btn-default btn-sm d-inline-block d-md-block">住火險</a>
                        <a class="btn btn-default btn-sm d-inline-block d-md-block">汽車險</a>
                        <a class="btn btn-default btn-sm d-inline-block d-md-block">機車險</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section is-relax hot-event pb-2 mb-0">
        <div class="container">
            <h1 class="section-title">你可能會喜歡這些活動</h1>
            <div class="cards four-cards mobile-horz-scroll">
                <div class="card">
                    <div class="image">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="#" class="btn btn-outline-reverse">更多熱門活動</a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->