<!-- build:body -->activity<!-- /build:body -->
<!-- build:content -->
<main>
    
    <div class="banner activity activity-content">
        <img src="../img/activity/PFB1_0310/banner-02.png" class="d-none d-md-block" srcset="../img/activity/PFB1_0310/banner-02@2x.png"/>
        <img src="../img/activity/PFB1_0310/banner-02-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0310/banner-02-sm@2x.png"/>
    </div>

    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="./activity-11-3-0.html">過去活動</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <article>
                    <h2>國泰產險投保抽Gogoro 2、iPhone XR帶回家！</h2>
                    <div class="labels mobile-in-scroll">
                        <a role='button' href="./activity-11-3-1.html" class="label outline active">活動詳情</a>
                        <a role='button' href="./activity-11-3-2.html" class="label outline">得獎名單</a>
                    </div>

                    <h4 class="title-border">活動時間</h4>
                    <p>2019 / 1 / 1 -2019 / 3 / 31</p>

                    <h4 class="title-border">活動辦法</h4>
                    <p class="text-green">
                        線上投保車險，抽Gogoro 2一台<br>
                        投保旅遊險、傷害險，抽iPhone XR一台
                    </p>
                    <ol>
                        <li>於本網站完成投保車險（需同時投保強制險+其他任意車險，例如車體險、第三人責任險、或駕傷險等），就抽Gogoro 2一台；完成投保旅遊險、  傷害險，就抽iPhone XR（256 GB）一台！</li>
                        <li>每筆交易成功之保單號碼皆享有一次抽獎機會</li>
                        <li>Gogoro 2活動期間共抽出1台（原價79,800元，顏色隨機），中獎者須另外自行負擔Gogoro電池月租方案。</li>
                        <li>iPhone XR活動期間共抽出1台（原價32,500元，顏色隨機）</li>
                    </ol>

                    <h4 class="title-border">注意事項</h4>
                    <ol>
                        <li>強制險到期前2個月即可投保（例：3月份到期者，1/1起即可投保；4月份到期者，2/1起即可投保，依此類推），於活動期間（2019/1/1-3/31投保車險者，需同時投保強制+任意險（包含車體險、第三人責任險、駕傷險等），方符合Gogoro 2抽獎資格；於活動期間投保旅遊險及傷害險者，方符合iPhone XR抽獎資格，每張保單號碼皆享有一次抽獎機會。</li>
                        <li>本活動將於2019/4/30(二)前於國泰產險官網公告中獎名單，並以手機/E-mail方式通知中獎者，中獎者須於2019/5/15(三)前寄回相關領獎文件，以利贈獎作業，否則視同放棄得獎資格。</li>
                        <li>Gogoro 2將於活動小組確認中獎者身份資料後，轉由Gogoro聯繫中獎人進行兌領，中獎者須由本人在接獲兌領通知後30天內，親自至指定直營門市取車。中獎者另須繳交車價10%為機會中獎稅金予Gogoro，並須配合簽訂放棄補助切結書、讓渡書、資費合約等相關文件；若於完成交車後7日內未將獎項領走，Gogoro將收取400元/日的保管費用。中獎人領牌所需文件包含中獎人雙證件、印章、規費（領牌費650元、強制險一年658元、代辦費150元、公會證明與規費-雙北20元、台中80元、高雄200元-視領牌地區決定、印章代刻40元），中獎人不能要求申請任何政府補助，且須自付所有稅額、領牌規費與代辦費用。</li>
                        <li>若同一人同時符合當期兩個以上不同活動之抽（得）獎資格，可獲得符合資格之全部抽（得）獎機會。</li>
                        <li>本活動限自然人參加，參加者須符合活動期間投保指定險種之條件，且獎項發送時所持保單狀態須為成功/有效保單，不可取消或退保，否則喪失領獎權利。</li>
                        <li>參加者於參加本活動時，即表示同意本活動辦法，並充份知悉與同意以下事項：主辦單位得因本活動之需要，依個人資料保護相關規定，於活動及作業所需之期間內，以電子檔或紙本形式於我國境內蒐集、處理、利用其個人資料（包含活動兌獎及相關申報稅額使用等），中獎者應同意本公司公佈中獎名單於國泰產險網站及全台營業據點，以確保本活動公正公開。但主辦單位於未經參加者之同意下，不得再利用參加者之個人資料進行商業行銷行為。參加者可自由選擇是否提供完整個人資訊，惟若資訊不完整者，將無法參加本活動。</li>
                        <li>本活動如有任何因網路、行動裝置或其他不可歸責於主辦單位之事由，致參加者所寄出、填寫或登錄之資料有遺失、錯誤、無法辨識或毀損等情形，主辦單位不負任何法律責任。</li>
                        <li>主辦單位有權檢視得獎情況是否有人為操作之行為，對於以偽造、詐欺或其他不正當之方式意圖兌領之參加者，主辦單位有權取消其得獎資格或拒絕其參與本活動。</li>
                        <li>中獎者須於領獎期限內完成領獎手續，逾期未完成領獎程序或不符領獎程序者，視為放棄領獎權利，亦不得折換現金或兌換其他商品。</li>
                        <li>本活動贈品以實物為準，無法由中獎人挑選，且獎項經兌換後恕不得退還。</li>
                        <li>依稅法規定，得獎者若為中華民國境內居住之個人，且年度所得獎項價值累積超過新臺幣（以下同）1,000元者，主辦單位將於翌年開立所得扣繳憑單予得獎者。如所得獎項價值達20,000元（含）時，得獎者須先繳交10%機會中獎稅金，始可領獎。得獎人若非中華民國境內居住之個人（即在中華民國境內居住未達183天之本國人及外國人），不論得獎獎項價值，均須先就得獎所得扣繳20%機會中獎稅金，始可領獎，主辦單位並將依法開立所得扣繳憑單。若未能依法繳納應繳稅額，即視為喪失得獎資格。因參加本活動而須支付之任何稅捐皆為參加者之義務，概與主辦單位無關。前述稅捐法規如有更新或變動者，依修正後之規定辦理。</li>
                        <li>主辦單位非獎品製造者或提供者，與各項獎品或服務之製造或提供廠商無任何代理或合夥關係，且本活動獎品之保固期限均依廠商出廠時實際提供者為準。如領取後對獎品之使用方式、售後服務、保固等發生任何爭議，概與主辦單位無關。</li>
                        <li>中獎人若未滿20歲，需經家長同意並簽署同意書後方可領獎，且依法規定需提供戶口名簿備查。</li>
                        <li>主辦單位保有決定取消、終止、修改或暫停本活動相關內容之權利，並得以公告方式通知參加者。如有未盡事宜，悉依主辦單位相關規定或解釋辦理。</li>
                        <li>本活動之登入、交易、申請開通、抽獎資格、兌獎紀錄、中獎紀錄均以主辦單位電腦系統紀錄為準，主辦單位有權檢視各項交易、抽獎及相關紀錄，若參加者有任何違反活動注意事項、利用程式惡意影響活動結果或任何破壞公平性及其他非法行為等，主辦單位保有取消其參加抽獎及中獎資格之權利。</li>
                    </ol>
                </article>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->