<!-- build:body -->activity bg-gray<!-- /build:body -->
<!-- build:content -->
<main>
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">過去活動</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner activity">
        <img src="../img/activity/PFB1_0100/banner-01.png" srcset="../img/activity/PFB1_0100/banner-01@2x.png" class="d-none d-md-block" />
        <img src="../img/activity/PFB1_0100/banner-01-sm.png" srcset="../img/activity/PFB1_0100/banner-01-sm@2x.png" class="d-block d-me-none" />
        <div class="caption">
            <div class="container">
                <h1 class="text-center">熱門活動</h1>
            </div>
        </div>
    </div>


    <div class="tab-container is-green">
        <div class="container d-block d-md-none">
            <div class="pop-menu">
                <select name="" id="" class="select2">
                    <option value="./activity-11-1-0.html">重點活動</a></option>
                    <option value="./activity-11-2-0.html">線上投保優惠懶人包</a></option>
                    <option value="./activity-11-3-0.html" selected>過去活動</a></option>
                </select>
            </div>
        </div>
        <div class="tab-header d-none d-md-block">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./activity-11-1-0.html">重點活動</a></li>
                    <li><a href="./activity-11-2-0.html">線上投保優惠懶人包</a></li>
                    <li class="active"><a href="./activity-11-3-0.html">過去活動</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <section class="section">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="form-group">
                        <select class="select2" data-searchbox="false">
                            <option value=" active">所有活動</option>
                            <option value=""><span>得獎名單</option>
                            <option value="">車險</option>
                            <option value="">GoPro</option>
                            <option value="">Switch</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="labels text-center mobile-in-scroll">
                <a role="button" class="label outline active">所有活動</a>
                <a role="button" class="label outline"><span>得獎名單</a></span>
                <a role="button" class="label outline">車險</a>
                <a role="button" class="label outline">GoPro</a>
                <a role="button" class="label outline">Switch</a>
            </div> -->

            <div class="cards four-cards activity my-4">
                <div class="card">
                    <a href="./activity-11-3-1.html" class="image">
                        <img src="https://placeimg.com/280/120/any" alt="">
                    </a>
                    <div class="ribbon">
                        已截止
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/1/1-2019/3/31</small>
                        </div>
                        <h5 class="title">加入會員 抽屈臣氏100元</h5>
                    </div>
                    <div class="action">
                        <a href="./activity-11-3-1.html">
                            <i class="icon-arrow-right"></i>
                            <span>活動詳情</span>
                        </a>
                        <a href="./activity-11-3-2.html">
                            <i class="icon-arrow-right"></i>
                            <span>得獎名單</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <a href="./activity-11-3-1.html" class="image">
                        <img src="https://placeimg.com/280/120/any" alt="">
                    </a>
                    <div class="content">
                        <div>
                            <small class="meta">2019/1/1-2019/3/31</small>
                        </div>
                        <h5 class="title">汽車【車體險】加碼抽</h5>
                    </div>
                    <div class="action">
                        <a href="./activity-11-3-1.html">
                            <i class="icon-arrow-right"></i>
                            <span>活動詳情</span>
                        </a>
                        <a href="./activity-11-3-2.html">
                            <i class="icon-arrow-right"></i>
                            <span>得獎名單</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <a href="./activity-11-3-1.html" class="image">
                        <img src="https://placeimg.com/280/120/any" alt="">
                    </a>
                    <div class="content">
                        <div>
                            <small class="meta">2019/1/1-2019/3/31</small>
                        </div>
                        <h5 class="title">新春快樂遊 班機延誤賠1萬</h5>
                    </div>
                    <div class="action">
                        <a href="./activity-11-3-1.html">
                            <i class="icon-arrow-right"></i>
                            <span>活動詳情</span>
                        </a>
                        <a href="./activity-11-3-2.html">
                            <i class="icon-arrow-right"></i>
                            <span>得獎名單</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <a href="./activity-11-3-1.html" class="image">
                        <img src="https://placeimg.com/280/120/any" alt="">
                    </a>
                    <div class="content">
                        <div>
                            <small class="meta">2019/1/1-2019/3/31</small>
                        </div>
                        <h5 class="title">投保抽萬元機票</h5>
                    </div>
                    <div class="action">
                        <a href="./activity-11-3-1.html">
                            <i class="icon-arrow-right"></i>
                            <span>活動詳情</span>
                        </a>
                        <a href="./activity-11-3-2.html">
                            <i class="icon-arrow-right"></i>
                            <span>得獎名單</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <a href="./activity-11-3-1.html" class="image">
                        <img src="https://placeimg.com/280/120/any" alt="">
                    </a>
                    <div class="content">
                        <div>
                            <small class="meta">2019/1/1-2019/3/31</small>
                        </div>
                        <h5 class="title">加入會員 抽屈臣氏100元</h5>
                    </div>
                    <div class="action">
                        <a href="./activity-11-3-1.html">
                            <i class="icon-arrow-right"></i>
                            <span>活動詳情</span>
                        </a>
                        <a href="./activity-11-3-2.html">
                            <i class="icon-arrow-right"></i>
                            <span>得獎名單</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <a href="./activity-11-3-1.html" class="image">
                        <img src="https://placeimg.com/280/120/any" alt="">
                    </a>
                    <div class="content">
                        <div>
                            <small class="meta">2019/1/1-2019/3/31</small>
                        </div>
                        <h5 class="title">汽車【車體險】加碼抽</h5>
                    </div>
                    <div class="action">
                        <a href="./activity-11-3-1.html">
                            <i class="icon-arrow-right"></i>
                            <span>活動詳情</span>
                        </a>
                        <a href="./activity-11-3-2.html">
                            <i class="icon-arrow-right"></i>
                            <span>得獎名單</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <a href="./activity-11-3-1.html" class="image">
                        <img src="https://placeimg.com/280/120/any" alt="">
                    </a>
                    <div class="content">
                        <div>
                            <small class="meta">2019/1/1-2019/3/31</small>
                        </div>
                        <h5 class="title">新春快樂遊 班機延誤賠1萬</h5>
                    </div>
                    <div class="action">
                        <a href="./activity-11-3-1.html">
                            <i class="icon-arrow-right"></i>
                            <span>活動詳情</span>
                        </a>
                        <a href="./activity-11-3-2.html">
                            <i class="icon-arrow-right"></i>
                            <span>得獎名單</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <a href="./activity-11-3-1.html" class="image">
                        <img src="https://placeimg.com/280/120/any" alt="">
                    </a>
                    <div class="content">
                        <div>
                            <small class="meta">2019/1/1-2019/3/31</small>
                        </div>
                        <h5 class="title">投保抽萬元機票</h5>
                    </div>
                    <div class="action">
                        <a href="./activity-11-3-1.html">
                            <i class="icon-arrow-right"></i>
                            <span>活動詳情</span>
                        </a>
                        <a href="./activity-11-3-2.html">
                            <i class="icon-arrow-right"></i>
                            <span>得獎名單</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</main>
<!-- /build:content -->