<!-- build:body -->activity<!-- /build:body -->
<!-- build:content -->
<main>    
    <div class="banner activity activity-content">
        <img src="../img/activity/PFB1_0310/banner-02.png" class="d-none d-md-block" srcset="../img/activity/PFB1_0310/banner-02@2x.png"/>
        <img src="../img/activity/PFB1_0310/banner-02-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0310/banner-02-sm@2x.png"/>
    </div>
        
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">過去活動</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <article>
                    <h2>國泰產險投保抽Gogoro 2、iPhone XR帶回家！</h2>
                    <div class="labels mobile-in-scroll">
                        <a role='button' href="./activity-11-3-1.html" class="label outline">活動詳情</a>
                        <a role='button' href="./activity-11-3-2.html" class="label outline active">得獎名單</a>
                    </div>

                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="select2" data-searchbox="false">
                                    <option value="">7 月份中獎名單</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped reward-list">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">
                                    Gogoro 2
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>李○妤</td>
                                <td>0979***658</td>
                                <td>jess****@gmail.com</td>
                            </tr>
                            <tr>
                                <td>李○妤</td>
                                <td>0979***658</td>
                                <td>jess****@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped reward-list">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">
                                    iPhone XR
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>陳○翰</td>
                                <td>0979***658</td>
                                <td>jess****@gmail.com</td>
                            </tr>
                            <tr>
                                <td>陳○翰</td>
                                <td>0979***658</td>
                                <td>jess****@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->