<!-- build:body -->activity<!-- /build:body -->
<!-- build:content -->
<main>
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">熱門活動</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner activity">
        <img src="../img/activity/PFB1_0100/banner-01.png" srcset="../img/activity/PFB1_0100/banner-01@2x.png" class="d-none d-md-block" />
        <img src="../img/activity/PFB1_0100/banner-01-sm.png" srcset="../img/activity/PFB1_0100/banner-01-sm@2x.png" class="d-block d-md-none" />
        <div class="caption">
            <div class="container">
                <h1 class="text-center">熱門活動</h1>
            </div>
        </div>
    </div>

    <div class="tab-container is-green">
        <div class="container d-block d-md-none">
            <div class="pop-menu">
                <select name="" id="" class="select2">
                    <option value="./activity-11-1-0.html">重點活動</a></option>
                    <option value="./activity-11-2-0.html" selected>線上投保優惠懶人包</a></option>
                    <option value="./activity-11-3-0.html">過去活動</a></option>
                </select>
            </div>
        </div>
        <div class="tab-header d-none d-md-block">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./activity-11-1-0.html">重點活動</a></li>
                    <li class="active"><a href="./activity-11-2-0.html">線上投保優惠懶人包</a></li>
                    <li><a href="./activity-11-3-0.html">過去活動</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="section">
            <div class="labels text-center mobile-in-scroll">
                <a role="button" href="./activity-11-2-0.html" class="label outline active">所有活動</a>
                <a role="button" href="./activity-11-2-0.html" class="label outline">全站最大獎</a>
                <a role="button" href="./activity-11-2-0.html" class="label outline">車險優惠</a>
                <a role="button" href="./activity-11-2-0.html" class="label outline">寵物險</a>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-6">
                    <div class="card paded">
                        <div class="image auto-height">
                            <img src="../img/activity/PFB1_0200/activity-02.png" srcset="../img/activity/PFB1_0200/activity-02@2x.png">
                        </div>
                        <div class="content">
                            <div><small class="meta">2019/4/1  - 2019/6 /30</small></div>
                            <h2 class="title">投保抽Switch、Dyson、GoPro</h2>
                            <p class="description">
                                只要投保旅遊險、車險(須保強制險+任意險)、傷害險；或填寫住火險滿意度問卷，皆可參加好禮抽獎。快來把大獎抱回家~
                            </p>
                            <div>
                                <a href="" class="link">
                                    <i class="icon-arrow-right"></i>
                                    <span>活動詳情</span>
                                </a>
                                <a href="" class="link">
                                    <i class="icon-arrow-right"></i>
                                    <span>得獎名單</span>
                                </a>
                            </div>
                        </div>
                        <div class="action four-card">
                            <div class="buttons">
                                <a href="#" class="btn btn-primary btn-sm btn-block">旅遊險</a>
                                <a href="#" class="btn btn-primary btn-sm btn-block">住火險</a>
                                <a href="#" class="btn btn-primary btn-sm btn-block">汽車險</a>
                                <a href="#" class="btn btn-primary btn-sm btn-block">汽車險</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card paded">
                        <div class="image auto-height">
                            <img src="../img/activity/PFB1_0200/activity-03.png" srcset="../img/activity/PFB1_0200/activity-03@2x.png">
                        </div>
                        <div class="content">
                            <div><small class="meta">2019/4/1  - 2019/6 /30</small></div>
                            <h2 class="title">LINE Points 100點等你拿</h2>
                            <p class="description">
                                只要活動期間加入本站新會員，並投保任一險種，就能參加LINE Points抽獎，幸運兒可能就是你！
                            </p>
                            <div>
                                <a href="" class="link">
                                    <i class="icon-arrow-right"></i>
                                    <span>活動詳情</span>
                                </a>
                                <a href="" class="link">
                                    <i class="icon-arrow-right"></i>
                                    <span>得獎名單</span>
                                </a>
                            </div>
                        </div>
                        <div class="action">
                            <div class="buttons">
                                <a href="#" class="btn btn-primary btn-sm btn-block">立即加入會員</a>
                                <a href="#" class="btn btn-primary btn-sm btn-block">立即投保</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4>車險優惠大補帖</h4>
            <div class="row">
                <div class="col-12">
                    <div class="card activity full-image">
                        <div class="image">
                            <img src="../img/activity/PFB1_0200/activity-04.png" class="d-none d-md-block" srcset="../img/activity/PFB1_0200/activity-04@2x.png">
                            <img src="../img/activity/PFB1_0200/activity-04-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0200/activity-04-sm@2x.png">
                        </div>
                        <div class="content">
                            <div class="activity-card-header">
                                <div class="activity-header-content">
                                    <div class="meta">2019/4/1  - 2019/6 /30</div>
                                    <h2 class="title">投保汽車強制險</h2>
                                </div>
                                <div class="action">
                                    <a class="btn btn-sm btn-primary">立即投保</a>
                                </div>
                            </div>
                            <div class="activity-card-body">
                                <div class="item">
                                    <p>一年期保費優惠170元 / 兩年期保費優惠240元</p>
                                    <div>
                                        <a href="#" class="link"><i class="icon-arrow-right"></i><span>活動詳情</span></a>
                                        <a href="#" class="link"><i class="icon-arrow-right"></i><span>得獎名單</span></a>
                                    </div>
                                </div>
                                <div class="item">
                                    同時保任意險可再抽GoPro運動攝影機。
                                </div>
                                <div class="item">
                                    <p>符合早鳥資格(強制險到期前35天投保) 再抽「三星液晶電視」與「愛奇藝VIP一年份」</p>
                                    <div>
                                        <a href="#" class="link">
                                            <i class="icon-arrow-right"></i><span>活動詳情</span>
                                        </a>
                                        <a href="#" class="link">
                                            <i class="icon-arrow-right"></i><span>得獎名單</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card activity full-image">
                        <div class="image">
                            <img src="../img/activity/PFB1_0200/activity-04.png" class="d-none d-md-block" srcset="../img/activity/PFB1_0200/activity-04@2x.png">
                            <img src="../img/activity/PFB1_0200/activity-04-sm.png" class="d-block d-md-none" srcset="../img/activity/PFB1_0200/activity-04-sm@2x.png">
                        </div>
                        <div class="content">
                            <div class="activity-card-header">
                                <div class="activity-header-content">
                                    <div class="meta">2019/4/1  - 2019/6 /30</div>
                                    <h2 class="title">投保汽車強制險</h2>
                                </div>
                                <div class="action">
                                    <a class="btn btn-sm btn-primary">立即投保</a>
                                </div>
                            </div>
                            <div class="activity-card-body">
                                <div class="item">
                                    <p>一年期保費優惠170元 / 兩年期保費優惠240元</p>
                                    <div>
                                        <a href="#" class="link"><i class="icon-arrow-right"></i><span>活動詳情</span></a>
                                        <a href="#" class="link"><i class="icon-arrow-right"></i><span>得獎名單</span></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>同時保任意險可再抽GoPro運動攝影機。</p>
                                </div>
                                <div class="item">
                                    符合早鳥資格(強制險到期前35天投保) 再抽「三星液晶電視」與「愛奇藝VIP一年份」</p>
                                    <div>
                                        <a href="#" class="link">
                                            <i class="icon-arrow-right"></i><span>活動詳情</span>
                                        </a>
                                        <a href="#" class="link">
                                            <i class="icon-arrow-right"></i><span>得獎名單</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4>旅平＋不便險優惠</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="card paded">
                        <div class="image auto-height">
                            <img src="../img/activity/PFB1_0200/activity-05.png" class="auto-width" srcset="../img/activity/PFB1_0200/activity-05@2x.png">
                        </div>
                        <div class="content">
                            <div><small class="meta">2019/4/1  - 2019/6 /30</small></div>
                            <h2 class="title">JoinMe機場接送 現折200元</h2>
                            <p class="description">
                                投保旅遊險可獲折抵序號(雙北至桃園機場優惠價850元起)
                            </p>
                            <div>
                                <a href="./activity-11-2-1.html" class="link">
                                    <i class="icon-arrow-right"></i>
                                    <span>活動詳情</span>
                                </a>
                                <a href="./activity-11-2-2.html" class="link">
                                    <i class="icon-arrow-right"></i>
                                    <span>得獎名單</span>
                                </a>
                            </div>
                        </div>
                        <div class="action">
                            <div class="row">
                                <div class="col-12">
                                    <a href="#" class="btn btn-primary btn-sm btn-block">立即投保</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card paded">
                        <div class="image auto-height">
                            <img src="../img/activity/PFB1_0200/activity-06.png" srcset="../img/activity/PFB1_0200/activity-06@2x.png">
                        </div>
                        <div class="content">
                            <div><small class="meta">2019/4/1  - 2019/6 /30</small></div>
                            <h2 class="title">長榮會員 限時哩程雙倍送</h2>
                            <p class="description">
                                投保旅遊險申請快速理賠服務，長榮會員享保費每15元回饋一哩程。
                            </p>
                            <div>
                                <a href="" class="link">
                                    <i class="icon-arrow-right"></i>
                                    <span>活動詳情</span>
                                </a>
                                <a href="" class="link">
                                    <i class="icon-arrow-right"></i>
                                    <span>得獎名單</span>
                                </a>
                            </div>
                        </div>
                        <div class="action">
                            <div class="row">
                                <div class="col-12">
                                    <a href="#" class="btn btn-primary btn-sm btn-block">立即投保</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>
</main>
<!-- /build:content -->