<!-- build:body -->index offer<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">APP服務</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="banner offer">
        <div class="container">
            <div class="caption">
                <h1>
                    出國盡情玩，惱人的小事，<br/>
                    就交給「旅遊御守」
                </h1>
                <div class="desp">
                    提供旅遊綜合保險與信用卡綜合保險保障內容，旅遊不便發生時，引導與協助處理，若需要理賠，查、找、紀錄都交給旅遊御守，想獲得更多優惠？ 立刻下載APP
                </div>
                <div class="action mt-2 d-none d-md-block">
                    <a href="#">
                        <img src="../img/offer/PFB0_0200/google-play-badge.png" height="60" srcset="../img/offer/PFB0_0200/google-play-badge@2x.png">
                    </a>
                    <a href="#">
                        <img src="../img/offer/PFB0_0200/download-on-the-app-store-badge-cntc-rgb-blk-100217.png" height="60" srcset="../img/offer/PFB0_0200/download-on-the-app-store-badge-cntc-rgb-blk-100217@2x.png">
                    </a>
                </div>
            </div>
        </div>
        <img src="../img/offer/PFB0_0200/travel-download-app.png" class="bg" srcset="../img/offer/PFB0_0200/travel-download-app@2x.png" />
    </div>
    
    <section class="section promotion is-relax ">
        <div class="container">
            <h1 class="section-title">國泰產險旅遊御守，外出旅遊最好的夥伴</h1>
            <div class="row">
                <div class="col-md-6 col-lg-7 text-center d-none d-md-block">
                    <img src="../img/offer/PFB0_0200/feature.png" height="315" srcset="../img/offer/PFB0_0200/feature@2x.png">
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="item">
                        <div class="icon">
                            <i class="icon-check-handwrite i-32"></i>
                        </div>
                        <div class="content">
                            <h3 class="mb-1">海外旅遊小幫手</h3> 
                            <div class="description">
                                依據您的保單設定，提供各種海外旅遊不便狀況的處理導引
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <i class="icon-check-handwrite i-32"></i>
                        </div>
                        <div class="content">
                            <h3 class="mb-1">旅遊通訊錄，讓您方便取得聯繫</h3> 
                            <div class="description">
                                內建國泰產險客服專線 海外服務中心電話
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <i class="icon-check-handwrite i-32"></i>
                        </div>
                        <div class="content">
                            <h3 class="mb-1">
                                海外急難救助
                            </h3> 
                            <div class="description">
                                海外急難救助服務一覽，並協助正確撥打國際電話
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="is-relax process">
        <div class="container">
            <h1 class="section-title">三步驟，協助您輕鬆處理旅遊不便狀況</h1>

            <div class="cards three-card">
                <div class="card">
                    <div class="content">
                        <h1 class="no text-green">01</h1>
                        <h2 class="my-0">選擇狀況發生類型</h2>
                        <p class="description">
                            發生意外時別慌張，選擇當下最符合的項目，如班機延誤、班機取消、行李延誤..等，讓旅遊御守幫您通通打理好
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h1 class="no text-green">02</h1>
                        <h2 class="my-0">依照步驟引導處理</h2>
                        <p class="description">
                            了解保障內容與限制，清楚引導現場處理之提醒（另有貼心語音協助喔），讓您時間花在好好旅遊，煩惱的事情，讓國泰產險幫你搞定
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h1 class="no text-green">03</h1>
                        <h2 class="my-0">搜集理賠所需文件</h2>
                        <p class="description">
                            詳盡引導搜集理賠所需文件，所有權益一手掌握
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="is-relax">
        <div class="container">
            <h1 class="section-title">旅行前，設定好保單內容，保障權益帶著走</h1>
            
            <div class="cards three-card">
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/offer/PFB0_0200/procress-01.png" height="315" srcset="../img/offer/PFB0_0200/procress-01@2x.png">
                    </div>
                    <div class="content px-0">
                        <h3 class="title">旅遊前，下載旅遊御守APP</h3>
                        <p class="description">
                            旅行前，先下載旅遊御守APP，並在出發前登入連結您的保單。
                        </p>
                    </div>
                </div>
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/offer/PFB0_0200/procress-02.png" height="315" srcset="../img/offer/PFB0_0200/procress-02@2x.png">
                    </div>
                    <div class="content px-0">
                        <h3 class="title">設定連結你的保單內容</h3>
                        <p class="description">
                            請至APP左上角的設定按鈕，設定連結旅遊綜合保險與信用卡綜合保險。
                        </p>
                    </div>
                </div>
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/offer/PFB0_0200/procress-03.png" height="315" srcset="../img/offer/PFB0_0200/procress-03@2x.png">
                    </div>
                    <div class="content px-0">
                        <h3 class="title">保障權益隨身帶</h3>
                        <p class="description">
                            保障內容隨時查，再也不擔心出國旅遊時，找不到幫手 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="download">
        <img src="../img/offer/PFB0_0200/app-download.png" class="bg" srcset="../img/offer/PFB0_0200/app-download@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="../img/offer/PFB0_0200/app-icon.png" height="144" srcset="../img/offer/PFB0_0200/app-icon@2x.png">
                    <h1>
                        讓每段旅程，<br class="d-block d-md-none"/>多一點方便，添一份保障<br/>
                        立刻下載「旅遊御守」
                    </h1>
                    <div class="d-none d-md-block">
                        <a href="#">
                            <img src="../img/offer/PFB0_0200/google-play-badge.png" height="60" srcset="../img/offer/PFB0_0200/google-play-badge@2x.png">
                        </a>
                        <a href="#">
                            <img src="../img/offer/PFB0_0200/download-on-the-app-store-badge-cntc-rgb-blk-100217.png" height="60" srcset="../img/offer/PFB0_0200/download-on-the-app-store-badge-cntc-rgb-blk-100217@2x.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="document is-relax">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container text-center">
            <h1 class="section-title">想了解國泰旅平＋不便險有什麼保障嗎？ </h1>
            <a href="#" class="btn btn-primary">了解更多</a>
        </div>
    </section>
</main>
<!-- /build:content -->