<!-- build:body -->auth<!-- /build:body -->
<!-- build:content -->
<main>
    <img src="../img/auth/password.png" height="224" srcset="../img/auth/password@2x.png" class="auth-bg d-none d-md-block">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="#">首頁</a></li>
                    <li class="active"><a href="#">忘記密碼</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="is-relax">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="section-title mb-1">忘記密碼嗎？<br class="d-block d-md-none"/>別擔心，讓我協助您找回</h1>
                    <p>若您更改手機號碼或Email，以致無法收到驗證碼，請洽免費客服電話 0800-212-880</p>
                </div>
                
                <img src="../img/auth/passwordsm.png" height="224" srcset="../img/auth/passwordsm@2x.png" class="auth-bg d-block d-md-none m-auto">

                <div class="col-md-10 offset-md-1">
                    <form action="./auth-14-2-0_2.html" class="form">
                        <div class="panel login-panel">
                            <div class="panel-header">
                                <h4 class="panel-title">請輸入註冊時填寫的手機號碼</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group row has-error">
                                    <label for="account" class="col-md-3">帳號</label>
                                    <div class="col-md-9">
                                        <input type="text" id="account" name="account" placeholder="請輸入身分證或居留證號碼">
                                        <label class="error">
                                            Error
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mobile" class="col-md-3">手機號碼</label>
                                    <div class="col-md-9">
                                        <input type="tel" id="mobile" name="mobile" placeholder="格式：0908000365">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="action text-center">
                            <button type="submit" class="btn btn-primary">下一步</button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- /build:content -->