<!-- build:body -->auth<!-- /build:body -->
<!-- build:content -->
<div class="modal login-modal is-open">
    <div class="modal-content">
        <div class="modal-image">
            <img src="../img/common/login-ad.png" srcset="../img/common/login-ad@2x.png">
        </div>
        <div class="modal-body">
            <h2 class="text-center">
                <a role="close" class="close">
                    <i class="icon-close i-32"></i>
                </a>
                登入國泰產險
            </h2>
            <div class="tab-container is-green">
                <div class="tab-header">
                    <ul role="tab" class="tab is-fill">
                        <li class="active"><a role="tab-item" data-tab-id="login-1">一般登入</a></li>
                        <li><a role="tab-item" data-tab-id="login-2">手機驗證碼登入</a></li>
                    </ul>
                </div>
                <div class="tab-pane">
                    <div class="tab-content active" data-tab-id="login-1">
                        <form action="" class="form">
                            <div class="form-content">
                                <div class="form-group has-error">
                                    <label for="account">帳號</label>
                                    <input type="text" id="account" name="account">
                                    <label class="error">帳號輸入錯誤，請重新輸入</label>
                                </div>
                                <div class="form-group has-error">
                                    <label for="password">密碼</label>
                                    <input type="password" id="password" name="password">
                                    <label class="error">密碼輸入錯誤，請重新輸入</label>
                                    <div class="mt-1">
                                        <a href="./auth-14-2-0.html" class="float-right">忘記密碼？</a>
                                        <div class="checkbox">
                                            <input type="checkbox" name="remember_me" id="remember_me">
                                            <label for="remember_me">記住我</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="action text-center">
                                <button type="submit" class="btn btn-primary">
                                    登入
                                </button>
                                <p>
                                    還不是會員？<a href="./auth-14-3-0.html">註冊加入會員</a>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="tab-content" data-tab-id="login-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /build:content -->