<!-- build:body -->auth<!-- /build:body -->
<!-- build:content -->
<main>
    <img src="../img/auth/register.png" height="224" srcset="../img/auth/register@2x.png" class="auth-bg d-none d-md-block">
        
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="#">首頁</a></li>
                    <li class="active"><a href="#">註冊會員</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="is-relax">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="section-title mb-1">恭喜您已完成註冊</h1>
                    <p>註冊成功，請繼續升級認證會員，可享完整專屬服務。</p>
                </div>

                <img src="../img/auth/registersm.png" height="224" srcset="../img/auth/registersm@2x.png" class="d-block d-md-none m-auto">

                <div class="col-md-10 offset-md-1">
                    <div class="panel login-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">簡訊驗證</h4>
                        </div>
                        <div class="panel-body">
                            <div class="text-center mb-3">
                                <img src="../img/common/register-success.png" class="register-success" srcset="../img/common/register-success@2x.png">
                            </div>
                            <p>
                                國泰產險可幫助您快速輕鬆的搜尋關於產險的相關內容、報案理賠、<a href="./insurance.html" class="link">網路投保</a>，<a href="./auth-14-1-0.html" class="link">升級認證會員</a>還能<a href="./auth-14-1-0.html" class="link">線上保單查詢</a>與<a href="./auth-14-1-0.html" class="link">異動保單</a>。
                                我們由衷地期望您能享受在國泰產險的會員資格，並且經常地使用我們的網站。
                            </p>
                        </div>
                    </div>

                    <div class="action text-center">
                        <a href="./index.html" class="btn btn-default">返回</a>
                        <a href="./auth-14-1-0.html" class="btn btn-primary">升級認證會員</a>
                    </div>

                </div>
            </div>
        </section>
    </div>
</main>
<!-- /build:content -->