<!-- build:body -->auth<!-- /build:body -->
<!-- build:content -->
<main>
    <img src="../img/auth/password.png" height="224" srcset="../img/auth/password@2x.png" class="auth-bg d-none d-md-block">

    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="#">首頁</a></li>
                    <li class="active"><a href="#">忘記密碼</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="is-relax">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="section-title mb-1">驗證碼已發送至<br class="d-block d-md-none"/>您的手機與Email信箱</h1>
                    <p>若您更改手機號碼或Email，以致無法收到驗證碼，請洽免費客服電話 0800-212-880</p>
                </div>

                <img src="../img/auth/passwordsm.png" height="224" srcset="../img/auth/passwordsm@2x.png" class="d-block d-md-none m-auto">

                <div class="col-md-10 offset-md-1">
                    <form action="./auth-14-2-0_3.html" class="form">
                        <div class="panel login-panel">
                            <div class="panel-header">
                                <h4 class="panel-title">身份驗證</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group row mb-0">
                                    <label class="col-5 col-md-3 text pt-0">您的手機號碼</label>
                                    <div class="col-7 col-md-9 text text-green">
                                        0972****12
                                    </div>
                                </div>
                                <div class="form-group row mb-1">
                                    <label class="col-5 col-md-3 text pt-0">Email電子信箱</label>
                                    <div class="col-7 col-md-9 text text-green">
                                        Aja**@***ail.com
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="account" class="col-5 col-md-3 text pt-0">XYZ-</label>
                                    <div class="col-7 col-md-9">
                                        <input type="text" id="account" name="account" placeholder="請輸入四位數驗證碼">
                                    </div>
                                    <!-- if waiting -->
                                    <div class="col-12 col-md-9 offset-md-3 mt-1">
                                        重新發送須等待 <span class="text-red">177</span> 秒
                                    </div>
                                    <!-- else -->
                                    <div class="col-12 col-md-9 offset-md-3 mt-1">
                                        <a role="button" class="link">
                                            <i class="icon-refresh"></i>
                                            <span class="text">重新發送驗證碼</span>
                                        </a>
                                    </div>
                                    <!-- end if -->
                                </div>
                            </div>
                        </div>

                        <div class="action text-center">
                            <button type="submit" class="btn btn-primary">下一步</button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- /build:content -->