<!-- build:body -->auth<!-- /build:body -->
<!-- build:content -->
<main>
    <img src="../img/auth/register.png" height="224" srcset="../img/auth/register@2x.png" class="auth-bg d-none d-md-block">

    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="#">首頁</a></li>
                    <li class="active"><a href="#">註冊會員</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="is-relax">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="section-title mb-1">歡迎註冊國泰產險</h1>
                    <p>不管是網路投保、理賠服務，還是變更保單內容，都交給國泰產險！立即註冊享受更多專屬服務。</p>
                </div>

                <img src="../img/auth/registersm.png" height="224" srcset="../img/auth/registersm@2x.png" class="d-block d-md-none m-auto">

                <div class="col-md-10 offset-md-1">
                    <form action="./auth-14-3-0_2.html" class="form">
                        <div class="panel login-panel">
                            <div class="panel-header">
                                <h4 class="panel-title">會員註冊</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group row">
                                    <label for="account" class="col-md-3">帳號</label>
                                    <div class="col-md-9">
                                        <input type="text" name="account" placeholder="請輸入身分證字號或居留證號碼">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-md-3">密碼</label>
                                    <div class="col-md-9">
                                        <input type="password" name="password" placeholder="請輸入 6-12 位英數混合密碼">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password_comfirmation" class="col-md-3">密碼確認</label>
                                    <div class="col-md-9">
                                        <input type="password" id="password_comfirmation" name="password_comfirmation" placeholder="請輸入 6-12 位英數混合密碼">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-md-3">姓名</label>
                                    <div class="col-md-9">
                                        <input type="text" id="username" name="username" placeholder="請輸入您的真實姓名">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="country" class="col-md-3">國籍</label>
                                    <div class="col-md-9">
                                        <div class="select">
                                            <select name="country" id="country">
                                                <option value=""> 請選擇國籍</option>
                                            </select>
                                        </div>
                                        <a class="link" data-trigger="modal" data-modal="invalid-country-list">
                                            (本網站暫不提供加入會員的國籍清單)
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mobile" class="col-md-3">手機號碼</label>
                                    <div class="col-md-9">
                                        <input type="tel" name="mobile" id="mobile" placeholder="格式：0908000365">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-md-3">Email</label>
                                    <div class="col-md-9">
                                        <input type="email" name="email" placeholder="格式 ： demo@cathayins.com">
                                        <div class="checkbox mt-1">
                                            <input type="checkbox" name="get_edm" id="get_edm">
                                            <label for="get_edm">我想要透過電子信箱收到保險資訊等消息</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="birthday" class="col-md-3">生日</label>
                                    <div class="col-md-9">
                                        <input type="text" name="birthday" class="datepicker" placeholder="格式：西元年月日YYYYMMDD">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="address" class="col-md-3">通訊地址（選填）</label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="select">
                                                    <select name="address" id="address">
                                                        <option value="">請選擇縣市</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="select">
                                                    <select name="address" id="address">
                                                        <option value="">請選擇縣市</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" placeholder="請輸入街路名稱及門牌號碼">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="checkbox mb-4">
                                    <input type="checkbox" name="agree" id="agree">
                                    <label for="agree">
                                        勾選即代表您已詳細閱讀並同意<a class="link" role="button" data-trigger="modal" data-modal="policy-1">個資法告知義務事項</a> 、 <a class="link" role="button" data-trigger="modal" data-modal="policy-2">國泰產險網站服務使用約定書 </a>、 <a class="link" role="button" data-trigger="modal" data-modal="policy-3">網路投保聲明事項</a> 、 <a class="link" role="button" data-trigger="modal" data-modal="policy-4">網路保險服務聲明事項</a> ，並了解相關契約書需審閱期之規定 (5日以上)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="action text-center">
                            <button type="submit" class="btn btn-primary">下一步</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>

<div class="modal" role="modal" data-modal-id="invalid-country-list">
    <div class="modal-content">
        <div class="modal-header">
            <a role="button" class="close">
                <i class="icon-close i-24"></i>
            </a>
            <h3 class="modal-title">高風險國家</h3>
        </div>
        <div class="modal-body pb-4">
            <div class="row">
                <div class="col">
                    CF中非共和國<br/>
                    CD剛果民主共和國<br/>
                    IQ伊拉克<br/>
                    KP北韓<br/>
                    LB黎巴嫩<br/>
                    LY利比亞                       
                </div>
                <div class="col">
                    SO索馬利亞<br/>
                    SS南蘇丹<br/>
                    SY敘利亞<br/>
                    YE葉門<br/>
                    SD蘇丹
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary">
                我知道了
            </a>
        </div>
    </div>
</div>

<div class="modal" role="modal" data-modal-id="policy-1">
    <div class="modal-content">
        <div class="modal-header">
            <a role="button" class="close">
                <i class="icon-close i-24"></i>
            </a>
            <h3 class="modal-title">個資法告知義務事項</h3>
        </div>
        <div class="modal-body pb-4">
            親愛的客戶，您好： <b>國泰世紀產物保險股份有限公司</b>（以下稱本公司）依據個人資料保護法（以下稱個資法）第八條及第九條規定，向 台端告知下列事項，請 台端詳閱： <ul> <li>一、蒐集之目的：辦理財產保險(093)、人身保險(001)、行銷(包含金控共同行銷業務)(040)及其他合於營業登記項目或組織章程所定之業務(181)。</li> <li>二、蒐集之個人資料類別：一般個資(包括但不限於姓名、出生年月日、身分證統一編號、護照號碼、婚姻、職業、聯絡方式、財務情況及其他得以直接或間接方式識別個人之資料等，詳如要保書或相關業務申請書內容。</li> <li>三、個人資料之來源（個人資料非由當事人提供間接蒐集之情形適用）：</li> (一)要保人/被保險人 (二)司法警憲機關、委託協助處理理賠之公證人或機構 (三)當事人之法定代理人、輔助人 (四)各醫療院所 (五)與第三人共同行銷、交互運用客戶資料、合作推廣等關係、或於本公司各項業務內所委託往來之第三人。 <li>四、個人資料利用之期間、對象、地區及方式：</li> (一)期間：因執行業務所必須及依法令規定應為保存之期間。        (二)對象：本(分)公司及本公司海外分支機構、中華民國產物保險商業同業公會、中華民國人壽保險商業同業公會、財團法人保險事業發展中心、財團法人保險安定基金、財團法人住宅地震保險基金、財團法人汽車交通事故特別補償基金、財團法人保險犯罪防制中心、財團法人金融消費評議中心、財團法人金融聯合徵信中心、財團法人聯合信用卡中心、台灣票據交換所、財金資訊公司、關貿網路股份有限公司、中央健康保險局、業務委外機構、與本公司有再保業務往來之公司、依法有調查權機關或金融監理機關。 (三)地區：上述對象所在之地區。 (四)方式：合於法令規定之利用方式。 <li>五、依據個資法第三條規定，台端就本公司保有 台端之個人資料得行使之權利及方式： (一)得向本公司行使之權利： 1.向本公司查詢、請求閱覽或請求製給複製本。 2.向本公司請求補充或更正。 3.向本公司請求停止蒐集、處理或利用及請求刪除。 惟本公司依法令規定或因執行業務所必須，得不依您的請求處理。 (二)行使權利之方式：透過客服專線0800-036-599 或書面方式行使。</li> <li>六、台端不提供個人資料所致權益之影響：台端若未能提供相關個人資料時，本公司將可能延後或無法進行必要之審核及處理作業，因此可能婉謝承保、遲延或無法提供台端相關服務或給付(視業務性質)。</li> </ul>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary">
                我知道了
            </a>
        </div>
    </div>
</div>

<div class="modal" role="modal" data-modal-id="policy-2">
    <div class="modal-content">
        <div class="modal-header">
            <a role="button" class="close">
                <i class="icon-close i-24"></i>
            </a>
            <h3 class="modal-title">國泰產險網站服務使用約定書</h3>
        </div>
        <div class="modal-body pb-4">
            <ul><h6>認知與接受：</h6> <li>第一條 國泰世紀產物保險股份有限公司（以下稱本公司）係依據本約定書條款提供國泰產險官方網站及國泰產險網路投保網站（<a href="http://www.cathayholdings.com/insurance" target="_blank">http://www.cathayholdings.com/insurance/</a>及<a href="https://w3.bobe.com.tw" target="_blank">https://w3.bobe.com.tw</a>，以下簡稱本公司網站）會員服務（以下簡稱本服務）。當會員使用本服務時，除代表已完全瞭解及接受本約定書之所有約定外，並同意本公司對會員的個人資料，有依「個人資料保護法」之相關規定，為蒐集、處理或國際傳輸、利用等之權利。</li> <li>第二條 本公司有權於任何時間修改或變更本約定書之內容，建議會員隨時注意該等修改或變更。會員於本約定書有任何修改或變更後繼續使用本公司網站，視為會員已閱讀、瞭解並同意接受該等修改或變更。如果會員不同意本約定書的內容，或者會員所屬的國家或地域排除本約定書內容之全部或一部時，會員應立即停止使用本公司網站。若會員尚未滿二十歲，應經法定代理人（或監護人）閱讀、瞭解並同意本約定書之內容及其後之修改變更後，方得使用本公司網站。</li> <h6>服務範圍</h6> <li>第三條 本服務均為免費提供，本公司得隨時增加、取消或修改本服務內容之全部或一部。</li> <h6>登錄義務</h6> <li>第四條 為得以使用本服務，會員同意： 1.依服務登錄表提供正確、最新及完整的資料。 2.提供的資料如有錯誤或不實，本公司得暫停或終止會員身分。</li> <h6>顧客資料保密措施</h6> <li>第五條 會員所登錄之資料，受「個人資料保護法」及本公司「顧客資料保密措施」之保護。</li> <h6>會員帳號、密碼與安全</h6> <li>第六條 會員應妥善保管帳號及密碼，並於每次使用後確實登出，以防他人盜用。 會員發現或懷疑自己的會員身分證字號或密碼遭他人盜用時，應該立即通知本公司採取必要的處置。但該通知不得解釋為本公司對會員負有任何賠償或補償之責任或義務。</li> <h6>使用者的守法義務及承諾</h6> <li>第七條 會員承諾絕不為任何非法目的或以任何非法方式使用本公司網站，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。會員若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。會員同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於： 1.公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案於本公司網站上。 2.違反依法律或契約所應負之保密義務。 3.冒用他人名義使用本服務。 4.傳輸或散佈電腦病毒。 5.其他本公司網站有正當理由認為不適當之行為。</li> <h6>資訊或建議</h6> <li>第八條 會員由本公司網站或本公司網站連結之其他網站下載取得之軟體或資料，本公司對該軟體或資料不負擔保或保證之責。</li> <h6>廣告行為</h6> <li>第九條 本公司網站上所有廣告，均由各該廣告商、產品與服務的供應商所設計與提出，會員對於廣告內容之正確性與可信度應自行判斷，本公司僅提供網站供刊登或鏈結，對該廣告不負擔保責任。</li> <h6>買賣或其他交易行為</h6> <li>第十條 會員經由本公司網站連結之其他網站與廠商進行商品買賣、服務或其他交易者，其因此所生之法律關係僅存在於會員與廠商之間，與本公司無涉。</li> <h6>智慧財產權</h6> <li>第十一條 本公司所使用之軟體、程式及網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由本公司或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。 任何人不得逕自使用、修改、重製、公開播送、改作、散佈、發行、公開發表或進行還原工程、解編或反向組譯。若會員欲引用或轉載前述軟體、程式或網站內容，必須依法取得本公司或其他權利人的事前書面同意。如有違反，會員應對本公司負損害賠償責任（包括但不限於訴訟費用及律師費用等）。</li> <h6>個人資料保護</h6> <li>第十二條 本公司為提供會員更好的客戶服務而蒐集、處理或利用會員於本公司網站中留存之個人資料，本公司皆會以尊重會員的權益為基礎，於會員同意期間內，以誠實信用之方法處理或利用會員所提供的資料 。本公司只會蒐集與上述目的相關且有需要的個人資料，會員的個人資料原則上僅會在法令許可的範圍之下，以電子檔或紙本形式，於我國境內提供本公司及本公司委外廠商之處理及利用。本公司訂有國泰產險個人資料管理政策，並有完善之國泰產險個人資料檔案安全維護計畫，任何流程皆有嚴格之控管程序及標準作業流程，會員所提供的一切資料均會予以嚴加保密。基於個人資料保護法之規定，會員可以撥打本公司免費客戶服務專線（0800-036-599按2），針對會員的個人資料請求本公司答覆查詢、提供閱覽、製給複製本、更正、補充、停止蒐集、處理、利用或刪除。會員亦可至本公司官方網站之個人資料保護專區進一步瞭解相關權益。</li> <h6>免責聲明</h6> <li>第十三條 本公司網站除本公司所提供之服務、資訊且無第十四條第四款之情事者外，就下列事項不負保證之責： 1.本服務符合會員的需求。 2.本服務之及時提供、安全性、可靠性、正確性、完整性或不受干擾。</li> <h6>服務暫停或中止</h6> <li>第十四條 有下列情事之一者，本公司得暫停、變更、中斷或終止本服務之全部或一部，對於會員因此所致之損害，本公司不負任何賠償或補償責任： 1.本公司對本服務相關軟硬體設備進行搬遷、更換、升級、保養或維修者。 2.會員有任何違反政府法令或本約定書條款者。 3.天災或其他不可抗力。 4.非本公司所得控制之事由致本服務資訊顯示不正確、遭偽造、竄改、刪除或擷取或致系統中斷或不能正常運作時。 5.其他不可歸責於本公司之事由。</li> <h6>會員身份終止</h6> <li>第十五條 會員違反本約定書條款，或將其基於本約定書所生之會員權利讓與他人行使者，本公司得不經催告終止其會員資格，並追究相關之法律責任。會員得隨時以書面或電子郵件通知本公司終止其會員資格。</li> <li>第十六條 本約定書任一條款無效者，不影響其他條款之效力。會員與本公司之權利義務，依網路規範及中華民國法律定之；因本約定書所生事項涉訟時，以臺灣臺北地方法院為第一審管轄法院。</li></ul>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary">
                我知道了
            </a>
        </div>
    </div>
</div>

<div class="modal" role="modal" data-modal-id="policy-3">
    <div class="modal-content">
        <div class="modal-header">
            <a role="button" class="close">
                <i class="icon-close i-24"></i>
            </a>
            <h3 class="modal-title">網路投保聲明事項</h3>
        </div>
        <div class="modal-body pb-4">
            <p>申請人茲向國泰產物保險股份有限公司（以下簡稱「本公司」）申請透過本公司指定網站（下稱「本網站」，https://w3.bobe.com.tw/）進行網路投保。申請人於申請網路投保前，已詳閱且同意遵守本網站<u>國泰產險網站服務使用約定書</u>、<u>網路保險服務契約書</u>、<u>產險業履行個人資料保護法告知義務內容</u>及<u>下列事項</u>：</p><p>一、有關本公司所發給之密碼或加密工具，為本公司對申請人身分之認證，申請人應妥善保管；經核對密碼或加密工具無誤時，即視為申請人親自申請。</p><p>二、在使用網路投保服務時，可能面對以下風險：如斷線、斷電、網路壅塞或其他因素等造成傳輸之阻礙，致電子訊息無法傳送、接收或時間延遲。另外其他可能導致本網站無法正常使用之原因，如網路提供業者之線路穩定性、使用者操作不當、斷電及天災等不可抗力因素，係非本公司可控制範圍。因影響網路投保之因素無法一一詳述，申請人於進行網路投保前，應對本公司不定時發布之最新訊息及其他注意事項等詳加注意及遵守。</p><p>三、有下列情形之一者，本公司得不處理申請人之網路投保申請：</p><ol>	<li>本公司認該網路投保申請之真實性或所指定事項之正確性有疑義者。</li>	<li>該網路投保申請之內容，違反相關法令之規定或保險契約之約定者。</li></ol><div class="alert alert-success" role="alert">申請人已詳細閱讀並充分瞭解以上網路投保之注意事項、可能產生之風險及相關使用約定，爰同意以網路進行投保事宜，特此聲明。</div>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary">
                我知道了
            </a>
        </div>
    </div>
</div>

<div class="modal" role="modal" data-modal-id="policy-4">
    <div class="modal-content">
        <div class="modal-header">
            <a role="button" class="close">
                <i class="icon-close i-24"></i>
            </a>
            <h3 class="modal-title">網路保險服務聲明事項</h3>
        </div>
        <div class="modal-body pb-4">
            <ul> <li>本契約書於中華民國　 年　 月　 日交付消費者審閱。（契約審閱期間至少五日）</li> <h6>第一條　契約之適用範圍</h6> <li>當事人間依電子簽章法及相關法令之規定從事保險電子交易者，適用本契約之約定。但個別網路保險服務契約對消費者之保護更有利者，從其約定。</li> <h6>第二條　名詞定義</h6> <li>本契約之名詞定義如下： 一、「保險電子交易」：指消費者經由網際網路與本保險公司資訊系統電腦連線，且利用電子簽章或其他足資辨識消費者身分之方式，直接取得本保險公司所提供之各項保險服務。 二、「電子訊息」：指本保險公司或消費者經由網際網路連線傳遞之訊息。 三、「數位簽章」：指將電子文件以數學演算法或其他方式運算為一定長度之數位資料，以簽署人之私密金鑰對其加密，形成電子簽章，並得以公開金鑰加以驗證者。 四、「私密金鑰」：指一組具有配對關係之數位資料中，由簽章製作者保有之數位資料，該數位資料係作電子訊息解密及製作數位簽章之用。 五、「公開金鑰」：指一組具有配對關係之數位資料中，用以對電子訊息加密、或驗證簽署者身分及數位簽章真偽之數位資料。 六、「加密」：指利用數學演算法或其他方法，將電子文件以亂碼方式處理。 七、「電子簽章」：指依附於電子文件並與其相關連，用以辨識及確認電子文件簽署人身分、資格及電子文件真偽者。 八、「憑證」：指載有簽章驗證資料，用以確認簽署人身分、資格之電子形式證明。 九、「資訊系統」：指產生、送出、收受、儲存或其他處理電子形式訊息資料之系統。</li> <h6>第三條　連線所使用之網路</h6> <li>本保險公司及消費者應各自與網路業者簽訂網路服務契約，並各自負擔網路使用之費用。</li> <h6>第四條　網頁之確認</h6> <li>消費者與本保險公司交易前，應先確認本保險公司正確之網址。 本保險公司應盡善良管理人之注意義務，隨時維護網站的正確性與安全性，以避免消費者之權益受損。</li> <h6>第五條　電子訊息之接收與回應</h6> <li>本本保險公司接收含數位簽章或經本保險公司及消費者同意用以辨識身分之電子訊息後，應立即以下列方式之ㄧ要求消費者再確認： 一、以資訊系統自動回覆通知消費者。 二、以資訊系統再次確認裝置提示消費者。 經消費者依前項規定再確認者，該項電子訊息視為已經本保險公司受理。 本保險公司受理消費者之電子訊息後，應即時進行檢核或處理，並於三日內將結果通知消費者。 本保險公司應於同意承保後，將網路保險交易成功訊息（內容包含保險單號碼或交易序號、保險單生效時間、保險金額等重要資訊）傳送予消費者。 本保險公司同意承保後，保險契約即為成立。 本保險公司或消費者接收來自對方任何電子訊息，若無法辨識其身分或內容時，視為傳送作業未完成。 但本保險公司可確定消費者身分時，應立即將內容無法辨識之事實通知消費者。</li> <h6>第六條　電子訊息之不處理</h6> <li>有下列情形之一者，本保險公司得不處理任何接收之電子訊息： 一、 本保險公司能舉出證據有具體理由懷疑電子訊息之真實性或所指定事項之正確性者。 二、 本保險公司依據電子訊息處理，將違反相關法令或保險契約之規定者。 本保險公司不處理前項電子訊息者，應同時將不處理之具體理由及情形通知消費者。</li> <h6>第七條　消費者軟硬體安裝與風險</h6> <li>消費者申請使用本契約之服務項目，應自費安裝其所需之電腦軟體、硬體，以及其他與安全相關之設備。 消費者於使用本保險公司所交付之軟硬體設備時，如因可歸責於本保險公司之事由致受有損害，得向本保險公司請求賠償。</li> <h6>第八條　消費者之注意義務</h6> <li>消費者對使用者帳號、密碼、憑證及相關文件，應妥善保管。 消費者輸入前項密碼連續錯誤達三次時，本保險公司資訊系統即自動停止消費者使用本契約之服務。消費者如擬恢復使用，應向本保險公司提出申請。</li> <h6>第九條　交易核對</h6> <li>本保險公司於每筆交易指示處理完畢後，以電子訊息或雙方約定之方式通知消費者，消費者應核對其結果有無錯誤。如有不符，應於通知到達之日起七日內，通知本保險公司查明。 本保險公司對於消費者之通知，應即進行調查，並於通知到達本保險公司之日起三十日內，將調查之情形或結果覆知消費者。</li> <h6>第十條　電子訊息錯誤之處理</h6> <li>消費者利用本契約之服務，如其電子訊息因不可歸責於消費者之事由而發生錯誤者，本保險公司應協助消費者更正，並提供其他必要之協助。 前項服務因可歸責於本保險公司之事由而發生錯誤者，本保險公司應於知悉時，立即更正，並同時以電子訊息或雙方約定之方式通知消費者。</li> <h6>第十一條 電子文件之合法授權與責任</h6> <li>雙方應確保所傳送至對方之電子訊息均經合法授權。 雙方於發現有第三人冒用或盜用使用者帳號、密碼、憑證或其他任何未經合法授權之情形，應立即以電話或書面或其他約定方式通知他方停止使用該服務並採取防範之措施。 本保險公司接受通知前，已依前項服務之指示為給付者，不受拘束，但本保險公司有故意或過失者不在此限。</li> <h6>第十二條　資料安全</h6> <li>本保險公司對所承保之消費者及其利害關係人之個人資料檔案，應採取適當之安全措施，防止個人資料被竊取、竄改、毀損、滅失或洩露。 本保險公司違反前項規定，致個人資料遭不法蒐集、處理、利用或其他侵害當事人權利者，應負損害賠償責任。但能證明其無故意或過失者，不在此限。</li> <h6>第十三條 資訊保密義務</h6> <li>本保險公司因處理本契約及基於本契約所從事之保險電子交易，所取得之相關資料負有保密義務。除經當事人同意或符合個人資料保護之相關法令規定外，本保險公司不得使用於與本契約無關之目的或對第三人揭露。</li> <h6>第十四條　損害賠償責任</h6> <li>因本契約雙方之故意或過失，就本契約傳送或接收電子訊息，有遲延、遺漏或錯誤之情事；或就本契約所生義務之不履行或遲延履行，而致他方受有損害時，應負賠償責任。</li> <h6>第十五條　紀錄保存</h6> <li>雙方應保存所有保險電子交易訊息（不含查詢類）紀錄，並應確保其真實性及完整性。 本保險公司對前項紀錄之保存，應盡善良管理人之注意義務。 保存期限至少為保險契約有效期限屆滿或通知消費者不同意承保後五年。</li> <h6>第十六條　電子訊息之效力</h6> <li>雙方同意依本契約利用電子簽章或電子文件方式交換之電子訊息，其效力與書面簽署或書面文件相同。</li> <h6>第十七條　消費者終止契約</h6> <li>消費者得隨時通知本保險公司終止本契約。</li> <h6>第十八條　保險公司終止契約</h6> <li>本保險公司欲終止本契約時，須於終止日三十日前以書面通知消費者。但消費者如有下列情事之一者，本保險公司得隨時以書面通知消費者終止本契約： 一、消費者未經本保險公司同意，擅自將本契約之權利或義務轉讓第三人。 二、消費者受法院破產或重整宣告。 三、消費者違反本契約第十一條第一項之規定。 四、消費者違反本契約之其他約定，經催告改善或限期請求履行未果。</li> <h6>第十九條　通知處所</h6> <li>消費者或本保險公司就本契約事項對他方為通知者，應向他方所留存本契約之最後地址或電子郵件信箱為之。</li> <h6>第二十條　法令適用</h6> <li>本契約準據法，依中華民國法律。</li> <h6>第二十一條　管轄法院</h6> <li>因本契約涉訟者，雙方同意以消費者住所地地方法院為第一審管轄法院。消費者之住所在中華民國境外時，以臺灣台北地方法院為第一審管轄法院。但不得排除消費者保護法第四十七條及民事訴訟法第四百三十六條之九小額訴訟管轄法院之適用。</li> <h6>第二十二條　契約修訂</h6> <li>本契約如有未盡事宜，得經本保險公司及消費者協議補充或修正之。</li></ul>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary">
                我知道了
            </a>
        </div>
    </div>
</div>
<!-- /build:content -->