<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a data-anchor="special" role="button" class="nav-item active">商品特色</a>
            <a data-anchor="known" role="button" class="nav-item">了解險種</a>
            <a data-anchor="flow" role="button" class="nav-item">投保流程</a>
            <a data-anchor="faq" role="button" class="nav-item">常見問題</a>
        </nav>
        <div class="navbar-right">
            <a href="../bobe/car/ECV20100.html" class="btn btn-default">我要續保</a>
            <a href="../bobe/car/ECV20100.html" class="btn btn-red">線上投保87折優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="banner insurance owl-carousel">
        <div class="item">
            <img src="../img/insurance/PFA2_0100/car.png" height="312px" srcset="../img/insurance/PFA2_0100/car@2x.png" />
            <div class="container">
                <div class="caption">
                    <h1>
                        國泰車險線上投保<br/>
                        強制險現折$250，其他險種87折
                    </h1>
                    <div class="desp">
                        再抽 Gogoro2，優惠只到 4/30 唷！
                    </div>
                    <div class="action mt-2">
                        <a href="../bobe/car/ECV20100.html" class="btn btn-default">試算投保</a>
                        <a href="#" class="btn btn-outline-reverse">看活動說明</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/insurance/PFA2_0100/car.png" height="312px" srcset="../img/insurance/PFA2_0100/car@2x.png" />
            <div class="container">
                <div class="caption">
                    <h1>
                        國泰車險線上投保<br/>
                        強制險現折$250，其他險種87折
                    </h1>
                    <div class="desp">
                        再抽 Gogoro2，優惠只到 4/30 唷！
                    </div>
                    <div class="action mt-2">
                        <a  href="../bobe/car/ECV20100.html" class="btn btn-default">試算投保</a>
                        <a href="#" class="btn btn-outline-reverse">看活動說明</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/insurance/PFA2_0100/car.png" height="312px" srcset="../img/insurance/PFA2_0100/car@2x.png" />
            <div class="container">
                <div class="caption">
                    <h1>
                        國泰車險線上投保<br/>
                        強制險現折$250，其他險種87折
                    </h1>
                    <div class="desp">
                        再抽 Gogoro2，優惠只到 4/30 唷！
                    </div>
                    <div class="action mt-2">
                        <a  href="../bobe/car/ECV20100.html" class="btn btn-default">試算投保</a>
                        <a href="#" class="btn btn-outline-reverse">看活動說明</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">汽車險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="section">
            <h4 class="section-title">大家都在保...</h4>
            <!-- <div class="cards prompt"> -->
            <div class="owl-carousel insurance-card">
                <div class="card prompt">
                    <div class="content">
                        <h2 class="title">責任險基本型</h2>
                        <h4 class="subtitle">強制險+第三人責任險及其附加險</h4>
                        <p class="text">彌補強制險保障額度的缺口，提供駕駛人與車內乘客更多保障</p>
                    </div>
                    <div class="action">
                        <a href="#" class="btn btn-default btn-block">試算投保</a>
                    </div>
                </div>
                <div class="card prompt">
                    <div class="ribbon">車齡 6 年內必買</div>
                    <div class="content">
                        <h2 class="title">乙式車體險套餐</h2>
                        <h4 class="subtitle">強制險+第三人責任+車體險竊盜險</h4>
                        <p class="text">超額責任保障，加保乙式車體險、竊盜險，提供愛車完整保障。</p>
                    </div>
                    <div class="action">
                        <a href="#" class="btn btn-default btn-block">試算投保</a>
                    </div>
                </div>
                <div class="card prompt">
                    <div class="content">
                        <h2 class="title">平價車體險套餐</h2>
                        <h4 class="subtitle">強制險+第三人責任+車體險</h4>
                        <p class="text">超額責任險，免擔心千萬損失責任、加保限額車碰車車體損失險，還送免費道路救援。</p>
                    </div>
                    <div class="action">
                        <a href="#" class="btn btn-default btn-block">試算投保</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section promotion is-relax " data-id="special">
            <h1 class="section-title d-none d-sm-block d-md-block">國泰汽車險提供更完善的服務</h1>
            <div class="row mt-4">
                <div class="col-md-6 offset-lg-1 d-none d-sm-block d-md-block">
                    <img src="../img/insurance/car-feature.png" height="288" srcset="../img/insurance/car-feature@2x.png">
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="item">
                        <div class="icon">
                            <i class="icon-check-handwrite i-32"></i>
                        </div>
                        <div class="content">
                            <h3 class="mb-1">用 LINE 就能申請理賠</h3> 
                            <div class="description">
                                <a href="https://line.me/R/ti/p/%40cathay-ins" target="_blank">
                                    加入LINE 好友
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <i class="icon-check-handwrite i-32"></i>
                        </div>
                        <div class="content">
                            <h3 class="mb-1">免費24 小時事故現場協助處理</h3> 
                            <div class="description">
                                免付費專線：<a href="tel:0800036599">0800-212-880</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <i class="icon-check-handwrite i-32"></i>
                        </div>
                        <div class="content">
                            <h3 class="mb-1">
                                道路救援 100 公里
                                <a data-trigger="modal" data-modal="road-rescue" class="link"><i class="icon-info"></i></a>
                            </h3> 
                            <div class="description">
                                免付費專線：<a href="tel:0800020345">0800-020-345</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="section is-relax" data-id="known">
        <h1 class="section-title">三分鐘了解車險</h1>
        <div class="tab-container is-green">
            <div class="tab-header">
                <div class="container">
                    <ul class="tab is-fill" role='tab'>
                        <li class="active">
                            <a role="tab-item" data-tab-id="range">保障範圍</a>
                        </li>
                        <li>
                            <a role="tab-item" data-tab-id="konwn">了解車險</a>
                        </li>
                        <li>
                            <a role="tab-item" data-tab-id="accident">發生事故怎麼辦</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane">
                <div class="tab-content active" data-tab-id="range">
                    <div class="container">
                        <h3 class="tab-title">一張圖表，看懂需要保障的險種有哪些</h3>
                        <img src="../img/insurance/chart.png" class="chart-img d-none d-md-block" srcset="../img/insurance/chart@2x.png">
                    </div>
                    <div class="table-response d-block d-md-none text-center">
                        <img src="../img/insurance/chart-sm.png" class="chart-img" height="440" srcset="../img/insurance/chart-sm@2x.png">
                    </div>
                    <div class="container">
                        <a href="./car-insurance-2-1-6.html" class="btn btn-primary btn-block mt-3">看更多 ＋</a>
                    </div>
                </div>
                <div class="tab-content pb-5 pt-0" data-tab-id="konwn">
                    <div class="container p-0 p-md-2">
                        <div class="owl-carousel introduce">
                            <section class="section">
                                <h3 class="tab-title">發生交通事故時，<br class="d-block d-md-none"/>保障您的第一道防線</h3>
                                <div class="konwn-items">
                                    <div class="konwn-items-scroll">
                                        <div class="item">
                                            <div class="content">
                                                <h3>強制險</h3>
                                                <p class="text">法令要求，買車必備，目的在使事故受害者獲得基本保障，但此險只保障乘客、對方駕駛與路人，建議還要加保駕駛人傷害險，才能在發生事故時保障自己。</p>
                                            </div>
                                            <div class="action">
                                                <a href="./car-insurance-2-1-1.html" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                                <br>
                                                <a href="../helper/8-8-0.html">
                                                    <i class="icon-download"></i>
                                                    強制險條款
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="content">
                                                <h3>第三人責任險</h3>
                                                <p class="text">補足強制險的不足，用於保障駕駛人、乘客、路人和對方車輛。如果不小心撞壞別人的超級跑車，亦可以透過附加車額責任險來賠償。</p>
                                            </div>
                                            <div class="action">
                                                <a href="./car-insurance-2-1-2.html" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                                <br>
                                                <a href="../helper/8-8-0.html">
                                                    <i class="icon-download"></i>
                                                    第三人責任險條款
                                                </a>
                                            </div>
                                        </div>
                                        <br class="d-block d-md-none">
                                        <div class="item">
                                            <div class="content">
                                                <h3>車體損失險</h3>
                                                <p class="text">當車發生碰撞、或因災害導致損失，此險可以依自身需求，選擇甲式、乙式和丙式不同保障範圍。</p>
                                            </div>
                                            <div class="action">
                                                <a href="./car-insurance-2-1-4.html" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                                <br>
                                                <a href="../helper/8-8-0.html">
                                                    <i class="icon-download"></i>
                                                    車體損失險條款
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="content">
                                                <h3>汽車竊盜損失險</h3>
                                                <p class="text">此險可以保障你的車，建議 5 年內新車或有可能停放在外者，最適合投保。</p>
                                            </div>
                                            <div class="action">
                                                <a href="./car-insurance-2-1-5.html" class="btn mb-1 btn-primary btn-sm">了解更多</a>
                                                <br>
                                                <a href="../helper/8-8-0.html">
                                                    <i class="icon-download"></i>
                                                    汽車竊盜損失險條款
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="section">
                                <h3 class="tab-title">天價賠償，超額責任險幫你扛</h3>
                                <div class="row">
                                    <div class="col-12 col-md-10 offset-md-1">
                                        <div class="edu-card">
                                            <div class="image">
                                                <img src="../img/insurance/car-img@2x.png">
                                            </div>
                                            <div class="content">
                                                <h3>超額責任險</h3>
                                                <p>
                                                    拒當冤大頭，如果您常行經都會區 (高級車多的地方）、或行駛於高速公路（容易有多車事故，比如連環車禍…）萬一出事時面臨賠償金額比一般情況多更多的人建議需保。
                                                </p>
                                                <a href="./car-insurance-2-1-3.html" class="btn btn-primary">看急難救助介紹</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="tab-content" data-tab-id="accident">
                    <div class="container">
                        <h3 class="tab-title">簡單四步驟，就可以完成理賠申請</h3>
                        <div class="progress">
                            <div class="progress-item">
                                <div class="image">
                                    <img src="../img/insurance/pay-step-1.png" srcset="../img/insurance/pay-step-1@2x.png">
                                </div>
                                <div class="number">1</div>
                                <div class="content">
                                    <h4>通知警察</h4>
                                    <p>撥打報警專線</p>
                                    <a href="tel:119" class="link">撥打119</a>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="image">
                                    <img src="../img/insurance/pay-step-2.png" srcset="../img/insurance/pay-step-2@2x.png">
                                </div>
                                <div class="number">2</div>
                                <div class="content">
                                    <h4>十日內通知本公司</h4>
                                    <p>撥打保險專員或聯繫客服</p>
                                    <a href="tel:0800-212-880" target="_blank" class="link">0800-212-880</a>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="image">
                                    <img src="../img/insurance/pay-step-3.png" srcset="../img/insurance/pay-step-3@2x.png">
                                </div>
                                <div class="number">3</div>
                                <div class="content">
                                    <h4>檢付理賠文件</h4>
                                    <p>線上檢附並申請</p>
                                    <a href="./auth-14-1-0.html" class="link">登入保戶中心</a>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="image">
                                    <img src="../img/insurance/pay-step-4.png" srcset="../img/insurance/pay-step-4@2x.png">
                                </div>
                                <div class="number">4</div>
                                <div class="content">
                                    <h4>等待理賠結果</h4>
                                    <p>線上查詢進度</p>
                                    <a href="./auth-14-1-0.html" class="link">登入保戶中心</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">意外發生時，如何減少損失？</h1>
            <div class="cards situation">
                <img src="../img/insurance/situation-bg.png" class="bg d-none d-md-block" srcset="../img/insurance/situation-bg@2x.png">
                <div class="card">
                    <img src="../img/insurance/PFA2_0100/car-s-1.png" class="d-none d-md-block">
                    <img src="../img/insurance/PFA2_0100/car-s-1-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">撞到超跑</h2>
                        <p>
                            加保第三人責任險 + 超額責任<br>
                            自付賠償 <del>660萬</del> 0元
                        </p>
                        <a data-trigger="modal" data-modal="car-crash" class="link">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img src="../img/insurance/PFA2_0100/car-s-3.png" class="d-none d-md-block">
                    <img src="../img/insurance/PFA2_0100/car-s-3-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">傷人致死</h2>
                        <p>
                            加保第三人責任險<br>
                            自付賠償 <del>500萬</del> 0元
                        </p>
                        <a  data-trigger="modal" data-modal="injury-death" class="link">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img src="../img/insurance/PFA2_0100/car-s-2.png" class="d-none d-md-block">
                    <img src="../img/insurance/PFA2_0100/car-s-2-sm.png" class="d-block d-md-none">
                    <div class="content">
                        <h2 class="title">悲情自撞</h2>
                        <p>
                            加保駕駛人傷害險<br>
                            自付賠償 <del>8萬</del> 0元
                        </p>
                        <a data-trigger="modal" data-modal="self-crash" class="link">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
          <h4 class="section-title">旅遊的人事物，國泰都幫我一路保平安</h4>
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
              <div class="edu-card">
                <div class="image">
                  <img src="https://placeimg.com/680/380/any" />
                </div>
                <div class="content">
                  <h3>海外旅遊急難救助</h3>
                  <p>特別針對海外旅遊險提供全球急難協助，可享有 24 小時中文熱線電話，提供各種諮詢、協商服務，並且在意外事故發生時，可獲得完善的緊急醫療支援，絕非其他同類型商品僅提供陽春型救援服務所能比擬！</p>
                  <a href="#" class="btn btn-primary">看急難救助介紹</a>
                  <br>
                  <a href="#" class="link">撥打 24 小時服務熱線 </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="section is-relax hot-event pb-2">
        <div class="container">
            <h1 class="section-title">優惠懶人包</h1>
            <div class="cards four-cards mobile-horz-scroll">
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="./activity-11-2-0.html" class="btn btn-outline-reverse">更多熱門活動</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-relax" data-id="flow">
        <div class="container">
            <h1 class="section-title">汽車險線上投保自己來，<br class="d-block d-md-none"/>省時又放心</h1>
            <div class="row mb-3">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-lg-5 offset-lg-1">
                            <div class="list numbers">
                                <div class="item">
                                    <div class="number">1</div>
                                    <div class="content">
                                        <h2>登入會員填資料</h2>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="number">2</div>
                                    <div class="content">
                                        <h2>信用卡線上繳費</h2>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="number">3</div>
                                    <div class="content">
                                        <h2>投保成功</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <img src="../img/insurance/ins-relax.png" class="car-insurance-image" height="204" srcset="../img/insurance/ins-relax@2x.png">
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <a href="../bobe/car/ECV20100.html" class="btn btn-primary btn-block">線上投保87折優惠</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section u-need pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="panel with-green-decoration">
                        <div class="panel-body">
                            <h3 class="section-title">需要專人服務嗎？可以先看看...</h3>
                            <div class="labels text-center">
                                <a href="#" role="button" class="label">
                                    <i class="icon-download text-green"></i>
                                    <span>產品名稱ＤＭ假字</span>
                                </a>
                                <a href="#" role="button" class="label">
                                    <i class="icon-download text-green"></i>
                                    <span>產品名稱ＤＭ假字</span>
                                </a>
                                <a href="#" role="button" class="label">
                                    <i class="icon-download text-green"></i>
                                    <span>產品名稱ＤＭ假字</span>
                                </a>
                                <a href="#" role="button" class="label">
                                    <i class="icon-download text-green"></i>
                                    <span>產品名稱ＤＭ假字產品名稱ＤＭ假字</span>
                                </a>
                                <a href="#" role="button" class="label">
                                    <i class="icon-download text-green"></i>
                                    <span>產品名稱ＤＭ假字</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2" data-id="service">
                    <div class="row my-2 contact-block">
                        <a href="tel:0800036599" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-call i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">免付費專線</div>
                                <span class="d-none d-sm-block">0800-212-880</span>
                            </div>
                        </a>
                        <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-mail i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">寫信諮詢</div>
                                <span class="d-none d-sm-block">將有專人聯繫</span>
                            </div>
                        </a>
                        <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                            <div class="icon">
                                <div class="icon-location i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">服務據點</div>
                                <span class="d-none d-sm-block">查詢地址電話</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section faq green-wave mb-0" data-id="faq">
        <img src="../img/insurance/wave.png" class="bg-wave" srcset="../img/insurance/wave@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">還需要其他協助嗎？</h1>
                </div>
                <div class="col-12 col-md-10 offset-md-1">
                    <h4>投保須知</h4>
                    <div class="accordions">
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>投保強制汽車責任保險時，應準備那些資料？</h4>
                            </a>
                            <div class="accordion-body"></div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>如何投保強制汽車責任保險？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>機車強制責任保險何時開始實施？與汽車強制責任保險是否相同？內容與保障範圍為何？</h4>
                            </a>
                            <div class="accordion-body"></div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>那些車輛需投保強制汽車責任保險？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>何謂「任意汽車保險」？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-link btn-sm my-0 mr-0 text-white">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                    <h4>保障說明</h4>
                    <div class="accordions">
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>強制險提供如何的保障？</h4>
                            </a>
                            <div class="accordion-body"></div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>未投保汽（機）車強制責任保險中，會遭受如何之處罰？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>「國泰自用小汽車額外費用補償保險」提供何種保障？（詳細資訊請見新商品介紹）</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>第三人責任綜合保險的「失能增額給付」的意思是指什麼？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>失能增額給付是「定額給付」或「限額給付」呢？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="../helper/8-1-0.html" class="btn btn-link btn-sm my-0 mr-0 text-white">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                    <h4>保單服務</h4>
                    <div class="accordions">
                        <div class="accordion is-open">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>強制汽車責任保險投保後，中途能否辦理退保？</h4>
                            </a>
                            <div class="accordion-body">
                                <h4>線上理賠申請 </h4>
                                <p>登入右上角的保戶中心，點擊「理賠中心」的「我要理賠」，並備齊以下資料：汽機車行照、駕駛人駕照、警方事故聯單，依照步驟填寫即可完成申請流程。(送出後約等待 1 天，會由理賠專員與您聯繫)</p>
                                <h4>LINE 官方帳號申請 </h4>
                                <p>加入 「國泰產險」 Line 官方帳號，加入成功後即可點擊功能「我要理賠」，並可快速掌握理賠進度唷。 </p>
                                <a class="btn btn-default ml-0">掃描 Line 國泰產險官方條碼</a>
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>車險投保生效起算的時間如何認定？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion is-open">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>投保汽車保險後，應注意那些事項？</h4>
                            </a>
                            <div class="accordion-body">
                                <h4>線上理賠申請 </h4>
                                <p>登入右上角的保戶中心，點擊「理賠中心」的「我要理賠」，並備齊以下資料：汽機車行照、駕駛人駕照、警方事故聯單，依照步驟填寫即可完成申請流程。(送出後約等待 1 天，會由理賠專員與您聯繫)</p>
                                <h4>LINE 官方帳號申請 </h4>
                                <p>加入 「國泰產險」 Line 官方帳號，加入成功後即可點擊功能「我要理賠」，並可快速掌握理賠進度唷。 </p>
                                <a class="btn btn-default ml-0">掃描 Line 國泰產險官方條碼</a>
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>投保後想要變更保險單資料或投保內容，應如何辦理？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>什麼是汽車保險批單？其效力與作用為何？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="../helper/8-1-0.html" class="btn btn-link btn-sm my-0 mr-0 text-white">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                    <h4>理賠說明</h4>
                    <div class="accordions">
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>為何制定「強制汽車責任保險法」？</h4>
                            </a>
                            <div class="accordion-body">
                                <h4>線上理賠申請 </h4>
                                <p>登入右上角的保戶中心，點擊「理賠中心」的「我要理賠」，並備齊以下資料：汽機車行照、駕駛人駕照、警方事故聯單，依照步驟填寫即可完成申請流程。(送出後約等待 1 天，會由理賠專員與您聯繫)</p>
                                <h4>LINE 官方帳號申請 </h4>
                                <p>加入 「國泰產險」 Line 官方帳號，加入成功後即可點擊功能「我要理賠」，並可快速掌握理賠進度唷。 </p>
                                <a class="btn btn-default ml-0">掃描 Line 國泰產險官方條碼</a>
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>汽（機）車強制責任保險中，何謂「一輛車事故」？一輛車事故發生時，何者無法申請理賠？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>交通事故之受害人在那些情況下無法申請強制汽車責任保險理賠？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>那些情況國泰產險賠償後，會對肇事加害人進行追償？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                        <div class="accordion">
                            <a class="accordion-header" role="button">
                                <div class="icon">
                                    <i class="icon-chevron-down"></i>
                                </div>
                                <h4>發生汽車交通事故，哪些人可以申請強制汽車責任保險理賠？</h4>
                            </a>
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="../helper/8-1-0.html" class="btn btn-link btn-sm my-0 mr-0 text-white">
                            <i class="icon-arrow-right"></i>
                            <span>看更多</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="scrolldown">
        <i class="icon-arrow-down"></i>
    </div>
</main>

<div role="modal" data-modal-id="road-rescue" class="modal">
    <div class="modal-content">
        <div class="modal-header"><a role="close" class="close"><i class="icon-close i-24"></i></a>
            <h3 class="modal-title">100 公里不限次數道路救援 </h3>
        </div>
        <div class="modal-body">
            <p>
                投保國泰產險甲式、乙式、丙式車體險者可享「100公里不限次數道路救援」
            </p>
        </div>
        <div class="modal-footer"><a role="close" class="btn btn-primary is-block">我知道了</a></div>
    </div>
</div>

<div role="modal" data-modal-id="car-crash" class="modal">
    <div class="modal-content">
        <div class="modal-header"><a role="close" class="close"><i class="icon-close i-24"></i></a>
            <h3 class="modal-title">撞到超跑 </h3>
        </div>
        <div class="modal-body">
            <p>
                在山路行駛時，不慎與 Lamborghini 發生「摩擦」，原本需要賠償 660 萬修車費用，因加保「第三人責任險+超額責任險」，全額由保險公司幫忙負擔，真的好險有加保。
            </p>
            <div class="list refund">
                <div class="item">
                    <div class="text">法律判賠</div>
                    <div class="fund">660 萬元</div>
                </div>
                <div class="item refund">
                    <div class="text">強制險</div>
                    <div class="fund">不賠</div>
                </div>
                <div class="item refund">
                    <div class="text">第三人責任險<br class="d-block d-md-none"/> + 超額責任險</div>
                    <div class="fund">幫我賠 660 萬元</div>
                </div>
            </div>
            <div class="summary text-right text-red">
                自付賠償金額 <span class="number ml-2">0</span>元
            </div>
        </div>
        <div class="modal-footer"><a role="close" class="btn btn-primary is-block">我知道了</a></div>
    </div>
</div>

<div role="modal" data-modal-id="injury-death" class="modal">
    <div class="modal-content">
        <div class="modal-header"><a role="close" class="close"><i class="icon-close i-24"></i></a>
            <h3 class="modal-title">傷人致死 </h3>
        </div>
        <div class="modal-body">
            <p>
                黃姓女子在路口與姜女發生碰撞，姜女不幸身亡，法院判賠黃女須賠償 500 萬元。但因黃女加保「第三人責任險險」，自付賠償金額改由保險公司幫他負擔，真的好險有加保。
            </p>
            <div class="list refund">
                <div class="item">
                    <div class="text">法律判賠</div>
                    <div class="fund">500 萬元</div>
                </div>
                <div class="item refund">
                    <div class="text">強制險</div>
                    <div class="fund">只賠 200 萬元</div>
                </div>
                <div class="item refund">
                    <div class="text">第三人責任險</div>
                    <div class="fund">幫我賠 300 萬元</div>
                </div>
            </div>
            <div class="summary text-right text-red">
                自付賠償金額 <span class="number ml-2">0</span>元
            </div>
        </div>
        <div class="modal-footer"><a role="close" class="btn btn-primary is-block">我知道了</a></div>
    </div>
</div>

<div role="modal" data-modal-id="self-crash" class="modal">
    <div class="modal-content">
        <div class="modal-header"><a role="close" class="close"><i class="icon-close i-24"></i></a>
            <h3 class="modal-title">悲情自撞 </h3>
        </div>
        <div class="modal-body">
            <p>
                陳先生開車行經產業道路，因視線不良未注意前方彎道，而自撞道路旁的路樹，導致陳先生頭部挫傷、腿部骨折，經醫療診治，花費約8萬元。因陳先生有投保駕駛人傷害險可負擔醫療費用。
            </p>
            <div class="list refund">
                <div class="item">
                    <div class="text">醫療費用</div>
                    <div class="fund">8 萬元</div>
                </div>
                <div class="item refund">
                    <div class="text">強制險</div>
                    <div class="fund">不賠</div>
                </div>
                <div class="item refund">
                    <div class="text">駕駛人傷害險</div>
                    <div class="fund">幫我賠 8 萬元</div>
                </div>
            </div>
            <div class="summary text-right text-red">
                自付賠償金額 <span class="number ml-2">0</span>元
            </div>
        </div>
        <div class="modal-footer"><a role="close" class="btn btn-primary is-block">我知道了</a></div>
    </div>
</div>
<!-- /build:content -->