<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./car-insurance-2-1-0.html" role="button" class="nav-item">回車險介紹</a>
            <a href="./car-insurance-2-1-1.html" role="button" class="nav-item">強制險</a>
            <a href="./car-insurance-2-1-2.html" role="button" class="nav-item">第三人責任險</a>
            <a href="./car-insurance-2-1-3.html" role="button" class="nav-item">超額責任險</a>
            <a href="./car-insurance-2-1-4.html" role="button" class="nav-item">車體險</a>
            <a href="./car-insurance-2-1-5.html" role="button" class="nav-item active">竊盜險及其他</a>
        </nav>
        <div class="navbar-right">
            <div class="btn btn-default">我要續保</div>
            <a href="" class="btn btn-red">線上投保87折優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./car-insurance-2-1-0.html">汽車險</a></li>
                    <li class="active"><a href="#">強制險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance car-insurance">
        <img src="../img/insurance/PFA2_0150/banner.png" height="280" class="d-none d-md-block" />
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="car-insurance-2-1-0.html">回車險介紹</a></option>
                    <option value="car-insurance-2-1-1.html">強制險</a></option>
                    <option value="./car-insurance-2-1-2.html">第三人責任險</a></option>
                    <option value="./car-insurance-2-1-3.html">超額責任險 </a></option>
                    <option value="./car-insurance-2-1-4.html">車體險</a></option>
                    <option value="./car-insurance-2-1-5.html" selected>竊盜險及其他</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./car-insurance-2-1-0.html">回車險介紹</a></li>
                <li><a href="./car-insurance-2-1-1.html">強制險</a></li>
                <li><a href="./car-insurance-2-1-2.html">第三人責任險</a></li>
                <li><a href="./car-insurance-2-1-3.html">超額責任險 </a></li>
                <li><a href="./car-insurance-2-1-4.html">車體險</a></li>
                <li class="active"><a href="./car-insurance-2-1-5.html">竊盜險及其他</a></li>
            </ul>
            <div class="caption">
                <h1>
                    更多保障，讓你的愛車不擔心遇到意外
                </h1>
                <div class="description">
                    怕愛車失竊、出車禍時需要更多交通、住宿、拖吊服務？快來看看更多保障內容
                </div>
                <div class="action mt-2 d-none d-md-block">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <a href="#" class="btn btn-default btn-flat">我要續保</a>
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0150/banner-sm.png" height="200" class="d-block d-md-none"/>
    </div>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section">竊盜險保障範圍與金額</h1>
            <div class="row">
                <div class="col-12">
                    <div class="accordion-title table-style">主險 - 竊盜險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">汽車竊盜損失保險</div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <p>
                                    車輛於保險契約有效期間內因遭受竊盜、搶奪、強盜所致之損失，包含失竊尋回之修復費用。
                                </p>
                                <p>
                                    註：被保險人對於每一次損失，應負擔基本自負額10%；零件、配件單獨被竊不在承保範圍。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-title">竊盜險之可附加條款</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">零件、配件被竊損失附加條款</div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <p>保障車內原廠零、配件非與被保險汽車同時被竊所致之損失。</p>
                                <p>註1：保險期間累計賠償金額最高以本附加條款保險費之六倍為限</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">零配件被竊損失高額保障附加條款</div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <p>保障車內原廠零、配件非與被保險汽車同時被竊所致之損失，提供更完整、高額之保障。</p>
                                <p>註1：保險期間累計賠償金額最高依本附加條款所約定之保險金額為限</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">附加代車費用條款</div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <p>汽車失竊無法尋回之全損，依最高給付日數30日計算；汽車失竊後尋回，依向警方報案日期第三日起（不含報案日當天）至被保險汽車修復完畢，通知被保險人領車日止之日數計算。</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">附加全損理賠無折舊條款</div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <p>車輛失竊未尋回或尋回無法修復或修復費用逾保險金額扣除折舊後3/4以上時，按保險金額扣除約定自負額後賠付，不再扣除折舊。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">其他險保障範圍與金額</h1>
            <div class="row">
                <div class="col-12">
                    <div class="accordion-title table-style">自用小汽車額外費用補償保險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">拖吊費用事故補償</div>
                                    <div class="desc">
                                        2,000元/每次事故
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <ol>
                                        <li>被保險汽車在本保險契約有效期間內，因機械故障或發生碰撞等事故致無法行駛，經由拖吊車拖離事故現場，本公司對被保險人因此所支付之拖吊費、接駁交通費及額外住宿費等，依本保險契約之約定補償之。</li>
                                        <li>被保險汽車在本保險契約有效期間內，因與其他汽車發生碰撞事故致毀損而須修復時，除前項各項費用外，本公司對於列名被保險人於修復期間所支付之代車費用損失，亦依本保險契約之約定補償之。</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">交通、費用補償</div>
                                    <div class="desc">
                                        2,000元/每次事故
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <ol>
                                        <li>被保險汽車在本保險契約有效期間內，因機械故障或發生碰撞等事故致無法行駛，經由拖吊車拖離事故現場，本公司對被保險人因此所支付之拖吊費、接駁交通費及額外住宿費等，依本保險契約之約定補償之。</li>
                                        <li>被保險汽車在本保險契約有效期間內，因與其他汽車發生碰撞事故致毀損而須修復時，除前項各項費用外，本公司對於列名被保險人於修復期間所支付之代車費用損失，亦依本保險契約之約定補償之。</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">每次事故（實支實付）</div>
                                    <div class="desc">
                                        3,000元/每次事故
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <ol>
                                        <li>被保險汽車在本保險契約有效期間內，因機械故障或發生碰撞等事故致無法行駛，經由拖吊車拖離事故現場，本公司對被保險人因此所支付之拖吊費、接駁交通費及額外住宿費等，依本保險契約之約定補償之。</li>
                                        <li>被保險汽車在本保險契約有效期間內，因與其他汽車發生碰撞事故致毀損而須修復時，除前項各項費用外，本公司對於列名被保險人於修復期間所支付之代車費用損失，亦依本保險契約之約定補償之。</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">代車費用</div>
                                    <div class="desc">
                                        每日500元（最多30天）
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <ol>
                                        <li>被保險汽車在本保險契約有效期間內，因機械故障或發生碰撞等事故致無法行駛，經由拖吊車拖離事故現場，本公司對被保險人因此所支付之拖吊費、接駁交通費及額外住宿費等，依本保險契約之約定補償之。</li>
                                        <li>被保險汽車在本保險契約有效期間內，因與其他汽車發生碰撞事故致毀損而須修復時，除前項各項費用外，本公司對於列名被保險人於修復期間所支付之代車費用損失，亦依本保險契約之約定補償之。</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-title table-style">車碰車延誤行程補償保險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">因事故致延誤行程</div>
                                    <div class="desc">
                                        定額 2,000元 (保險期間最多給付 3 次)
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險人於保險期間內，因駕駛被保險汽車與其他汽車發生碰撞交通事故致延誤行程時，本公司依本保險契約約定之保險金額，對該被保險人給付延誤行程補償金，但保險期間內合計最高以給付三次為限。</p>
                                    <p>
                                        前項所稱延誤行程，係指被保險人因停車處理所發生之交通事故，所致時間上的延誤。
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-title table-style">汽車保險自用小汽車代車費用附加條款（甲、乙、丙式）</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">每日代車費用</div>
                                    <div class="desc">
                                            每日 500 ~ 1,000元<br/>
                                            (依實際投保金額為準，最高給付 30日)
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險汽車於本附加條款有效期間內發生第二項保險事故而進廠修復期間，依照本附加條款之約定，給付代車費用保險金。</p>
                                    <p>本網站所販售之附加條款，其保險事故限被保險汽車與車輛發生碰撞、擦撞之事故。</p>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-title table-style">道路救援險附加條款</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">被保險人因負擔或支出事故導致的費用</div>
                                    <div class="desc">
                                        每一事故最高賠償金額 2萬元（最多給付 3 次）
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險人因負擔或支出下列費用所致之損失，對被保險人負給付填補之責：</p>
                                    <ol>
                                        <li>汽車發生故障或意外事故而致無法行駛時，拖吊救援（含全載與拖載）至被保險人指定或可以修復該車之處所所需之救援費用</li>
                                        <li>被保險汽車因水箱缺水或汽油用罄，其送油或送水所需必要之服務費用；但購買汽油所需費用由被保險人負擔</li>
                                        <li>被保險汽車因輪胎破裂無法行駛，其委由他人更換備胎所需必要之服務費用；但備胎需由被保險人提供</li>
                                        <li>被保險汽車因電瓶電力不夠無法啟動車輛，其委由他人提供接電服務所需必要之服務費用</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-0">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <p class="text-green">
                        線上投保抽 Gogoro2，優惠只到 4/30 ！ 
                    </p>
                    <a class="btn btn-primary btn-block">
                        線上投保87折優惠
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section pb-5 mt-5">
        <div class="container">
            <h1 class="section-title">需要專員協助嗎？歡迎聊聊</h1>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row contact-block">
                        <a href="tel:0800036599" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-call i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">免付費專線</div>
                                <span class="d-none d-sm-block">0800-212-880</span>
                            </div>
                        </a>
                        <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-mail i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">寫信諮詢</div>
                                <span class="d-none d-sm-block">將有專人聯繫</span>
                            </div>
                        </a>
                        <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                            <div class="icon">
                                <div class="icon-location i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">服務據點</div>
                                <span class="d-none d-sm-block">查詢地址電話</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section recommand-section">
            <img src="../img/common/empty-section-bg.png"
            srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
            <img src="../img/common/life-service.png"
            srcset="../img/common/life-service@2x.png" height="377" class="bg d-none d-md-block">
            <img src="../img/common/main-line.png"
            srcset="../img/common/main-line@2x.png" height="79" class="main-line d-md-none">
          
        <div class="container">
            <h1 class="section-title">
                看完了強制汽車責任險介紹，<br/>
                那如何保障自己？我的人車又該怎麼保？
            </h1>
            <div class="row">
                <div class="col-12 col-md-5 offset-md-1">
                    <div class="list inline-content">
                        <a class="item">
                            <div class="content">
                                <h4>第三人責任險介紹</h4>
                                <div class="text">##保自己  #保第三人</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>超額責任險介紹</h4>
                                <div class="text">#撞到超跑幫你陪</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>車體險介紹</h4>
                                <div class="text">#保我的車</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>竊盜險介紹</h4>
                                <div class="text">#保我的車</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="./car-insurance-2-1-6.html" class="link mr-2">
                            <i class="icon-arrow-right"></i>
                            <span>看完整保障範圍</span>
                        </a>
                        <a href="./car-insurance-2-1-0.html" class="link d-inline-block mt-2">
                            <i class="icon-arrow-right"></i>
                            <span>看車險首頁</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div role="modal" class="modal" data-modal-id="injured-1"> 
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">什麼是第三人？</h4>
        </div>
        <div class="modal-body">
            <p>此處的第三人，並不包含自己車上的乘客喔，原因是因為在第三人責任險的條款中，不保事項（不理賠的項目）有一條是「乘坐或上下被保險汽車之人」，這條將「乘客」排除在理賠範圍以外。</p>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>

<div role="modal" class="modal" data-modal-id="injured-2"> 
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">投保險制</h4>
        </div>
        <div class="modal-body">
            <p>第三人責任保險之體傷保額須 300 萬(含)以上 + 財損保額須 50 萬(含)以上 + 乘客體傷責任險保額須 100 萬(含)以上，才可在本 網站加保此項喲。</p>
            <p>怎麼賠：當前述三項保額無法涵蓋全部理賠金額時，超出的部分即由【超額責任險】來賠。</p>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>

<!-- /build:content -->