<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./car-insurance-2-1-0.html" role="button" class="nav-item">回車險介紹</a>
            <a href="./car-insurance-2-1-1.html" role="button" class="nav-item">強制險</a>
            <a href="./car-insurance-2-1-2.html" role="button" class="nav-item">第三人責任險</a>
            <a href="./car-insurance-2-1-3.html" role="button" class="nav-item">超額責任險</a>
            <a href="./car-insurance-2-1-4.html" role="button" class="nav-item active">車體險</a>
            <a href="./car-insurance-2-1-5.html" role="button" class="nav-item">竊盜險及其他</a>
        </nav>
        <div class="navbar-right">
            <div class="btn btn-default">我要續保</div>
            <a href="" class="btn btn-red">線上投保87折優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./car-insurance-2-1-0.html">汽車險</a></li>
                    <li class="active"><a href="#">強制險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance car-insurance">
        <img src="../img/insurance/PFA2_0140/banner.png" height="280" class="d-none d-md-block"/>
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="car-insurance-2-1-0.html">回車險介紹</a></option>
                    <option value="car-insurance-2-1-1.html">強制險</a></option>
                    <option value="./car-insurance-2-1-2.html">第三人責任險</a></option>
                    <option value="./car-insurance-2-1-3.html">超額責任險 </a></option>
                    <option value="./car-insurance-2-1-4.html" selected>車體險</a></option>
                    <option value="./car-insurance-2-1-5.html">竊盜險及其他</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./car-insurance-2-1-0.html">回車險介紹</a></li>
                <li><a href="./car-insurance-2-1-1.html">強制險</a></li>
                <li><a href="./car-insurance-2-1-2.html">第三人責任險</a></li>
                <li><a href="./car-insurance-2-1-3.html">超額責任險 </a></li>
                <li class="active"><a href="./car-insurance-2-1-4.html">車體險</a></li>
                <li><a href="./car-insurance-2-1-5.html">竊盜險及其他</a></li>
            </ul>
            <div class="caption">
                <h1>
                    車體險，是保障自己最好的保險
                </h1>
                <div class="description">
                    發生交通意外事故誰都不樂見，但真的發生的話 什麼樣的保障對自己的車才夠？來瞧瞧吧！<br/>
                    車碰車，火災爆炸，甚至第三人非善意行為，都可賠償
                </div>
                <div class="action mt-2 d-none d-md-block">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <a href="#" class="btn btn-default btn-flat">我要續保</a>
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0140/banner-sm.png" height="200" class="d-block d-md-none" />
    </div>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">不能不知的車體險保障範表</h1>
            <div class="row">
                <div class="col-12">
                    <div class="table-response">
                        <img class="carsmall" src="../img/insurance/PFA2_0140/table@2x.png" height="400" />
                    </div>
                    <div class="text-right">
                        <a href="./car-insurance-2-1-6.html" class="link">
                            <i class="icon-arrow-right"></i>
                            <span>看完整保障範圍</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section u-need is-relax mt-5">
        <div class="container">
            <h1 class="section-title">車體險有四種，先看【乙式】最好懂</h1>
            <div class="row">
                <div class="col-12 with-scrollbar">
                    <!-- <img src="../img/index/u-need-bg.png" srcset="../img/index/u-need-bg@2x.png" height="456" class="bg">
                    <img src="../img/common/main-line.png" srcset="../img/common/main-line@2x.png" height="193" class="main-line"> -->
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row mb-2">
                                <div class="col-6">
                                    <h3 class="mb-1">
                                        甲式 （新車必備）
                                    </h3>
                                    <p>
                                        建議「公司主管用車、常停室外的新車」要保，保費約 5-6 萬。<br/>
                                        乙式理賠範圍＋第三者之非善意行為（一般坊間所稱之「不明車損」）。
                                    </p>
                                </div>
                                <div class="col-6">
                                    <h3 class="mb-1">丙式 （車碰車交通意外）</h3>
                                    <p>
                                        建議「車齡 6 年以上的車，或可自行承受比較多風險的車主」。<br/>
                                        只針對「車碰車碰撞」理賠，也就是只限交通意外事故的碰撞（包含跟腳踏車的碰撞）。
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="mb-1">乙式 （業界數一數二低）</h3>
                                    <p>
                                        建議「車齡 5 年以內的車」要保。<br/>
                                        若由下列原因造成車體損傷就可賠。 火災、閃電、雷擊、爆炸、傾覆、拋擲物、墜落物、碰撞（自撞或車碰車碰撞皆可賠，撞哪就賠哪）。
                                    </p>
                                </div>
                                <div class="col-6">
                                    <h3 class="mb-1">
                                        丁式 （老車也享車碰車）
                                    </h3>
                                    <p>
                                        理賠範圍同丙式，只針對「車碰車碰撞」，但理賠金額有限制，故又稱「限額車碰車」。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">保障範圍與金額</h1>
            <div class="row">
                <div class="col-12">
                    <div class="accordion-title table-style">主險 - 車體險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">甲式</div>
                                    <div class="desc">
                                        保險金額依車輛重製價值與車齡折舊計算 
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障被保險汽車因下列危險事故所致之毀損滅失：
                                    <ol>
                                        <li>碰撞、傾覆。</li>
                                        <li>火災、閃電、雷擊、爆炸、拋擲物或墜落物。</li>
                                        <li>第三者之非善意行為。</li>
                                        <li>不屬本保險契約特別載明為不保事項之任何其他原因。</li>
                                    </ol>
                                    註：除了本公司原有車體險客戶接續投保可不限保額外，斷保件或新保件於本網站僅就保險金額100萬元以下之車輛承保。
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">乙式</div>
                                    <div class="desc">
                                        保險金額依車輛重製價值與車齡折舊計算
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障被保險汽車因下列危險事故所致之毀損滅失：</p>
                                    <ol>
                                        <li>碰撞、傾覆。</li>
                                        <li>火災、閃電、雷擊、爆炸、拋擲物或墜落物。</li>
                                    </ol>
                                    註1：不含第三者非善意行為、不明原因或於保險契約特別載明為不保事項者。<br/>
                                    註2：除了本公司原有車體險客戶接續投保可不限保額外，斷保件或新保件於本網站僅就保險金額100萬元以下之車輛承保。
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">丙式</div>
                                    <div class="desc">
                                        保險金額依車輛重製價值與車齡折舊計算
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險汽車在本保險契約有效期間內，因與車輛發生碰撞、擦撞所致之毀損滅失，在確認事故之對方車輛後，本公司對被保險人始負賠償之責。 肇事逃逸之對造車輛無法確認者，本公司不負賠償之責。但經憲警或由本公司查証屬實者，不在此限。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">丁式</div>
                                    <div class="desc">
                                        保險金額1萬元起至20萬元<br/>（依實際投保金額為準）
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險汽車在本保險契約有效期間內，因與車輛發生碰撞、擦撞所致之毀損滅失，在確認事故之對方車輛後，本公司對被保險人始負賠償之責。 肇事逃逸之對造車輛無法確認者，本公司不負賠償之責。但經憲警或由本公司查証屬實者，不在此限。</p>
                                    <p>＊年度保額設有固定保障，不受一般保額折舊限制</p>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-title table-style">附加險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">全損理賠無折舊條款</div>
                                    <div class="desc">
                                        同車體損失險
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>車輛發生全損毀損無法修復或修復費用達保險金額扣除折舊後3/4以上時，按保險金額賠付之，不再扣除折舊。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">許可使用免追償附加條款</div>
                                    <div class="desc">
                                        依本附加條款之約定
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                   <p>加保本附加條款，因列名被保險人許可他人使用或管理被保險汽車，發生事故致車體損失時，本公司於給付後不再向該使用人或管理人追償。</p>
                                </article>
                            </div>
                        </div>
                    
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">颱風、地震、海嘯、冰雹、洪水或因雨積水附加條款</div>
                                    <div class="desc">
                                        同車體損失險
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>加保本附加條款，保障因颱風、地震、海嘯、冰雹、洪水、或因雨積水造成被保險汽車之損失。</p>
                                </article>
                            </div>
                        </div>
                    
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">罷工、暴動、民眾騷擾附加條款</div>
                                    <div class="desc">
                                        同車體損失險
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>加保本附加條款，保障被保險汽車因罷工、暴動、民眾騷擾所致之損失。</p>
                                    <p>註：被保險汽車經被保險人同意，被使用參與罷工、暴動及民眾騷擾之活動，所致之毀損滅失，本公司不負賠償責任。</p>
                                </article>
                            </div>
                        </div>
                        
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">限額不明損失附加條款 (限乙式車體險)</div>
                                    <div class="desc">
                                        限額 5仟 ~ 5 萬元不等(依乙式車體險保費而有額度限制，實際以投保金額為準)
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障被保險汽車停放中遭不明車輛或物體碰撞、刮損或其他不明原因所致之損失。</p>
                                    <p>
                                        註1：前項所稱「不明」指被保險人無法提供造成被保險汽車損失之對造或車牌資料。<br/>
                                        註2：此附加險限投保乙式車體險者方可附加。
                                    </p>
                                </article>
                            </div>
                        </div>
                            
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <h1 class="section-title">車體險 推薦商品組合</h1>
        <div class="tab-container  is-green">
            <div class="tab-header">
                <div class="container">
                    <ul role="tab" class="tab is-fill">
                        <li class="active"><a role="tab-item" data-tab-id="tab1success">乙式車體險</a></li>
                        <li><a role="tab-item" data-tab-id="tab2success">丙式車體險</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane">
                <div class="tab-content pt-2 active" data-tab-id="tab1success">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-md-7">
                                        <div class="text">試算車種</div>
                                        <h2>國瑞（國產）Altis2.0E 4D A4 2000c.c（69.9萬）</h2>
                                    </div>
                                    <div class="col-12 col-md-5 text-center">
                                        <img src="../img/insurance/PFA2_0120/car.png" height="83" class="my-3" srcset="../img/insurance/PFA2_0120/car.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 with-border">
                                <div>下表保費是以該兩條件計算而得：</div>
                                <ol>
                                    <li>5 人座自用小客車（車價為 69.9 萬元）</li>
                                    <li>被保人年齡介於 30 歲 - 60 歲間、且 3 年內無肇事記錄為條件計算而得。</li>
                                </ol>
                                <div class="text-deep-gray"><small>
                                    您的實際保費將依車種、被保險人年齡、性別及肇事記錄計算為準。<br/>
                                    下表為建議商品組合，您可於後續試算頁面自行調整商品組合。
                                </small></div>
                            </div>
                        </div>
                        
                        <div class="table-response mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>保險種類</th>
                                        <th>男性保費</th>
                                        <th>女性保費</th>
                                        <th>保險內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="custom">強制險</td>
                                        <td>849</td>
                                        <td>769</td>
                                        <td class="custom">每人體傷 20 萬 / 每人死殘 200 萬</td>

                                    </tr>
                                    <tr>
                                        <td class="custom">乙式車體損失險</td>
                                        <td>6,600</td>
                                        <td>4,995</td>
                                        <td class="custom">免自負額， 約定駕駛：2 人(不限性別)</td>
                                    </tr>
                                    <tr>
                                        <td class="custom"> 附加：車體險全損理賠無折舊</td>
                                        <td>118</td>
                                        <td>88</td>
                                        <td class="custom">車體險全損理賠無折舊</td>
                                    </tr>
                                    <tr>
                                        <td class="custom">第三人責任險-體傷</td>
                                        <td>1,577</td>
                                        <td>1,351</td>
                                        <td class="custom">每人傷害保額 300 萬 / 每事故總額 600 萬元</td>
                                    </tr>
                                    <tr>
                                        <td class="custom">第三人責任險-財損</td>
                                        <td>1,785</td>
                                        <td>1,530</td>
                                        <td class="custom">每事故之財損 50 萬元</td>
                                    </tr>
                                    <!--<tr>
                                        <td class="custom">第三人附加駕駛人傷害險</td>
                                        <td colspan="2">836</td>
                                        <td class="custom">住院日額保險金 2,000 元 / 每人死殘保險金 300 萬元</td>

                                    </tr>
                                    <tr>
                                        <td class="custom">第三人附加乘客體傷責任險</td>
                                        <td colspan="2">1,436</td>
                                        <td class="custom">每一人傷害 300 萬 / 每一事故之傷害 1,200 萬元</td>
                                    </tr>-->
                                    <tr>
                                        <td class="custom">第三人附加超額責任險-甲式</td>
                                        <td colspan="2" class="text-center">1,708</td>
                                        <td class="custom">每次事故第三人體傷、財損及乘客體傷超額責任上限 1,000 萬元</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-red"><b>總保費</b></td>
                                        <td class="text-red"><b>12,637</b></td>
                                        <td class="text-red"><b>10,441</b></td>
                                        <td colspan="2"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="tab-content pt-2" data-tab-id="tab2success">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-md-7">
                                        <div class="text">試算車種</div>
                                        <h2>國瑞（國產）Altis2.0E 4D A4 2000c.c（69.9萬）</h2>
                                    </div>
                                    <div class="col-12 col-md-5 text-center">
                                        <img src="../img/insurance/PFA2_0120/car.png" height="83" class="my-3" srcset="../img/insurance/PFA2_0120/car.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 with-border">
                                <div>下表保費是以該兩條件計算而得：</div>
                                <ol>
                                    <li>5 人座自用小客車（車價為 69.9 萬元）</li>
                                    <li>被保人年齡介於 30 歲 - 60 歲間、且 3 年內無肇事記錄為條件計算而得。</li>
                                </ol>
                                <div class="text-deep-gray">
                                    <small>
                                        您的實際保費將依車種、被保險人年齡、性別及肇事記錄計算為準。<br/>
                                        下表為建議商品組合，您可於後續試算頁面自行調整商品組合。
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="table-response mt-3">
                            <table class="customers table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>保險種類</th>
                                        <th>男性保費</th>
                                        <th>女性保費</th>
                                        <th>保險內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="custom">強制險</td>
                                        <td>849</td>
                                        <td>769</td>
                                        <td class="custom">每人體傷 20 萬 / 每人死殘 200 萬</td>
                                    </tr>
                                    <tr>
                                        <td class="custom">丙式車體損失險</td>
                                        <td>2,613</td>
                                        <td>1,959</td>
                                        <td class="custom">免自負額， 約定駕駛：2 人(不限性別)</td>
                                    </tr>
                                    <tr>
                                        <td class="custom"> 附加：車體險全損理賠無折舊</td>
                                        <td>46</td>
                                        <td>34</td>
                                        <td class="custom">車體險全損理賠無折舊</td>
                                    </tr>
                                    <tr>
                                        <td class="custom">第三人責任險-體傷</td>
                                        <td>1,577</td>
                                        <td>1,351</td>
                                        <td class="custom">每人傷害保額 300 萬 / 每事故總額 600 萬元</td>
                                    </tr>
                                    <tr>
                                        <td class="custom">第三人責任險-財損</td>
                                        <td>1,785</td>
                                        <td>1,530</td>
                                        <td class="custom">每事故之財損 50 萬元</td>
                                    </tr>
                                    <!--<tr>
                                        <td class="custom">第三人附加乘客體傷責任險</td>
                                        <td colspan="2">1,436</td>
                                        <td class="custom">每一人傷害 300 萬 / 每一事故之傷害 1,200 萬元</td>
                                    </tr>-->
                                    <tr>
                                        <td class="custom">第三人附加超額責任險-甲式</td>
                                        <td colspan="2" class="text-center">1,708</td>
                                        <td class="custom">每次事故第三人體傷、財損及乘客體傷超額責任上限 1,000 萬元</td>
                                    </tr>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-red"><b>總保費</b></td>
                                        <td class="text-red"><b>8,578</b></td>
                                        <td class="text-red"><b>7,351</b></td>
                                        <td colspan="2"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <p class="text-green">
                        線上投保抽 Gogoro2，優惠只到 4/30 ！ 
                    </p>
                    <a class="btn btn-primary btn-block">
                        線上投保87折優惠
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section recommand-section">
            <img src="../img/common/empty-section-bg.png"
            srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
            <img src="../img/common/life-service.png"
            srcset="../img/common/life-service@2x.png" height="377" class="bg d-none d-md-block">
            <img src="../img/common/main-line.png"
            srcset="../img/common/main-line@2x.png" height="79" class="main-line d-md-none">
          
        <div class="container">
            <h1 class="section-title">
                看完了車體險介紹，<br/>
                那賠償他人的部分呢？該怎麼保，撞到他人車才夠賠？
            </h1>
            <div class="row">
                <div class="col-12 col-md-5 offset-md-1">
                    <div class="list inline-content">
                        <a class="item">
                            <div class="content">
                                <h4>第三人責任險介紹</h4>
                                <div class="text">##保自己  #保第三人</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>超額責任險介紹</h4>
                                <div class="text">#撞到超跑幫你陪</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>車體險介紹</h4>
                                <div class="text">#保我的車</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>竊盜險介紹</h4>
                                <div class="text">#保我的車</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="./car-insurance-2-1-6.html" class="link mr-2">
                            <i class="icon-arrow-right"></i>
                            <span>看完整保障範圍</span>
                        </a>
                        <a href="./car-insurance-2-1-0.html" class="link d-inline-block mt-2">
                            <i class="icon-arrow-right"></i>
                            <span>看車險首頁</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div role="modal" class="modal" data-modal-id="injured-1"> 
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">什麼是第三人？</h4>
        </div>
        <div class="modal-body">
            <p>此處的第三人，並不包含自己車上的乘客喔，原因是因為在第三人責任險的條款中，不保事項（不理賠的項目）有一條是「乘坐或上下被保險汽車之人」，這條將「乘客」排除在理賠範圍以外。</p>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>

<div role="modal" class="modal" data-modal-id="injured-2"> 
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">投保險制</h4>
        </div>
        <div class="modal-body">
            <p>第三人責任保險之體傷保額須 300 萬(含)以上 + 財損保額須 50 萬(含)以上 + 乘客體傷責任險保額須 100 萬(含)以上，才可在本 網站加保此項喲。</p>
            <p>怎麼賠：當前述三項保額無法涵蓋全部理賠金額時，超出的部分即由【超額責任險】來賠。</p>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>

<!-- /build:content -->