<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./car-insurance-2-1-0.html" role="button" class="nav-item">回車險介紹</a>
            <a href="./car-insurance-2-1-1.html" role="button" class="nav-item">強制險</a>
            <a href="./car-insurance-2-1-2.html" role="button" class="nav-item active">第三人責任險</a>
            <a href="./car-insurance-2-1-3.html" role="button" class="nav-item">超額責任險</a>
            <a href="./car-insurance-2-1-4.html" role="button" class="nav-item">車體險</a>
            <a href="./car-insurance-2-1-5.html" role="button" class="nav-item">竊盜險及其他</a>
        </nav>
        <div class="navbar-right">
            <div class="btn btn-default">我要續保</div>
            <a href="" class="btn btn-red">線上投保87折優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./car-insurance-2-1-0.html">汽車險</a></li>
                    <li class="active"><a href="#">強制險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance car-insurance">
        <img src="../img/insurance/PFA2_0120/banner.png" height="280" class="d-none d-md-block" />
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="car-insurance-2-1-0.html">回車險介紹</a></option>
                    <option value="car-insurance-2-1-1.html">強制險</a></option>
                    <option value="./car-insurance-2-1-2.html" selected>第三人責任險</a></option>
                    <option value="./car-insurance-2-1-3.html">超額責任險 </a></option>
                    <option value="./car-insurance-2-1-4.html">車體險</a></option>
                    <option value="./car-insurance-2-1-5.html">竊盜險及其他</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./car-insurance-2-1-0.html">回車險介紹</a></li>
                <li><a href="./car-insurance-2-1-1.html">強制險</a></li>
                <li class="active"><a href="./car-insurance-2-1-2.html">第三人責任險</a></li>
                <li><a href="./car-insurance-2-1-3.html">超額責任險 </a></li>
                <li><a href="./car-insurance-2-1-4.html">車體險</a></li>
                <li><a href="./car-insurance-2-1-5.html">竊盜險及其他</a></li>
            </ul>
            <div class="caption">
                <h1>
                    第三人責任險可以賠償別人，是發生車禍時最實在的保障
                </h1>
                <div class="description">
                    除了強制險外，到底還有什麼是必須要保的？其實這跟每個人的保險意識有關，跟承擔責任的能力也有關 (聽來好官方說法，但卻是不爭的事實啊) 若說跟著專業走，攤開每個保險從業人員的汽車保單，<span class="text-orange">除了強制險外，第三人責任險一定是最基本必備的</span>！
                </div>
                <div class="action mt-2 d-none d-md-block">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <a href="#" class="btn btn-default btn-flat">我要續保</a>
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0120/banner-sm.png" height="200" class="d-block d-md-none" />
    </div>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">不能不知的五大重點</h1>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel insurance-card">
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">01</h1>
                                <h2 class="title">何謂「第三人」？</h2>
                                <div class="description">在你車外的所有人，都是第三人。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">02</h1>
                                <h2 class="title">它的重要性在於？</h2>
                                <div class="description">發生交通意外時，超過強制險可賠償範圍之外的，就由第三人責任險來賠。估算他人求償金額不容易，處理別人的財損跟受傷都更麻煩，建議必保。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">03</h1>
                                <h2 class="title">建議保額是多少？</h2>
                                <div class="description">第三人責任險的建議保額是體傷 300 萬、財損 50 萬。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">04</h1>
                                <h2 class="title">什麼情況適用？</h2>
                                <div class="description">名為第三人責任險，即為發生交通意外事故時，是因為駕駛人（被保險人）有過失、有責任的狀況下，才會啟動該險的理賠。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">05</h1>
                                <h2 class="title">理賠金額取決於？</h2>
                                <div class="description">依實際造成的財物及人員損失金額來賠，而非投保多少就直接賠多少。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section u-need is-relax mt-5">
        <div class="container">
            <h1 class="section-title">大家都保了...</h1>
            <div class="row">
                <div class="col-12 with-scrollbar">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row mb-2">
                                <div class="col-6">
                                    <h3 class="mb-1">
                                        體傷
                                        <a role="button" class="link" data-trigger="modal" data-modal="injured-1"><i class="icon-info"></i></a>
                                    </h3>
                                    <p>
                                        保障對象：保障第三人<br/>
                                        發生交通事故時，駕駛人有過失，造成車外第三人死亡或體傷，超過強制險可賠的範圍之外，就由此險來賠。
                                    </p>
                                </div>
                                <div class="col-6">
                                    <h3 class="mb-1">財損</h3>
                                    <p>
                                        保障對象：保障第三人車輛或財物<br/>
                                        發生交通事故時，駕駛人有過失，造成第三人財物損失，就由此險來賠。 第三人財物損害包含對方的車輛、路人的財物損失、衝撞到店面的財物損失等。
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="mb-1">乘客體傷責任保險</h3>
                                    <p>
                                        保障對象：自己的乘客<br/>
                                        發生交通事故時，駕駛人有過失，造成自己車上乘客死亡或體傷，就由此險來賠。
                                    </p>
                                </div>
                                <div class="col-6">
                                    <h3 class="mb-1">
                                        超額責任險
                                        <a role="button" class="link" data-trigger="modal" data-modal="injured-1"><i class="icon-info"></i></a>
                                    </h3>
                                    <p>
                                        保障對象：第三人、第三人財物和自己的乘客<br/>
                                        常行經都會區 (高級車多的地方）、或行駛於高速公路（容易有多車事故，比如連環車禍…）萬一出事時面臨賠償金額比一般情況多更多的人建議需保。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">保障範圍與金額</h1>
            <div class="row">
                <div class="col-12">
                    <div class="accordion-title table-style">主險－第三人責任險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">傷害責任險（體傷）</div>
                                    <div class="desc">
                                        每人傷害 150萬~800萬元<br/>
                                        每事故之總額300萬 ~ 1,600萬元(2倍型)
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <p>被保險汽車發生意外事故，致第三人死亡或體傷，依法應負之賠償責任而受賠償請求時，就超過強制汽車責任保險給付金額以外的部份，在保險金額內對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">傷害責任險（財損）</div>
                                    <div class="desc">
                                        每事故財損 20 萬 ~ 100 萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <p>被保險汽車發生意外事故，致第三人財物受有損害，依法應負賠償責任而受賠償請求時，在保險金額內保險公司對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-title table-style">附加險－第三人責任險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">駕駛人受酒類影響附加條款</div>
                                    <div class="desc">
                                        同第三人責任險
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <p>被保險人因受酒類影響駕駛被保險汽車致第三人死亡或受有體傷或第三人財物受有損失，依法應由被保險人負賠償責任而受賠償請求時，本公司仍依主保險契約之約定負賠償之責，不受「汽車保險共同條款」第十條第三款之約束。</p>
                                    <p>前項所稱受酒類影響係指飲用酒類或其他類似物後駕駛汽車，其吐氣或血液中所含酒精濃度超過道路交通管理法規規定之標準。</p>
                                </article>
                            </div>
                        </div>
                        
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">附加駕駛人傷害險</div>
                                    <div class="desc">
                                            住院日額保險金 2,000 元<br/>
                                            每人死亡及失能保險金 50萬 ~ 600 萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <p>被保險人於本附加險有效期間內駕駛被保險汽車發生交通意外事故，致被保險人死亡或失能時，本公司依照本附加險之約定負給付保險金的責任。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">乘客體傷責任附加條款</div>
                                    <div class="desc">
                                        每人傷害 10 萬 ~ 600 萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險人因使用或管理被保險汽車發生意外事故，致乘坐或上下被保險汽車之乘客受有體傷或死亡時，依法應負賠償責任而受賠償請求時，本公司對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                    
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">失能責任增額附加條款</div>
                                    <div class="desc">
                                        每人失能增額 2 倍
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保險人因所有、使用或管理被保險汽車發生意外事故致第三人失能，依法應負賠償責任而受賠償請求時，本公司僅對超過強制汽車責任保險給付標準以上之部分依本附加條款之約定對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">險慰問金費用附加條款</div>
                                    <div class="desc">
                                        每人門診慰問金 2,500元/
                                        每人住院慰問金 1 萬元/
                                        每人身故慰問金 5 萬元/
                                        每一事故總額 10 萬元/
                                        保險期間總額 50 萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險人因所有、使用或管理被保險汽車發生意外事故，致第三人死亡或受有體傷，經本公司查證屬實後，對於被保險人所支出之下列費用負理賠之責：
                                        </p>
                                    <ol>
                                        <li>該第三人死亡時，前往喪家所支出之奠儀金費用</li>
                                        <li>該第三人受傷醫療者，前往探視所支出之慰問金費用</li>
                                    </ol>
                                </article>
                            </div>
                        </div>

                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">律師費用補償附加條款</div>
                                    <div class="desc">
                                            5萬元~20萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險人於本附加條款有效期間內，因所有、使用或管理被保險汽車發生交通意外事故，致第三人受有體傷、死亡或財物損失時，因涉及（業務）過失傷害、（業務）過失重傷害、（業務）過失致人於死之刑事責任、民事訴訟或強制執行程序，而遭受刑事追訴或民事損害賠償事宜所產生之律師費用，本公司依本附加條款約定之保險金額為限，對被保險人負賠償責任。</p>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-title table-style">汽車第三人責任保險超額責任附加條款（甲式）</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">傷害超額責任險（體傷）</div>
                                    <div class="desc">
                                            每次事故第三人體傷超額責任上限 500 萬元 ~ 3,000 萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險人因所有、使用或管理被保險汽車發生意外事故，致第三人死亡或受有體傷，依法應負賠償責任而受賠償請求時，本公司僅對超過強制汽車責任保險給付標準及主保險契約所約定之保險金額以上部份對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">財損超額責任險（財損）</div>
                                    <div class="desc">
                                        每次事故財損超額責任上限 500萬元~3,000萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險人因所有、使用或管理被保險汽車發生意外事故，致第三人財物受有損害，依法應負賠償責任而受賠償請求時，本公司僅對超過主保險契約所約定之保險金額以上部份對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        <small>註：第三人責任保險之體傷保額須300萬（含）以上，財損保額須50萬（含）以上，始可加保此項。</small>
                    </div>

                    <div class="accordion-title table-style">汽車第三人責任保險超額責任附加條款（乙式）</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">傷害超額責任險（體傷）</div>
                                    <div class="desc">
                                        每次事故第三人體傷超額責任上限 500萬元~3,000萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險人因所有、使用或管理被保險汽車發生意外事故，致第三人死亡或受有體傷，依法應負賠償責任而受賠償請求時，本公司僅對超過強制汽車責任保險給付標準及主保險契約所約定之保險金額以上部份對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">財損超額責任險（財損）</div>
                                    <div class="desc">
                                        每次事故財損超額責任上限 500萬元~3,000萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險人因所有、使用或管理被保險汽車發生意外事故，致第三人財物受有損害，依法應負賠償責任而受賠償請求時，本公司僅對超過主保險契約所約定之保險金額以上部份對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">乘客體傷超額責任險（財損）</div>
                                    <div class="desc">
                                        每次事故乘客體傷超額責任上限 500萬元 ~ 3,000 萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>被保險人因所有、使用或管理被保險汽車發生意外事故，致乘客死亡或體傷依法應負賠償責任而受賠償請求時，本公司僅對超過強制汽車責任保險給付標準及主保險契約所約定之乘客體傷責任保險之保險金額以上部份對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        <p class="text-orange">註：第三人責任保險之體傷保額須300萬（含）以上，財損保額須50萬（含）以上；且須另加保乘客體傷責任險（保額100萬以上），始可加保此項。</p>
                    </div>
                    <div class="text-right">
                        <a href="../helper/8-8-0.html" class="link">
                            看第三人責任險條款內容 <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="tab-container is-green">
            <div class="tab-header">
                <div class="container">
                    <ul role="tab" class="tab is-fill">
                        <li class="active"><a role="tab-item" data-tab-id="tab2success">
                            保費3,000-4,500元
                        </a></li>
                        <li><a role="tab-item" data-tab-id="tab1success">
                            保費6,500-7,500元
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane">
                <div class="container">
                    <div class="tab-content pt-2" data-tab-id="tab1success">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-md-7">
                                        <div class="text">試算車種</div>
                                        <h2>國瑞（國產）Altis2.0E 4D A4 2000c.c（69.9萬）</h2>
                                    </div>
                                    <div class="col-12 col-md-5 text-center">
                                        <img src="../img/insurance/PFA2_0120/car.png" height="83" class="my-3" srcset="../img/insurance/PFA2_0120/car.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 with-border">
                                <div>下表保費是以該兩條件計算而得：</div>
                                <ol>
                                    <li>5 人座自用小客車（車價為 69.9 萬元）</li>
                                    <li>被保人年齡介於 30 歲 - 60 歲間、且 3 年內無肇事記錄為條件計算而得。</li>
                                </ol>
                                    
                                <div class="text-deep-gray"><small>
                                    您的實際保費將依車種、被保險人年齡、性別及肇事記錄計算為準。<br/>
                                    下表為建議商品組合，您可於後續試算頁面自行調整商品組合。
                                </small></div>
                            </div>
                        </div>
                        <div class="table-response mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>保險種類</th>
                                        <th>男性保費</th>
                                        <th>女性保費</th>
                                        <th>保險內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                        <td class="custom2">強制險</td>
                                        <td>849</td>
                                        <td>769</td>
                                        <td class="custom2">每人體傷 20 萬 / 每人死殘 200 萬</td>

                                    </tr>
                                    <tr>
                                        <td class="custom2">第三人責任險-體傷</td>
                                        <td>1,577</td>
                                        <td>1,351</td>
                                        <td class="custom2">每人傷害保額 300 萬 / 每事故總額 600 萬元</td>

                                    </tr>
                                    <tr>
                                        <td class="custom2">第三人責任險-財損</td>
                                        <td>1,785</td>
                                        <td>1,530</td>
                                        <td class="custom2">每事故之財損 50 萬元</td>

                                    </tr>
                                    <tr>
                                        <td class="custom">第三人附加駕駛人傷害險</td>
                                        <td colspan="2">836</td>
                                        <td class="custom">住院日額保險金2000元/每人死亡及失能300萬</td>

                                    </tr>
                                    <tr>
                                        <td class="custom">第三人附加乘客體傷責任險</td>
                                        <td colspan="2">1,436</td>
                                        <td class="custom">每一人傷害 300 萬 / 每一事故之傷害 1,200 萬元</td>

                                    </tr>
                                    <tr>
                                        <td class="custom">第三人附加慰問金費用</td>
                                        <td colspan="2">215</td>
                                        <td class="custom">每人身故慰問金 5 萬 / 每一事故總額 10 萬 / 保險期間總額 50 萬元</td>

                                    </tr>
                                    <tr>
                                        <td class="custom">律師費用補償附加條款</td>
                                        <td colspan="2" class="text-center">491</td>
                                        <td class="custom">保險期間總保額 5 萬元</td>

                                    </tr>
                                    <tr id="th">
                                        <td id="th" class="text-red"><b>總保費</b></td>
                                        <td id="th" class="text-red"><b>7,189</b></td>
                                        <td id="th" class="text-red"><b>6,628</b></td>
                                        <td colspan="2"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-content pt-2 active" data-tab-id="tab2success">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-md-7">
                                        <div class="text">試算車種</div>
                                        <h2>國瑞（國產）Altis2.0E 4D A4 2000c.c（69.9萬）</h2>
                                    </div>
                                    <div class="col-12 col-md-5 text-center">
                                        <img src="../img/insurance/PFA2_0120/car.png" height="83" class="my-3" srcset="../img/insurance/PFA2_0120/car.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div>下表保費是以該兩條件計算而得：</div>
                                <ol>
                                    <li>5 人座自用小客車（車價為 69.9 萬元）</li>
                                    <li>被保人年齡介於 30 歲 - 60 歲間、且 3 年內無肇事記錄為條件計算而得。</li>
                                </ol>
                                <div class="text-deep-gray"><small>
                                    您的實際保費將依車種、被保險人年齡、性別及肇事記錄計算為準。<br>
                                    下表為建議商品組合，您可於後續試算頁面自行調整商品組合。
                                </small></div>
                            </div>
                        </div>
                        <div class="table-response mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>保險種類</th>
                                        <th>男性保費</th>
                                        <th>女性保費</th>
                                        <th>保險內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="custom2">強制險</td>
                                        <td>849</td>
                                        <td>769</td>
                                        <td class="custom2">每人體傷 20 萬 / 每人死殘 200 萬</td>

                                    </tr>
                                    <tr>
                                        <td class="custom2">第三人責任險-體傷</td>
                                        <td>1,577</td>
                                        <td>1,351</td>
                                        <td class="custom2">每人傷害保額 300 萬 / 每事故總額 600 萬元</td>

                                    </tr>
                                    <tr>
                                        <td class="custom2">第三人責任險-財損</td>
                                        <td>1,785</td>
                                        <td>1,530</td>
                                        <td class="custom2">每事故之財損 50 萬元</td>

                                    </tr>
                                    <tr id="th">
                                        <td id="th" class="text-red"><b>總保費</b></td>
                                        <td id="th" class="text-red"><b>4,211</b></td>
                                        <td id="th" class="text-red"><b>3,650</b></td>
                                        <td colspan="2"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <p class="text-green">
                        線上投保抽 Gogoro2，優惠只到 4/30 ！ 
                    </p>
                    <a class="btn btn-primary btn-block">
                        線上投保87折優惠
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section pb-5 mt-5">
        <div class="container">
            <h1 class="section-title">需要專員協助嗎？歡迎聊聊</h1>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row contact-block">
                        <a href="tel:0800036599" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-call i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">免付費專線</div>
                                <span class="d-none d-sm-block">0800-212-880</span>
                            </div>
                        </a>
                        <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-mail i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">寫信諮詢</div>
                                <span class="d-none d-sm-block">將有專人聯繫</span>
                            </div>
                        </a>
                        <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                            <div class="icon">
                                <div class="icon-location i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">服務據點</div>
                                <span class="d-none d-sm-block">查詢地址電話</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section recommand-section">
            <img src="../img/common/empty-section-bg.png"
            srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
            <img src="../img/common/life-service.png"
            srcset="../img/common/life-service@2x.png" height="377" class="bg d-none d-md-block">
            <img src="../img/common/main-line.png"
            srcset="../img/common/main-line@2x.png" height="79" class="main-line d-md-none">
          
        <div class="container">
            <h1 class="section-title">
                看完了第三人責任險介紹，<br/>
                那如何保障自己？我的人車又該怎麼保？
            </h1>
            <div class="row">
                <div class="col-12 col-md-5 offset-md-1">
                    <div class="list inline-content">
                        <a class="item">
                            <div class="content">
                                <h4>第三人責任險介紹</h4>
                                <div class="text">##保自己  #保第三人</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>超額責任險介紹</h4>
                                <div class="text">#撞到超跑幫你陪</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>車體險介紹</h4>
                                <div class="text">#保我的車</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>竊盜險介紹</h4>
                                <div class="text">#保我的車</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="./car-insurance-2-1-6.html" class="link mr-2">
                            <i class="icon-arrow-right"></i>
                            <span>看完整保障範圍</span>
                        </a>
                        <a href="./car-insurance-2-1-0.html" class="link d-inline-block mt-2">
                            <i class="icon-arrow-right"></i>
                            <span>看車險首頁</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div role="modal" class="modal" data-modal-id="injured-1"> 
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">什麼是第三人？</h4>
        </div>
        <div class="modal-body">
            <p>此處的第三人，並不包含自己車上的乘客喔，原因是因為在第三人責任險的條款中，不保事項（不理賠的項目）有一條是「乘坐或上下被保險汽車之人」，這條將「乘客」排除在理賠範圍以外。</p>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>

<div role="modal" class="modal" data-modal-id="injured-2"> 
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">投保險制</h4>
        </div>
        <div class="modal-body">
            <p>第三人責任保險之體傷保額須 300 萬(含)以上 + 財損保額須 50 萬(含)以上 + 乘客體傷責任險保額須 100 萬(含)以上，才可在本 網站加保此項喲。</p>
            <p>怎麼賠：當前述三項保額無法涵蓋全部理賠金額時，超出的部分即由【超額責任險】來賠。</p>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>

<!-- /build:content -->