<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./car-insurance-2-1-0.html" role="button" class="nav-item">回車險介紹</a>
            <a href="./car-insurance-2-1-1.html" role="button" class="nav-item">強制險</a>
            <a href="./car-insurance-2-1-2.html" role="button" class="nav-item">第三人責任險</a>
            <a href="./car-insurance-2-1-3.html" role="button" class="nav-item active">超額責任險</a>
            <a href="./car-insurance-2-1-4.html" role="button" class="nav-item">車體險</a>
            <a href="./car-insurance-2-1-5.html" role="button" class="nav-item">竊盜險及其他</a>
        </nav>
        <div class="navbar-right">
            <div class="btn btn-default">我要續保</div>
            <a href="" class="btn btn-red">線上投保87折優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./car-insurance-2-1-0.html">汽車險</a></li>
                    <li class="active"><a href="#">強制險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance car-insurance">
        <img src="../img/insurance/PFA2_0130/banner.png" height="300" class="d-none d-md-block"/>
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="car-insurance-2-1-0.html">回車險介紹</a></option>
                    <option value="car-insurance-2-1-1.html">強制險</a></option>
                    <option value="./car-insurance-2-1-2.html">第三人責任險</a></option>
                    <option value="./car-insurance-2-1-3.html" selected>超額責任險 </a></option>
                    <option value="./car-insurance-2-1-4.html">車體險</a></option>
                    <option value="./car-insurance-2-1-5.html">竊盜險及其他</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./car-insurance-2-1-0.html">回車險介紹</a></li>
                <li><a href="./car-insurance-2-1-1.html">強制險</a></li>
                <li><a href="./car-insurance-2-1-2.html">第三人責任險</a></li>
                <li class="active"><a href="./car-insurance-2-1-3.html">超額責任險 </a></li>
                <li><a href="./car-insurance-2-1-4.html">車體險</a></li>
                <li><a href="./car-insurance-2-1-5.html">竊盜險及其他</a></li>
            </ul>
            <div class="caption">
                <h1>
                    買不起超跑，更要買超額！天價賠償，超額險幫你扛
                </h1>
                <div class="description">
                    小明不小心失速偏移擦撞路邊的5輛高價名車，一次意外導致的車輛維修費高達約1200萬元，到底該怎麼賠呢？好在小明加保了超額責任險(保額2000萬元)，保險公司全額給付，小明安全下莊
                </div>
                <div class="action mt-2 d-none d-md-block">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <a href="#" class="btn btn-default btn-flat">我要續保</a>
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0130/banner-sm.png" height="200" class="d-block d-md-none" />
    </div>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">不能不知的超額險三大重點</h1>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel insurance-card">
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">01</h1>
                                <h2 class="title">撞房、車、機車、商店或人都可以賠償</h2>
                                <div class="description">發生交通意外時，超過強制險與第三人責任險保額之外的，皆可以啟動全額給付。故之前網路討論度爆高之撞超跑新聞，當事人如有加保超額責任險，即可大大減輕理賠負擔。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">02</h1>
                                <h2 class="title">無法單獨購買</h2>
                                <div class="description">超額顯無法單獨購買，須先投保第三人責任險，才可以附加投保喔！</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">03</h1>
                                <h2 class="title">分甲式/乙式，該怎麼選?</h2>
                                <div class="description">如您大部分是載非家人為主的乘客(例如：朋友)，建議可保乙式，如發生車禍肇事責任歸屬於被保險人，乘客求償即可申請理賠。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section">
        <h1 class="section-title">超額責任險 推薦商品組合</h1>
        <div class="tab-container is-green">
            <div class="tab-header">
                <div class="container">
                    <ul role="tab" class="tab is-fill">
                        <li class="active"><a role="tab-item" data-tab-id="tab-1">汽車族</a></li>
                        <li><a role="tab-item" data-tab-id="tab-2">機車族</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane">
                <div class="tab-content pt-2 active" data-tab-id="tab-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-md-7">
                                        <div class="text">試算車種</div>
                                        <h2>國瑞（國產）Altis2.0E 4D A4 2000c.c（69.9萬）</h2>
                                    </div>
                                    <div class="col-12 col-md-5 text-center">
                                        <img src="../img/insurance/PFA2_0120/car.png" height="83" class="my-3" srcset="../img/insurance/PFA2_0120/car.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div>下表保費是以該兩條件計算而得：</div>
                                <ol>
                                    <li>5人座自用小客車（車價為 69.9 萬元）</li>
                                    <li>被保人年齡介於 30 歲 - 60 歲間、且 3 年內無肇事記錄</li>
                                </ol>
                                <div class="text-deep-gray"><small>
                                    您的實際保費將依車種、被保險人年齡、性別及肇事記錄計算為準<br>
                                    下表為建議商品組合，您可於後續試算頁面自行調整商品組合
                                </small></div>
                            </div>
                        </div>
                        <div class="table-response mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>保險種類</th>
                                        <th class="text-center">男性保費</th>
                                        <th class="text-center">女性保費</th>
                                        <th>保險內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>強制險</td>
                                        <td>849</td>
                                        <td>769</td>
                                        <td>每人體傷 20 萬 / 每人死殘 200 萬</td>
                                    </tr>
                                    <tr>
                                        <td>丙式車體損失險</td>
                                        <td>2,613</td>
                                        <td>1,959</td>
                                        <td>免自負額， 約定駕駛：2 人(不限性別)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-ind">附加：車體險全損理賠無折舊</td>
                                        <td>46</td>
                                        <td>34</td>
                                        <td>車體險全損理賠無折舊</td>
                                    </tr>
                                    <tr>
                                        <td>第三人責任險-體傷</td>
                                        <td>1,577</td>
                                        <td>1,351</td>
                                        <td>每人傷害保額 300 萬 / 每事故總額 600 萬元</td>
                                    </tr>
                                    <tr>
                                        <td>第三人責任險-財損</td>
                                        <td>1,785</td>
                                        <td>1,530</td>
                                        <td>每事故之財損 50 萬元</td>
                                    </tr>
                                    <tr>
                                        <td>第三人附加超額責任險-甲式</td>
                                        <td colspan="2" class="text-center">1,708</td>
                                        <td>每次事故第三人體傷、財損上限 1,000 萬元</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="text-left text-red">
                                        <th>總保費</th>
                                        <th>8,578</th>
                                        <th>7,351</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-content pt-2" data-tab-id="tab-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-md-7">
                                        <div class="text">試算車種</div>
                                        <h2>
                                            125cc,KYMCO光陽
                                        </h2>
                                    </div>
                                    <div class="col-12 col-md-5 text-center">
                                        <img src="../img/insurance/PFA2_0130/scooter-intro.png" height="140" class="my-3" srcset="../img/insurance/PFA2_0130/scooter-intro@2x.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div>下表保費是以該三條件計算而得：</div>
                                <ol>
                                    <li>重型機車 (51 - 250CC)</li>
                                    <li>要保人年齡介於30 歲 - 60 歲間、且3 年內無肇事記錄</li>
                                </ol>
                                <div>此報價為一年期</div>
                                <div class="text-deep-gray"><small>
                                    您的實際保費將依車種與肇事記錄計算為準<br>
                                    下表為建議商品組合，您可於後續試算頁面自行調整商品組合
                                </small></div>
                            </div>
                        </div>
                        <div class="table-response mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>保險種類</th>
                                        <th class="text-center">線上投保優惠價</th>
                                        <th>保險內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>強制險</td>
                                        <td>488</td>
                                        <td>每一人體傷20萬 / 每一人死亡及失能200萬</td>
                                    </tr>
                                    <tr>
                                        <td>第三人責任險-體傷</td>
                                        <td>710</td>
                                        <td>每人傷害保額300萬/每事故總額600萬</td>
                                    </tr>
                                    <tr>
                                        <td>第三人責任-財損</td>
                                        <td>319</td>
                                        <td>每事故之財損50萬</td>
                                    </tr>
                                    <tr>
                                        <td>第三人附加超額責任險-甲式</td>
                                        <td>529</td>
                                        <td>每次事故第三人體傷、財損上限 1,000 萬元</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="text-left text-red">
                                        <th>總保費</th>
                                        <th>2,046</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <p class="text-green">
                        線上投保抽 Gogoro2，優惠只到 4/30 ！ 
                    </p>
                    <a class="btn btn-primary btn-block">
                        線上投保87折優惠
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section pb-5 mt-5">
        <div class="container">
            <h1 class="section-title">需要專員協助嗎？</h1>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row contact-block">
                        <a href="tel:0800036599" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-call i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">免付費專線</div>
                                <span class="d-none d-sm-block">0800-212-880</span>
                            </div>
                        </a>
                        <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-mail i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">寫信諮詢</div>
                                <span class="d-none d-sm-block">將有專人聯繫</span>
                            </div>
                        </a>
                        <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                            <div class="icon">
                                <div class="icon-location i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">服務據點</div>
                                <span class="d-none d-sm-block">查詢地址電話</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="section-title"></h1>

            <div class="accordions">
                <div class="accordion">
                    <a class="accordion-header" role="button">
                        <div class="icon">
                            <i class="icon-chevron-down"></i>
                        </div>
                        <h4 class="accordion-title text-left">我不是已經有保強制險了為什麼還要買那麼多?</h4>
                    </a>
                    <div class="accordion-body pt-2">
                        <p>強制險是依法必須投保，雖能獲得基本保障，但保障額度有限。當理賠金額過高時，即會啟動上一層任意險保護。</p>
                        <div class="flow-container with-arrow">
                            <div class="flow">
                                <div class="flow-header">第一重保障</div>
                                <div class="flow-body">
                                    <p>強制險</p>
                                    <h3>200萬</h3>
                                </div>
                            </div>
                            <div class="flow">
                                <div class="flow-header">第二重保障</div>
                                <div class="flow-body">
                                    <p>第三責任險</p>
                                    <h3>300萬(體傷)＋50萬(財損) </h3>
                                </div>
                            </div>
                            <div class="flow">
                                <div class="flow-header">第三重保障</div>
                                <div class="flow-body">
                                    <p>超額第三人責任險</p>
                                    <h3>2000萬</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <a class="accordion-header" role="button">
                        <div class="icon">
                            <i class="icon-chevron-down"></i>
                        </div>
                        <h4 class="accordion-title text-left">我還是搞不懂超額責任險如何賠償，有範例可以參考嗎?</h4>
                    </a>
                    <div class="accordion-body pt-2">
                        <p>撞到高價車：開車失神，結果路邊擦撞多台超跑，預估總修理費需要1200萬元</p>
                        <div class="flow-container mb-5">
                            <div class="flow">
                                <div class="flow-body">
                                    <h3>強制險</h3>
                                    <p>
                                        每人體傷20萬 /每人死亡及失能200萬<br/>
                                        只賠償對方受傷死亡及失能，財物損失無法理賠
                                    </p>
                                </div>
                            </div>
                            <div class="flow">
                                <div class="flow-body">
                                    <h3>第三責任險</h3>
                                    <p>
                                        每事故之財損50萬元<br/>
                                        每次事故最高只賠對方50萬元財物損失費用
                                    </p>
                                </div>
                            </div>
                            <div class="flow">
                                <div class="flow-body">
                                    <h3>超額責任險</h3>
                                    <p>
                                        每次事故體傷/財損總額2000萬<br/>
                                        依法應負之賠償責任在2千萬以下保險公司會協助處理
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p>多人傷亡：開車開太快，煞車來不及結果發生事故，導致多人傷亡</p>
                        <div class="flow-container">
                            <div class="flow">
                                <div class="flow-body">
                                    <h3>強制險</h3>
                                    <p>
                                        每人體傷20萬 /每人死亡及失能200萬<br/>
                                        只賠償對方受傷死亡及失能，財物損失無法理賠
                                    </p>
                                </div>
                            </div>
                            <div class="flow">
                                <div class="flow-body">
                                    <h3>第三責任險</h3>
                                    <p>
                                        每人傷害保額300萬/每人事故總額600萬<br/>
                                        可賠償每人最高金額300萬元，此事故最高可賠600萬
                                    </p>
                                </div>
                            </div>
                            <div class="flow">
                                <div class="flow-body">
                                    <h3>超額責任險</h3>
                                    <p>
                                        每次事故體傷/財損總額2000萬<br/>
                                        依法應負之賠償責任在2千萬以下保險公司會協助處理
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <a class="accordion-header" role="button">
                        <div class="icon">
                            <i class="icon-chevron-down"></i>
                        </div>
                        <h4 class="accordion-title text-left">除了超額責任險外，請問我還需要買些甚麼??</h4>
                    </a>
                    <div class="accordion-body pt-2">
                        <p>建議汽車族可加購車體險，保障車子安全->推薦買車體險</p>
                        <p>建議機車族可加購駕傷險，保障自身安全->推薦買強制駕傷險</p>
                    </div>
                </div>
                <div class="accordion">
                    <a class="accordion-header" role="button">
                        <div class="icon">
                            <i class="icon-chevron-down"></i>
                        </div>
                        <h4 class="accordion-title text-left">超額責任險如果自撞有賠償嗎?</h4>
                    </a>
                    <div class="accordion-body pt-2">
                        <p>很抱歉，超額責任險為理賠他人之責任險，愛車與自身安全建議可以參考其他險種加強保障喔!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section recommand-section">
            <img src="../img/common/empty-section-bg.png"
            srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
            <img src="../img/common/life-service.png"
            srcset="../img/common/life-service@2x.png" height="377" class="bg d-none d-md-block">
            <img src="../img/common/main-line.png"
            srcset="../img/common/main-line@2x.png" height="79" class="main-line d-md-none">
          
        <div class="container">
            <h1 class="section-title">
                除了超額責任險外，請問我還需要甚麼?
            </h1>
            <div class="row">
                <div class="col-12 col-md-5 offset-md-1">
                    <div class="list inline-content">
                        <a class="item">
                            <div class="content">
                                <h4>第三人責任險介紹</h4>
                                <div class="text">##保自己  #保第三人</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>超額責任險介紹</h4>
                                <div class="text">#撞到超跑幫你陪</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>車體險介紹</h4>
                                <div class="text">#保我的車</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>竊盜險介紹</h4>
                                <div class="text">#保我的車</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="./car-insurance-2-1-6.html" class="link mr-2">
                            <i class="icon-arrow-right"></i>
                            <span>看完整保障範圍</span>
                        </a>
                        <a href="./car-insurance-2-1-0.html" class="link d-inline-block mt-2">
                            <i class="icon-arrow-right"></i>
                            <span>看車險首頁</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div role="modal" class="modal" data-modal-id="injured-1"> 
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">什麼是第三人？</h4>
        </div>
        <div class="modal-body">
            <p>此處的第三人，並不包含自己車上的乘客喔，原因是因為在第三人責任險的條款中，不保事項（不理賠的項目）有一條是「乘坐或上下被保險汽車之人」，這條將「乘客」排除在理賠範圍以外。</p>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>

<div role="modal" class="modal" data-modal-id="injured-2"> 
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">投保險制</h4>
        </div>
        <div class="modal-body">
            <p>第三人責任保險之體傷保額須 300 萬(含)以上 + 財損保額須 50 萬(含)以上 + 乘客體傷責任險保額須 100 萬(含)以上，才可在本 網站加保此項喲。</p>
            <p>怎麼賠：當前述三項保額無法涵蓋全部理賠金額時，超出的部分即由【超額責任險】來賠。</p>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>

<!-- /build:content -->