<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./car-insurance-2-1-0.html" role="button" class="nav-item">回車險介紹</a>
            <a href="./car-insurance-2-1-1.html"  role="button" class="nav-item active">強制險</a>
            <a href="./car-insurance-2-1-2.html"  role="button" class="nav-item">第三人責任險</a>
            <a href="./car-insurance-2-1-3.html"  role="button" class="nav-item">超額責任險</a>
            <a href="./car-insurance-2-1-4.html"  role="button" class="nav-item">車體險</a>
            <a href="./car-insurance-2-1-5.html"  role="button" class="nav-item">竊盜險及其他</a>
        </nav>
        <div class="navbar-right">
            <div class="btn btn-default">我要續保</div>
            <a href="" class="btn btn-red">線上投保87折優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./car-insurance-2-1-0.html">汽車險</a></li>
                    <li class="active"><a href="#">強制險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance car-insurance">
        <img src="../img/insurance/PFA2_0110/banner.png" height="280" class="d-none d-md-block" />
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="car-insurance-2-1-0.html">回車險介紹</a></option>
                    <option value="car-insurance-2-1-1.html" selected>強制險</a></option>
                    <option value="./car-insurance-2-1-2.html">第三人責任險</a></option>
                    <option value="./car-insurance-2-1-3.html">超額責任險 </a></option>
                    <option value="./car-insurance-2-1-4.html">車體險</a></option>
                    <option value="./car-insurance-2-1-5.html">竊盜險及其他</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./car-insurance-2-1-0.html">回車險介紹</a></li>
                <li class="active"><a href="./car-insurance-2-1-1.html">強制險</a></li>
                <li><a href="./car-insurance-2-1-2.html">第三人責任險</a></li>
                <li><a href="./car-insurance-2-1-3.html">超額責任險 </a></li>
                <li><a href="./car-insurance-2-1-4.html">車體險</a></li>
                <li><a href="./car-insurance-2-1-5.html">竊盜險及其他</a></li>
            </ul>
            <div class="caption">
                <h1>
                    汽車強制險兩年期，最高省240元
                </h1>
                <div class="description">
                    強制險是一種依法必須投保的保險，驗車時必備險種，目的在使交通事故之受害者，能獲得基本保障，依法規定未投保而被查獲，將被開立新台幣 3,000元~15,000元 之罰鍰。
                </div>
                <div class="action mt-2 d-none d-md-block">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <a href="#" class="btn btn-default btn-flat">我要續保</a>
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0110/banner-sm.png" height="200" class="d-block d-md-none" />
    </div>
    <section>
        <div class="container">
            <h1 class="section-title">不能不知的三大重點</h1>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel insurance-card">
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">01</h1>
                                <h2 class="title">法規必備不能不保</h2>
                                <div class="description">未投保強制險，會罰款 3,000元~15,000元 ，若違反道路交通規則之車輛，除開立罰單外再開立未投保罰單；有肇事或交通事故之車輛， 除開立罰單外，如未投保則再開立未投保罰單。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">02</h1>
                                <h2 class="title">自撞意外駕駛不保</h2>
                                <div class="description">保障對象包含所有交通事故受害人(包括駕駛人、乘客、及第三人)，但一輛車事故（例如撞到電線桿、行道樹）所致駕駛人之體傷、失能或死亡是不在承保範圍</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">03</h1>
                                <h2 class="title">建議加保駕駛人傷害險</h2>
                                <div class="description">騎乘機車發生單一交通事故時(例如：天雨路滑發生摔車、自撞等)，為了保障強制險所無法賠付單一事故駕駛人傷亡的部分，應投保強制險附加駕駛人傷害險，與強制險搭配，保障更全面。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">保障範圍與金額</h1>
            <div class="row">
                <div class="col-12">
                    <div class="accordion-title table-style">主險－強制汽車責任險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">強制汽車責任保險</div>
                                    <div class="desc">
                                        每一人體傷20萬元<br/>
                                        每一人死亡及失能200萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <ol>
                                        <li>保障對象包含所有交通事故受害人(包括駕駛人、乘客、及第三人)，但一輛車事故（例如撞到電線桿、行道樹）所致駕駛人之體傷、失能或死亡是不在承保範圍，可選擇加保本公司之強制險附加駕駛人傷害保險</li>
                                        <li>受害人可直接向保險公司請求給付（跳過加害人，不必先與加害人和解即可直接申請理賠）</li>
                                        <li>發生兩輛車以上交通事故時，其中一方駕駛人若有受傷，可向對方投保之保險公司提出理賠申請，但若對方未依規定投保強制險時，則可向特別補償基金申請補償，若乘客受傷時，可向乘坐車輛或對方所投保強制險的保險公司提出理賠申請</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-title table-style">附加險-汽車強制附加駕駛人傷害險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">附加駕駛人傷害險（限車主本人）</div>
                                    <div class="desc">
                                        駕駛人失能或死亡保額最高給付200萬
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <ol>
                                        <li>要保人、車主及駕駛人限定為同一人，車主本人發生事故才受理理賠</li>
                                        <li>保險期間以一年期為限</li>
                                        <li>免回傳要保書</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">附加駕駛人傷害險</div>
                                    <div class="desc">
                                        駕駛人失能或死亡保額最高給付 300萬
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <ol>
                                        <li>駕駛人不限車主本人</li>
                                        <li>保險期間可投保一年、二年期</li>
                                        <li>兩天內將紙本「要保書」簽名回傳，保單始成立</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="../helper/8-8-0.html" class="link">
                            看強制險條款內容 <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <p class="text-green">
                        線上投保抽 Gogoro2，優惠只到 4/30 ！ 
                    </p>
                    <a class="btn btn-primary btn-block">
                        線上投保87折優惠
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section pb-5">
        <div class="container">
            <h1 class="section-title">需要專員協助嗎？歡迎聊聊</h1>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row contact-block">
                        <a href="tel:0800036599" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-call i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">免付費專線</div>
                                <span class="d-none d-sm-block">0800-212-880</span>
                            </div>
                        </a>
                        <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-mail i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">寫信諮詢</div>
                                <span class="d-none d-sm-block">將有專人聯繫</span>
                            </div>
                        </a>
                        <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                            <div class="icon">
                                <div class="icon-location i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">服務據點</div>
                                <span class="d-none d-sm-block">查詢地址電話</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section recommand-section">
            <img src="../img/common/empty-section-bg.png"
            srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
            <img src="../img/common/life-service.png"
            srcset="../img/common/life-service@2x.png" height="377" class="bg d-none d-md-block">
            <img src="../img/common/main-line.png"
            srcset="../img/common/main-line@2x.png" height="79" class="main-line d-md-none">
          
        <div class="container">
            <h1 class="section-title">
                看完了強制汽車責任險介紹，<br/>
                那如何保障自己？我的人車又該怎麼保？
            </h1>
            <div class="row">
                <div class="col-12 col-md-5 offset-md-1">
                    <div class="list inline-content">
                        <a class="item">
                            <div class="content">
                                <h4>第三人責任險介紹</h4>
                                <div class="text">##保自己  #保第三人</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>超額責任險介紹</h4>
                                <div class="text">#撞到超跑幫你陪</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>車體險介紹</h4>
                                <div class="text">#保我的車</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>竊盜險介紹</h4>
                                <div class="text">#保我的車</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="./car-insurance-2-1-6.html" class="link mr-2">
                            <i class="icon-arrow-right"></i>
                            <span>看完整保障範圍</span>
                        </a>
                        <a href="./car-insurance-2-1-0.html" class="link d-inline-block mt-2">
                            <i class="icon-arrow-right"></i>
                            <span>看車險首頁</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- /build:content -->