<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <div class="labels selected-label">

            </div>
        </nav>
        <div class="navbar-right">
            <div class="btn btn-default">我要續保</div>
            <a href="" class="btn btn-red">線上投保87折優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./car-insurance-2-1-0.html">車險</a></li>
                    <li class="active"><a href="#">保障範圍</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance car-insurance compress">
        <div class="container">
            <div class="caption">
                <h1>
                    懶人包來了！<br/>
                    秒懂國泰汽車險的保單險種與保障內容
                </h1>
            </div>
        </div>
        <img src="../img/insurance/car-ins-bg.png" height="391px" srcset="../img/insurance/car-ins-bg@2x.png" />
    </div>
    
    <section class="filter-section">
        <div class="container">
            <div class="radio-labels">
                <div class="radio">
                    <input type="radio" name="ins-prod-type" id="type-1" value="all" checked>
                    <label for="type-1">全部保障</label>
                </div>
                <div class="radio">
                    <input type="radio" name="ins-prod-type" id="type-2" value="me">
                    <label for="type-2">我方駕駛</label>
                </div>
                <div class="radio">
                    <input type="radio" name="ins-prod-type" id="type-3" value="my-passenger">
                    <label for="type-3">我方乘客</label>
                </div>
                <div class="radio">
                    <input type="radio" name="ins-prod-type" id="type-4" value="my-car">
                    <label for="type-4">我方車輛</label>
                </div>
                <div class="radio">
                    <input type="radio" name="ins-prod-type" id="type-5" value="you">
                    <label for="type-5">對方駕駛</label>
                </div>
                <div class="radio">
                    <input type="radio" name="ins-prod-type" id="type-6" value="your-passenger">
                    <label for="type-6">對方乘客</label>
                </div>
                <div class="radio">
                    <input type="radio" name="ins-prod-type" id="type-7" value="your-car">
                    <label for="type-7">對方車輛</label>
                </div>
                <div class="radio">
                    <input type="radio" name="ins-prod-type" id="type-8" value="other">
                    <label for="type-8">第三人</label>
                </div>
            </div>

            <div class="condition-content">
                <ul id="condition-filter" class="condition-filter">
                    <li class="my-passenger you your-passenger other">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">強制汽車責任保險</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/enforcement.png">       
                                    </figure>
                                    <p>法律規定須投保，可保障我的乘客跟車外第三人(對方駕駛/對方乘客/路人)。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon ambu">
                                                    <img src="../img/insurance/icon-ambulance.png" alt="">
                                                </i>
                                                <b>傷害給付</b>
                                            </div>
                                            <span class="green-strong">每人上限<strong>20萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon disable">
                                                    <img src="../img/insurance/icon-disable.png" alt="">
                                                </i>
                                                <b>失能給付</b>
                                            </div>
                                            <span class="green-strong">每人上限<strong>200萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon angel"><img src="../img/insurance/icon-angel.png" alt=""></i>
                                                <b>死亡給付</b>
                                            </div>
                                            <span class="green-strong">每人定額給付<strong>200萬</strong>元</span>
                                        </li>
                                    </ul>
                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver disabled" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver " data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger " data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled " data-tag-type="your-car">對方車輛</li>
                                            <li class="option men" data-tag-type="other">第三人</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="me">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">強制汽車責任險附加駕駛人傷害險(限車主本人)</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/enforcement-owner.png">      
                                    </figure>
                                    <p>我開車不小心撞到路燈，造成我受傷、失能或死亡。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon ambu">
                                                    <img src="../img/insurance/icon-ambulance.png" alt="">
                                                </i>
                                                <b>傷害給付</b>
                                            </div>
                                            <span class="green-strong">車主本人上限<strong>20萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon disable">
                                                    <img src="../img/insurance/icon-disable.png" alt="">
                                                </i>
                                                <b>失能給付</b>
                                            </div>
                                            <span class="green-strong">車主本人上限<strong>200萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon angel"><img src="../img/insurance/icon-angel.png" alt=""></i>
                                                <b>死亡給付</b>
                                            </div>
                                            <span class="green-strong">車主本人上限<strong>200萬</strong>元</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled " data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>強制汽車責任保險</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="me">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">強制汽車責任險附加駕駛人傷害險</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/enforcement-driver.png">        
                                    </figure>
                                    <p>我或我的親友開我的車不小心撞到路燈，造成受傷、失能或死亡。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon ambu">
                                                    <img src="../img/insurance/icon-ambulance.png" alt="">
                                                </i>
                                                <b>傷害給付</b>
                                            </div>
                                            <span class="green-strong">車主本人上限<strong>20萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon disable">
                                                    <img src="../img/insurance/icon-disable.png" alt="">
                                                </i>
                                                <b>失能給付</b>
                                            </div>
                                            <span class="green-strong">車主本人上限<strong>250萬</strong>元、<strong>300萬</strong>元(依投保保額)</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon angel"><img src="../img/insurance/icon-angel.png" alt=""></i>
                                                <b>死亡給付</b>
                                            </div>
                                            <span class="green-strong">每人定額給付<strong>250萬</strong>元、<strong>300萬</strong>元(依投保保額)</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled " data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>                                         
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>強制汽車責任保險</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="you your-passenger your-car other">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">第三人責任險-體傷/財損</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/i-hit-someone-injured.png" alt="國泰產險-第三人責任險-體傷/財損">  
                                    </figure>
                                    <p>加碼賠車外第三人(對方駕駛/對方乘客/路人，需扣除強制險)。[我有肇責]</p>
                                    <p>我開車不小心發生事故，導致致第三人財物受有損害的賠償。[我有肇責]</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon ambu">
                                                    <img src="../img/insurance/icon-ambulance.png" alt="">
                                                </i>
                                                <b>傷害給付</b>
                                            </div>
                                            <span class="green-strong">每人傷害<strong>150萬~1,000萬</strong>元</span>
                                        </li>  
                                        <li>
                                            <div class="item-title">
                                                <i class="icon accident">
                                                    <img src="../img/insurance/icon-accident.png" alt="">
                                                </i>
                                                <b>事故給付</b>
                                            </div>
                                            <span class="green-strong">每事故財損<strong>20萬~100萬</strong>元</span>
                                        </li>
                                    </ul>
                                    <div class="condition-summary alert-box alert-grey">
                                        <p>每一事故體傷總和上限1,000萬元</p>
                                        <p>每一事故財損總和上限100萬元</p>
                                    </div>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver disabled" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle " data-tag-type="your-car">對方車輛</li>
                                            <li class="option men" data-tag-type="other">第三人</li>                                                   
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>第三人責任險體傷與財損需同時購買</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="me">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">第三人責任險附加駕駛人傷害險</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/i-hit-a-wall-injured.png" alt="第三人責任險附加駕駛人傷害險">   
                                    </figure>
                                    <p>下雨天開車不小心撞到路燈，造成我受傷、失能或死亡。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon hospitalized">
                                                    <img src="../img/insurance/icon-hospitalized.png" alt="">
                                                </i>
                                                <b>住院日額保險金</b>
                                            </div>
                                            <span class="green-strong">每日<strong>2,000</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon disable">
                                                    <img src="../img/insurance/icon-disable.png" alt="">
                                                </i>
                                                <b>死亡及失能保險金</b>
                                            </div>
                                            <span class="green-strong">每人<strong>50萬~600萬</strong>元</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>第三人責任險+乘客體傷責任附加條款</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-passenger">
                        <div class="condition-thead bg-blue">
                            <div class="condition-single-name">
                                <span class="csn-label">附加條款</span>
                                <span class="csn-product">第三人責任險乘客體傷責任附加條款</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/i-hit-my-passenger-died.png" alt="國泰產險第三人責任險乘客體傷責任附加條款">     
                                    </figure>
                                    <p>我開車發生事故導致我的乘客重傷或死亡。(需扣除強制險)[我有肇責]</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon ambu">
                                                    <img src="../img/insurance/icon-ambulance.png" alt="">
                                                </i>
                                                <b>傷害給付</b>
                                            </div>
                                            <span class="green-strong">每人<strong>10萬~600萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon disable">
                                                    <img src="../img/insurance/icon-disable.png" alt="">
                                                </i>
                                                <b>死亡及失能給付</b>
                                            </div>
                                            <span class="green-strong">每人死亡及失能保險金<strong>50萬~600萬</strong>元</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver disabled" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>第三人責任險+附加駕駛人傷害險</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="you your-passenger your-car other">
                        <div class="condition-thead bg-blue">
                            <div class="condition-single-name">
                                <span class="csn-label">附加條款</span>
                                <span class="csn-product">第三人責任失能責任增額附加條款</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/i-hit-someone-disabled.png" alt="國泰產險-第三人責任失能責任增額附加條款">        
                                    </figure>
                                    <p>我開車不小心撞到人，導致對方失能，可賠償強制險額外的損失。[我有肇責]</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon ambu">
                                                    <img src="../img/insurance/icon-ambulance.png" alt="">
                                                </i>
                                                <b>傷害給付</b>
                                            </div>
                                            <span class="green-strong">每人失能增額<strong>2</strong>倍型</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver disabled" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver " data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger " data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle " data-tag-type="your-car">對方車輛</li>
                                            <li class="option men " data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>第三人責任險</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="me">
                        <div class="condition-thead bg-blue">
                            <div class="condition-single-name">
                                <span class="csn-label">附加條款</span>
                                <span class="csn-product">慰問金費用附加條款</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/i-hit-someone-visted.png" alt="國泰產險-慰問金費用附加條款">       
                                    </figure>
                                    <p>我開車撞到人後(不論我方是否有肇責)，對方受傷，我到醫院探望，或是對方不幸死亡，我去祭拜時，購買水果、花籃、營養品或奠儀，讓和解過程更順利。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon clinic">
                                                    <img src="../img/insurance/icon-clinic.png" alt="">
                                                </i>
                                                <b>門診慰問金</b>
                                            </div>
                                            <span class="green-strong">每人上限<strong>2,500</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon hospitalized">
                                                    <img src="../img/insurance/icon-hospitalized.png" alt="">
                                                </i>
                                                <b>住院慰問金</b>
                                            </div>
                                            <span class="green-strong">每人上限<strong>1萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon angel"><img src="../img/insurance/icon-angel.png" alt=""></i>
                                                <b>身故慰問金</b>
                                            </div>
                                            <span class="green-strong">每人上限<strong>5萬</strong>元</span>
                                        </li>
                                    </ul>
                                    <div class="condition-summary alert-box alert-grey">
                                        <p>每一事故總額上限10萬元</p>
                                        <p>保險期間總額上限50萬元</p>
                                    </div>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>第三人責任險</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="me">
                        <div class="condition-thead bg-blue">
                            <div class="condition-single-name">
                                <span class="csn-label">附加條款</span>
                                <span class="csn-product">律師費用補償附加條款</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/court.png" alt="國泰產險-律師費用補償附加條款">    
                                    </figure>
                                    <p>開車撞傷、被害者死亡，而需要到法院協商後續賠償事宜。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon lawyer">
                                                    <img src="../img/insurance/icon-lawyer.png" alt="">
                                                </i>
                                                <b>律師費用</b>
                                            </div>
                                            <span class="green-strong"><strong>5萬~20萬</strong>元</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>第三人責任險</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="you your-passenger your-car other">
                        <div class="condition-thead bg-blue">
                            <div class="condition-single-name">
                                <span class="csn-label">附加條款</span>
                                <span class="csn-product">第三人責任保險附加超額責任保險-甲式</span>
                                <!--<a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a>-->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/i-hit-everybody-series-injured.png" alt="國泰產險-第三人責任保險附加超額責任保險-甲式">      
                                    </figure>
                                    <p>我不小心撞到人導致對方駕駛與乘客都超級重傷，或對方的超跑嚴重毀損。(超越第三人責任險保額部分由超額責任保險補足)[我有肇責]
</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon ambu">
                                                    <img src="../img/insurance/icon-ambulance.png" alt="">
                                                </i>
                                                <b>傷害給付</b>
                                            </div>
                                            <span class="green-strong">每次事故第三人體傷超額責任上限<strong>500萬~3,000萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon accident">
                                                    <img src="../img/insurance/icon-accident.png" alt="">
                                                </i>
                                                <b>事故給付</b>
                                            </div>
                                            <span class="green-strong">每次事故財損超額責任上限<strong>500萬~3,000萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon ambu">
                                                    <img src="../img/insurance/icon-ambulance.png" alt="">
                                                </i>
                                                <b>傷害給付</b>
                                            </div>
                                            <span class="green-strong">每次事故乘客體傷超額責任上限<strong>500萬~3,000萬</strong>元</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver disabled" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver " data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger " data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle " data-tag-type="your-car">對方車輛</li>
                                            <li class="option men " data-tag-type="other">第三人</li>
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>第三人責任險</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="me my-passenger you your-passenger your-car other">
                        <div class="condition-thead bg-blue">
                            <div class="condition-single-name">
                                <span class="csn-label">附加條款</span>
                                <span class="csn-product">第三人責任保險附加超額責任保險-乙式</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/i-hit-everybody-disaster.png" alt="國泰產險-第三人責任保險附加超額責任保險-乙式">        
                                    </figure>
                                    <p>我不小心撞到人導致我方乘客重傷，對方駕駛與乘客都超級重傷，或對方的超跑嚴重毀損。(超越第三人責任險保額部分由超額責任保險補足) )[我有肇責]</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon ambu">
                                                    <img src="../img/insurance/icon-ambulance.png" alt="">
                                                </i>
                                                <b>傷害給付</b>
                                            </div>
                                            <span class="green-strong">每次事故第三人體傷超額責任上限<strong>500萬~3,000萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon accident">
                                                    <img src="../img/insurance/icon-accident.png" alt="">
                                                </i>
                                                <b>事故給付</b>
                                            </div>
                                            <span class="green-strong">每次事故財損超額責任上限<strong>500萬~3,000萬</strong>元</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon ambu">
                                                    <img src="../img/insurance/icon-ambulance.png" alt="">
                                                </i>
                                                <b>傷害給付</b>
                                            </div>
                                            <span class="green-strong">每次事故乘客體傷超額責任上限<strong>500萬~3,000萬</strong>元</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver " data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger " data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men " data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>第三人責任險+第三人責任險附加駕駛人傷害險+第三人責任險乘客體傷責任附加條款</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-car">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">自用汽車免自負額限額車對車碰撞損失保險(丁式)</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/someone-hit-me.png" alt="國泰產險-自用汽車免自負額限額車對車碰撞損失保險(丁式)">        
                                    </figure>
                                    <p>我的車與別車擦撞發生事故時。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon damage">
                                                    <img src="../img/insurance/icon-damage.png" alt="">
                                                </i>
                                                <b>損害給付</b>
                                            </div>
                                            <span class="green-strong"><strong>1萬~20萬</strong>元</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver disabled" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="me">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">自用小汽車額外費用補償保險</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/people-services.png" alt="國泰產險-自用小汽車額外費用補償保險">      
                                    </figure>
                                    <p>機械故障或發生交通事故後，提供拖吊費用、交通費用、住宿費用、代車費用等保障。
                                            道路救援請先撥打保戶服務專線0800-036-599按2、或24小時道路救援服務專線0800-020-345，進行備案與理賠程序。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon truck">
                                                    <img src="../img/insurance/icon-truck.png" alt="">
                                                </i>
                                                <b>拖吊費用</b>
                                            </div>
                                            <span class="green-strong">每次事故<strong>2,000</strong>元(3次為限)</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon pension">
                                                    <img src="../img/insurance/icon-pension.png" alt="">
                                                </i>
                                                <b>交通費用</b>
                                            </div>
                                            <span class="green-strong">每次事故<strong>2,000</strong>元(事故當下，3次為限)</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon hotel">
                                                    <img src="../img/insurance/icon-hotel.png" alt="">
                                                </i>
                                                <b>住宿費用</b>
                                            </div>
                                            <span class="green-strong">每次事故<strong>3,000</strong>元(實支實付，3次為限)</span>
                                        </li>
                                        <li>
                                            <div class="item-title">
                                                <i class="icon pension">
                                                    <img src="../img/insurance/icon-pension.png" alt="">
                                                </i>
                                                <b>代車費用</b>
                                            </div>
                                            <span class="green-strong">每次事故<strong>500</strong>元(最多30天)</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="me">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">車碰車延誤行程補償保險</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/accident-delay-my-schedule.png" alt="國泰產險-車碰車延誤行程補償保險">       
                                    </figure>
                                    <p>我開車發生車禍時，為了處理交通事故而延誤原本的行程。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon pension">
                                                    <img src="../img/insurance/icon-pension.png" alt="">
                                                </i>
                                                <b>補償費用</b>
                                            </div>
                                            <span class="green-strong">每次定額給付<strong>2,000</strong>元</span>
                                        </li>
                                    </ul>
                                    
                                    <div class="condition-summary alert-box alert-grey">
                                        每年給付最多3次
                                    </div>
                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>國泰產險汽車保險主約</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="me">
                        <div class="condition-thead bg-blue">
                            <div class="condition-single-name">
                                <span class="csn-label">附加條款</span>
                                <span class="csn-product">汽車保險自用小汽車代車費用附加條款(甲、乙、丙)</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/i-drive-a-rental-car.png" alt="國泰產險-汽車保險自用小汽車代車費用附加條款(甲、乙、丙)">       
                                    </figure>
                                    <p>車子保險事故而進廠修復期間所產生的交通費用保障。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon pension">
                                                    <img src="../img/insurance/icon-pension.png" alt="">
                                                </i>
                                                <b>代車費用</b>
                                            </div>
                                            <span class="green-strong">每日給付<strong>500～2,000</strong>元</span>
                                        </li>
                                    </ul>

                                    <div class="condition-summary alert-box alert-grey">
                                        給付金額依實際投保金額為準，上限給付30日
                                    </div>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>

                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>國泰產險汽車保險主約</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="me">
                        <div class="condition-thead bg-blue">
                            <div class="condition-single-name">
                                <span class="csn-label">附加條款</span>
                                <span class="csn-product">汽車保險道路救援費用附加條款</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/car-services.png" alt="國泰產險-汽車保險道路救援費用附加條款">       
                                    </figure>
                                    <p>因車子無法行駛，提供拖吊費用、送油(不含油費)送水服務費用、更換備胎費用、接電服務費用等保障。道路救援請先撥打保戶服務專線0800-036-599按2、或24小時道路救援服務專線0800-020-345，進行備案與理賠程序。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon truck">
                                                    <img src="../img/insurance/icon-truck.png" alt="">
                                                </i>
                                                <b>事故道路救援</b>
                                            </div>
                                            <span class="green-strong">每次賠償上限<strong>2萬</strong>元</span>
                                        </li>
                                    </ul>

                                    <div class="condition-summary alert-box alert-grey">
                                        以一年三次為限
                                    </div>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>

                                    <div class="protection-mush-have">
                                        <b>購買時需搭配險種</b>
                                        <p>第三人責任險-體傷+第三人責任險-財損</p>
                                        <p>或 丁式車體損失險</p>
                                        <p>或 保險投保國泰產險汽車保險主約</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-car">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">甲式車體損失險</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/protect-car-plan-a.png" alt="國泰產險-甲式車體損失保險">            
                                    </figure>
                                    <p>保障被保險汽車(我的車)因下列危險事故所致之毀損滅失：1.碰撞、傾覆，2.火災、閃電、雷擊、爆炸、拋擲物或墜落物，3.第三者之非善意行為，或4.其他不明原因。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon damage">
                                                    <img src="../img/insurance/icon-damage.png" alt="">
                                                </i>
                                                <b>保險金額</b>
                                            </div>
                                            <span class="green-strong">依車輛<strong>重置價值與製造年月折舊</strong>計算</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver disabled" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-car">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">乙式車體損失保險</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/protect-car-plan-b.png" alt="國泰產險-乙式車體損失保險">            
                                    </figure>
                                    <p>保障被保險汽車(我的車)因下列危險事故所致之毀損滅失：1.碰撞、傾覆。2.火災、閃電、雷擊、爆炸、拋擲物或墜落物。</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon damage">
                                                    <img src="../img/insurance/icon-damage.png" alt="">
                                                </i>
                                                <b>保險金額</b>
                                            </div>
                                            <span class="green-strong">依車輛<strong>重置價值與製造年月折舊</strong>計算</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver disabled" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-car">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">丙式車體損失保險</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/protect-car-plan-c.png" alt="國泰產險-丙式車體損失保險">               
                                    </figure>
                                    <p>保障被保險汽車(我的車)與車輛發生碰撞、擦撞所致之毀損滅失。(須確認事故為對方車輛)</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon damage">
                                                    <img src="../img/insurance/icon-damage.png" alt="">
                                                </i>
                                                <b>保險金額</b>
                                            </div>
                                            <span class="green-strong">依車輛<strong>重置價值與製造年月折舊</strong>計算</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver disabled" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-car">
                        <div class="condition-thead bg-green">
                            <div class="condition-single-name">
                                <span class="csn-label">主約</span>
                                <span class="csn-product">竊盜險</span>
<!--                                         <a href="#" class="csn-download">
                                    <span class="hidden-xs">保單條款</span>
                                    <span class="glyphicon glyphicon-cloud-download visible-xs-block" aria-hidden="true"></span>
                                </a> -->
                            </div>
                        </div>
                        <div class="condition-single-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <figure class="text-center">
                                        <img src="../img/insurance/PFA2_0160/anti-thief.png" alt="國泰產險-竊盜險">     
                                    </figure>
                                    <p>車輛於保險契約有效期間內因遭受竊盜、搶奪、強盜所致之損失</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul class="condition-providing">
                                        <li>
                                            <div class="item-title">
                                                <i class="icon pension">
                                                    <img src="../img/insurance/icon-pension.png" alt="">
                                                </i>
                                                <b>保險金額</b>
                                            </div>
                                            <span class="green-strong">依車輛<strong>重置價值與製造年月折舊</strong>計算</span>
                                        </li>
                                    </ul>

                                    <div class="protection-scope">
                                        <b>保險對象</b>
                                        <ul class="condition-chooser-tags">
                                            <li class="option driver disabled" data-tag-type="me">我方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="my-passenger">我方乘客</li>
                                            <li class="option vehicle" data-tag-type="my-car">我方車輛</li>
                                            <li class="option driver disabled" data-tag-type="you">對方駕駛</li>
                                            <li class="option passenger disabled" data-tag-type="your-passenger">對方乘客</li>
                                            <li class="option vehicle disabled" data-tag-type="your-car">對方車輛</li>
                                            <li class="option men disabled" data-tag-type="other">第三人</li>   
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 text-center">
                    <a href="#" class="link"> 線上投保抽 Gogoro2，優惠只到 6/30 ！ </a>
                    <a href="#" class="btn btn-primary btn-block">
                        線上投保87折優惠
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- /build:content -->