<!-- build:body -->claim<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./claim.html">我要理賠</a></li>
                    <li class="active"><a href="#">其他</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner claim with-card">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1>
                        遇到公共意外、雇主意外、打高爾夫球而發生事故時，讓國泰來幫助你省心理賠
                    </h1>
                    <div class="desp">
                        發生事故時，跟著以下步驟簡單搞定理賠麻煩事，只需四個步驟即可完成理賠，理賠真簡單。
                    </div>
                    <div class="action mt-2">
                        <a data-anchor="document" class="btn btn-outline">查詢應備文件</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <h4 class="mt-0 mb-1">
                            免付費專線<br/>
                            <a href="tel:0800-212-880" target="_blank">0800-212-880</a>
                        </h4>
                        <p class="text text-gray">
                            <small>
                                承保、理賠服務    每日 08:30-21:00<br/>
                                車險事故處理諮詢   21:00 - 翌日 08:30<br/>
                                24小時道路救援專線   0800-020-345
                            </small>
                        </p>
                        <a href="../helper/8-4-0.html" target="_blank" class="btn btn-default btn-sm ml-0">聯繫客服</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-3">
        <h1 class="text-center mt-0">一般理賠流程</h1>
        <div class="progress">
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-document.png" srcset="../img/claim/process-document@2x.png"></div>
                <div class="content">
                    <h4><span class="number">1</span> 準備文件</h4>
                    <p class="text-gray">
                        透過本網站查詢所申辦項目的理賠應備文件，下載並自行準備相應的文件。
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">查詢應備文件</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/progress-write.png" srcset="../img/claim/progress-write@2x.png"></div>
                <div class="content">
                    <h4><span class="number">2</span> 填寫資訊</h4>
                    <p class="text-gray">
                        根據文件中的欄位提供並填寫相對應的資訊。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/progress-location.png" srcset="../img/claim/progress-location@2x.png"></div>
                <div class="content">
                    <h4><span class="number">3</span> 前往服務據點</h4>
                    <p class="text-gray">
                        攜帶文件前往國泰產險各服務據點或郵寄辦理理賠。
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">國泰產險各服務據點</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                <div class="content">
                    <h4><span class="number">4</span> 完成理賠</h4>
                    <p class="text-gray">
                        當理賠審核完畢後，會收到簡訊通知，並會把理賠金自動轉帳到申請者提供的銀行帳戶中。
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <h1 class="section-title">查詢理賠應備文件</h1>
            <div class="document-menu d-block d-md-none">
                <select name="document-menu" class="select2">
                    <option value="1">第三人意外責任公共意外、營繕承包人</option>
                    <option value="2">僱主意外與員工誠實</option>
                    <option value="3">高爾夫球員責任與現金險</option>
                    <option value="4">現金險</option>
                </select>
            </div>
            <div class="row">
                <div class="d-none d-md-block col-md-3 document-items">
                    <h4>選擇理賠項目</h4>
                    <div class="radio d-block">
                        <input type="radio" id="claim-1" name="claim" value="1" checked>
                        <label for="claim-1">第三人意外責任公共意外、營繕承包人</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-2" name="claim" value="2">
                        <label for="claim-2">僱主意外與員工誠實</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-3" name="claim" value="3">
                        <label for="claim-3">高爾夫球員責任與現金險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-4" name="claim" value="4">
                        <label for="claim-4">現金險</label>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <h4>請根據以下列表以準備文件</h4>
                    <div class="download-block">
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <h4>下載文件並填寫</h4>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>理賠申請書</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">全部下載</a>
                            </div>
                        </div>
                    </div>

                    <div class="document-section">
                        <div class="table-response">
                            <table class="table paded table-striped">
                                <thead>
                                    <tr>
                                        <th width="40%">險種理賠所需文件</th>
                                        <th width="20%">體傷</th>
                                        <th width="20%">死亡</th>
                                        <th width="20%">財損</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>出險通知單</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>醫院診斷書</td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr>
                                        <td>醫院收據</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>身份證明(所有權證明等文件影本)</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>死亡證明書</td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>除戶戶籍謄本</td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr>
                                        <td>在職證明書</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>勞保卡、健保卡影本</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr>
                                        <td>薪資證明或扣繳憑單</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>勞檢所報告</td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr>
                                        <td>和解書</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>和解金給付證明</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                        <tr>
                                        <td>營利事業登記證及公司執照影本</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>損失清單或修復估價單</td>
                                            <td></td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                        <tr>
                                        <td>損失照片</td>
                                        <td></td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>球場證明書</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                        <tr>
                                        <td>收據發票</td>
                                        <td></td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>計分卡影本</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                        <tr>
                                        <td>警方報案證明</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>出險前、後三日現金帳及傳票</td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                        <tr>
                                        <td>會計或商業憑證</td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>銀行對帳單或存褶</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                        <tr>
                                        <td>損失清單及損失相關憑證</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>起訴書及判決書</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                        <tr>
                                        <td>人事資料</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>賠款接受書</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                        <tr>
                                        <td>電匯同意書</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="table-response">
                            <table class="table paded table-striped">
                                <thead>
                                    <tr>
                                        <th width="40%" rowspan="2">險種理賠所需文件</th>
                                        <th width="40%" colspan="2">僱主意外</th>
                                        <th width="20%" rowspan="2">員工誠實</th>
                                    </tr>
                                    <tr>
                                        <th width="20%">體傷</th>
                                        <th width="20%">死亡</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>出險通知單</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>醫院診斷書</td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr>
                                        <td>醫院收據</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>身份證明(所有權證明等文件影本)</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr>
                                        <td>死亡證明書</td>
                                            <td></td>
                                        <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>除戶戶籍謄本</td>
                                            <td></td>
                                        <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr>
                                        <td>在職證明書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>勞保卡、健保卡影本</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr>
                                        <td>薪資證明或扣繳憑單</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>勞檢所報告</td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr>
                                        <td>和解書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>和解金給付證明</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                    </tr>
                                        <tr>
                                        <td>營利事業登記證及公司執照影本</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>損失清單或修復估價單</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                        <tr>
                                        <td>損失照片</td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>球場證明書</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                        <tr>
                                        <td>收據發票</td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>計分卡影本</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                        <tr>
                                        <td>警方報案證明</td>
                                            <td></td>
                                            <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>出險前、後三日現金帳及傳票</td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                        <tr>
                                        <td>會計或商業憑證</td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>銀行對帳單或存褶</td>
                                            <td></td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                        <tr>
                                        <td>損失清單及損失相關憑證</td>
                                            <td></td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>起訴書及判決書</td>
                                            <td></td>
                                            <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                        <tr>
                                        <td>人事資料</td>
                                            <td></td>
                                            <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>賠款接受書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                        <tr>
                                        <td>電匯同意書</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="table-response">
                            <table class="table paded table-striped">
                                <thead>
                                    <tr>
                                        <th width="40%">險種理賠所需文件</th>
                                            <th width="10%">體傷</th>
                                        <th width="10%">死亡</th>
                                        <th width="10%">財損</th>
                                        <th width="15%">球桿折斷</th>
                                        <th width="15%">一桿進洞</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>出險通知單</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                        
                                    </tr>
                                    <tr class="even">
                                        <td>醫院診斷書</td>
                                        <td><i class="icon-check"></i></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        <td></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>醫院收據</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            
                                    </tr>
                                    <tr class="even">
                                        <td>身份證明(所有權證明等文件影本)</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>死亡證明書</td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        
                                    </tr>
                                    <tr class="even">
                                        <td>除戶戶籍謄本</td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>在職證明書</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                
                                    </tr>
                                    <tr class="even">
                                        <td>勞保卡、健保卡影本</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                
                                    </tr>
                                    <tr>
                                        <td>薪資證明或扣繳憑單</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    
                                    </tr>
                                    <tr class="even">
                                        <td>勞檢所報告</td>
                                            <td></td>
                                            <td></td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>和解書</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                            <td></td>
                                    
                                    </tr>
                                    <tr class="even">
                                        <td>和解金給付證明</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                            <td></td>
                                        
                                    </tr>
                                        <tr>
                                        <td>營利事業登記證及公司執照影本</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    
                                    </tr>
                                    <tr class="even">
                                        <td>損失清單或修復估價單</td>
                                            <td></td>
                                            <td></td>
                                        <td><i class="icon-check"></i></td>
                                        <td></td>
                                            <td></td>
                                            
                                    </tr>
                                        <tr>
                                        <td>損失照片</td>
                                        <td></td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td></td>
                                            
                                    </tr>
                                    <tr class="even">
                                        <td>球場證明書</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                        
                                    </tr>
                                        <tr>
                                        <td>收據發票</td>
                                        <td></td>
                                            <td></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            
                                    </tr>
                                    <tr class="even">
                                        <td>計分卡影本</td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                        
                                    </tr>
                                        <tr>
                                        <td>警方報案證明</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            
                                    </tr>
                                    <tr class="even">
                                        <td>出險前、後三日現金帳及傳票</td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                        <td></td>
                                            <td></td>
                                            
                                    </tr>
                                        <tr>
                                        <td>會計或商業憑證</td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                    
                                    </tr>
                                    <tr class="even">
                                        <td>銀行對帳單或存褶</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        <td></td>
                                            <td></td>
                                            
                                    </tr>
                                        <tr>
                                        <td>損失清單及損失相關憑證</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            
                                    </tr>
                                    <tr class="even">
                                        <td>起訴書及判決書</td>
                                            <td></td>
                                            <td></td>
                                        <td></td>
                                            <td></td>
                                            <td></td>
                                            
                                    </tr>
                                        <tr>
                                        <td>人事資料</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            
                                    </tr>
                                    <tr class="even">
                                        <td>賠款接受書</td>
                                        <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            
                                    </tr>
                                        <tr>
                                        <td>電匯同意書</td>
                                    <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            <td><i class="icon-check"></i></td>
                                            
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="table-response">
                            <table class="table paded table-striped">
                                <thead>
                                    <tr>
                                        <th width="40%">險種理賠所需文件</th>
                                        <th width="20%">現金運送</th>
                                        <th width="20%">櫃台現金</th>
                                        <th width="20%">庫存現金</th>
                                    </tr>
                                </thead>    
                                <tbody>
                                    <tr>
                                        <td>出險通知單</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>醫院診斷書</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>醫院收據</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>身份證明(所有權證明等文件影本)</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>死亡證明書</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>除戶戶籍謄本</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>在職證明書</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>勞保卡、健保卡影本</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>薪資證明或扣繳憑單</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>勞檢所報告</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>和解書</td>
                                    <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>和解金給付證明</td>
                                    <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>營利事業登記證及公司執照影本</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>損失清單或修復估價單</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>損失照片</td>
                                    <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>球場證明書</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>收據發票</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>計分卡影本</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>警方報案證明</td>
                                    <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>出險前、後三日現金帳及傳票</td>
                                    <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                        <tr>
                                        <td>會計或商業憑證</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>銀行對帳單或存褶</td>
                                    <td><i class="icon-check"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>損失清單及損失相關憑證</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>起訴書及判決書</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>人事資料</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>賠款接受書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>電匯同意書</td>
                                    <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <h4 class="mb-1">準備好證明及填妥文件後，聯繫理賠專員或透過以下方式提供給國泰：</h4>
                    <a href="../helper/8-6-0.html" target="_blank">
                        <i class="icon-arrow-right"></i>
                        <span>前往附近據點交付申請文件</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->