<!-- build:body -->claim<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./claim.html">我要理賠</a></li>
                    <li class="active"><a href="#">水險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner claim with-card">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1>
                        船隻發生事故時，讓國泰來幫助你省心理賠
                    </h1>
                    <div class="desp">
                        船隻發生事故時，跟著以下步驟簡單搞定理賠麻煩事，只需四個步驟即可完成理賠，理賠真簡單。
                    </div>
                    <div class="action mt-2">
                        <a data-anchor="document" class="btn btn-primary">查詢應備文件</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <h4 class="mt-0 mb-1">
                            免付費專線<br/>
                            <a href="tel:0800-212-880" target="_blank">0800-212-880</a>
                        </h4>
                        <p class="text text-gray">
                            <small>
                                承保、理賠服務       每日 08:30-21:00
                            </small>
                        </p>
                        <a href="../helper/8-4-0.html" target="_blank" class="btn btn-default btn-sm ml-0">聯繫客服</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-3">
        <h1 class="text-center mt-0">一般理賠流程</h1>
        <div class="progress">
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-start.png" srcset="../img/claim/process-start@2x.png"></div>
                <div class="content">
                    <h4><span class="number">1</span> 損失通報</h4>
                    <p class="text-gray">
                        被保險人應於到貨時通報保險人與運送人，保留貨物原狀及原包裝，並拍照或錄影，應提供理賠人員所須文件:<br/>
                        (1)保單、提單、商業發票、裝貨單<br/>
                        (2)異常報告、貨物位置<br/>
                        (3)損失明細、貨物受損照片
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-check.png" srcset="../img/claim/process-check@2x.png"></div>
                <div class="content">
                    <h4><span class="number">2</span> 損失查證</h4>
                    <p class="text-gray">
                        保險公司將指派理賠人員(或委託公證人員)進行現場查勘，釐清損失原因與程度。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                <div class="content">
                    <h4><span class="number">3</span> 受損物處理</h4>
                    <p class="text-gray">
                        保險公司將確認受損物品處理方式，若為部份受損，則品管抽檢或全檢以回復原狀為原則; 若為全部受損或已喪失價值，則進行殘餘物處理。
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <h1 class="section-title">查詢理賠應備文件</h1>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <h4>請根據以下列表以準備文件</h4>
                    <div class="download-block">
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <h4>下載文件並填寫</h4>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>理賠申請書</span>
                                </a>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>貨物險理賠申請文件</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">全部下載</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel">
                        <div class="panel-header">
                            <h4>貨物運輸保險 </h4>
                        </div>
                        <div class="panel-body">
                            <p>準備以下文件：</p>
                            <ol>
                                <li>理賠申請書（請詳細填具）</li>
                                <li>權利轉讓書（國外買家授權由出口商索賠的文件，視情況提供） 。</li>
                                <li>保險單正本或保險證明書正本 。</li>
                                <li>提單副本（全損時須提供整套正本提單）。</li>
                                <li>商業發票副本。</li>
                                <li>裝箱單副本。</li>
                                <li>指定或認可之公證人出具之公證報告書（Survey Report）。</li>
                                <li>損失證明：
                                    <ol>
                                        <li>貨櫃交接單(E.I.R.)，或</li>
                                        <li>運送人或海關倉庫出具之破損或短卸證明文件，或</li>
                                        <li>其他有關證明文件。</li>
                                    </ol>
                                </li>
                                <li>向運送人或有關方面對貨損責任追索來往函件。</li>
                                <li>貨損照片。</li>
                                <li>收受賠款帳戶的銀行存摺影本。</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <h4>船體險</h4>
                        </div>
                        <div class="panel-body">
                            <p>準備以下文件：</p>
                            <ol>
                                <li>理賠申請書（請詳細填具）</li>
                                <li>相關航程之航海日誌 。</li>
                                <li>輪機日誌。</li>
                                <li>海事報告書。</li>
                                <li>船東監工(Superintendent)報告書。</li>
                                <li>修理費用帳單。</li>
                                <li>進塢費用及修船廠一般費用。</li>
                                <li>與修理有關之零件供應之帳單。</li>
                                <li>船東監工或其他公證人的費用帳單及報告。</li>
                                <li>相關港口的修理費用帳單包括引水人、拖船、解繫纜等。</li>
                                <li>船級協會之報告及帳單。</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <h4>漁船險</h4>
                        </div>
                        <div class="panel-body">
                            <p>準備以下文件：</p>
                            <ol>
                                <li>理賠申請書（請詳細填具）</li>
                                <li>保險單影本(全損時須提供正本保險單） 。</li>
                                <li>船舶檢查證書或記錄簿。</li>
                                <li>海事報告書。</li>
                                <li>公證報告書副本。</li>
                                <li>出險漁船幹部之執業證書影本。</li>
                                <li>漁船進出港報告單。</li>
                                <li>未曾公證救助費用賠案應檢附費用原始單據。</li>
                                <li>其他有關證明文件。</li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <h4>娛樂漁業漁船（遊樂船舶）意外責任保險</h4>
                        </div>
                        <div class="panel-body">
                            <p>準備以下文件：</p>
                            <ol>
                                <li>理賠申請書（請詳細填具）</li>
                                <li>保險單或其影本。</li>
                                <li>船舶進出港申請書。</li>
                                <li>海事報告書。</li>
                            </ol>
                            <p>傷害、死亡案件：</p>
                            <ol>
                                <li>和解書。</li>
                                <li>受害人意外傷害事故證明文件。</li>
                                <li>受害人醫療診斷書或住院證明。</li>
                                <li>受害人醫療費用明細或醫療證明文件或醫療費用收據。</li>
                                <li>受害人之身份證明。</li>
                                <li>死亡案：死亡證明書、除戶戶籍謄本。</li>
                            </ol>
                            <p>財損案件：</p>
                            <ol>
                                <li>損失清單。</li>
                                <li>修理估價單。</li>
                                <li>公證報告書。</li>
                            </ol>
                        </div>
                    </div>

                    <h4 class="mb-1">準備好證明及填妥文件後，聯繫理賠專員或透過以下方式提供給國泰：</h4>
                    <a href="../helper/8-6-0.html" target="_blank">
                        <i class="icon-arrow-right"></i>
                        <span>前往附近據點交付申請文件</span>
                    </a>
                    <div class="note text-gray">
                        <small>
                            注意事項：<br/>
                            上述文件如係於國外作成者，須經我國駐港澳機構、駐外使領館、代表處、辦事處或其他經外交部授權機構（以下簡稱駐外館處）之認（驗）證，其文件係以英文以外文做成者，須附中文譯本，中文譯本並須經駐外館處或我國公證人認證。本公司應於被保險人或請求權人交齊前述相關證明文件之次日起十五日內給付保險金。
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->