<!-- build:body -->claim <!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">我要理賠</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner claim">
        <img src="../img/payment/banner-payment.png" height="397" srcset="../img/payment/banner-payment@2x.png" />
        <div class="container">
            <div class="caption">
                <h1>
                    若不幸發生意外，<br class="d-block d-md-none"/>國泰將盡心盡力提供理賠協助
                </h1>
                <div class="desp">
                        萬一不小心發生事故時，本專區將提供您一系列的理賠服務及申請理賠前應備妥之相關文件，並可於線上完成理賠備案及理賠進度查詢。
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-3">
        <h1 class="text-center mt-0">發生什麼意外？</h1>
        <img src="../img/claim/bg.png" class="claim-bg d-none d-md-block" height="456px" srcset="../img/claim/bg@2x.png" />
        <div class="cards accident">
            <a class="card" href="./claim-car.html">
                <div class="image">
                    <img src="../img/claim/PFA4_0010/car_white.png" alt="" clsss="hover">
                    <img src="../img/claim/PFA4_0010/car_black.png" alt="" class="default">
                </div>
                <div class="content">
                    <h4>汽車／機車</h4>
                    <div class="meta">
                        <span class="hashtag">#出險</span>
                        <span class="hashtag">#車禍</span>
                        <span class="hashtag">#傷人</span>
                    </div>
                </div>
            </a>
            <a class="card" href="./claim-travel.html">
                <div class="image">
                    <img src="../img/claim/PFA4_0010/flight_white.png" alt="" clsss="hover">
                    <img src="../img/claim/PFA4_0010/flight_black.png" alt="" class="default">
                </div>
                <div class="content">
                    <h4>旅平 + 不便險</h4>
                    <div class="meta">
                        <span class="hashtag">#出險</span>
                        <span class="hashtag">#班機延誤</span>
                    </div>
                </div>
            </a>
            <a class="card" href="./claim-building.html">
                <div class="image">
                    <img src="../img/claim/PFA4_0010/house_white.png" alt="" clsss="hover">
                    <img src="../img/claim/PFA4_0010/house_black.png" alt="" class="default">
                </div>
                <div class="content">
                    <h4>房屋</h4>
                    <div class="meta">
                        <span class="hashtag">#失火</span>
                        <span class="hashtag">#淹水</span>
                        <span class="hashtag">#意外</span>
                    </div>
                </div>
            </a>
            <a class="card" href="./claim-pet.html">
                <div class="image">
                        <img src="../img/claim/PFA4_0010/pet_white.png" alt="" clsss="hover">
                        <img src="../img/claim/PFA4_0010/pet_black.png" alt="" class="default">
                </div>
                <div class="content">
                    <h4>寵物</h4>
                    <div class="meta">
                        <span class="hashtag">#寵物險</span>
                    </div>
                </div>
            </a>
            <a class="card" href="./claim-mobile.html">
                <div class="image">
                    <img src="../img/claim/PFA4_0010/mobile_white.png" alt="" clsss="hover">
                    <img src="../img/claim/PFA4_0010/mobile_black.png" alt="" class="default">
                </div>
                <div class="content">
                    <h4>手機</h4>
                    <div class="meta">
                        <span class="hashtag">#手機險</span>
                    </div>
                </div>
            </a>
            <a href="claim-medical.html" class="card">
                <div class="image">
                    <img src="../img/claim/PFA4_0010/health_white.png" alt="" clsss="hover">
                    <img src="../img/claim/PFA4_0010/health_black.png" alt="" class="default">
                </div>
                <div class="content">
                    <h4>健康險</h4>
                    <div class="meta">
                        <span class="hashtag">#健康</span>
                        <span class="hashtag">#疾病</span>
                    </div>
                </div>
            </a>
            <a class="card" href="./claim-bike.html">
                <div class="image">
                    <img src="../img/claim/PFA4_0010/bike_white.png" alt="" clsss="hover">
                    <img src="../img/claim/PFA4_0010/bike_black.png" alt="" class="default">
                </div>
                <div class="content">
                    <h4>公共自行車</h4>
                    <div class="meta">
                        <span class="hashtag">#Ubike</span>
                        <span class="hashtag">#Tbike</span>
                    </div>
                </div>
            </a>
        </div>
    </section>

    
    <section class="recommand-section">
        <img src="../img/common/empty-section-bg.png"
        srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
        <img src="../img/common/life-service.png"
        srcset="../img/common/life-service@2x.png" height="377" class="bg d-none d-md-block">
        <img src="../img/common/main-line.png"
        srcset="../img/common/main-line@2x.png" height="79" class="main-line d-md-none">
      
        <div class="container">
            <h1 class="section-title">還需要找什麼理賠項目呢？</h1>
            <div class="row">
                <div class="col-12 col-md-5 offset-md-1">
                    <div class="list inline-content">
                        <a href="./claim-creditcard.html" class="item">
                            <div class="content">
                                <h4>信用卡綜合保險</h4>
                                <div class="text">#國泰世華 #匯豐 #第一 #日盛 #花旗</div>
                            </div>
                            <div class="action"> <i class="icon-chevron-right"></i></div>
                        </a>
                        <a href="./claim-accident.html" class="item">
                            <div class="content">
                                <h4>意外傷害險</h4>
                                <div class="text">#體傷 #失能</div>
                            </div>
                            <div class="action"> <i class="icon-chevron-right"></i></div>
                        </a>
                        <a href="./claim-engineering.html" class="item">
                            <div class="content">
                                <h4>工程險</h4>
                                <div class="text">#營造安裝 #財產 #責任</div>
                            </div>
                            <div class="action"> <i class="icon-chevron-right"></i></div>
                        </a>
                        <a href="./claim-water.html" class="item">
                            <div class="content">
                                <h4>水險</h4>
                                <div class="text">#貨物運輸  #船體險</div>
                            </div>
                            <div class="action"> <i class="icon-chevron-right"></i></div>
                        </a>
                        <a href="./claim-other.html" class="item">
                            <div class="content">
                                <h4>其他</h4>
                                <div class="text">#公共意外 #僱主意外 #員工誠實 #高爾夫球員 #現金險</div>
                            </div>
                            <div class="action"> <i class="icon-chevron-right"></i></div>
                        </a>
                    </div>
                    <a class="btn btn-primary btn-sm-block ml-0 mt-2">理賠進度與紀錄查詢</a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->