<!-- build:body -->claim<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./claim.html">我要理賠</a></li>
                    <li class="active"><a href="#">房屋</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner claim with-card">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1>
                        房屋發生事故時，讓國泰來幫助你省心理賠
                    </h1>
                    <div class="desp">
                        房屋發生事故時，跟著以下步驟簡單搞定理賠麻煩事，只需四個步驟方可完成理賠，理賠真簡單。
                    </div>
                    <div class="action mt-2">
                        <a class="btn btn-primary">查詢應備文件</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <h4 class="mt-0 mb-1">
                            免付費專線<br/>
                            <a href="tel:0800-212-880" target="_blank">0800-212-880</a>
                        </h4>
                        <p class="text text-gray">
                            <small>
                                承保、理賠服務       每日 08:30-21:00
                            </small>
                        </p>
                        <a href="../helper/8-4-0.html" target="_blank" class="btn btn-default btn-sm ml-0">聯繫客服</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-3">
        <h1 class="text-center mt-0">一般理賠流程</h1>
        <div class="progress">
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-start.png" srcset="../img/claim/process-start@2x.png"></div>
                <div class="content">
                    <h4><span class="number">1</span> 緊急搶救</h4>
                    <p class="text-gray">
                        發現火災後，立即取用滅火器搶救，有安全之虞時，盡速逃離火場，並通報消防單位協助滅火，如有人員受傷則立即送醫急救。保持現場完整，必要時拍照存證。
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">撥打救護車或消防隊 119</span>
                    </a>
                    <p class="text-gray">
                        並同時報警與聯絡保險公司
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">警察報案專線 110</span>
                    </a>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">0800-212-880</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-document.png" srcset="../img/claim/process-document@2x.png"></div>
                <div class="content">
                    <h4><span class="number">2</span> 通報出險</h4>
                    <p class="text-gray">
                        火災發生後5日內向保險公司通報出險，在消防鑑識單位、保險公司理賠人員或保險公證人
                    </p>
                    <p class="text-gray">
                        *查勘前，務必保持現場完整，並針對受損標的物拍照存證，切勿將受損標的物丟棄。
                    </p>
                    <p class="text-gray">
                        *保險公證人:指向保險人或被保險人收取費用，為其辦理海上保險以外保險標的物之查勘、鑑定及估價與賠款之理算、洽商，而予證明之人。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-check.png" srcset="../img/claim/process-check@2x.png"></div>
                <div class="content">
                    <h4><span class="number">3</span> 查勘現場</h4>
                    <p class="text-gray">
                        被保險人會同保險公司理賠人員或保險公證人查勘現場，了解火災發生原因及經過情形，現場核對清點受損標的物，並由理賠人員或保險公證人說明理賠流程及應備文件。  
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                <div class="content">
                    <h4><span class="number">4</span> 理賠申請</h4>
                    <p class="text-gray">
                        被保險人可於火災發生後2年內，向保險公司提出理賠申請，若有任何不明瞭之處，可隨時向理賠承辦詢問。
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <h1 class="section-title">查詢理賠應備文件</h1>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <h4>請根據以下列表以準備文件</h4>
                    <div class="download-block">
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <h4>下載文件並填寫</h4>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>理賠申請書</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">全部下載</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-response">
                        <table class="table paded table-striped">
                            <thead>
                                <tr>
                                    <th width="25%" rowspan="2">險種理賠所需文件</th>
                                    <th width="36%" colspan="5">商業火災保險</th>
                                    <th width="14%" colspan="2">住宅火災保險</th>
                                    <th width="15%" rowspan="2">說明</th>
                                </tr>
                                <tr>
                                    <th>建築物</th>
                                    <th>營業<br>裝修</th>
                                    <th>營業<br>生財</th>
                                    <th>機械<br>設備</th>
                                    <th>貨<br>物</th>
                                    <th>建築物</th>
                                    <th>動<br>產</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>賠償申請書、損失清單</td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td>被保險人簽章</td>
                                </tr>
                                <tr>
                                    <td>火災證明書</td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>建築物所有權狀影本</td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>修復估價單</td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>租賃契約影本</td>
                                    <td><i>
                                    </i></td><td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>原裝修之估價單收據<br>或發票</td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>原始標的購置之發票<br>或收據</td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>進、出貨買賣憑證、<br>收據或發票</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>財產目錄</td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>進貨單、送貨單、<br>倉單等帳冊、 憑證</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>生產日報表、成本分析表</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>公司營利事業登記證影本</td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>抵押權人同意書</td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><i class="icon-check"></i></td>
                                    <td></td>
                                    <td>銀行貸款件</td>
                                </tr>
                                <tr>
                                    <td>賠款同意書</td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td>被保險人簽章</td>
                                </tr>
                                <tr>
                                    <td>電匯同意書</td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td><i class="icon-check"></i></td>
                                    <td>被保險人簽章</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h4 class="mb-1">準備好證明及填妥文件後，聯繫理賠專員或透過以下方式提供給國泰：</h4>
                    <a href="../helper/8-6-0.html" target="_blank">
                        <i class="icon-arrow-right"></i>
                        <span>前往附近據點交付申請文件</span>
                    </a>
                    
                    <div class="note text-gray">
                        <small>
                            注意事項：<br/>
                            上述文件如係於國外作成者，須經我國駐港澳機構、駐外使領館、代表處、辦事處或其他經外交部授權機構（以下簡稱駐外館處）之認（驗）證，其文件係以英文以外文做成者，須附中文譯本，中文譯本並須經駐外館處或我國公證人認證。本公司應於被保險人或請求權人交齊前述相關證明文件之次日起十五日內給付保險金。
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->