<!-- build:body -->claim<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./claim.html">我要理賠</a></li>
                    <li class="active"><a href="#">公共自行車</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner claim with-card">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1>
                        騎公共自行車發生事故時，讓國泰來幫助你省心理賠
                    </h1>
                    <div class="desp">
                        騎公共自行車發生事故時，跟著以下步驟簡單搞定理賠麻煩事，只需四個步驟即可完成理賠，理賠真簡單。
                    </div>
                    <div class="action mt-2">
                        <a data-anchor="document" class="btn btn-outline">查詢應備文件</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <h4 class="mt-0 mb-1">
                            免付費專線<br/>
                            <a href="tel:0800-212-880" target="_blank">0800-212-880</a>
                        </h4>
                        <p class="text text-gray">
                            <small>
                                承保、理賠服務       每日 08:30-21:00
                            </small>
                        </p>
                        <a href="../helper/8-4-0.html" target="_blank" class="btn btn-default btn-sm ml-0">聯繫客服</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-3">
        <h1 class="text-center mt-0">一般理賠流程</h1>
        <div class="progress">
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-document.png" srcset="../img/claim/process-document@2x.png"></div>
                <div class="content">
                    <h4><span class="number">1</span> 準備文件</h4>
                    <p class="text-gray">
                        透過本網站查詢所申辦項目的理賠應備文件，下載並自行準備相應的文件。
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">查詢應備文件</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/progress-write.png" srcset="../img/claim/progress-write@2x.png"></div>
                <div class="content">
                    <h4><span class="number">2</span> 填寫資訊</h4>
                    <p class="text-gray">
                        根據文件中的欄位提供並填寫相對應的資訊。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/progress-location.png" srcset="../img/claim/progress-location@2x.png"></div>
                <div class="content">
                    <h4><span class="number">3</span> 前往服務據點</h4>
                    <p class="text-gray">
                        攜帶文件前往國泰產險各服務據點或郵寄辦理理賠。
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">國泰產險各服務據點</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                <div class="content">
                    <h4><span class="number">4</span> 完成理賠</h4>
                    <p class="text-gray">
                        當理賠審核完畢後，會收到簡訊通知，並會把理賠金自動轉帳到申請者提供的銀行帳戶中。
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <h1 class="section-title">查詢理賠應備文件</h1>
            <div class="pop-menu d-block d-lg-none">
                <select name="document-menu" class="select2">
                    <option value="1">公共自行車傷害險</option>
                    <option value="2">公共自行車意外責任險</option>
                </select>
            </div>
            <div class="row">
                <div class="d-none d-lg-block col-lg-3 document-items">
                    <h4>選擇理賠項目</h4>
                    <div class="radio d-block">
                        <input type="radio" id="claim-1" name="claim" value="1" checked>
                        <label for="claim-1">公共自行車傷害險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-2" name="claim" value="2">
                        <label for="claim-2">公共自行車意外責任險</label>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <h4>請根據以下列表以準備文件</h4>
                    <div class="download-block">
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <h4>下載文件並填寫</h4>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>台北/新北/桃園/苗栗理賠申請書</span>
                                </a>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>台南/高雄/屏東理賠申請書</span>
                                </a>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>郵寄地址說明</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">全部下載</a>
                            </div>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="table-response">
                            <table class="table paded table-striped">
                                <thead>
                                    <tr>
                                        <th width="40%" rowspan="2">險種理賠所需文件</th>
                                        <th width="20%" colspan="3">各類傷害險商品</th>
                                    </tr>
                                    <tr>
                                        <th width="20%">體傷</th>
                                        <th width="20%">失能</th>
                                        <th width="20%">死亡</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>理賠申請書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>醫療診斷書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                    <tr>
                                        <td>X光片或醫療光碟<br>(遇有骨折給付須檢附)</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>相關病歷摘要<br>(視需要提供)</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>失能診斷書</td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>相驗屍體證明書或死亡證明書</td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>被保險人除戶戶籍謄本</td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>受益人身分證明文件</td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>委託書</td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>聲明同意書(受益人或繼承人)<br>(委託由一位受益人申請時須提供)</td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>存摺影本</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>憲警方交通事故登記聯單<br>(針對交通事故)</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>其他意外傷害事故證明文件</td>
                                            <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="table-response">
                            <table class="table paded table-striped">
                                <thead>
                                    <tr>
                                        <th width="40%">文件名稱＼事故類型</th>
                                        <th width="30%">第三人體傷</th>
                                        <th width="30%">第三人身故</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>理賠申請書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>特別資料使用同意書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    
                                    <tr>
                                        <td>警察機關處理證明文件或肇事責任鑑定書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>醫療診斷書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>醫療費用收據</td>
                                        <td><i class="icon-check"></i></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>和解書或判決書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>戶口名簿影本</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>(全戶)除戶戶口名簿影本</td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>身故證明書</td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>繼承系統表</td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>賠款同意書暨付款申請書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <h4 class="mb-1">準備好證明及填妥文件後，聯繫理賠專員或透過以下方式提供給國泰：</h4>
                    <a href="../helper/8-6-0.html" target="_blank">
                        <i class="icon-arrow-right"></i>
                        <span>前往附近據點交付申請文件</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->