<!-- build:body -->claim<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./claim.html">我要理賠</a></li>
                    <li class="active"><a href="#">工程險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner claim with-card">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1>
                        工程發生事故時，讓國泰來幫助你省心理賠
                    </h1>
                    <div class="desp">
                        工程發生事故時，跟著以下步驟簡單搞定理賠麻煩事，只需四個步驟即可完成理賠，理賠真簡單。
                    </div>
                    <div class="action mt-2">
                        <a data-anchor="document" class="btn btn-primary">查詢應備文件</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <h4 class="mt-0 mb-1">
                            免付費專線<br/>
                            <a href="tel:0800-212-880" target="_blank">0800-212-880</a>
                        </h4>
                        <p class="text text-gray">
                            <small>
                                承保、理賠服務       每日 08:30-21:00
                            </small>
                        </p>
                        <a href="../helper/8-4-0.html" target="_blank" class="btn btn-default btn-sm ml-0">聯繫客服</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-3">
        <h1 class="text-center mt-0">一般理賠流程</h1>
        <div class="progress">
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-start.png" srcset="../img/claim/process-start@2x.png"></div>
                <div class="content">
                    <h4><span class="number">1</span> 緊急搶救</h4>
                    <p class="text-gray">
                        發現工程本體發生災害後，將損害之標的妥善保存，並將標的固定妥適，避免損壞之標的再次飛落，而造成第三人或工程本體其他處受損。
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">撥打救護車或消防隊 119</span>
                    </a>
                    <p class="text-gray">
                        並同時報警與聯絡保險公司
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">警察報案專線 110</span>
                    </a>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">0800-212-880</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-record.png" srcset="../img/claim/process-record@2x.png"></div>
                <div class="content">
                    <h4><span class="number">2</span> 拍照存證</h4>
                    <p class="text-gray">
                        災害發生後5日內向保險公司通報出險，於保險公司理賠人員或保險公證人*查勘前，務必保持現場完整，並針對受損標的物拍照存證，切勿將受損標的物丟棄或逕行修復，以避免無法佐證損失項目。*保險公證人:指向保險人或被保險人收取費用，為其辦理海上保險以外保險標的物之查勘、鑑定及估價與賠款之理算、洽商，而予證明之人。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-check.png" srcset="../img/claim/process-check@2x.png"></div>
                <div class="content">
                    <h4><span class="number">3</span> 查勘現場</h4>
                    <p class="text-gray">
                        被保險人會同保險公司理賠人員或保險公證人查勘現場，了解災害發生原因、經過情形，現場核對清點受損標的物，並由理賠人員或保險公證人說明理賠流程及應備文件。   
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-document.png" srcset="../img/claim/process-document@2x.png"></div>
                <div class="content">
                    <h4><span class="number">4</span> 理賠申請</h4>
                    <p class="text-gray">
                        被保險人於災害發生後兩年內，向保險公司提出理賠申請並提出理賠文件，若有任何不明瞭之處，可隨時向承辦人員詢問。   
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                <div class="content">
                    <h4><span class="number">5</span> 等待結果</h4>
                    <p class="text-gray">
                        加入LINE 官方帳號，隨時掌握理賠案件進度
                    </p>
                    <a href="https://line.me/R/ti/p/%40cathay-ins" target="_blank" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">加入 LINE 好友</span>
                    </a>
                    <p class="text-gray">
                        線上查詢進度
                    </p>
                    <a href="./auth-14-1-0.html" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">登入保戶中心</span>
                    </a>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <h1 class="section-title">查詢理賠應備文件</h1>
            <div class="pop-menu d-block d-lg-none">
                <select name="document-menu" class="select2">
                    <option value="1">營造、安裝工程財物損失險</option>
                    <option value="2">財產險</option>
                </select>
            </div>
            <div class="row">
                <div class="d-none d-lg-block col-lg-3 document-items">
                    <h4>選擇理賠項目</h4>
                    <div class="radio d-block">
                        <input type="radio" id="claim-1" name="claim" value="1" checked>
                        <label for="claim-1">營造、安裝工程財物損失險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-2" name="claim" value="2">
                        <label for="claim-2">財產險</label>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <h4>請根據以下列表以準備文件</h4>
                    <div class="download-block">
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <h4>下載文件並填寫</h4>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>理賠申請書</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">全部下載</a>
                            </div>
                        </div>
                    </div>

                    <div class="document-section">
                        <div class="panel">
                            <div class="panel-header">
                                <h4>營造、安裝工程財物損失險</h4>
                            </div>
                            <div class="panel-body">
                                <p>請準備以下文件：</p>
                                <div class="table-response">
                                    <table class="table paded table-striped">
                                        <thead>
                                            <tr>
                                                <th width="40%">險種理賠所需文件</th>
                                                <th width="20%">一般天災</th>
                                                <th width="20%">火災</th>
                                                <th width="20%">竊盜</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>出險通知單</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>損失清單</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>修復估價單、發票收據</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>出險現場照片</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>警方報案證明</td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>工程合約</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>損失相關工程圖</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>監工日報表<br>(出險前30日內)</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>工程計價單或估驗單</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>原廠進貨憑證、<br>出廠證明</td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>材料進出貨憑證</td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>火災證明書</td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>醫療診斷書、收據</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>和解書</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>死亡證明書及<br>除戶戶籍謄本</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>受害者身份證影本及<br>所有權證明</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>和解金給付證明</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>在職證明書</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>勞保卡、健保卡影本</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>薪資證明或扣繳憑單</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>勞檢所報告</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>營利事業登記證及<br>公司執照影本</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>賠款接受書</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>電匯同意書</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>財產目錄清冊</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="document-section">
                        <div class="panel">
                            <div class="panel-header">
                                <h4>財產險</h4>
                            </div>
                            <div class="panel-body">
                                <p>請準備以下文件：</p>
                                <div class="table-response">
                                    <table class="table paded table-striped">
                                        <thead>
                                            <tr>
                                                <th width="30%" rowspan="2">險種理賠所需文件</th>
                                                <th width="30%" colspan="3">電子設備綜合保險</th>
                                                <th width="20%" colspan="2">營建機具</th>
                                                <th width="10%" rowspan="2">機械<br>保險</th>
                                                <th width="10%" rowspan="2">鍋爐<br>保險</th>
                                            </tr>
                                            <tr>
                                                <th>一般天災</th>
                                                <th>火災</th>
                                                <th>竊盜</th>
                                                <th>一般天災</th>
                                                <th>竊盜</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>出險通知單</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>損失清單</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>修復估價單、發票收據</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>出險現場照片</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>警方報案證明</td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>工程合約</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>損失相關工程圖</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>監工日報表<br>(出險前30日內)</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>工程計價單或估驗單</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>原廠進貨憑證、<br>出廠證明</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>材料進出貨憑證</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>火災證明書</td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>醫療診斷書、收據</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>和解書</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>死亡證明書及<br>除戶戶籍謄本</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>受害者身份證影本及<br>所有權證明</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>和解金給付證明</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>在職證明書</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>勞保卡、健保卡影本</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>薪資證明或扣繳憑單</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>勞檢所報告</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>營利事業登記證及<br>公司執照影本</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>賠款接受書</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>電匯同意書</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>財產目錄清冊</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>財產險 - 電子設備綜合保險</h4>
                            </div>
                            <div class="panel-body">
                                <div class="table-response">
                                    <table class="table paded table-striped">
                                        <thead>
                                            <tr>
                                                <th width="40%">險種理賠所需文件</th>
                                                <th width="20%">一般天災</th>
                                                <th width="20%">火災</th>
                                                <th width="20%">竊盜</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>出險通知單</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>損失清單</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>修復估價單、發票收據</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>出險現場照片</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>警方報案證明</td>
                                                <td></td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>工程合約</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>損失相關工程圖</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>監工日報表<br>(出險前30日內)</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>工程計價單或估驗單</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>原廠進貨憑證、<br>出廠證明</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>材料進出貨憑證</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>火災證明書</td>
                                                <td></td>
                                                <td><i class="icon-check"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>醫療診斷書、收據</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>和解書</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>死亡證明書及<br>除戶戶籍謄本</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>受害者身份證影本及<br>所有權證明</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>和解金給付證明</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>在職證明書</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>勞保卡、健保卡影本</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>薪資證明或扣繳憑單</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>勞檢所報告</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td>營利事業登記證及<br>公司執照影本</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>賠款接受書</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr class="even">
                                                <td>電匯同意書</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td>財產目錄清冊</td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                                <td><i class="icon-check"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="mb-1">準備好證明及填妥文件後，聯繫理賠專員或透過以下方式提供給國泰：</h4>
                    <a href="../helper/8-6-0.html" target="_blank">
                        <i class="icon-arrow-right"></i>
                        <span>前往附近據點交付申請文件</span>
                    </a>

                    <div class="note text-gray">
                        <small>
                            注意事項：<br/>
                            上述文件如係於國外作成者，須經我國駐港澳機構、駐外使領館、代表處、辦事處或其他經外交部授權機構（以下簡稱駐外館處）之認（驗）證，其文件係以英文以外文做成者，須附中文譯本，中文譯本並須經駐外館處或我國公證人認證。本公司應於被保險人或請求權人交齊前述相關證明文件之次日起十五日內給付保險金。
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->