<!-- build:body -->claim<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./claim.html">我要理賠</a></li>
                    <li class="active"><a href="#">意外傷害險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner claim with-card">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1>
                        身體受到傷害時，讓國泰來幫助你省心理賠
                    </h1>
                    <div class="desp">
                        身體受到傷害時，跟著以下步驟簡單搞定理賠麻煩事，只需四個步驟即可完成理賠，理賠真簡單。
                    </div>
                    <div class="action mt-2">
                        <a data-anchor="document" class="btn btn-primary">查詢應備文件</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <h4 class="mt-0 mb-1">
                            免付費專線<br/>
                            <a href="tel:0800-212-880" target="_blank">0800-212-880</a>
                        </h4>
                        <p class="text text-gray">
                            <small>
                                承保、理賠服務       每日 08:30-21:00
                            </small>
                        </p>
                        <a href="../helper/8-4-0.html" target="_blank" class="btn btn-default btn-sm ml-0">聯繫客服</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-3">
        <h1 class="text-center mt-0">一般理賠流程</h1>
        <div class="progress">
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-document.png" srcset="../img/claim/process-document@2x.png"></div>
                <div class="content">
                    <h4><span class="number">1</span> 準備文件</h4>
                    <p class="text-gray">
                        透過本網站查詢所申辦項目的理賠應備文件，下載並自行準備相應的文件。
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">查詢應備文件</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/progress-write.png" srcset="../img/claim/progress-write@2x.png"></div>
                <div class="content">
                    <h4><span class="number">2</span> 填寫資訊</h4>
                    <p class="text-gray">
                        根據文件中的欄位提供並填寫相對應的資訊。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/progress-location.png" srcset="../img/claim/progress-location@2x.png"></div>
                <div class="content">
                    <h4><span class="number">3</span> 前往服務據點</h4>
                    <p class="text-gray">
                        攜帶文件前往國泰產險各服務據點或郵寄辦理理賠。
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">國泰產險各服務據點</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                <div class="content">
                    <h4><span class="number">4</span> 完成理賠</h4>
                    <p class="text-gray">
                        當理賠審核完畢後，會收到簡訊通知，並會把理賠金自動轉帳到申請者提供的銀行帳戶中。
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <h1 class="section-title">查詢理賠應備文件</h1>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <h4>請根據以下列表以準備文件</h4>
                    <div class="download-block">
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <h4>下載文件並填寫</h4>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>理賠申請書</span>
                                </a>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>郵寄地址說明</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">全部下載</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="table-response">
                            <table class="table table-striped paded">
                                <thead>
                                    <tr>
                                        <th width="40%" rowspan="2">險種理賠所需文件</th>
                                        <th width="20%" colspan="3">各類傷害險商品</th>
                                    </tr>
                                    <tr>
                                        <th width="20%">體傷</th>
                                        <th width="20%">失能</th>
                                        <th width="20%">死亡</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>理賠申請書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>醫療診斷書</td>
                                        <td><i class="icon-check"></i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>醫療費用收據正本<br>(申請實支實付為必備文件)</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td></td>
                                    </tr>
                                    <tr class="even">
                                        <td>X光片或醫療光碟<br>(遇有骨折給付須檢附)</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>相關病歷摘要<br>(視需要提供)</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>失能診斷書</td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>相驗屍體證明書或死亡證明書</td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>被保險人除戶戶籍謄本</td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>受益人身分證明文件</td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>委託書</td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>聲明同意書(受益人或繼承人)<br>(委託由一位受益人申請時須提供)</td>
                                        <td></td>
                                        <td></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>存摺影本</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>憲警方交通事故登記聯單<br>(針對交通事故)</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                    <tr class="even">
                                        <td>其他意外傷害事故證明文件</td>
                                         <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check"></i></td>
                                    </tr>
                                 
                                </tbody>
                            </table>
                    </div>

                    <h4 class="mb-1">準備好證明及填妥文件後，聯繫理賠專員或透過以下方式提供給國泰：</h4>
                    <a href="../helper/8-6-0.html" target="_blank">
                        <i class="icon-arrow-right"></i>
                        <span>前往附近據點交付申請文件</span>
                    </a>

                    <div class="note text-gray">
                        <small>
                            注意事項：<br/>
                            上述文件如係於國外作成者，須經我國駐港澳機構、駐外使領館、代表處、辦事處或其他經外交部授權機構（以下簡稱駐外館處）之認（驗）證，其文件係以英文以外文做成者，須附中文譯本，中文譯本並須經駐外館處或我國公證人認證。本公司應於被保險人或請求權人交齊前述相關證明文件之次日起十五日內給付保險金。
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->