<!-- build:body -->claim<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./claim.html">我要理賠</a></li>
                    <li class="active"><a href="#">旅平+不便險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner claim with-card">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1>
                        旅遊發生事故時，讓國泰來幫助你省心理賠
                    </h1>
                    <div class="desp">
                        旅遊發生事故時，跟著以下步驟簡單搞定理賠麻煩事，只需四個步驟即可完成理賠，理賠真簡單。
                    </div>
                    <div class="action mt-2">
                        <a data-anchor="document" class="btn btn-primary">查詢應備文件</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <h4 class="mt-0 mb-1">
                            免付費專線<br/>
                            <a href="tel:0800-212-880" target="_blank">0800-212-880</a>
                        </h4>
                        <p class="text text-gray">
                            <small>
                                承保、理賠服務    每日 08:30-21:00
                            </small>
                        </p>
                        <a href="../helper/8-4-0.html" target="_blank" class="btn btn-default btn-sm ml-0">聯繫客服</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-3">
        <h1 class="text-center mt-0">
            班機延誤 3 小時以上，即享快速理賠服務
            <a role='button' class="text-green" data-trigger="modal" data-modal="claim-detail"><i class="icon-info"></i></a>
        </h1>
        <div class="progress">
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-start.png" srcset="../img/claim/process-start@2x.png"></div>
                <div class="content">
                    <h4><span class="number">1</span> 理賠申請</h4>
                    <p class="text-gray">
                        投保填寫相關資料包括：去回日期、航班、銀行帳號、護照號碼。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-verify.png" srcset="../img/claim/process-verify@2x.png"></div>
                <div class="content">
                    <h4><span class="number">2</span> 資格審核</h4>
                    <p class="text-gray">
                        當班機發生延誤且符合理賠標準時，收到簡訊通知。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/progress-write.png" srcset="../img/claim/progress-write@2x.png"></div>
                <div class="content">
                    <h4><span class="number">3</span> 填寫資訊</h4>
                    <p class="text-gray">
                        點選簡訊連結上傳登機證與銀行帳號，或下載「旅綜險班機延誤快速理賠表格」，並檢附登機證與銀行帳號回傳至 02-26599579。 
                        <a role='button' class="text-green" data-trigger="modal" data-modal="form-detail"><i class="icon-info"></i></a>
                    </p>
                    <p class="text-gray">
                        加入LINE官方帳號，理賠進度隨時掌握。
                    </p>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span>加入LINE好友</span>
                    </a>
                    <a href="#" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span>理賠進度與紀錄查詢</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                <div class="content">
                    <h4><span class="number">4</span> 完成理賠</h4>
                    <p class="text-gray">
                        確認資訊無誤即撥款理賠金。
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="container pt-3">
        <h1 class="text-center mt-0">一般理賠流程</h1>
        <div class="progress">
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-document.png" srcset="../img/claim/process-document@2x.png"></div>
                <div class="content">
                    <h4><span class="number">1</span> 準備文件</h4>
                    <p class="text-gray">
                        透過本網站查詢欲申辦項目的理賠應備文件，下載並自行準備相應的文件。
                    </p>
                    <a data-anchor="document" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">查詢應備文件</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/progress-write.png" srcset="../img/claim/progress-write@2x.png"></div>
                <div class="content">
                    <h4><span class="number">2</span> 填寫資訊</h4>
                    <p class="text-gray">
                        根據文件中的欄位提供並填寫相對應的資訊。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/progress-location.png" srcset="../img/claim/progress-location@2x.png"></div>
                <div class="content">
                    <h4><span class="number">3</span> 前往服務據點</h4>
                    <p class="text-gray">
                        於事故發生後兩年內攜帶文件前往國泰產險各服務據點或郵寄辦理理賠。-26599579。 
                    </p>
                    <a href="../helper/8-6-0.html" target="_blank" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">國泰產險各服務據點</span>
                    </a>
                    <p class="text-gray">
                        加入LINE官方帳號，理賠進度隨時掌握。
                    </p>
                    <a href="https://line.me/R/ti/p/%40cathay-ins" target="_blank" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">加入 LINE 好友</span>
                    </a>
                    <a href="./auth-14-1-0.html" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">理賠進度與紀錄查詢</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                <div class="content">
                    <h4><span class="number">4</span> 完成理賠</h4>
                    <p class="text-gray">
                        當理賠審核完畢後，會收到簡訊通知，並會把理賠金自動轉帳到申請者提供的銀行帳戶中。
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <h1 class="section-title">查詢理賠應備文件</h1>
            <div class="pop-menu d-block d-lg-none">
                <select name="document-menu" class="select2">
                    <option value="1">旅遊平安保險</option>
                    <option value="2">第三人責任保險</option>
                    <option value="3">行李損失補償</option>
                    <option value="4">行李延誤補償</option>
                    <option value="5">班機取消補償</option>
                    <option value="6">班機延誤補償</option>
                    <option value="7">班機改搭補償</option>
                    <option value="8">改降非原定機場補償</option>
                    <option value="9">旅程取消補償</option>
                    <option value="10">旅程縮短補償</option>
                    <option value="11">海外旅程延誤補償</option>
                    <option value="12">國內旅程延誤補償</option>
                    <option value="13">劫機補償</option>
                    <option value="14">食物中毒慰問金</option>
                    <option value="15">現金竊盜補償</option>
                    <option value="16">信用卡盜用補償</option>
                    <option value="17">居家竊盜補償</option>
                    <option value="18">租車事故補償</option>
                    <option value="19">海外旅遊急難救助</option>
                    <option value="20">國內旅行急難救助</option>
                    <option value="21">國內旅行文件重置費用</option>
                </select>
            </div>
            <div class="row">
                <div class="d-none d-lg-block col-lg-3 document-items">
                    <h4>選擇理賠項目</h4>
                    <div class="radio d-block">
                        <input type="radio" id="claim-1" name="claim" value="1" checked>
                        <label for="claim-1">旅遊平安保險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-2" name="claim" value="2">
                        <label for="claim-2">第三人責任保險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-3" name="claim" value="3">
                        <label for="claim-3">行李損失補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-4" name="claim" value="4">
                        <label for="claim-4"> 行李延誤補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-5" name="claim" value="5">
                        <label for="claim-5">班機取消補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-6" name="claim" value="6">
                        <label for="claim-6">班機延誤補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-7" name="claim" value="7">
                        <label for="claim-7">班機改搭補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-8" name="claim" value="8">
                        <label for="claim-8">改降非原定機場補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-9" name="claim" value="9">
                        <label for="claim-9">旅程取消補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-10" name="claim" value="10">
                        <label for="claim-10">旅程縮短補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-11" name="claim" value="11">
                        <label for="claim-11">海外旅程延誤補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-12" name="claim" value="12">
                        <label for="claim-12">國內旅程延誤補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-13" name="claim" value="13">
                        <label for="claim-13">劫機補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-14" name="claim" value="14">
                        <label for="claim-14">食物中毒慰問金</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-15" name="claim" value="15">
                        <label for="claim-15">現金竊盜補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-16" name="claim" value="16">
                        <label for="claim-16">信用卡盜用補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-17" name="claim" value="17">
                        <label for="claim-17">居家竊盜補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-18" name="claim" value="18">
                        <label for="claim-18">租車事故補償</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-19" name="claim" value="19">
                        <label for="claim-19">海外旅遊急難救助</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-20" name="claim" value="20">
                        <label for="claim-20">國內旅行急難救助</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-21" name="claim" value="21">
                        <label for="claim-21">國內旅行文件重置費用</label>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <h4>請根據以下列表以準備文件</h4>
                    <div class="download-block">
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <h4>下載文件並填寫</h4>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>理賠申請書</span>
                                </a>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>郵寄地址說明</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">全部下載</a>
                            </div>
                        </div>
                    </div>

                    <div data-index="1" class="document-section">
                        <h4>保險期間內旅遊發生意外，致其身體蒙受傷害而致體傷、失能或死亡。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>共同必備文件</h4>
                            </div>
                            <div class="panel-body">
                                <p>請準備以下文件：</p>
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>受益人之身份證明</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>「意外事故身故失能保險金」及「特定意外（航空、海陸事故）身故失能保險金」</h4>
                            </div>
                            <div class="panel-body">
                                <p>請準備以下文件：</p>
                                <ol>
                                    <li>意外傷害事故證明文件</li>
                                    <li>相驗屍體證明書或死亡證明書或失能診斷書</li>
                                    <li>被保險人除戶戶籍謄本</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>傷害醫療實支實付型保險金</h4>
                            </div>
                            <div class="panel-body">
                                <p>請準備以下文件：</p>
                                <ol>
                                    <li>意外傷害事故證明文件</li>
                                    <li>醫療診斷證明書或住院證明（ 如非中英文，請檢附中文翻譯)</li>
                                    <li>醫療費用收據</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>海外突發疾病醫療補償保險金</h4>
                            </div>
                            <div class="panel-body">
                                <p>包含：「突發疾病住院醫療保險金」、「突發疾病住院補償保 險金」、「突發疾病門診醫療保險金」及「突發疾病急診醫療保險金」</p>
                                <p>請準備以下文件：</p>
                                <ol>
                                    <li>醫療診斷證明書或住院證明 (如非中英文，請檢附中文翻譯)</li>
                                    <li>各項醫療費用收據</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>重大燒燙傷保險金</h4>
                            </div>
                            <div class="panel-body">
                                <p>請準備以下文件：</p>
                                <ol>
                                    <li>醫療診斷證明書或住院證明 (如非中英文，請檢附中文翻譯)</li>
                                </ol>
                                <p class="text-red">
                                    註1：網路投保暫無「特定意外（航空、海陸事故）身故失能保險金」保障項目 。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-index="2" class="document-section">
                        <h4>被保險人於保險期間內，因可歸責於被保險人行為所致之意外事故，致造成第三人體傷、死亡或第三人財物損失 。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>存摺影本（保險金採匯款方式領取時之必備文件）</li>
                                    <li>身份證、印章（於櫃檯辦理理賠時所需相關證明文件）</li>
                                    <li>損失清單及費用支出單據</li>
                                    <li>意外事故 相關證明文件</li>
                                    <li>和解書或判決書</li>
                                    <li>警憲證明文件</li>
                                </ol>
                                <p class="text-red">
                                    註1 ：對於每一次意外事故所生之損失，被保險人必須先行負擔自負額額度之損失，本公司僅就超過自負額之部份負賠償之責。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-index="3" class="document-section">
                        <h4>
                            於海外旅遊期間內，因下列事故致其個人行李遭受毀損、滅失。<br>
                            行李：指被保險人所擁有且穿著 或隨行交運之行李 或置於行李箱、手提箱或類似容器內攜帶之可攜式小型電腦、平板電腦、衣物或個人物品。
                        </h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>共同必備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>申請實支實付理賠時，應檢附重置之費用單據</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>竊盜、強盜與搶奪</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>當地警察機關報案證明</li>
                                    <li>損失清單</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>因住宿之旅館或搭乘之公共交通工具業者處理失當所致之毀損、滅失</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>旅館或公共交通工具業者所開立之事故與損失證明</li>
                                    <li>損失清單及毀損照片</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>搭乘之班機抵達目的地（不含出發地或居住地 ）48 小時後，仍未領得已登記通關之託運個人行李</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>航空公司所開立之行李延誤證明文件及簽收時間證明文件</li>
                                </ol>
                                <p class="text-red">
                                    註1  ：同時發生 行李延誤補償 之承保事故時，僅能擇一申請理賠。<br/>
                                    註2 ：給付方式以 定額給付 及 實支實付 擇一申請給付保險金。
                                </p>
                            </div>
                        </div>
                        <div class="note">
                            <p class="text-red">註 3 ：對於下列物品之損失，本公司不負理賠責任：</p>
                            <ol>
                                <li>商業用或營業用物品、食物、動植物、機動車、船舶、其他交通工具（包括零配件）、家具、古董、珠寶、行動電話、飾品。</li>
                                <li>貨幣、股票、債券、郵票、票據、入場券、有價證券及旅行文件。</li>
                                <li>文稿、圖畫、圖案、模型、樣品、帳簿或其他商業憑證簿冊。</li>
                                <li>違禁品或非法之物品。</li>
                                <li>被保險人事先運送之行李，或非隨身託運而分開郵寄或運送之物品。</li>
                                <li>被保險人所租用之設備。</li>
                                <li>儲存或記載於磁帶、磁碟、磁片、卡片或其他供資料儲存記載用物品上之資料。</li>
                                <li>玻璃、瓷器、陶器或其他易碎物品。</li>
                                <li>信用卡、金融卡或其他作為簽帳或提款之塑膠卡片。</li>
                            </ol>
                            <p class="text-red">註 4 ：對於下列事項所致之損失，本公司不負理賠責任</p>
                            <ol>
                                <li>生銹、發霉、變色、自然形成或正常使用之耗損、蟲鼠破壞或固有瑕疵。</li>
                                <li>被保險人自行或使人修理、清潔、變更物品所致之損失。</li>
                                <li>直接或間接因暴動、叛亂、革命或政府對前述事件所採取之阻礙、反抗或防禦行為。</li>
                                <li>擦撞、表面塗料剝落或單純之外觀受損而不影響物品原有之功能者。</li>
                                <li>保險標的物內裝液體之流失；但該液體流失導致其他保險標的物之毀損滅失者，不在此限。</li>
                                <li>不明原因之失蹤。</li>
                            </ol>
                        </div>
                    </div>
                    <div data-index="4" class="document-section">
                        <h4>於海外旅遊期間內，所搭乘之班機抵達目的地 6 小時後，仍未領得已登記通關之託運個人行李 。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>航空公司出具之行李延誤證明文件及簽收時間證明文件</li>
                                </ol>
                                <p class="text-red">
                                    註1 ： 同時發生 行李損失 補償 之承保事故時，僅能擇一申請理賠。<br>
                                    註2 ：若行李延誤係屬同一轉機行程發生者 以給付 1 次為限，但 保險期間內以給付 2 次為限。<br>
                                    註3 ：抵達目的地為出發地或居住地者，依所約定之保險金額之 50% 給付保險金 。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-index="5" class="document-section">
                        <h4>於保險期間內，因發生 「 天然災害 」 致預定搭乘之班機遭受取消。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>航空公司出具載有天然災害 因素而被取消原定班機之證明文件</li>
                                    <li>原班機訂位相關證明</li>
                                </ol>
                                <p class="text-red">
                                    註1 ：若班機取消屬同一 出發地或同一轉機行程發生者，以給付 1 次為限，但保險期間內以給付 2 次為限。<br/>
                                    註2 ：對於下列事項，本公司不負理賠責任 。<br/>
                                    ・非因發生天然災害 所致者。<br/>
                                    ・不包括起飛及降落地點皆於台灣本島內之航班 。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-index="6" class="document-section">
                        <h4>於保險期間內，因下列 事故致原預定搭乘之班機延遲起飛或降落原定機場 時間達 3 小時以上 。</h4>
                        <ul class="mb-3">
                            <li>原定班機延遲起飛或降落達 3 小時以上。</li>
                            <li>原定班機因取消或超額訂位致被保險人被拒絕搭乘，實際搭乘之替代班機抵達原定機場時間 較原預定搭乘之班機晚於 3 小時以上。</li>
                            <li>預定之轉接班機因前班班機延 遲 所致之失接，於到達 轉機點 後 3 小時內 不含 未搭乘 其他 轉接班機者 。</li>
                        </ul>

                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>航空公司出具載有取消班機或延誤期間之證明文件</li>
                                    <li>登機證或機票</li>
                                    <li>原班機訂位相關證明</li>
                                </ol>
                                <p class="text-red">
                                    註1：同一出發地或同一轉機行程符合 上述 情形中兩者 含 以 上者，視為一次事故， 以 給付 1 次為限，但符合前述條件者，其 延誤時數可合併計算。 保險期間內以給付 2 次為限 。<br>
                                    註2 ：同時發生 班機改搭補償之承保事故時，僅能擇一申請理賠。<br>
                                    註3 ：不包括起飛及降落地點皆於台灣本島內之航班。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-index="7" class="document-section">
                        <h4>被保險人於保險期間內，因原預定搭乘之班機取消或延遲起飛，致被保險人須「 重新購買 」交通票券以繼續原定行程 。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>航空公司出具載有航空公司出具載有取消取消班機班機或或延誤期間之證明文件延誤期間之證明文件</li>
                                    <li>購買非原定班機或其他交通工具之證明購買非原定班機或其他交通工具之證明文件文件</li>
                                    <li>原班機訂位相關證明原班機訂位相關證明</li>
                                </ol>
                                <p class="text-red">
                                    註1 ：若 班機改搭屬同一出發地或同一轉機行程發生者，以給付 1 次為限， 但 保險期間內以給付 2 次為限。<br>
                                    註2 ：同時發生 班機延誤 補償 之承保事故時，僅能擇一申請理賠。<br>
                                    註3 ：不包括起飛及降落地點皆於台灣本島內之航班。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-index="8" class="document-section">
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>航空公司出具之證明文件</li>
                                </ol>
                                <p class="text-red">
                                    註1：保險期間內以給付 2 次為限。<br/>
                                    註2：不包括加油、臨時停靠或返回起飛機場 。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-index="9" class="document-section">
                        <h4>保險期間開始前7日內，因下列事由致原先預定之旅行行程全部取消。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>共同應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>旅行契約、飛機等交通工具之購票證明、旅館預約證明</li>
                                    <li>申請其他費用理賠時，須檢付費用單據</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>被保險人、配偶、直系血親或同行三親等內親屬(含姻親)住院治療</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>合格醫療機構出具之診斷證明書</li>
                                    <li>身份關係證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>被保險人、配偶或三親等內親屬(含姻親)死亡或病危者(不受前項7日內之限制)</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>合格醫療機構出具之死亡證明書或病危通知書</li>
                                    <li>身份關係證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>出發地或旅遊地發生戰爭、類似戰爭、天然災害、法定傳染病、恐怖攻擊、罷工、暴動或民眾騷擾</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>旅遊地突發事故證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>於預定旅遊期間內須出國工作</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>出差證明文件</li>
                                    <li>登機證明文件或出入境證明</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>住居住所發生天然災害、火災事故須進行修復</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>事故相關證明文件 (例如：事故照片、消防局火災證明)</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>擔任訴訟之證人</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>法院傳票或通知書</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>檢疫之規定 (但被保險人明知或未採取合理之步驟除外)</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>當地海關、警方或衛生單位出具之檢疫證明文件</li>
                                </ol>
                            </div>
                        </div>

                        <p class="text-red">
                            註1： 保險期間內以給付 1 次為限。<br>
                            註2：其他費用是指已預付且無法退還之團費、租車費用、各類門票及交通票券費用。<br>
                            註3：可由旅館業者、航空公司、旅行社或其他票券業者獲得之退款，本公司不負理賠責任 。
                        </p>
                    </div>
                    <div data-index="10" class="document-section">
                        <h4>被保險人因下列事由發生，而致原先預定之旅行必須提早結束返回中華民國境內之住居所或出發地，按約定保額給付。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>共同應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>原預定回程時間及實際返回之相關證明</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>住院 (經醫師診斷其疾病或傷害必須住院並確實在醫院接受診療者)</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>當地合格醫療機構出具之診斷證明書</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>配偶或三親等內親屬(含姻親)死亡或病危</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>合格醫療機構出具之死亡證明書或病危通知書</li>
                                    <li>身份關係證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>旅遊地發生戰爭、類似戰爭、天然災害、法定傳染病、恐怖攻擊、罷工、暴動或民眾騷擾 (但不包含於旅遊出發前已發生者)</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>旅遊地突發事故證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>旅遊地發生天然災害經公共交通工具業者通知需提早返回者</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>公共交通工具業者出具之證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>為照顧住院之三親等親內同行旅遊者</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>當地合格醫療機構出具之診斷證明書</li>
                                    <li>身份關係證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>擔任訴訟之證人</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>法院傳票或通知書</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>檢疫之規定 (但被保險人明知或未採取合理之步驟除外)</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>當地海關、警方或衛生單位出具之檢疫證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <p class="text-red">
                            註1：保險期間內以給付 1 次為限。<br>
                            註2：提早之時間須超過原預定回程之交通工具啟程時間達 12 小時以上。<br>
                            註3：同時發生旅程延誤補償之承保事故時，僅能擇一申請理賠。
                        </p>
                    </div>
                    <div data-index="11" class="document-section">
                        <h4>被保險人於海外旅遊期間內，因下列之事由發生致必須 「 更改預定行程 」 因而產生之費用。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>共同應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>申請實支實付理賠時，應檢附合理額外增加之各項費用收據</li>
                                    <li>登機證明文件(如有必要時需檢附)</li>
                                    <li>原訂位 房 確認證明文件 (如有必要時需檢附)</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>旅行文件因遺失、遭竊、被劫、焚燬或水漬等致毀損滅失或無法使用</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>當地海關、警方出具之事故證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>檢疫之規定 (但被保險人明知或未採取合理之步驟除外)</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>當地海關、警方或衛生單位出具之檢疫證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>出發地或旅遊地發生戰爭、類似戰爭、天然災害、法定傳染病、恐怖攻擊、罷工、暴動或民眾騷擾 (但不包含於旅遊出發前已發生者)</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>旅遊地突發事故證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>駕駛或搭乘之汽車發生交通意外事故</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>當地警方出具之交通事故證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>搭乘之公共交通工具發生交通意外事故、延誤或取消</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>公共交通工具業者 或當地警方出具載有交通事故/取消/延誤期間之證明文件或資訊</li>
                                </ol>
                            </div>
                        </div>
                        <p class="text-red">
                            註1：同時發生旅程縮短補償之承保事故時，僅能擇一申請理賠。<br>
                            註2：給付方式以定額給付及實支實付 擇一申請給付保險金。<br>
                            註3：額外支出費用包括旅行文件重置費用、交通膳食費用、住宿費用及票券費用。<br>
                            註4：前述費用以支付被保險人本人之費用為限，如有同食、同宿及同行者，本公司依人數比例計算保險金。<br>
                            註5：因同一事由已申請班機延誤或班機改搭項目時，本公司僅負住宿費用賠償之責。
                        </p>
                    </div>
                    <div data-index="12" class="document-section">
                        <h4>被保險人於保險期間內，因發生 「 天然災害」造成交通中斷而於旅遊地滯留，而導致額外住宿</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>住宿費用證明</li>
                                    <li>旅遊地突發事故證明文件</li>
                                </ol>
                                <p class="text-red">
                                    註1 ：同時發生旅程縮短補償之承保事故時，僅能擇一申請理賠。<br>
                                    註2 ：給付方式僅以定額給付保險金。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-index="13" class="document-section">
                        <h4>被保險人於保險期間內遭遇劫機事故，自被保險人遭遇劫機之日起，至脫離劫機狀況之日止，按「劫機保險日額」金額乘以劫機期間日數給付劫機保險金。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>住宿費用證明</li>
                                    <li>旅遊地突發事故證明文件</li>
                                </ol>
                                <p class="text-red">
                                    註1 ：劫機期間未滿 24 小時者以一日計。每次最高補償日數以十日為限。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-index="14" class="document-section">
                        <h4>
                            被保險人於保險期間內因食品中毒， 經合格醫師診斷並出具診斷證明書者，按約定保額給付。<br>
                            食物中毒與至少一位同行旅遊者攝取相同的食品而發生相似腸胃炎之症狀。但如因細菌性毒素或急性化學性食品中毒而引起者， 不受人數限制 。
                        </h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>當地合格醫療機構出具之診斷證明書 (2 人以上)</li>
                                    <li>食品中毒事故證明文件 或其他相關證明文件 (必要時本公司得要求出具)</li>
                                </ol>
                                <p class="text-red">
                                    註1：保險期間內以給付 2 次為限。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div data-index="15" class="document-section">
                        <h4>
                            被保險人於海外旅遊期間內，其隨身攜帶或置存於旅館房間內之現金因遭遇竊盜、強盜與搶奪等事故而致損失。<br>
                            現金：現行通用之紙幣、硬幣、支票、匯票或旅行支票。
                        </h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>當地警察機關報案證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <p class="text-red">
                            註1：保險期間內以給付 2 次為限。<br>
                            註2：對於下列事項，本公司不負理賠責任
                        </p>
                        <ol>
                            <li>因被保險人詐欺、背信、侵占或其他犯罪行為所致之損失。</li>
                            <li>因疏忽、錯誤或點查不符所致之損失。</li>
                            <li>因旅館房間未予鎖妥時所發生之損失。</li>
                        </ol>
                    </div>
                    <div data-index="16" class="document-section">
                        <h4>被保險人於海外旅遊期間內，因其所持有之信用卡遺失或遭受竊盜、搶奪而向該信用卡之發行機構掛失或止付前三十六個小時內，因未經授權而遭盜刷之損失，包括信用卡掛失止付及申請重置之費用。前項之損失及費用應扣除該信用卡之發行機構就該信用卡之遺失或遭受竊盜、搶奪事件依約應承擔之部分。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>身份關係證明文件</li>
                                    <li>當地警察機關報案證明 (自行遺失者無需檢附）</li>
                                    <li>掛失止付證明</li>
                                    <li>信用卡帳單 發行機構證明（證明遭盜刷金額）</li>
                                </ol>
                            </div>
                        </div>
                        <p class="text-red">
                            註1 ：應於知悉信用卡遭受竊盜、搶奪後立即向當地警察機關報案並取得報案證明。但自行遺失者不在此限。
                        </p>
                    </div>
                    <div data-index="17" class="document-section">
                        <h4>被保險人於海外旅遊期間內，其置存於國內住居所之住宅建築物或其內之動產，因遭遇竊盜事故而致損失。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 請詳細填具</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>被保險人實際住居所之相關證明文件</li>
                                    <li>警察機關報案證明</li>
                                </ol>
                            </div>
                        </div>
                        <p class="text-red">
                            註1：保險期間內以給付 1 次為限。
                        </p>
                    </div>
                    <div data-index="18" class="document-section">
                        <h4>於海外旅遊期間內，由被保險人或同行旅遊者駕駛租用汽車而發生汽車交通事故。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 請詳細填具</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>租車之證明文件</li>
                                    <li>當地警察機關或租車公司 出具 之交通事故證明文件</li>
                                </ol>
                            </div>
                        </div>
                        <p class="text-red">
                            註1：保險期間內以給付 1 次為限。
                        </p>
                    </div>
                    <div data-index="19" class="document-section">
                        <h4>於海外旅遊期間發生重大傷病或死亡時， 所需支出的下列費用： 親友前往探視或處理善後 、未成年子女送回、醫療轉送、遺體運送、搜索救助之費用。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>共同應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>親友前往探視或處理善後所需之費用 (限國內親友一人)</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>重大傷病證明文件或 死亡證明書</li>
                                    <li>食、宿、交通等相關費用收據正本</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>未成年子女送回費用</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>重大傷病證明文件或 死亡證明書</li>
                                    <li>與其未成年子女間之身份證明文件</li>
                                    <li>食、宿、交通等相關費用收據正本</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>醫療轉送費用</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>重大傷病證明文件</li>
                                    <li>轉送相關費用收據正本</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>遺體運送費用</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>死亡證明書</li>
                                    <li>運送相關費用收據正本</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>搜索救助費用需警察、政府機關或搜救組織已開始搜救</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>事故發生之相關證明文件</li>
                                    <li>費用單據正本</li>
                                    <li>委託他人救援之委託文件</li>
                                </ol>
                            </div>
                        </div>
                        <p class="text-red">
                            註1： 未成年子女送回部分除未滿 20 歲之子女外，尚有陪同照護人員一人之必要費用 。<br>
                            註2：搜索救助費用 項目 僅針對乘坐之公共交通工具遭遇意外事故而 行蹤不明或因意外事故失蹤或因迷途、傷病受困 。
                        </p>
                    </div>
                    <div data-index="20" class="document-section">
                        <h4>被保險人因從事國內旅行活動發生急難事故，且旅遊地點及事故地點均於國內地區，所需支出的下列費用：親友前往探視或處善後 、醫療轉送、搜索救助之費用。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>共同應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>醫療轉送費用</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>重大傷病證明文件</li>
                                    <li>轉送相關費用收據正本</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>搜索救助費用 (需警察、政府機關或搜救組織已開始搜救)</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>事故發生之相關證明文件</li>
                                    <li>費用單據正本</li>
                                    <li>委託他人救援之委託文件</li>
                                </ol>
                            </div>
                        </div>
                        <p class="text-red">註1 ：搜索救助費用 項目 僅針對乘坐之公共交通工具遭遇意外事故而 行蹤不明或因意外事故失蹤或因迷途、傷病受困。</p>
                    </div>
                    <div data-index="21" class="document-section">
                        <h4>被保險人於從事國內旅行活動期間內，其旅行文件因遺失、遭竊、被劫、焚燬或水漬等致毀損滅失或無法使用而重置旅行文件 。</h4>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>理賠應備文件</h4>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li>理賠申請書 (請詳細填具)</li>
                                    <li>存摺影本 (保險金採匯款方式領取時之必備文件)</li>
                                    <li>身份證、印章 (於櫃檯辦理理賠時所需相關證明文件)</li>
                                    <li>旅行文件之毀損滅失證明</li>
                                    <li>旅行文件重置之費用單據</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <h4 class="mb-1">準備好證明及填妥文件後，聯繫理賠專員或透過以下方式提供給國泰：</h4>
                    <a href="../helper/8-6-0.html" target="_blank">
                        <i class="icon-arrow-right"></i>
                        <span>前往附近據點交付申請文件</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<div role="modal" data-modal-id="claim-detail" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h2 class="modal-title">旅綜險快速理賠服務說明</h2>
        </div>
        <div class="modal-body">
            <p>    
                國泰產險提供投保旅遊保險(限海外且個人件)客戶，如於要保書申請快速理賠服務，並填寫被保險人手機號碼、航班日期及編號且通過檢核者，當班機發生延誤且符合理賠標準時，本公司將主動以簡訊通知被保險人回傳登機證及存摺影本，即可完成理賠申請。 
            </p>
            <p>
                快速理賠服務限制：<br>
                僅限申請班機延誤(定額型)項目者使用(班機取消不適用)<br>
                僅限投保旅遊綜合保險之個人件保戶<br>
                投保時須申請快速理賠服務，並填寫被保險人手機號碼、航班日期及編號 (僅提供輸入台灣起降之航班，至多二班)<br>
                班機去程起飛與回程降落時間須於保險期間內
            </p>
            <p class="text-red">
                註：未申請快速理賠服務、資料不齊或錯誤致申請不成功，不影響保險權益，保戶如有發生符合理賠項目但未收到簡訊通知，或是有其他理賠需求，仍可照現行方式填寫理賠申請書臨櫃或郵寄辦理。
            </p>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary">我知道了</a>
        </div>
    </div>
</div>
<div role="modal" data-modal-id="form-detail" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h2 class="modal-title">表格回傳說明</h2>
        </div>
        <div class="modal-body">
            <p>建議年滿20歲之被保人都可自行回傳</p>
            <p class="text-red">
                註：網路回傳限要/被保人為同一人之客戶。
            </p>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary">我知道了</a>
        </div>
    </div>
</div>
<!-- /build:content -->