<!-- build:body -->claim<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./claim.html">我要理賠</a></li>
                    <li class="active"><a href="#">汽車及機車</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner claim with-card">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1>
                        發生車禍時，<br class="d-block d-md-none"/>讓國泰來幫助你省心理賠
                    </h1>
                    <div class="desp">
                        發生事故時，跟著以下步驟簡單搞定現場麻煩事，理賠時只需準備：汽機車行照、駕駛人駕照和警方事故聯單就可以線上申請理賠，理賠真簡單。
                    </div>
                    <div class="action mt-2">
                        <a href="./auth-14-1-0.html" class="btn btn-primary ml-0">線上申請理賠</a>
                        <a data-anchor="document" class="btn btn-outline">查詢應備文件</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <h4 class="mt-0 mb-1">
                            免付費專線<br/>
                            <a href="tel:0800-212-880" target="_blank">0800-212-880</a>
                        </h4>
                        <p class="text text-gray">
                            <small>
                                承保、理賠服務    每日 08:30-21:00<br/>
                                車險事故處理諮詢   21:00 - 翌日 08:30<br/>
                                24小時道路救援專線   0800-020-345
                            </small>
                        </p>
                        <a href="../helper/8-4-0.html" target="_blank" class="btn btn-default btn-sm ml-0">聯繫客服</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-3">
        <h1 class="text-center mt-0">一般理賠流程</h1>
        <div class="progress">
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-start.png" srcset="../img/claim/process-start@2x.png"></div>
                <div class="content">
                    <h4><span class="number">1</span> 通知人員</h4>
                    <p class="text-gray">
                        有傷者時，立即送醫急救；車輛起火燃燒時，立即通報消防隊，並報警與聯絡保險公司
                    </p>
                    <a href="tel:119" target="_blank" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">撥打救護車或消防隊 119</span>
                    </a>
                    <p class="text-gray">
                        並同時報警與聯絡保險公司
                    </p>
                    <a href="tel:110" target="_blank" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">警察報案專線 110 </span>
                    </a>
                    <a href="tel:0800-212-880" target="_blank" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">0800-212-880</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-record.png" srcset="../img/claim/process-record@2x.png"></div>
                <div class="content">
                    <h4><span class="number">2</span> 拍照存證</h4>
                    <p class="text-gray">
                        肇事責任的歸屬以出險當時之實際狀況研判，若破壞現場亦就是毀壞最直接証據，造成日後肇事責任爭執及理賠時之糾紛。<span class="text-orange">勿任意承諾對方各項賠償請求</span>或放棄向對方求償權利，以免違反保險契約之約定。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-check.png" srcset="../img/claim/process-check@2x.png"></div>
                <div class="content">
                    <h4><span class="number">3</span> 事故說明</h4>
                    <p class="text-gray">
                        向警察敘述出險情形，並注意對方所描述之真實性，設法及時舉証予以更正。並要求記錄各項損壞程度。 製作筆錄要求簽名時，應仔細看清描圖是否正確，如有不明或誤差時需更正後才可認簽。 
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-document.png" srcset="../img/claim/process-document@2x.png"></div>
                <div class="content">
                    <h4><span class="number">4</span> 申請理賠</h4>
                    <p class="text-gray">
                        事故發生後<span class="text-orange">五日內</span>通知保險公司。
                    </p>
                    <p class="text-gray">
                        不想準備眾多資料嗎？試試看線上理賠申請吧！
                    </p>
                    <a href="./auth-14-1-0.html" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">線上理賠申請</span>
                    </a>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                <div class="content">
                    <h4><span class="number">5</span> 等待結果</h4>
                    <p class="text-gray">
                        加入LINE官方帳號，理賠進度隨時掌握。
                    </p>
                    <a href="https://line.me/R/ti/p/%40cathay-ins" target="_blank" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">加入 LINE 好友</span>
                    </a>
                    <p class="text-gray">線上理賠進度查詢進度</p>
                    <a href="./auth-14-1-0.html" class="item text-green">
                        <i class="icon-arrow-right"></i>
                        <span class="text">理賠進度與紀錄查詢</span>
                    </a>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <h1 class="section-title">查詢理賠應備文件</h1>
            <div class="pop-menu d-block d-lg-none">
                <select name="document-menu" class="select2">
                    <option value="1">強制汽車責任保險</option>
                    <option value="2">汽車第三人責任保險</option>
                    <option value="3">汽車車體損失險</option>
                    <option value="4">汽車竊盜損失保險</option>
                    <option value="5">自用小汽車額外費用補償保險</option>
                </select>
            </div>
            <div class="row">
                <div class="d-none d-lg-block col-lg-3 document-items">
                    <h4>選擇理賠項目</h4>
                    <div class="radio d-block">
                        <input type="radio" id="claim-1" name="claim" value="1" checked>
                        <label for="claim-1">強制汽車責任保險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-2" name="claim" value="2">
                        <label for="claim-2">汽車第三人責任保險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-3" name="claim" value="3">
                        <label for="claim-3">汽車車體損失險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-4" name="claim" value="4">
                        <label for="claim-4">汽車竊盜損失保險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-5" name="claim" value="5">
                        <label for="claim-5">自用小汽車額外費用補償保險</label>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <h4>請根據以下列表以準備文件</h4>
                    <div class="download-block">
                        <div class="row">
                            <div class="col-12 col-lg-9">
                                <h4>下載文件並填寫</h4>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>理賠申請書</span>
                                </a>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>強制險請求給付申請書</span>
                                </a>
                                <a href="#" class="d-block d-md-inline-block">
                                    <i class="icon-download"></i>
                                    <span>特別個資同意書</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">全部下載</a>
                            </div>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="panel">
                            <div class="panel-header">
                                <h4>傷害醫療給付</h4>
                            </div>
                            <div class="panel-body">
                                <p>請準備以下文件：</p>
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>請求權人身分證明。</li>
                                    <li>警憲機關處理證明或其他相關證明文件正本。</li>
                                    <li>合格醫師診斷書及視需要之病例相關資料。</li>
                                    <li>就診之合格醫療院所開立之醫療費用收據或影本加蓋與正本相符及醫療機構收據專用章。</li>
                                    <li>領款人存摺封面影本。</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>失能給付</h4>
                            </div>
                            <div class="panel-body">
                                <p>請準備以下文件：</p>
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>請求權人身分證明。</li>
                                    <li>警憲機關處理證明或其他相關證明文件正本。</li>
                                    <li>
                                        就診之合格醫療院所開立之醫療費用收據或影本加蓋與正本相符及醫療機構收據專用章。<br/>
                                        在離島地區無前述層級醫院者，得檢具合格醫師開具之甲種診斷書。
                                    </li>
                                    <li>
                                        同意複檢聲明書。<br/>
                                        <small class="desc text-gray">
                                            本公司對於失能等級有疑義時，得要求受害人提供甲種診斷書或至經衛生署公告並依法評鑑合格之地區教學醫院以上之醫院，予以檢驗查證，所生費用由本公司負擔。
                                        </small>
                                    </li>
                                    <li>領款人存摺封面影本。</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="panel">
                            <div class="panel-header">
                                <h4>汽車第三人傷害責任險體傷</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>如本公司無法查詢或釐清肇事責任時，為維護保戶權益，煩請供憲警單位處理證明文件或肇事責任鑑定書。</li>
                                    <li>診斷書。</li>
                                    <li>醫療費收據。</li>
                                    <li>療養費收據。</li>
                                    <li>和解書或判決書。</li>
                                    <li>身分證明或關係證明文件。</li>
                                    <li>領款人存摺封面影本。</li>
                                    <li>行車執照、駕駛執照影本。</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>汽車第三人傷害責任險死亡</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>如本公司無法查詢或釐清肇事責任時，為維護保戶權益，煩請供憲警單位處理證明文件或肇事責任鑑定書。</li>
                                    <li>死亡證明書。</li>
                                    <li>除戶戶口名簿影本。</li>
                                    <li>和解書或判決書。</li>
                                    <li>行車執照、駕駛執照影本。</li>
                                    <li>領款人存摺封面影本。</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4>汽車第三人責任險財損</h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>如本公司無法查詢或釐清肇事責任時，為維護保戶權益，煩請供憲警單位處理證明文件或肇事責任鑑定書。</li>
                                    <li>估價單或損失清單。</li>
                                    <li>發票或其他收據。</li>
                                    <li>財物受損照片。</li>
                                    <li>和解書或判決書。</li>
                                    <li>行車執照、駕駛執照影本。</li>
                                    <li>領款人存摺封面影本。</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="panel">
                            <div class="panel-header">
                                <h4>汽車車體損失險 </h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>理賠申請書(由本公司提供)，並由被保險人親自填寫其所載內容。 如被保險人死亡或受重大傷害時，得由其配偶或同居家屬代為填寫。</li>
                                    <li>憲警機關處理證明或事故證明文件。</li>
                                    <li>汽車行車執照及駕駛人駕駛執照影本。</li>
                                    <li>車輛受損照、維修照片、施工照、修車估價單及修妥後發票。</li>
                                    <li>實際全損或推定全損者，加附公路監理機關報廢證明文件。</li>
                                    <li>領款人存摺封面影本。</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="panel">
                            <div class="panel-header">
                                <h4>汽車竊盜損失保險件 </h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li>理賠申請書（請詳細填具）</li>
                                    <li>警方之報案證明文件正本。</li>
                                    <li>汽車鑰匙。</li>
                                    <li>汽車出廠證明或進口證明書及貨物完稅證明正本。</li>
                                    <li>繳稅收據（牌照、燃料使用費）正本或副本。</li>
                                    <li>汽車註銷牌照登記申請書(須辦妥註銷手續)。</li>
                                    <li>汽車新領牌照登記申請書。</li>
                                    <li>汽車過戶登記申請書二份(須蓋妥車主印鑑章)。</li>
                                    <li>保險單、保險卡(證)及收據。</li>
                                    <li>抵押貸款車輛應向監理單位辦妥抵押註銷手續。</li>
                                    <li>車主身份證正反面影本或公司營業執照證明影本。</li>
                                    <li>汽車異動證明書二份。(須蓋妥車主印鑑章)。</li>
                                    <li>讓與契約書(由本公司提供)。</li>
                                    <li>領款人存摺封面影本。</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="panel">
                            <div class="panel-header">
                                <h4>自用小汽車額外費用補償保險 </h4>
                            </div>
                            <div class="panel-body">
                                <p>準備以下文件：</p>
                                <ol>
                                    <li> 理賠申請書（請詳細填具）</li>
                                    <li> 被保險汽車行照影本。</li>
                                    <li> 駕駛人駕照影本。</li>
                                    <li> 申請拖吊費用與交通費用時，加附汽車拖吊簽認四聯單或發票影本。</li>
                                    <li> 因機械故障拖吊者，加附修理廠之維修明細及發票影本。</li>
                                    <li> 申請住宿費時，加附發票正本。</li>
                                    <li> 申請代車費用時，加附修理廠維修明細及交通事故證明文件。</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-1">準備好證明及填妥文件後，聯繫理賠專員或透過以下方式提供給國泰：</h4>
                    <a href="../helper/8-6-0.html" target="_blank">
                        <i class="icon-arrow-right"></i>
                        <span>前往附近據點交付申請文件</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->