<!-- build:body -->claim<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./claim.html">我要理賠</a></li>
                    <li class="active"><a href="#">信用卡綜合保險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner claim with-card">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1>
                        旅遊發生事故時，刷信用卡保障多一點
                    </h1>
                    <div class="desp">
                        知道嗎，刷信用卡也有保障班機延誤、行李延誤、旅行文件失竊、意外傷害醫療補助等，只要持卡人依照以下步驟，即可輕鬆完成理賠，理賠真簡單。
                    </div>
                    <div class="action mt-2">
                        <a data-anchor="document" class="btn btn-outline">查詢應備文件</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <h4 class="mt-0 mb-1">
                            免付費專線<br/>
                            <a href="tel:0800-212-880" target="_blank">0800-212-880</a>
                        </h4>
                        <p class="text text-gray">
                            <small>
                                承保、理賠服務    每日 08:30-21:00<br/>
                                車險事故處理諮詢   21:00 - 翌日 08:30<br/>
                                24小時道路救援專線   0800-020-345
                            </small>
                        </p>
                        <a href="../helper/8-4-0.html" target="_blank" class="btn btn-default btn-sm ml-0">聯繫客服</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container pt-3">
        <h1 class="text-center mt-0">一般理賠流程</h1>
        <div class="progress">
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-start.png" srcset="../img/claim/process-start@2x.png"></div>
                <div class="content">
                    <h4><span class="number">1</span> 現場取得證明文件</h4>
                    <p class="text-gray">
                        發生班機延誤、行李延誤、旅行文件失竊、意外傷害醫療，請立即向當地取得機關取得延誤證明、警方報案證明、診斷證明等資料，如果為行李延誤案件務必取得領回行李的證明或簽收單，信用卡保險為刷卡附贈的附加服務，若退刷則無法享有各項權利。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-document.png" srcset="../img/claim/process-document@2x.png"></div>
                <div class="content">
                    <h4><span class="number">2</span> 現場支付單據之保存</h4>
                    <p class="text-gray">
                        信用卡保險為實支實付給付，需檢附相關收據正本，故務必事故當地取得相關正本文件。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-verify.png" srcset="../img/claim/process-verify@2x.png"></div>
                <div class="content">
                    <h4><span class="number">3</span> 刷卡支付機票或團費之證明</h4>
                    <p class="text-gray">
                        檢附由被保險人刷卡支付機票、團費之信用卡月結帳單，旅行社代收轉付收據(須註明旅行航程)、購買機票之航程與票價資訊。
                    </p>
                </div>
            </div>
            <div class="progress-item">
                <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                <div class="content">
                    <h4><span class="number">4</span> 理賠申請</h4>
                    <p class="text-gray">
                        需於事故發生兩年內，向保險公司提出理賠請並提出理賠文件，若有缺漏保險公司會主動聯繫被保險人，如有任何不明瞭之處，可隨時向承辦人員詢問。
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <h1 class="section-title">查詢理賠應備文件</h1>
            <div class="pop-menu d-block d-lg-none">
                <select name="document-menu" class="select2">
                    <option value="1">國泰世華銀行、匯豐銀行、第一銀行、日盛銀行信用卡綜合保險理賠</option>
                    <option value="2">花旗銀行信用卡綜合保險理賠</option>
                </select>
            </div>
            <div class="row">
                <div class="d-none d-lg-block col-lg-3 document-items">
                    <h4>選擇理賠項目</h4>
                    <div class="radio d-block">
                        <input type="radio" id="claim-1" name="claim" value="1" checked>
                        <label for="claim-1">國泰世華銀行、匯豐銀行、第一銀行、日盛銀行信用卡綜合保險理賠</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="claim-2" name="claim" value="2">
                        <label for="claim-2">花旗銀行信用卡綜合保險理賠</label>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="document-section">
                        <h4>請根據以下列表以準備文件</h4>
                        <div class="download-block">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <h4>下載文件並填寫</h4>
                                    <a href="#" class="d-block d-md-inline-block">
                                        <i class="icon-download"></i>
                                        <span>信用卡綜合保險理賠申請書</span>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                    <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">全部下載</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="document-section">
                        <h4>請根據以下列表以準備文件</h4>
                        <div class="download-block">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <h4>下載文件並填寫</h4>
                                    <a href="#" class="d-block d-md-inline-block">
                                        <i class="icon-download"></i>
                                        <span>花旗銀行信用卡綜合保險理賠申請書</span>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                    <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">全部下載</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <h4 class="mb-1">準備好證明及填妥文件後，聯繫理賠專員或透過以下方式提供給國泰：</h4>
                    <a href="../helper/8-6-0.html" target="_blank">
                        <i class="icon-arrow-right"></i>
                        <span>前往附近據點交付申請文件</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->