<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item active">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            
                            <a href="./company-15-3-0_4-3.html" role="button" class="item">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <h2 class="mt-0">關鍵成果</h2>
                    <article>
                        <h4 class="title-border">損害防阻研討會</h4>
                        <p>國泰產險因應產業趨勢及環境變化, 提供最新風險管理資訊, 自2005年起連續<span class="text-red">15</span>年, 共舉辦37場損害防阻研討會, 累積參與客戶數超過<span class="text-red">3,900</span>人次</p>

                        <h4 class="title-border">不意外騎士</h4>
                        <p>因應車禍事故主要集中於18-24歲族群，國泰產險自2015年起推廣大專學生機車安全騎乘講習課程，活動橫跨臺灣<span class="text-red">15</span>個縣市，自活動開辦至今共<span class="text-red">82</span>場校園活動、觸及學生超過<span class="text-red">10,200</span>名。</p>

                        <h4 class="title-border">不意外學園</h4>
                        <p>國泰產險秉持當責的核心精神，串聯內外部資源，發揮保險公司「損害防阻」的核心能力，針對意外事故發生比例最高的「國小」遊樂場所，規劃、設計活動。自2012年7月起，經過7個年頭的持續努力，我們一共完成了77所國小安全檢測，94場活動，接觸超過16,800名國小、幼兒園學童，推廣地點從北到南一共橫跨了14個縣市。</p>

                        <h4 class="title-border">幸福職場</h4>
                        <ul>
                            <li>育嬰留停復職(回任)率：公司2018年全體復職率為87.0%
                                <table class="table table-striped mt-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>育嬰留停申請人次</th>
                                            <th>應復職人次</th>
                                            <th>已復職人次</th>
                                            <th>復職率</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>女性</td>
                                            <td>21</td>
                                            <td>20</td>
                                            <td>17</td>
                                            <td>85.0%</td>
                                        </tr>
                                        <tr>
                                            <td>男性</td>
                                            <td>4</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>100.0%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>家庭照護相關假與生理假人次
                                <table class="table table-striped mt-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>家庭照護假</th>
                                            <th>產（陪產）假</th>
                                            <th>生理假</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>女性</td>
                                            <td>9</td>
                                            <td>45</td>
                                            <td>89</td>
                                        </tr>
                                        <tr>
                                            <td>男性</td>
                                            <td>2</td>
                                            <td>40</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->