<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            <a href="./company-15-3-0_4-3.html" role="button" class="item">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item active">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <h2 class="mt-0">客戶服務</h2>
                    <p>國泰產險與時俱進，具體展現集團核心「創新」精神於客戶體驗之提升，舉凡融合環保概念之客製化保險商品設計及數位、便利之保險服務提供等，並定期執行內、外部客戶滿意度調查，確保滿足客戶實際需求。</p>
                    <article>
                        <h4 class="title-border">客製化車險保單</h4>
                        <p>為鼓勵汽車駕駛透過減少開車時數進而達到碳減排效果，國泰產險預定將推出基於駕駛行為和車輛相關數據結合的客制化保險商品-「汽車保險駕駛行為計費（UBI, Usage-Based Insurance）保險」 以駕駛時段計算保險費，提供車主降低使用汽車里程數之誘因，共創低碳雙贏之永續目標。</p>
                        <img src="../img/company/PFB5_0304/comstomer-service-car.png">

                        <h4 class="title-border">行動化服務</h4>
                        <p>國泰旅遊御守APP，讓保戶把旅遊綜合保險與信用卡綜合保險的繁複保障項目及理賠說明，放在手機帶著走。發生意外時，保戶亦可利用內建的旅遊不便狀況步驟處理，以保障權益。</p>
                        <img src="../img/company/PFB5_0304/comstomer-service-travel.png">
                        
                        <h4 class="title-border">數位服務平台</h4>
                        <p>數位服務平台包括「客戶自助服務平台」及「客服整合服務平台」。客戶加入會員後，可在自助服務平台查詢保單、申請理賠、續保繳費等，並在客服端提供查詢、受理等相對應的服務，以利在客戶進線尋求協助時，可立即在電話上解決客戶需求。</p>
                        <p>為進一步提升客戶體驗，國泰產險與 LINE 合作，將數位服務導入LINE官方帳號，並結合Business Connect功能，在LINE上提供個人化主動通知，讓客戶可隨時隨地取得需要的保險服務，彷彿擁有一位貼身保險管家，隨時在身邊待命協助。</p>
                        <img src="../img/company/PFB5_0304/comstomer-service-platform.png">
                        
                        <h4 class="title-border">數位智能服務</h4>
                        <p>2017年8月與兆豐保險聯合攜手KPMG推出「海外旅綜險班機延誤快速理賠服務」，運用保險科技 （InsurTech）整合航班資訊查詢功能，將保戶於投保時提供之航班資料，搭配智能合約自動檢查班機抵達目的地時間、延誤條件等，在確認保戶所搭乘航班延誤並符合理賠條件時，主動通知保戶申請理賠，節省客戶許多的時間。</p>
                        <p>在快速理賠服務推出後，國泰產險仍持續思考如何將流程優化，因此進一步與航空公司合作，只要保戶於投保時提供護照號碼，班機發生延誤時，本公司將透過航空公司協助確認是否實際搭機，直接將理賠金轉入保戶的帳戶，讓保戶感受到國泰產險更貼心的服務。</p>
                        <img src="../img/company/PFB5_0304/comstomer-service-02.png">

                        <h4 class="title-border">定期調查顧客滿意度，確保客戶體驗</h4>
                        <p>國泰產險每年均委託山水民意研究股份有限公司針對過去一年曾經撥打過0800專線或有過理賠經驗以及新契約保戶為對象進行外部抽樣電話訪查；對內亦自行辦理滿意度調查作業，針對每件車險、傷害險、健康險與旅綜險賠案完成付款後，透過簡訊寄發滿意度網頁連結網址方式進行客戶理賠滿意度調查，定期彙整回收「保戶滿意度調查表」樣本資料統計滿意度結果，以作為服務品質改善之參考依據。</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->