<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item active">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            
                            <a href="./company-15-3-0_4-3.html" role="button" class="item">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <h2 class="mt-0">關鍵成果</h2>
                    <div>2018年國泰產險獲獎肯定大紀事</div>

                    <article>
                        <img src="../img/company/PFB5_0302/environment-key-results.jpg">
                        <h4 class="title-border">再生能源發電融資及設備保險</h4>
                        <p>國泰產險針對綠能產業建造階段風險，提供適合工程保險商品，自2010年起承保水力發電電廠及太陽光電發電設備建造階段之工程險。2016年配合國泰世華銀行離岸風力發電聯貸案，承接離岸風電工程保險業務，成為國內首家提供離岸風機保險保障之產險公司，提供綠能產業發展之基本保障。2018年承保金額統計如下：</p>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>綠能產業</th>
                                    <th class="text-left">承保保額（新台幣）</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>水力發電</td>
                                    <td class="text-left">4.7億元</td>
                                </tr>
                                <tr>
                                    <td>太陽能</td>
                                    <td class="text-left">317.1億元</td>
                                </tr>
                                <tr>
                                    <td>離岸風力發電</td>
                                    <td class="text-left">201.8億元</td>
                                </tr>
                            </tbody>
                        </table>

                        <h4 class="title-border">大眾運輸系統之營造綜合保險</h4>
                        <p>國泰產險承接大眾運輸系統之營造綜合保險，提供保障予捷運及輕軌建造階段，因各種天災及意外事故所致損失風險及第三人責任風險。承保工程累積保額統計如下：</p>
                        <ul>
                            <li>1996年度承接台北都會區大眾捷運系統工程松山線（目前累積保額509.5億元）。</li>
                            <li>2012年臺中捷運烏日文心北屯線工程（目前累積保額375.3億元）。</li>
                            <li>2015年承接淡海輕軌運輸系統計劃第一期統包工程（目前累積保額43.3億元）。</li>
                            <li>2016年承接高雄環狀輕軌捷運建設（第二階段）統包工程（目前累積保額17.4億元）。</li>
                            <li>2016年承接新北市三鶯線捷運系統計畫統包工程（目前累積保額50.9億元）。</li>
                            <li>2018年承接桃園捷運線GC01標高架段土建統包工程（目前累積保額19.2億元）。</li>
                        </ul>

                        <h4 class="title-border">綠能環保車險：</h4>
                        <p>
                            國泰產險於2013年推出「綠能環保車險」，為國內首張綠能概念商品，至2018年底，累積共計19,863輛車投保，在配合政府扶持綠能產業的原則下，同時鼓勵支持環保的汽車駕駛人，幫助台灣交通工具轉型。
                        </p>

                        <h4 class="title-border">自行車保險：</h4>
                        <p>國泰產險2016年針對自行車險，率先業界推出「自行車保險專案」，可彌補自行車族無保險保障的風險缺口，2018年承保件數達1,166件。國泰產險並接受產險公會委託規劃，於2018年6月推出台灣首張「公共自行車傷害險」保單，2018年已承保台北市、新北市、桃園市、台南市及高雄市等五縣市，鼓勵更多人加入騎乘自行車的行列，更可彌補公共自行車族無保險保障的風險缺口，滿足綠色消費者的多元需求。</p>

                        <h4 class="title-border">低碳綠能產業之投資關注</h4>
                        <p>為協助低碳永續家園建立，國泰產險支持推動再生能源產業發展，提高對低碳綠能產業之投資關注，並依金控集團低碳投資定義標準，每季檢視及更新投資觀察名單，期許促進環境與經濟共同成長。</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->