<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item active">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            
                            <a href="./company-15-3-0_4-3.html" role="button" class="item">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <h1 class="my-0">
                        總經理的話
                    </h1>
                    <div class="subtitle">最偉大的小事，成就永續的美好</div>
                    <article>
                        <p>
                            在面對「永續發展」的遠大願景，很多人忽略了能夠改變一切的，其實是那些看似微不足道的小事。就如同歷史上最偉大的構圖「蒙娜麗莎像」，達文西在作畫時，選擇的筆刷是他此生用過最細小的一支！
                        </p>
                        <p>
                            國泰產險成立至今已逾20餘年，這些年國泰在永續大環境中扮演的是「以人為本，從我作起」的企業角色，時時期許在公司穩健的財務獲利基礎上，能夠凝聚組織上下員工的共識，並發揮產險「損失預防及補償」的核心職能，領頭傳遞全民永續行動的力量，善盡企業社會責任。
                        </p>
                        <p>
                            身為台灣第一間自行遵循永續保險原則（Principles for Sustainable Insurance, PSI）的產險公司，國泰產險對內鼓勵同仁從「心」出發，改變大環境從小事做起開展對永續的實踐，如：提高數位管理工具使用率，建立無紙低碳行銷流程，以降低服務過程對環境的衝擊；對外，我們將核心職能「損害防阻」結合公益關懷，無償地推廣風險管理知識及提供專業檢測，對象遍及國小校園、大專院校、企業車隊、公司行號。
                        </p>
                        <p>
                            而隨著氣候變遷議題對全球影響甚劇，國泰產險更將保險本業結合環保倡議，積極投入綠色保險商品的研發，如：首創產險業推出「綠能環保車保險」、「公共自行車保險」，同時承保太陽光電、離岸風力及水力發電產業，以支持綠色再生能源產業轉型，此外，我們亦重視金融包融性，保障議題涵括老齡風險管理、農民災損補償及弱勢照顧，我希望有一天國泰產險能夠盡一已之力，讓保險也可以達到大同世界的理想，使人有所保，建構普世的守護。
                        </p>
                        <p>
                            我深信永續不是一朝一夕，最微小的行動勝過最偉大的打算，未來我將作為國泰產險的永續領隊，攜手員工、保戶及社會大眾持續傳遞為永續生活環境帶來美好改變的行動力，共同實現由內而外的全人幸福願景。
                        </p>
                    </article>
                    <div class="text-right">
                        <img src="../img/company/PFB5_0301/manager-photo.png" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->