<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item active">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            
                            <a href="./company-15-3-0_4-3.html" role="button" class="item">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <ul class="tab is-pill pl-0" role="tab">
                        <li class="active"><a role="tab-item" data-tab-id="tab-1">老齡風險管理</a></li>
                        <li><a role="tab-item" data-tab-id="tab-2">農民災損補償</a></li>
                        <li><a role="tab-item" data-tab-id="tab-3">弱勢照顧</a></li>
                        <li><a role="tab-item" data-tab-id="tab-4">推動全民運動</a></li>
                    </ul>

                    <div class="tab-pane">
                        <div class="tab-content active" data-tab-id="tab-1">
                            <article>
                                <p>聯合國人口基金會（UNFPA）：21世紀最重要的危機之一就是「人口老化」，臺灣將於2018年進入高齡社會（65歲以上人口占總人口比率達14%）、2026年邁入超高齡社會（65歲以上人口占總人口比率達到20%），從高齡社會跨入超高齡社會，僅剩下7年時間可以準備，相較於世界各國，進程甚是快速，直接面對可能產生的龐大醫療費用及長期照護需求。</p>

                                <h4 class="title-border">「世紀常青」老年安全最佳選擇</h4>
                                <p>國泰產險看見高齡社會的需求，針對65歲（含）以上之銀髮族推出專屬的「世紀常青」個人傷害保險專案，商品特色除免體檢外，更提供老年人最可能需要的醫療費用給付及人工髖關節、膝關節及水晶體等醫材購置補助，成為老年生活安全之最佳後盾選擇。</p>

                                <div class="text-center">
                                    <img src="../img/company/PFB5_0303/society-elder.png" height="281" />
                                </div>
                            </article>
                        </div>
                        <div class="tab-content" data-tab-id="tab-2">
                            <article>
                                <p>因全球暖化造成氣候環境之劇烈變遷，天然災害發生之強度及頻率不斷增加，農業生產風險提高，依賴政府預算支應的天然災害救助已不足以保障農民的收益及財產安全，透過保險可協助政府將每年不確定的災損救助經費轉換成每年固定支出的保費補助，亦可使農民能獲得較災害救助金額高的保險理賠。</p>

                                <h4 class="title-border">「芒果農作物保險」維護農民財產安全</h4>
                                <p>配合政府通過之農業政策方向，國泰產險除了推出基本的「政府災害連結型芒果保險」承保芒果之颱風、豪雨、寒害損失外，另提供「區域收成型芒果保險」，以區域收穫量做判斷，當實際收穫量低於保證收穫量時即可理賠，使農民投保更具彈性，期能透過保險機制，降低農民農業經營風險，避免農民看天吃飯，當農損發生時能獲得足夠補償。</p>
                                <div class="text-center">
                                    <img src="../img/company/PFB5_0303/society-farmer.png" alt="" srcset="">
                                </div>
                            </article>
                        </div>
                        <div class="tab-content" data-tab-id="tab-3">
                            <article>
                                <p>在全球以「消弭貧窮」為目標奮力行動的同時，也意識到金融服務的可及性正影響著每個人的日常生活，目前全球已有多達50個國家將提高整體金融包容性列為目標，藉由提升金融服務之「可及性（access）」、「使用性（usage）」及「品質（quality）」，提高人們面對意外時的風險承受度。國泰產險致力打造普世守護，自2010年起響應政府協助推動微型保險，開辦以來，已提供超過51萬人次之經濟或社會弱勢者在有限的資源內，有效控管風險，為客戶打造一個更有保障的未來。</p>

                                <h4 class="title-border">「微型團體保險」為經濟弱勢撐起一支保護傘</h4>
                                <p>國泰產險提供「微型團體保險」，以強化經濟弱勢者或特定身分者之身故、失能及傷害醫療基本保險保障，並於官網設立「微型保險專區」提供相關保險服務，同時編列經濟弱勢投保資助金，為經濟弱勢撐起一支保護傘，傑出表現更曾獲金管會頒發「推廣微型保險成效卓越獎」肯定。</p>
                                
                                <div class="text-center">
                                    <img src="../img/company/PFB5_0303/society-disadvantaged.jpg">
                                </div>
                            </article>
                        </div>
                        <div class="tab-content" data-tab-id="tab-4">
                            <article>
                                <img src="../img/company/PFB5_0303/society-movement-1.jpg">

                                <p>國泰產險推動全民運動不遺餘力，不僅協同集團資源全力打造健康員工、幸福企業，並運用企業的力量支持體育產業發展，在內部員工運動促進及運動產業支持程度等面向皆曾獲體育署「運動企業認證」之肯定。</p>

                                <h4 class="title-border">國泰家庭日</h4>
                                <p>國泰產險期許成為幸福企業，堅信讓員工擁有健康和快樂是本公司的義務，亦是企業競爭力的根本。而員工的健康、快樂與幸福的家庭生活有很高的關聯性，因此，早至2007年即開始配合金控集團舉辦「國泰家庭日」活動。本活動最主要的目的是希望員工在辛勤工作之餘，假日能夠好好地跟家人朋友一起出去走走，並且透過一起參與運動競賽、表演、遊戲…等活動，除了可補充平日缺乏的運動量外，更能加深對家人情感的聯繫、紓發平日工作壓力，讓大人、小孩都能擁有一個愉快的假期。</p>
                                <img src="../img/company/PFB5_0303/society-movement-2.png">

                                <h4 class="title-border">國泰鐵人隊</h4>
                                <p>國泰產險成立全台灣第一個由企業贊助的鐵人隊，主要以培育台灣選手、推動台灣運動發展，並結合公益關懷，以及希望透過鐵人隊實質的協助與影響力，讓企業員工達到身心健康的目標。</p>
                                
                                <img src="../img/company/PFB5_0303/society-movement-3.png">
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->