<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="#">資訊公開</a></li>
                    <li class="active"><a href="#">公司概況</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="banner company">
        <img src="../img/company/corperation-info.png" srcset="../img/company/corperation-info@2x.png">
        <div class="container">
            <h1>資訊公開</h1>
        </div>
    </section>
    
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 document-items">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>資訊公開</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-7-0.html" role="button" class="item">公開依據</a>
                            <a href="./company-15-7-0_1.html" role="button" class="item active">公司概況</a>
                            <a href="./company-15-7-0_2.html" role="button" class="item">財務概況</a>
                            <a href="./company-15-7-0_3.html" role="button" class="item">業務概況</a>
                            <a href="./company-15-7-0_4.html" role="button" class="item">公司治理</a>
                            <a href="http://ins-info.ib.gov.tw/customer/Info6-1.aspx?UID=84445772" target="_blank" role="button" class="item">重大訊息</a>
                            <a href="./company-15-7-0_6.html" role="button" class="item">各項保險商品</a>
                            <a href="./company-15-7-0_7.html" role="button" class="item">其他事項</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <article class="pt-0">
                        <h4 class="mt-1 d-none d-md-block">公司概況</h4>
                        
                        <div class="accordions">
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-1.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">公司 (合作社) 基本資料</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-2.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">公司各部門職掌及負責人</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-3.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">公司分支機構資訊明細表</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-chevron-down"></i>
                                    </div>
                                    <h4 class="accordion-title">人力資源及顧問聘任概況</h4>
                                </a>
                                <div class="accordion-body">
                                    <h4 class="title-border">人力資源概況－人數及教育程度</h4>
                                    <p>
                                        最新更新日期：108/04/29<br/>
                                        更新週期：不定期<br/>
                                        維護單位：人力資源管理科<br/>
                                        統計日期：108/03/31
                                    </p>
                                    <table class="table table-striped">
                                        <thead>
                                            <th>人員類別</th>
                                            <th>研究所</th>
                                            <th>大學</th>
                                            <th>專科</th>
                                            <th>高中及其他</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>核保人員</td>
                                                <td>35 人</td>
                                                <td>91 人</td>
                                                <td>23 人</td>
                                                <td>0 人</td>
                                            </tr>
                                            <tr>
                                                <td>理賠人員</td>
                                                <td>13 人</td>
                                                <td>134 人</td>
                                                <td>4 人</td>
                                                <td>0 人</td>
                                            </tr>
                                            <tr>
                                                <td>其他</td>
                                                <td>220 人</td>
                                                <td>1,170 人</td>
                                                <td>232 人</td>
                                                <td>202 人</td>
                                            </tr>
                                            <tr>
                                                <td>小計</td>
                                                <td>271 人</td>
                                                <td>1,359 人</td>
                                                <td>259 人</td>
                                                <td>202 人</td>
                                            </tr>
                                            <tr>
                                                <td>合計</td>
                                                <td colspan="4">2,127 人</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h4 class="title-border">顧問聘任情況</h4>
                                    <p>
                                        最新更新日期: 107/12/31<br/>
                                        更新週期:不定期<br/>
                                        維護單位:人力資源科
                                    </p>
                                    <table class="table table-striped">
                                        <thead>
                                            <th>姓名</th>
                                            <th>聘任期間</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>馬萬居</td>
                                                <td>108/1/1 ~ 108/12/31</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-4.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">各董事、監察人以及持有公司股份佔前十名股東</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-4.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">簽證精算人員姓名及主管機關核准文號</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-1.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">簽證會計師姓名及所屬事務所名稱</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-5.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">往來之保險代理人名稱</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-6.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">前一年度再保費支出佔總保費收入百分之一以上之往來再保人名稱、評等</h4>
                                </a>
                                <div class="accordion-body">
                                    
                                </div>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-7.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">關係人及關係企業名稱及其關係</h4>
                                </a>
                                <div class="accordion-body">
                                    
                                </div>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-1.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">委託信用評等機構評等</h4>
                                </a>
                                <div class="accordion-body">
                                    
                                </div>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info1-8.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">代收保費機構及代收條件</h4>
                                </a>
                                <div class="accordion-body">
                                    
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->