<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">公司簡介</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li class="active"><a href="./company-15-1-0.htmlc">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="section mb-5">
            <div class="row">
                <div class="col-md-4 offset-md-1 text-center pt-3">
                    <img src="../img/company/PFB5_0100/logo.png" height="181" srcset="../img/company/PFB5_0100/logo@2x.png">
                </div>
                <div class="col-md-6">
                    <h1>關於國泰</h1>
                    <p class="text">國泰世紀產物保險股份有限公司成立於1993年7月，原名東泰產物保險股份有限公司，於2002年加入「國泰金控」，透過集團資源整合，提供客戶一次購足金融商品的便利以及專業個人理財的服務，同年並更名為國泰世紀產物保險股份有限公司，自2007年起穩居台灣第二大產物保險公司的地位，同時也不斷向外擴展經營版圖，分別於2008年及2010年成立大陸國泰產險和越南國泰產險，並迅速佈點，2016年9月大陸國泰產險以增資擴股方式引進阿里巴巴集團旗下的螞蟻金融服務攜手合作互聯網金融服務。</p>
                </div>
            </div>
        </section>
        <section class="u-need is-relax">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <img src="../img/index/u-need-bg.png" srcset="../img/index/u-need-bg@2x.png" height="456" class="bg">
                    <img src="../img/common/main-line.png" srcset="../img/common/main-line@2x.png" height="193" class="main-line">
                    <div class="panel with-green-decoration">
                        <div class="panel-body">
                            <h1 class="text-center mt-2">經營理念</h1>
                            <p class="text">本公司秉持「質量並重、穩健踏實」的經營理念，積極開發市場商機，拓展組織規模，並有效提高業務品質、做好費用管控，以追求質（獲利）及量（市占率）齊頭併進地成長，創造出公司卓越的經營績效。另外，本公司也在企業社會責任上積極奉獻一己之力，除了參與國泰金控舉辦的各項公益活動外，並以「損害防阻」為核心觀念，推動「不意外學園」-宣導校園安全活動及推廣「零事故研究所」網站-為所有行車人交通安全把關，更以環境保護為議題，展現在商品設計上，鼓勵大眾多加響應政府節能減碳運動，期能為社會盡心，為環保盡力；未來國泰產險將以創新多元的服務內容，來滿足客戶的需求及提高企業的價值，也將如同本公司商標 --「大樹」一樣，持續「呵護您美麗的家園」。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="people is-relax mb-0">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="text-center">人才培育</h1>
                    <p class="text">「職前訓練、在職訓練兼顧」、「專業訓練、通識訓練並重」 透過持續性之教育訓練，不斷提昇員工專業服務能力，藉諸專業及通識並重之教育訓練，開拓員工全方位發展潛質，提供員工最佳職涯規劃</p>

                    <div class="row">
                        <div class="col">
                            <div class="item">
                                <i class="icon-check"></i>
                                <span class="text"><b>經營管理訓練課程</b></span>
                            </div>
                            <div class="item">
                                <i class="icon-check"></i>
                                <span class="text"><b>語文訓練課程</b></span>
                            </div>
                            <div class="item">
                                <i class="icon-check"></i>
                                <span class="text"><b>國內外機構訓練課程</b></span>
                            </div>
                            <div class="item">
                                <i class="icon-check"></i>
                                <span class="text"><b>電腦資訊訓練課程</b></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <i class="icon-check"></i>
                                <span class="text"><b>新進人員訓練課程</b></span>
                            </div>
                            <div class="item">
                                <i class="icon-check"></i>
                                <span class="text"><b>內勤員工通識暨專業基礎訓練課程 </b></span>
                            </div>
                            <div class="item">
                                <i class="icon-check"></i>
                                <span class="text"><b>營業單位專業訓練課程 </b></span>
                            </div>
                            <div class="item">
                                <i class="icon-check"></i>
                                <span class="text"><b>專業人員經常性訓練課程</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../img/company/PFB5_0100/join-cathy.png" height="276" srcset="../img/company/PFB5_0100/join-cathy@2x.png">
        </section>
    </div>
    <section class="future pb-5 pt-0 mb-0">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-md-1">
                    <h1 class="text-white text-center mt-5">企業願景</h1>
                    <div class="panel">
                        <div class="panel-body px-5 py-4">
                            <h4 class="with-green-decoration">提升市場占有率</h4>
                            <p class="text">本公司目前穩居業界第二大，未來仍將廣拓新業務通路，並尋求更多的業務人才，持續擴大業務規模。</p>

                            <h4 class="with-green-decoration mt-5">提升保戶服務品質</h4>
                            <p class="text">本公司有免費服務電話、24小時全天候報案系統、免費道路施救服務，以及特約修車廠將近720家，並於各通訊處均設置保戶服務櫃台，服務網遍及全島。為提供優質的客戶服務、提高客戶忠誠度與滿意度，於2001年引用CTI技術提供電話客服，設計保戶申訴小組加強規劃保戶申訴處理流程，強化服務品質與效率，提升企業優質形象。此外，國泰產險曾多次獲頒ISO 9001國際品質認證，證明本公司在車險理賠及損害服務方面卓越的表現。</p>

                            <h4 class="with-green-decoration mt-5">加強新資訊技術應用</h4>
                            <p class="text">為提供保戶全天候全年無休的服務，本公司於2001年將線上投保功能獨立成一電子商務網站BoBe，以更便捷及更具人性化的交易介面，提供客戶多元化的服務。此外也致力於新技術之創新運用，2012年3月推出智慧型手機APP服務－「國泰行車御守APP」，提供客戶遇到交通事故時的步驟式導引，適時提供服務；2012年6月成立「國泰產險粉絲專頁」，以使用者導向之實際案例經營社群與粉絲互動；2014年11月推出「國泰旅遊御守APP」，提供客戶遇到各種旅遊不便狀況時，只要透過「海外旅遊小幫手」功能，立即獲得處理引導和即時完成文件搜集。</p>

                            <h4 class="with-green-decoration mt-5">積極佈局大陸、越南市場，朝亞太地區最佳金融機構邁進</h4>
                            <p class="text">本公司與國泰人壽合資設立的大陸國泰產險，為大陸地區第一家台資財產保險公司，於2008年8月26日獲得中國保監會核准於上海開業，陸續在個省直轄市設立服務機構，經營範圍覆蓋環渤海、長江三角洲、海西經濟區、珠江三角洲，以及大陸中西部地區。2016年9月大陸國泰產險以增資擴股方式引進阿里巴巴集團旗下的螞蟻金融服務攜手合作，未來電子商務、互聯網等新金融服務將會全面展開保險業務新領域之合作，透過雲計算技術及大資料的支援，實現創新型互聯網金融服務，使保險商品與服務更有效融入大眾生活，貼近客戶消費習慣。另外，越南國泰產險也於2010年12月正式開業，總部設於胡志明市，2011年5月河內分公司開業，提供越南台商及當地客戶優質的保險服務，未來本公司將持續朝「亞太地區最佳金融機構」的目標邁進。</p>

                            <h4 class="with-green-decoration mt-5">加速研發符合民眾需求之新商品</h4>
                            <p class="text">目前已成功推出自行研發的志工團體保險、汽車第三人責任綜合保險、健康險等多項商品，未來亦將以「客戶需求」為導向，針對不同市場積極研發各類具競爭力商品，提供保戶更多元的選擇，進而提升顧客滿意度。</p>

                            <h4 class="with-green-decoration mt-5">強化財務營運能力</h4>
                            <p class="text">除了持續追求業績成長外，也要不斷強化營運績效，提升獲利能力，為讓客戶了解國泰產險財務制度符合國際標準，每年皆主動接受信用評等公司的評鑑及監督，分別獲得中華信用評等「twAA+」、標準普爾「A-」以及Moody's「A3」等優良信用評級，顯示本公司良好的財務能力，以及優良的營運績效。</p>
                        </div>
                    </div>
                
                    <div class="row pb-5">
                        <div class="col-4 text-center pt-3">
                            <img src="../img/company/PFB5_0100/logo.png" height="181" srcset="../img/company/PFB5_0100/logo@2x.png">
                        </div>
                        <div class="col-8">
                            <h1>企業概要</h1>
                            <div class="row text">
                                <div class="col-2 pr-0"><b>公司名稱：</b></div>
                                <div class="col-10">
                                    國泰世紀產物保險股份有限公司
                                </div>
                            </div>
                            <div class="row text">
                                <div class="col-2 pr-0"><b>負責人姓名：</b></div>
                                <div class="col-10">
                                    蔡鎮球
                                </div>
                            </div>
                            <div class="row text">
                                <div class="col-2 pr-0"><b>營業據點：</b></div>
                                <div class="col-10">
                                    <a href="../helper/8-6-0.html" target="_blank">看附近營業據點</a>
                                </div>
                            </div>
                            <div class="row text">
                                <div class="col-2 pr-0"><b>營業項目：</b></div>
                                <div class="col-10">
                                    火災保險、海上保險、陸空保險、責任保險、其他保險、保證保險再保險
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->