<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item active">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            
                            <a href="./company-15-3-0_4-3.html" role="button" class="item">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <ul class="tab is-pill pl-0" role="tab">
                        <li class="active"><a role="tab-item" data-tab-id="tab-1">企業損害防阻</a></li>
                        <li><a role="tab-item" data-tab-id="tab-2">不意外學園</a></li>
                        <li><a role="tab-item" data-tab-id="tab-3">零事故研究所</a></li>
                        <li><a role="tab-item" data-tab-id="tab-4">不意外騎士</a></li>
                    </ul>

                    <div class="tab-pane">
                        <div class="tab-content active" data-tab-id="tab-1">
                            <article>
                                <p>國泰產險提供業界首創的企業交通事故預防服務，改善員工交通事故發生比例；同時採用研討會方式邀集專家學者深入剖析企業所面臨的經營風險，以提供企業保戶專業資訊交流，提升損害防阻之能力，建構完善的風險管理機制。</p>

                                <h4 class="title-border">企業損害防阻研討會</h4>
                                <p>國泰產險除了為企業法人客戶提出專業的損防規劃外，亦積極協助企業強化內部風險管控能力，每年定期舉辦「國泰產險損害防阻研討會」，以企業最可能面臨的風險做為出發點，同時兼顧社會、氣候變遷及最新國際情勢可能造成的風險變數等議題面向發展課程內容，邀請產、官、學界之防災應變專家擔綱講師，協助企業熟悉緊急應變處理程序，提升產業風險意識，進而降低客戶的營運風險及損害。</p>
                                <img src="../img/company/PFB5_0303/cope-01.png" height="252" />

                                <h4 class="title-border">企業交通事故預防服務</h4>
                                <p>國泰產險為業界唯一擁有「車險損防」專業單位的產險公司，彙整企業或法人車隊提供之員工交通事故資料，搭配產險內部核保理賠資料庫，進行交叉比對分析，找出常見的事故型態，協助企業車隊釐清常見的交通事故成因，進而擬訂管理制度與預防對策，並依照各車隊的屬性需求（如：運輸業、大客車或計程車等）提供專屬客製化的教育訓練課程，協助企業車隊樹立良好人車管理體制。</p>
                                <!-- <img src="../img/company/PFB5_0303/damage-prevention-company-1.png" /> -->
                            </article>
                        </div>
                        <div class="tab-content" data-tab-id="tab-2">
                            <article>
                                <p>國泰產險鎖定校園意外事故發生比例最高的「國小」遊樂場進行宣導活動，針對校園意外事故發生二大主因：不安全的設備（對象：學校）及不安全的行為（對象：學生及老師）結合企業損防服務經驗，展開全國首創之校園損害防阻「不意外學園」專案計劃，以寓教於樂的方式引導國小學童學習校園安全概念，提升學齡孩童校園遊樂安全。</p>
                                <img src="../img/company/PFB5_0303/damage-prevention-school.png" alt="" srcset="">
                            </article>
                        </div>
                        <div class="tab-content" data-tab-id="tab-3">
                            <article>
                                <p>國泰產險多年來處理車險事故的同時，目睹了車禍造成無數家庭的破碎；於是體認到與其在事故發生後提供損失補償，不如推廣保險業損害防阻觀念，追求交通安全工作者的一致目標—交通零事故（Zero Accident）。</p>
                                <h4 class="title-border">零事故研究所</h4>
                                <p>國泰產險蒐集國內、外交通安全研究文獻，指出九成以上的交通事故源自於人為因素，包括對危險的認知不足、操作不當、違規駕駛等等；因此我們參考國際上較先進的駕駛人行為診察技術，與國內專家學者共同發展出國人適用的檢測工具。</p>
                                <div class="item px-0">
                                    <i class="icon-check"></i><span class="text">心理評測-「駕駛適性診斷」</span>
                                </div>
                                <div class="item px-0">
                                    <i class="icon-check"></i><span class="text">反應評測-「危險感知測驗」</span>
                                </div>
                                <div class="item px-0">
                                    <i class="icon-check"></i><span class="text">知能評測-「行車金頭腦」</span>
                                </div>
                                <p>同時建構損害防阻教育訓練網站「零事故研究所」，讓駕駛人能夠輕鬆透過網站檢視自身駕駛習性與能力。</p>
                                
                                <div class="text-center">
                                    <img src="../img/company/PFB5_0303/damage-prevention-zero-accident.png">
                                </div>
                            </article>
                        </div>
                        <div class="tab-content" data-tab-id="tab-4">
                            <article>
                                <p>台灣平均每周有3.5名大學生因車禍死亡，造成國家社會難以彌補的損失，國泰產險基於企業社會責任與人文關懷，運用「車險損防」專業核心能力推動「不意外騎士」專案，傳遞事故預防及安全駕駛觀念，為守護學生機車騎乘安全而努力。</p>

                                <h4 class="title-border">不意外騎士-翻轉機車安全教育專案</h4>
                                <p>國泰產險應用損害防阻專業及產學資源，於2015年開始深入校園，推廣「不意外騎士」-守護學生機車騎乘安全專案，教育大專學生機車安全騎乘觀念，並藉由適性診斷、危險感知等專業檢測系統，為學生機車騎乘安全把脈、傳遞正確安全駕駛觀念給每一位學生，並期許以降低台灣莘莘學子車禍事故機率，為當責不讓之己任。</p>
                                <img src="../img/company/PFB5_0303/damage-prevention-motorcyclist-1.png">

                                <h4 class="title-border">不意外騎士 2.0</h4>
                                <p>為了提升與學生之間的互動性、強化學生的學習意願以及延續「不意外騎士」專案精神，我們於2017年度推出「不意外騎士2.0」-翻轉機車安全教育專案，新增「校園風險地圖」及「VR虛擬實境版危險感知測驗」等2項推廣內容：</p>
                                <ul>
                                    <li>
                                        <div><strong>校園風險地圖</strong></div>
                                        經由警政署交通事故資料及學校歷史事故登記資料分析出交通事故熱點，並協同專家學者進行現場查勘，最終針對校園周邊生活圈之危險路段路口風險，以學生及學校之事故預防角度出發，提供交通事故行車應注意事項及肇事改善之建議。
                                        <img src="../img/company/PFB5_0303/damage-prevention-motorcyclist-2.png">
                                    </li>
                                    <li>
                                        <div><strong>VR虛擬實境版危險感知測驗</strong></div>
                                        <p>為提升學生對於機車駕駛經驗學習與瞭解，國泰產險將「VR虛擬實境」技術運用在危險感知測驗中，結合車險損防專業技術，創新開發新型態評測系統-「VR虛擬實境版危險感知測驗」，遊戲中以台灣道路交通安全規則及真實物理反應進行規範設計，模擬現實用路過程可能遭遇之風險情境，藉以訓練學生提早做出危險判別與應變措施，同時評測學生「感知力」及「肇事率」，透過「學習經驗累積」方式增進駕駛知能與技能，藉以幫助導正學生道路交通安全知識及防禦性駕駛觀念。</p>
                                        <img src="../img/company/PFB5_0303/damage-prevention-motorcyclist-3.png">
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->