<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="#">資訊公開</a></li>
                    <li class="active"><a href="#">業務概況</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="banner company">
        <img src="../img/company/corperation-info.png" srcset="../img/company/corperation-info@2x.png">
        <div class="container">
            <h1>資訊公開</h1>
        </div>
    </section>
    
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 document-items">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>資訊公開</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-7-0.html" role="button" class="item">公開依據</a>
                            <a href="./company-15-7-0_1.html" role="button" class="item">公司概況</a>
                            <a href="./company-15-7-0_2.html" role="button" class="item">財務概況</a>
                            <a href="./company-15-7-0_3.html" role="button" class="item active">業務概況</a>
                            <a href="./company-15-7-0_4.html" role="button" class="item">公司治理</a>
                            <a href="http://ins-info.ib.gov.tw/customer/Info6-1.aspx?UID=84445772" target="_blank" role="button" class="item">重大訊息</a>
                            <a href="./company-15-7-0_6.html" role="button" class="item">各項保險商品</a>
                            <a href="./company-15-7-0_7.html" role="button" class="item">其他事項</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <article class="pt-0">
                        <h4 class="mt-1 d-none d-md-block">業務概況</h4>
                        
                        <div class="accordions">
                            <div class="accordion">
                                <a class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-chevron-down"></i>
                                    </div>
                                    <h4 class="accordion-title">市場占有率</h4>
                                </a>
                                <div class="accordion-body">
                                    <h4 class="title-border">市場占有率</h4>
                                    <p>
                                        最新更新日期:108/03/31<br/>
                                        更新週期:每年<br/>
                                        維護單位:企劃科<br/>
                                        單位：新台幣千元
                                    </p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>項目</th>
                                                <th>105年</th>
                                                <th>106年</th>
                                                <th>107年</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>本公司自留保費收入</td>
                                                <td>15,640,460</td>
                                                <td>16,467,452</td>
                                                <td>17,641,958</td>
                                            </tr>
                                            <tr>
                                                <td>全體財產保險業自留總保費收入</td>
                                                <td>108,927,038</td>
                                                <td>118,196,323</td>
                                                <td>125,468,239</td>
                                            </tr>
                                            <tr>
                                                <td>市場佔有率(%)</td>
                                                <td>14.4%</td>
                                                <td>13.9%</td>
                                                <td>14.1%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/property3-2.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">各險別保費收入、自留保費、自留比率、保險賠款、自留賠款</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/property3-3.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">各險別分出再保業務概況</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/property3-3.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">各險別各種責任準備金</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/property3-5.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">各險別預期損失率</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/property3-5.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">各險別實際自留損失率</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/life3-5-b.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">主管機關及其指定機構受理公司之保險申訴案件，非理賠申訴案件申訴率、理賠申訴案件申訴率及各該平均處理天數</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/life3-5-b.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">理賠訴訟件數、理賠延遲給付件數及其對申請理賠件數之比率</h4>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->