<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="#">資訊公開</a></li>
                    <li class="active"><a href="#">各項保險商品</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="banner company">
        <img src="../img/company/corperation-info.png" srcset="../img/company/corperation-info@2x.png">
        <div class="container">
            <h1>資訊公開</h1>
        </div>
    </section>
    
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 document-items">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>資訊公開</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-7-0.html" role="button" class="item">公開依據</a>
                            <a href="./company-15-7-0_1.html" role="button" class="item">公司概況</a>
                            <a href="./company-15-7-0_2.html" role="button" class="item">財務概況</a>
                            <a href="./company-15-7-0_3.html" role="button" class="item">業務概況</a>
                            <a href="./company-15-7-0_4.html" role="button" class="item">公司治理</a>
                            <a href="http://ins-info.ib.gov.tw/customer/Info6-1.aspx?UID=84445772" target="_blank" role="button" class="item">重大訊息</a>
                            <a href="./company-15-7-0_6.html" role="button" class="item active">各項保險商品</a>
                            <a href="./company-15-7-0_7.html" role="button" class="item">其他事項</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <article class="pt-0">
                        <h4 class="mt-1 d-none d-md-block">各項保險商品</h4>
                        
                        
                        <div class="accordions">
                            <div class="accordion">
                                <a href="https://ins-info.ib.gov.tw/customer/Property_Layout.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">保險商品</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="https://www.cathay-ins.com.tw/insuranceCMS/UploadFiles/%E5%95%86%E5%93%81%E9%A0%90%E5%AE%9A%E8%B2%BB%E7%94%A8%E7%8E%87.pdf" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">商品預定費用率</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="https://www.cathay-ins.com.tw/insuranceCMS/UploadFiles/%E7%9F%AD%E6%9C%9F%E8%B2%BB%E7%8E%87%E8%A1%A8%E5%8F%8A%E4%BF%9D%E8%B2%BB%E9%80%80%E8%B2%BB%E4%BF%82%E6%95%B8%E8%A1%A8.pdf" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">短期費率表及保費退費係數表</h4>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->