<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="#">資訊公開</a></li>
                    <li class="active"><a href="#">其他事項</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="banner company">
        <img src="../img/company/corperation-info.png" srcset="../img/company/corperation-info@2x.png">
        <div class="container">
            <h1>資訊公開</h1>
        </div>
    </section>
    
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 document-items">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>資訊公開</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-7-0.html" role="button" class="item">公開依據</a>
                            <a href="./company-15-7-0_1.html" role="button" class="item">公司概況</a>
                            <a href="./company-15-7-0_2.html" role="button" class="item">財務概況</a>
                            <a href="./company-15-7-0_3.html" role="button" class="item">業務概況</a>
                            <a href="./company-15-7-0_4.html" role="button" class="item">公司治理</a>
                            <a href="http://ins-info.ib.gov.tw/customer/Info6-1.aspx?UID=84445772" target="_blank" role="button" class="item">重大訊息</a>
                            <a href="./company-15-7-0_6.html" role="button" class="item">各項保險商品</a>
                            <a href="./company-15-7-0_7.html" role="button" class="item active">其他事項</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <article class="pt-0">
                        <h4 class="mt-1 d-none d-md-block">其他事項</h4>
                        
                        
                        <div class="accordions">
                            <div class="accordion">
                                <a class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-chevron-down"></i>
                                    </div>
                                    <h4 class="accordion-title">經主管機關處分之事項</h4>
                                </a>
                                <div class="accordion-body">
                                    <h4 class="title-border">最近二年經主管機關處分之事項</h4>
                                    <p>
                                        最新更新日期：108/05/09<br/>
                                        更新週期：不定期
                                    </p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-left">序號</th>
                                                <th>項　　目</th>
                                                <th>詳細內容</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td>1060221經主管機關處分之事項</td>
                                                <td>
                                                    <a href="https://www.cathay-ins.com.tw/insurance/page1/PublicInfo/PI6-20170221.pdf" target="_blank" class="link">詳細內容</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>02</td>
                                                <td>1070124經主管機關處分之事項</td>
                                                <td>
                                                    <a href="https://www.cathay-ins.com.tw/insurance/page1/PublicInfo/PI6-20180124.pdf" target="_blank" class="link">詳細內容</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>03</td>
                                                <td>1070829經主管機關處分之事項</td>
                                                <td>
                                                    <a href="https://www.cathay-ins.com.tw/insurance/page1/PublicInfo/PI7_20180831.pdf" target="_blank" class="link">詳細內容</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>04</td>
                                                <td>1080509經主管機關處分之事項</td>
                                                <td>
                                                    <a href="https://www.cathayholdings.com/insurance/page1/PublicInfo/PI6-20190510.pdf" target="_blank" class="link">詳細內容</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="accordion">
                                <a class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-chevron-down"></i>
                                    </div>
                                    <h4 class="accordion-title">內部控制制度聲明書</h4>
                                </a>
                                <div class="accordion-body">
                                    <h4 class="title-border">內部控制制度聲明書</h4>
                                    <p>
                                        最新更新日期：108/03/27<br/>
                                        更新週期：每年<br/>
                                        維護單位：稽核室
                                    </p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-left">序號</th>
                                                <th>項　　目</th>
                                                <th>詳細內容</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td>內部控制制度聲明書</td>
                                                <td>
                                                    <a href="https://www.cathay-ins.com.tw/insurance/page1/PublicInfo/107%E5%85%A7%E6%8E%A7%E8%81%B2%E6%98%8E%E6%9B%B8.pdf" target="_blank" class="link">詳細內容</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="accordion">
                                <a class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-chevron-down"></i>
                                    </div>
                                    <h4 class="accordion-title">更換簽證精算人員</h4>
                                </a>
                                <div class="accordion-body">
                                    <h4 class="title-border">更換簽證精算人員</h4>
                                    <p>
                                        最新更新日期：102/12/17<br/>
                                        更新週期：不定期
                                    </p>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="bg-primary text-white">序號</th>
                                                <td></td>
                                                <th class="bg-primary text-white">發言日期</th>
                                                <td>102/06/14</td>
                                                <th class="bg-primary text-white">發言時間</th>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th class="bg-primary text-white">發言人</th>
                                                <td>胡一敏</td>
                                                <th class="bg-primary text-white">發言人職稱</th>
                                                <td>協理</td>
                                                <th class="bg-primary text-white">發言人電話</th>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th class="bg-primary text-white">主旨</th>
                                                <td colspan="5">更換簽證精算人員</td>
                                            </tr>
                                            <tr>
                                                <th class="bg-primary text-white">符合條款</th>
                                                <td>第十一條</td>
                                                <td>第一項</td>
                                                <td>第三款</td>
                                                <th class="bg-primary text-white">事實發生日</th>
                                                <td>102/6/14</td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="p-2">
                                                    <h5>說    明 </h5>
                                                    <ol class="cjk-order">
                                                        <li>
                                                            董事會決議日期:102/06/14<br>
                                                            任者姓名及簡歷：吳明洋（國泰世紀產物保險股份有限公司副總經理）
                                                            新任者姓名及簡歷：林秋瑞（國泰世紀產物保險股份有限公司企劃部經理）
                                                        </li>
                                                        <li>異動原因：更換</li>
                                                        <li>生效日期：102/06/14 </li>
                                                        <li>依據財產保險業資訊公開管理辦法第十一條第一項第三款規定辦理。</li>
                                                    </ol>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="accordion">
                                <a class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-chevron-down"></i>
                                    </div>
                                    <h4 class="accordion-title">再保險契約不續約、終止或修訂，對財務或業務有重大影響者，其不續約、終止或修訂之目的或理由及其生效日</h4>
                                </a>
                                <div class="accordion-body">
                                    <h4 class="title-border">因分出再保險契約不續約、終止或修訂，對財務或業務有重大影響者，其不續約、終止或修訂之目的或理由及其生效日</h4>
                                    <p>
                                        最新更新日期：108/1/16<br/>
                                        更新週期：每年<br/>
                                        維護單位：合約再保科                    
                                    </p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-left">年度</th>
                                                <th class="text-left">項目</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2019</td>
                                                <td class="text-left">
                                                    <ol class="cjk-order ml-1">
                                                        <li>本公司無分出再保險契約不續約、終止或修訂</li>
                                                        <li>上述事項未有造成財務或業務有重大影響之情事</li>
                                                    </ol>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="accordion">
                                <a href="https://www.cathay-ins.com.tw/insuranceCMS/UploadFiles/108Q1_%E5%A4%96%E7%B6%B2_6-2_%E5%BE%9E%E4%BA%8B%E5%9C%8B%E5%A4%96%E5%8F%8A%E5%A4%A7%E9%99%B8%E5%9C%B0%E5%8D%80%E4%B8%8D%E5%8B%95%E7%94%A2%E6%8A%95%E8%B3%87.pdf" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">應揭露之大陸地區投資</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="https://www.cathay-ins.com.tw/insuranceCMS/UploadFiles/108Q1_%E5%A4%96%E7%B6%B2_6-2_%E5%BE%9E%E4%BA%8B%E5%9C%8B%E5%A4%96%E5%8F%8A%E5%A4%A7%E9%99%B8%E5%9C%B0%E5%8D%80%E4%B8%8D%E5%8B%95%E7%94%A2%E6%8A%95%E8%B3%87.pdf" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">應揭露之從事國外及大陸地區不動產投資</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="https://www.cathay-ins.com.tw/insuranceCMS/UploadFiles/%E7%9B%B4%E6%8E%A5%E6%8A%95%E4%BF%9D%E8%88%87%E4%BF%9D%E7%B6%93%E6%88%96%E4%BF%9D%E4%BB%A3%E9%96%93%E5%84%AA%E6%83%A0%E5%85%A7%E5%AE%B9%E4%B9%8B%E5%B7%AE%E7%95%B0.pdf" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">直接投保與保經或保代間優惠內容之差異</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="https://www.cathay-ins.com.tw/insuranceCMS/UploadFiles/107Q4_%E5%A4%96%E7%B6%B2_6-4_%E5%9C%8B%E5%A4%96%E5%8F%8A%E5%A4%A7%E9%99%B8%E5%9C%B0%E5%8D%80%E4%B8%8D%E5%8B%95%E7%94%A2.pdf" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">國外及大陸地區不動產</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a href="https://www.cathay-ins.com.tw/insuranceCMS/UploadFiles/107Q4_%E5%A4%96%E7%B6%B2_6-5_%E6%87%89%E6%8F%AD%E9%9C%B2%E4%B9%8B%E5%9C%8B%E5%A4%96%E4%BF%9D%E9%9A%AA%E7%9B%B8%E9%97%9C%E4%BA%8B%E6%A5%AD%E6%8A%95%E8%B3%87.pdf" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">應揭露之國外保險相關事業投資</h4>
                                </a>
                            </div>
                            <div class="accordion">
                                <a class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-chevron-down"></i>
                                    </div>
                                    <h4 class="accordion-title">防制洗錢及打擊資恐內部控制制度聲明書</h4>
                                </a>
                                <div class="accordion-body">
                                    <h4 class="title-border">防制洗錢及打擊資恐內部控制制度聲明書</h4>
                                    <p>
                                        最新更新日期：108/05/27<br/>
                                        更新週期：不定期                   
                                    </p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-left">序號</th>
                                                <th>項目</th>
                                                <th>詳細內容</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td>106年度防制洗錢及打擊資恐內部控制制度聲明書</td>
                                                <td>
                                                    <a href="https://www.cathay-ins.com.tw/insuranceCMS/UploadFiles/%E9%98%B2%E5%88%B6%E6%B4%97%E9%8C%A2%E5%8F%8A%E6%89%93%E6%93%8A%E8%B3%87%E6%81%90%E5%85%A7%E9%83%A8%E6%8E%A7%E5%88%B6%E5%88%B6%E5%BA%A6%E8%81%B2%E6%98%8E%E6%9B%B8.pdf" target="_blank" class="link">詳細內容</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>02</td>
                                                <td>107年度防制洗錢及打擊資恐內部控制制度聲明書</td>
                                                <td>
                                                    <a href="https://www.cathay-ins.com.tw/insuranceCMS/UploadFiles/107AML.pdf" target="_blank" class="link">詳細內容</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->