<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item active">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            
                            <a href="./company-15-3-0_4-3.html" role="button" class="item">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <h2 class="mt-0">育才留才</h2>
                    <div>國泰產險相信員工是公司成功的基石，因此透過完善的培育計劃及合理的績效管理制度進行人才的培育及留任，進而提升公司競爭力，維持穩健經營。</div>
                    <article>

                        <h4 class="title-border">適才適所的「人才培育體系」</h4>
                        <p>國泰產險「人才培育體系」分別以「企業大學」及「職級軌道」為垂直及水平座標軸所建構，以兩軸的重要因素展開國泰企業大學人才培育體系的體制架構，持續深化三大類別五大學院所賦予的任務課程，希望針對依各層級人員不同職涯階段培訓及組織發展需求，規劃全方位培訓計畫，並落實 PDCA Cycle 進行各項訓練規劃步驟，以因應經營策略的轉變，為公司培育、儲備所需人才。</p>

                        <div class="text-center">
                            <img src="../img/company/PFB5_0303/talent-1.png" />
                        </div>

                        <h4 class="title-border">績效管理制度變革，提升人員定著率</h4>
                        <p>從「整體職等架構」、「薪酬調整機制」，與「績效管理制度」進行全盤檢視變革，專案首要重點以喚起同仁重視「個人工作目標」設定，確實了解個人目標需與公司發展朝同一方向前進，唯有如此，才能創造個人與公司同步成長的雙贏局面。另希望藉此進行主管管理方式變革，重視主管與部屬的溝通與回饋，以「教練式領導」逐漸取代傳統的教導式及命令式領導，進而提升人員定著率。</p>
                        
                        <div class="text-center">
                            <img src="../img/company/PFB5_0303/talent-2.png" />
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->