<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            <a href="./company-15-3-0_4-3.html" role="button" class="item active">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <ul class="tab is-pill pl-0" role="tab">
                        <li class="active"><a role="tab-item" data-tab-id="tab-1">風險管理</a></li>
                        <li><a role="tab-item" data-tab-id="tab-2">法令遵循及洗錢防制</a></li>
                    </ul>

                    <div class="tab-pane">
                        <div class="tab-content active" data-tab-id="tab-1">
                            <article>
                                <h4 class="title-border">風險管理</h4>
                                <p>國泰產險擁有完善的「企業風險管理（ Enterprise risk management，簡稱ERM ）」架構，透過經營高層積極參與，有效管理各項業務風險，提高資本運用效能，並將ESG議題風險辨識及評估融入至核保、理賠流程，以確保對客戶及社會之保障及長期承諾。</p>

                                <h4 class="title-border">企業風險管理（ERM）三道防線機制</h4>
                                <ul>
                                    <li>第一道防線：公司業務營運及管理單位，確保有效控管營運風險。</li>
                                    <li>第二道防線：法令遵循及風險管理單位，協助風險制度規劃、評估、建議與監督，確保資訊傳遞順暢，並辨識出主要風險，包括市場風險、信用風險、保險風險、作業風險及流動性風險等。</li>
                                    <li>第三道防線：稽核單位，查核各項規章與機制之遵循及執行狀況。</li>
                                </ul>

                                <img src="../img/company/PFB5_0304/risk-management-1.png">

                                <h4 class="title-border">ESG風險辨識及評估</h4>
                                <p>國泰產險於核保、理賠案件審核流程中納入以下ESG（環境、社會或道德）議題相關考量：</p>

                                <ul>
                                    <li>
                                        <div>核保審核流程（以太陽能光電產業案件審核為例）</div>
                                        <ol>
                                            <li>治理議題：核保人員須評估有無道德危險或不當業務競爭等情形。</li>
                                            <li>環境議題：透過承接良質太陽能光電業務，支持政府推動綠能產業之政策。</li>
                                            <li>工程施工法議題：透過損防及核保經驗，提供業者評估施工方法是否成熟、安全，對工程設施、標的物或相關人員是否會造成不當之風險。</li>
                                            <li>風險規劃議題：著重被保險人財產及責任風險是否獲得合理之對價及保障。</li>
                                            <li>客戶保護議題：核保人員於受理案件時需依下列原則瞭解並評估保戶保險需求及適合度。</li>
                                        </ol>
                                        <img src="../img/company/PFB5_0304/risk-management-2.png">
                                    </li>
                                    <li>
                                        <div>理賠審核流程</div>
                                        <ul>
                                            <li>道德議題：國泰產險理賠人員於理賠案件處理，如發現案件有存在道德風險或疑似詐欺狀況時，即會向上級主管呈報。</li>
                                            <li>環境、社會重大事件：針對環境、社會重大災害，國泰產險建置有重大/新聞事件業務通報系統，理賠單位於接獲事件通報訊息後，會進行承保查證及資訊蒐集，並運用重大事故通報平台進行通報，讓公司各級相關主管第一時間掌握事件訊息，以即時做出因應措施，提供最佳服務。</li>
                                        </ul>
                                        <div class="text-center">
                                            <img src="../img/company/PFB5_0304/risk-management-3.png">
                                        </div>
                                    </li>
                                </ul>

                                <h4 class="title-border">氣候/巨災風險管理機制</h4>
                                <p>根據近年世界經濟論壇（WEF）所發表之《全球風險報告》指出，在各項主要風險當中，極端氣候與天然災害不論在衝擊規模或發生可能性均名列前茅。為掌握台灣地區氣候及巨災風險，國泰產險長期與國內學術研究單位及防災產業機構配合，進行天災風險評估服務，並提供評估改善報告。此外定期運用內部資料庫進行區域天災風險曝險監控之外，更與國際再保人及經紀人合作，定期評估所承保之累積風險，再藉由國際再保險市場風險分散機制，達到天災累積風險管理以及分散之目標，以穩定並強化公司財務結構，提高公司永續經營能力。</p>
                                <div class="text-center">
                                    <img src="../img/company/PFB5_0304/risk-management-4.jpg">
                                </div>
                            </article>
                        </div>
                        <div class="tab-content" data-tab-id="tab-2">
                            <article>
                                <p>國泰產險於總公司設有法令遵循部，由總機構法令遵循主管綜理法令遵循制度之規劃、管理、執行及各項法令傳達與溝通事宜，使法令遵循功能得以有效發揮。另響應反洗錢與反資恐的政府政策，2017年3月成為國內首家於公司內部成立「洗錢防制暨打撃資恐委員會」之產險公司，展現防阻金融犯罪之決心。</p>

                                <h4 class="title-border">法令遵循</h4>
                                <p>國泰產險透過內部強化管理紀律及外部落實法令遵循，將公司之組織、經營理念、分層權責之概念整合，建置完善的法令遵循制度，避免公司誤觸法令而產生罰鍰及法律責任，使公司運作更有效率。</p>

                                <div class="text-center">
                                    <img src="../img/company/PFB5_0304/risk-management-law.png" />
                                </div>

                                <h4 class="title-border">洗錢防制</h4>
                                <p>
                                    國泰產險於2017年1月成立防制洗錢及打擊資恐專責單位：洗錢防制科，隸屬法令遵循部。<br/>
                                    主要職掌是：督導全公司洗錢及資恐風險相關規劃與執行，避免公司誤觸相關法令而受裁罰及法律責任，確保公司正常運作。包括：
                                </p>
                                <ol>
                                    <li>加強各項內控作業及教育訓練
                                        <ul>
                                            <li>依據相關法令訂定內部相關辦法及作業流程以確實執行。</li>
                                            <li>依據各業務部門在反洗錢與反資恐作業上責任的不同，施予不同的教育訓練，以強化員工的認知及執行。</li>
                                        </ul>
                                    </li>
                                    <li>確認客戶身分及持續審查
                                        <ul>
                                            <li>與客戶建立業務關係時執行客戶風險評估。</li>
                                        </ul>
                                    </li>
                                </ol>
                            </article>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->