<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="#">資訊公開</a></li>
                    <li class="active"><a href="#">公司治理</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="banner company">
        <img src="../img/company/corperation-info.png" srcset="../img/company/corperation-info@2x.png">
        <div class="container">
            <h1>資訊公開</h1>
        </div>
    </section>
    
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 document-items">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>資訊公開</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-7-0.html" role="button" class="item">公開依據</a>
                            <a href="./company-15-7-0_1.html" role="button" class="item">公司概況</a>
                            <a href="./company-15-7-0_2.html" role="button" class="item">財務概況</a>
                            <a href="./company-15-7-0_3.html" role="button" class="item">業務概況</a>
                            <a href="./company-15-7-0_4.html" role="button" class="item active">公司治理</a>
                            <a href="http://ins-info.ib.gov.tw/customer/Info6-1.aspx?UID=84445772" target="_blank" role="button" class="item">重大訊息</a>
                            <a href="./company-15-7-0_6.html" role="button" class="item">各項保險商品</a>
                            <a href="./company-15-7-0_7.html" role="button" class="item">其他事項</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <article class="pt-0">
                        <h4 class="mt-1 d-none d-md-block">公司治理</h4>
                        
                        <p>國泰世紀產物保險股份有限公司(以下簡稱本公司) 致力於建置有效的公司治理架構、保障股東權益、強化董事會職能、發揮監察人功能、保障保戶權益及尊重利害關係人權益、維持清償能力、提升資訊透明度，並考量本公司整體之營運活動，與因應公司內外在環境之變遷，於民國九十七年五月五日設置獨立董事，以更進一步落實有效之公司治理。</p>

                        <h4 class="title-border">董事會</h4>
                        <p>本公司董事會由在財金、商務及管理等領域具有豐富經驗與專業之董事及獨立董事所組成。</p>

                        <h4 class="title-border">監察人</h4>
                        <p>本公司監察人遵循法令規定行使監察人職權，以協助董事會提高公司治理績效，並設常駐監察人一人由柳進興先生擔任。</p>

                        <div>相關資料連結 ：</div>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/1.pdf" target="_blank">公司治理之架構及規則</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/2.pdf" target="_blank">公司股權結構及股東權益</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/3.pdf" target="_blank">董事會之結構及獨立性</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/4.pdf" target="_blank">董事會運作情形</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/5-1.pdf" target="_blank">董事會職責</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/5-2.pdf" target="_blank">經理人職責</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/6.pdf" target="_blank">審計委員會或監察人之組成、職責及獨立性</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/7.pdf" target="_blank">審計委員會運作情形或監察人參與董事會運作情形</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/8.pdf" target="_blank">薪酬委員會、風險管理委員會或其他各類功能性委員會之組成、職責及運作情形</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/9.pdf" target="_blank">最近年度支付董事、監察人及總經理之酬金、酬金總額占稅後純益比例之分析、酬金給付政策、標準與組合、訂定酬金之程序，及與經營績效及未來風險之關聯性</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/10.pdf" target="_blank">依保險業財務報告編製準則第二十條規定及所附格式，個別揭露董事、監察人及總經理之酬金</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/11.pdf" target="_blank">董事、監察人之進修情形</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/12.pdf" target="_blank">風險管理資訊</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/13.pdf" target="_blank">利害關係人之權利及關係【授信以外】</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/14.pdf" target="_blank">利害關係人之權利及關係【授信】</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/13_14.pdf" target="_blank">關係人交易相關資訊【含利害關係人授信相關資訊】</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/16.pdf" target="_blank">申訴處理制度</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/2019-17.pdf" target="_blank">履行社會責任情形</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/2019-18.pdf" target="_blank">對政黨、利害關係人及公益團體所為之捐贈情形</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/19.pdf" target="_blank">公司治理運作情形及其與保險業公司治理實務守則差異情形及原因</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/22.pdf" target="_blank">非擔任主管職務之員工人數、年度員工平均福利費用及與前一年度差異</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/20.pdf" target="_blank">內部稽核之相關資訊</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/21.pdf" target="_blank">其他公司治理之相關資訊</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/23.pdf" target="_blank">機構投資人盡職治理守則</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/24.pdf" target="_blank">國泰產險投票情形揭露報告(中.英)</a>
                            <a class="d-inline-block link mr-2 mt-2" href="/insurance/CorpGov/pdf/25.pdf" target="_blank">出席上市櫃公司股東會比率</a>	
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->