<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main>
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">福利制度</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company auto-height">
        <div class="container text-center pt-4">
            <h1 class="mt-4">加入國泰，一起打造暖心服務吧 !</h1>

            <ul class="tab is-pill">
                <li><a href="./company-15-4-0.html">福利制度</a></li>
                <li><a href="./company-15-5-0.html">工作機會</a></li>
                <li class="active"><a href="./company-15-6-0.html">履歷維護</a></li>
                <li><a href="./company-15-6-1.html">進度查詢</a></li>
            </ul>
        </div>
    </div>
    
    <section class="pt-0">
        <div class="container">
            <div class="panel">
                <div class="panel-header">
                    <h4 class="panel-title">登入系統，來填寫履歷和完成報到吧</h4>
                </div>
                <div class="panel-body">
                    <!-- 
                        Embed 104 page
                        <iframe src="" frameborder="0"></iframe> 
                    -->
                </div>
            </div>
            
            <div class="text-gray"><small>
                小提醒<br/>
                <ol>
                    <li>首次登入者，煩請先點選註冊履歷，並於信箱開通帳號。</li>
                    <li>履歷審核通過者，以 Email 及手機簡訊另行通知考 (面) 試，不通過者恕不通知。</li>
                    <li>
                        各類別職缺考試科目：<br/>
                        - 車險理賠人員、營業專員、推展專員：中文面試<br/>
                        - 經辦人員：中打測驗、中文面試<br/>
                        - 其他類別人員：英文朗讀與面試、英文線上測驗、中文面試 (程式設計及適性測驗視單位需求增加)
                    </li>
                </ol>
            </small></div>

        </div>
    </section>
</main>
<!-- /build:content -->