<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">福利制度</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company">
        <div class="container text-center pt-4">
            <h1 class="mt-4">加入國泰，一起打造暖心服務吧 !</h1>

            <ul class="tab is-pill d-none d-md-block">
                <li class="active"><a href="./company-15-4-0.html">福利制度</a></li>
                <li><a href="./company-15-5-0.html">工作機會</a></li>
                <li><a href="./company-15-6-0.html">履歷維護</a></li>
                <li><a href="./company-15-6-1.html">進度查詢</a></li>
            </ul>

            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="./company-15-4-0.html">福利制度</option>
                    <option value="./company-15-5-0.html" selected>工作機會</option>
                    <option value="./company-15-6-0.html">履歷維護</option>
                    <option value="./company-15-6-1.html">進度查詢</option>
                </select>
            </div>

            <div class="row mt-2">
                <div class="col-md-8 offset-md-2">
                    <p>你也深信，看似微不足道的小事，卻能夠為永續生活環境帶來美好改變嗎？無論你支持綠能源轉型、還是重視農民災損補償及弱勢照顧，<span class="text-orange">歡迎你懷抱著熱忱加入國泰，實現由內而外的全人幸福願景</span>。無論你加入哪個職位，都享有以下薪資福利與培育制度，讓國泰一起與你照顧你的家。</p>
                </div>
            </div>
        </div>
    </div>
    
    <section class="bg-white">
        <div class="container">
            <h1 class="section-title">薪資福利</h1>
            
            <div class="cards four-cards">
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/company/PFB5_0400/profit-01.png" alt="" srcset="../img/company/PFB5_0400/profit-01@2x.png">
                    </div>
                    <div class="content">
                        <h4 class="title mb-2">勞保、健保及意外險</h4>
                        <p class="text text-deep-gray">
                            員工到職後即有投保勞工保險、全民健保及意外險特約300萬。
                        </p>
                    </div>
                </div>
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/company/PFB5_0400/profit-02.png" alt="" srcset="../img/company/PFB5_0400/profit-02@2x.png">
                    </div>
                    <div class="content">
                        <h4 class="title mb-2">國泰醫院優待</h4>
                        <p class="text text-deep-gray">
                            1.員工優待：門診掛號費、住院病房費、健康檢查費。<br/>
                            2.員工眷屬（父母、配偶、子女）優待：住院病房費、健康檢查費。
                        </p>
                    </div>
                </div>
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/company/PFB5_0400/profit-03.png" alt="" srcset="../img/company/PFB5_0400/profit-03@2x.png">
                    </div>
                    <div class="content">
                        <h4 class="title mb-2">員工退休制度</h4>
                        <p class="text text-deep-gray">退休金。</p>
                    </div>
                </div>
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/company/PFB5_0400/profit-04.png" alt="" srcset="../img/company/PFB5_0400/profit-04@2x.png">
                    </div>
                    <div class="content">
                        <h4 class="title mb-2">年節代金</h4>
                        <p class="text text-deep-gray">中秋端午佳節發放節日代金。</p>
                    </div>
                </div>
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/company/PFB5_0400/profit-05.png" alt="" srcset="../img/company/PFB5_0400/profit-05@2x.png">
                    </div>
                    <div class="content">
                        <h4 class="title mb-2">年終獎金</h4>
                        <p class="text text-deep-gray">依全年考績核發年終獎金。</p>
                    </div>
                </div>
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/company/PFB5_0400/profit-06.png" alt="" srcset="../img/company/PFB5_0400/profit-06@2x.png">
                    </div>
                    <div class="content">
                        <h4 class="title mb-2">婚喪禮金</h4>
                        <p class="text text-deep-gray">
                            員工本人及其眷屬（父母、配偶、子女）婚喪喜慶由公司贈送喜幛、輓聯及婚喪禮金。
                        </p>
                    </div>
                </div>
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/company/PFB5_0400/profit-07.png" alt="" srcset="../img/company/PFB5_0400/profit-07@2x.png">
                    </div>
                    <div class="content">
                        <h4 class="title mb-2">生日禮物</h4>
                        <p class="text text-deep-gray">
                            到職後生日當月即享有發放生日禮物。
                        </p>
                    </div>
                </div>
                <div class="card basic border-0">
                    <div class="image">
                        <img src="../img/company/PFB5_0400/profit-08.png" alt="" srcset="../img/company/PFB5_0400/profit-08@2x.png">
                    </div>
                    <div class="content">
                        <h4 class="title mb-2">集團福利</h4>
                        <p class="text text-deep-gray">
                            另外還有多樣化的社團活動、購屋折扣、保費折扣、子女教育補助金等福利措施。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="is-relax pb-0 mb-0">
        <div class="container">
            <h1 class="section-title">人才培育</h1>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p class="text-deep-gray text-center">
                         「職前訓練、在職訓練兼顧」、「專業訓練、通識訓練並重」 透過持續性之教育訓練，不斷提昇員工專業服務能力，藉諸專業及通識並重之教育訓練，開拓員工全方位發展潛質，提供員工最佳職涯規劃
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <div class="item px-0">
                                <i class="icon-check"></i>
                                <span class="text">經營管理訓練課程</span>
                            </div>
                            <div class="item px-0">
                                <i class="icon-check"></i>
                                <span class="text">語文訓練課程</span>
                            </div>
                            <div class="item px-0">
                                <i class="icon-check"></i>
                                <span class="text">國內外機構訓練課程</span>
                            </div>
                            <div class="item px-0">
                                <i class="icon-check"></i>
                                <span class="text">電腦資訊訓練課程</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item px-0">
                                <i class="icon-check"></i>
                                <span class="text">新進人員訓練課程</span>
                            </div>
                            <div class="item px-0">
                                <i class="icon-check"></i>
                                <span class="text">內勤員工通識暨專業基礎訓練課程 </span>
                            </div>
                            <div class="item px-0">
                                <i class="icon-check"></i>
                                <span class="text">營業單位專業訓練課程 </span>
                            </div>
                            <div class="item px-0">
                                <i class="icon-check"></i>
                                <span class="text">專業人員經常性訓練課程</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="../img/company/PFB5_0400/join-cathy.png" height="276" class="d-block m-auto" srcset="../img/company/PFB5_0400/join-cathy@2x.png">
    </section>

    <section class="is-relax bg-main-gradient">
        <div class="container">
            <h1 class="section-title text-white">
                想一起在國泰綻放光彩嗎？<br/>
                了解徵選流程，搶先別人一步吧！
            </h1>

            <div class="row job-flow text-white text-center mt-4 pt-4">
                <div class="col text-link">
                    <img src="../img/company/PFB5_0400/group-12.png" height="96" srcset="../img/company/PFB5_0400/group-12.png" />
                    <div class="text">註冊/登入履歷維護</div>
                </div>
                <div class="col text-link">
                    <img src="../img/company/PFB5_0400/group-13.png" height="96" srcset="../img/company/PFB5_0400/group-13.png" />
                    <div class="text">編輯履歷</div>
                </div>
                <div class="col text-link">
                    <img src="../img/company/PFB5_0400/group-15.png" height="96" srcset="../img/company/PFB5_0400/group-15.png" />
                    <div class="text">投遞職缺</div>
                </div>
                <div class="col text-link">
                    <img src="../img/company/PFB5_0400/group-16.png" height="96" srcset="../img/company/PFB5_0400/group-16.png" />
                    <div class="text">資格篩選</div>
                </div>
                <div class="col text-link">
                    <img src="../img/company/PFB5_0400/group-17.png" height="96" srcset="../img/company/PFB5_0400/group-17.png" />
                    <div class="text">審核通過</div>
                </div>
                <div class="col text-link">
                    <img src="../img/company/PFB5_0400/group-18.png" height="96" srcset="../img/company/PFB5_0400/group-18.png" />
                    <div class="text">面試/考試</div>
                </div>
                <div class="col text-link">
                    <img src="../img/company/PFB5_0400/group-19.png" height="96" srcset="../img/company/PFB5_0400/group-19.png" />
                    <div class="text">錄取通知</div>
                </div>
                <div class="col text-link">
                    <img src="../img/company/PFB5_0400/group-20.png" height="96" srcset="../img/company/PFB5_0400/group-20.png" />
                    <div class="text">報到</div>
                </div>
            </div>
        </div>
    </section>
    <section class="is-relax">
        <div class="container text-center">
            <h1 class="section-title">
                好想認識你，快向國泰介紹你自己<br/>
                看看有什麼適合的職缺吧
            </h1>

            <a class="btn btn-primary">立即開始</a>
        </div>
    </section>
</main>
<!-- /build:content -->