<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item active">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            
                            <a href="./company-15-3-0_4-3.html" role="button" class="item">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <h2 class="mt-0">永續肯定</h2>
                    <p>2018年國泰產險獲獎肯定大紀事</p>
                    <div class="news-container">
                        <div class="news card">
                            <div class="image">
                                <img src="../img/company/PFB5_0301/2019issue-prize-1.jpg" />
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="public_at">創新服務深得民心</span>
                                </div>
                                <h2 class="my-0">台灣企業永續獎</h2>
                                <div class="text">領先同業推出綠色交通相關保險，積極成為業界先行者，為社會低碳轉型貢獻心力，更以保戶角度出發，提供班機延誤快速理賠創新服務，獲頒本屆「創新成長獎」。</div>
                            </div>
                        </div>
                        <div class="news card">
                            <div class="image">
                                <img src="../img/company/PFB5_0301/2019issue-prize-2.jpg" />
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="public_at">從「心」出發 持續發揮核心職能</span>
                                </div>
                                <h2 class="my-0">信譽品牌獎</h2>
                                <div class="text">《讀者文摘》主辦，透過全球知名消費者研究公司Catalyst Research進行調查，由消費者票選出最值得信賴品牌，今年度主辦單位新增產險公司類評比，國泰產險榮獲「產險公司類」金獎之殊榮</div>
                            </div>
                        </div>
                        <div class="news card">
                            <div class="image">
                                <img src="../img/company/PFB5_0301/2019issue-prize-3.jpg" />
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="public_at">具體展現改變現況的創新力與影響力</span>
                                </div>
                                <h2 class="my-0">第二屆CSR影響力獎</h2>
                                <div class="text">國泰產險製作不意外騎士動畫影片，並遠赴蘭嶼拍攝，透過VR遊戲互動教導蘭嶼孩童學習騎車知識。獲選此次CSR影響力獎「特優獎」之殊榮。</div>
                            </div>
                        </div>
                        <div class="news card">
                            <div class="image">
                                <img src="../img/company/PFB5_0301/2019issue-prize-4.jpg" />
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="public_at">最佳專業團隊</span>
                                </div>
                                <h2 class="my-0">卓越保險評比</h2>
                                <div class="text">由《卓越雜誌》委託世新大學民意調查研究中心進行「卓越保險評比」調查，旨在瞭解臺灣各保險業者在民眾心目中的服務品質，2018年國泰產險首度獲獎，榮頒「最佳專業團隊獎」。</div>
                            </div>
                        </div>
                        <div class="news card">
                            <div class="image">
                                <img src="../img/company/PFB5_0301/2019issue-prize-5.jpg" />
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="public_at">優秀人才就業心頭好</span>
                                </div>
                                <h2 class="my-0">保險龍鳳獎</h2>
                                <div class="text">由現代保險教育事務基金會針對準畢業生心目中最嚮往的金融保險公司所做的「全國財金保險系所畢業生就業意願大調查」，國泰產險獲得「產險公司優等」之肯定。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->