<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="#">資訊公開</a></li>
                    <li class="active"><a href="#">公開依據</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="banner company">
        <img src="../img/company/corperation-info.png" srcset="../img/company/corperation-info@2x.png">
        <div class="container">
            <h1>資訊公開</h1>
        </div>
    </section>
    
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 document-items">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>資訊公開</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-7-0.html" role="button" class="item active">公開依據</a>
                            <a href="./company-15-7-0_1.html" role="button" class="item">公司概況</a>
                            <a href="./company-15-7-0_2.html" role="button" class="item">財務概況</a>
                            <a href="./company-15-7-0_3.html" role="button" class="item">業務概況</a>
                            <a href="./company-15-7-0_4.html" role="button" class="item">公司治理</a>
                            <a href="./company-15-7-0_5.html" role="button" class="item">重大訊息</a>
                            <a href="./company-15-7-0_6.html" role="button" class="item">各項保險商品</a>
                            <a href="./company-15-7-0_7.html" role="button" class="item">其他事項</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <article class="pt-0">
                        <h4 class="mt-1 d-none d-md-block">公開依據</h4>
                        <h4 class="title-border">依據法令</h4>
                        <ul>
                            <li>
                                中華民國九十年十二月二十日財政部（90）台財保字第 0900751388 號令訂定發布全文 13 條；並自九十一年一月一日施行</li>
                            <li>
                                中華民國九十二年七月十一日財政部台財保字第 0920750543 號令修正發布第 5、6、8、9、11、13 條條文 
                            </li>
                            <li>
                                中華民國九十二年七月三十日奉財政部台財保字第 0920705164 號函核定發布「財產保險業辦理資訊公開管理辦法基本參考格式」
                            </li>
                            <li>
                                中華民國九十九年一月四日行政院金融監督管理委員會金管保理字第 09802615762 號令修正發布第 9、10 條條文
                            </li>
                            <li>
                                中華民國一百年七月五日行政院金融監督管理委員會金管保理字第 10002559012 號令修正發布全文 13 條；並自發布日施行
                            </li>
                            <li>
                                中華民國一百零三年一月二十四日金融監督管理委員會金管保產字第 10202529881 號令修正發布全文 13 條；並自發布日施行
                            </li>
                            <li>
                                中華民國一百零四年六月二十六日金融監督管理委員會金管保產字第 104025023391 號令修正發布第 8、9 條條文
                            </li>
                            <li>
                                中華民國一百零五年八月一日金融監督管理委員會金管保產字第 10502523961 號令修正發布第 5、9～11 條條文
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->