<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="#">資訊公開</a></li>
                    <li class="active"><a href="#">財務概況</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="banner company">
        <img src="../img/company/corperation-info.png" srcset="../img/company/corperation-info@2x.png">
        <div class="container">
            <h1>資訊公開</h1>
        </div>
    </section>
    
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 document-items">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>資訊公開</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-7-0.html" role="button" class="item">公開依據</a>
                            <a href="./company-15-7-0_1.html" role="button" class="item">公司概況</a>
                            <a href="./company-15-7-0_2.html" role="button" class="item active">財務概況</a>
                            <a href="./company-15-7-0_3.html" role="button" class="item">業務概況</a>
                            <a href="./company-15-7-0_4.html" role="button" class="item">公司治理</a>
                            <a href="http://ins-info.ib.gov.tw/customer/Info6-1.aspx?UID=84445772" target="_blank" role="button" class="item">重大訊息</a>
                            <a href="./company-15-7-0_6.html" role="button" class="item">各項保險商品</a>
                            <a href="./company-15-7-0_7.html" role="button" class="item">其他事項</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <article class="pt-0">
                        <h4 class="mt-1 d-none d-md-block">財務概況</h4>
                        
                        <div class="accordions">
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-1.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">資金運用表</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-2.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">資產負債表</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-3.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">綜合損益表</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-4.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">股東權益變動表</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-5.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">各種責任準備金</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-6.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">放款總額／逾期放款／逾期放款比率／備抵呆帳金額／備抵呆帳覆蓋率</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-7.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">關係人交易明細</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-8.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">簽證會計師查核簽證或核閱財務報告之意見</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-9.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">現金流量表</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-10.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">盈餘分配或虧損撥補之議決</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-11.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">資產評估</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info2-12.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">各項財務業務指標</h4>
                                </a>
                                
                            </div>
                            <div class="accordion">
                                <a href="http://ins-info.ib.gov.tw/customer/Info4-18.aspx?UID=84445772" target="_blank" class="accordion-header" role="button">
                                    <div class="icon">
                                        <i class="icon-arrow-right"></i>
                                    </div>
                                    <h4 class="accordion-title">資本適足性揭露</h4>
                                </a>
                                
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->