<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item active">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            
                            <a href="./company-15-3-0_4-3.html" role="button" class="item">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <ul class="tab is-pill pl-0" role="tab">
                        <li class="active"><a role="tab-item" data-tab-id="tab-1">永續願景</a></li>
                        <li><a role="tab-item" data-tab-id="tab-2">企業永續(CS)小組</a></li>
                    </ul>
                    <div class="tab-pane">
                        <div class="tab-content active" data-tab-id="tab-1">
                            <article>
                                <p>對於國泰產險而言，最重要的任務莫過於協助消費者辨識風險，幫助其做好妥善的風險管理，提供損失預防及填補之解決方案，運用核心職能成為穩定社會經濟環境的安定力量。是故以「建構普世守護，共創全人幸福」作為國泰產險貫徹永續的終極願景，其意涵說明如下：</p>
                                <br>
                                <h4 class="title-border">發揮核心職能，人人皆有保障</h4>
                                <p>充分發揮保險「損失預防、減輕、分擔」的核心職能，為普羅大眾建構「事前預防」（風險教育、損害防阻）及「事後補償」（彌補各類損失，維持經濟穩定）的安全防護網，提供全方位的專屬守護。</p>

                                <h4 class="title-border">傳遞永續行動力，共創美麗心世界</h4>
                                <p>依循國際永續保險原則， 從「心」出發，攜手員工、保戶及社會大眾共同傳遞為永續生活環境帶來美好改變的行動力，實現由內而外的全人幸福願景。</p>
                            </article>
                        </div>
                        <div class="tab-content" data-tab-id="tab-2">
                            <article>
                                <p>
                                    國泰金控於2011成立「企業社會責任（CSR）委員會」，因應外部環境與內部組織變化，於2014年策略性轉型為「企業永續（CS）委員會」，納入獨立董事督導，同時拓展涵蓋議題與提升視野。
                                </p>
                                <p>
                                    為響應集團永續策略及落實CS向下札根，國泰產險於2017年成立「國泰產險企業永續（CS）小組」，未來將攜手員工、保戶、合作夥伴、政府及社會大眾一同為永續生活環境，帶來美好的改變，致力成為永續保險領航者而努力。
                                </p>

                                <img src="../img/company/PFB5_0301/vision-org.png" height="495">
                            </article>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->