<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li class="active"><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="pt-0">
        <div class="container">
            <div class="panel pride">
                <div class="panel-body bg-primary">
                    <div class="row">
                        <div class="col-4">
                            <img src="../img/company/PFB5_0200/about-cathy-01.png" height="291" srcset="../img/company/PFB5_0200/about-cathy-01@2x.png">
                        </div>
                        <div class="col-8 pl-4 text-white">
                            <h2>
                                連續 5 年<br/>
                                消費者心目中理想品牌大調查『產險業第一名』
                            </h2>
                            <p>
                                2009至2013 年連續五年獲管理雜誌評選為『消費者心目中理想品牌大調查』產險業第一名。<br/>
                                當地客戶優質的保險服務，未來將持續朝「亞太地區最佳金融機構」的目標邁進。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h1 class="section-title">獲獎稱霸台灣</h1>
            <div class="row reward">
                <div class="col-12">
                    <img src="../img/index/u-need-bg.png" srcset="../img/index/u-need-bg@2x.png" height="456" class="bg">
                    <div class="owl-carousel insurance-card">
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2018</h1>
                                <h2>台灣企業永續獎</h2>
                                <p>
                                    領先同業推出綠色交通相關保險，積極成為業界先行者，為社會低碳轉型貢獻心力，更以保戶角度出發，提供班機延誤快速理賠創新服務，國泰產險獲頒「第十一屆台灣企業永續獎」-創新成長獎。
                                </p>
                            </div>
                        </div>  
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2018</h1>
                                <h2>CSR 影響力獎</h2>
                                <p>
                                    國泰產險製作不意外騎士動畫影片，並遠赴蘭嶼拍攝，透過VR遊戲互動教導蘭嶼孩童學習騎車知識。獲選CSR影響力獎「特優獎」之殊榮。
                                </p>
                            </div>
                        </div>  
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2018</h1>
                                <h2>信譽品牌獎</h2>
                                <p>國泰產險於「第二十屆《讀者文摘》信譽品牌獎」榮獲「產險公司類」金獎。</p>
                            </div>
                        </div>  
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2017</h1>
                                <h2>金峰獎</h2>
                                <p>國泰產險於「第十八屆金峰獎」榮獲「十大傑出企業」和「十大傑出商品」2個獎項。</p>
                            </div>
                        </div>  
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2017</h1>
                                <h2>保險卓越獎</h2>
                                <p>國泰產險於「第七屆保險卓越獎」榮獲「人才培訓卓越獎」和「公益關懷專案企劃卓越獎」2個金質獎，以及「保戶服務卓越獎」、 「資訊應用卓越獎」、 「風險管理卓越獎和「商品創新專案企畫卓越獎」4個銀質獎。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2017</h1>
                                <h2>保險信望愛獎</h2>
                                <p>國泰產險於「第十九屆保險信望愛獎」榮獲「最佳專業顧問獎」、 「最佳保險成就獎」、 「最佳通訊處獎」及「最佳整合傳播獎」4個獎項，以及「最佳社會責任獎」和「最佳保險專業獎」兩項優選 。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2017</h1>
                                <h2>好險 Action 微電影徵選</h2>
                                <p>國泰產險於「第二屆好險，Action! 微電影徵選活動」榮獲汽機車第三人責任保險-保險業者組「佳作」。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2016</h1>
                                <h2>好險 Action 微電影徵選</h2>
                                <p>國泰產險於「第一屆好險，Action! 微電影徵選活動」榮獲「公共意外責任險保險-保險業者組」銅賞獎以及「最佳人氣獎」兩項大獎。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2016</h1>
                                <h2>運動企業認證</h2>
                                <p>國泰產險受體育署肯定，與國泰金控、國泰人壽及國泰世華銀行成為首屆獲得「運動企業認證」之金融業。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2016</h1>
                                <h2>金炬獎</h2>
                                <p>國泰產險於「第十三屆金炬獎」榮獲「年度十大績優企業」及「年度十大績優商品」2個獎項。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2016</h1>
                                <h2>國家品牌玉山獎</h2>
                                <p>國泰產險於「第十三屆國家品牌玉山獎」榮獲「傑出企業類」及「最佳產品類」2個獎項，並同時雙雙獲得全國首獎。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2016</h1>
                                <h2>保險卓越獎</h2>
                                <p>國泰產險於「第六屆保險卓越獎」榮獲「保戶服務卓越獎」金質獎，以及「人才培訓卓越獎」、「資訊應用卓越獎」、「商品創新卓越獎」、「風險管理卓越獎」4 個銀質獎。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2015</h1>
                                <h2>金炬獎</h2>
                                <p>國泰產險於由中華民國傑出企業管理人協會主辦的「第十二屆金炬獎」榮獲「年度十大企業」和「年度十大商品」兩個獎項。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2015</h1>
                                <h2>保險信望愛獎</h2>
                                <p>國泰產險於「第十七屆保險信望愛獎」榮獲「最佳社會責任獎」、「最佳商品創意獎」、「最佳保險成就獎」、「最佳專業顧問獎」共4項大獎，以及「最佳保險專業獎」、「最佳通路策略獎」、「最佳通訊處獎-桃園分公司」3項優選。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2014</h1>
                                <h2>金峰獎</h2>
                                <p>國泰產險於由中華民國傑出企業管理人協會主辦的「第十六屆金峰獎」榮獲「十大傑出企業」和「十大傑出商品」兩個獎項。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2014</h1>
                                <h2>保險信望愛獎</h2>
                                <p>國泰產險於「第十六屆保險信望愛獎」榮獲「最佳保險成就獎」、「最佳整合傳播獎」、「最佳通訊處獎」、「最佳保險專業獎」及「最佳社會責任獎」五個獎項，以及「最佳專業顧問獎」和「最佳商品創意獎」兩個獎項優選。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2013</h1>
                                <h2>保險卓越獎</h2>
                                <p>國泰產險於「第五屆台灣保險卓越獎」寫下亮眼佳績，總計囊括「保戶服務」、「人才培訓」及「資訊應用」等三項金質獎，以及「財產保險」、「風險管理」等銀質獎。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2013</h1>
                                <h2>保險信望愛獎</h2>
                                <p>國泰產險於「第十五屆保險信望愛獎」榮獲「最佳專業顧問獎」、「最佳保險成就獎」、「最佳通訊處獎」、「最佳保險專業獎」及「最佳社會責任獎」五個獎項，以及「最佳整合傳播獎」和「最佳商品創意獎」兩個獎項優選。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2013</h1>
                                <h2>國家品牌玉山獎</h2>
                                <p>國泰產險榮獲第十屆國家品牌玉山獎「傑出企業類」、「最佳產品類」雙獎項之殊榮，勇奪國家級企業典範肯定。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="glory is-relax my-5">
        <div class="container">
            <h1 class="section-title">榮耀引領全球</h1>
            <div class="row reward">
                <div class="col-12">
                    <div class="owl-carousel insurance-card">
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2014</h1>
                                <h2>年度服務企業</h2>
                                <p>
                                    國泰產險於韓國首爾獲頒史迪威亞太獎(Asia-Pacific Stevie Awards)之「年度服務企業」的殊榮。
                                </p>
                            </div>
                        </div>  
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2014</h1>
                                <h2>年度最快成長企業</h2>
                                <p>國泰產險於韓國首爾獲頒史迪威亞太獎 (Asia-Pacific Stevie Awards) 之「年度最快成長企業」銀獎的殊榮。</p>
                            </div>
                        </div>  
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2014</h1>
                                <h2>亞洲模範保險公司獎</h2>
                                <p>國泰產險與奧美廣告攜手設計，結合傳統宗教文化以及數位科技的創意行銷廣告，由全球知名金融服務業研究和諮詢公司 Celent 所舉辦的《Model Insurer Asia Awards》大獎，評選為「亞洲模範保險公司-服務獎」(Model Insurer Asia Award-Service)。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2014</h1>
                                <h2>台灣最佳產險公司</h2>
                                <p>國泰產險連續兩年榮獲英國知名財經媒體（World Finance）雜誌國際專業評審團的肯定，獲選為2014年台灣最佳產險公司。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2013</h1>
                                <h2>台灣最佳產險公司</h2>
                                <p>國泰產險連續兩年榮獲英國知名財經媒體（World Finance）雜誌國際專業評審團的肯定，獲選為2013年台灣最佳產險公司。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2013</h1>
                                <h2>亞洲最佳產險公司</h2>
                                <p>國泰產險繼 2009 年之後再次榮獲亞洲保險論壇（Asia Insurance Review）評選為2013 年度亞洲最佳產險公司（General Insurance Company of the Year）。</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <h1 class="no text-green">2013</h1>
                                <h2>保險傑出企業獎</h2>
                                <p>國泰產險獲IAIR《國際另類投資評論》頒發保險傑出企業獎(Excellence in Insurance : Non-Life Insurance )。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="document is-relax mb-0">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container text-center">
            <h1 class="section-title">
                國泰持續為改變社會美好而努力著<br/>
                看看我們都做了什麼
            </h1>
            <a href="./company-15-3-0_1-1.html" class="btn btn-primary">
                立即開始
            </a>
        </div>
    </section>
</main>
<!-- /build:content -->