<!-- build:body -->company<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">得獎榮耀</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner company compact">
        <img src="../img/company/PFB5_0100/banner.png" srcset="../img/company/PFB5_0100/banner@2x.png">
        <div class="container">
            <h1 class="text-center">為什麼選擇我們</h1>
        </div>
    </div>
    <div class="tab-container is-green">
        <div class="tab-header">
            <div class="container">
                <ul class="tab is-fill">
                    <li><a href="./company-15-1-0.html">公司簡介</a></li>
                    <li><a href="./company-15-2-0.html">得獎榮耀</a></li>
                    <li class="active"><a href="./company-15-3-0_1-1.html">企業永續</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 document-items">
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>共創全人幸福</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_1-1.html" role="button" class="item">總經理的話</a>
                            <a href="./company-15-3-0_1-2.html" role="button" class="item">永續願景與組織</a>
                            <a href="./company-15-3-0_1-3.html" role="button" class="item">永續政策</a>
                            <a href="./company-15-3-0_1-4.html" role="button" class="item">永續肯定</a>
                        </div>
                    </div>
                    <div class="accordion menu is-open">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>環境保護(E)</h4>
                        </div>
                        <div class="accordion-body">
                            <a href="./company-15-3-0_2-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_2-2.html" role="button" class="item">綠色營運</a>
                            <a href="./company-15-3-0_2-3.html" role="button" class="item active">綠色保險</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>社會共融(S)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_3-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_3-2.html" role="button" class="item">幸福職場</a>
                            <a href="./company-15-3-0_3-3.html" role="button" class="item">育才留才</a>
                            <a href="./company-15-3-0_3-4.html" role="button" class="item">全人損防</a>
                            <a href="./company-15-3-0_3-5.html" role="button" class="item">社會倡議</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續治理(G)</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_4-1.html" role="button" class="item">關鍵成果</a>
                            <a href="./company-15-3-0_4-2.html" role="button" class="item">公司治理架構</a>
                            
                            <a href="./company-15-3-0_4-3.html" role="button" class="item">風險管理與法令</a>
                            <a href="./company-15-3-0_4-4.html" role="button" class="item">客戶服務</a>
                        </div>
                    </div>
                    <div class="accordion menu">
                        <div role="button" class="accordion-header">
                            <div class="icon">
                                <i class="icon-chevron-down"></i>
                            </div>
                            <h4>永續保險原則(PSI)<br/>遵循報告</h4>
                        </div>
                        <div class="accordion-body" style="display: none;">
                            <a href="./company-15-3-0_5-1.html" role="button" class="item">永續保險原則(PSI)遵循報告</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 px-5">
                    <ul class="tab is-pill pl-0" role="tab">
                        <li class="active"><a role="tab-item" data-tab-id="tab-1">響應低碳交通</a></li>
                        <li><a role="tab-item" data-tab-id="tab-2">支持綠色能源轉型</a></li>
                        <li><a role="tab-item" data-tab-id="tab-3">綠色保險研修</a></li>
                    </ul>
                    <div class="tab-pane">
                        <div class="tab-content active" data-tab-id="tab-1">
                            <article>
                                <p>「環境保護，國泰當責」，本公司將綠色環保概念融入商品設計，並提供大眾交通運輸基礎協助政府推動低碳交通政策，實現保險永續發展的目標。</p>
                                <img src="../img/company/PFB5_0302/green-insurance-traffic-2.png">

                                <h4 class="title-border">保險專業結合環保概念創新保障</h4>
                                <p>國泰產險不僅只重視企業內部經營，同時更關注供應商管理，透過採購及業務合作影響力，促進供應商承擔環境、員工及社會之責任。</p>
                                <img src="../img/company/PFB5_0302/green-insurance-traffic-1.png">

                                <h4 class="title-border">提供風險解決方案 協助低碳交通政策落實</h4>
                                <p>為響應政府綠色交通轉型政策，國泰產險支持大眾運輸基礎建設所需之保險計劃（如：捷運、高鐵），並提供公部門低碳運輸風險解決方案，如：協助產險公會規劃首張「全國版」公共自行車保險商品，提供各縣市政府公共自行車的騎乘大眾及善良第三人都能獲得行車事故風險保障，透過核心職能發揮，間接有助低碳交通政策的落實。</p>
                            </article>
                        </div>
                        <div class="tab-content" data-tab-id="tab-2">
                            <article>
                                <p>基於氣候變遷與資源耗用所衍生出的能源、環境等風險，台灣政府響應國際推動再生能源政策，規劃以2025年達發電佔比20%為目標，因此國泰產險藉由提供商業火災保險、工程保險予相關產業（如：離岸風力發電、水力發電及太陽能發電等），以強化銀行融資放貸意願，增進整體產業發展，進而達到能源轉型之永續正向循環。</p>
                                
                                <img src="../img/company/PFB5_0302/green-insurance-energy.png">
                            </article>
                        </div>
                        <div class="tab-content" data-tab-id="tab-3">
                            <article>
                                <p>為精進綠色產業核保、理賠專業知識與技術，透過國際標竿企業實地學習，並以不定期舉辦內部教訓宣導、外部研討會講座及持續參加產官學界綠色能源相關會議等方式，累積綠色產業保險經驗，確保業務品質及風險控管。</p>
                                
                                <h4 class="title-border">標竿企業學習</h4>
                                <p>國泰產險透過國際標竿企業（如：Sompo Japan）實地學習，進行太陽能與離岸風力發電保險之風險評估、核保技術及損防措施等短期研修，藉由學習頂尖企業卓越之商業模式，比較業界內外之優秀作業實務與應用，界定公司現行作業流程與最佳實務間之落差，導入並實現適合自己企業的最佳實務，藉此大幅改善現行業務流程與營運效能。</p>
                                <img src="../img/company/PFB5_0302/green-insurance-learning.png" alt="">

                                <h4 class="title-border">內、外部教育訓練及研討</h4>
                                <p>透過內部定期調訓課程或國際再保險人研討會及專家學者講座，累積產業核保、理賠專業知識與技能，並與工業技術研究院、臺灣防災產業協會等機構持續交流技術資訊，同時利用政府相關公開資源，如經濟部能源局相關產業資訊網站，以有助公司承保/投資決策評估資訊蒐集。</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->