<!-- build:body -->group<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
  <div class="container breadcrumb-container">
    <div class="row">
      <div class="col-12">
        <ul class="breadcrumb">
          <li><a href="index.html">首頁</a></li>
          <li class="active"><a href="#">通勤族</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="banner group">
    <div class="container">
      <img src="../img/group/PFA1_0510/persona-chef.png" height="222" srcset="../img/group/PFA1_0510/persona-chef@2x.png">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-7 offset-md-4">
          <h2 class="quote">
            <small class="meta d-block d-md-none">大家都在討論...</small>
            <span class="text-big">餐飲業老闆，都在關心這些保障...</span><br>
            <small>經營已是不容易的事情，不要讓一次意外變成一場災難，經營的路上有國泰來分擔你的風險</small>
            <div class="btn btn-primary">立即免費諮詢</div>
          </h2>
        </div>
      </div>
    </div>
    <a href="#" class="next">
      <div class="circle"><i class="icon-chevron-right"></i></div>
    </a>
  </div>
  <section class="container">
    <h1 class="text-center">安心工作，國泰幫我保護...</h1>
    <div class="cards horizontal">
      <div class="card horz full-width">
        <div class="image">
          <img src="../img/group/PFA1_0510/Card1.jpg" class="d-none d-md-block">
          <img src="../img/group/PFA1_0510/Card1-sm.jpg" class="d-block d-md-none">
        </div>
        <div class="content">
          <h3>商業火災保險</h3>
          <div class="description">
            <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
            <div class="meta">
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">火災</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">爆炸引起之火災</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">閃電雷擊</span></div>
            </div>
          </div>
          <div class="action">
              <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
              <a class="btn btn-primary btn-block btn-sm">看更多</a>
          </div>
        </div>
      </div>
      <div class="card horz">
        <div class="image">
            <img src="../img/group/PFA1_0510/Card2.jpg" class="d-none d-md-block">
            <img src="../img/group/PFA1_0510/Card2-sm.jpg" class="d-block d-md-none">
        </div>
        <div class="content">
          <h3>公共意外責任保險</h3>
          <div class="description">
            <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
            <div class="meta">
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">意外事故</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">第三人體傷、死亡</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">美容院、幼稚園等均可保</span></div>
            </div>
          </div>
          <div class="action">
              <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
              <a class="btn btn-primary btn-block btn-sm">看更多</a>
          </div>
        </div>
      </div>
      <div class="card horz">
        <div class="image">
            <img src="../img/group/PFA1_0510/Card3.jpg" class="d-none d-md-block">
            <img src="../img/group/PFA1_0510/Card3-sm.jpg" class="d-block d-md-none">
        </div>
        <div class="content">
          <h3>產品責任保險</h3>
          <div class="description">
            <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
            <div class="meta">
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">上游原料出問題</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">國內外產品責任</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">第三人的侵權行為</span></div>
            </div>
          </div>
          <div class="action">
              <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
              <a class="btn btn-primary btn-block btn-sm">看更多</a>
          </div>
        </div>
      </div>
      <div class="card horz">
        <div class="image">
            <img src="../img/group/PFA1_0510/Card4.jpg" class="d-none d-md-block">
            <img src="../img/group/PFA1_0510/Card4-sm.jpg" class="d-block d-md-none">
        </div>
        <div class="content">
          <h3>雇主責任保險</h3>
          <div class="description">
            <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
            <div class="meta">
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">下班途中發生意外</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">職災住院</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">死亡、殘廢、交通事故等</span></div>
            </div>
          </div>
          <div class="action">
              <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
              <a class="btn btn-primary btn-block btn-sm">看更多</a>
          </div>
        </div>
      </div>
      <div class="card horz">
        <div class="image">
            <img src="../img/group/PFA1_0510/Card5.jpg" class="d-none d-md-block">
            <img src="../img/group/PFA1_0510/Card5-sm.jpg" class="d-block d-md-none">
        </div>
        <div class="content">
          <h3>人事保證保險</h3>
          <div class="description">
            <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
            <div class="meta">
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">免除員工不容易尋保人</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">節省對員工徵信的時間</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">投保方式簡易</span></div>
            </div>
          </div>
          <div class="action">
              <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
              <a class="btn btn-primary btn-block btn-sm">看更多</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section pb-5">
      <div class="container">
          <div class="row">
              <div class="col-md-10 offset-md-1">
                  <div class="row mb-5 contact-block">
                      <a href="tel:0800036599" target="_blank" class="col contact-item">
                          <div class="icon">
                              <div class="icon-call i-54 text-green"></div>
                          </div>
                          <div class="content">
                              <div class="text text-black">免付費專線</div>
                              <span class="d-none d-sm-block">0800-212-880</span>
                          </div>
                      </a>
                      <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                          <div class="icon">
                              <div class="icon-mail i-54 text-green"></div>
                          </div>
                          <div class="content">
                              <div class="text text-black">寫信諮詢</div>
                              <span class="d-none d-sm-block">將有專人聯繫</span>
                          </div>
                      </a>
                      <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                          <div class="icon">
                              <div class="icon-location i-54 text-green"></div>
                          </div>
                          <div class="content">
                              <div class="text text-black">服務據點</div>
                              <span class="d-none d-sm-block">查詢地址電話</span>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
<!-- /build:content -->