<!-- build:body -->group<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
  <div class="container breadcrumb-container">
    <div class="row">
      <div class="col-12">
        <ul class="breadcrumb">
          <li><a href="index.html">首頁</a></li>
          <li class="active"><a href="#">通勤族</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="banner group">
    <div class="container">
      <img src="../img/group/PFA1_0210/persona-driver.png" height="222" srcset="../img/group/PFA1_0210/persona-driver@2x.png">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-7 offset-md-4">
          <h2 class="quote">
            <small class="meta d-block d-md-none">大家都在討論...</small>
            <span class="text-big">如果我是通勤族...</span><br>
            <small>正在開始享受退休生活，如何照常快樂過生活，不用擔心往後跌倒、意外、手腳漸漸無力的後遺症，看看大家都保什麼，到老免擔心。</small>
          </h2>
        </div>
      </div>
    </div>
    <a href="#" class="next">
      <div class="circle"><i class="icon-chevron-right"></i></div>
    </a>
  </div>
  <section class="container">
    <h1 class="text-center">上班的路途，國泰幫我保護...</h1>
    <div class="cards horizontal">
      <div class="card horz full-width">
        <div class="image">
          <img src="../img/group/PFA1_0210/Card1.jpg" class="d-none d-md-block">
          <img src="../img/group/PFA1_0210/Card1sm.jpg" class="d-block d-md-none">
        </div>
        <div class="content">
          <h3>汽車險</h3>
          <div class="description">
            <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
            <div class="meta">
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">撞到超跑</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">傷人致殘</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">悲情自撞</span></div>
            </div>
          </div>
          <div class="action">
              <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
              <a class="btn btn-primary btn-block btn-sm">看更多</a>
          </div>
        </div>
      </div>
      <div class="card horz">
        <div class="image">
          <img src="../img/group/PFA1_0210/Card2.jpg" class="d-none d-md-block">
          <img src="../img/group/PFA1_0210/Card2sm.jpg" class="d-block d-md-none">
        </div>
        <div class="content">
          <h3>機車險</h3>
          <div class="description">
            <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
            <div class="meta">
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">撞殘別人</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">自騎雷殘</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">撞到超跑</span></div>
            </div>
          </div>
          <div class="action">
              <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
              <a class="btn btn-primary btn-block btn-sm">看更多</a>
          </div>
        </div>
      </div>
      <div class="card horz">
        <div class="image">
          <img src="../img/group/PFA1_0210/Card3.jpg" class="d-none d-md-block">
          <img src="../img/group/PFA1_0210/Card3sm.jpg" class="d-block d-md-none">
        </div>
        <div class="content">
          <h3>自行車險</h3>
          <div class="description">
            <!-- <div class="text-green">上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div> -->
            <div class="meta">
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">路邊失竊</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">自騎雷殘</span></div>
              <div class="item"><i class="icon-arrow-right text-green"></i><span class="text">競賽意外</span></div>
            </div>
          </div>
          <div class="action">
              <!-- <a class="btn btn-default btn-block btn-sm mb-1">選項一</a> -->
              <a class="btn btn-primary btn-block btn-sm">看更多</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="empty-section">
    <img src="../img/common/empty-section-bg.png"
      srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
    <img src="../img/common/main-line.png"
      srcset="../img/common/main-line@2x.png" height="79" class="main-line">
  </section>
</main>
<!-- /build:content -->