<!-- build:body -->insurance insurance-index <!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="banner insurance owl-carousel">
        <div class="item">
            <img src="../img/insurance/PFA2_0010/online.png" height="312px" srcset="../img/insurance/PFA2_0010/online@2x.png" />
            <div class="container">
                <div class="caption">
                    <h1>
                        國泰車險線上投保<br/>
                        強制險現折$250，其他險種87折
                    </h1>
                    <div class="desp">
                        再抽 Gogoro2，優惠只到 4/30 唷！
                    </div>
                    <div class="action mt-2">
                        <a href="../bobe/car/ECV20100.html" class="btn btn-default">試算投保</a>
                        <a href="#" class="btn btn-outline-reverse">看活動說明</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../img/insurance/PFA2_0010/online.png" height="312px" srcset="../img/insurance/PFA2_0010/online@2x.png" />
            <div class="container">
                <div class="caption">
                    <h1>
                        國泰車險線上投保<br/>
                        強制險現折$250，其他險種87折
                    </h1>
                    <div class="desp">
                        再抽 Gogoro2，優惠只到 4/30 唷！
                    </div>
                    <div class="action mt-2">
                        <a href="../bobe/car/ECV20100.html" class="btn btn-default">試算投保</a>
                        <a href="#" class="btn btn-outline-reverse">看活動說明</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">網路投保首頁</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="container">
        <h1 class="text-center">在找網路投保商品嗎？</h1>
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2 anchor">
                    <option value="">請選擇</option>
                    <option value="lazy-pack">優惠懶人包</option>
                    <option value="car">汽車險</option>
                    <option value="motor">機車險</option>
                    <option value="travel">旅平 ＋ 不便險</option>
                    <option value="house">住宅火險</option>
                    <option value="mobile">手機險</option>
                    <option value="pet">寵物險</option>
                    <option value="event">特定活動險</option>
                    <option value="others">其他險＋</option>
                </select>
            </div>
            <div class="labels text-center d-none d-lg-block">
                <a role="button" data-anchor="lazy-pack" class="label outline selected">優惠懶人包</a>
                <a role="button" data-anchor="car" class="label outline">汽車險</a>
                <a role="button" data-anchor="motor" class="label outline">機車險</a>
                <a role="button" data-anchor="travel" class="label outline">旅平 ＋ 不便險</a>
                <a role="button" data-anchor="house" class="label outline">住宅火險</a>
                <a role="button" data-anchor="mobile" class="label outline">手機險</a>
                <a role="button" data-anchor="pet" class="label outline">寵物險</a>
                <a role="button" data-anchor="event" class="label outline">特定活動險</a>
                <a role="button" data-anchor="others" class="label outline">其他險＋</a>
            </div>
        </div>
        <div class="cards horizontal">
            <div class="card horz" data-id="car">
                <div class="image">
                    <img src="../img/insurance/PFA2_0010/card1.jpg" class="d-none d-sm-block">
                    <img src="../img/insurance/PFA2_0010/card1-sm.png" class="d-block d-sm-none">
                </div>
                <div class="content">
                    <h3>汽車險</h3>
                    <div class="description text-green">
                        <div>上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div>
                        <div class="meta">
                        <a href="#" class="item">
                            <i class="icon-arrow-right text-green"></i><span class="text">撞到超跑</span>
                        </a>
                        <a href="#" class="item">
                            <i class="icon-arrow-right text-green"></i><span class="text">傷人致殘</span>
                        </a>
                        <a href="#" class="item">
                            <i class="icon-arrow-right text-green"></i><span class="text">悲情自撞</span>
                        </a>
                        </div>
                    </div>
                    <div class="action">
                        <a class="btn btn-default btn-block btn-sm mb-1">選項一</a>
                        <a class="btn btn-primary btn-block btn-sm">選項二</a>
                    </div>
                </div>
            </div>
            <div class="card horz" data-id="motor">
                <div class="image">
                    <img src="../img/insurance/PFA2_0010/card2.jpg" class="d-none d-sm-block">
                    <img src="../img/insurance/PFA2_0010/card2-sm.png" class="d-block d-sm-none">
                </div>
                <div class="content">
                    <h3>機車險</h3>
                    <div class="description text-green">
                        <div>上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div>
                        <div class="meta">
                            <a href="#" class="item">
                                <i class="icon-arrow-right text-green"></i><span class="text">撞殘別人</span>
                            </a>
                            <a href="#" class="item">
                                <i class="icon-arrow-right text-green"></i><span class="text">自騎雷殘</span>
                            </a>
                            <a href="#" class="item">
                                <i class="icon-arrow-right text-green"></i><span class="text">撞到超跑</span>
                            </a>
                        </div>
                    </div>
                    <div class="action">
                        <a class="btn btn-default btn-block btn-sm mb-1">選項一</a>
                        <a class="btn btn-primary btn-block btn-sm">選項二</a>
                    </div>
                </div>
            </div>
            <div class="card horz" data-id="travel">
                <div class="image">
                    <img src="../img/insurance/PFA2_0010/card3.jpg" class="d-none d-sm-block">
                    <img src="../img/insurance/PFA2_0010/card3-sm.png" class="d-block d-sm-none">
                </div>
                <div class="content">
                    <h3>旅平 + 不便險</h3>
                    <div class="description text-green">
                        <div>上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div>
                        <div class="meta">
                            <a href="#" class="item"><i class="icon-arrow-right text-green"></i><span class="text">路邊失竊</span></a>
                            <a href="#" class="item"><i class="icon-arrow-right text-green"></i><span class="text">自騎雷殘</span></a>
                            <a href="#" class="item"><i class="icon-arrow-right text-green"></i><span class="text">競賽意外</span></a>
                        </div>
                    </div>
                    <div class="action">
                        <a class="btn btn-default btn-block btn-sm mb-1">選項一</a>
                        <a class="btn btn-primary btn-block btn-sm">選項二</a>
                    </div>
                </div>
            </div>
            <div class="card horz" data-id="house">
                <div class="image">
                    <img src="../img/insurance/PFA2_0010/card4.jpg" class="d-none d-sm-block">
                    <img src="../img/insurance/PFA2_0010/card4-sm.png" class="d-block d-sm-none">
                </div>
                <div class="content">
                    <h3>住宅險</h3>
                    <div class="description text-green">
                        <div>上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div>
                        <div class="meta">
                            <a class="item">
                                <i class="icon-check text-green"></i>
                                <span class="text">火災災害</span>
                            </a>
                            <a class="item">
                                <i class="icon-check text-green"></i>
                                <span class="text">地震災害</span>
                            </a>
                            <a class="item">
                                <i class="icon-check text-green"></i>
                                <span class="text">臨時住宿費補助</span>
                            </a>
                        </div>
                    </div>
                    <div class="action">
                        <a class="btn btn-default btn-block btn-sm mb-1">選項一</a>
                        <a class="btn btn-primary btn-block btn-sm">選項二</a>
                    </div>
                </div>
            </div>
            <div class="card horz" data-id="mobile">
                <div class="image">
                    <img src="../img/insurance/PFA2_0010/card5.jpg" class="d-none d-sm-block">
                    <img src="../img/insurance/PFA2_0010/card5-sm.png" class="d-block d-sm-none">
                </div>
                <div class="content">
                    <h3>寵物保險</h3>
                    <div class="description text-green">
                        <div>上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div>
                        <div class="meta">
                            <a href="#" class="item">
                                <i class="icon-arrow-right text-green"></i>
                                <span class="text">毛孩免體檢</span>
                            </a>
                            <a href="#" class="item">
                                <i class="icon-arrow-right text-green"></i>
                                <span class="text">醫療費</span>
                            </a>
                            <a href="#" class="item">
                                <i class="icon-arrow-right text-green"></i>
                                <span class="text">寄宿日額補助</span>
                            </a>
                        </div>
                    </div>
                    <div class="action">
                        <a class="btn btn-default btn-block btn-sm mb-1">選項一</a>
                        <a class="btn btn-primary btn-block btn-sm">選項二</a>
                    </div>
                </div>
            </div>
            <div class="card horz" data-id="pet">
                <div class="image">
                    <img src="../img/insurance/PFA2_0010/card6.jpg" class="d-none d-sm-block">
                    <img src="../img/insurance/PFA2_0010/card6-sm.png" class="d-block d-sm-none">
                </div>
                <div class="content">
                    <h3>手機保險</h3>
                    <div class="description text-green">
                        <div>上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div>
                        <div class="meta">
                            <a class="item">
                                <i class="icon-check text-green"></i>
                                <span class="text">螢幕碎屏</span>
                            </a>
                            <a class="item">
                                <i class="icon-check text-green"></i>
                                <span class="text">手機失竊</span>
                            </a>
                            <a class="item">
                                <i class="icon-check text-green"></i>
                                <span class="text">不明原因損壞</span>
                            </a>
                        </div>
                    </div>
                    <div class="action">
                        <a class="btn btn-default btn-block btn-sm mb-1">選項一</a>
                        <a class="btn btn-primary btn-block btn-sm">選項二</a>
                    </div>
                </div>
            </div>
            <div class="card horz" data-id="event">
                <div class="image">
                    <img src="../img/insurance/PFA2_0010/card7.jpg" class="d-none d-sm-block">
                    <img src="../img/insurance/PFA2_0010/card7-sm.png" class="d-block d-sm-none">
                </div>
                <div class="content">
                    <h3>特定活動險</h3>
                    <div class="description text-green">
                        <div>上稿廣告內文：強制險現省 250元，再送您100元全家禮卷</div>
                        <div class="meta">
                            <a href="#" class="item">
                                <i class="icon-arrow-right text-green"></i>
                                <span class="text">出發前1.5小時即可投保</span>
                            </a>
                            <a href="#" class="item">
                                <i class="icon-arrow-right text-green"></i>
                                <span class="text">飛行傘、馬術、潛水</span>
                            </a>
                        </div>
                    </div>
                    <div class="action">
                        <a class="btn btn-default btn-block btn-sm mb-1">選項一</a>
                        <a class="btn btn-primary btn-block btn-sm">選項二</a>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section class="section is-relax hot-event pb-2"  data-id="lazy-pack">
        <div class="container">
            <h1 class="section-title">優惠懶人包</h1>
            <div class="cards four-cards mobile-horz-scroll">
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">國泰產險首推線上車險保單健檢服務</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 看更多</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="./activity-11-2-0.html" class="btn btn-outline-reverse">更多熱門活動</a>
                </div>
            </div>
        </div>
    </section>
    

  <section data-id="sitemap" class="sitemap">
      
    <img src="../img/common/empty-section-bg.png"
    srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
      
    <div class="container">
      <h4 class="section-title">國泰的服務，比我想的更全面...</h4>
      <div class="sitemap-container">
        <div class="row">
          <div class="insurace-type">
            <h3>車險</h3>
            <a href="./car-insurance-2-1-0.html" class="item">汽車險</a>
            <a href="#" class="item">機車險</a>
          </div>
          <div class="insurace-type">
            <h3>旅遊險</h3>
            <a href="#" class="item">旅平+不便險</a>
            <a href="#" class="item">特定運動保險</a>
          </div>
          <div class="insurace-type">
            <h3>住家險</h3>
            <a href="#" class="item">住家/租屋保戶傘</a>
          </div>
          <div class="insurace-type">
            <h3>意外險</h3>
            <a href="#" class="item">國內意外險</a>
          </div>
        </div>
        <div class="row">
          <div class="insurace-type">
            <h3>新型態商品</h3>
            <a href="#" class="item">手機保險</a>
          </div>
          <div class="insurace-type">
            <h3>健康險</h3>
            <a href="#" class="item">寵物保險</a>
          </div>
          <div class="insurace-type">
            <h3>農業保險</h3>
            <a href="#" class="item">農作物保險</a>
          </div>
        </div>
      </div>
    </div>
    <img src="../img/common/main-line.png"
    srcset="../img/common/main-line@2x.png" height="79" class="main-line">
  </section>
</main>
<!-- /build:content -->