<!-- build:body -->insurance payment<!-- /build:body -->
<!-- build:content -->
    <main>
        <img src="../img/insurance/PFA5_0100/banner.png" class="payment-bg d-none d-md-block" height="224" srcset="../img/insurance/PFA5_0100/banner@2x.png">
        <div class="container breadcrumb-container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb">
                        <li><a href="./index.html">首頁</a></li>
                        <li class="active"><a href="./insurance-5-1-0.html">強制證下載</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="payment-wrapper">
            <h1 class="text-center mb-4">強制證下載</h1>
            <div class="col-12 col-md-10 offset-md-1">
                <p class="mt-2">提供民眾下載電子式保險證，開啟密碼為被保險人「身分證號/統編/居留證號」，第一碼英文字母須大寫</p>
            </div>
            <img src="../img/insurance/PFA5_0100/banner-sm.png" class="payment-img d-block d-md-none" srcset="../img/insurance/PFA5_0100/banner-sm@2x.png">
            <section class="section">
                <form action="" onsubmit="return false;">
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">查詢電子式保險證</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row form-group">
                                <label class="col-md-3 pt-1">證號</label>
                                <div class="col-md-9">
                                    <select name="" id="" class="select2">
                                        <option value="">請選擇</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3">
                                    查詢項目
                                </label>
                                <div class="col-md-9 pt-1">
                                    <div class="radio">
                                        <input id="radio2-1" type="radio" name="id_confirm" value="1" data-relate="true" checked="checked" />
                                        <label for="radio2-1">車牌號碼</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio2-2" type="radio" name="id_confirm" value="2" data-relate="true" />
                                        <label for="radio2-2">保單號碼</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio2-3" type="radio" name="id_confirm" value="3" data-relate="true" />
                                        <label for="radio2-3">引擎號碼</label>
                                    </div>
                                    <div data-target="id_confirm" data-value="1">
                                        <div class="input-group multi-input">
                                            <input type="text" class="input-short">
                                            <span class="text"></span>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="2">
                                        <input type="text" placeholder="請輸入您的保單號碼">
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="3">
                                            <input type="text" placeholder="請輸入您的引擎號碼">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row action mt-3 mb-3 mb-4">
                        <div class="col-12 text-center">
                            <button class="btn btn-default" type="reset">清除資料</button>
                            <button data-trigger="modal" data-modal="ins-select" class="btn btn-primary" type="submit">查詢</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </main>

    <div role="modal" class="modal" data-modal-id="ins-select">
        <div class="modal-content">
            <div class="modal-header">
                <a  role="close" class="close"><i class="icon-close"></i></a>
                <h4 class="modal-title">
                    請選擇強制汽車責任保險下載
                </h4>
            </div>
            <div class="modal-body">
                <div class="radio mb-2">
                    <input type="radio" name="ins" id="ins-1" value="1">
                    <label for="ins-1">
                        保單：151A19B****89<br/>
                        保期：2019-02-05 2020-02-05
                    </label>
                </div>
                <div class="radio">
                    <input type="radio" name="ins" id="ins-2" value="2">
                    <label for="ins-2">
                        保單：151A19B****89<br/>
                        保期：2019-02-05 2020-02-05
                    </label>
                </div>

                <div class="text-center mt-2">
                    <a role="close" class="btn btn-primary">
                        下載
                    </a>
                </div>
            </div>

        </div>
    </div>
<!-- /build:content -->