<!-- build:body -->insurance document<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">變更保單內容</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance document">
        <img src="../img/insurance/document-02.png" height="304" srcset="../img/insurance/document-02.png">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="caption">
                        <h1>
                            想調整保單內容嗎？讓我們來幫你
                        </h1>
                        <div class="desp">
                            家裡地址改了？或是想要加保或退保某保單項目嗎？本專區將提供需填寫的表單與變更應備項目，幫助你輕鬆變更保單內容。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <section class="document" data-id="document">
        <img src="../img/claim/bg-document.png" height="223" class="bg" srcset="../img/claim/bg-document@2x.png">
        <div class="container">
            <h1 class="section-title d-none d-lg-block">查詢理賠應備文件</h1>
            <div class="pop-menu d-block d-lg-none">
                <select name="document-menu" class="select2">
                    <option value="1" selected>車險</option>
                    <option value="2">旅遊險</option>
                    <option value="3">結婚保險</option>
                    <option value="4">農業險</option>
                    <option value="5">水險</option>
                </select>
            </div>
            <div class="row">
                <div class="d-none d-lg-block col-lg-3 document-items">
                    <h4>選擇理賠項目</h4>
                    <div class="radio d-block">
                        <input type="radio" id="document-1" name="document" value="1" checked>
                        <label for="document-1">車險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="document-2" name="document" value="2">
                        <label for="document-2">旅遊險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="document-3" name="document" value="3">
                        <label for="document-3">結婚保險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="document-4" name="document" value="4">
                        <label for="document-4">農業險</label>
                    </div>
                    <div class="radio d-block">
                        <input type="radio" id="document-5" name="document" value="5">
                        <label for="document-5">水險</label>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <h4 class="d-none d-lg-block">請根據以下列表以準備文件</h4>
                    <div class="document-section">
                        <div class="download-block">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <h4>下載文件並填寫</h4>
                                    <a href="#" class="d-block d-md-inline-block">
                                        <i class="icon-download"></i>
                                        <span>批改申請書</span>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                    <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">前往會員中心變更</a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="link">查看批改應備文件 <i class="icon-arrow-right"></i></a>
                    </div>
                    <div class="document-section">
                        <div class="download-block">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <h4>下載文件並填寫</h4>
                                    <a href="#" class="d-block d-md-inline-block">
                                        <i class="icon-download"></i>
                                        <span>批改申請書</span>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                    <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">前往會員中心變更</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="download-block">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <h4>下載文件並填寫</h4>
                                    <a href="#" class="d-block d-md-inline-block">
                                        <i class="icon-download"></i>
                                        <span>批改申請書</span>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                    <!-- <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">前往會員中心變更</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="download-block">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <h4>下載文件並填寫</h4>
                                    <a href="#" class="d-block d-md-inline-block">
                                        <i class="icon-download"></i>
                                        <span>批改申請書</span>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                    <!-- <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">前往會員中心變更</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="document-section">
                        <div class="download-block">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <h4>下載文件並填寫</h4>
                                    <a href="#" class="d-block d-md-inline-block">
                                        <i class="icon-download"></i>
                                        <span>批改申請書</span>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3 text-right d-flex align-items-center">
                                    <!-- <a href="#" class="btn btn-primary btn-sm d-block d-md-inline-block">前往會員中心變更</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->