<!-- build:body -->member<!-- /build:body -->
<!-- build:content -->
<main class="pb-0 pt-5">
    <img src="../img/member/hero.png" class="bg d-none d-md-block member-bg" width="100%" srcset="../img/member/hero@2x.png">
    <img src="../img/member/herosm.png" class="bg d-block d-md-none member-bg" width="100%" srcset="../img/member/herosm@2x.png">
    <div class="container">
        <section class="pt-0">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="panel member-panel">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <div class="row">
                                    <div class="col-5 col-md-12">
                                        <div class="badge-image">
                                            <img src="../img/member/badge-grey.png" width="80" srcset="../img/member/
                                            badge-grey@2x.png">
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-12 align-middle">
                                        <div class="promote-upgrade-member">
                                            <a class="link">免費升級認證會員</a>
                                            <h3 class="mt-0 d-block d-md-none">王大明，您好</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2 class="mt-0 d-none d-md-block">王大明，您好</h2>
                                <a class="btn btn-default btn-sm d-block">會員資料變更</a>
                                <a class="btn btn-default btn-sm d-block mx-0 mb-0">活動結果查詢</a>
                            </div>
                        </div>
                        <div class="row promotion-line">
                            <div class="col-12 text-center">
                                更多專屬服務等你來體驗
                                <a href="#" class="link">看認證好處</a>
                            </div>
                        </div>
                        <div class="row member-menu">
                            <div class="col item">
                                <div class="icon">
                                    <i class="icon-member-car i-48"></i>
                                </div>
                                <div class="text">
                                    車險<br/>(3)
                                </div>
                            </div>
                            <div class="col item">
                                <div class="icon">
                                    <i class="icon-member-house i-48"></i>
                                </div>
                                <div class="text">
                                    住火險<br/>(1)
                                </div>
                            </div>
                            <div class="col item">
                                <div class="icon">
                                    <i class="icon-member-flight i-48"></i>
                                </div>
                                <div class="text">
                                    旅遊險<br/>(12)
                                </div>
                            </div>
                            <div class="col item">
                                <div class="icon">
                                    <i class="icon-member-hurt i-48"></i>
                                </div>
                                <div class="text">
                                    健康傷害<br/>(2)
                                </div>
                            </div>
                            <div class="col item text-gray">
                                <div class="icon">
                                    <i class="icon-member-list i-48"></i>
                                </div>
                                <div class="text">
                                    其他<br/>(0)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7">
                    <div class="panel member-panel p-0">
                        <div class="message">
                            <a class="item unread">
                                <div class="meta">
                                    <div class="label is-red">未完成保單</div>
                                    <span class="public_at">2019/05/05</span>
                                </div>
                                <div class="title">旅遊險 2019/5/11 00:00 至 2019/5/14 11:00</div>
                                <div class="text text-red">
                                    <small>尚未繳費，請於 7 日內完成，逾期將刪除此筆保單記錄</small>
                                </div>
                            </a>
                            <a class="item unread">
                                <div class="meta">
                                    <div class="label is-orange">電子保單</div>
                                    <span class="public_at">2019/05/05</span>
                                </div>
                                <div class="title">電子保單發送通知 (簡訊)</div>
                                <!-- <div class="text text-red">尚未繳費，請於 7 日內完成，逾期將刪除此筆保單記錄</div> -->
                            </a>
                            <a class="item">
                                <div class="meta">
                                    <div class="label is-orange">專屬活動</div>
                                    <span class="public_at">2019/05/05</span>
                                </div>
                                <div class="title">別說您對毛孩沒奴性，快來測測您的奴性有多高</div>
                                <!-- <div class="text text-red">尚未繳費，請於 7 日內完成，逾期將刪除此筆保單記錄</div> -->
                            </a>
                        </div>
                        <div class="action text-right">
                            <a href="#" class="link">
                                <i class="icon-arrow-right"></i>
                                <span class="text">更多通知</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h4 class="section-title with-green-decoration">
                我的待辦清單(5)
            </h4>
            <div class="radio-labels mb-1">
                <div class="radio">
                    <input type="radio" name="todo" id="todo-1" checked>
                    <label for="todo-1">全部 (5)</label>
                </div>
                <div class="radio">
                    <input type="radio" name="todo" id="todo-2">
                    <label for="todo-2">訂單處理 (2)</label>
                </div>
                <div class="radio">
                    <input type="radio" name="todo" id="todo-3">
                    <label for="todo-3">保單變更 (1)</label>
                </div>
                <div class="radio">
                    <input type="radio" name="todo" id="todo-4">
                    <label for="todo-4">理賠申請 (1)</label>
                </div>
                <div class="radio">
                    <input type="radio" name="todo" id="todo-5">
                    <label for="todo-5">續保 (1)</label>
                </div>
            </div>

            <div class="todo-list d-none d-lg-block">
                <div class="item">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="meta">
                                <div class="label is-red">訂單處理</div>
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <div class="item">汽車險 (ABC-1111)</div>
                                    <div class="item">2019/6/14  12:00 至 2020/6/14  12:00 </div>
                                </div>
                                <div class="col-5">
                                    <div class="item">訂單號碼：10080000776</div>
                                    <div class="item">交易時間：2019/6/5 18:50</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="note">
                                訂單完成，尚缺 <span class="text-orange">「勘車照片回傳」</span>、<span class="text-orange">「要保書回傳」</span>
                            </div>
                            <a class="btn btn-sm btn-default">訂單資料</a>
                            <a class="btn btn-sm btn-primary">回傳照片</a>
                            <a class="btn btn-sm btn-primary">回傳要保書</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-7">
                            <div class="meta">
                                <div class="label is-red">訂單處理</div>
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <div class="item">汽車險 (ABC-1111)</div>
                                    <div class="item">2019/6/14  12:00 至 2020/6/14  12:00 </div>
                                </div>
                                <div class="col-5">
                                    <div class="item">訂單號碼：10080000776</div>
                                    <div class="item">交易時間：2019/6/5 18:50</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="note">
                                訂單完成，<span class="text-orange">勘車照超過回傳期限</span>、<span class="text-orange">要保書超過回傳期限</span>
                            </div>
                            <a role="button" class="btn btn-sm btn-default">訂單資料</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-7">
                            <div class="meta">
                                <div class="label is-orange">保單變更</div>
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <div class="item">汽車險 (ABC-1111)</div>
                                    <div class="item">2019/6/14  12:00 至 2020/6/14  12:00 </div>
                                </div>
                                <div class="col-5">
                                    <div class="item">保單號碼：10080008546</div>
                                    <div class="item">申請日：2019/2/18</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="note">
                                申請截止：倒數 <span class="text-red">2</span> 日
                            </div>
                            <a role="button" class="btn btn-sm btn-default">取消申請</a>
                            <a role="button" class="btn btn-sm btn-primary">繼續申請</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cards three-card d-flex d-lg-none">
                <div class="card" data-collapse="true">
                    <div class="content pb-0">
                        <div class="meta mt-0">
                            <div class="label is-red">訂單處理</div>
                        </div>
                        <h3 class="title">汽車險 (ABC-111)</h3>
                        <div class="description">
                            訂單完成，尚缺<span class="text-orange">「勘車照片回傳」</span>、<span class="text-orange">「要保書回傳」</span>
                        </div>
                        <div class="buttons">
                            <a role="button" class="btn btn-sm btn-default btn-block">回傳照片</a>
                            <a role="button" class="btn btn-sm btn-default btn-block">回傳要保書</a>
                        </div>
                        <div class="collapse">
                            <div>
                                <span class="d-block d-md-inline-block">效期：</span>
                                2019/6/14  12:00 至 2020/6/14  12:00
                            </div>
                            <div>
                                <span class="d-block d-md-inline-block">訂單號碼：</span>
                                10080000776
                            </div>
                            <div>
                                <span class="d-block d-md-inline-block">交易時間：</span>
                                2019/6/5 18:50
                            </div>
                            <a role="button" class="btn btn-default btn-block">訂單資料</a>
                        </div>
                        <div class="action collapse-trigger">
                            <a role="button" class="more link">
                                <i class="icon-chevron-down"></i>
                                <span>看更多</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" data-collapse="true">
                    <div class="content pb-0">
                        <div class="meta mt-0">
                            <div class="label is-red">訂單處理</div>
                        </div>
                        <h3 class="title">汽車險 (ABC-111)</h3>
                        <div class="description">
                            訂單完成，<span class="text-orange">勘車照超過回傳期限</span>、<span class="text-orange">要保書超過回傳期限</span>
                        </div>
                        <div class="buttons">
                            <a role="button" class="btn btn-sm btn-default btn-block">回傳照片</a>
                            <a role="button" class="btn btn-sm btn-default btn-block">回傳要保書</a>
                        </div>
                        <div class="collapse">
                            <div>
                                <span class="d-block d-md-inline-block">效期：</span>
                                2019/6/14  12:00 至 2020/6/14  12:00
                            </div>
                            <div>
                                <span class="d-block d-md-inline-block">訂單號碼：</span>
                                10080000776
                            </div>
                            <div>
                                <span class="d-block d-md-inline-block">交易時間：</span>
                                2019/6/5 18:50
                            </div>
                            <a role="button" class="btn btn-default btn-block">訂單資料</a>
                        </div>
                        <div class="action collapse-trigger">
                            <a role="button" class="more link">
                                <i class="icon-chevron-down"></i>
                                <span>看更多</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" data-collapse="true">
                    <div class="content pb-0">
                        <div class="meta mt-0">
                            <div class="label is-orange">保單變更</div>
                        </div>
                        <h3 class="title">汽車險 (ABC-111)</h3>
                        <div class="description">
                            申請截止：倒數 <span class="text-red">2</span> 日
                        </div>
                        <div class="buttons">
                            <a role="button" class="btn btn-sm btn-default">取消申請</a>
                            <a role="button" class="btn btn-sm btn-primary">繼續申請</a>
                        </div>
                        <div class="collapse">
                            <div>
                                <span class="d-block d-md-inline-block">效期：</span>
                                2019/6/14  12:00 至 2020/6/14  12:00
                            </div>
                            <div>
                                <span class="d-block d-md-inline-block">保單號碼：</span>
                                10080008546
                            </div>
                            <div>
                                <span class="d-block d-md-inline-block">申請日：</span>
                                2019/2/18
                            </div>
                            <a role="button" class="btn btn-default btn-block">訂單資料</a>
                        </div>
                        <div class="action collapse-trigger">
                            <a role="button" class="more link">
                                <i class="icon-chevron-down"></i>
                                <span>看更多</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <a role="button" class="btn btn-default btn-block">看更多</a>
        </section>

        <section>
            <h4 class="section-title with-green-decoration">我的優惠 (20)</h4>
            
            <div class="radio-labels mb-1">
                <div class="radio">
                    <input type="radio" name="sorting" id="sorting-1" checked>
                    <label for="sorting-1">依獲得時間排序</label>
                </div>
                <div class="radio">
                    <input type="radio" name="sorting" id="sorting-2">
                    <label for="sorting-2">依剩餘天數排序</label>
                </div>
            </div>

            <div class="cards three-card pb-2">
                <div class="card" data-collapse="true">
                    <div class="content pb-0">
                        <div class="meta mt-0">
                            <div class="label is-orange">剩餘 75 天</div>
                        </div>
                        <h3 class="title">JoinMe 機場接送 2 次</h3>
                        <div class="description">
                            <div>兌換序號【 Joinme-05875 】</div>
                            <div>使用期限至 2019/8/15</div>
                        </div>
                        <div class="buttons">
                            <a role="button" data-trigger="modal" data-modal="how-to-use" class="btn btn-sm btn-default btn-block">如何使用</a>
                            <a role="button" data-trigger="modal" data-modal="copy-keygen" class="btn btn-sm btn-default btn-block">複製序號</a>
                        </div>
                        <div class="collapse">
                            <div>
                                <span class="d-block d-md-inline-block">活動名稱：</span>
                                Joinme 會員專屬免費機場接送
                            </div>
                            <div>
                                <span class="d-block d-md-inline-block">保單號碼：</span>
                                汽車險 CRQ12462620
                            </div>
                        </div>
                        <div class="action collapse-trigger">
                            <a role="button" class="more link">
                                <i class="icon-chevron-down"></i>
                                <span>看更多</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" data-collapse="true">
                    <div class="content pb-0">
                        <div class="meta mt-0">
                            <div class="label is-orange">剩餘 75 天</div>
                        </div>
                        <h3 class="title">JoinMe 機場接送 2 次</h3>
                        <div class="description">
                            <div>兌換序號【 Joinme-05875 】</div>
                            <div>使用期限至 2019/8/15</div>
                        </div>
                        <div class="buttons">
                            <a role="button" class="btn btn-sm btn-default btn-block">如何使用</a>
                            <a role="button" class="btn btn-sm btn-default btn-block">複製序號</a>
                        </div>
                        <div class="collapse">
                            <div>
                                <span class="d-block d-md-inline-block">活動名稱：</span>
                                Joinme 會員專屬免費機場接送
                            </div>
                            <div>
                                <span class="d-block d-md-inline-block">保單號碼：</span>
                                汽車險 CRQ12462620
                            </div>
                        </div>
                        <div class="action collapse-trigger">
                            <a role="button" class="more link">
                                <i class="icon-chevron-down"></i>
                                <span>看更多</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" data-collapse="true">
                    <div class="content pb-0">
                        <div class="meta mt-0">
                            <div class="label is-orange">無使用期限</div>
                        </div>
                        <h3 class="title">全家 100 禮券</h3>
                        <div class="description">
                            <div>兌換序號【 FAMI-03382 】</div>
                        </div>
                        <div class="buttons">
                            <a role="button" data-trigger="modal" data-modal="how-to-use-market" class="btn btn-sm btn-default btn-block">如何使用</a>
                            <a role="button" data-trigger="modal" data-modal="copy-keygen" class="btn btn-sm btn-default btn-block">複製序號</a>
                        </div>
                        <div class="collapse">
                            <div>活動名稱：全家100元禮卷大贈送</div>
                        </div>
                        <div class="action collapse-trigger">
                            <a role="button" class="more link">
                                <i class="icon-chevron-down"></i>
                                <span>看更多</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" data-collapse="true">
                    <div class="content pb-0">
                        <div class="meta mt-0">
                            <div class="label is-orange">剩餘 75 天</div>
                        </div>
                        <h3 class="title">JoinMe 機場接送 2 次</h3>
                        <div class="description">
                            <div>兌換序號【 Joinme-05875 】</div>
                            <div>使用期限至 2019/8/15</div>
                        </div>
                        <div class="buttons">
                            <a role="button" class="btn btn-sm btn-default btn-block">如何使用</a>
                            <a role="button" class="btn btn-sm btn-default btn-block">複製序號</a>
                        </div>
                        <div class="collapse">
                            <div>
                                <span class="d-block d-md-inline-block">活動名稱：</span>
                                Joinme 會員專屬免費機場接送
                            </div>
                            <div>
                                <span class="d-block d-md-inline-block">保單號碼：</span>
                                汽車險 CRQ12462620
                            </div>
                        </div>
                        <div class="action collapse-trigger">
                            <a role="button" class="more link">
                                <i class="icon-chevron-down"></i>
                                <span>看更多</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" data-collapse="true">
                    <div class="content pb-0">
                        <div class="meta mt-0">
                            <div class="label is-orange">無使用期限</div>
                        </div>
                        <h3 class="title">UberEat $100 餐券</h3>
                        <div class="description">
                            <div>兌換序號【 Joinme-05875 】</div>
                        </div>
                        <div class="buttons">
                            <a role="button" class="btn btn-sm btn-default btn-block">如何使用</a>
                        </div>
                        <div class="collapse">
                            <div>
                                <span class="d-block d-md-inline-block">活動名稱：</span>
                                Joinme 會員專屬免費機場接送</div>
                            <div>
                                <span class="d-block d-md-inline-block">保單號碼：</span>
                                汽車險 CRQ12462620</div>
                        </div>
                        <div class="action collapse-trigger">
                            <a role="button" class="more link">
                                <i class="icon-chevron-down"></i>
                                <span>看更多</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card is-over-deadline" data-collapse="true">
                    <div class="content pb-0">
                        <div class="meta mt-0">
                            <div class="label is-orange">已過期</div>
                        </div>
                        <h3 class="title">全家 100 禮券</h3>
                        <div class="description">
                            <div>使用期限至 2019/8/15</div>
                        </div>
                        <div class="collapse">
                            <div>
                                <span class="d-block d-md-inline-block">活動名稱：</span>
                                UberEat 不限點餐金額
                            </div>
                            <div>
                                <span class="d-block d-md-inline-block">保單號碼：</span>
                                汽車險 CRQ12462620
                            </div>
                        </div>
                        <div class="action collapse-trigger">
                            <a role="button" class="more link">
                                <i class="icon-chevron-down"></i>
                                <span>看更多</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a role="button" class="btn btn-default btn-block">看更多</a>
        </section>
    </div>
         
    <section class="section is-relax hot-event pb-2 mb-0">
        <div class="container">
            <h4 class="section-title with-green-decoration">優惠活動</h4>
            <div class="cards four-cards mobile-horz-scroll">
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">加入會員 抽屈臣氏100元</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 活動詳情</a>
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 得獎名單</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">汽車【車體險】加碼抽</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 得獎名單</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">新春快樂遊 班機延誤賠1萬</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 活動詳情</a>
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 得獎名單</a>
                    </div>
                </div>
                <div class="card">
                    <div class="image auto-height">
                        <img src="../img/insurance/car-ins-card.png" srcset="../img/insurance/car-ins-card@2x.png">
                    </div>
                    <div class="content">
                        <div>
                            <small class="meta">2019/05/18</small>
                        </div>
                        <h4 class="title">投保抽萬元機票</h4>
                    </div>
                    <div class="action">
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 活動詳情</a>
                        <a href="#" class="link"><i class="icon-arrow-right"></i> 得獎名單</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="./activity-11-2-0.html" class="btn btn-outline-reverse">更多熱門活動</a>
                </div>
            </div>
        </div>
    </section>
</main>

<div class="modal" role="modal" data-modal-id="how-to-use">
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">兌換方式</h4>
        </div>
        <div class="modal-body image">
            <img src="https://via.placeholder.com/520x304">
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>
<div class="modal" role="modal" data-modal-id="how-to-use-market">
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">兌換方式</h4>
        </div>
        <div class="modal-body">
            <p>全家門市 FamiPort 首頁(紅利)</p>
            <ol>
                <li>紅利 PIN 碼</li>
                <li>輸入序號</li>
                <li>列印後櫃檯馬上兌換</li>
            </ol>
        </div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>
<div class="modal" role="modal" data-modal-id="copy-keygen">
    <div class="modal-content">
        <div class="modal-header">
            <a role="close" class="close"><i class="icon-close"></i></a>
            <h4 class="modal-title">兌換序號已複製</h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <a role="close" class="btn btn-primary btn-block">我知道了</a>
        </div>
    </div>
</div>
<!-- /build:content -->