<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./motor-insurance.html" role="button" class="nav-item">回機車車險介紹</a>
            <a href="./motor-insurance-2-2-1.html"  role="button" class="nav-item active">強制險</a>
            <a href="./motor-insurance-2-2-2.html"  role="button" class="nav-item">駕駛人傷害險</a>
            <a href="./motor-insurance-2-2-3.html"  role="button" class="nav-item">第三人責任險</a>
            <a href="./motor-insurance-2-2-4.html"  role="button" class="nav-item">機不可失方案</a>
        </nav>
        <div class="navbar-right">
            <div class="btn btn-default">我要續保</div>
            <a href="" class="btn btn-red">線上投保87折優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./motor-insurance.html">機車險</a></li>
                    <li class="active"><a href="#">強制險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance car-insurance">
        <img src="../img/insurance/PFA2_0210/banner.png" height="280" class="d-none d-lg-block"/>
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="./motor-insurance.html">回車險介紹</a></option>
                    <option value="./motor-insurance-2-2-1.html" selected>強制險</a></option>
                    <option value="./motor-insurance-2-2-2.html">駕駛人傷害險</a></option>
                    <option value="./motor-insurance-2-2-3.html">第三人責任險 </a></option>
                    <option value="./motor-insurance-2-2-4.html">機不可失方案</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./motor-insurance.html">回車險介紹</a></li>
                <li class="active"><a href="./motor-insurance-2-2-1.html">強制險</a></li>
                <li><a href="./motor-insurance-2-2-2.html">駕駛人傷害險</a></li>
                <li><a href="./motor-insurance-2-2-3.html">第三人責任險 </a></li>
                <li><a href="./motor-insurance-2-2-4.html">機不可失方案</a></li>
            </ul>
            <div class="caption">
                <h1>
                    機車強制險兩年期，最高省240元
                </h1>
                <div class="description">
                    強制險是一種依法必須投保的保險，驗車時必備險種，目的在使交通事故之受害者，能獲得基本保障，依法規定未投保而被查獲，將被開立新台幣1,500元~3,000元之罰鍰。
                </div>
                <div class="action mt-2 d-none d-lg-block">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <a href="#" class="btn btn-default btn-flat">我要續保</a>
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0210/banner-sm.png" height="200" class="d-block d-md-none" />
    </div>
    <section>
        <div class="container">
            <h1 class="section-title">不能不知的三大重點</h1>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel insurance-card">
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">01</h1>
                                <h2 class="title">法規必備不能不保</h2>
                                <div class="description">未投保強制險，會罰款 1,500元~3,000元。若違反道路交通規則之車輛，除開立罰單外再開立未投保罰單；有肇事或交通事故之車輛， 除開立罰單外，如未投保則再開立未投保罰單。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">02</h1>
                                <h2 class="title">自撞意外駕駛不保</h2>
                                <div class="description">強制汽車責任保險可提供的保障十分有限，且沒有保護到駕駛人及自用機車，因此，認識如何購買機車保險，對肇事雙方的人、車較能獲得保障，而不影響到生活家計。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">03</h1>
                                <h2 class="title">建議加保駕駛人傷害險</h2>
                                <div class="description">騎乘機車發生單一交通事故時(例如：天雨路滑發生摔車、自撞等)，為了保障強制險所無法賠付單一事故駕駛人傷亡的部分，應投保強制險附加駕駛人傷害險，與強制險搭配，保障更全面。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">我們建議你的機車險應該同時保障到駕駛人、乘客、第三方</h1>
            <div class="row">
                <div class="col-12">
                    <div class="accordion-title table-style">主險－強制險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">強制汽車責任保險	</div>
                                    <div class="desc">
                                        保障乘客/第三人，額度200萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <ol>
                                        <li>強制汽車責任險是政府規定要保的，可獲得最高200萬保障。</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-title table-style">附加險-強制機車責任保險附加駕駛人傷害險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">附加駕駛人傷害險</div>
                                    <div class="desc">
                                        駕駛人體傷20萬元<br/>
                                        死亡及失能200萬元、250萬元、300萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <ol>
                                        <li>騎車不慎因天雨路滑發生摔車、自撞，應投保強制險附加駕駛人傷害險，與強制險搭配，保障更全面。</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">任意第三人責任險</div>
                                    <div class="desc">
                                        駕駛人/乘客/第三人體傷與財損20萬~1,000萬
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <ol>
                                        <li>補足強制險的不足，可以賠對方的人身及財產損失，假設你不小心撞壞別人昂貴的車，或是撞殘別人、撞死別人，這個險都可以幫你賠償。</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="#" class="link">
                            <i class="icon-arrow-right"></i> 看機車險條款內容
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <h1 class="section-title">機車第三人責任險 推薦商品組合</h1>
        <div class="tab-container is-green">
            <div class="tab-header">
                <div class="container">
                    <ul role="tab" class="tab is-fill">
                        <li class="active"><a role="tab-item" data-tab-id="tab-1">機車通勤族推薦</a></li>
                        <li><a role="tab-item" data-tab-id="tab-2">駕駛新手推薦</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane">
                <div class="tab-content active" data-tab-id="tab-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-md-7">
                                        <div class="text">試算車種</div>
                                        <h2>125cc , KYMCO光陽</h2>
                                    </div>
                                    <div class="col-md-5">
                                        <img src="../img/insurance/PFA2_0210/scooter-intro.png" height="140" srcset="../img/insurance/PFA2_0210/scooter-intro@2x.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="text">下表保費是以三項條件計算而得：</div>
                                <ol>
                                    <li>重型機車 (51 - 250CC)。</li>
                                    <li>要保人年齡介於30 歲 - 60 歲間、且3 年內無肇事記錄為條件計算而得。</li>
                                    <li>此報價為一年期。</li>
                                </ol>
                                <div class="text-deep-gray"><small>
                                    您的實際保費將依車種與肇事記錄計算為準。<br>
                                    下表為建議商品組合，您可於後續試算頁面自行調整商品組合。
                                </small></div>
                            </div>
                        </div>
                        <div class="table-response mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 240px;">保險種類</th>
                                        <th>原價</th>
                                        <th class="bg-orange">Bobe 投保價</th>
                                        <th>保險內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="custom">強制險</td>
                                        <td>658</td>
                                        <td class="border-orange">488</td>
                                        <td class="custom">每一人體傷 20 萬 / 每一人死亡及失能 200 萬</td>
                                    </tr>
                                    <tr>
                                        <td class="custom">第三人責任險-體傷</td>
                                        <td>819</td>
                                        <td class="border-orange">710</td>
                                        <td class="custom">每人傷害保額 300 萬 / 每事故總額 600 萬元</td>
                                    </tr>
                                    <tr>
                                        <td class="custom">第三人責任險-財損</td>
                                        <td>369</td>
                                        <td class="border-orange">319</td>
                                        <td class="custom">每事故之財損 50 萬元</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr id="th" class="text-red">
                                        <td id="th">總保費</td>
                                        <td id="th">1,846</td>
                                        <td id="th">1,517</td>
                                        <td colspan="2"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-content" data-tab-id="tab-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-md-7">
                                        <div class="text">試算車種</div>
                                        <h2>125cc , KYMCO光陽</h2>
                                    </div>
                                    <div class="col-md-5">
                                        <img src="../img/insurance/PFA2_0210/scooter-intro.png" height="140" srcset="../img/insurance/PFA2_0210/scooter-intro@2x.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="text">下表保費是以三項條件計算而得：</div>
                                <ol>
                                    <li>重型機車 (51 - 250CC)。</li>
                                    <li>要保人年齡介於30 歲 - 60 歲間、且3 年內無肇事記錄為條件計算而得。</li>
                                    <li>此報價為一年期。</li>
                                </ol>
                                <div class="text-deep-gray"><small>
                                    您的實際保費將依車種與肇事記錄計算為準。<br/>
                                    下表為建議商品組合，您可於後續試算頁面自行調整商品組合。
                                </small></div>
                                    
                            </div>
                        </div>
                        <div class="table-response mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 200px;">保險種類</th>
                                        <th>原價</th>
                                        <th class="bg-orange">Bobe 投保價</th>				
                                        <th>保險內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tbody>
                                            
                                        <tr>
                                            <td class="custom">強制險</td>
                                            <td>658</td>
                                            <td class="border-orange">488</td>																																		
                                            <td class="custom">每一人體傷 20 萬 / 每一人死亡及失能 200 萬</td>

                                        </tr>
                                        <tr>
                                            <td class="custom">第三人責任險-體傷</td>
                                            <td>819</td>
                                            <td class="border-orange">710</td>
                                            <td class="custom">每人傷害保額 300 萬 / 每事故總額 600 萬</td>
                                        </tr>
                                        <tr>
                                            <td class="custom">第三人責任險-財損</td>
                                            <td>369</td>
                                            <td class="border-orange">319</td>
                                            <td class="custom">每事故之財損 50 萬</td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="custom" style="vertical-align:middle;">強制險附加駕駛人傷害險（限車主本人）</td>
                                            <td style="vertical-align:middle;">333</td>
                                            <td class="border-orange">300</td>
                                            <td class="custom">限單一車輛事故之駕駛人傷害<br>每一人體傷 20 萬 / 每一人死亡及失能 200 萬</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr id="th">
                                            <td id="th">總保費</td>
                                            <td id="th">2,179</td>
                                            <td id="th">1,817</td>
                                            <td id="th"></td>
                                            
                                        </tr>
                                    </tfoot>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <p class="text-green">
                        線上投保抽 Gogoro2，優惠只到 4/30 ！ 
                    </p>
                    <a class="btn btn-primary btn-block">
                        線上投保87折優惠
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section pb-5">
        <div class="container">
            <h1 class="section-title">需要專員協助嗎？歡迎聊聊</h1>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row contact-block">
                        <a href="tel:0800036599" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-call i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">免付費專線</div>
                                <span class="d-none d-sm-block">0800-212-880</span>
                            </div>
                        </a>
                        <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-mail i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">寫信諮詢</div>
                                <span class="d-none d-sm-block">將有專人聯繫</span>
                            </div>
                        </a>
                        <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                            <div class="icon">
                                <div class="icon-location i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">服務據點</div>
                                <span class="d-none d-sm-block">查詢地址電話</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section recommand-section">
            <img src="../img/common/empty-section-bg.png"
            srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
            <img src="../img/common/life-service.png"
            srcset="../img/common/life-service@2x.png" height="377" class="bg d-none d-md-block">
            <img src="../img/common/main-line.png"
            srcset="../img/common/main-line@2x.png" height="79" class="main-line d-md-none">
          
        <div class="container">
            <h1 class="section-title">
                看完了強制責任險介紹，<br/>
                那如何保障自己？我的人車又該怎麼保？
            </h1>
            <div class="row">
                <div class="col-12 col-md-5 offset-md-1">
                    <div class="list inline-content">
                        <a class="item">
                            <div class="content">
                                <h4>第三人責任險介紹</h4>
                                <div class="text">##保自己  #保第三人</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>駕駛人傷害險介紹</h4>
                                <div class="text">#摔車、自撞</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>機不可失介紹</h4>
                                <div class="text">#新車必買全險套餐</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="./motor-insurance-2-2-5.html" class="link mr-2">
                            <i class="icon-arrow-right"></i>
                            <span>看完整保障範圍</span>
                        </a>
                        <a href="./motor-insurance-2-2-0.html" class="link d-inline-block mt-2">
                            <i class="icon-arrow-right"></i>
                            <span>看機車險首頁</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- /build:content -->