<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./motor-insurance.html" role="button" class="nav-item">回機車車險介紹</a>
            <a href="./motor-insurance-2-2-1.html"  role="button" class="nav-item">強制險</a>
            <a href="./motor-insurance-2-2-2.html"  role="button" class="nav-item">駕駛人傷害險</a>
            <a href="./motor-insurance-2-2-3.html"  role="button" class="nav-item active">第三人責任險</a>
            <a href="./motor-insurance-2-2-4.html"  role="button" class="nav-item">機不可失方案</a>
        </nav>
        <div class="navbar-right">
            <div class="btn btn-default">我要續保</div>
            <a href="" class="btn btn-red">線上投保87折優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./motor-insurance.html">機車險</a></li>
                    <li class="active"><a href="#">第三人責任險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance car-insurance">
        <img src="../img/insurance/PFA2_0230/banner.png" height="250" class="d-none d-lg-block" />
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="motor-insurance.html">回車險介紹</a></option>
                    <option value="motor-insurance-2-2-1.html">強制險</a></option>
                    <option value="./motor-insurance-2-2-2.html">駕駛人傷害險</a></option>
                    <option value="./motor-insurance-2-2-3.html" selected>第三人責任險 </a></option>
                    <option value="./motor-insurance-2-2-4.html">機不可失方案</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./motor-insurance.html">回車險介紹</a></li>
                <li><a href="./motor-insurance-2-2-1.html">強制險</a></li>
                <li><a href="./motor-insurance-2-2-2.html">駕駛人傷害險</a></li>
                <li class="active"><a href="./motor-insurance-2-2-3.html">第三人責任險 </a></li>
                <li><a href="./motor-insurance-2-2-4.html">機不可失方案</a></li>
            </ul>
            <div class="caption">
                <h1>
                    第三人責任險可以賠償他人，是發生車禍時最好的保障
                </h1>
                <div class="description">
                    保障範圍除了體傷責任外，還包括強制險所沒有的財損責任，可彌補強制險保障的不足，另外可依需求加保下列附加險：駕駛人傷害險、乘客體傷責任附加條款、慰問金費用附加條款等，以增加保障
                </div>
                <div class="action mt-2 d-none d-md-block">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <a href="#" class="btn btn-default btn-flat">我要續保</a>
                </div>
            </div>
        </div>

        <img src="../img/insurance/PFA2_0230/banner-sm.png" height="200" class="d-block d-md-none" />
    </div>
    <section>
        <div class="container">
            <h1 class="section-title">不能不知的三大重點</h1>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel insurance-card">
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">01</h1>
                                <h2 class="title"> 何謂「第三人」？</h2>
                                <div class="description">在你車外的所有人，都是第三人。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">02</h1>
                                <h2 class="title">它的重要性在於？</h2>
                                <div class="description">發生交通意外時，超過強制險可賠償範圍之外的，就由第三人責任險來賠。估算他人求償金額不容易，處理別人的財損跟受傷都更麻煩，建議必保。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">03</h1>
                                <h2 class="title">建議保額是多少？</h2>
                                <div class="description">第三人責任險的建議保額是體傷 300 萬、財損 50 萬。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">保障範圍與金額</h1>
            <div class="row">
                <div class="col-12">
                    <div class="accordion-title table-style">主險－第三人責任險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">傷害責任險（體傷）</div>
                                    <div class="desc">
                                        每人傷害150萬~1,000萬元<br/>
                                        每一事故體傷總額上限1,000萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障內容：</p>
                                    <p>被保險機車發生意外事故，致第三人死亡或體傷，依法應負之賠償責任而受賠償請求時，就超過強制機車責任保險給付金額以外的部份，在保險金額內對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">傷害責任險（財損）</div>
                                    <div class="desc">
                                        每事故財損 20萬 ~ 100萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障內容：</p>
                                    <p>被保險機車發生意外事故，致第三人財物受有損害，依法應負賠償責任而受賠償請求時，在保險金額內保險公司對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-title table-style">附加險－第三人責任險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">附加駕駛人傷害險</div>
                                    <div class="desc">
                                        住院日額保險金 2,000元<br/>
                                        每人死亡及失能保險金50萬~600萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障內容：</p>
                                    <p>被保險人因使用或管理被保險機車發生意外事故，致乘坐或上下被保險機車之乘客受有體傷或死亡時，依法應負賠償責任而受賠償請求時，本公司對被保險人負賠償之責。	</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">乘客體傷責任附加條款</div>
                                    <div class="desc">
                                        每人傷害10萬~600萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障內容：</p>
                                    <p>保險人因所有、使用或管理被保險機車發生意外事故致第三人失能，依法應負賠償責任而受賠償請求時，本公司僅對超過強制機車責任保險給付標準以上之部分依本附加條款之約定對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">失能責任增額附加條款</div>
                                    <div class="desc">
                                            每人失能增額2倍
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障內容：</p>
                                    <p>被保險人因所有、使用或管理被保險機車發生意外事故，致第三人死亡或受有體傷，經本公司查證屬實後，對於被保險人所支出之下列費用負理賠之責：</p>
                                    <ol>
                                        <li>該第三人死亡時，前往喪家所支出之奠儀金費用</li>
                                        <li>該第三人受傷醫療者，前往探視所支出之慰問金費用</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">慰問金費用附加條款</div>
                                    <div class="desc">
                                        每人門診慰問金 2,500元/每人住院慰問金 1萬元/每人身故慰問金 5萬元/每一事故總額 10萬元/<br/>
                                        保險期間總額 50萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障內容：</p>
                                    <p>被保險人於本附加條款有效期間內，因所有、使用或管理被保險汽車發生交通意外事故，致第三人受有體傷、死亡或財物損失時，因涉及（業務）過失傷害、（業務）過失重傷害、（業務）過失致人於死之刑事責任、民事訴訟或強制執行程序，而遭受刑事追訴或民事損害賠償事宜所產生之律師費用，本公司依本附加條款約定之保險金額為限，對被保險人負賠償責任。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">律師費用補償附加條款</div>
                                    <div class="desc">
                                        5萬元 ~ 20萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障內容：</p>
                                    <p>被保險人因所有、使用或管理被保險機車發生意外事故，致第三人死亡、體傷或財物受有損害，依法應負賠償責任而受賠償請求時，本公司僅對超過強制汽車責任保險給付標準及主保險契約所約定之保險金額以上部份對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">
                                        超額責任附加條款（甲式）
                                        <div>
                                            <small class="text-gray">註：第三人責任保險之體傷保額須200萬（含）以上，財損保額須30萬（含）以上，始可加保此項。
                                            </small>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        每次事故第三人體傷、財損超額責任<br/>
                                        上限 500萬元 ~ 3,000萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障內容：</p>
                                    <p>被保險人因所有、使用或管理被保險機車發生意外事故，致第三人死亡、體傷或財物受有損害，依法應負賠償責任而受賠償請求時，本公司僅對超過強制汽車責任保險給付標準及主保險契約所約定之保險金額以上部份對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">
                                        超額責任附加條款（乙式）
                                        <div><small class="text-gray">註：第三人責任保險之體傷保額須200萬（含）以上，財損保額須30萬（含）以上；且須另加保乘客體傷責任險（保額100萬以上），始可加保此項。</small></div>
                                    </div>
                                    <div class="desc">
                                        每次事故第三人體傷、財損及乘客體傷超額責任<br/>
                                        上限 500萬元 ~ 3,000萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    <p>保障內容：</p>
                                    <p>被保險人因所有、使用或管理被保險機車發生意外事故，致第三人死亡、體傷或財物受有損害，依法應負賠償責任而受賠償請求時，本公司僅對超過強制汽車責任保險給付標準及主保險契約所約定之保險金額以上部份對被保險人負賠償之責。</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-right">
                        <a href="#" class="link">
                            <i class="icon-arrow-right"></i> 看機車險條款內容
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <p class="text-green">
                        線上投保抽 Gogoro2，優惠只到 4/30 ！ 
                    </p>
                    <a class="btn btn-primary btn-block">
                        線上投保87折優惠
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section pb-5">
        <div class="container">
            <h1 class="section-title">需要專員協助嗎？歡迎聊聊</h1>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row contact-block">
                        <a href="tel:0800036599" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-call i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">免付費專線</div>
                                <span class="d-none d-sm-block">0800-212-880</span>
                            </div>
                        </a>
                        <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-mail i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">寫信諮詢</div>
                                <span class="d-none d-sm-block">將有專人聯繫</span>
                            </div>
                        </a>
                        <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                            <div class="icon">
                                <div class="icon-location i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">服務據點</div>
                                <span class="d-none d-sm-block">查詢地址電話</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section recommand-section">
            <img src="../img/common/empty-section-bg.png"
            srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
            <img src="../img/common/life-service.png"
            srcset="../img/common/life-service@2x.png" height="377" class="bg d-none d-md-block">
            <img src="../img/common/main-line.png"
            srcset="../img/common/main-line@2x.png" height="79" class="main-line d-md-none">
          
        <div class="container">
            <h1 class="section-title">
                看完了強制汽車責任險介紹，<br/>
                那如何保障自己？我的人車又該怎麼保？
            </h1>
            <div class="row">
                <div class="col-12 col-md-5 offset-md-1">
                    <div class="list inline-content">
                        <a class="item">
                            <div class="content">
                                <h4>強制險介紹</h4>
                                <div class="text">#法規必保</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>第三人責任險介紹</h4>
                                <div class="text">##保自己  #保第三人</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>機不可失介紹</h4>
                                <div class="text">#新車必買全險套餐</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="./motor-insurance-2-2-5.html" class="link mr-2">
                            <i class="icon-arrow-right"></i>
                            <span>看完整保障範圍</span>
                        </a>
                        <a href="./motor-insurance-2-2-0.html" class="link d-inline-block mt-2">
                            <i class="icon-arrow-right"></i>
                            <span>看機車險首頁</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- /build:content -->