<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./motor-insurance.html" role="button" class="nav-item">回機車車險介紹</a>
            <a href="./motor-insurance-2-2-1.html"  role="button" class="nav-item">強制險</a>
            <a href="./motor-insurance-2-2-2.html"  role="button" class="nav-item active">駕駛人傷害險</a>
            <a href="./motor-insurance-2-2-3.html"  role="button" class="nav-item">第三人責任險</a>
            <a href="./motor-insurance-2-2-4.html"  role="button" class="nav-item">機不可失方案</a>
        </nav>
        <div class="navbar-right">
            <div class="btn btn-default">我要續保</div>
            <a href="" class="btn btn-red">線上投保87折優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./motor-insurance.html">機車險</a></li>
                    <li class="active"><a href="#">駕駛人傷害險</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance car-insurance">
        <img src="../img/insurance/PFA2_0220/banner.png" height="270" class="d-none d-lg-block" />
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="motor-insurance.html">回車險介紹</a></option>
                    <option value="motor-insurance-2-2-1.html">強制險</a></option>
                    <option value="./motor-insurance-2-2-2.html" selected>駕駛人傷害險</a></option>
                    <option value="./motor-insurance-2-2-3.html">第三人責任險 </a></option>
                    <option value="./motor-insurance-2-2-4.html">機不可失方案</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./motor-insurance.html">回車險介紹</a></li>
                <li><a href="./motor-insurance-2-2-1.html">強制險</a></li>
                <li class="active"><a href="./motor-insurance-2-2-2.html">駕駛人傷害險</a></li>
                <li><a href="./motor-insurance-2-2-3.html">第三人責任險 </a></li>
                <li><a href="./motor-insurance-2-2-4.html">機不可失方案</a></li>
            </ul>
            <div class="caption">
                <h1>
                    天雨路滑發生摔車、自撞等最佳保障
                </h1>
                <div class="description">
                    天雨路滑撞到護欄、車速過快不慎翻覆、天雨路滑撞到路燈這些都是騎車時非常容易遇到的情況，但駕駛人如果因此受傷，依目前強制責任保險的規定是不予賠償。國泰產物強制機車責任保險附加駕駛人傷害保險提供機車駕駛人在單一車輛事故時，也可以獲得充份的保障，讓您快快樂樂出門，平平安安回家
                </div>
                <div class="action mt-2 d-none d-lg-block">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <a href="#" class="btn btn-default btn-flat">我要續保</a>
                </div>
            </div>
        </div>

        <img src="../img/insurance/PFA2_0220/banner-sm.png" height="200" class="d-block d-md-none" />
    </div>
    <section>
        <div class="container">
            <h1 class="section-title">不能不知的三大重點</h1>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel insurance-card">
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">01</h1>
                                <h2 class="title"> 保險給付「快、易、安」</h2>
                                <div class="description">騎乘機車發生單一交通事故時(例如：天雨路滑發生摔車、自撞等)，為了保障強制險所無法賠付單一事故駕駛人傷亡的部分，應投保強制險附加駕駛人傷害險，與強制險搭配，保障更全面。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">02</h1>
                                <h2 class="title">平價保費、豐富保障</h2>
                                <div class="description">失能或死亡時依保險給付標準給付，繳少少的保費就能天天擁有保障。</div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green no">03</h1>
                                <h2 class="title">多重保障、加倍安心</h2>
                                <div class="description">本商品為單一事故駕駛人傷害險，與第三人責任險附加駕駛人傷害險並不重複，可同時投保，享受更多保障。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">保障範圍與金額</h1>
            <div class="row">
                <div class="col-12">
                    <div class="accordion-title table-style">主險－強制機車責任保險</div>
                    <div class="accordions contract">
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">附加駕駛人傷害保險</div>
                                    <div class="desc">
                                        體傷20萬<br/>
                                        死亡及失能250萬元、300萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <ol>
                                        <li>駕駛人失能或死亡保額最高給付 300萬</li>
                                        <li>駕駛人不限車主本人</li>
                                        <li>保險期間可投保一年、二年期</li>
                                        <li>兩天內將紙本「要保書」簽名回傳，保單始成立</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header">
                                <div class="content">
                                    <div class="name">附加駕駛人傷害保險（限車主本人）</div>
                                    <div class="desc">
                                        體傷20萬<br/>
                                        死亡及失能200萬元
                                    </div>
                                </div>
                                <div class="action">
                                    <a role="button" class="link for-open">
                                        <span class="text">詳情</span>
                                        <i class="icon-chevron-down"></i>
                                    </a>
                                    <a role="button" class="link for-close">
                                        <span class="text">收起</span>
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="accordion-body">
                                <article>
                                    保障內容：
                                    <ol>
                                        <li>駕駛人失能或死亡保額最高給付200萬</li>
                                        <li>要保人、車主及駕駛人限定為同一人，車主本人發生事故才受理理賠</li>
                                        <li>保險期間以一年期為限</li>
                                        <li>免回傳要保書</li>
                                    </ol>
                                </article>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-right">
                        <a href="#" class="link">
                            <i class="icon-arrow-right"></i> 看機車險條款內容
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <p class="text-green">
                        線上投保抽 Gogoro2，優惠只到 4/30 ！ 
                    </p>
                    <a class="btn btn-primary btn-block">
                        線上投保87折優惠
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section pb-5">
        <div class="container">
            <h1 class="section-title">需要專員協助嗎？歡迎聊聊</h1>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row contact-block">
                        <a href="tel:0800036599" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-call i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">免付費專線</div>
                                <span class="d-none d-sm-block">0800-212-880</span>
                            </div>
                        </a>
                        <a href="../helper/8-4-0.html" target="_blank" class="col contact-item">
                            <div class="icon">
                                <div class="icon-mail i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">寫信諮詢</div>
                                <span class="d-none d-sm-block">將有專人聯繫</span>
                            </div>
                        </a>
                        <a href="../helper/8-6-0.html" target="_blank" href="#" class="col contact-item">
                            <div class="icon">
                                <div class="icon-location i-54 text-green"></div>
                            </div>
                            <div class="content">
                                <div class="text text-black">服務據點</div>
                                <span class="d-none d-sm-block">查詢地址電話</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section recommand-section">
            <img src="../img/common/empty-section-bg.png"
            srcset="../img/common/empty-section-bg@2x.png" height="222" class="bg">
            <img src="../img/common/life-service.png"
            srcset="../img/common/life-service@2x.png" height="377" class="bg d-none d-md-block">
            <img src="../img/common/main-line.png"
            srcset="../img/common/main-line@2x.png" height="79" class="main-line d-md-none">
          
        <div class="container">
            <h1 class="section-title">
                看完了強制汽車責任險介紹，<br/>
                那如何保障自己？我的人車又該怎麼保？
            </h1>
            <div class="row">
                <div class="col-12 col-md-5 offset-md-1">
                    <div class="list inline-content">
                        <a class="item">
                            <div class="content">
                                <h4>強制險介紹</h4>
                                <div class="text">#法規必保</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>第三人責任險介紹</h4>
                                <div class="text">##保自己  #保第三人</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                        <a class="item">
                            <div class="content">
                                <h4>機不可失介紹</h4>
                                <div class="text">#新車必買全險套餐</div>
                            </div>
                            <div class="action">
                                <i class="icon-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="./motor-insurance-2-2-5.html" class="link mr-2">
                            <i class="icon-arrow-right"></i>
                            <span>看完整保障範圍</span>
                        </a>
                        <a href="./motor-insurance-2-2-0.html" class="link d-inline-block mt-2">
                            <i class="icon-arrow-right"></i>
                            <span>看機車險首頁</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- /build:content -->