<!-- build:body -->news bg-gray<!-- /build:body -->
<!-- build:content -->
<main>
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">最新消息</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 text-center">
                    <h1>最新消息</h1>
                    <div class="pop-menu d-block d-lg-none">
                        <select name="" id="" class="select2 filter">
                            <option value="all">所有活動</option>
                            <option value="bulletin">公告</option>
                            <option value="glory">榮耀</option>
                            <option value="event">活動</option>
                            <option value="news">新聞</option>
                            <option value="news2">新聞2</option>
                        </select>
                    </div>
                    <div class=" d-none d-lg-block">
                        <ul class="tab is-pill is-fill filter">
                            <li class="active"><a data-filter-type="all" role="button">所有活動</a></li>
                            <li><a data-filter-type="bulletin" role="button">公告</a></li>
                            <li><a data-filter-type="glory" role="button">榮耀</a></li>
                            <li><a data-filter-type="event" role="button">活動</a></li>
                            <li><a data-filter-type="news" role="button">新聞</a></li>
                            <li><a data-filter-type="news2" role="button">新聞2</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="news-container">
                        <div class="news card" data-filter-content="news">
                            <a href="./news-detail.html" class="image">
                                <img src="https://placeimg.com/200/136/any" />
                            </a>
                            <div class="content">
                                <div class="meta">
                                    <label class="label is-green">新聞</label>
                                    <span class="public_at">今天</span>
                                </div>
                                <h4>長榮航空、國泰產險攜手創舉班機延誤免申請</h4>
                                <div class="action">
                                    <a href="./news-detail.html" class="link">
                                        <i class="icon-arrow-right"></i>
                                        <span class="text">看更多</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="news card" data-filter-content="event">
                            <a href="./news-detail.html" class="image">
                                <img src="https://placeimg.com/200/136/any" />
                            </a>
                            <div class="content">
                                <div class="meta">
                                    <label class="label is-orange">活動</label>
                                    <span class="public_at">2019/06/17</span>
                                </div>
                                <h4>毛孩與牠的奴才</h4>
                                <div class="action">
                                    <a href="./news-detail.html" class="link">
                                        <i class="icon-arrow-right"></i>
                                        <span class="text">活動詳情</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="news card" data-filter-content="bulletin">
                            <div class="content">
                                <div class="meta">
                                    <label class="label is-red">公告</label>
                                    <span class="public_at">2019/04/20 - 2019/08/20</span>
                                </div>
                                <h4>107年滿意度委外調查作業將於 108年3月11日-108年3月21日進行保戶電話滿意度訪問</h4>
                                <div class="action">
                                    <a href="./news-detail.html" class="link">
                                        <i class="icon-arrow-right"></i>
                                        <span class="text">看更多</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="news card" data-filter-content="glory">
                            <a href="./news-detail.html" class="image">
                                <img src="https://placeimg.com/200/136/any" />
                            </a>
                            <div class="content">
                                <div class="meta">
                                    <label class="label is-purple">榮耀</label>
                                    <span class="public_at">2019/04/20 - 2019/08/20</span>
                                </div>
                                <h4>第十四屆金炬獎 國泰金控為大贏家</h4>
                                <div class="action">
                                    <a href="./news-detail.html" class="link">
                                        <i class="icon-arrow-right"></i>
                                        <span class="text">看更多</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="news card" data-filter-content="">
                            <a href="./news-detail.html" class="image">
                                <img src="https://placeimg.com/200/136/any" />
                            </a>
                            <div class="content">
                                <div class="meta">
                                    <label class="label is-teal">備用</label>
                                    <span class="public_at">2019-05-05</span>
                                </div>
                                <h4>BOBE測好運</h4>
                                <div class="action">
                                    <a href="./news-detail.html" class="link">
                                        <i class="icon-arrow-right"></i>
                                        <span class="text">看更多</span>
                                    </a>
                                    <a href="./news-detail.html" class="link">
                                        <i class="icon-arrow-right"></i>
                                        <span class="text">得獎名單</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="news card" data-filter-content>
                            <a href="./news-detail.html" class="image">
                                <img src="https://placeimg.com/200/136/any" />
                            </a>
                            <div class="content">
                                <div class="meta">
                                    <label class="label is-blue">備用</label>
                                    <span class="public_at">2019-05-05</span>
                                </div>
                                <h4>AI 下圍棋不稀奇　國泰產險推出 AI 理賠服務</h4>
                                <div class="action">
                                    <a href="./news-detail.html" class="link">
                                        <i class="icon-arrow-right"></i>
                                        <span class="text">看更多</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="more text-center">
                        <a role="button" class="btn btn-primary">
                            查看更多
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->