<!-- build:body -->news bg-gray<!-- /build:body -->
<!-- build:content -->
<main>
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">長榮航空、國泰產險攜手創舉班機延誤免申請</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <article>
                        <div class="cover">
                            <img src="https://placeimg.com/880/495/any" />
                        </div>
                        <div class="meta">
                            <div class="public_at">2019/05/05</div>
                        </div>
                        <h2>長榮航空、國泰產險攜手創舉班機延誤免申請</h2>

                        <p>
                            一、旅綜險的除外不賠條款？(如颱風來襲前購買，是否理賠？若未搭乘飛機是否理賠？)
                        </p>
                        <p>ANS :</p>
                        <ol>
                            <li>國泰產險班機延誤項目，不分國內外出發的飛機，只要符合條款承保範圍，皆可賠付。</li>
                            <li>
                                條款並未約定颱風警報發布後購買的不在承保範圍，但<span class="text-orange">保險事故確定已發生後(班機已延誤或取消)才締結的契約將無法賠付該事故。</span>
                            </li>
                            <li>國泰產險班機延誤的條款約定，為班機延誤4小時以上或取消後該班機預定起飛時間起4小時內無其他空中運輸工具可供搭乘，只要符合條件且不屬於特別不保事項就可以理賠(不限最後是否有搭乘飛機)。</li>
                            <li>
                                班機延誤常見的不賠原因如下：
                                <ul>
                                    <li>被保險人因本身事由而無法搭到預定班機</li>
                                    <li>國內起飛的班機六小時前已公告取消或延誤(國外起飛的無此限制。</li>
                                </ul>
                            </li>
                            <li>班機延誤補償的特別不保事項如下: 
                                <ol>
                                    <li><span class="text-orange">被保險人因本身事由而未搭乘預定之班機。</span></li>
                                    <li>要保人或被保險人向本公司締結本保險契約前，已發生罷工或工運活動。</li>
                                    <li>被保險人抵達機場之時，已逾其預定搭乘班機辦理登機之時間。</li>
                                    <li>被保險人未搭乘航空公司業者所提供之第一班替代交通工具。但被保險人因不可抗力因素致無法搭乘航空公司業者所提供之第一班替代交通工具者，不在此限。</li>
                                </ol>
                            </li>
                            <li>於國內起飛之班機於預定起飛時間六小時前已確定被取消、延誤或機場於該班機之預定起飛時間六小時前已確定宣佈關閉(以航空公司或機場網站公告為準)。</li>
                        </ol>

                        <p>二、旅綜險投保時間是否會影響班機延誤的理賠？(如10點的班機，9點才在機場臨櫃投保，是否理賠班機延誤？</p>
                        <ol>
                            <li><span class="text-orange">保險事故確定已發生後(班機已延誤或取消)才締結的契約將無法賠付該事故。</span></li>
                            <li>班機原預定起飛時間需於保險期間內才有保障，如保險生效時間晚於班機原預定起飛時間，則發生班機延誤時，視為保險期間開始前事故已發生，並未在承保範圍內。</li>
                        </ol>
                    </article>
                    <div class="action">
                        <a href="./news.html" role="button" class="btn btn-primary">回上一頁</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->