<!-- build:body -->payment<!-- /build:body -->
<!-- build:content -->
    <main>
        <div class="container breadcrumb-container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb">
                        <li><a href="./index.html">首頁</a></li>
                        <li class="active"><a href="./payment-3-1-1.html">我要繳費</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="payment-wrapper">
            <h1 class="text-center mb-4">試試看，在家就可以輕鬆繳費</h1>
            <div class="text-center">
                <ul class="tab is-pill d-none d-lg-table">
                    <li><a href="./payment-3-1-1.html">銀行轉帳</a></li>
                    <li><a href="./payment-3-1-2.html">信用卡繳費</a></li>
                    <li><a href="./payment-3-1-3.html">便利店繳費</a></li>
                    <li class="active"><a href="./payment-3-1-4.html">其他方式 </a></li>
                </ul>
                <div class="pop-menu d-block d-lg-none">
                    <select class="select2">
                        <option value="./payment-3-1-1.html">銀行轉帳</option>
                        <option value="./payment-3-1-2.html">信用卡繳費</option>
                        <option value="./payment-3-1-3.html">便利店繳費</option>
                        <option value="./payment-3-1-4.html" selected>其他方式 </option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-10 offset-lg-1">
                <p class="mt-2">
                    提供銀行、營業據點與支票方式繳費，繳費時務必攜帶「保險費繳款單」與「保險費收據」正副本，並於完成繳費後請收款人於收據正副本收費章處蓋妥收費章，妥善保存以作為日後已繳費之證明。
                </p>
            </div>
            <img src="../img/payment/banner-payment.png" class="payment-img" srcset="../img/payment/banner-payment@2x.png">
            <section class="section">
                <div class="container">
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">前往銀行繳費</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                於繳費期間內，帶著「保險費繳款單」、「保險費收據」正副本、及「現金」至以下銀行櫃檯：
                            </p>
                            <div class="item item-step">
                                <b>Step 1. </b>
                                <div class="content">前往銀行：合作銀行（國泰世華、第一銀行、農業金庫） 不需填匯款單及手續費，其他銀行需酌收部分手續費。</div>
                            </div>
                            <div class="item item-step">
                                <b>Step 2. </b>
                                <div class="content">完成繳費：取回蓋有銀行收款章之「保險費收據」正副本，就可輕鬆完成繳費。</div>
                            </div>
                            
                            <p>
                                <a href="#">
                                    <i class="icon-arrow-right"></i>
                                    <span>下載繳款單與收據</span>
                                </a>
                                <br class="d-block d-me-none">
                                <a href="#">
                                    <i class="icon-arrow-right"></i>
                                    <span>查詢附近國泰世華 ATM 位置</span>
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="note text-gray">
                        <small>注意事項：</small>
                        <ol class="text-gray">
                            <li>如非使用本公司所提供之「保險費繳款單」而填寫一般匯款單進行匯款時，因無法進行電腦自動銷帳，故於匯款後仍需請您將匯款留存聯轉交本公司以便進行銷帳。</li>
                            <li>因銀行於收費後不會另外開立繳費證明，故請務必取回已蓋妥收費章之保險費收據正副本，且妥善保存以作為日後已繳費之證明。</li>
                            <li>投保「旅遊綜合保險」不適用本項銀行繳費功能。</li>
                        </ol>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">前往營業據點繳費</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                於繳費期間內，帶著「保險費繳款單」、「保險費收據」正副本、及「現金」至以下據點：<br/>
                                總公司（台北市仁愛路四段296 號 5 樓保費服務櫃檯） 或 全省各分公司、通訊處繳交保險費。<br/>
                                營業時間：週一至週五 08:50~12:00；13:20~16:00 (不含國定假日)。
                            </p>
                            <a href="#"><i class="icon-arrow-right"></i><span>下載繳款單與收據</span></a>
                            <br class="d-block d-me-none">
                            <a href="#"><i class="icon-arrow-right"></i><span>查詢附近營業據點</span></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">支票繳費</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                請開具抬頭指名「國泰世紀產物保險股份有限公司」，劃線並禁止背書轉讓之支票（支票背面請務必填上保單號碼），填寫正確金額後寄至本公司：台北市仁愛路四段296號7樓 保費服務櫃檯收。填寫時，請務必確認支票大寫金額與應繳保費是否一致，如大寫金額填寫錯誤請務必重新開立支票，切勿塗改；支票上其他部分之塗改，請開票人務必於塗改處蓋上開票人章。
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
<!-- /build:content -->