<!-- build:body -->payment<!-- /build:body -->
<!-- build:content -->
    <main>
        <div class="container breadcrumb-container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb">
                        <li><a href="./index.html">首頁</a></li>
                        <li class="active"><a href="./payment-3-1-1.html">我要繳費</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="payment-wrapper">
            <h1 class="text-center mb-4">試試看，在家就可以輕鬆繳費</h1>
            <div class="text-center">
                <ul class="tab is-pill d-none d-lg-table">
                    <li class="active"><a href="./payment-3-1-1.html">銀行轉帳</a></li>
                    <li><a href="./payment-3-1-2.html">信用卡繳費</a></li>
                    <li><a href="./payment-3-1-3.html">便利店繳費</a></li>
                    <li><a href="./payment-3-1-4.html">其他方式 </a></li>
                </ul>
                <div class="pop-menu d-block d-lg-none">
                    <select class="select2">
                        <option value="./payment-3-1-1.html" selected>銀行轉帳</option>
                        <option value="./payment-3-1-2.html">信用卡繳費</option>
                        <option value="./payment-3-1-3.html">便利店繳費</option>
                        <option value="./payment-3-1-4.html">其他方式 </option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-10 offset-lg-1">
                <p class="mt-2">現在可以使用帳戶線上扣款繳費囉，只要使用「要保人活期帳戶」，每人每日單筆最多可扣 10 萬元；每月最多 20 萬元，且不需負擔手續費唷！</p>
            </div>
            <img src="../img/payment/banner-payment.png" class="payment-img" srcset="../img/payment/banner-payment@2x.png">
            <section class="section">
                <form action="">
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">查詢可繳費保單</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row form-group">
                                <label class="col-md-3">保戶身份別</label>
                                <div class="col-md-9 pt-1">
                                    <div class="radio">
                                        <input id="insurance-type-1" data-relate="true" type="radio" name="insurance_type" value="1" checked="checked" />
                                        <label for="insurance-type-1">個人(自然人)</label>
                                    </div>
                                    <div class="radio">
                                        <input id="insurance-type-2" data-relate="true" type="radio" name="insurance_type" value="2" />
                                        <label for="insurance-type-2">公司(法人)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2" data-target="insurance_type" data-value="1">
                                <div class="row form-group">
                                    <label class="col-md-3">身分證字號</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-3">要保人姓名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2" style="display: none" data-target="insurance_type" data-value="2">
                                <div class="row form-group">
                                    <label class="col-md-3">統一編號</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3">
                                    要保人身份確認<br/>
                                    (擇一即可)
                                </label>
                                <div class="col-md-9 pt-1">
                                    <div class="radio">
                                        <input id="radio2-1" type="radio" name="id_confirm" value="1" data-relate="true" checked="checked" />
                                        <label for="radio2-1">車牌號碼</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio2-2" type="radio" name="id_confirm" value="2" data-relate="true" />
                                        <label for="radio2-2">保單號碼</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio2-3" type="radio" name="id_confirm" value="3" data-relate="true" />
                                        <label for="radio2-3">銷帳號碼</label>
                                    </div>
                                    <div class="radio" data-target="insurance_type" data-value="1">
                                        <input id="radio2-4" type="radio" name="id_confirm" value="4" data-relate="true" />
                                        <label for="radio2-4">要保人生日</label>
                                    </div>
                                    <div data-target="id_confirm" data-value="1">
                                        <div class="input-group multi-input">
                                            <input type="text" class="input-short">
                                            <span class="text"></span>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="2">
                                        <input type="text" placeholder="請輸入您的保單號碼">
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="3">
                                            <input type="text" placeholder="請輸入您的銷帳號碼">
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="4">
                                        <input type="text" placeholder="請輸入您的生日 EX :710101">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3">
                                    輸入驗證碼
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <div class="input"><input type="tel" name="captcha" id="captcha"></div>
                                        <div class="action capcha"><img src="../img/common/captcha.png"></div>
                                    </div>
                                    <div class="text-right">
                                        <a class="link">換一張</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row action mt-3 mb-3 mb-4">
                        <div class="col-12 text-center">
                            <button class="btn btn-default" type="reset">清除資料</button>
                            <button class="btn btn-primary" type="submit">查詢</button>
                        </div>
                    </div>
                </form>
            </section>
            <section class="section">
                <div class="container">
                    <h1 class="section-title">無法線上繳費嗎？也可以...</h1>
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">ATM 自動提款機轉帳</h4>
                        </div>
                        <div class="panel-body">
                            <p>於繳費期間內，持金融卡至 ATM 自動提款機，選擇「轉帳」後輸入：</p>
                            <div class="item item-step">
                                <b>Step 1. </b>
                                <div class="content">銀行代號：013（國泰世華）或 007 （第一銀行）</div>
                            </div>
                            <div class="item item-step">
                                <b>Step 2. </b>
                                <div class="content">輸入轉帳號碼（繳費單上的轉帳號）與金額（繳費單上的金額）</div>
                            </div>
                            <div class="item item-step">
                                <b>Step 3. </b>
                                <div class="content">轉帳成功後請保留收據為繳費成功證明</div>
                            </div>
                            <p>註：如未收到繳費單，請洽服務專員或撥打免付費服務專線查詢。</p>
                        </div>
                    </div>
                    <div class="note text-gray">
                        <small>注意事項：</small>
                        <ol>
                            <li>配合自動提款機每筆轉帳金額不得超過新台幣 3 萬元的規定，保費 3 萬元以上之保單無法提供此項服務。</li>
                            <li>若使用國泰世華或第一銀行以外 之ATM (即跨行轉帳)，客戶需自行負擔 ATM 轉帳手續費。</li>
                            <li>投保「旅遊綜合保險」不適用自動提款機 (ATM )轉帳功能。</li>
                        </ol>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">國泰 ATM QR Code 掃描繳費</h4>
                        </div>
                        <div class="panel-body">
                            <p>不需填寫任何匯款單及支付任何手續費，於繳費期間內，帶著「保險費繳款單」、「保險費收據」正副本及手持裝置(手機、平板) 至全省國泰世華 ATM 掃描 QR Code，依保險費收據正副本、保險費繳款單或手持裝置 (連結官網 ATM QR Code)，並依照繳費流程指示進行，即可輕鬆完成繳費。</p>
                            <a href="#">
                                <i class="icon-arrow-right"></i>
                                <span>查詢附近國泰世華 ATM 位置</span>
                            </a>
                        </div>
                    </div>
                    <div class="note text-gray">
                        <small>
                            注意事項：
                        </small>
                        <ol class="text-gray">
                            <li>保費 5 萬元以上之保單無法提供此項服務。</li>
                            <li>他行卡不須另支付 ATM 手續費。</li>
                            <li>投保「旅遊綜合保險」不適用 ATM QR Code 繳費功能。</li>
                        </ol>
                    </div>
                </div>
            </section>
        </div>
    </main>
<!-- /build:content -->