<!-- build:body -->payment<!-- /build:body -->
<!-- build:content -->
    <main>
        <div class="container breadcrumb-container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb">
                        <li><a href="./index.html">首頁</a></li>
                        <li class="active"><a href="./payment-3-1-1.html">我要繳費</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="payment-wrapper">
            <h1 class="text-center mb-4">試試看，在家就可以輕鬆繳費</h1>
            <div class="text-center">
                <ul class="tab is-pill d-none d-lg-table">
                    <li><a href="./payment-3-1-1.html">銀行轉帳</a></li>
                    <li><a href="./payment-3-1-2.html">信用卡繳費</a></li>
                    <li class="active"><a href="./payment-3-1-3.html">便利店繳費</a></li>
                    <li><a href="./payment-3-1-4.html">其他方式 </a></li>
                </ul>
                <div class="pop-menu d-block d-lg-none">
                    <select class="select2">
                        <option value="./payment-3-1-1.html">銀行轉帳</option>
                        <option value="./payment-3-1-2.html">信用卡繳費</option>
                        <option value="./payment-3-1-3.html" selected>便利店繳費</option>
                        <option value="./payment-3-1-4.html">其他方式 </option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-10 offset-md-1">
                <p class="mt-2">於繳費期間內，帶著「保險費繳款單」、「保險費收據」正副本、及「現金」，至 7-11 (統一)、FamilyMart (全家)、Hi-Life  (萊爾富)、OK 便利商店完成繳費，取回蓋有便利商店收款章之「保險費收據」正副本及繳費證明，即可輕鬆完成繳費。</p>
            </div>
            <img src="../img/payment/banner-payment.png" class="payment-img" srcset="../img/payment/banner-payment@2x.png">
            <section class="section">
                <form action="">
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">查詢可繳費保單</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row form-group">
                                <label class="col-md-3">保戶身份別</label>
                                <div class="col-md-9 pt-1">
                                    <div class="radio">
                                        <input id="insurance-type-1" data-relate="true" type="radio" name="insurance_type" value="1" checked="checked" />
                                        <label for="insurance-type-1">個人(自然人)</label>
                                    </div>
                                    <div class="radio">
                                        <input id="insurance-type-2" data-relate="true" type="radio" name="insurance_type" value="2" />
                                        <label for="insurance-type-2">公司(法人)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2" data-target="insurance_type" data-value="1">
                                <div class="row form-group">
                                    <label class="col-md-3">身分證字號</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-3">要保人姓名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2" style="display: none" data-target="insurance_type" data-value="2">
                                <div class="row form-group">
                                    <label class="col-md-3">統一編號</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3">
                                    要保人身份確認<br/>
                                    (擇一即可)
                                </label>
                                <div class="col-md-9 pt-1">
                                    <div class="radio">
                                        <input id="radio2-1" type="radio" name="id_confirm" value="1" data-relate="true" checked="checked" />
                                        <label for="radio2-1">車牌號碼</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio2-2" type="radio" name="id_confirm" value="2" data-relate="true" />
                                        <label for="radio2-2">保單號碼</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio2-3" type="radio" name="id_confirm" value="3" data-relate="true" />
                                        <label for="radio2-3">銷帳號碼</label>
                                    </div>
                                    <div class="radio" data-target="insurance_type" data-value="1">
                                        <input id="radio2-4" type="radio" name="id_confirm" value="4" data-relate="true" />
                                        <label for="radio2-4">要保人生日</label>
                                    </div>
                                    <div data-target="id_confirm" data-value="1">
                                        <div class="input-group multi-input">
                                            <input type="text" class="input-short">
                                            <span class="text"></span>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="2">
                                        <input type="text" placeholder="請輸入您的保單號碼">
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="3">
                                            <input type="text" placeholder="請輸入您的銷帳號碼">
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="4">
                                        <input type="text" placeholder="請輸入您的生日 EX :710101">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3">
                                    輸入驗證碼
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <div class="input"><input type="tel" name="captcha" id="captcha"></div>
                                        <div class="action capcha"><img src="../img/common/captcha.png"></div>
                                    </div>
                                    <div class="text-right">
                                        <a class="link">換一張</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row action mt-3 mb-3 mb-4">
                        <div class="col-12 text-center">
                            <button class="btn btn-default" type="reset">清除資料</button>
                            <button class="btn btn-primary" type="submit">查詢</button>
                        </div>
                    </div>
                </form>
            </section>
            <section class="section">
                <div class="container">
                    <div class="note text-gray">
                        <small>注意事項：</small>
                        <ol class="text-gray">
                            <li>配合便利商店代收保險費上限為新台幣 5 萬元以下的規定，保費  5萬元以上之保單無法提供此項服務。</li>
                            <li>持繳款單至以上指定便利商店繳費，不須另支付便利商店代收手續費。</li>
                            <li>投保「旅遊綜合保險」不適用便利商店繳款功能。</li>
                        </ol>
                    </div>
                </div>
            </section>
        </div>
    </main>
<!-- /build:content -->