<!-- build:body -->payment<!-- /build:body -->
<!-- build:content -->
    <main>
        <div class="container breadcrumb-container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb">
                        <li><a href="./index.html">首頁</a></li>
                        <li class="active"><a href="./payment-3-1-1.html">我要繳費</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="payment-wrapper">
            <h1 class="text-center mb-4">試試看，在家就可以輕鬆繳費</h1>
            <div class="text-center">
                <ul class="tab is-pill d-none d-lg-table">
                    <li><a href="./payment-3-1-1.html">銀行轉帳</a></li>
                    <li class="active"><a href="./payment-3-1-2.html">信用卡繳費</a></li>
                    <li><a href="./payment-3-1-3.html">便利店繳費</a></li>
                    <li><a href="./payment-3-1-4.html">其他方式 </a></li>
                </ul>
                <div class="pop-menu d-block d-lg-none">
                    <select class="select2">
                        <option value="./payment-3-1-1.html">銀行轉帳</option>
                        <option value="./payment-3-1-2.html" selected>信用卡繳費</option>
                        <option value="./payment-3-1-3.html">便利店繳費</option>
                        <option value="./payment-3-1-4.html">其他方式 </option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-10 offset-lg-1">
                <p class="mt-2">刷卡繳費超方便，除郵局 VISA 金融卡、花旗銀行(大來卡)、匯豐銀行(香港)、美國運通發行之信用卡無法使用外，其他 VISA、MASTER、JCB、聯合信用卡都可以繳費！</p>
            </div>
            <img src="../img/payment/banner-payment.png" class="payment-img" srcset="../img/payment/banner-payment@2x.png">
            <section class="section">
                <form action="">
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">查詢可繳費保單</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row form-group">
                                <label class="col-md-3">保戶身份別</label>
                                <div class="col-md-9 pt-1">
                                    <div class="radio">
                                        <input id="insurance-type-1" data-relate="true" type="radio" name="insurance_type" value="1" checked="checked" />
                                        <label for="insurance-type-1">個人(自然人)</label>
                                    </div>
                                    <div class="radio">
                                        <input id="insurance-type-2" data-relate="true" type="radio" name="insurance_type" value="2" />
                                        <label for="insurance-type-2">公司(法人)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2" data-target="insurance_type" data-value="1">
                                <div class="row form-group">
                                    <label class="col-md-3">身分證字號</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-3">要保人姓名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2" style="display: none" data-target="insurance_type" data-value="2">
                                <div class="row form-group">
                                    <label class="col-md-3">統一編號</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3">
                                    要保人身份確認<br/>
                                    (擇一即可)
                                </label>
                                <div class="col-md-9 pt-1">
                                    <div class="radio">
                                        <input id="radio2-1" type="radio" name="id_confirm" value="1" data-relate="true" checked="checked" />
                                        <label for="radio2-1">車牌號碼</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio2-2" type="radio" name="id_confirm" value="2" data-relate="true" />
                                        <label for="radio2-2">保單號碼</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio2-3" type="radio" name="id_confirm" value="3" data-relate="true" />
                                        <label for="radio2-3">銷帳號碼</label>
                                    </div>
                                    <div class="radio" data-target="insurance_type" data-value="1">
                                        <input id="radio2-4" type="radio" name="id_confirm" value="4" data-relate="true" />
                                        <label for="radio2-4">要保人生日</label>
                                    </div>
                                    <div data-target="id_confirm" data-value="1">
                                        <div class="input-group multi-input">
                                            <input type="text" class="input-short">
                                            <span class="text"></span>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="2">
                                        <input type="text" placeholder="請輸入您的保單號碼">
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="3">
                                            <input type="text" placeholder="請輸入您的銷帳號碼">
                                    </div>
                                    <div class="pt-1" style="display: none;" data-target="id_confirm" data-value="4">
                                        <input type="text" placeholder="請輸入您的生日 EX :710101">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3">
                                    輸入驗證碼
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <div class="input"><input type="tel" name="captcha" id="captcha"></div>
                                        <div class="action capcha"><img src="../img/common/captcha.png"></div>
                                    </div>
                                    <div class="text-right">
                                        <a class="link">換一張</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row action mt-3 mb-3 mb-4">
                        <div class="col-12 text-center">
                            <button class="btn btn-default" type="reset">清除資料</button>
                            <button class="btn btn-primary" type="submit">查詢</button>
                        </div>
                    </div>
                </form>
            </section>
            <section class="section">
                <div class="container">
                    <h1 class="section-title">無法線上繳費嗎？也可以...</h1>
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">信用卡簽帳單列印傳真</h4>
                        </div>
                        <div class="panel-body">
                            <p>如不想線上繳費，可以從這裡下載  <a href="#">保險費簽帳單</a>，填寫完成後回傳真至 FAX：02-2709-3899 或寄至本公司：台 北市仁愛路四段296號 5 樓 財務作業科收，完成後務必來電確認是否已繳費成功（撥打 02-2755-1299 #5926 ~ 5929 確認）。</p>
                        </div>
                    </div>
                    <div class="note text-gray">
                        <small>注意事項：</small>
                        <ol class="text-gray">
                            <li>持卡人同意以信用卡支付上開保險費金額予國泰世紀產物保險股份有限公司並保證上列信用卡資料均為詳實無訛。</li>
                            <li>本項交易若未獲發卡機構核准，則本信用卡簽帳單自動失效，本公司得向要保人重新收費。</li>
                            <li>個人傷害險及健康險持卡人須為要保人、被保人，或保險契約之利害關係人。</li>
                            <li>依洗錢防制法之規定，信用卡簽帳單之填寫須確認繳款人資訊，上述填寫持卡人與要被保人關係僅限一樣態，若多筆保單有多樣關係者，請分別填寫簽帳單。 </li>
                            <li>本公司僅接受各發卡機構發行之聯合信用卡、VISA、MASTER、JCB。(中華郵政發行之 VISA 金融卡，需向中華郵政申請「非過卡交易」功能才能繳費)。</li>
                            <li>本人已詳閱「產險業履行個人資料保護法告知義務內容」知悉貴公司得依「個人資料保護法」之相關規定，於特定範圍內有對本人之個人資料為蒐集、處理及利用之權利。</li>
                        </ol>
                    </div>
                </div>
            </section>
        </div>
    </main>
<!-- /build:content -->