<!-- build:body -->payment<!-- /build:body -->
<!-- build:content -->
    <main>
        <div class="container breadcrumb-container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb">
                        <li><a href="./index.html">首頁</a></li>
                        <li class="active"><a href="./payment-3-2-1.html">我要繳費</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="payment-wrapper">
            <h1 class="text-center mb-4">想查什麼呢？</h1>
            <div class="text-center">
                <ul class="tab is-pill d-none d-lg-table">
                    <li><a href="payment-3-2-1.html">汽車保險費</a></li>
                    <li class="active"><a href="payment-3-2-2.html">其他保險費</a></li>
                </ul>
                <div class="pop-menu d-block d-lg-none">
                    <select class="select2">
                        <option value="./payment-3-2-1.html">汽車保險費</option>
                        <option value="./payment-3-2-2.html" selected>其他保險費</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-10 offset-lg-1">
            </div>
            <section class="section">
                <form action="">
                    <div class="panel form-panel">
                        <div class="panel-header">
                            <h4 class="panel-title">保戶繳費狀況查詢</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row form-group">
                                <label class="col-md-3">保戶身份別</label>
                                <div class="col-md-9 pt-1">
                                    <div class="radio">
                                        <input id="insurance-type-1" data-relate="true" type="radio" name="insurance_type" value="1" checked="checked" />
                                        <label for="insurance-type-1">個人(自然人)</label>
                                    </div>
                                    <div class="radio">
                                        <input id="insurance-type-2" data-relate="true" type="radio" name="insurance_type" value="2" />
                                        <label for="insurance-type-2">公司(法人)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2" data-target="insurance_type" data-value="1">
                                <div class="row form-group">
                                    <label class="col-md-3">身分證字號</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-3">要保人姓名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2" style="display: none" data-target="insurance_type" data-value="2">
                                <div class="row form-group">
                                    <label class="col-md-3">統一編號</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-3">
                                    查詢項目
                                </label>
                                <div class="col-md-9 pt-1">
                                    <div class="radio">
                                        <input id="radio2-1" type="radio" name="radio-2" value="1" checked="checked" />
                                        <label for="radio2-1">保單號碼／交易序號</label>
                                    </div>
                                    <div class="input-group mt-1">
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row action mt-3 mb-3 mb-4">
                        <div class="col-12 text-center">
                            <button class="btn btn-default" type="reset">清除資料</button>
                            <button class="btn btn-primary" type="submit">查詢</button>
                        </div>
                    </div>
                </form>
            </section>
            <section class="section">
                <div class="note text text-gray">
                    <small>注意事項：</small>
                    <ol>
                        <li>提供查詢內容為最近一年之資料。</li>
                        <li>當天繳費資料將無法在此查詢。</li>
                        <li>查無資料，請洽客服專線 0800-036599 按 2 查詢 (公司專人服務時間為每日 08:30 ~ 21:00 )。</li>
                    </ol>
                </div>
            </section>
            
        </div>
    </main>
<!-- /build:content -->