<!-- build:body -->search-menu bg-gray<!-- /build:body -->
<!-- build:content -->
<main>
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">搜尋結果</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="banner search">
        <img src="../img/search/searchResultsm.png" class="d-block d-md-none" width="100%" srcset="../img/search/searchResultsm@2x.png">
        <img src="../img/search/search-result.png" class="d-none d-md-block" height="270" srcset="../img/search/search-result@2x.png">
        <div class="container">
            <div class="caption">
                <h1>Hi, 在找 <span class="highlight">保險</span> 嗎？</h1>
                <div class="input-group search-box">
                    <div class="input"><input type="search"></div>
                    <div class="action"><button><i class="icon-search"></i></button></div>
                </div>
                <div class="labels">
                    <span class="text text-gray">大家都在找</span>
                    <a href="#" class="label is-link">旅平險</a>
                    <a href="#" class="label is-link">強制險</a>
                    <a href="#" class="label is-link">華航罷工</a>
                    <a href="#" class="label is-link">繳費</a>
                    <a href="#" class="label is-link">強制證下載</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="search-container">
            <h4>搜尋結果 (20)</h4>
            <a href="#" class="search card">
                <div class="image">
                    <!-- 768 以上顯示 -->
                    <img src="../img/search/news-thumbnail-01@2x.png" class="d-none d-md-block" />
                    <!-- 768 以下顯示 -->
                    <img src="../img/search/search01sm@2x.png" class="d-block d-md-none" />
                </div>
                <div class="content">
                    <div class="meta">
                        <span class="public_at">https://www.cathayholdings.com/insurance/products/automobile/</span>
                    </div>
                    <h4>車險<span class="highlight">保險</span>商品 - 國泰產險</h4>
                    <p>
                        現行車險種類分為強制險與任意險，強制險為政策性保險，僅含基本醫療及死殘給付 ，針對車輛修復或民事賠償的部分，國泰產險建議您需額外增加任意險保障，以分攤  ...
                    </p>
                </div>
            </a>
            <a href="#" class="search card">
                <div class="image">
                    <img src="../img/search/news-thumbnail-02@2x.png" class="d-none d-md-block" />
                    <img src="../img/search/search02sm@2x.png" class="d-block d-md-none" />
                </div>
                <div class="content">
                    <div class="meta">
                        <span class="public_at">https://www.cathayholdings.com/insurance/products/automobile/</span>
                    </div>
                    <h4>車險<span class="highlight">保險</span>商品 - 國泰產險</h4>
                    <p>
                        現行車險種類分為強制險與任意險，強制險為政策性保險，僅含基本醫療及死殘給付 ，針對車輛修復或民事賠償的部分，國泰產險建議您需額外增加任意險保障，以分攤  ...
                    </p>
                </div>
            </a>
            <a href="#" class="search card">
                <div class="content">
                    <div class="meta">
                        <span class="public_at">https://www.cathayholdings.com/insurance/products/automobile/</span>
                    </div>
                    <h4>車險<span class="highlight">保險</span>商品 - 國泰產險</h4>
                    <p>
                        現行車險種類分為強制險與任意險，強制險為政策性保險，僅含基本醫療及死殘給付 ，針對車輛修復或民事賠償的部分，國泰產險建議您需額外增加任意險保障，以分攤  ...
                    </p>
                </div>
            </a>
            <a role='button' href="javascript:void(0)" class="btn btn-default btn-block">
                查看更多
            </a>
        </div>
    </div>
</main>
<!-- /build:content -->