<!-- build:body -->search-menu bg-gray<!-- /build:body -->
<!-- build:content -->
<main>
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">搜尋結果</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="banner search">
        <img src="../img/search/searchResultsm.png" class="d-block d-md-none" width="100%" srcset="../img/search/searchResultsm@2x.png">
        <img src="../img/search/search-result.png" class="d-none d-md-block" height="270" srcset="../img/search/search-result@2x.png">
        <div class="container">
            <div class="caption">
                <h1>Hi, 在找 <span class="highlight">保險</span> 嗎？</h1>
                <div class="input-group search-box">
                    <div class="input"><input type="search"></div>
                    <div class="action"><button><i class="icon-search"></i></button></div>
                </div>
                <div class="labels">
                    <span class="text text-gray">大家都在找</span>
                    <a href="#" class="label is-link">旅平險</a>
                    <a href="#" class="label is-link">強制險</a>
                    <a href="#" class="label is-link">華航罷工</a>
                    <a href="#" class="label is-link">繳費</a>
                    <a href="#" class="label is-link">強制證下載</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="empty-result text-center">
            <p>沒有找到任何關於「壽險」的結果。<br class="d-block d-md-none"/>你可以點擊 <a href="#">這裡</a> 透過 Google 搜尋</p>
            <div class="image-empty">
                <img src="../img/helper/empty.png" srcset="../img/helper/empty@2x.png">
            </div>
        </div>
    </div>
</main>
<!-- /build:content -->