<!-- build:body -->index sitemap<!-- /build:body -->
<!-- build:content -->
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li class="active"><a href="#">網站地圖</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="banner sitemap">
        <div class="container">
            <div class="caption">
                <h1>網站地圖</h1>
            </div>
        </div>
        <img src="../img/sitemap/PFB6_0100/banner.png" class="bg d-none d-md-block" srcset="../img/sitemap/PFB6_0100/banner@2x.png" />
        <img src="../img/sitemap/PFB6_0100/banner-sm.png" class="bg d-block d-md-none" srcset="../img/sitemap/PFB6_0100/banner-sm@2x.png" />
    </div>
    
    <section class="container">
        <div class="row sitemap-container">
            <div class="col-md-3 sitemap-title">
                <h3 class="with-green-decoration mt-0">幫助中心</h3>
            </div>
            <div class="col-md-9 sitemap-content">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>常見問題</h3>
                            <a href='#' class="item">個人險</a>
                            <a href='#' class="item">商業險</a>
                            <a href='#' class="item">網站功能</a>
                            <a href='#' class="item">服務說明</a>
                        </div>
                        <div class="menu">
                            <h3>事故支援服務</h3>
                            <a href='#' class="item">24小時事故現場協助處理</a>
                            <a href='#' class="item">道路救援服務</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>服務據點</h3>
                            <a href='#' class="item">北部、東部花蓮以北地區</a>
                            <a href='#' class="item">桃竹苗地區</a>
                            <a href='#' class="item">中部地區</a>
                            <a href='#' class="item">南部、台東地區</a>
                        </div>
                        <div class="menu">
                            <h3>寫信諮詢</h3>
                            <a href='#' class="item">寫信諮詢</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>條款下載</h3>
                            <a href='#' class="item">個人險</a>
                            <a href='#' class="item">商業險</a>
                        </div>
                        <div class="menu">
                            <h3>保險說明</h3>
                            <a href='#' class="item">全部險種</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sitemap-container">
            <div class="col-md-3 sitemap-title">
                <h3 class="with-green-decoration mt-0">個人保險</h3>
            </div>
            <div class="col-md-9 sitemap-content">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>網路投保</h3>
                            <a href='#' class="item">車險 (汽車險)</a>
                            <a href='#' class="item">機車險</a>
                            <a href='#' class="item">旅平＋不便險</a>
                            <a href='#' class="item">住宅火險</a>
                            <a href='#' class="item">手機險</a>
                            <a href='#' class="item">寵物險</a>
                            <a href='#' class="item">特定活動險</a>
                            <a href='#' class="item">意外險</a>
                            <a href='#' class="item">小農險</a>
                        </div>
                        <div class="menu">
                            <h3>全部商品</h3>
                            <a href='#' class="item">全部個人險商品</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>個人商品</h3>
                            <a href='#' class="item">通勤族</a>
                            <a href='#' class="item">銀髮族</a>
                            <a href='#' class="item">專業職人</a>
                            <a href='#' class="item">租屋族</a>
                            <a href='#' class="item">愛玩客</a>
                            <a href='#' class="item">甜蜜愛侶</a>
                            <a href='#' class="item">登山露營</a>
                            <a href='#' class="item">家庭必備</a>
                            <a href='#' class="item">小本經營</a>
                            <a href='#' class="item">出外打拼</a>
                            <a href='#' class="item">健康養生</a>
                            <a href='#' class="item">人生里程</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <a href="#" class="item p-0 text-black"><h3 class="m-0">保戶服務</h3></a>
                        </div>
                        <div class="menu">
                            <h3>繳費專區</h3>
                            <a href='#' class="item">我要繳費</a>
                            <a href='#' class="item">查詢繳費狀況</a>
                        </div>
                        <div class="menu">
                            <h3>保單專區</h3>
                            <a href='#' class="item">我的保單</a>
                            <a href='#' class="item">我要續保</a>
                            <a href='#' class="item">變更保單資料</a>
                            <a href='#' class="item">增加投保內容</a>
                            <a href='#' class="item">強制證下載</a>
                        </div>
                        <div class="menu">
                            <h3>理賠專區</h3>
                            <a href='#' class="item">我要理賠</a>
                            <a href='#' class="item">理賠進度與記錄</a>
                        </div>
                        <div class="menu">
                            <h3>好康專區</h3>
                            <a href='#' class="item">我的優惠</a>
                            <a href='#' class="item">我的活動紀錄</a>
                            <a href='#' class="item">FB 粉絲團</a>
                            <a href='#' class="item">LINE 官方帳號</a>
                            <a href='#' class="item">APP 服務</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sitemap-container">
            <div class="col-md-3 sitemap-title">
                <h3 class="with-green-decoration mt-0">商業保險</h3>
            </div>
            <div class="col-md-9 sitemap-content">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>商業商品</h3>
                            <a href='#' class="item">餐廳飲料店</a>
                            <a href='#' class="item">辦公室 (工作室)</a>
                            <a href='#' class="item">零售買賣</a>
                            <a href='#' class="item">診所醫美</a>
                            <a href='#' class="item">工廠製造</a>
                            <a href='#' class="item">辛勤小農</a>
                            <a href='#' class="item">火災爆炸</a>
                            <a href='#' class="item">地震颱風</a>
                            <a href='#' class="item">工安意外</a>
                            <a href='#' class="item">開店風險</a>
                            <a href='#' class="item">業務過失</a>
                            <a href='#' class="item">資安風險</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>全部商品</h3>
                            <a href='#' class="item">全部商業險商品</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <a href="#" class="item p-0 text-black"><h3 class="m-0">保戶服務</h3></a>
                        </div>
                        <div class="menu">
                            <h3>繳費專區</h3>
                            <a href='#' class="item">我要繳費</a>
                            <a href='#' class="item">查詢繳費狀況</a>
                        </div>
                        <div class="menu">
                            <h3>保單專區</h3>
                            <a href='#' class="item">我的保單</a>
                            <a href='#' class="item">我要續保</a>
                            <a href='#' class="item">變更保單資料</a>
                            <a href='#' class="item">增加投保內容</a>
                            <a href='#' class="item">強制證下載</a>
                        </div>
                        <div class="menu">
                            <h3>如何防止意外</h3>
                            <a href='#' class="item">損害防阻服務</a>
                            <a href='#' class="item">聯繫顧問</a>
                        </div>
                        <div class="menu">
                            <h3>如何預防交通事故</h3>
                            <a href='#' class="item">員工事故預防</a>
                            <a href='#' class="item">聯繫顧問</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sitemap-container">
            <div class="col-md-3 sitemap-title">
                <h3 class="with-green-decoration mt-0">熱門活動</h3>
            </div>
            <div class="col-md-9 sitemap-content">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>重點活動</h3>
                            <a href='#' class="item">車險投保優惠大方送</a>
                            <a href='#' class="item">旅平+不便險優惠大方送</a>
                            <a href='#' class="item">寵物險</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>線上投保優惠懶人包</h3>
                            <a href='#' class="item">所有活動</a>
                            <a href='#' class="item">全站最大獎</a>
                            <a href='#' class="item">車險優惠</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>過去活動</h3>
                            <a href='#' class="item">全部活動</a>
                            <a href='#' class="item">中獎名單</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sitemap-container">
            <div class="col-md-3 sitemap-title">
                <h3 class="with-green-decoration mt-0">關於國泰</h3>
            </div>
            <div class="col-md-9 sitemap-content">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>為什麼選擇我們</h3>
                            <a href='#' class="item">公司簡介</a>
                            <a href='#' class="item">企業永續</a>
                            <a href='#' class="item">得獎榮耀</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>加入國泰</h3>
                            <a href='#' class="item">福利制度</a>
                            <a href='#' class="item">工作機會</a>
                            <a href='#' class="item">登入履歷 (維護查詢報到)</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>公開訊息</h3>
                            <a href='#' class="item">資訊公開</a>
                            <a href='#' class="item">公司治理</a>
                            <a href='#' class="item">聲明事項</a>
                            <a href='#' class="item">顧客資料保密措施</a>
                            <a href='#' class="item">共同行銷區</a>
                            <a href='#' class="item">防制洗錢宣導區</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sitemap-container">
            <div class="col-md-3 sitemap-title">
                <h3 class="with-green-decoration mt-0">其他</h3>
            </div>
            <div class="col-md-9 sitemap-content">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>集團網站</h3>
                            <a href="https://www.cathayholdings.com/holdings/" target="_blank" class="item">國泰金控</a>
                            <a href="https://www.cathaylife.com.tw/cathaylife/" class="item">國泰人壽</a>
                            <a href="https://www.cathayholdings.com/bank/" class="item">國泰世華銀行</a>
                            <a href="https://www.cathayholdings.com/securities/" class="item">國泰綜合證券</a>
                            <a href="https://www.cathayholdings.com/funds/" class="item">國泰投信</a>
                            <a href="https://www.cathayholdings.com/consulting/" class="item">國泰投顧</a>
                            <a href="https://cathay-ins.com.tw/insurance/english/index.html" class="item">EN</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>最新消息</h3>
                            <a href='#' class="item">最新消息列表</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="menu">
                            <h3>相關連結</h3>
                            <a href="https://cathay-ins.com.tw/insurance/accessibility/" target="_blank" class="item">金融友善服務</a>
                            <a href="https://carrisk.cathay-ins.com.tw/index.asp" target="_blank" class="item">零事故研究所</a>
                            <a href="../helper/8-1-3.html" target="_blank" class="item">房屋貸款</a>
                            <a href="https://www.fsc.gov.tw/ch/index.jsp" target="_blank" class="item">金管會</a>
                            <a href="https://www.ib.gov.tw/ch/index.jsp" target="_blank" class="item">保險局</a>
                            <a href="./company-15-7-0.html" target="_blank" class="item">公開訊息</a>
                            <a href="./sitemap.html" target="_blank" class="item">網站地圖</a>
                            <a href="../helper/8-1-3.html" target="_blank" class="item">瀏覽器建議</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /build:content -->