<!-- build:body -->index<!-- /build:body -->
<!-- build:content -->

<div class="system message">
    <div class="container">
        <a role="button" class="close float-right"><i class="icon-close i-24"></i></a>
        系統維護公告：本網站於1月10日凌晨至上午9時進行線上投保系統升級, 將暫停線上投保服務，造成您的不便，敬請見諒，謝謝系統維護公告：本網站於1月10日凌晨至上午9時進行線上投保系統升級,
        將暫停線上投保服務，造成您的不便，敬請見諒，謝謝
    </div>
</div>
<main>
  <section class="search-banner is-relax">
    <div class="parallax d-sm-block d-md-none">
      <div data-depth="0.4"><img src="../img/index/mobile-parallax-1.png" height="462" srcset="../img/index/mobile-parallax-1@2x.png"></div>
      <div data-depth="0.3"><img src="../img/index/mobile-parallax-2.png" height="462" srcset="../img/index/mobile-parallax-2@2x.png"></div>
      <div data-depth="0.2"><img src="../img/index/mobile-parallax-3.png" height="462" srcset="../img/index/mobile-parallax-3@2x.png"></div>
    </div>
    <div class="parallax d-none d-md-block">
      <div data-depth="0.4"><img src="../img/index/search-container-1.png" height="580" srcset="../img/index/search-container-1@2x.png"></div>
      <div data-depth="0.3"><img src="../img/index/search-container-2.png" height="580" srcset="../img/index/search-container-2@2x.png"></div>
      <div data-depth="0.2"><img src="../img/index/search-container-3.png" height="580" srcset="../img/index/search-container-3@2x.png"></div>
      <div data-depth="0.1"><img src="../img/index/search-container-4.png" height="580" srcset="../img/index/search-container-4@2x.png"></div>
    </div>
    <div class="container">
      <h2 class="slogan"><img src="../img/index/slogan.png" alt="國泰產險，總是幫我守護..." srcset="../img/index/slogan@2x.png" height="36"></h2>
      <div class="row">
        <div class="col-12 col-md-7 offset-md-2 search-container">
          <ul role="tab" class="tab is-fill">
            <li class="active"><a href="javascript:void(0)" role="tab-item" data-tab-id="car">汽車</a></li>
            <li><a href="javascript:void(0)" role="tab-item" data-tab-id="motor">機車</a></li>
            <li><a href="javascript:void(0)" role="tab-item" data-tab-id="travel">旅行</a></li>
            <li><a href="javascript:void(0)" role="tab-item" data-tab-id="pet">寵物</a></li>
            <li><a href="javascript:void(0)" role="tab-item" data-tab-id="house">房子</a></li>
            <li class="d-none d-md-table-cell"><a href="javascript:void(0)" role="tab-item" data-tab-id="cellphone">手機</a></li>
            <li class="d-none d-md-table-cell"><a role="button" data-anchor="sitemap">其他+</a></li>
          </ul>
          <div class="tab-pane"> 
            <div data-tab-id="car" class="tab-content active">
              <form class="form" action="./car-insurance-2-1-0.html">
                <input type="hidden" name="type" value="car">
                <div class="input-group input-lg">
                  <div class="input">
                    <div class="select index-dropdown">
                      <span class="select-render">線上投保 - 車險現省 $350，還享保費 87 折</span>
                      <div class="dropdown-menu">
                        <ul>
                          <li><a role="button">線上投保 - <span class="text-gray">車險現省 $350，還享保費 87 折</span></a></li>
                          <li><a data-target="special" role="button">商品特色 - <span class="text-gray">班機延誤不用申請證明就可以理賠...</span></a></li>
                          <li><a data-target="known" role="button">保障說明 - <span class="text-gray">旅遊不便險保什麼？旅平險保障了誰?</span></a></li>
                          <li ><a data-target="service" role="button">找業務員 - <span class="text-gray">顯示附近服務據點</span></a></li>
                          <li><a data-target="faq" role="button">其他問題 - <span class="text-gray">大家都想知道的投保問題</span></a></li>
                        </ul>
                        <div class="text-center">
                          <a href="./car-insurance-2-1-0.html"><i class="icon-arrow-right"></i> 前往汽車險首頁</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="action">
                    <button type="submit" class="btn btn-dark">試 算</button>
                  </div>
                </div>
              </form>
            </div>
            <div data-tab-id="motor" class="tab-content">
              <form class="form">
                <input type="hidden" name="type" value="motor">
                <div class="input-group input-lg">
                  <div class="input">
                    <div class="select index-dropdown">
                      <span class="select-render">線上投保 - 車險現省 $350，還享保費 87 折</span>
                      <div class="dropdown-menu">
                        <ul>
                          <li><a role="button">線上投保 - <span class="text-gray">車險現省 $350，還享保費 87 折</span></a></li>
                          <li><a role="button">商品特色 - <span class="text-gray">班機延誤不用申請證明就可以理賠...</span></a></li>
                          <li><a role="button">保障說明 - <span class="text-gray">旅遊不便險保什麼？旅平險保障了誰?</span></a></li>
                          <li><a role="button">找業務員 - <span class="text-gray">顯示附近服務據點</span></a></li>
                          <li><a role="button">其他問題 - <span class="text-gray">大家都想知道的投保問題</span></a></li>
                        </ul>
                        <div class="text-center">
                          <a href="#"><i class="icon-arrow-right"></i> 前往車險首頁</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="action">
                    <button type="submit" class="btn btn-dark">前往</button>
                  </div>
                </div>
              </form>
            </div>
            <div data-tab-id="travel" class="tab-content">
              <form class="form">
                <input type="hidden" name="type" value="travel">
                <div class="input-group input-lg">
                  <div class="input">
                    <div class="select index-dropdown">
                      <span class="select-render">線上投保 - 旅遊險現省 $350，還享保費 87 折</span>
                      <div class="dropdown-menu">
                        <ul>
                          <li><a role="button">線上投保 - 旅遊險現省 $350，還享保費 87 折</a></li>
                          <li><a role="button">商品特色 - <span class="text-gray">班機延誤不用申請證明就可以理賠...</span></a></li>
                          <li><a role="button">保障說明 - <span class="text-gray">旅遊不便險保什麼？旅平險保障了誰?</span></a></li>
                          <li><a role="button">找業務員 - <span class="text-gray">顯示附近服務據點</span></a></li>
                          <li><a role="button">其他問題 - <span class="text-gray">大家都想知道的投保問題</span></a></li>
                        </ul>
                        <div class="text-center">
                          <a href="#"><i class="icon-arrow-right"></i> 前往旅遊險首頁</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="action">
                    <button type="submit" class="btn btn-dark">前往</button>
                  </div>
                </div>
              </form>
            </div>
            <div data-tab-id="pet" class="tab-content">
              <form class="form">
                <input type="hidden" name="type" value="pet">
                <div class="input-group input-lg">
                  <div class="input">
                    <div class="select index-dropdown">
                      <span class="select-render">線上投保 - 寵物險現省 $350，還享保費 87 折</span>
                      <div class="dropdown-menu">
                        <ul>
                          <li><a role="button">線上投保 - <span class="text-gray">寵物險現省 $350，還享保費 87 折</span></a></li>
                          <li><a role="button">商品特色 - <span class="text-gray">班機延誤不用申請證明就可以理賠...</span></a></li>
                          <li><a role="button">保障說明 - <span class="text-gray">旅遊不便險保什麼？旅平險保障了誰?</span></a></li>
                          <li><a role="button">找業務員 - <span class="text-gray">顯示附近服務據點</span></a></li>
                          <li><a role="button">其他問題 - <span class="text-gray">大家都想知道的投保問題</span></a></li>
                        </ul>
                        <div class="text-center">
                          <a href="#"><i class="icon-arrow-right"></i> 前往寵物險首頁</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="action">
                    <button type="submit" class="btn btn-dark">前往</button>
                  </div>
                </div>
              </form>
            </div>
            <div data-tab-id="house" class="tab-content">
              <form class="form">
                <input type="hidden" name="type" value="house">
                <div class="input-group input-lg">
                  <div class="input">
                    <div class="select index-dropdown">
                      <span class="select-render">線上投保 - 車險現省 $350，還享保費 87 折</span>
                      <div class="dropdown-menu">
                        <ul>
                          <li><a role="button">線上投保 - 車險現省 $350，還享保費 87 折</span></a></li>
                          <li><a role="button">商品特色 - <span class="text-gray">班機延誤不用申請證明就可以理賠...</span></a></li>
                          <li><a role="button">保障說明 - <span class="text-gray">旅遊不便險保什麼？旅平險保障了誰?</span></a></li>
                          <li><a role="button">找業務員 - <span class="text-gray">顯示附近服務據點</span></a></li>
                          <li><a role="button">其他問題 - <span class="text-gray">大家都想知道的投保問題</span></a></li>
                        </ul>
                        <div class="text-center">
                          <a href="#"><i class="icon-arrow-right"></i> 前往旅遊險首頁</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="action">
                    <button type="submit" class="btn btn-dark">前往</button>
                  </div>
                </div>
              </form>
            </div>
            <div data-tab-id="cellphone" class="tab-content">
              <form class="form">
                <input type="hidden" name="type" value="cellphone">
                <div class="input-group input-lg">
                  <div class="input">
                    <div class="select index-dropdown">
                      <span class="select-render">線上投保 - 手機險現省 $350，還享保費 87 折</span>
                      <div class="dropdown-menu">
                        <ul>
                          <li><a role="button">線上投保 - <span class="text-gray">手機險現省 $350，還享保費 87 折</span></a></li>
                          <li><a role="button">商品特色 - <span class="text-gray">班機延誤不用申請證明就可以理賠...</span></a></li>
                          <li><a role="button">保障說明 - <span class="text-gray">旅遊不便險保什麼？旅平險保障了誰?</span></a></li>
                          <li><a role="button">找業務員 - <span class="text-gray">顯示附近服務據點</span></a></li>
                          <li><a role="button">其他問題 - <span class="text-gray">大家都想知道的投保問題</span></a></li>
                        </ul>
                        <div class="text-center">
                          <a href="#"><i class="icon-arrow-right"></i> 前往手機險首頁</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="action">
                    <button type="submit" class="btn btn-dark">前往</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <p class="text-center d-none d-md-block mt-2">
            <a href="./insurance.html" class="text-white">
              <i class="icon-arrow-right"></i>
              <span>更多網路投保商品</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="campaign tab-pane">
    <div data-tab-id="car" class="tab-content active">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
              <a href="./activity-11-1-0.html">
                <img src="../img/index/campaign-img.png" width="245" srcset="../img/index/campaign-img@2x.png" class="float-right">
                <h2 class="campaign-title">線上投保國泰車險抽 Gogoro 2 </h2>
                <p class="description">2019/5/31 前投保即可參加抽獎  GO</p>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div data-tab-id="motor" class="tab-content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
              <a href="#">
                <img src="../img/index/campaign-img.png" width="245" srcset="../img/index/campaign-img@2x.png" class="float-right">
                <h2 class="campaign-title">投保機車險，再抽 GoPro 運動攝影機</h2>
                <p class="description">2019/5/31 前投保即可參加抽獎  GO </p>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div data-tab-id="travel" class="tab-content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <a href="#">
              <img src="../img/index/campaign-img.png" width="245" srcset="../img/index/campaign-img@2x.png" class="float-right">
              <h2 class="campaign-title">陪你安心出遊，再抽 Switch 陪你玩</h2>
              <p class="description">2019/5/31 前投保即可參加抽獎  GO</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div data-tab-id="pet" class="tab-content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <a href="#">
              <img src="../img/index/campaign-img.png" width="245" srcset="../img/index/campaign-img@2x.png" class="float-right">
              <h2 class="campaign-title">毛孩也能投保，再抽 Furbo 狗狗攝影機</h2>
              <p class="description">2019/5/31 前投保即可參加抽獎  GO</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div data-tab-id="house" class="tab-content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <a href="#">
              <img src="../img/index/campaign-img.png" width="245" srcset="../img/index/campaign-img@2x.png" class="float-right">
              <h2 class="campaign-title">填寫滿意度問卷就抽 Dyson 吸塵器</h2>
              <p class="description">2019/5/31 前投保即可參加抽獎  GO ></p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div data-tab-id="cellphone" class="tab-content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1"><img src="../img/index/campaign-img.png" width="245" srcset="../img/index/campaign-img@2x.png" class="float-right">
            <h2 class="campaign-title">手滑摔機不再心好痛，iphoneXR 等你抽</h2>
            <p class="description">2019/5/31 前投保即可參加抽獎  GO</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="is-relax group-section">
    <div class="container">
      <h4 class="section-title">國泰產險也保護了...</h4>
      <div class="cards group">
        <a href="./group-1-2-1.html" class="card paded">
          <div class="content">
            <h3>通勤族</h3>
            <p>熱愛騎自行車、每週都騎機車或開車嗎？如果符合以上條件，看看大家都買什麼保障自己吧！</p>
            <div class="more text-green">
              <i class="icon-arrow-right"></i>
              看更多
            </div>
          </div>
        </a>
        <a href="#" class="card paded overlay-title">
          <div class="image"><img src="../img/index/card-2.png" height="280" srcset="../img/index/card-2@2x.png"></div>
          <div class="content">
            <h3 class="m-0">銀髮族</h3>
          </div>
        </a>
        <a href="#" class="card paded green overlay">
          <div class="image"><img src="../img/index/card-3.png" height="280" srcset="../img/index/card-3@2x.png"></div>
          <div class="content">
            <h3>專業職人</h3>
            <p>熱衷於我的工作，但當意外發生時，如何保障受害者的權益又可以保護我自己，看看大家都在保什麼...</p>
            <div class="more">
              <i class="icon-arrow-right"></i>
              看更多
            </div>
          </div>
        </a>
        <a href="#" class="card paded green overlay">
          <div class="image"><img src="../img/index/card-4.png" height="280" srcset="../img/index/card-4@2x.png"></div>
          <div class="content">
            <h3>租屋族</h3>
            <p>當發生火災、淹水竊盜時，如何保障房東原本的權益但也保護我自己，看看大家都買什麼...</p>
            <div class="more">
              <i class="icon-arrow-right"></i>
              看更多
            </div>
          </div>
        </a>
        <a href="#" class="card paded overlay">
          <div class="content">
            <h3>愛玩客</h3>
            <p>背著帳篷到處去旅行、嘗試各種戶外運動，旅途中我該如何減輕意外發生的負擔，看看大家都在保什麼...</p>
            <div class="more text-green">
              <i class="icon-arrow-right"></i>
              看更多
            </div>
          </div>
        </a>
        <a href="#" class="card paded overlay-title">
          <div class="image"><img src="../img/index/card-6.png" height="280" srcset="../img/index/card-6@2x.png"></div>
          <div class="content">
            <h3 class="m-0">甜蜜愛侶</h3>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section data-id="situation" class="situation">
    <h4 class="section-title">大家都在討論...</h4>
    <div class="situation-container">
      <div class="situation-nav">
        <div class="container">
          <ul role="tab" class="tab">
            <li class="active">
              <a role="tab-item" data-tab-id="climb">
                <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                <div class="icon">
                  <i class="icon-index-climb"></i>
                </div>
                <div class="text">登山露營</div>
              </a>
            </li>
            <li>           
              <a role="tab-item" data-tab-id="fami-essential">
                <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                <div class="icon">
                  <i class="icon-index-home"></i>
                </div>
                <div class="text">家庭必備</div>
              </a>
            </li>
            <li>
              <a role="tab-item" data-tab-id="business">
                <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                <div class="icon">
                  <i class="icon-index-shop"></i>
                </div>
                <div class="text">小本經營</div>
              </a>
            </li>
            <li>
              <a role="tab-item" data-tab-id="work-outside">
                <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                <div class="icon">
                  <i class="icon-index-work"></i>
                </div>
                <div class="text">出外打拼</div>
              </a>
            </li>
            <li>
              <a role="tab-item" data-tab-id="healthy">
                <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                <div class="icon">
                  <i class="icon-index-health"></i>
                </div>
                <div class="text">健康養生</div>
              </a>
            </li>
            <li>
              <a role="tab-item" data-tab-id="milestone">
                <div class="tab-arrow"><img src="../img/index/tab-arrow.png" srcset="../img/index/tab-arrow@2x.png"></div>
                <div class="icon">
                  <i class="icon-index-lifestage"></i>
                </div>
                <div class="text">人生里程</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="situation-content">
        <div class="container">
          <div class="tab-pane">
            <div data-tab-id="climb" class="tab-content active">
              <div class="row">
                <div class="col-10 offset-1 col-md-10 offset-md-2">
                  <h2><a href="./accident-1-3-1.html" class="text-black"><small>帳篷外的隱形防護傘</small>露營遇到地震，導致山路被封，好險...</a></h2>
                  <a href="./accident-1-3-1.html" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                </div>
              </div>
            </div>
            <div data-tab-id="fami-essential" class="tab-content">
              <div class="row">
                <div class="col-10 offset-1 col-md-10 offset-md-2">
                  <h2><a href="./accident-1-3-2.html" class="text-black"><small>寵物生病貴桑桑</small>毛孩沒健保，如何一鍵分擔醫療費...</a></h2>
                  <a href="./accident-1-3-2.html" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                </div>
              </div>
            </div>
            <div data-tab-id="business" class="tab-content">
              <div class="row">
                <div class="col-10 offset-1 col-md-10 offset-md-2">
                  <h2><a href="./accident-1-3-1.html" class="text-black"><small>農民苦淚誰來幫?</small>寒流颱風接力破壞，芒果農民又遇風災...</a></h2>
                  <a href="#" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                </div>
              </div>
            </div>
            <div data-tab-id="work-outside" class="tab-content">
              <div class="row">
                <div class="col-10 offset-1 col-md-10 offset-md-2">
                  <h2><a href="./accident-1-3-1.html" class="text-black"><small>職場甘苦談</small>沒人願意發生醫療糾紛，遇到了怎麼辦？</a></h2>
                  <a href="#" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                </div>
              </div>
            </div>
            <div data-tab-id="healthy" class="tab-content">
              <div class="row">
                <div class="col-10 offset-1 col-md-10 offset-md-2">
                  <h2><a href="./accident-1-3-1.html" class="text-black"><small>治癌多燒錢</small>健保無法治療癌症吃到飽，我買對了嗎？</a></h2>
                  <a href="#" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                </div>
              </div>
            </div>
            <div data-tab-id="milestone" class="tab-content">
              <div class="row">
                <div class="col-10 offset-1 col-md-10 offset-md-2">
                  <h2><a href="./accident-1-3-1.html" class="text-black"><small>結婚里程免擔心</small>避免美好的婚禮發生意外，我需要...</a></h2>
                  <a href="#" class="link d-block"><i class="icon-arrow-right"></i> 看更多</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-need">
    <div class="container">
      <h4 class="section-title">你可能需要...</h4>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <img src="../img/index/u-need-bg.png" srcset="../img/index/u-need-bg@2x.png" height="456" class="bg">
          <img src="../img/common/main-line.png" srcset="../img/common/main-line@2x.png" height="193" class="main-line">
          <div class="panel with-green-decoration">
              <div class="panel-body">
                <div class="row">
                  <div class="col-12 col-md-4 pl-md-5 column">
                    <div class="image"><img src="../img/index/payment.png" height="97" srcset="../img/index/payment@2x.png"></div>
                    <div class="content">
                      <a href="./payment-3-1-1.html" class="item">
                        <i class="icon-arrow-right text-green i-20"></i>
                        <span class="text">我要繳費</span>
                      </a>
                      <a href="./auth-14-1-0.html" class="item">
                        <i class="icon-arrow-right text-green i-20"></i>
                        <span class="text">查詢繳費狀況</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 pl-md-5 column">
                    <div class="image"><img src="../img/index/claim.png" height="97" srcset="../img/index/claim@2x.png"></div>
                    <div class="content">
                      <a href="./claim.html" class="item">
                        <i class="icon-arrow-right text-green i-20"></i>
                        <span class="text">我要理賠</span>
                      </a>
                      <a href="./auth-14-1-0.html" class="item">
                        <i class="icon-arrow-right text-green i-20"></i>
                        <span class="text">查詢理賠狀況</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 pl-md-5 column">
                    <div class="image"><img src="../img/index/document.png" height="97" srcset="../img/index/document@2x.png"></div>
                    <div class="content">
                      <a href="./insurance-5-2-0.html" class="item">
                        <i class="icon-arrow-right text-green i-20"></i>
                        <span class="text">變更保單內容</span>
                      </a>
                      <a href="./auth-14-1-0.html" class="item">
                        <i class="icon-arrow-right text-green i-20"></i>
                        <span class="text">我的專屬優惠</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="is-relax news-container">
    <div class="container">
      <h4 class="section-title d-md-none">最新消息</h4>
      <div class="row">
        <div class="col-12 col-md-7">
          <a href="./news-detail.html" class="main-news">
            <div class="image"><img src="../img/index/news-cover.png" alt="" srcset="../img/index/news-cover@2x.png"></div>
            <div class="caption">
              <div class="meta">
                <div class="category news">新聞</div>
                <div class="public_at">2019-05-24</div>
              </div>
              <div class="title">旅綜險班機延誤補償常見問題，如颱風來襲前購買，是否理賠？若未搭乘飛機是否理賠？...</div>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-5">
          <h4 class="d-none news-title d-md-block">最新消息</h4>
          <div class="list">
            <a href="./news-detail.html" class="item">
              <div class="meta">
                <div class="category news">新聞</div>
                <div class="public_at">2019-05-24</div>
              </div>
              <div class="title">旅綜險班機延誤補償常見問題，如颱風來襲前購買，是否理賠？若未搭乘飛機是否理賠？...</div>
            </a>
            <a href="./news-detail.html" class="item">
              <div class="meta">
                <div class="category bulletin">公告</div>
                <div class="public_at">2019-03-05</div>
              </div>
              <div class="title">107年滿意度委外調查作業將於 108年3月11日-108年3月21日進行保戶 8-10 分鐘的電話滿意度訪問</div>
            </a>
            <a href="./news-detail.html" class="item">
              <div class="meta">
                <div class="category activity">活動</div>
                <div class="public_at">2019-02-22</div>
              </div>
              <div class="title">1月份「加入會員 月月抽屈臣氏100元」中獎名單</div>
            </a>
          </div>
          <div class="text-right more">
            <a href="./news.html">
              <i class="icon-arrow-right i-20"></i> 前往公告中心
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="statics d-none d-lg-block pb-5">
    <div class="container">
      <h4 class="section-title">
        <img src="../img/common/main-line-sm.png" srcset="../img/common/main-line-sm@2x.png" height="62" class="main-line">
        <br>
        國泰產險持續在做最偉大的小事...
      </h4>
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div class="row static-container">
            <div class="col-4">
              <a href="https://carrisk.cathay-ins.com.tw/" class="card static">
                <div class="content text-center">
                  <h1>
                    全台 12 個
                  </h1>
                  <p class="description">縣市免費校園推廣</p>
                </div>
              </a>
            </div>
            <div class="col-4">
              <a href="https://carrisk.cathay-ins.com.tw/saferider/" class="card static">
                <div class="content text-center">
                  <h1>
                    70 場
                  </h1>
                  <p class="description">不意外騎士校園活動</p>
                </div>
              </a>
            </div>
            <div class="col-4">
              <a href="https://carrisk.cathay-ins.com.tw/drive_safe_classrooms.asp" class="card static">
                <div class="content text-center">
                  <h1>
                    8,561名
                  </h1>
                  <p class="description">學生受到交通知識宣導</p>
                </div>
              </a>
            </div>
            <div class="col-12 text-right">
              <a href="https://carrisk.cathay-ins.com.tw/">
                <i class="icon-arrow-right"></i>
                <span>看更多</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="promotion-section d-none d-lg-block">
    <!-- <h4 class="section-title">加入國泰，一起打造暖心服務吧 !</h4> -->
    <div class="promotion">
      <div class="container">
        <div class="row">
          <div class="col-5 offset-md-1">
            <h2 class="quote">加入國泰，<br/>一起打造暖心服務吧 !</h2>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-md-4 text-center">
                  <div class="item">
                    <div class="image">
                      <img src="../img/index/happness.png" height="120" srcset="../img/index/happness@2x.png">
                    </div>
                    <a href="./company-15-4-0.html" class="btn btn-outline-reverse btn-sm">共創幸福</a>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <div class="item">
                    <div class="image">
                      <img src="../img/index/suitcase-white.png" height="120" srcset="../img/index/suitcase-white@2x.png">
                    </div>
                    <a href="./company-15-5-0.html" class="btn btn-outline-reverse btn-sm">工作機會</a>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <div class="item">
                    <div class="image">
                      <img src="../img/index/gift.png" height="120" srcset="../img/index/gift@2x.png">
                    </div>
                    <a href="./company-15-4-0.html" class="btn btn-outline-reverse btn-sm">福利制度</a>
                  </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <section data-id="sitemap" class="sitemap"><img src="../img/index/sitemap-bg.png" height="197" srcset="../img/index/sitemap-bg@2x.png" class="sitemap-bg">
    <div class="container">
      <h4 class="section-title">國泰的服務，比我想的更全面...</h4>
      <div class="sitemap-container">
        <div class="row">
          <div class="insurace-type">
            <h3>車險</h3>
            <a href="./car-insurance-2-1-0.html" class="item">汽車保險 <small class="ml-1">線上投保</small></a>
            <a href="#" class="item">機車保險 <small class="ml-1">線上投保</small></a>
            <a href="#" class="item">自行車保險</a>
          </div>
          <div class="insurace-type">
            <h3>旅遊險</h3>
            <a href="#" class="item">旅平+不便險<small class="ml-1">線上投保</small></a>
            <a href="#" class="item">特定活動險<small class="ml-1">線上投保</small></a>
            <a href="#" class="item">登山險</a>
            <a href="#" class="item">出差遊學打工險</a>
          </div>
          <div class="insurace-type">
            <h3>住家險</h3>
            <a href="#" class="item">住家/租屋保戶傘<small class="ml-1">線上投保</small></a>
            <a href="#" class="item">住火及地震險<small class="ml-1">線上投保</small></a>
          </div>
          <div class="insurace-type">
            <h3>意外傷害險</h3>
            <a href="#" class="item">交通意外保險</a>
            <a href="#" class="item">傷害保險 </a>
            <a href="#" class="item">族群專屬保險</a>
            <a href="#" class="item">低保額意外保險</a>
          </div>
        </div>
        <div class="row">
          <div class="insurace-type">
            <h3>責任險</h3>
            <a href="#" class="item">執行業務保險</a>
          </div>
          <div class="insurace-type">
            <h3>新型態商品</h3>
            <a href="#" class="item">手機保險</a>
          </div>
          <div class="insurace-type">
            <h3>健康險</h3>
            <a href="#" class="item">住院醫療癌症保險</a>
            <a href="#" class="item">寵物保險<small class="ml-1">線上投保</small></a>
          </div>
          <div class="insurace-type">
            <h3>結婚保險</h3>
            <a href="#" class="item">婚禮蜜月保險</a>
          </div>
          <div class="insurace-type">
            <h3>農業保險</h3>
            <a href="#" class="item">農作物保險</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- 
<div class="scrolldown">
    <i class="icon-arrow-down"></i>
</div>
 -->
<div class="cookie message">
  <div class="container">
    <div class="image">
      <img src="../img/common/cookies.png" srcset="../img/common/cookies@2x.png" height="56px">
    </div>
    <div class="content">
      <h5>Cookie 之使用</h5>
      <p>為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的 Cookie，若您不願接受 Cookie 的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕 Cookie 的寫入，但可能會導致網站某些功能無法正常執行 。 </p>
    </div>
    <div class="action">
      <button class="btn btn-outline-reverse close">好，我知道了</button>
    </div>
  </div>
</div>
<!-- /build:content -->