<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./travel-insurance.html" role="button" class="nav-item">回旅遊＋不便險</a>
            <a href="./travel-insurance-2-3-1.html"  role="button" class="nav-item">快速理賠說明</a>
            <a href="./travel-insurance-2-3-2.html"  role="button" class="nav-item active">急難救助介紹</a>
        </nav>
        <div class="navbar-right">
            <a href="#" class="btn btn-red">線上投保享優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./travel-insurance.html">旅遊＋不便險</a></li>
                    <li class="active"><a href="#">急難救助</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance travel-insurance">
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="./travel-insurance.html">回旅遊＋不便險</a></option>
                    <option value="./travel-insurance-2-3-1.html">快速理賠說明</a></option>
                    <option value="./travel-insurance-2-3-2.html" selected>急難救助介紹</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./travel-insurance.html">回旅遊＋不便險</a></li>
                <li><a href="./travel-insurance-2-3-1.html">快速理賠說明</a></li>
                <li class="active"><a href="./travel-insurance-2-3-2.html">急難救助介紹</a></li>
            </ul>
            <div class="caption">
                <h1>
                    出門在外，讓國泰產險當你的守護神
                </h1>
                <div class="description">
                    不管在任何國家都可以尋求 24 小時急難救助服務，撥號前準備「投保者姓名生日、身分證字號與保險單號碼」，撥打：+886-2-2755-1258，國泰產險就會透過國際急難救助公司，迅速提供救助服務。
                </div>
                <div class="action mt-2">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <!-- <a href="#" class="btn btn-primary btn-flat">看活動說明</a> -->
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0310/download-app.png" height="324px" srcset="../img/insurance/PFA2_0310/download-app@2x.png" />
    </div>
    <section class="section is-relax my-4">
        <div class="container">
            <!-- <h1 class="section-title">不能不知的三大重點</h1> -->
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">
                        當需要協助時：出示以下文字請旅館服務人員或導遊聯繫我們
                    </h1>
                    <img src="../img/index/u-need-bg.png" srcset="../img/index/u-need-bg@2x.png" height="456" style="top: auto" class="carousel-bg">
                    <div class="owl-carousel insurance-card travel">
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green text-lg mt-0 mb-2">中文版</h1>
                                <h2 class="title">請幫幫我</h2>
                                <div class="description">
                                    您能幫我打個電話到台灣嗎？<br/>
                                    電話號碼是+ 886-2-2755-1258。<br/>
                                    我需要聯絡台灣的國泰世紀保險公司服務中心的服務人員。非常感謝您的幫助......
                                </div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <h1 class="text-green text-lg mt-0 mb-2">英文版</h1>
                                <h2 class="title">PLEASE HELP ME</h2>
                                <div class="description">
                                    Would you please helping me make a call to Taiwan’s insurance company?<br/>
                                    The number is +886-2-2755-1258. Thank your so much.
                                </div>
                            </div>
                        </div>
                        <div class="card paded pb-1">
                            <div class="content">
                                <h1 class="text-green text-lg mt-0 mb-2">日文版</h1>
                                <h2 class="title">助けてください</h2>
                                <div class="description">
                                    助けてください<br/>
                                    台湾へ電話をかけていただけませんか。<br/>
                                    電話番号は+886-2-2755-1258です。<br/>
                                    話したいのは台湾のキャセイセンチュリーインシュアランスのオベレーションスタッフです。<br/>
                                    手伝ってくださって、ありがとうございます。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">急難救助服務項目</h1>
            
            <table class="table table-striped mb-4">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">24 小時諮詢服務</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="50%">行前旅遊地區資訊提供</td>
                        <td>免費</td>
                    </tr>
                    <tr>
                        <td>緊急情況協助訂旅社/機票</td>
                        <td>免費</td>
                    </tr>
                    <tr>
                        <td>醫療問題轉譯</td>
                        <td>免費</td>
                    </tr>
                    <tr>
                        <td>推薦通譯機構/秘書資訊</td>
                        <td>免費</td>
                    </tr>
                    <tr>
                        <td>緊急醫療諮詢</td>
                        <td>免費</td>
                    </tr>
                    <tr>
                        <td>法律問題諮詢</td>
                        <td>須自付訴訟相關費用</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped mb-4">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">旅遊及醫療協助</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="50%">行李代尋轉送</td>
                        <td>須自付訴訟相關費用</td>
                    </tr>
                    <tr>
                        <td>旅遊文件協尋及補發遞送</td>
                        <td>須自付訴訟相關費用</td>
                    </tr>
                    <tr>
                        <td>推薦醫療服務機構</td>
                        <td>須自付診療費用</td>
                    </tr>
                    <tr>
                        <td>協助安排住院</td>
                        <td>須自付診療費用</td>
                    </tr>
                    <tr>
                        <td>緊急醫療用品遞送</td>
                        <td>須自付診療費用</td>
                    </tr>
                    <tr>
                        <td>醫療病情追蹤</td>
                        <td>免費</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped mb-4">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">事件處理</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="50%">
                            未成年子女送回費用
                            <div class="text-gray"><small>註：被保險人需因遭遇意外事故或突發疾病，經診斷需留置治療七日以上才適用</small></div>
                        </td>
                        <td rowspan="5" class="align-middle">（限額）150萬台幣</td>
                    </tr>
                    <tr>
                        <td>親友前往探視或處理後事費用
                            <div class="text-gray"><small>註：被保險人需因遭遇意外事故或突發疾病，經診斷需留置治療七日以上才適用</small></div>
                        </td>
                    </tr>
                    <tr>
                        <td>醫療轉送費用
                            <div class="text-gray"><small>註：被保險人需因遭遇意外事故或突發疾病，經診斷需留置治療七日以上才適用</small></div>
                        </td>
                    </tr>
                    <tr>
                        <td>遺體運送費用</td>
                    </tr>
                    <tr>
                        <td>搜索救助費用</td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-10 offset-md-1 text-center">
                    <a href="#" class="btn btn-primary">試算投保</a>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- /build:content -->