<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./travel-insurance.html" role="button" class="nav-item">回旅遊＋不便險</a>
            <a href="./travel-insurance-2-3-3.html"  role="button" class="nav-item">國外旅遊</a>
            <a href="./travel-insurance-2-3-4.html"  role="button" class="nav-item active">國內旅遊</a>
        </nav>
        <div class="navbar-right">
            <a href="#" class="btn btn-red">線上投保享優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./travel-insurance.html">旅遊＋不便險</a></li>
                    <li class="active"><a href="#">國內旅遊</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance travel-insurance">
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="./travel-insurance.html">回旅遊＋不便險</a></option>
                    <option value="./travel-insurance-2-3-3.html">國外旅遊</a></option>
                    <option value="./travel-insurance-2-3-4.html" selected>國內旅遊</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./travel-insurance.html">回旅遊＋不便險</a></li>
                <li><a href="./travel-insurance-2-3-3.html">國外旅遊</a></li>
                <li class="active"><a href="./travel-insurance-2-3-4.html">國內旅遊</a></li>
            </ul>
            <div class="caption">
                <h1>
                    意外身故，最高1000萬元理賠
                </h1>
                <div class="description">
                    國內旅遊就不用保險了嗎？近年來國內旅遊重大傷亡意外頻傳，像是去年發生的賞櫻翻車意外，沒有一位旅客投保額外的旅行平安險，但其實只要一杯飲料錢，就可以讓履行保障更加完整。
                </div>
                <div class="action mt-2">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <!-- <a href="#" class="btn btn-primary btn-flat">看活動說明</a> -->
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0310/download-app.png" height="324px" srcset="../img/insurance/PFA2_0310/download-app@2x.png" />
    </div>
    <section class="section is-relax my-4">
        <div class="container">
            <h1 class="section-title">旅遊平安險保障範圍與金額</h1>
            <!-- 原表格，編輯完畢可隱藏 -->
            <div class="row">
                <div class="col-12">
                    <div class="table-response d-none d-md-block">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th rowspan="3" colspan="2">保障項目</th>
                                    <th>保障方案與額度</th>
                                </tr>
                                <tr>
                                    <th>國內旅遊不便方案G</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3">旅遊平安保險</td>
                                    <td>
                                        <div>意外身故失能保險金</div>
                                        <div><small class="text-deep-gray">未滿15歲僅提供200萬失能保險金方案</small></div>
                                    </td>
                                    <td>200 萬 ~ 1,000萬</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>特定意外（航空、海陸事故）身故失能保險金</div>
                                        <div><small class="text-deep-gray">僅限傳真要保方案</small></div>
                                    </td>
                                    <td>200 萬 ~ 1,000萬</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>傷害醫療實支實付保險金</div>
                                    </td>
                                    <td>依所選方案最高70萬元</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">
                                        旅遊不便綜合保險 -<br/>
                                        國內旅遊不便險
                                    </td>
                                    <td>旅程縮短費用（定額）</td>
                                    <td>1,500元</td>
                                </tr>
                                <tr>
                                    <td>旅程延誤費用（限額）</td>
                                    <td>1,500元</td>
                                </tr>
                                <tr>
                                    <td>劫機費用（定額）</td>
                                    <td>1,500元</td>
                                </tr>
                                <tr>
                                    <td>食品中毒費用（定額）</td>
                                    <td>1,500元</td>
                                </tr>
                                <tr>
                                    <td>
                                        旅遊不便綜合保險 -<br/>
                                        第三人責任
                                    </td>
                                    <td>
                                        每一意外事故體傷/財損/<br/>
                                        保期內最高賠償（限額）
                                    </td>
                                    <td>10萬/5萬/15萬</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="d-block d-md-none">
                        <div class="panel">
                            <div class="panel-header">
                                <h4 class="panel-title">國內旅遊不便方案G</h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <div>意外身故失能保險金 <span class="text-orange">200 ~ 1,000萬</span></div>
                                    <div><small class="text text-gray">未滿15歲僅提供200萬失能保險金方案</small></div>
                                </p>
                                <p>
                                    <div>特定意外身故失能保險金 <span class="text-orange">200 ~ 1,000萬</span></div>
                                    <div><small class="text text-gray">僅限傳真要保方案</small></div>
                                </p>
                                <p>
                                    <div>旅程縮短費用（定額） <span class="text-orange">1,500元</span></div>
                                </p>
                                <p>
                                    <div>旅程延誤費用（限額） <span class="text-orange">1,500元</span></div>
                                </p>
                                <p>
                                    <div>劫機費用（定額） <span class="text-orange">1,500元</span></div>
                                </p>
                                <p>
                                    <div>食品中毒費用（定額） <span class="text-orange">1,500元</span></div>
                                </p>
                                <p>
                                    <div>每一意外事故體傷/財損/保期內最高賠償(限額） <span class="text-orange">10萬/5萬/15萬</span></div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /原表格，編輯完畢可隱藏 -->

            <div class="row">
                <div class="col-12">
                    <h3>國內旅遊平安險保障範圍與金額</h3>
                    <div class="table-response d-none d-md-block">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>旅遊平安險保障項目</th>
                                    <th>保險金額</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>旅遊平安保險</td>
                                    <td>
                                        <div>意外身故失能保險金</div>
                                        <div><small class="text-deep-gray">未滿15歲僅提供200萬失能保險金方案</small></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="d-block d-md-none">
                        <div class="panel">
                            <div class="panel-header">
                                <h4 class="panel-title">國內旅遊平安險保障範圍與金額</h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <div>意外身故失能保險金 <span class="text-orange">200 ~ 1,000萬</span></div>
                                    <div><small class="text text-gray">未滿15歲僅提供200萬失能保險金方案</small></div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>國內旅遊不便綜合保險保障範圍與金額</h3>
                    <div class="table-response d-none d-md-block">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="2">旅遊不便綜合保險保障項目</th>
                                    <th>方案 G</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="4">旅遊不便綜合保險 -國內旅遊不便險</td>
                                    <td>旅程縮短費用（定額）</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>旅程縮短費用（定額）</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>旅程縮短費用（定額）</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>旅程縮短費用（定額）</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="d-block d-md-none">
                        <div class="panel">
                            <div class="panel-header">
                                <h4 class="panel-title">國內旅遊不便綜合保險保障範圍與金額</h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <div>意外身故失能保險金 <span class="text-orange">200 ~ 1,000萬</span></div>
                                    <div><small class="text text-gray">未滿15歲僅提供200萬失能保險金方案</small></div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <a class="btn btn-primary">
                        試算投保
                    </a>
                </div>
            </div>
        </div>
    </section>
    
</main>

<!-- /build:content -->