<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./travel-insurance.html" role="button" class="nav-item">回旅遊＋不便險</a>
            <a href="./travel-insurance-2-3-3.html"  role="button" class="nav-item active">國外旅遊</a>
            <a href="./travel-insurance-2-3-4.html"  role="button" class="nav-item">國內旅遊</a>
        </nav>
        <div class="navbar-right">
            <a href="#" class="btn btn-red">線上投保享優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./travel-insurance.html">旅遊＋不便險</a></li>
                    <li class="active"><a href="#">國外旅遊</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance travel-insurance">
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="./travel-insurance.html">回旅遊＋不便險</a></option>
                    <option value="./travel-insurance-2-3-3.html" selected>國外旅遊</a></option>
                    <option value="./travel-insurance-2-3-4.html">國內旅遊</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./travel-insurance.html">回旅遊＋不便險</a></li>
                <li class="active"><a href="./travel-insurance-2-3-3.html">國外旅遊</a></li>
                <li><a href="./travel-insurance-2-3-4.html">國內旅遊</a></li>
            </ul>
            <div class="caption">
                <h1>
                    班機延誤3小時，享6,000元最高18,000元理賠(享樂型)
                </h1>
                <div class="description">
                    國外旅遊必備，保障包含旅遊傷害保險、傷害醫療實支實付、海外突發疾病醫療及燒燙燒傷保險金之保額，還可以加保海外旅遊不便險，發生事故也不擔心。
                </div>
                <div class="action mt-2">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <!-- <a href="#" class="btn btn-primary btn-flat">看活動說明</a> -->
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0310/download-app.png" height="324px" srcset="../img/insurance/PFA2_0310/download-app@2x.png" />
    </div>
    <section class="section">
        <div class="container">
            <!-- On Desktop -->
            <div class="d-none d-md-block">
                <h1 class="section-title">旅遊平安險保障範圍與金額</h1>
                <div class="row">
                    <div class="col-12">
                        <div class="table-response">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>旅遊平安險保障項目</th>
                                        <th>基本型-旅遊不便Ｍ</th>
                                        <th>享樂型-旅遊不便L</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>意外身故失能保險金
                                            <div><small class="text-deep-gray">未滿15歲僅提供200萬失能保險金方案</small></div>
                                        </td>
                                        <td>200 萬 ~ 1,000萬</td>
                                        <td>300萬~1000萬</td>
                                    </tr>
                                    <tr>
                                        <td>特定意外（航空、海陸事故）身故失能保險金
                                            <div><small class="text-deep-gray">僅限傳真要保方案</small></div>
                                        </td>
                                        <td>200 萬 ~ 1,000萬</td>
                                        <td>300萬~1000萬</td>
                                    </tr>
                                    <tr>
                                        <td>傷害醫療實支實付保險金</td>
                                        <td>依所選方案最高120萬元</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>海外突發疾病醫療及燒燙傷保險金</td>
                                        <td>依所選方案最高100萬元</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <h1 class="section-title mt-5">國外旅遊不便綜合保險保障範圍與金額</h1>
                <div class="row">
                    <div class="col-12">
                        <div class="table-response">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="4" width="*">旅遊不便險綜合保險保障項目</th>
                                        <th width="240">標準M型<br/>
                                            *旅遊平安保額200萬以上方可加保</th>
                                        <th width="240">
                                            豪華L型<br/>*旅遊平安保額300萬以上方可加保
                                            <div><small>須提前7日投保</small></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="16" width="180" class="bg-light-green text-center align-middle">海外旅遊不便險</td>
                                        <td colspan="2" width="*">班機延誤費用（定額）</td>
                                        <td rowspan="2" width="50">擇一賠付</td>
                                        <td>
                                            每3小時4,000元<br/>
                                            最高12,000元
                                        </td>
                                        <td>
                                            每3小時6,000元<br/>
                                            最高18,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" width="*">班機改搭費用（定額）</td>
                                        <td>
                                            3,000元
                                        </td>
                                        <td>
                                            5,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" width="*">
                                            <div>天然災害班機取消費用（定額）<a href="#" class="label is-orange is-large">加碼</a></div>
                                            <small class="text-deep-gray">
                                                只要因颱風、地震等災害造成班機取消即可理賠，可與 [班機延誤] 或 [班機改搭] 合併賠付
                                            </small>
                                        </td>
                                        <td>—</td>
                                        <td>
                                            1,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div>改降非原定機場之補償(定額)</div>
                                        </td>
                                        <td>3,000元</td>
                                        <td>5,000元</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div>劫機費用（定額）</div>
                                        </td>
                                        <td>3,000元</td>
                                        <td>6,000元</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">行李延誤費用（定額）</td>
                                        <!-- <td rowspan="2">擇一賠付</td> -->
                                        <td>
                                            3000元<br/>
                                            <small class="text-deep-gray">返回出發地/居住地1,500元</small>
                                        </td>
                                        <td>
                                            5000元<br/>
                                            <small class="text-deep-gray">返回出發地/居住地2,500元</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">行李損失費用（擇一）</td>
                                        <td>
                                            定額3,000元
                                            或實支實付12,000元
                                        </td>
                                        <td>
                                            定額5,000元
                                            或實支實付20,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">旅程縮短費用（定額）</td>
                                        <!-- <td rowspan="2">擇一賠付</td> -->
                                        <td>
                                            5,000元
                                        </td>
                                        <td>
                                            10,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div>旅程延誤費用（擇一）</div>
                                            <small class="text-deep-gray">包含住宿/文件/票券/交通膳食費用</small>
                                        </td>
                                        <td>
                                            定額1,000元 或保期內實支實付最高5,000元
                                        </td>
                                        <td>
                                            定額2,000元 或保期內實支實付最高10,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3" width="50" class="text-center align-middle">旅程取消費用</td>
                                        <td colspan="2">
                                            <div>其他費用（限額）</div>
                                        </td>
                                        <td>
                                            —
                                        </td>
                                        <td>
                                            10,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div>機票費用（定額）</div>
                                        </td>
                                        <td>
                                            —
                                        </td>
                                        <td>
                                            5,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div>訂房費用（定額）</div>
                                        </td>
                                        <td>
                                            —
                                        </td>
                                        <td>
                                            5,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div>食品中毒費用（定額）</div>
                                        </td>
                                        <td>
                                            3,000元
                                        </td>
                                        <td>
                                            6,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div>現金竊盜損失費用（定額）</div>
                                        </td>
                                        <td>
                                            3,000元
                                        </td>
                                        <td>
                                            5,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div>信用卡盜用損失費用（限額）</div>
                                        </td>
                                        <td>
                                            —
                                        </td>
                                        <td>
                                            100,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div>居家竊盜損失費用（定額）</div>
                                        </td>
                                        <td>
                                            —
                                        </td>
                                        <td>
                                            10,000元
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bg-secondary text-center align-middle">第三責任</td>
                                        <td colspan="3">每一意外事故體傷/財損/保期內最高賠償（限額）</td>
                                        <td colspan="2">
                                            <div>90萬/10萬/100萬</div>
                                            <div><small class="text-deep-gray">每一事故自負額2,500元</small></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bg-yellow-green text-center align-middle">海外旅遊急難救助</td>
                                        <td colspan="3">未成年子女送回費用、醫療轉送費用、親友前往探視或處理之費用、遺體運送費用、搜索救助費用(限額)</td>
                                        <td colspan="2">
                                            <div>150萬</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- On Mobile -->
            <div class="d-block d-md-none ins-table">
                <div class="labels mobile-in-scroll" role="tab">
                    <a role="tab-item" data-tab-id="1" class="label outline active">基本型-旅遊不便Ｍ</a>
                    <a role="tab-item" data-tab-id="2" class="label outline">享樂型-旅遊不便L</a>
                </div>
                <div class="tab-pane basic">
                    <div class="tab-content pt-4 active" data-tab-id="1">
                        <h1 class="section-title">旅遊平安險保障範圍與金額</h1>
                        <div class="panel">
                            <div class="panel-header">
                                <h4 class="panel-title">旅遊平安險</h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                    意外身故失能保險金 <span class="text-orange">200 ~ 1,000萬</span><br/>
                                    <small class="text text-gray">未滿15n歲僅提供200萬失能保險金方案</small>
                                </p>
                                <p>
                                    特定意外身故失能保險金 <span class="text-orange">200 ~ 1,000萬</span><br/>
                                    <small class="text text-gray">僅限傳真要保方案</small>
                                </p>
                                <p>
                                    傷害醫療實支實付保險金 <span class="text-orange">最高120萬</span>
                                </p>
                                <p>
                                    海外突發疾病醫療及燒燙傷保險金<span class="text-orange">最高100萬</span>
                                </p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4 class="panel-title">旅遊不便綜合保險</h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <div>班機延誤/改搭費用（定額，擇一賠付）</div>
                                    <div>延誤：<span class="text-orange">每3小時4,000元，最高1,200元</span></div>
                                    <div>改搭：<span class="text-orange">3,000元</span></div>
                                </p>
                                <p>
                                    <div>行李延誤/損失費用（定額，擇一賠付）</div>
                                    <div>延誤：<span class="text-orange">3,000元，返回出發地/居住地1,500元</span></div>
                                    <div>損失：<span class="text-orange">3,000元或實支實付12,000元</span></div>
                                </p>
                                <p>
                                    <div>行程縮短/延誤費用（定額，擇一賠付）</div>
                                    <div>縮短：<span class="text-orange">5,000元，含住宿/文件/票券/交通膳食</span></div>
                                    <div>損失：<span class="text-orange">定額3,000元或實支實付12,000元</span></div>
                                </p>
                                <p>
                                    <div>改降非原定機場補償 <span class="text-orange">3,000元</span></div>
                                </p>
                                <p>
                                    <div>劫機費用（定額）<span class="text-orange">3,000元</span></div>
                                </p>
                                <p>
                                    <div>食品中毒費用（定額）<span class="text-orange">3,000元</span></div>
                                </p>
                                <p>
                                    <div>現金竊盜損失費用（定額）<span class="text-orange">3,000元</span></div>
                                </p>
                                <p>
                                    <div>每一意外事故體傷/財損/保期內最高賠償(限額） <span class="text-orange">90萬/10萬/100萬</span></div>
                                    <div><small class="text text-gray">每一事故自負額2,500元</small></div>
                                </p>
                                <p>
                                    <div>未成年子女送回費用、醫療轉送費用、親友前往探視或處理之費用、遺體運送費用、搜索救助費用（限額）<span class="text-orange">150萬</span></div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content pt-4" data-tab-id="2">
                        <h1 class="section-title">旅遊不便綜合保險保障範圍與金額</h1>
                        <div class="panel">
                            <div class="panel-header">
                                <h4 class="panel-title">旅遊平安險</h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                    意外身故失能保險金 <span class="text-orange">300萬 ~ 1000萬</span><br/>
                                    <small class="text text-gray">未滿15n歲僅提供200萬失能保險金方案</small>
                                </p>
                                <p>
                                    特定意外身故失能保險金 <span class="text-orange">300萬 ~ 1000萬</span><br/>
                                    <small class="text text-gray">僅限傳真要保方案</small>
                                </p>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header">
                                <h4 class="panel-title">旅遊不便綜合保險</h4>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <div>班機延誤/改搭費用（定額，擇一賠付）</div>
                                    <div>延誤：<span class="text-orange">每3小時6,000元 最高18,000元</span></div>
                                    <div>改搭：<span class="text-orange">5,000元</span></div>
                                </p>
                                <p>
                                    <div>天然災害班機取消費用（定額） <span class="text-orange">1,000元</span></div>
                                    <div><small class="text text-gray">只要因颱風、地震等災害造成班機取消即可理賠，可與 [班機延誤] 或 [班機改搭] 合併賠付</small></div>
                                </p>
                                <p>
                                    <div>行李延誤/損失費用（定額，擇一賠付）</div>
                                    <div>延誤：<span class="text-orange">5,000元，返回出發地/居住地 2,500元</span></div>
                                    <div>損失：<span class="text-orange">5,000元 或實支實付20,000元</span></div>
                                </p>
                                <p>
                                    <div>行程縮短/延誤費用（定額，擇一賠付）</div>
                                    <div>縮短：<span class="text-orange">10,000元</span></div>
                                    <div>延誤：<span class="text-orange">定額5,000元 或實支實付20,000元</span></div>
                                </p>
                                <p>
                                    <div>旅程取消費用</div>
                                    <div>其他費用（限額）<span class="text-orange">10,000元</span></div>
                                    <div>機票費用（定額）<span class="text-orange">5,000元</span></div>
                                    <div>訂房費用（定額）<span class="text-orange">5,000元</span></div>
                                </p>
                                <p>
                                    <div>改降非原定機場補償 <span class="text-orange">5,000元</span></div>
                                </p>
                                <p>
                                    <div>劫機費用（定額）<span class="text-orange">6,000元</span></div>
                                </p>
                                <p>
                                    <div>食品中毒費用（定額）<span class="text-orange">6,000元</span></div>
                                </p>
                                <p>
                                    <div>現金竊盜損失費用（定額）<span class="text-orange">5,000元</span></div>
                                </p>
                                <p>
                                    <div>信用卡盜用損失費用（限額）<span class="text-orange">100,000元</span></div>
                                </p>
                                <p>
                                    <div>居家竊盜損失費用（定額）<span class="text-orange">10,000元</span></div>
                                </p>
                                <p>
                                    <div>每一意外事故體傷/財損/保期內最高賠償(限額） <span class="text-orange">90萬/10萬/100萬</span></div>
                                    <div><small class="text text-gray">每一事故自負額2,500元</small></div>
                                </p>
                                <p>
                                    <div>未成年子女送回費用、醫療轉送費用、親友前往探視或處理之費用、遺體運送費用、搜索救助費用（限額）<span class="text-orange">150萬</span></div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="row my-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <a class="btn btn-primary d-block d-md-inline-block">
                        試算投保
                    </a>
                </div>
            </div>
        </div>
    </section>
    
</main>

<!-- /build:content -->