<!-- build:body -->insurance car-insurance<!-- /build:body -->
<!-- build:content -->
<div class="subnav">
    <div class="container">
        <nav class="navbar-left">
            <a href="./travel-insurance.html" role="button" class="nav-item">回旅遊＋不便險</a>
            <a href="./travel-insurance-2-3-1.html"  role="button" class="nav-item active">快速理賠說明</a>
            <a href="./travel-insurance-2-3-2.html"  role="button" class="nav-item">急難救助介紹</a>
        </nav>
        <div class="navbar-right">
            <a href="#" class="btn btn-red">線上投保享優惠</a>
        </div>
    </div>
</div>
<main class="pb-0">
    <div class="container breadcrumb-container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li><a href="./index.html">首頁</a></li>
                    <li><a href="./travel-insurance.html">旅遊＋不便險</a></li>
                    <li class="active"><a href="#">快速理賠</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner insurance travel-insurance">
        <div class="container">
            <div class="pop-menu d-block d-lg-none">
                <select class="select2">
                    <option value="./travel-insurance.html">回旅遊＋不便險</a></option>
                    <option value="./travel-insurance-2-3-1.html" selected>快速理賠說明</a></option>
                    <option value="./travel-insurance-2-3-2.html">急難救助介紹</a></option>
                </select>
            </div>
            <ul class="tab is-pill d-none d-lg-inline-block">
                <li><a href="./travel-insurance.html">回旅遊＋不便險</a></li>
                <li class="active"><a href="./travel-insurance-2-3-1.html">快速理賠說明</a></li>
                <li><a href="./travel-insurance-2-3-2.html">急難救助介紹</a></li>
            </ul>
            <div class="caption">
                <h1>
                    班機延誤3小時以上，享有快速自動理賠
                </h1>
                <div class="description">
                    當班機符合延誤理賠標準 (班機取消不適用)，國泰將主動以簡訊通知，只要回傳登機證即可辦理，並快速獲得理賠金，不須填寫繁雜的申請文件，讓我出遊省心又放心。
                </div>
                <div class="action mt-2">
                    <a href="#" class="btn btn-primary btn-flat">試算投保</a>
                    <!-- <a href="#" class="btn btn-primary btn-flat">看活動說明</a> -->
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0310/download-app.png" height="324px" srcset="../img/insurance/PFA2_0310/download-app@2x.png" />
    </div>
    <section class="section is-relax my-4">
        <div class="container">
            <!-- <h1 class="section-title">不能不知的三大重點</h1> -->
            <div class="row">
                <div class="col-12">
                    <img src="../img/index/u-need-bg.png" srcset="../img/index/u-need-bg@2x.png" height="456" class="carousel-bg">
                    <div class="cards three-card travel-card">
                        <div class="card paded">
                            <div class="content">
                                <!-- <h1 class="text-green no">01</h1> -->
                                <h2 class="title">一般快速理賠</h2>
                                <div class="description">
                                    台灣起降至航班皆可
                                    <div class="item px-0 mt-3">
                                        <b>投保 |</b> <span>輸入航班、銀行帳戶、手機號碼</span>
                                    </div>
                                    <div class="item px-0">
                                        <b>理賠 |</b> <span>國泰主動簡訊通知後，拍照回傳登記證 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <!-- <h1 class="text-green no">02</h1> -->
                                <div class="ribbon">免回傳登記證</div>
                                <h2 class="title">華航快速理賠</h2>
                                <div class="description">
                                    限定搭乘華航/華信航空
                                    <div class="item px-0 mt-3">
                                        <b>投保 |</b><span>航班、銀行帳戶、手機號碼、護照號碼</span>
                                    </div>
                                    <div class="item px-0">
                                        <b>理賠 |</b><span>國泰當日自動匯至帳戶 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card paded">
                            <div class="content">
                                <!-- <h1 class="text-green no">03</h1> -->
                                <div class="ribbon">免回傳登記證</div>
                                <h2 class="title">長榮快速理賠</h2>
                                <div class="description">
                                    <p>限定搭乘長榮/立榮航空</p>
                                    <div class="item px-0 mt-3">
                                        <b>投保 |</b><span>航班、銀行帳戶、手機號碼、護照號碼</span>
                                    </div>
                                    <div class="item px-0">
                                        <b>理賠 |</b><span>國泰當日自動匯至帳戶 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="extra">
                                長榮會員，享保費30元送1哩
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><small class="text-deep-gray">註：若輸入資訊不完整，將無法享有以上服務及哩程回饋，但仍可享有一般快速理賠服務(須回傳登機證)。</small></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-relax">
        <div class="container">
            <h1 class="section-title">班機延誤 3 小時以上，即享快速理賠服務</h1>
            <div class="progress">
                <div class="progress-item">
                    <div class="image"><img src="../img/claim/process-start.png" srcset="../img/claim/process-start@2x.png"></div>
                    <div class="content">
                        <h4><span class="number">1</span> 理賠申請</h4>
                        <p class="text-gray">
                            投保填寫相關資料包括：去回日期、航班、銀行帳號、護照號碼。
                        </p>
                    </div>
                </div>
                <div class="progress-item">
                    <div class="image"><img src="../img/claim/process-check.png" srcset="../img/claim/process-check@2x.png"></div>
                    <div class="content">
                        <h4><span class="number">2</span> 資格審核</h4>
                        <p class="text-gray">
                            當班機發生延誤且符合理賠標準時，收到簡訊通知。
                        </p>
                    </div>
                </div>
                <div class="progress-item">
                    <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                    <div class="content">
                        <h4><span class="number">3</span> 填寫資訊</h4>
                        <p class="text-gray">
                            點選簡訊連結上傳登機證與銀行帳號，或下載「旅綜險班機延誤快速理賠表格」，並檢附登機證與銀行帳號回傳至02-26599579。
                        </p>
                        <p class="text-gray">加入LINE官方帳號，理賠進度隨時掌握。</p>
                        <a href="#" class="item text-green">
                            <i class="icon-arrow-right"></i>
                            <span>加入LINE好友</span>
                        </a>
                        <a href="#" class="item text-green">
                            <i class="icon-arrow-right"></i>
                            <span>理賠進度與紀錄查詢</span>
                        </a>
                    </div>
                </div>
                <div class="progress-item">
                    <div class="image"><img src="../img/claim/process-success.png" srcset="../img/claim/process-success@2x.png"></div>
                    <div class="content">
                        <h4><span class="number">4</span> 完成理賠</h4>
                        <p class="text-gray">
                            確認資訊無誤即撥款理賠金。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="bg-gray is-relax pb-xs-0">
        <img src="../img/insurance/PFA2_0310/banner-img.png" class="promotion-bg d-none d-md-block" height="311" srcset="../img/insurance/PFA2_0310/banner-img@2x.png" />
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <small class="subtitle">長榮哩程贈送說明</small>
                    <h1 class="title mt-0">
                        現在投保，就送哩程!
                    </h1>
                    <p class="text-orange">歡慶服務滿週年，投保每30元送1哩。</p>
                    <div class="text">
                        長榮會員於投保時填寫會員卡號，即享有當次總保費每30元贈送1哩優惠，並於保期結束後15日內，累計至被保險人本人之長榮航空會員帳戶中
                    </div>
                </div>
            </div>
        </div>
        <img src="../img/insurance/PFA2_0310/banner-img-sm.png" class="promotion-bg d-block d-md-none mt-5" height="200" srcset="../img/insurance/PFA2_0310/banner-img-sm@2x.png" />
    </section>
    <section class="pt-2 d-none d-md-block">
        <div class="container text-gray text-sm">
            <div>使用說明</div>
            <ol>
                <li>被保險人須加入長榮航空「無限萬哩遊」會員後始得累計哩程。投保時需正確填寫您的長榮航空無限萬哩遊卡號，如未填寫或填寫有誤將無法累計哩程，且恕不接受事後更正或補登。</li>
                <li>哩程將於保險期間結束後約15日內累計至您的長榮航空「無限萬哩遊」會員帳戶內，依本服務取得之哩程數，不可作為「無限萬哩遊」會員卡續卡或晉升卡別之依據。</li>
                <li>哩程贈送範圍限於搭乘長榮航空/立榮航空實際營運之國際航班 (共掛班號不適用)。</li>
                <li>被保險人不得要求將贈送哩程贈品折換現金或移轉予他人。</li>
                <li>「長榮航空無限萬哩遊」之哩程累計、兌換及使用期限等相關辦法依長榮航空公司規範為準，詳情請參閱<a href="http://originalwww.evaair.com/zh-tw/index.html" target="_blank">長榮航空官網</a>。</li>
            </ol>
        </div>
    </section>
    
    <section class="section">
        <div class="container">
            <h1 class="section-title">必看！常見無法理賠原因</h1>
            <div class="panel">
                <div class="panel-body px-md-5">
                    <div class="row">
                        <div class="col-md-6 column">
                            <h3>投保時沒有填寫正確資料？</h3>
                            <ol>
                                <li>
                                    填寫航班編號時，僅提供去程或回程各輸入一組航班編號，且為台灣起降之航班。例如 - 從台灣出發至西班牙，途中轉機一次時：
                                    <div class="item"><b>去程 |</b><span>CI61台灣-法國，UX1502法國-西班牙</span></div>
                                    <div class="item"><b>回程 |</b><span>CI9235西班牙-法國，CI62法國-台灣</span></div>
                                </li>
                                <li>班機出發與回程的日期時間須於保期內。</li>
                            </ol>
                        </div>
                        <div class="col-md-6 column">
                            <h3>什麼情況無法使用快速理賠服務?</h3>
                            <ol>
                                <li>該班班機取消者。</li>
                                <li>機位超賣或其他原因無法搭乘該預訂之班機者。</li>
                                <li>班機延誤但改搭非原訂班機者。</li>
                                <li>其他查無航班等狀況。</li>
                                <li>非本網站投保海外旅遊險之客戶。</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center d-none d-md-block">
                <small class="text-gray">符合班機延誤理賠標準 (班機取消不適用)，將以簡訊通知，並請依通知內容辦理。若未收到簡訊通知，但仍有理賠需求，請您另持相關證明文件向國泰產險提出書面理賠申請。</small>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 text-center">
                    <a class="btn btn-primary">
                        試算投保
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- /build:content -->