<!-- build:content -->
<main>
    <div class="bobe-section-kv">
        <div class="bg" style="background: url(../../img/SpecialActivity-01.png) center no-repeat; background-size: auto 100%;"></div>
        <div class="slogan">
            <div class="container">
                <h1>國泰特定活動險線上投保</h1>
                <h2>輕鬆保障<br />安心活動</h2>
            </div>
        </div>
    </div>

    <section class="bobe-section">
        <form autocomplete="off" role="ins_form" class="custom-form custom-form-white mb-0">
            <div class="container">
                <h2 class="bobe-section-title title-ins-calc">
                    <span>投保試算</span>
                </h2>
            </div>
            <div class="jumpbtoron">
                <div class="bobe-tab-container" role="bobe-tab-container">

                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-6">
                                <ul class="nav nav-tabs nav-tabs--bookmark" id="promotion01" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active show" id="promotion01-02-tab" data-toggle="tab"
                                            href="#promotion01-02" role="tab" aria-controls="promotion01-02"
                                            aria-selected="false" title="一般試算">一般試算</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div style="background-color:#f6f6f6;">
                        <div class="container pb-5">

                            <!-- .tab-content -->
                            <div class="tab-content pb-2" id="promotion01Content">

                                <div class="tab-pane px-0 pt-2 pb-0 fade  show active" id="promotion01-02"
                                    role="tabpanel">
                                    <div class="form-container mb-0">
                                        <div class="form-group mb-0">
                                            <div class="row align-items-start">
                                                <div class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-4">
                                                    <div class="form-row align-items-start">
                                                        <div class="col-12 col-lg-12 mt-2 mt-md-0"><label
                                                                class="custom-label mb-0">旅遊地點</label><a
                                                                class="d-inline custom-label-hint white-tooltip"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="因保險法規定，若被保險人受有監護宣告者，請臨櫃洽詢辦理。"><i
                                                                    class="fas fa-comment-alt-exclamation"></i></a>
                                                        </div>
                                                        <div class="col-12 col-lg-12 mt-0 mt-lg-1">
                                                            <select name="INS_REGION" id="INS_REGION"
                                                                data-form-name="f_destination"
                                                                data-placeholder="請選擇旅遊地點"
                                                                class="custom-select chosen-select" required>
                                                                <option value="">請選擇旅遊地點</option>
                                                                <option value="domestic">國內</option>
                                                                <option value="oversea">國外</option>
                                                                <option value="schengen">國外申根</option>
                                                            </select>
                                                            <div class="invalid-feedback"
                                                                role="invalid-feedback-destination">請選擇旅遊地點</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-4">
                                                    <div class="form-row align-items-start">
                                                        <div class="col-12 col-lg-12 mt-2 mt-md-0"><label
                                                                class="custom-label mb-0">保險期間</label></div>

                                                        <div class="col-12 col-lg-12 mt-0 mt-lg-1">
                                                            <input type="text" name="" id="" class="form-control" placeholder="請選擇保險期間">
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-4">
                                                    <div class="form-row align-items-start">
                                                        <div class="col-12 col-lg-12 mt-2 mt-md-0"><label
                                                                class="custom-label mb-0">身分證字號</label></div>
                                                        <div class="col-12 col-lg-12 mt-0 mt-lg-1">
                                                            <input type="text" name="" id="" class="form-control" placeholder="請輸入身分證字號">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-4">
                                                    <div class="form-row align-items-start">
                                                        <div class="col-12 col-lg-12 mt-2 mt-md-0"><label
                                                                class="custom-label mb-0">出生年月日</label></div>
                                                        <div class="col-12 col-lg-12 mt-0 mt-lg-1">
                                                            <input type="text" name="" id="" class="form-control" placeholder="請輸入西元年格式，例：19900101">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="form-row align-items-start">
                                                        <div class="col-12 col-lg-12 mt-2 mt-md-0"><label
                                                                class="custom-label mb-0">活動類型</label></div>
                                                        <div class="col-12 col-lg-12 mt-0 mt-lg-1">
                                                            <select name="" id="" class="custom-select chosen-select">
                                                                <option value="">請選擇活動類型</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-4">
                                                    <div class="form-row align-items-start">
                                                        <div class="col-12 col-lg-12 mt-2 mt-md-0"><label
                                                                class="custom-label mb-0">投保額度</label></div>
                                                        <div class="col-12 col-lg-12 mt-0 mt-lg-1">
                                                            <select name="InsuredAmt" id="InsuredAmt"
                                                                data-form-name="f_amt"
                                                                class="custom-select chosen-select" role="AMT"
                                                                data-placeholder="請選擇投保額度" required>
                                                                <option value="">請選擇投保額度</option>
                                                                <option value="100">100萬</option>
                                                                <option value="200">200萬</option>
                                                                <option value="300">300萬</option>
                                                                <option value="400">400萬</option>
                                                                <option value="500">500萬</option>
                                                            </select>
                                                            <div class="invalid-feedback">請選擇投保額度</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4 mb-1 mb-lg-4">
                                                    <div class="form-row align-items-start">
                                                        <div class="col-12 col-lg-12 mt-2 mt-md-0"><label
                                                                class="custom-label mb-0">選購組合</label></div>
                                                        <div class="col-12 col-lg-12 mt-0 mt-lg-1">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" name="selected-group" id="selected-group" class="custom-control-input">
                                                                <label class="custom-control-label" for="selected-group">旅遊不便險</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- .form-container end  -->
                                </div>
                                

                                <div class="form-unit mb-0">
                                    <div class="form-header">  
                                        <div class="row align-items-center">
                                            <div class="col-sm-auto mr-auto">
                                                <div class="header-title">個人資料保護法告知之義務內容</div>
                                            </div> 
                                        </div> 
                                    </div>
                                    <div class="form-body form-body-scroller">
                                        <div class="bobe-tab-container bobe-tab-container--no-fix bobe-tab-container--no-history" role="bobe-tab-container">
                                            <ul class="nav bobe-nav-tabs d-none" id="agreementTab" role="tablist">
                                              <li class="nav-item">
                                                <a class="nav-link" id="PersonalInfo-tab" data-toggle="tab" href="#PersonalInfo" role="tab" aria-controls="PersonalInfo" aria-selected="false" title="個人資料保護法">個人資料保護法</a>
                                              </li>
                                            </ul>
                                            <div class="tab-content" id="agreementTabContent">
                                              <div class="tab-pane active" id="PersonalInfo" role="tabpanel" aria-labelledby="PersonalInfo-tab">
                                                <div class="form-agreement-box">
                                                    <div class="form-agreement-box-content">
                                                        <div class="d-table">
                                                            <span class="d-table-cell">一、</span>
                                                            <span class="d-table-cell">親愛的客戶，您好： 國泰世紀產物保險股份有限公司（以下稱本公司）依據個人資料保護法（以下稱個資法）第八條及第九條規定，向 台端告知下列事項，請 台端詳閱：</span>
                                                        </div>
                                                        <div class="d-table mt-2">
                                                            <span class="d-table-cell">二、</span>
                                                            <span class="d-table-cell">蒐集之目的：辦理財產保險(093)、人身保險(001)、行銷(包含金控共同行銷業務)(040)及其他合於營業登記項目或組織章程所定之業務(181)。</span>
                                                        </div>
                                                        <div class="d-table mt-2">
                                                            <span class="d-table-cell">三、</span>
                                                            <span class="d-table-cell">蒐集之個人資料類別：姓名、身分證統一編號、聯絡方式、航班編號、護照號碼、航空公司會員卡號等，詳如要保書、理賠申請書或相關業務申請書內容。個人資料之來源（個人資料非由當事人提供間接蒐集之情形適用）：</span>
                                                        </div>
                                                        <div class="d-table mt-2">
                                                            <span class="d-table-cell">二、</span>
                                                            <span class="d-table-cell">蒐集之目的：辦理財產保險(093)、人身保險(001)、行銷(包含金控共同行銷業務)(040)及其他合於營業登記項目或組織章程所定之業務(181)。</span>
                                                        </div>
                                                        <div class="d-table mt-2">
                                                            <span class="d-table-cell">三、</span>
                                                            <span class="d-table-cell">蒐集之個人資料類別：姓名、身分證統一編號、聯絡方式、航班編號、護照號碼、航空公司會員卡號等，詳如要保書、理賠申請書或相關業務申請書內容。個人資料之來源（個人資料非由當事人提供間接蒐集之情形適用）：</span>
                                                        </div>
                                                        <div class="d-table mt-2">
                                                            <span class="d-table-cell">二、</span>
                                                            <span class="d-table-cell">蒐集之目的：辦理財產保險(093)、人身保險(001)、行銷(包含金控共同行銷業務)(040)及其他合於營業登記項目或組織章程所定之業務(181)。</span>
                                                        </div>
                                                        <div class="d-table mt-2">
                                                            <span class="d-table-cell">三、</span>
                                                            <span class="d-table-cell">蒐集之個人資料類別：姓名、身分證統一編號、聯絡方式、航班編號、護照號碼、航空公司會員卡號等，詳如要保書、理賠申請書或相關業務申請書內容。個人資料之來源（個人資料非由當事人提供間接蒐集之情形適用）：</span>
                                                        </div>
                                                        <div class="d-table mt-2">
                                                            <span class="d-table-cell">二、</span>
                                                            <span class="d-table-cell">蒐集之目的：辦理財產保險(093)、人身保險(001)、行銷(包含金控共同行銷業務)(040)及其他合於營業登記項目或組織章程所定之業務(181)。</span>
                                                        </div>
                                                        <div class="d-table mt-2">
                                                            <span class="d-table-cell">三、</span>
                                                            <span class="d-table-cell">蒐集之個人資料類別：姓名、身分證統一編號、聯絡方式、航班編號、護照號碼、航空公司會員卡號等，詳如要保書、理賠申請書或相關業務申請書內容。個人資料之來源（個人資料非由當事人提供間接蒐集之情形適用）：</span>
                                                        </div>
                                                    </div>
                                                </div>
    
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="custom-form mt-2">
                                    <div class="form-group mt-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="INS_AGREED" name="INS_AGREED" value="1" data-form-name="f_agreed" data-error-display-style="d-inline" data-error="invalid-feedback-agreed" required>
                                            <label class="custom-control-label" for="INS_AGREED">我已詳細閱讀並同意上述須知及審閱 及 <a href="#" class="text-green">國泰產險網站服務使用約定書</a> 及 <a href="#" class="text-green">網路投保聲明事項</a> 及 <a href="#" class="text-green">網路保險服務聲明事項</a>，並了解相關契約書需審閱期之規定 (5日以上)</label>
                                            <div>
                                                <div class="invalid-feedback" role="invalid-feedback-agreed">請同意個人資料保護法聲明</div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
    
                                <div class="bobe-btn-container">
                                    <a href="javascript:;"
                                        class="order-1 order-sm-1 order-md-2 btn bobe-btn-3d bobe-btn-3d-primary"
                                        role="form_submit">試算投保</a>
                                </div>

                                <div id="bobe-compare-result"><div class="bobe-compare">
                                    <!-- <div class="bobe-compare__toolbar"> 
                                        <a href="javascript:;" class="bobe-compare__toolbar-table" data-value="table"><i class="far fa-table"></i></a>
                                        <a href="javascript:;" class="bobe-compare__toolbar-card active" data-value="card"><i class="fas fa-list"></i></a> 
                                    </div>   -->
                                        
                                    <div class="bobe-compare__card clearfix"> 
                                        <div class="plan-item plan-item--highlight"  style="margin: auto; float: none;"> 
                                            <div class="product-spec product-spec--highlight">
                                                <div class="plan">
                                                    <div class="plan-name" id="lv3PlanNameMobile">特定活動方案</div>
                                                    <div class="plan-content">
                                                        <div class="plan-grid">
                                                            <div class="plan-icon lv1"></div>
                                                            <div class="plan-name" id="lv3PlanNamePC">特定活動方案</div>
                                                            <div class="plan-price"><span class="plan-unit">$</span><span id="lv3PricePC">1492</span></div>
                                                            <div class="plan-remark">預估保費</div>
                                                        </div>
                                                    </div>
                                                    <!-- .plan-content end -->
                                                    <div class="plan-action">
                                                        <div class="plan-price plan-price-mirror"><span class="plan-unit">$</span><span id="lv3PriceMobile">1492</span></div>
                                                        <div class="plan-remark plan-remark-mirror">預估保費</div>
                                                        <a href="javascript:;" id="lv3BtnInsure" data-amount-id="A01_200003" data-group-id="N1" class="btn bobe-btn-orange" onclick="doInsure(this);">立即投保</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <!-- .tab-content end -->

                        </div>
                        <!-- .container end -->
                    </div>


    
                </div>
            </div>
        </form>
    </section>


    <section class="bobe-section text-left">
        <div class="container">

            <div class="bobe-section-border">
                <div class="bobe-section-title-wrap bg-white">
                    <h3 class="bobe-section-title title-ins-intro">
                        <span>投保說明</span>
                    </h3>
                </div>
                
                <div class="bobe-section-content-wrap px-3 pt-5 pt-md-5 px-md-4 px-lg-5 py-lg-5">
                    <ul class="bobe-item-list item-icon-star mb-0 pl-2">
                        <li class="item mb-5">
                            <div class="mb-1 h5"><b>保障內容</b></div>
                            <div class="d-none d-md-block mb-0 w-100 pr-5 text-center">
                                <table class="bobe-table mb-0">
                                    <tr>
                                        <th class="th-white-border text-left"><b>傷害險保障項目</b></th>
                                        <th class="th-white-border text-right" colspan="3"><b>保險金額 (新台幣)</b></th>
                                    </tr>
                                    <tr>
                                        <td class="text-left">特定活動身故失能保險金</td>
                                        <td width="90">100 萬</td>
                                        <td width="90">200 萬</td>
                                        <td width="90">300 萬</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">特定活動傷害醫療實支實付型保險金</td>
                                        <td>10 萬</td>
                                        <td>20 萬</td>
                                        <td>30 萬</td>
                                    </tr>
                                </table>
                                <table class="bobe-table mb-0">
                                    <tr>
                                        <th class="th-white-border text-left" colspan="2"><b>旅遊不便險保障項目(可加選)</b></th>
                                        <th width="135px" class="th-white-border"><b>國內(F方案)</b></th>
                                        <th width="135px" class="th-white-border"><b>海外(H方案)</b></th>
                                    </tr>
                                    <tr>
                                        <td width="200px">海外急難救助</td>
                                        <td>未成年子女送回費用、親友前往探視或處理善後所需之費用、醫療轉送費用、遺體運送費用、搜索救助費用</td>
                                        <td class="text-right">－</td>
                                        <td class="text-right">限額 50 萬</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3">國內急難救助</td>
                                        <td>親友前往探視或處理善後所需之費用</td>
                                        <td class="text-right">限額 10 萬</td>
                                        <td class="text-right">－</td>
                                    </tr>
                                    <tr>
                                        <td>醫療轉送費用</td>
                                        <td class="text-right">限額 20 萬</td>
                                        <td class="text-right">－</td>
                                    </tr>
                                    <tr>
                                        <td>搜索救助費用</td>
                                        <td class="text-right">限額 30 萬</td>
                                        <td class="text-right">－</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3">第三人責任</td>
                                        <td>每一意外事故體傷最高賠償</td>
                                        <td class="text-right">10 萬</td>
                                        <td class="text-right">50 萬</td>
                                    </tr>
                                    <tr>
                                        <td>每一意外事故財損最高賠償</td>
                                        <td class="text-right">5 萬</td>
                                        <td class="text-right">10 萬</td>
                                    </tr>
                                    <tr>
                                        <td>保險期間內最高賠償限額(每一事故自負額2,500元)</td>
                                        <td class="text-right">15 萬</td>
                                        <td class="text-right">60 萬</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <li class="item mb-5">
                            <div class="mb-1 h5"><b>投保限制</b></div>
                            <ul class="bobe-item-list item-icon-dot pl-1 mb-0">
                                <li class="item">須為本人投保，年滿 20-79 歲。</li>
                                <li class="item">投保時必須身在台、澎、金、馬地區，才可以投保本保險，不接受外籍人士返回其所屬國家之投保。</li>
                            </ul>
                        </li>

                        <li class="item mb-5 mt-4 mt-md-4 mt-lg-4">
                            <div class="mb-1 h5"><b>投保天數</b></div>
                            <ul class="bobe-item-list item-icon-dot pl-1 mb-0">
                                <li class="item">最少須投保一天，國內最多60天、海外最多180天。</li>
                                <li class="item">建議所選擇之旅遊期間 (保險期間) 可包含自家中出發到回程返家為止，讓保障更周延。</li>
                            </ul>
                        </li>
                        
                        <li class="item mb-5 mt-4 mt-md-4 mt-lg-4">
                            <div class="mb-1 h5"><b>受益人說明</b></div>
                            <ul class="bobe-item-list item-icon-dot pl-1 mb-0">
                                <li class="item">限填寫一人，關係僅限配偶、父母、子女、祖父母或法定繼承人。</li>
                            </ul>
                        </li>
                        
                        <li class="item mb-5 mt-4 mt-md-4 mt-lg-4">
                            <div class="mb-1 h5"><b>保額說明</b><a href="javascript:;" class="d-inline bobe-tooltip" data-toggle="tooltip" data-placement="top" title="保額限制保額限制保額限制保額限制保額限制保額限制"><i class="fas fa-comment-alt-exclamation"></i></a></div>
                            <div class="d-none d-md-block mb-0 w-100 pr-5 text-center">
                                <table class="bobe-table mb-0">
                                   <tr>
                                       <th>身分/年齡</th>
                                       <th class="text-right">年滿 20 - 未滿 70 歲</th>
                                       <th class="text-right">年滿 70 歲 - 未滿 80 歲</th>
                                   </tr> 
                                    <tr>
                                        <td>非本公司有效保單客戶</td>
                                        <td class="text-right">100 萬</td>
                                        <td class="text-right">100 萬</td>
                                    </tr>

                                    <tr>
                                        <td>本公司有效保單客戶</td>
                                        <td class="text-right">300 萬</td>
                                        <td class="text-right">100 萬</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                        <li class="item mb-5 mt-4 mt-md-4 mt-lg-4">
                            <div class="mb-1 h5"><b>繳費方式</b><a href="javascript:;" class="d-inline bobe-tooltip" data-toggle="tooltip" data-placement="top" title="繳費方式繳費方式繳費方式繳費方式繳費方式"><i class="fas fa-comment-alt-exclamation"></i></a></div>
                            <ul class="bobe-item-list item-icon-dot pl-1">
                                <li class="item">信用卡繳費 (限本人卡片) <a >查詢可使用之信用卡</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section> 

    <section class="bobe-section">
        <div class="container">
            <h3 class="bobe-section-title title-campaign">
                <span class="sr-only">熱門活動</span>
            </h3>
            <div class="bobe-issue-group">
                <div class="row" role="bobe-topic-holder">
                </div>
            </div>
            <a class="bobe-hollow-btn" href="topics.html" title="更多熱門活動">更多熱門活動 &nbsp;<i
                    class="far fa-angle-right"></i></a>
        </div>
    </section>
</main>


<script type="text/template" id="template-banner-item">
    <div><a href="%BANNER_URL%" title="%BANNER_TITLE%"><img class="banner-slide" src="%BANNER_IMG%" alt="%BANNER_TITLE%"/></a></div>
</script>
<script type="text/template" id="template-banner-item-btn">
    <a href="javascript:;" class="cell" title="%BANNER_TITLE%">%BANNER_TITLE%</a>
</script>
<script type="text/template" id="template-topic-item">
    <div class="col-6 col-lg-3">
        <a class="issue-item read-more-link" href="%TOPIC_URL%" title="%TOPIC_TITLE%">
            <div class="thumb-outer">
                <div class="thumbnail" role="bg-img-display">
                    <img src="%TOPIC_IMG%" role='bg-img-source' alt="%TOPIC_TITLE%">
                </div>
            </div>
            <div class="issue-date">%TOPIC_DATE%</div>
            <div class="issue-title">
                <p>%TOPIC_TITLE%</p>
            </div>
            <span>了解更多 &nbsp;<i class="far fa-angle-right"></i></span>
        </a>
    </div>
</script>
<!-- /build:content -->