<!-- build:content -->
   <main>
      <div class="breadcrumb-container">
         <div class="container">
            <ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
               <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                  <a class="link-orange" itemprop="item" id="linkHomePage" title="首頁" href="/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
                     <span itemprop="name">首頁</span>
                  </a>
                  <meta itemprop="position" content="1">
               </li>
               <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                  <a class="link-orange" itemprop="item" id="linkInsurance" title="網路投保" href="#">
                     <span itemprop="name">網路投保</span>
                  </a>
                  <meta itemprop="position" content="2">
               </li>
               <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                  <a class="link-orange" itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
                     <span itemprop="name">投保特定活動險</span>
                  </a>
                  <meta itemprop="position" content="3">
               </li>
            </ol>
         </div>
      </div>
      <div class="bobeProgress">
         <div class="container">
            <ul class="progressStep">
               <li class="progressStep__item active">
                  <div class="progressStep__number">1</div>
                  <div class="progressStep__title">投保人資料</div>
               </li>
               <li class="progressStep__item">
                  <div class="progressStep__number">2</div>
                  <div class="progressStep__title">投保聲明告知</div>
               </li>
               <li class="progressStep__item">
                  <div class="progressStep__number">3</div>
                  <div class="progressStep__title">確認投保內容</div>
               </li>
               <li class="progressStep__item">
                  <div class="progressStep__number">4</div>
                  <div class="progressStep__title">線上付款</div>
               </li>
               <li class="progressStep__item">
                  <div class="progressStep__number ">5</div>
                  <div class="progressStep__title">投保完成</div>
               </li>
            </ul>
         </div>
      </div>
      <section class="bobe-section pt-0">
         <form autocomplete="off" role="ins_form">
            <div class="container">
               <div class="form-container custom-form" role="proposer">
                  <div class="form-unit">
                     <div class="form-header">
                        <div class="row align-items-center">
                           <div class="col-auto m-auto">
                              <div class="header-title">投保資料</div>
                           </div>
                        </div>
                     </div>
                     <div class="collapse show">
                        <div class="form-body">

                           <div class="form-group">
                              <div class="row align-items-start">
                                 <div class="col-md-3 label-filed">
                                    <label class="custom-label">姓名</label>
                                 </div>
                                 <div class="col-md-6 value-field">
                                    <div class="form-row align-items-start">
                                       <div class="col-12 col-md-6">
                                          <input type="text" class="form-control d-inline" name="INS_NAME" id="INS_NAME" placeholder="請輸入姓名" required>
                                          <div class="invalid-feedback">請輸入要保人姓名</div>
                                       </div>

                                       <div class="col-12 col-md-6">
                                          <a href="javascript:;" class="mt-1 d-inline-block btn bobe-btn-orange bobe-btn--free bobe-btn--narrow"><i class="fas fa-cloud-download-alt mr-1"></i><span>帶入我的國泰產險會員資料</span></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="form-group">
                              <div class="row align-items-start">
                                 <div class="col-md-3 label-filed">
                                    <label class="custom-label">手機號碼</label>
                                 </div>
                                 <div class="col-md-4 value-field">
                                    <input type="tel" class="form-control" name="INS_PHONE" id="INS_PHONE" data-form-name="f_ins_phone" placeholder="請輸入手機號碼" required>
                                    <div class="invalid-feedback">請輸入可接收簡訊OTP驗證之手機號碼</div>
                                 </div>
                                 <div class="col-md-8 value-field offset-md-3">
                                    <small>
                                       ( 請填寫可接收簡訊OTP驗證之手機號碼 ）
                                    </small>
                                 </div>
                              </div>
                           </div>
                           
                           <div class="form-group">
                              <div class="row align-items-start">
                                 <div class="col-md-3 label-filed">
                                    <label class="custom-label">Email</label>
                                 </div>
                                 <div class="col-md-7 value-field">
                                    <input type="email" class="form-control" name="INS_EMAIL" id="INS_EMAIL" data-form-name="f_ins_email" placeholder="請輸入Email" data-format="email" required>
                                    <div class="invalid-feedback">請輸入你的Email</div>
                                 </div>
                              </div>
                           </div>


                           
                           <div class="form-group" id="INS_ADDRESS_INFO">
                              <div class="row align-items-start">
                                 <div class="col-md-3 label-filed"><label class="custom-label">聯絡地址</label></div>
                                 <div class="col-md-8 value-field">
                                    <div class="form-row" role="twzipcode">
                                       <div class="col-md-3 label-filed mb-2">
                                          <div data-role="zipcode"
                                             data-name="INS_ZIPCODE"
                                             data-form-name="f_ins_zipcode" 
                                             data-value=""
                                             data-style="form-control readonly">
                                          </div>
                                       </div>
                                       <div class="col-6 col-md-4 mb-2">
                                          <div data-role="county"
                                             data-name="INS_COUNTY" 
                                             data-form-name="f_ins_county" 
                                             data-value=""
                                             data-style="chosen-select custom-select">
                                             <div class="invalid-feedback">請選擇縣市</div>
                                          </div>
                                       </div>
                                       <div class="col-6 col-md-4 mb-2">
                                          <div data-role="district"
                                             data-name="INS_DISTRICT"
                                             data-form-name="f_ins_district" 
                                             data-value=""
                                             data-style="chosen-select custom-select">
                                          </div>
                                          <div class="invalid-feedback">請選擇鄉鎮區</div>
                                       </div>
                                       <div class="col-12 col-md-11">
                                          <input type="text" class="form-control" id="INS_ADDRESS" name="INS_ADDRESS" placeholder="請輸入地址" required>
                                          <div class="invalid-feedback">請輸入地址</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="form-group">
                              <div class="row">
                                 <div class="col-md-3 label-filed"><label class="custom-label">國籍</label></div>

                                 <div class="col-md-9">
                                    <div class="form-row align-items-center">
                                       <div class="col-sm-auto mb-2 mb-sm-0">
                                          <div class="custom-control custom-radio custom-control-inline">
                                             <input type="radio" id="INS_NATIONALITY_TAIWAN" name="INS_NATIONALITY" class="custom-control-input" value="tw" role="set-nationality"  data-target="#INS_NATIONALITY_OTHER" checked>
                                             <label class="custom-control-label" for="INS_NATIONALITY_TAIWAN">台灣</label>
                                          </div>
                                       </div> 
                                       <div class="col-sm-auto mb-2 mb-sm-0">
                                          <div class="custom-control custom-radio custom-control-inline">
                                             <input type="radio" id="INS_NATIONALITY_not_taiwan" name="INS_NATIONALITY" class="custom-control-input" value="other" role="set-nationality" data-target="#INS_NATIONALITY_OTHER">
                                             <label class="custom-control-label" for="INS_NATIONALITY_not_taiwan">其他國家</label>
                                          </div>  
                                       </div>
                                       <div class="col-sm-4">
                                          <select class="chosen-select-search custom-select" id="INS_NATIONALITY_OTHER" name="INS_NATIONALITY_OTHER" role="COUNTRIES" data-placeholder="請選擇國籍" disabled></select>
                                          <div class="invalid-feedback">請選擇國籍</div>
                                       </div>
                                       <div class="col-sm-4 mt-1 mt-md-0">
                                          <a href="javascript:;" class="d-inline link-green" role="show-unsupported-nationality">(不提供加入的國籍)</a>
                                       </div>
                                    </div>
                                 </div> 
                              </div>
                           </div>
   
                           <!-- <div class="form-group">
                              <div class="row">
                                 <div class="col-md-3 label-filed"><label class="custom-label">性別</label></div>
                                 <div class="col-md-8 value-field">
                                    <div class="form-row">
                                       <div class="col-4 col-sm-auto">
                                          <div class="custom-control custom-radio custom-control-inline">
                                             <input type="radio" id="INS_GENDER_male" name="INS_GENDER" data-form-name="f_INS_GENDER" class="custom-control-input" role="set-gender" value="male" data-target="#INS_PREGENCY_status" checked>
                                             <label class="custom-control-label" for="INS_GENDER_male">男性</label>
                                          </div>
                                       </div>
                                       <div class="col-4 col-sm-auto">
                                          <div class="custom-control custom-radio custom-control-inline">
                                             <input type="radio" data-target="#INS_PREGENCY_status" id="INS_GENDER_female" name="INS_GENDER"  data-form-name="f_INS_GENDER" role="set-gender" value="female" class="custom-control-input">
                                             <label class="custom-control-label" for="INS_GENDER_female">女性</label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div> -->


                           <!-- <div class="form-group" id="INS_PREGENCY_status">
                              <div class="row">
                                 <div class="col-md-3 label-filed"><label class="custom-label">是否懷孕</label></div>
                                 
                                 <div class="col-md-9">
                                    <div class="form-row align-items-center">
                                       <div class="col-sm-auto mb-2 mb-sm-0">
                                          <div class="custom-control custom-radio custom-control-inline">
                                             <input type="radio" id="INS_PREGENCY_no" name="INS_PREGENCY" class="custom-control-input" role="set-pregnancy" data-target="#INS_PREGENCY_DUE_DATE" value="no" checked>
                                             <label class="custom-control-label" for="INS_PREGENCY_no">否</label>
                                          </div>
                                       </div>
                                       <div class="col-sm-auto mb-2 mb-sm-0">
                                          <div class="custom-control custom-radio">
                                             <input type="radio" id="INS_PREGENCY_yes" name="INS_PREGENCY" class="custom-control-input" value="yes" role="set-pregnancy" data-target="#INS_PREGENCY_DUE_DATE">
                                             <label class="custom-control-label" for="INS_PREGENCY_yes">是，預產期為：</label>
                                          </div>
                                       </div>
                                       <div class="col-sm-3">
                                          <input type="text" class="form-control input-datepicker" name="INS_PREGENCY_DUE_DATE" id="INS_PREGENCY_DUE_DATE" data-form-name="f_INS_PREGENCY_DUE_DATE" placeholder="預產期"  data-error-target='[role="INS_PREGENCY-error-msg"]' readonly disabled>
                                          <input type="hidden" name="INS_PREGENCY_WEEKS" id="INS_PREGENCY_WEEKS"  data-form-name="f_INS_PREGENCY_WEEKS">
                                          <div class="invalid-feedback">請選擇預產期</div>
                                       </div>
                                       <div class="col-auto">
                                          <div class="custom-input-error-msg d-none" role="INS_PREGENCY-error-msg"><span><i class="fal fa-exclamation-triangle"></i></span><span>由於被保人懷孕28周以上，無法投保！</span></div>
                                       </div>
                                    </div>
                                 </div>

                              </div>
                           </div> -->
 
                        </div>  
                     </div>
                  </div>
               <!-- .form-container custom-formend -->


               <!-- 被保人資料 -->
               <div role="insured-holder">

               </div> 
                  
               <!-- 被保人資料 end -->
               <!-- <a href="javascript:;" class="btn bobe-btn-orange bobe-btn-orange-reverse w-100 mb-4 mb-md-0" role="add-more-insured" data-id="1" data-val="200"><i class="far fa-plus"></i> <span>新增其他被保人</span></a> -->

               <div class="bobe-btn-container halfwidth-xs">
                  <a href="1.html" class="order-2 order-sm-2 order-md-1 btn bobe-btn-3d bobe-btn-3d-primary-reverse">返回</a>
                  <a href="javascript:;" role="form-submit" class="order-1 order-sm-1 order-md-2 btn bobe-btn-3d bobe-btn-3d-primary">下一步</a>
               </div>

               </div>  

                  <a href="javascript:;" class="btn btn-primary mb-1" role="form_set_member_info">測試：代入會員資料</a>
                  <a href="javascript:;" class="btn btn-primary mb-1" role="check-insured-amt" data-id="1" data-val="200" data-msg="由於被保人1未滿15歲，意外事故失能保險金投保額度上限為200萬">測試：被保人1未滿15歲，額度上限為200</a>


                  <a href="javascript:;" class="btn btn-primary mb-1" role="check-insured-amt" data-id="2" data-val="400" data-msg="由於被保人2已有其他商業保險，意外事故失能保險金投保額度上限為400萬">測試：被保人2，額度上限為400</a>

                  <a href="javascript:;" class="btn btn-primary mb-1" role="add-more-insured" data-id="1" data-val="200">測試：完成資料下一步</a>


            </div>
         </form>
      </section>
   </main>
   <script type="text/template" id="template-insured-item">
   
     
   <div class="form-container custom-form">
      <div class="form-unit" role="insured-item" data-index="%INSURED_ID%" id="insured-item-%INSURED_ID%">
         <div class="form-header">
            <div class="row align-items-center" data-toggle="collapse" data-target="#insured%INSURED_ID%" >
               <div class="col-12 d-flex justify-content-start justify-content-md-center">
                  <div class="header-title">被保人資料 %INSURED_ID%</div>
               </div>
               <div class="col-12 d-flex justify-content-end position-absolute">
                  <div class="custom-functional-links-group mr-2">
                     <a class="custom-toggle-form text-white" data-toggle="collapse" href="#insured%INSURED_ID%" role="button" aria-expanded="true" aria-controls="insured%INSURED_ID%"><i></i></a>
                     <a href="javascript:;" class="custom-delete-form text-white" role="delete-insured" data-id="%INSURED_ID%"><i class="far fa-trash-alt"></i></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="collapse show" id="insured%INSURED_ID%">
            <div class="form-body">
               <div class="form-group">
                  <div class="row">
                     <div class="col-md-9 offset-md-3">
                        <div class="custom-control custom-checkbox d-inline-block">
                           <input type="checkbox" class="custom-control-input" id="SameAs_INS%INSURED_ID%" role="same-as-ins-all" data-target="#insured-item-%INSURED_ID%">
                           <label class="custom-control-label" for="SameAs_INS%INSURED_ID%">被保人同要保人</label>
                        </div>

                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <div class="row align-items-start">
                     <div class="col-md-3 label-filed"><label class="custom-label">投保額度</label></div>
                     <div class="col-sm-12 col-md-9">
                        <div class="form-row">
                           <div class="col-sm-4">
                           <select name="InsuredAmt%INSURED_ID%" id="InsuredAmt%INSURED_ID%" data-form-name="InsuredAmt%INSURED_ID%" data-placeholder="請選擇投保額度" class="custom-select" role="AMT"></select>
                           <div class="invalid-feedback">請選擇投保額度</div>
                        </div>
                        <div class="w-100 mb-2 d-sm-none"></div>
                        <div class="col-sm-8">
                           <div class="custom-input-error-msg d-none" role="error-msg">
                              <span><i class="fal fa-exclamation-triangle"></i></span>
                              <span>由於被保人未滿15歲，意外事故失能保險金。投保額度上限為200萬</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="form-group">
                   <div class="row">
                       <div class="col-md-3 label-filed"><label class="custom-label">投保額度(異業)</label></div>
                       <div class="col-md-9">
                           <span class="text-green text-bold">500萬</span>
                           <input type="hidden" name="InsuredAmt%INSURED_ID%_異業" id="InsuredAmt%INSURED_ID%_異業"  data-form-name="f_InsuredAmt%INSURED_ID%_異業" value="500">
                       </div>
                   </div>
               </div>

               <div class="form-group" role="major-info">
                  <div class="row align-items-start">
                     <div class="col-md-3 label-filed"><label class="custom-label">被保人姓名</label></div>
                     <div class="col-md-6 value-field">
                        <div class="form-row align-items-start">
                           <div class="col-12 col-md-6">
                              <input type="text" class="form-control d-inline" name="InsuredName%INSURED_ID%" id="InsuredName%INSURED_ID%" placeholder="請輸入姓名" required>

                              <input type="checkbox" class="custom-control-input" id="SameAs_INS%INSURED_ID%" role="same-as-ins-all" data-target="#insured-item-%INSURED_ID%">

<!--                              <div class="custom-control custom-checkbox mt-2">
                                 <input type="checkbox" class="custom-control-input" id="AddToList%INSURED_ID%" name="AddToList%INSURED_ID%" data-form-name="f_AddToList%INSURED_ID%" value="yes">
                                 <label class="custom-control-label" for="AddToList%INSURED_ID%">加入常用名單</label>
                              </div> 
-->

                              <div class="invalid-feedback">請輸入被保人姓名</div>
                           </div>

                           <div class="col-12 col-md-6">
                              <a href="javascript:;" class="mt-1 d-inline-block btn bobe-btn-orange bobe-btn--free bobe-btn--narrow" role="add-usual-data"><span><i class="fas fa-cloud-download-alt mr-1"></i>帶入常用名單</span></a>
                           </div>
                           
                        </div>
                     </div>
                  </div>
               </div>

               <div class="form-group" role="major-info">
                  <div class="row align-items-start">
                     <div class="col-md-3 label-filed"><label class="custom-label">出生年月日</label></div>
                     <div class="col-md-8 value-field">
                        <div class="form-row" role="BDAY">
                           <div class="col-4 col-lg-3" data-role="year" data-value="1985" data-style="custom-select" data-required="yes" data-name="InsuredBday_Y%INSURED_ID%" data-value=""></div>
                           <div class="col-4 col-lg-3" data-role="month" data-style="custom-select" data-required="yes" data-name="InsuredBday_M%INSURED_ID%" data-value=""></div>
                           <div class="col-4 col-lg-3" data-role="day" data-style="custom-select" data-required="yes" data-name="InsuredBday_D%INSURED_ID%" data-value=""></div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="form-group" role="major-info">
                  <div class="row align-items-start">
                     <div class="col-md-3 label-filed"><label class="custom-label">身分證字號/居留證號碼</label></div>
                     <div class="col-md-6 value-field">
                        <input type="text" class="form-control d-inline" name="InsuredID%INSURED_ID%" id="InsuredID%INSURED_ID%" data-target="[name='InsuredGender%INSURED_ID%']" role="check-gender" placeholder="請輸入身分證字號/居留證號碼" required>
                        <div class="invalid-feedback">請輸入身分證字號/居留證號碼</div>
                     </div> 
                  </div>
               </div>

               <div class="form-group">
                  <div class="row">
                     <div class="col-md-3 label-filed"><label class="custom-label">性別</label></div>
                     <div class="col-md-8 value-field">
                        <div class="form-row">
                           <div class="col-4 col-sm-auto">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" id="InsuredGender_male%INSURED_ID%" name="InsuredGender%INSURED_ID%" data-form-name="f_InsuredGender%INSURED_ID%" class="custom-control-input" role="set-gender" value="male" data-target="#InsuredPregnancy_status%INSURED_ID%" checked>
                                 <label class="custom-control-label" for="InsuredGender_male%INSURED_ID%">男性</label>
                              </div>
                           </div>
                           <div class="col-4 col-sm-auto">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" data-target="#InsuredPregnancy_status%INSURED_ID%" id="InsuredGender_female%INSURED_ID%" name="InsuredGender%INSURED_ID%"  data-form-name="f_InsuredGender%INSURED_ID%" role="set-gender" value="female" class="custom-control-input">
                                 <label class="custom-control-label" for="InsuredGender_female%INSURED_ID%">女性</label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="form-group d-none" id="InsuredPregnancy_status%INSURED_ID%">
                  <div class="row">
                     <div class="col-md-3 label-filed"><label class="custom-label">是否懷孕</label></div>
                     <div class="col-md-9">
                        <div class="form-row align-items-center">
                           <div class="col-sm-auto mb-2 mb-sm-0">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" id="InsuredPregnancy_no%INSURED_ID%" name="InsuredPregnancy%INSURED_ID%" class="custom-control-input" role="set-pregnancy" data-target="#InsuredPregnancyDueDate%INSURED_ID%" value="no" checked>
                                 <label class="custom-control-label" for="InsuredPregnancy_no%INSURED_ID%">否</label>
                              </div>
                           </div>
                           <div class="col-sm-auto mb-2 mb-sm-0">
                              <div class="custom-control custom-radio">
                                 <input type="radio" id="InsuredPregnancy_yes%INSURED_ID%" name="InsuredPregnancy%INSURED_ID%" class="custom-control-input" value="yes" role="set-pregnancy" data-target="#InsuredPregnancyDueDate%INSURED_ID%">
                                 <label class="custom-control-label" for="InsuredPregnancy_yes%INSURED_ID%">是，預產期為：</label>
                              </div>
                           </div>
                           <div class="col-md-8 value-field">
                              <div class="form-row" role="BDAY">
                                 <div class="col-4 col-lg-3" data-role="year" data-value="1985" data-style="custom-select" data-required="yes" data-name="InsuredBday_Y%INSURED_ID%" data-value=""></div>
                                 <div class="col-4 col-lg-3" data-role="month" data-style="custom-select" data-required="yes" data-name="InsuredBday_M%INSURED_ID%" data-value=""></div>
                                 <div class="col-4 col-lg-3" data-role="day" data-style="custom-select" data-required="yes" data-name="InsuredBday_D%INSURED_ID%" data-value=""></div>
                              </div>
                           </div>
                           <div class="col-auto">
                              <div class="custom-input-error-msg d-none" role="InsuredPregnancy%INSURED_ID%-error-msg"><span><i class="fal fa-exclamation-triangle"></i></span><span>由於被保人懷孕28周以上，無法投保！</span></div>
                           </div>
                        </div>
                     </div>

                     
                  </div>
               </div>


               <div class="form-group" role="major-info">
                  <div class="row align-items-start">
                     <div class="col-md-3 label-filed"><label class="custom-label">國籍</label></div>
                     
                     <div class="col-md-9">
                        <div class="form-row align-items-center">
                           <div class="col-sm-auto mb-2 mb-sm-0">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" id="InsuredNationality_taiwan%INSURED_ID%" name="InsuredNationality%INSURED_ID%" class="custom-control-input" role="set-nationality" data-target="#INS_NATIONALITY_OTHER_%INSURED_ID%" value="tw" checked>
                                 <label class="custom-control-label" for="InsuredNationality_taiwan%INSURED_ID%">台灣</label>
                              </div>
                           </div>
                           <div class="col-sm-auto mb-2 mb-sm-0">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" id="InsuredNationality_others%INSURED_ID%" name="InsuredNationality%INSURED_ID%" class="custom-control-input" value="other" role="set-nationality" data-target="#INS_NATIONALITY_OTHER_%INSURED_ID%">
                                 <label class="custom-control-label" for="InsuredNationality_others%INSURED_ID%">其他國家</label>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <select class="chosen-select-search custom-select" id="INS_NATIONALITY_OTHER_%INSURED_ID%" name="INS_NATIONALITY_OTHER_%INSURED_ID%" role="COUNTRIES" data-placeholder="請選擇國籍" disabled></select>
                              <div class="invalid-feedback">請選擇國籍</div>
                           </div>
                                          <div class="col-sm-4 mt-12 mt-md-0">
                                             <a href="javascript:;" class="d-inline link-green" role="show-unsupported-nationality">(不提供加入的國籍)</a>
                                          </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-group" role="major-info">
                  <div class="row">
                     <div class="col-md-3 label-filed"><label class="custom-label">與要保人關係</label></div>
                     <div class="col-md-9">
                        <div class="form-row">
                           <div class="col-sm-auto mb-2 mb-sm-0">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" id="InsuredRelated_self%INSURED_ID%" name="InsuredRelated%INSURED_ID%" class="custom-control-input" value="self" checked>
                                 <label class="custom-control-label" for="InsuredRelated_self%INSURED_ID%">本人</label>
                              </div>
                           </div>
                           <div class="col-sm-auto mb-2 mb-sm-0">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" id="InsuredRelated_others%INSURED_ID%" value="immediate-family" name="InsuredRelated%INSURED_ID%" class="custom-control-input">
                                 <label class="custom-control-label" for="InsuredRelated_others%INSURED_ID%">直系親屬 (未成年子女限為7歲以下投保)</label>
                              </div>
                           </div>
                           <div class="col-sm-auto">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" id="InsuredRelated_spouse%INSURED_ID%" value="spouse" name="InsuredRelated%INSURED_ID%" class="custom-control-input">
                                 <label class="custom-control-label" for="InsuredRelated_spouse%INSURED_ID%">配偶</label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-group" role="major-info">
                  <div class="row align-items-start">
                     <div class="col-md-3 label-filed"><label class="custom-label">英文投保證明資料</label></div>
                     <div class="col-md-9 col-lg-9">
                        <div class="form-row">
                           <div class="col-12 col-md-4 mb-2 mb-sm-0">
                              <input type="text" class="form-control" name="InsuredPassportName%INSURED_ID%" id="InsuredPassportName%INSURED_ID%" placeholder="請輸入護照英文姓名" required>
                              <div class="invalid-feedback">請輸入護照英文姓名</div>
                           </div>
                           <div class="col-12 col-md-4">
                              <input type="text" class="form-control" name="InsuredPassportNumber%INSURED_ID%" id="InsuredPassportNumber%INSURED_ID%" placeholder="請輸入護照號碼" required>
                              <div class="invalid-feedback">請輸入護照號碼</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-group" role="major-info">
                  <div class="row align-items-start">
                     <div class="col-md-3 label-filed">
                        <label class="custom-label">聯絡電話​​​​​​​</label>
                        <div class="custom-control custom-checkbox d-inline-block ml-2 ml-md-0">
                           <input type="checkbox" class="custom-control-input" name="SameAs_INS_PHONE%INSURED_ID%" id="SameAs_INS_PHONE%INSURED_ID%" role="same-as-ins-phone" data-target="#InsuredPhone%INSURED_ID%">
                           <label class="custom-control-label" for="SameAs_INS_PHONE%INSURED_ID%">同要保人</label>
                        </div>
                     </div>
                     <div class="col-md-4 value-field">
                        <input type="tel" class="form-control d-inline" name="InsuredPhone%INSURED_ID%" id="InsuredPhone%INSURED_ID%" placeholder="請輸入聯絡電話​​​​​​​" required>
                        <div class="invalid-feedback">請輸入聯絡電話​​​​​​​</div>
                     </div>
                  </div>
               </div>
               <div class="form-group" role="major-info">
                  <div class="row align-items-start">
                     <div class="col-md-3 label-filed"><label class="custom-label">Email</label></div>
                     <div class="col-md-7 value-field">
                        <input type="email" class="form-control" name="InsuredEmail%INSURED_ID%" id="InsuredEmail%INSURED_ID%" placeholder="請輸入Email" data-format="email" required>
                        <div class="invalid-feedback">請輸入Email</div>
                     </div>
                  </div>
               </div>
               <div class="form-group" id="InsuredAddrInfo%INSURED_ID%" role="major-info">
                  <div class="row align-items-start">
                     <div class="col-md-3 label-filed">
                        <label class="custom-label">聯絡地址</label>
                        <div class="custom-control custom-checkbox d-inline-block ml-2 ml-md-0">
                           <input type="checkbox" class="custom-control-input" name="SameAs_INS_ADDRESS%INSURED_ID%" id="SameAs_INS_ADDRESS%INSURED_ID%" role="same-as-ins-address" data-target="#InsuredAddrInfo%INSURED_ID%">
                           <label class="custom-control-label" for="SameAs_INS_ADDRESS%INSURED_ID%">同要保人</label>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="form-row" role="twzipcode">
                           <div class="col-md-3 label-filed mb-2">
                              <div data-role="zipcode"
                                 data-name="InsuredZipcode%INSURED_ID%"
                                 data-value=""
                                 data-style="form-control readonly">
                              </div>
                           </div>
                           <div class="col-6 col-md-4 mb-2">
                              <div data-role="county"
                                 data-name="InsuredCounty%INSURED_ID%"
                                 data-value=""
                                 data-style="chosen-select-search custom-select">
                              </div>
                              <div class="invalid-feedback">請選擇縣市</div>
                           </div>
                           <div class="col-6 col-md-4 mb-2">
                              <div data-role="district"
                                 data-name="InsuredDistrict%INSURED_ID%"
                                 data-value=""
                                 data-style="chosen-select-search custom-select">
                              </div>
                              <div class="invalid-feedback">請選擇鄉鎮區</div>
                           </div>
                           <div class="col-12 col-md-11">
                              <input type="text" class="form-control" id="InsuredAddress%INSURED_ID%" name="InsuredAddress%INSURED_ID%" role="address" placeholder="請輸入地址" required>
                              <div class="invalid-feedback">請輸入地址</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-group" role="major-info">
                  <div class="row align-items-start">
                     <div class="col-md-3 label-filed"><label class="custom-label">要保人職業類別</label></div>
                     <div class="col-sm-8">
                        <div class="form-row">
                           <div class="col-12 col-lg-6">
                              <select class="custom-select" id="InsuredJobType%INSURED_ID%" name="InsuredJobType%INSURED_ID%" data-form-name="InsuredJobType%INSURED_ID%" data-placeholder="請選擇職業類別">
                                 <option value="">請選擇職業類別</option><option value="J040">當鋪業、融資從業人員</option><option value="J030">不動產經紀人</option><option value="J060">藝術品/骨董交易商、拍賣公司</option><option value="J050">寶石及貴金屬交易商</option><option value="J110">虛擬貨幣的發行者或交易商</option><option value="J100">外交人員、大使館、辦事處</option><option value="J020">軍火商</option><option value="J010">律師、會計師、公證人，或是其合夥人或受僱人</option><option value="J800" selected>一般職業 (含學生、家庭主婦)</option><option value="J080">博弈產業/公司</option><option value="J070">基金會、協會/寺廟、教會從業人員</option><option value="J090">匯款公司、外幣兌換所</option>
                              </select>
                           </div>
                           <div class="col-12 col-lg-6 mt-2 mt-lg-0">
                              <select class="custom-select" id="InsuredJobTitle%INSURED_ID%" name="InsuredJobTitle%INSURED_ID%" data-form-name="InsuredJobTitle%INSURED_ID%" data-placeholder="請選擇職稱">
                                 <option value="">請選擇職稱</option><option value="T060">董事、監察人</option><option value="T050">企業負責人</option><option value="T080">總經理/執行長 (含外國企業在本地所設分公司之 General Manager)</option><option value="T070">財務主管 (含外國企業在本地所設分公司之財務主管)</option><option value="T090">有權代表公司簽章人員</option><option value="T110">校長</option><option value="T100">院長</option><option value="T020">單位主管 (不含財務單位)</option><option value="T010" selected>一般職員 (含學生、家庭主婦)</option><option value="T040">副總經理</option><option value="T030">協理</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="row">
                     <div class="col-md-3 label-filed"><label class="custom-label">受益人關係</label></div>
                     <div class="col-sm-6 col-md-4">
                        <select class="custom-select" id="InsuredBeneficiary%INSURED_ID%" name="InsuredBeneficiary%INSURED_ID%" data-target="#InsuredBeneficiary_status%INSURED_ID%" role="set-beneficiary"><option selected="" value="Def">請選擇關係</option><option value="A">配偶</option><option value="B">父母</option><option value="C">子女</option><option value="D">祖父母</option><option value="L" selected>法定繼承人</option>
                        </select>
                           <div class="invalid-feedback">請選擇受益人關係</div>
                     </div>
                  </div>
               </div>

               <div id="InsuredBeneficiary_status%INSURED_ID%">
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-3 label-filed"><label class="custom-label">受益人姓名</label></div>
                        <div class="col-md-4 value-field">
                           <input type="text" id="InsuredBeneficiaryName%INSURED_ID%" name="InsuredBeneficiaryName%INSURED_ID%"  data-form-name="InsuredBeneficiaryName%INSURED_ID%" class="form-control" placeholder="受益人姓名" required>
                              <div class="invalid-feedback">請輸入受益人姓名</div>
                        </div>
                     </div>
                  </div>


                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-3 label-filed">
                           <label class="custom-label">受益人聯絡電話​​​​​​​</label>
                           <div class="custom-control custom-checkbox d-inline-block ml-2 ml-md-0">
                              <input type="checkbox" class="custom-control-input" name="Beneficiary_SameAs_INS_PHONE%INSURED_ID%" id="Beneficiary_SameAs_INS_PHONE%INSURED_ID%" role="same-as-ins-phone" data-target="#BeneficiaryPhone%INSURED_ID%">
                              <label class="custom-control-label" for="Beneficiary_SameAs_INS_PHONE%INSURED_ID%">同要保人</label>
                           </div>
                        </div>

                        <div class="col-md-4 value-field">
                           <input type="text" class="form-control" id="BeneficiaryPhone%INSURED_ID%"  name="BeneficiaryPhone%INSURED_ID%" data-form-name="BeneficiaryPhone%INSURED_ID%" placeholder="受益人聯絡電話​​​​​​​" required>
                              <div class="invalid-feedback">請輸入受益人聯絡電話​​​​​​​</div>
                        </div>
                     </div>
                  </div>

                  <div class="form-group" id="InsuredBeneficiaryAddrInfo%INSURED_ID%">
                     <div class="row align-items-start">
                        <div class="col-md-3 label-filed">
                           <label class="custom-label">受益人聯絡地址</label>
                           <div class="custom-control custom-checkbox d-inline-block ml-2 ml-md-0">
                              <input type="checkbox" class="custom-control-input" name="InsuredBeneficiary_SameAs_INS_ADDRESS%INSURED_ID%" id="InsuredBeneficiary_SameAs_INS_ADDRESS%INSURED_ID%" role="same-as-ins-address" data-target="#InsuredBeneficiaryAddrInfo%INSURED_ID%">
                              <label class="custom-control-label" for="InsuredBeneficiary_SameAs_INS_ADDRESS%INSURED_ID%">同要保人</label>
                           </div>
                        </div>
                        <div class="col-sm-8">
                           <div class="form-row" role="twzipcode">
                              <div class="col-md-3 label-filed mb-2">
                                 <div data-role="zipcode"
                                    data-name="InsuredBeneficiaryZipcode%INSURED_ID%"
                                    data-value=""
                                    data-style="form-control readonly">
                                 </div>
                              </div>
                              <div class="col-6 col-md-4 mb-2">
                                 <div data-role="county"
                                    data-name="InsuredBeneficiaryCounty%INSURED_ID%"
                                    data-value=""
                                    data-style="custom-select">
                                 </div>
                                 <div class="invalid-feedback">請選擇縣市</div>
                              </div>
                              <div class="col-6 col-md-4 mb-2">
                                 <div data-role="district"
                                    data-name="InsuredBeneficiaryDistrict%INSURED_ID%"
                                    data-value=""
                                    data-style="custom-select">
                                 </div>
                                 <div class="invalid-feedback">請選擇鄉鎮區</div>
                              </div>
                              <div class="col-12 col-md-11">
                                 <input type="text" class="form-control" id="InsuredBeneficiaryAddress%INSURED_ID%" name="InsuredBeneficiaryAddress%INSURED_ID%" role="address" placeholder="請輸入地址" required>
                                 <div class="invalid-feedback">請輸入地址</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </script>

<!-- /build:content-->