<!-- build:content -->
  <main>
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkHomePage" title="首頁" href="/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
              <span itemprop="name">首頁</span>
            </a>
            <meta itemprop="position" content="1">
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkInsurance" title="網路投保" href="#">
              <span itemprop="name">網路投保</span>
            </a>
            <meta itemprop="position" content="2">
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
              <span itemprop="name">投保特定活動險</span>
            </a>
            <meta itemprop="position" content="3">
          </li>
        </ol>
      </div>
    </div>
    <div class="bobeProgress">
      <div class="container">
          <ul class="progressStep">
            <li class="progressStep__item active">
                <div class="progressStep__number">1</div>
                <div class="progressStep__title">投保人資料</div>
            </li>
            <li class="progressStep__item">
                <div class="progressStep__number">2</div>
                <div class="progressStep__title">投保聲明告知</div>
            </li>
            <li class="progressStep__item">
                <div class="progressStep__number">3</div>
                <div class="progressStep__title">確認投保內容</div>
            </li>
            <li class="progressStep__item">
               <div class="progressStep__number">4</div>
               <div class="progressStep__title">線上付款</div>
            </li>
            <li class="progressStep__item">
               <div class="progressStep__number ">5</div>
               <div class="progressStep__title">投保完成</div>
            </li>
          </ul>
      </div>
    </div>

    <section class="bobe-section pt-0">
      <form autocomplete="off" role="ins-form">
        <div class="container">
          <div class="form-container custom-form">
            <div class="form-unit">
              <div class="form-header">
                <div class="row align-items-center">
                  <div class="col-auto mr-auto">
                    <div class="header-title">會員註冊</div>
                  </div>
                </div>
              </div>
              <div class="form-body" role="section-holder">
                <p>請設定國泰產險網路會員密碼，後續可直接登入國泰產險 bobe 查詢保單喔！</p>

                <div class="form-group">
                    <div class="row align-items-start">
                       <div class="col-md-3 label-filed">
                          <label class="custom-label">請輸入密碼</label>
                       </div>
                       <div class="col-md-7 value-field">
                          <div class="form-row align-items-start">
                             <div class="col-12 col-md-5">
                                <input type="text" class="form-control d-inline" name="INS_NAME" id="INS_NAME" placeholder="請輸入密碼" required>
                                <div class="invalid-feedback">請輸入密碼</div>
                             </div>
                             <div class="col-12 col-md-7 pt-2">
                                （需為 6 ~ 12 位元英數混合之半形字元）
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>

                <div class="form-group">
                    <div class="row align-items-start">
                       <div class="col-md-3 label-filed">
                          <label class="custom-label">請再次輸入密碼</label>
                       </div>
                       <div class="col-md-7 value-field">
                          <div class="form-row align-items-start">
                             <div class="col-12 col-md-5">
                                <input type="text" class="form-control d-inline" name="INS_NAME" id="INS_NAME" placeholder="請再次輸入密碼" required>
                                <div class="invalid-feedback">請再次輸入密碼</div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>

              </div>
              <!-- .form-body end -->

            </div>
          <div class="bobe-btn-container halfwidth-xs">
            <a href="javascript:;" class="order-2 order-sm-2 order-md-1 btn bobe-btn-3d bobe-btn-3d-primary-reverse">返回</a>
            <a href="javascript:;" class="order-1 order-sm-1 order-md-2 btn bobe-btn-3d bobe-btn-3d-primary" role="form-submit">下一步</a>
          </div>
          </div>
        </div>
      </form>
    </section>


  
  <script type="text/template" id="partial-password">
    <p>請設定國泰產險網路會員密碼，後續可直接登入國泰產險Bobe查詢保單喔!</p>
    
    <div class="form-group">
      <div class="row align-items-start">
          <div class="col-md-3 col-lg-2"><label class="custom-label">請輸入密碼</label></div>
            <div class="col-md-7 col-lg-10">
              <div class="form-row">
                  <div class="col-lg-5">
                    <input type="password" class="form-control" name="password" id="password" data-form-name="f_password" placeholder="請輸入密碼" data-format="pwd" maxlength="12" required>
                    <div class="invalid-feedback">請輸入密碼</div>
                  </div>
                  <div class="col-lg-5 mt-2">
                    ( 需為6~12位英數混合之半形字元 )
                  </div>
              </div>
              <div class="form-row d-none" role="password-strength-hint">
                  <div class="col-5">
                    <small>密碼強度：</small>
                    <div class="progress" role="password-strength">
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .form-group end -->

    <div class="form-group">
      <div class="row align-items-start">
        <div class="col-md-3 col-lg-2"><label class="custom-label">請再次輸入密碼</label></div>
        <div class="col-md-7 col-lg-10">
          <div class="form-row">
            <div class="col-lg-5">
              <input type="password" class="form-control" name="repassword" id="repassword" data-form-name="f_repassword" placeholder="請再次輸入密碼" data-format="repwd"  maxlength="12" data-target="#password" required>
              <div class="invalid-feedback">請輸入密碼</div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </script>
  <script type="text/template" id="partial-sms">
    <p>已發送簡訊至 %USER_PHONE_NUMBER%，請輸入你的手機簡訊驗證碼完成會員註冊，該驗證碼將於<span role="countdown" class="text-danger px-2">%SMS_VALIDATE_MINUTES%</span>分鐘後失效。</p>
    <div class="form-group">
      <div class="form-row align-items-start">
        <div class="col-auto mt-2">
          <div>523 - </div>
        </div>
        <div class="col-auto col-10 col-md-4 col-lg-3">
          <input type="tel" class="form-control d-inline" id="captchaCode" name="captchaCode" maxlength="4" placeholder="請輸入四碼驗證碼" data-form-name="f_code" required>
          <div class="invalid-feedback">請輸入四碼驗證碼</div>
        </div>
        <div class="col-12 col-sm-5 mt-2">
          <div>沒有收到驗證碼? <a class="text-green" href="javascript:;" role="resent-sms">重新發送一次</a></div>
        </div>
      </div>
    </div>
  </script>
  </main>
<!-- /build:content -->