<!-- build:content -->
  <main>
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkHomePage" title="首頁" href="/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
              <span itemprop="name">首頁</span>
            </a>
            <meta itemprop="position" content="1">
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkInsurance" title="網路投保" href="#">
              <span itemprop="name">網路投保</span>
            </a>
            <meta itemprop="position" content="2">
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
              <span itemprop="name">投保特定活動險</span>
            </a>
            <meta itemprop="position" content="3">
          </li>
        </ol>
      </div>
    </div>
    <div class="bobeProgress">
      <div class="container">
        <ul class="progressStep">
          <li class="progressStep__item acheieved">
            <div class="progressStep__number">1</div>
            <div class="progressStep__title">投保人資料</div>
          </li>
          <li class="progressStep__item active">
            <div class="progressStep__number">2</div>
            <div class="progressStep__title">投保聲明告知</div>
          </li>
          <li class="progressStep__item">
            <div class="progressStep__number">3</div>
            <div class="progressStep__title">確認投保內容</div>
          </li>
          <li class="progressStep__item">
             <div class="progressStep__number">4</div>
             <div class="progressStep__title">線上付款</div>
          </li>
          <li class="progressStep__item">
             <div class="progressStep__number ">5</div>
             <div class="progressStep__title">投保完成</div>
          </li>
        </ul>
      </div>
    </div>

    <section class="bobe-section pt-0">
        <form autocomplete="off" role="ins-form">
            <div class="container">
                <div class="form-container custom-form">
                    <div class="form-unit">
                        <div class="form-header">
                            <div class="row align-items-center">
                            <div class="col-auto mr-auto">
                                <div class="header-title">投保聲明</div>
                            </div>
                            </div>
                        </div>
                        <div class="form-body" role="section-holder">
                            <!-- <p>請設定國泰產險網路會員密碼，後續可直接登入國泰產險 bobe 查詢保單喔！</p> -->

                            <div class="form-group">
                                <div class="row align-items-start">
                                    <div class="col-md-2 label-filed"><label class="custom-label">要保人職業類別</label></div>
                                    <div class="col-md-10 value-field">
                                        <div class="form-row">
                                            <div class="col-12 col-lg-4">
                                                <select class="chosen-select custom-select"  name="INS_JOB_TYPE" id="INS_JOB_TYPE" data-form-name="INS_JOB_TYPE" data-placeholder="請選擇職業類別">
                                                <option value="">請選擇職業類別</option><option value="J040">當鋪業、融資從業人員</option><option value="J030">不動產經紀人</option><option value="J060">藝術品/骨董交易商、拍賣公司</option><option value="J050">寶石及貴金屬交易商</option><option value="J110">虛擬貨幣的發行者或交易商</option><option value="J100">外交人員、大使館、辦事處</option><option value="J020">軍火商</option><option value="J010">律師、會計師、公證人，或是其合夥人或受僱人</option><option value="J800" selected>一般職業 (含學生、家庭主婦)</option><option value="J080">博弈產業/公司</option><option value="J070">基金會、協會/寺廟、教會從業人員</option><option value="J090">匯款公司、外幣兌換所</option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-lg-4 mt-2 mt-lg-0">
                                                <select class="chosen-select custom-select" name="INS_JOB_TITLE" id="INS_JOB_TITLE" data-form-name="INS_JOB_TITLE" data-placeholder="請選擇職稱">
                                                <option value="">請選擇職稱</option><option value="T060">董事、監察人</option><option value="T050">企業負責人</option><option value="T080">總經理/執行長 (含外國企業在本地所設分公司之 General Manager)</option><option value="T070">財務主管 (含外國企業在本地所設分公司之財務主管)</option><option value="T090">有權代表公司簽章人員</option><option value="T110">校長</option><option value="T100">院長</option><option value="T020">單位主管 (不含財務單位)</option><option value="T010" selected>一般職員 (含學生、家庭主婦)</option><option value="T040">副總經理</option><option value="T030">協理</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row align-items-start">
                                    <div class="col-lg-2">
                                        <label class="custom-label">被保人收入狀況</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="form-row">
                                            <div class="col-sm-4 mb-2 mb-sm-0">
                                                <select class="chosen-select custom-select text-center" name="INS_ANNUAL_INCOME" data-form-name="f_INS_ANNUAL_INCOME" required="">
                                                <option value="">請選擇年收入</option>
                                                <option value="0-250000">25萬以下</option>
                                                <option value="250001-500000">26萬~50萬</option>
                                                <option value="500001-750000">51萬~75萬</option>
                                                <option value="750001-1000000">76萬~100萬</option>
                                                <option value="1000001-1250000">101萬~125萬</option>
                                                <option value="1250001-999999999">126萬以上</option>
                                                </select>
                                                <div class="invalid-feedback">請選擇年收入</div>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="chosen-select custom-select text-center" name="INS_TOTAL_ASSETS" data-form-name="f_INS_TOTAL_ASSETS" required="">
                                                <option value="">請選擇全家總資產狀況</option>
                                                <option value="0-250000">25萬以下</option>
                                                <option value="250001-500000">26萬~50萬</option>
                                                <option value="500001-750000">51萬~75萬</option>
                                                <option value="750001-1000000">76萬~100萬</option>
                                                <option value="1000001-1250000">101萬~125萬</option>
                                                <option value="1250001-999999999">126萬以上</option>
                                                </select>
                                                <div class="invalid-feedback">請選擇全家總資產狀況</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row align-items-start">
                                <div class="col-md-2 label-filed">
                                    <label class="custom-label">是否受有監護宣告</label>
                                </div>
                                <div class="col-md-10 value-field">
                                    <div class="form-row align-items-start">
                                        <div class="col-12 col-md-8">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="INS_IS_POLITICIAN_YES" name="INS_IS_POLITICIAN" data-form-name="f_INS_IS_POLITICIAN" class="custom-control-input" value="1" data-error-display-style="d-inline" data-error="invalid-feedback-politician" required="">
                                                <label class="custom-control-label" for="INS_IS_POLITICIAN_YES">是</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="INS_IS_POLITICIAN_NO" name="INS_IS_POLITICIAN" data-form-name="f_INS_IS_POLITICIAN" class="custom-control-input" value="2" data-error-display-style="d-inline" data-error="invalid-feedback-politician" required="">
                                                <label class="custom-control-label" for="INS_IS_POLITICIAN_NO">否</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row align-items-start">
                                <div class="col-md-2 label-filed">
                                    <label class="custom-label">是否為聽語障人士</label>
                                </div>
                                <div class="col-md-7 value-field">
                                    <div class="form-row align-items-start">
                                        <div class="col-12 col-md-8">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="INS_IS_DISABLED_YES" name="INS_IS_DISABLED" data-form-name="f_INS_IS_DISABLED" class="custom-control-input" value="1" data-error-display-style="d-inline" data-error="invalid-feedback-politician" required="">
                                                <label class="custom-control-label" for="INS_IS_DISABLED_YES">是</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="INS_IS_DISABLED_NO" name="INS_IS_DISABLED" data-form-name="f_INS_IS_DISABLED" class="custom-control-input" value="2" data-error-display-style="d-inline" data-error="invalid-feedback-politician" required="">
                                                <label class="custom-control-label" for="INS_IS_DISABLED_NO">否</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row align-items-start">
                                <div class="col-md-2 label-filed">
                                    <label class="custom-label">受益人</label>
                                </div>
                                <div class="col-md-7 value-field">
                                    <div class="form-row align-items-start">
                                        <div class="col-12 col-md-8">
                                            <input type="text" class="form-control d-inline" name="INS_NAME" id="INS_NAME" placeholder="請輸入受益人姓名" required>
                                            <div class="invalid-feedback">請輸入受益人姓名</div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row align-items-start">
                                    <div class="col-lg-2">
                                        <label class="custom-label">台灣緊急連絡人</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-row">
                                            <div class="col-sm-6 mb-2 mb-sm-0">
                                                <input type="text" class="form-control d-inline-block text-center" id="INS_CONTACT_NAME" name="INS_CONTACT_NAME" placeholder="請輸入緊急連絡人姓名" required="">
                                                <div class="invalid-feedback">請輸入台灣緊急連絡人姓名</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control d-inline-block text-center" id="INS_CONTACT_PHONE" name="INS_CONTACT_PHONE" placeholder="請輸入緊急連絡人電話" required="">
                                                <div class="invalid-feedback">請輸入台灣緊急連絡人電話</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- .form-body end -->

                    </div>

                    <div class="form-unit mb-0">
                        <div class="form-header">  
                            <div class="row align-items-center">
                                <div class="col-sm-auto mr-auto">
                                    <div class="header-title">同意聲明告知</div>
                                </div> 
                            </div> 
                        </div>
                        <div class="form-body form-body-scroller">
                            <div class="bobe-tab-container bobe-tab-container--no-fix bobe-tab-container--no-history" role="bobe-tab-container">
                                <ul class="nav bobe-nav-tabs" id="agreementTab" role="tablist">
                                    <li class="nav-item">
                                    <a class="nav-link py-3 rounded-0 active" id="agreement-info-1-tab" data-toggle="tab" href="#agreement-info-1" role="tab" aria-controls="agreement-info-1" aria-selected="false" title="投保須知">投保須知</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link py-3 rounded-0" id="agreement-info-2-tab" data-toggle="tab" href="#agreement-info-2" role="tab" aria-controls="agreement-info-2" aria-selected="false" title="要(被)保人聲明事項">要(被)保人聲明事項</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link py-3 rounded-0" id="agreement-info-3-tab" data-toggle="tab" href="#agreement-info-3" role="tab" aria-controls="agreement-info-3" aria-selected="false" title="產險業履行個人資料保護法告知內容">產險業履行個人資料保護法告知內容</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="agreementTabContent">

                                    <div class="tab-pane active" id="agreement-info-1" role="tabpanel" aria-labelledby="agreement-info-1-tab">
                                        <div class="form-agreement-box">
                                        <div class="form-agreement-box-content">
                                            <div class="d-table">
                                                <span class="d-table-cell">一、</span>
                                                <span class="d-table-cell">國泰產險 BoBe 於商品介紹頁中提供審閱保險單條款。被保險人若客觀上無法審閱保單條款內容，被保險人得於收受保單後翌日起七日內，不附理由，向本公司解除契約。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">二、</span>
                                                <span class="d-table-cell">告知義務：要保人及被保險人應誠實告知，否則保險公司得解除契約；保險事故發生後亦同。因保險契約是最大誠信契約，所以要保人及被保險人對於要保書詢問告知事項的填寫，不能有隱匿或遺漏不為說明、隱瞞或為不實之說明。如有隱匿或不實以致減少保險公司的危險評估時，可依據保險法第六十四條的規定，在知悉後一個月解除保險契約；即使保險事故發生後，除非要保人或被保險人能證明事故發生原因與未告知事項無關，否則，保險公司不負賠償責任。並可依據保險法第二十五條的規定，不須退還已繳的保險費。請特別注意以免遭受損失。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">三、</span>
                                                <span class="d-table-cell">除外責任：保險公司依照保險法的規定（第121及109條），對於被保險人故意自殺，或因犯罪處死或拒捕或越獄致死者，不負給付保險金額之責。此外，在保險單條款中會有詳細的除外責任及不保事項，消費者請務必審閱清楚。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">四、</span>
                                                <span class="d-table-cell">貴保戶對於保險契約的權利行使，以及辦理契約變更、解除以及終止的方式及限制。
                                                    <br>
                                                    權利行使：當發生承保範圍內的保險事故時，要保人、被保險人或受益人應於知悉後五日內通知保險公司，並儘速檢具理賠所需文件。請務必在事故發生或知悉日起二年內提出理賠申請，否則依法將喪失理賠請求權。<br/>
                                                    契約變更、解除及終止：要保人得隨時以書面通知本公司，辦理變更保險內容、解除或終止保險契約。但若保險內容包含被保險人身故給付時，須經被保險人書面同意，始得辦理。
                                                </span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">五、</span>
                                                <span class="d-table-cell">保險公司對於保險契約的權利、義務及理賠責任。
                                                    <br/>
                                                    <div>
                                                       權利及義務：本公司於同意承保後，應依約定向貴保戶收取保險費，並出具保險單暨正式保險費收據。在承保危險事故發生時，依承保之責任，負擔賠償之義務。<br/>
                                                        理賠責任：本公司應於收齊理賠申請及所需文件後十五日內給付保險金。若因可歸責於本公司的原因而致未於十五日內給付者，應按年利一分加計利息給付賠償。
                                                    </div>                                            
                                                </span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">六、</span>
                                                <span class="d-table-cell">貴保戶除繳交保險費用外，無須繳交其他費用及違約金。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">七、</span>
                                                <span class="d-table-cell">本保險商品受財團法人保險安定基金之保障。
                                                    <br><br>
                                                    本公司所銷售之有效保單皆受財團法人保險安定基金之保障，該基金之動用條件並依據保險法第一百四十三條之三第一項第三款之規定。
                                                </span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">八、</span>
                                                <span class="d-table-cell">因投保契約所生紛爭之處理方式及申訴之管道。
                                                    <br>
                                                    要保人或被保險人因投保之保險契約發生爭議，可以向本公司、依金融消費者保護法規定設立之爭議處理機構或行政院金融監督管理委員會(金管會)申訴。<br>
                                                    本公司免費申訴電話：0800-036-599按2<br>
                                                    本公司網站客服信箱：https://www.cathay-ins.com.tw/insurance/contact/<br>
                                                    如因保險契約爭議涉訟者，依據各險條款之約定，以要保人住所地地方法院為第一審管轄法院，要保人的住所在中華民國境外時，則以雙方約定之地方法院為第一審管轄法院。但不得排除消費者保護法第四十七條及民事訴訟法第四百三十六條之九小額訴訟管轄法院之適用。
                                                </span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">九、</span>
                                                <span class="d-table-cell">
                                                    特定活動綜合保險網路投保其他說明
                                                    <ol>
                                                        <li>本專案專為從事特定活動人士投保需要所設計，可依實際從事特定活動期間投保短期天數。</li>
                                                        <li>保險期間最少一天，以國內限60天，國外限180天。</li>
                                                        <li>植物人、全身癱瘓、受監護宣告尚未撤銷者以及精神疾病(憂鬱症或躁鬱症)者，拒絕承保。</li>
                                                        <li>不接受外籍人士返回其所屬國家之投保。</li>
                                                        <li>本專案每一被保險人僅得投保一次，且保險期間內不受理計畫別轉換。</li>
                                                        <li>每一被保險人在同一保險期間（或保期有重疊）之投保額度與旅綜險一般意外死亡及失能保額之同業通算（含本公司）不得超過3,000萬元，或投保三家（含）以上，並受國泰產險之旅綜險承保規定限制。</li>
                                                        <li>受益人僅限配偶、父母、子女、祖父母或法定繼承人。</li>
                                                        <li>國泰產險保留承保與否之權利。其他未盡事宜，悉依國泰產險保單條款規定辦理。</li>
                                                    </ol>
                                                </span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">九、</span>
                                                <span class="d-table-cell">
                                                    ◎本商品為保險商品，依保險法及其他相關規定，受「財團法人保險安定基金」之保障，但不受存款保險之保障。<br>
                                                    ◎本簡介僅供參考，詳細內容請以保單條款為準。<br>
                                                    ◎查詢本公司資訊公開說明文件網址:www.cathayholdings.com/insurance；國泰產險免費申訴電話(0800-036-599按2)。
                                                </span>
                                            </div>
                                        </div>
                                        </div>
                                    </div>


                                    <div class="tab-pane fade" id="agreement-info-2" role="tabpanel" aria-labelledby="agreement-info-2-tab">
                                        <div class="form-agreement-box">
                                        <div class="form-agreement-box-content">
                                            <div class="d-table">
                                                <span class="d-table-cell">一、</span>
                                                <span class="d-table-cell">本人（被保險人）同意國泰產險得蒐集、處理及利用本人相關之個人資料。
                                                        。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">二、</span>
                                                <span class="d-table-cell">本人（被保險人、要保人）同意國泰產險將本要保書上所載本人資料轉送產、壽險公會建立電腦系統連線，並同意產、壽險公會之會員公司查詢本人在該系統之資料以作為核保及理賠之參考，但各該公司仍應依其本身之核保或理賠標準決定是否承保或理賠，不得僅以前開資料作為承保或理賠之依據。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">三、</span>
                                                <span class="d-table-cell">本人已審閱並瞭解　貴公司所提供之「投保須知」，另依「產險業履行個人資料保護法告知義務內容」，本人已瞭解　貴公司蒐集、處理及利用本人個人資料之目的及用途。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">四、</span>
                                                <span class="d-table-cell">本人知悉　貴公司得依「個人資料保護法」之相關規定，於特定目的範圍內對要保人或被保險人之個人資料，有蒐集、處理及利用之權利。</span>
                                            </div>
                                        </div>
                                        </div>
                                    </div>


                                    <div class="tab-pane fade" id="agreement-info-3" role="tabpanel" aria-labelledby="agreement-info-3-tab">
                                        <div class="form-agreement-box">
                                        <div class="form-agreement-box-content">
                                            <div class="d-table">
                                                <span class="d-table-cell">親愛的客戶，您好： 國泰世紀產物保險股份有限公司（以下稱本公司）依據個人資料保護法（以下稱個資法）第八條及第九條規定，向 台端告知下列事項，請 台端詳閱：</span>
                                            </div>
                                            <div class="d-table">
                                                <span class="d-table-cell">一、</span>
                                                <span class="d-table-cell">集之目的：辦理財產保險(093)、人身保險(001)、行銷(包含金控共同行銷業務)(040)及其他合於營業登記項目或組織章程所定之業務(181)。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">二、</span>
                                                <span class="d-table-cell">蒐集之個人資料類別：姓名、身分證統一編號、聯絡方式等，詳如要保書或相關業務申請書內容。</span>
                                            </div>
                                            <div class="d-table">
                                                <span class="d-table-cell">三、</span>
                                                <span class="d-table-cell">個人資料之來源（個人資料非由當事人提供間接蒐集之情形適用）： (一)要保人/被保險人 (二)司法警憲機關、委託協助處理理賠之公證人或機構 (三)當事人之法定代理人、輔助人 (四)各醫療院所 (五)與第三人共同行銷、交互運用客戶資料、合作推廣等關係、或於本公司各項業務內所委託往來之第三人。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">四、</span>
                                                <span class="d-table-cell">個人資料利用之期間、對象、地區及方式： (一)期間：因執行業務所必須及依法令規定應為保存之期間。 (二)對象：本(分)公司及本公司海外分支機構、中華民國產物保險商業同業公會、中華民國人壽保險商業同業公會、財團法人保險事業發展中心、財團法人保險安定基金、財團法人住宅地震保險基金、財團法人汽車交通事故特別補償基金、財團法人保險犯罪防制中心、財團法人金融消費評議中心、財團法人金融聯合徵信中心、財團法人聯合信用卡中心、台灣票據交換所、財金資訊公司、關貿網路股份有限公司、中央健康保險局、業務委外機構、與本公司有再保業務往來之公司、依法有調查權機關或金融監理機關。 (三)地區：上述對象所在之地區。 (四)方式：合於法令規定之利用方式。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">五、</span>
                                                <span class="d-table-cell">依據個資法第三條規定，台端就本公司保有 台端之個人資料得行使之權利及方式： (一)得向本公司行使之權利： 1.向本公司查詢、請求閱覽或請求製給複製本。 2.向本公司請求補充或更正。 3.向本公司請求停止蒐集、處理或利用及請求刪除。 (二)行使權利之方式：透過客服專線0800-036-599 或書面方式行使。</span>
                                            </div>
                                            <div class="d-table mt-2">
                                                <span class="d-table-cell">六、</span>
                                                <span class="d-table-cell">台端不提供個人資料所致權益之影響： 台端若未能提供相關個人資料時，本公司將可能延後或無法進行必要之審核及 處理作業，因此可能婉謝承保、遲延或無法提供 台端完善的保險服務。</span>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-form">
                        <div class="form-group mt-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="INS_AGREED" name="INS_AGREED" value="1" data-form-name="f_agreed" data-error-display-style="d-inline" data-error="invalid-feedback-agreed" required="">
                                <label class="custom-control-label" for="INS_AGREED">我已同意上述須知及審閱 <a href="javascript:;" class="text-green">投保需求聲明</a>、<a href="javascript:;" class="text-green">網路投保聲明事項</a>、<a href="javascript:;" class="text-green">保單條款全文</a> 及 <a href="javascript:;" class="text-green">商品簡介</a>。</label>
                                <div class="mt-1">
                                    <div class="invalid-feedback" role="invalid-feedback-agreed">請同意上述須知及審閱</div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="bobe-btn-container halfwidth-xs">
                        <a href="javascript:;" class="order-2 order-sm-2 order-md-1 btn bobe-btn-3d bobe-btn-3d-primary-reverse">返回</a>
                        <a href="javascript:;" class="order-1 order-sm-1 order-md-2 btn bobe-btn-3d bobe-btn-3d-primary" role="form-submit">下一步</a>
                    </div>
                </div>
            </div>
        </form>
    </section>


  
  <script type="text/template" id="partial-password">
    <p>請設定國泰產險網路會員密碼，後續可直接登入國泰產險Bobe查詢保單喔!</p>
    
    <div class="form-group">
      <div class="row align-items-start">
          <div class="col-md-3 col-lg-2"><label class="custom-label">請輸入密碼</label></div>
            <div class="col-md-7 col-lg-10">
              <div class="form-row">
                  <div class="col-lg-5">
                    <input type="password" class="form-control" name="password" id="password" data-form-name="f_password" placeholder="請輸入密碼" data-format="pwd" maxlength="12" required>
                    <div class="invalid-feedback">請輸入密碼</div>
                  </div>
                  <div class="col-lg-5 mt-2">
                    ( 需為6~12位英數混合之半形字元 )
                  </div>
              </div>
              <div class="form-row d-none" role="password-strength-hint">
                  <div class="col-5">
                    <small>密碼強度：</small>
                    <div class="progress" role="password-strength">
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .form-group end -->

    <div class="form-group">
      <div class="row align-items-start">
        <div class="col-md-3 col-lg-2"><label class="custom-label">請再次輸入密碼</label></div>
        <div class="col-md-7 col-lg-10">
          <div class="form-row">
            <div class="col-lg-5">
              <input type="password" class="form-control" name="repassword" id="repassword" data-form-name="f_repassword" placeholder="請再次輸入密碼" data-format="repwd"  maxlength="12" data-target="#password" required>
              <div class="invalid-feedback">請輸入密碼</div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </script>
  <script type="text/template" id="partial-sms">
    <p>已發送簡訊至 %USER_PHONE_NUMBER%，請輸入你的手機簡訊驗證碼完成會員註冊，該驗證碼將於<span role="countdown" class="text-danger px-2">%SMS_VALIDATE_MINUTES%</span>分鐘後失效。</p>
    <div class="form-group">
      <div class="form-row align-items-start">
        <div class="col-auto mt-2">
          <div>523 - </div>
        </div>
        <div class="col-auto col-10 col-md-4 col-lg-3">
          <input type="tel" class="form-control d-inline" id="captchaCode" name="captchaCode" maxlength="4" placeholder="請輸入四碼驗證碼" data-form-name="f_code" required>
          <div class="invalid-feedback">請輸入四碼驗證碼</div>
        </div>
        <div class="col-12 col-sm-5 mt-2">
          <div>沒有收到驗證碼? <a class="text-green" href="javascript:;" role="resent-sms">重新發送一次</a></div>
        </div>
      </div>
    </div>
  </script>
  </main>
<!-- /build:content -->