<!-- build:content -->
  <main>
      <div class="breadcrumb-container">
          <div class="container">
              <ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                  <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                      <a class="link-orange" itemprop="item" id="linkHomePage" title="首頁" href="/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
                          <span itemprop="name">首頁</span>
                      </a>
                      <meta itemprop="position" content="1">
                  </li>
                  <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a class="link-orange" itemprop="item" id="linkInsurance" title="網路投保" href="#">
                      <span itemprop="name">網路投保</span>
                    </a>
                    <meta itemprop="position" content="2">
                  </li>
                  <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a class="link-orange" itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
                      <span itemprop="name">投保特定活動險</span>
                    </a>
                    <meta itemprop="position" content="3">
                  </li>
              </ol>
          </div>
      </div>
      <div class="bobeProgress">
          <div class="container">
              <ul class="progressStep">
                  <li class="progressStep__item acheieved">
                      <div class="progressStep__number">1</div>
                      <div class="progressStep__title">投保人資料</div>
                  </li>
                  <li class="progressStep__item acheieved">
                      <div class="progressStep__number">2</div>
                      <div class="progressStep__title">投保聲明告知</div>
                  </li>
                  <li class="progressStep__item active">
                      <div class="progressStep__number">3</div>
                      <div class="progressStep__title">確認投保內容</div>
                  </li>
                  <li class="progressStep__item">
                     <div class="progressStep__number">4</div>
                     <div class="progressStep__title">線上付款</div>
                  </li>
                  <li class="progressStep__item">
                     <div class="progressStep__number ">5</div>
                     <div class="progressStep__title">投保完成</div>
                  </li>
              </ul>
          </div>
      </div>
      <section class="bobe-section pt-0">

          <div class="container" role="ins_form">
              <div class="form-container">
                  <div class="form-unit custom-form person">
                      <div class="form-header">
                          <div class="row align-items-center">
                              <div class="col-auto mr-auto">
                                  <div class="header-title">要保人資料確認</div>
                              </div>
                          </div>
                      </div> 
                      <div class="collapse show">
                          <div class="form-body">
                              <div class="form-group">
                                  <div class="row">
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">要保人姓名</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">黃曉敏</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-5"><label class="custom-label mb-0">身分證字號/居留證號碼</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">
                                            A234567890
                                          </div>
                                        </div>
                                    </div>

                                    <div class="col-12  col-md-6 mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">出生日期</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">1988-02-14</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6  mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">email</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">123@gmail.com</div>
                                        </div>
                                    </div>

                                    <div class="col-12  col-md-6 mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">保單形式</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">紙本保單</div>
                                        </div>
                                    </div>
                                    <div class="col-12  col-md-6">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">聯絡電話</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">0987-654321</div>
                                        </div>
                                    </div>
                                    <div class="col-12  col-md-6">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">保單寄送地址</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">台北市中正區紹興北街 3 號 9 樓</div>
                                        </div>
                                    </div>


                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>  
                  <div class="form-unit custom-form person">
                      <div class="form-header">
                          <div class="row align-items-center">
                              <div class="col-auto mr-auto">
                                  <div class="header-title">被保人資料確認</div>
                              </div>
                          </div>
                      </div> 
                      <div class="collapse show">
                          <div class="form-body">
                              <div class="form-group">
                                  <div class="row">
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">被保人姓名</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">林國泰</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-5"><label class="custom-label mb-0">身分證字號/居留證號碼</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">
                                            A234567890
                                          </div>
                                        </div>
                                    </div>

                                    <div class="col-12  col-md-6 mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">出生日期</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">1988-02-14</div>
                                        </div>
                                    </div>
                                    <div class="col-12  col-md-6  mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">與要保人關係</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">配偶</div>
                                        </div>
                                    </div>

                                    <div class="col-12  col-md-6">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">聯絡電話</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">0987-654321</div>
                                        </div>
                                    </div>
                                    <div class="col-12  col-md-6">
                                        <div class="form-row">
                                          <div class="col-12 col-md-3"><label class="custom-label mb-0">身故受益人</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">
                                              黃曉敏</div>
                                        </div>
                                    </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>  
                <div class="form-unit custom-form person">
                      <div class="form-header">
                          <div class="row align-items-center">
                              <div class="col-auto mr-auto">
                                  <div class="header-title">投保方案確認</div>
                              </div>
                          </div>
                      </div> 
                      <div class="collapse show">
                          <div class="form-body">
                              <div class="form-group">
                                  <div class="row">
                                    <div class="col-12 mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-2"><label class="custom-label mb-0">旅遊地點</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">日本、香港</div>
                                        </div>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <div class="form-row">
                                          <div class="col-12 col-md-2"><label class="custom-label mb-0">投保期間</span></div>
                                          <div class="col-12 col-md-auto text-green text-bold">2019-02-28 14:00 ~ 2019-03-02 13:59</div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 mb-3">
                                        <div class="form-row">
                                          <div class="col-12"><label class="custom-label mb-0">投保方案</span></div>
                                          <div class="col-12">
                                            <div class="form-group">
                                              <ul class="form-ul-list mt-2">
                                                <li>特定活動身故失能保險金  - 限額 <span class="text-green text-bold">100 萬</span></li>
                                                <li>特定活動傷害醫療實支實付型保險金 - 限額 <span class="text-green text-bold">10 萬</span></li>
                                              </ul>
                                            </div>
                                            <div class="form-group">
                                              <div><b>【旅遊不便 - 海外 (H) 方案】</b></div>
                                              <ul class="form-ul-list mt-2 mb-0">
                                                <li>海外急難救助 - 限額 <span class="text-green text-bold">50 萬</span></li>
                                                <li>第三人責任 - 限額 <span class="text-green text-bold">60 萬</span></li>
                                              </ul> 
                                            </div>
                                          </div>
                                        </div>
                                    </div>


                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                <div class="total-policy-cost text-right mb-3">
                  <div>總計保費  <large class="text-orange" role="total_ins_amount"></large>元 </div>
                </div>

                <div class="bobe-btn-container halfwidth-xs">
                  <a href="javascript:;" class="order-2 order-sm-2 order-md-1 btn bobe-btn-3d bobe-btn-3d-primary-reverse">返回</a>
                  <a href="6.html" class="order-1 order-sm-1 order-md-2 btn bobe-btn-3d bobe-btn-3d-primary" role="form-submit">下一步</a>
                </div>
              </div>
          </div>
      </section>
  </main>
<!-- /build:content -->