<!-- build:content -->
  <main>
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkHomePage" title="首頁" href="/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
              <span itemprop="name">首頁</span>
            </a>
            <meta itemprop="position" content="1">
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkInsurance" title="網路投保" href="#">
              <span itemprop="name">網路投保</span>
            </a>
            <meta itemprop="position" content="2">
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
              <span itemprop="name">投保特定活動險</span>
            </a>
            <meta itemprop="position" content="3">
          </li>
        </ol>
      </div>
    </div>
    <div class="bobeProgress">
      <div class="container">
         <ul class="progressStep">
               <li class="progressStep__item acheieved">
                  <div class="progressStep__number">1</div>
                  <div class="progressStep__title">投保人資料</div>
               </li>
               <li class="progressStep__item acheieved">
                  <div class="progressStep__number">2</div>
                  <div class="progressStep__title">投保聲明告知</div>
               </li>
               <li class="progressStep__item acheieved">
                  <div class="progressStep__number">3</div>
                  <div class="progressStep__title">確認投保內容</div>
               </li>
               <li class="progressStep__item active">
                  <div class="progressStep__number">4</div>
                  <div class="progressStep__title">線上付款</div>
               </li>
               <li class="progressStep__item">
                  <div class="progressStep__number ">5</div>
                  <div class="progressStep__title">投保完成</div>
               </li>
         </ul>
      </div>
    </div>

    <section class="bobe-section pt-0">
      <form autocomplete="off" role="ins-form">
        <div class="container">
          <div class="form-container custom-form">
            <div class="form-unit">
              <div class="form-header">
                <div class="row align-items-center">
                  <div class="col-auto mr-auto">
                    <div class="header-title">身份驗證與線上繳費</div>
                  </div>
                </div>
              </div>
              <div class="form-body" role="section-holder">
                  <p>已發送簡訊至 %USER_PHONE_NUMBER%，請輸入你的手機簡訊驗證碼，該驗證碼將於<span role="countdown" class="text-danger px-2">%SMS_VALIDATE_MINUTES%</span>分鐘後失效。</p>
                  <p>請注意! 需完成手機驗證後使得進行付款!</p>
                  <div class="form-group">
                   <div class="form-row align-items-start">
                     <div class="col-auto mt-2">
                       <div>523 - </div>
                     </div>
                     <div class="col-auto col-10 col-md-4 col-lg-3">
                       <input type="text" class="form-control d-inline" id="captchaCode" name="captchaCode" maxlength="4" placeholder="請輸入四碼驗證碼" data-form-name="f_code" data-format="text" required>
                       <div class="invalid-feedback">請輸入四碼驗證碼</div>
                     </div>
                     <div class="col-12 col-sm-5 mt-2">
                       <div>沒有收到驗證碼? <a class="text-green" href="javascript:;" role="resent-sms">重新發送一次</a></div>
                     </div>
                   </div>
                  </div>
              </div>
              <!-- .form-body end -->

            </div>
          <div class="bobe-btn-container halfwidth-xs">
            <a href="javascript:;" class="order-2 order-sm-2 order-md-1 btn bobe-btn-3d bobe-btn-3d-primary-reverse">返回</a>
            <a href="javascript:;" class="order-1 order-sm-1 order-md-2 btn bobe-btn-3d bobe-btn-3d-primary" role="form-submit">下一步</a>
          </div>
          </div>
        </div>
      </form>
    </section>

    <script type="text/template" id="partial-sms">
      <p>已發送簡訊至 %USER_PHONE_NUMBER%，請輸入你的手機簡訊驗證碼，該驗證碼將於<span role="countdown" class="text-danger px-2">%SMS_VALIDATE_MINUTES%</span>分鐘後失效。</p>
      <p>請注意! 需完成手機驗證後使得進行付款!</p>
      <div class="form-group">
       <div class="form-row align-items-start">
         <div class="col-auto mt-2">
           <div>523 - </div>
         </div>
         <div class="col-auto col-10 col-md-4 col-lg-3">
           <input type="text" class="form-control d-inline" id="captchaCode" name="captchaCode" maxlength="4" placeholder="請輸入四碼驗證碼" data-form-name="f_code" data-format="text" required>
           <div class="invalid-feedback">請輸入四碼驗證碼</div>
         </div>
         <div class="col-12 col-sm-5 mt-2">
           <div>沒有收到驗證碼? <a class="text-green" href="javascript:;" role="resent-sms">重新發送一次</a></div>
         </div>
       </div>
      </div>
    </script>
  </main>
<!-- /build:content -->