<!-- build:content -->
  <main>
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb breadcrumb--nomargin" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkHomePage" title="首頁" href="/INSEBWeb/servlet/HttpDispatcher/ECIE_1000/prompt">
              <span itemprop="name">首頁</span>
            </a>
            <meta itemprop="position" content="1">
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkInsurance" title="網路投保" href="#">
              <span itemprop="name">網路投保</span>
            </a>
            <meta itemprop="position" content="2">
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="link-orange" itemprop="item" id="linkCar" title="汽車險" href="javascript:;" style="cursor: default;">
              <span itemprop="name">投保特定活動險</span>
            </a>
            <meta itemprop="position" content="3">
          </li>
        </ol>
      </div>
    </div>
    <div class="bobeProgress">
      <div class="container">
         <ul class="progressStep">
               <li class="progressStep__item acheieved">
                  <div class="progressStep__number">1</div>
                  <div class="progressStep__title">投保人資料</div>
               </li>
               <li class="progressStep__item acheieved">
                  <div class="progressStep__number">2</div>
                  <div class="progressStep__title">投保聲明告知</div>
               </li>
               <li class="progressStep__item acheieved">
                  <div class="progressStep__number">3</div>
                  <div class="progressStep__title">確認投保內容</div>
               </li>
               <li class="progressStep__item acheieved">
                  <div class="progressStep__number">4</div>
                  <div class="progressStep__title">線上付款</div>
               </li>
               <li class="progressStep__item">
                  <div class="progressStep__number active">5</div>
                  <div class="progressStep__title">投保完成</div>
               </li>
         </ul>
      </div>
    </div>

    <section class="bobe-section pt-0">
      <form autocomplete="off" role="ins-form">
        <div class="container">
          <h2 class="h2">感謝您的投保! </h2>
          <div class="form-container custom-form">
            <div class="form-unit">
              <div class="form-header">
                <div class="row">
                  <div class="col-auto m-auto">
                    <div class="header-title">優惠通知</div>
                  </div>
                </div>
              </div>
              <div class="form-body">
                <div class="row justify-content-center">
                  <div class="col-sm-2 text-center mb-3 mb-md-0">
                    <img src="/INSEBWeb/html/CM/bobe/img/icons/giftcoupon@2x.png" width="91" height="91" class="img-fluid">
                  </div>
                  <div class="col-sm-10">
                    <h3 class="h3 text-center text-md-left">投保歡樂送！</h3>
                    <div>感謝您投保 Bobe 旅遊險，可獲得全家便利商店 100 元禮券，將於核保 3~5 天內將序號傳送至您的簡訊 / E-mail，亦可 <a href="javascript:;" class="text-green text-bold" role="member-center-options">登入 Bobe 會員中心 </a> - 我的優惠 查詢。</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-unit">
              <div class="form-header">
                <div class="row">
                  <div class="col-12 d-flex justify-content-start justify-content-md-center">
                    <div class="header-title">保單內容</div>
                  </div>
                  <div class="col-12 d-flex justify-content-end position-absolute">
                      <a href="javascript:;" class="custom-header-button"><i class="fas fa-share-alt"></i><span>分享此保單</span></a>
                  </div>
                </div>
              </div>
              <div class="form-body">
                <ul class="insurance-result-list">
                  <li>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-3"><b>訂單號碼</b></div>
                            <div class="col-sm-6 text-green text-bold">108002277</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-3"><b>保單形式</b></div>
                            <div class="col-sm-6 text-green text-bold">紙本保單</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-3"><b>保單寄送地址</b></div>
                            <div class="col-sm-6 text-green text-bold">台北市中正區紹興北街3號9樓</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-3"><b>投保期間</b></div>
                            <div class="col-sm-9 text-green text-bold">2019-02-28 至 2019-03-02  14:00，共３天</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-3"><label class="custom-label">合計保費</label></div>
                            <div class="col-sm-9 text-green text-bold">NT 2,000 元</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>


                  <li class="py-2"><!--
                    <div class="row">
                        <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-3"><label class="custom-label">要保人姓名</label></div>
                            <div class="col-sm-9 text-green text-bold">黃曉敏</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-5"><label class="custom-label">身分證字號/居留證號碼</label></div>
                            <div class="col-sm-6 text-green text-bold">A123456789</div>
                          </div>
                        </div>
                      </div>


                      <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-3"><label class="custom-label">出生日期</label></div>
                            <div class="col-sm-6 text-green text-bold">1988/02/14</div>
                          </div>
                        </div>
                      </div>


                      <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-3"><label class="custom-label">E-mail</label></div>
                            <div class="col-sm-6 text-green text-bold">123@gmail.com</div>
                          </div>
                        </div>
                      </div>


                      <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-3"><label class="custom-label">身份別</label></div>
                            <div class="col-sm-6 text-green text-bold">自然人</div>
                          </div>
                        </div>
                      </div>


                      <div class="col-sm-6">
                        <div class="form-group my-2">
                          <div class="form-row">
                            <div class="col-sm-3"><label class="custom-label">手機號碼</label></div>
                            <div class="col-sm-6 text-green text-bold">0988654321</div>
                          </div>
                        </div>
                      </div>
                    </div> -->


                    <div class="sub-list-green mt-3 pb-3">
                      <div class="list-title">被保人1</div>
                      <div class="row mt-3">
                        <div class="col-sm-6">
                          <div class="form-group my-2">
                            <div class="form-row">
                              <div class="col-sm-3"><label class="custom-label">被保人1</label></div>
                              <div class="col-sm-9 text-green text-bold">林國泰</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="form-group my-2">
                            <div class="form-row">
                              <div class="col-sm-3"><label class="custom-label">身故受益人</label></div>
                              <div class="col-sm-9 text-green text-bold">黃曉琪</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12">
                          <div class="form-group my-2">
                            <div class="form-row">
                              <div class="col-sm-3"><label class="custom-label">保險方案</label></div>
                              <div class="col-sm-12 text-green text-bold">
                                <ul class="form-ul-list">
                                  <li>特定活動身故失能保險金  - 限額 100 萬</li>
                                  <li>特定活動傷害醫療實支實付型保險金 - 限額 10 萬</li>
                                </ul>
                                <div>[ 旅遊不便 - 海外 (H) 方案 ]</div>
                                <ul class="form-ul-list">
                                  <li>海外急難救助 - 限額 50 萬</li>
                                  <li>第三人責任 - 限額 60 萬</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                      </div>
                      <!-- .row end -->
                    </div>
                    <!-- .sub-list-greenend -->




                  </li>
                </ul>
              </div>
            </div>
            
            <div class="bobe-btn-container halfwidth-xs">
              <a href="javascript:;" class="order-1 order-sm-1 order-md-2 btn bobe-btn-3d bobe-btn-3d-primary" role="form-submit">返回首頁</a>
            </div>
          </div>
        </div>
      </form>
    </section>

    <script type="text/template" id="partial-sms">
      <p>已發送簡訊至 %USER_PHONE_NUMBER%，請輸入你的手機簡訊驗證碼，該驗證碼將於<span role="countdown" class="text-danger px-2">%SMS_VALIDATE_MINUTES%</span>分鐘後失效。</p>
      <p>請注意! 需完成手機驗證後使得進行付款!</p>
      <div class="form-group">
       <div class="form-row align-items-start">
         <div class="col-auto mt-2">
           <div>523 - </div>
         </div>
         <div class="col-auto col-10 col-md-4 col-lg-3">
           <input type="text" class="form-control d-inline" id="captchaCode" name="captchaCode" maxlength="4" placeholder="請輸入四碼驗證碼" data-form-name="f_code" data-format="text" required>
           <div class="invalid-feedback">請輸入四碼驗證碼</div>
         </div>
         <div class="col-12 col-sm-5 mt-2">
           <div>沒有收到驗證碼? <a class="text-green" href="javascript:;" role="resent-sms">重新發送一次</a></div>
         </div>
       </div>
      </div>
    </script>
  </main>
<!-- /build:content -->